@import "src/assets/scss/global-variables.scss";
.TMO-REVIEW-CHANGES-PAGE{
.text-right{
    text-align: right
}
.top {
      top: 10px;
      left: 15px;
    }
    .tele-ult{
        font-family: $Tele-Grotesk-Ultr;
    }
    .tele-hal{
        font-family: $Tele-Grotesk-Hal;
    }
    .p-r-13 {
        padding-right: 13px;
    }
    .m-t-5 {
        margin-top:5px;
       }
    .m-l-5 {
        margin-left:5px;
    }
    .padding-bottom-116{
        padding-bottom:116px;
    }
    @media #{$alldeviceexceptsmartphone} {
        .text-right-md{
            text-align: right !important;
        }
        .p-r-40 {
            padding-right: 40px;
        }
        .btn-wd-343{
            width: 343px;
            @media #{$tablets-md}{
                width: 100%;
            }
            
        }
        .padding-left-small {
            padding-left: $S;
        }
        .padding-right-base {
            padding-right: $Base;
        }
    }
    .hidden {
        position:absolute;
       left:-10000px;
       top:auto;
       width:1px;
       height:1px;
       overflow:hidden;
    } 
    .full-btn-width {
        width:100%;
    }
    .p-r-18{
        padding-right: 18px;
    }
    @media #{$smartphones-xs}, #{$smartphones-sm}{
        .full-btn-width-xs {
            width: 100%;
            max-width: 100%;
        }
        .tmobileOne{
            height: 20px;
            width: 121px !important;
        }
    } 
    @media #{$smartphones-xxs}, #{$smartphones-xs}, #{$smartphones-sm}{  
    .p-r-6-xs{
        padding-right: 6px !important;
    } 
    .p-r-0-xs{
        padding-right: 0px !important;
    }
}

    .disclaimer-lineheight {
        line-height: 12px;
    }
    .align-self-center{
        align-self: center;
    }
    .p-r-15 {
        padding-right: 15px;
    }
    .margin-top-xsmall{
        margin-top: 8px;
    }
    .tmobileOne {
        width: 205px;
    }
    @media #{$smartphones-xxs}{
        .tmobileOne{
            height: 18.5px;
            width: 113px !important;
        }
    }
}

