<div class="TMO-REVIEW-CHANGES-PAGE"  aria-live="assertive">
  <div class="container" *ngIf="paymentData">
    <app-header></app-header>
    <div class="col-12 col-md-10 offset-md-1 no-padding">
      <div class="row no-padding">
        <div class="col-12 text-center mb-0 Display3 padding-top-small" tabindex="0" aria-label="Review Changes">
          Review Changes
        </div>
        <div class="col-10 offset-1 col-md-6 offset-md-3 no-padding body text-center padding-top-small" tabindex="0"
          aria-label="Here's the cost break down for migrating your existing lines and services to this plan.">
          Here's the cost break down for migrating your existing lines and services to this plan.
        </div>
        <div
          class="col-10 offset-1 col-md-6 offset-md-3 no-padding body padding-bottom-medium text-center padding-top-small"
          tabindex="0"
          aria-label="If you're on a promotional plan, you'll lose promotional discounts when you change to a new plan.">
          If you're on a promotional plan, you'll lose promotional discounts when you change to a new plan.
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <div><span class="legal " tabindex="0" aria-label="New Plan">New Plan</span></div>
          <div class="Display4 margin-top-xsmall tmobileOne d-inline-block text-center" tabindex="0" aria-label="T-Mobile one"></div>
          <div class="padding-bottom-medium"><span class="Display5 gray60 " tabindex="0" aria-label="T-Mobile one">T-Mobile One</span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div *ngFor="let pay of paymentData.PaymentDetails; let i= index">
        <div class="row cursor align-items-center d-flex justify-content-center padding-vertical-medium"
          routerLink="{{pay.url}}" tabindex="-1">
          <div class="p-r-0-xs" [ngClass]="{'col-7':pay.subdesc, 'col-8': !pay.subdesc }">
            <div class="display-flex">
                <span *ngIf="pay.Icon=='Warning'" class="d-inline-block padding-left-small padding-right-base padding-horizontal-xsmall-xs 
                padding-horizontal-xsmall-sm">
                  <p class="hidden">Warning icon</p>
                  <span class="warning-error-24 display-flex" tabindex="0" aria-label="Warning icon"></span>
                </span>
              <div class="padding-top-base d-inline-block">
                <p *ngIf="pay.descTitle" class="H6-heading d-inline-block" tabindex="0" [attr.aria-label]="pay.descTitle">{{pay.descTitle}}</p>
                  <span class="body d-block padding-top-xsmall" *ngIf="pay.desc" tabindex="0" [attr.aria-label]="pay.desc">{{pay.desc}}</span>
              
            </div>
          </div>
            
            <!-- <p class="d-flex padding-top-xsmall">
                <span *ngIf="pay.Icon=='Warning'" class="padding-left-small padding-right-base padding-horizontal-xsmall-xs 
                padding-horizontal-xsmall-sm align-self-center" tabindex="0" aria-label="Warning icon">
                  <p class="hidden">Warning icon</p>
                  <span class="warning-error-24 display-flex "></span>
                </span>
              <span class="H6-heading" *ngIf="pay.descTitle" tabindex="0" [attr.aria-label]="pay.descTitle">{{pay.descTitle}}
              </span>
            </p> -->
          </div>
          <div class="text-right p-l-0-xs align-items-center justify-content-end display-flex"
            [ngClass]="{'col-5':pay.subdesc, 'col-4': !pay.subdesc }">
            <div class="p-r-15 p-r-6-xs">
              <p class="H6-heading d-inline-block" tabindex="0" [attr.aria-label]="'$' + pay.value + ' per month'">
                ${{pay.value}}/mo</p>
              <p class="body padding-top-base" *ngIf="pay.subdesc" tabindex="0" [attr.aria-label]="pay.subdesc">
                {{pay.subdesc}}</p>
            </div>
            <div class="align-self-center" tabindex="0" aria-label="Click here for more details">
              <p class="hidden">Click here for more details</p>
              <span class="d-inline-block arrow-right-black-24" role="link"></span>
            </div>
          </div>         
        </div>
        <div *ngIf="i==0" class="padding-bottom-medium body" tabindex="0" aria-label="You're enrolled in AutoPay so you'll save an extra $5/month, per line, off of this price.">
          You're enrolled in AutoPay so you'll save an extra $5/month, per line, off of this price.
        </div>
        <div class="col-12 no-padding">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="row checkbox padding-vertical-medium" tabindex="-1">
        <div class="col-8">
          <p class="H6-heading padding-bottom-xsmall" tabindex="0" aria-label="autopay">AutoPay</p>
          <p class="body" tabindex="0" aria-label="You saving $20.00 with autopay">You saving $20.00 with autopay</p>
        </div>
        <div class="col-4 text-center text-right-md p-r-40">
          <p class="hidden">autopay checkbox</p>
          <label class="switch top" >
            <input type="checkbox" [checked]="checkOpt" class="slider-btn" (click)="clickFun()">
            <span class="slider round" tabindex="0" [attr.aria-label]="checkOpt ? 'Autopay toggle button is ' : 'Autopay toggle button is'" role="switch" (keydown.enter)="toggle()" [attr.aria-checked]="checkOpt"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="row padding-vertical-medium cursor d-flex align-items-center" routerLink="" tabindex="-1">
        <div class="col-6 p-r-0-xs">
          <span class="H6-heading" tabindex="0" aria-label="Payment Method">Payment Method</span>
        </div>
        <div class="col-6 text-right d-flex align-items-center justify-content-end p-l-0-xs">
          <span class="visa-icon" tabindex="0" aria-label="card icon"></span>
          <span class="H6-heading p-r-15 p-r-6-xs" tabindex="0" aria-label="****1234">****1234</span>
          <div class="text-right" tabindex="0" aria-label="click for changing or viewing the payment method">
            <p class="hidden">click for
              changing or viewing the payment method</p>
            <span class="d-inline-block arrow-right-black-24" role="link"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr class="total-divider mb-0 mt-0">
        </div>
      </div>
      <div class="row ">
        <div class="col-12 padding-top-medium d-flex pr-0 cursor align-items-center padding-bottom-medium" tabindex="-1"
          routerLink="">
          <div class="col-7 no-padding Display5" tabindex="0" aria-label="New Monthly Total">New Monthly Total</div>
          <div class="text-right col-5 align-items-center justify-content-end d-flex p-l-0-xs">
            <div class="pull-right p-r-15 p-r-0-xs">
              <p class="Display6" tabindex="0" aria-label="$207.00 per month">$207.00/mo</p>
              <p class="body pull-right " tabindex="0" aria-label="Taxes and fees included.">
                Taxes and fees included. </p>
            </div>
            <div class="pull-right" tabindex="0" aria-label="click for more details">
              <span class="d-inline-block arrow-right-black-24"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center padding-top-large">
          <p class="H4-heading" tabindex="0" aria-label="Your next bill will increase by">Your next bill will increase
            by</p>
          <p class="padding-top-small padding-top-medium-md padding-top-medium-lg padding-top-medium-xl Display3"
            tabindex="0" aria-label="$10.00 per month">$10.00 / mo</p>
            </div>
          <div class="col-10 col-md-6 col-lg-4 offset-1 offset-md-3 offset-lg-4 padding-top-small">
            <!-- <p class="tele-ult" tabindex="0" aria-label="Effective Date:">Effective Date: </p> -->
            <!-- <span class="tele-hal" tabindex="0" aria-label="Aug 24, 2018">Aug 24, 2018</span> -->
            <app-dropdown-selector subTitle="Effective Date" [selectNames]="selectLine" [selectedVal]="selectedLine" 
                  (callBackValue)='handleLine($event)' dropdownId="test" [selectedValClass]="'body text-ellipsis'"></app-dropdown-selector>
          </div>
        <div class="col-12 no-padding">
          <div class="col-10 offset-1 offset-xs-2 col-xs-8 offset-sm-3 col-sm-6  offset-md-3 col-md-6 offset-lg-4 
          col-lg-4 text-center padding-top-medium no-padding" *ngIf="checkOpt" tabindex="-1">
            <span class="legal black" tabindex="0" aria-label="First AutoPay payment date ">First AutoPay payment
              date:</span>
            <span class="legal-bold black" tabindex="0" aria-label="Aug 17, 2018">Aug 17, 2018</span>
            <div>
              <span class="legal padding-top-xsmall padding-top-medium-sm black" tabindex="0"
                aria-label="Your Autopay discount will take affect beginning with your next bill on :">Your Autopay
                discount will take affect beginning with your next bill on:</span>
              <span class="legal-bold black" tabindex="0" aria-label="Aug 9, 2018">Aug 9, 2018</span>
            </div>
          </div>
        </div>
        <div class="col-12 offset-md-1 padding-horizontal-medium-md padding-horizontal-large-lg padding-horizontal-large-xl 
        padding-top-small legal">
          <span tabindex="0" aria-label="By signing up for AutoPay, I agree to the">By signing up for AutoPay, I agree
            to the</span>
          <a class="legal-link cursor" role="link" tabindex="0" aria-label="Terms & Conditions"> Terms &
            Conditions</a>.
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-horizontal-medium-md padding-horizontal-large-lg 
        padding-horizontal-large-xl padding-top-medium legal">
          <span tabindex="0" aria-label="By clicking Agree and submit, I agree that a. my Agreement with T-Mobile includes
           the Service Agreement, any terms specific
          to my Rate Plan, and T-Mobile’s.">
            By clicking Agree and submit, I agree that (a) my Agreement with T-Mobile includes the Service Agreement,
            any
            terms specific
            to my Rate Plan, and T-Mobile’s.</span>
          <a class="legal-link cursor" tabindex="0" role="link" aria-label="Terms & Conditions"> Terms &
            Conditions</a>;<span tabindex="0"
            aria-label="b. T-Mobile requires Arbitration of Disputes unless I previously opted out per T-Mobile’s"> (b)
            T-Mobile requires Arbitration of Disputes unless I previously opted out per T-Mobile’s</span>
          <a class="legal-link cursor" tabindex="0" role="link" aria-label="Terms & Conditions"> Terms &
            Conditions</a>; <span tabindex="0" aria-label="and c. I accept T-Mobile’s"> and (c) I accept
            T-Mobile’s</span>
          <a class="legal-link cursor" tabindex="0" role="link" aria-label="Electronic Signature Terms">
            Electronic Signature Terms</a>.
        </div>
        <div class="col-12 text-center padding-top-large padding-bottom-xl padding-top-large-sm padding-top-large-xs">
          <div class="col-12 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0 p-l-0-xs 
              p-r-0-xs p-l-0-sm p-r-0-sm">
              <button class="PrimaryCTA  float-md-left float-lg-left full-btn-width-xs float-xl-left btn-full-width-xs"
                appButtonripple tabindex="0" role="button" aria-label="Click to Agree & Submit">Agree & Submit</button>
            </div>
            <div class="col-12 col-md-6  float-md-left pl-md-0 p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
              <button class="SecondaryCTA blackCTA float-md-right full-btn-width-xs float-lg-right float-xl-right"
                appButtonripple tabindex="0" tabindex="0" role="button" aria-label="Click to Cancel">Cancel</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-bottom-xl padding-horizontal-medium-md padding-horizontal-large-lg 
          padding-horizontal-large-xl">
          <p class="disclaimer-lineheight">
            <span class="legal" tabindex="0" aria-label="During congestion, customers using>50GB per month. may notice reduced speeds, Essentials customers may 
              notice speeds lower than other customers. Video typically streams on smartphone or tablet at DVD quality 480p. 
              Tethering at max 3G speeds.">
              During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice
              speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p).
              Tethering at max 3G speeds. </span> <span class="legal-link cursor" routerlink="/" tabindex="0"
              role="link" aria-label="See full terms">See full terms</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
