<div class="TMO-LINE-SELECTOR">
  <div class="container overflowHidden">
    <app-header></app-header>
    <div class="main-content">
      <div class="row fade-in-effect">
        <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 padding-top-large padding-top-medium-xs padding-bottom-large-xs padding-vertical-medium-sm"
          *ngFor="let item of ValueSelectorData?.title; let j = index;" id="valueSelector-title">
          <p class="Display3 text-center">
            <span tabindex="0" [attr.aria-label]="item.title">{{item.title}}</span>
          </p>
          <p class="body text-center black padding-top-small-xs padding-top-small-sm padding-top-medium">
            <span tabindex="0" [attr.aria-label]="item.desc">
              {{item.desc}} </span>
          </p>
        </div>
      </div>
      <div class="row padding-bottom-xxl">
        <div class="col-12 offset-md-1 col-md-10 col-lg-10 offset-lg-1 d-lg-flex flex-wrap">
          <div class="col-12 col-md-6 col-lg-6 no-padding-xs p-t-32-lg" *ngFor="let detail of ValueSelectorData?.details; let i = index;"
            [ngClass]="{'p-l-0-lg p-l-0-md padding-bottom-medium': (i+1)%2 !== 0 , 'p-r-0-lg p-r-0-md': (i+1)%2 === 0}"
            tabindex="-1">
            <div appButtonripple class="col-12 col-lg-12 gm-noScroll hidden padding-vertical-medium 
            padding-horizontal-small divShadow cursor-pointer h-fixed  align-items-center d-flex"
              tabindex="0" [attr.aria-label]="'click to go to'+ detail.name ">
              <div class="col-3 no-padding img-circle">
                <img src="{{detail.fullImage}}" class="imgDim" tabindex="0" aria-label="image">
              </div>
              <div class="col-9 no-padding pull-left" tabindex="-1">
                <span *ngIf="detail.isTidalComplete === 'No'" [tabindex]="0" aria-label="FINISH
                      ACTIVATING TIDAL" class="legal padding-bottom-base padding-bottom-xsmall-xs padding-bottom-xsmall-sm brand-magenta height-12">FINISH ACTIVATING TIDAL</span>
                <span *ngIf="detail.tidalType === 'Premium'" [tabindex]="0" [attr.aria-label]="detail.message" class="legal padding-bottom-base padding-bottom-xsmall-xs padding-bottom-xsmall-sm color-green height-12">{{detail.message}}</span>
                <p class="Display6" tabindex="-1" *ngIf="detail.name" [ngClass]="{'p-t-19': detail.tidalType !== 'Premium'}">
                  <span tabindex="0" [attr.aria-label]="detail.name">{{detail.name}}</span>
                </p>
                <p class="padding-bottom-xsmall legal" [ngClass]="{'padding-top-xsmall': detail.name !== '', '': detail.name === ''}" tabindex="-1">
                  <span tabindex="0" [attr.aria-label]="detail.description" x-ms-format-detection="none">{{detail.description}}</span>
                </p>
                <a class="body-bold text-magenta padding-bottom-base">
                  <span tabindex="0" [attr.aria-label]="detail.subtitle">
                    {{detail.subtitle}}
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ngClass]="isTmoHeader ? 'hd-header' : 'hd-d-none'"

[ngClass]="{'d-table': this.showFilterValues[j] && !mobileView,'d-none': !this.showFilterValues[j] && mobileView && !showMoreVar}"  -->
