@import "src/assets/scss/global-variables.scss";
.TMO-LINE-SELECTOR{

.color-green{  color: #078a14;}
.height-12{  height: 12px;}
.imgDim {  width: 73px;border-radius: 50%}

.hidden{overflow: hidden;}
.text-magenta {
  color: #E20074;
}
.divShadow {      border: solid 1px #cccccc;    }
.divShadow:hover {      box-shadow: 0 0 6px 3px #cccccc;    }
.div_shadow_box {
  border: solid 1px #cccccc;
  margin: auto;
}
.div_shadow_box:hover {
  box-shadow: 0 0 6px 3px #cccccc;
  border: solid 1px #cccccc;
}
@media #{$tablets-md}, #{$desktops-lg}, #{$desktops-xl} {
  .d-lg-flex{    display: flex;  }
  // .flex-wrap{    flex-wrap: wrap;  }
  .p-t-32-lg{    padding-top:32px;  }
  .p-l-0-lg { padding-left: 0px; }
  .p-r-0-lg { padding-right: 0px; }
  .p-t-19 { padding-top: 19px;}
}
@media #{$tablets-md}{
.h-fixed {      height: 150px !important;   }
}

@media #{$tablets-md},#{$smartphones-xs1}{
  .imgDim { width: 45px;} 
}
@media #{$desktops-lg}, #{$desktops-xl} 
{
  .h-fixed {      height: 144px !important;    }
}
/*@media #{$smartphones-xs}, #{$smartphones-sm}{
   
  .divShadow:hover {    box-shadow: none;  }
  // .imgDim {    width: 40px;  }
  .full-bleed-divider-top-xs {    border-top: 8px solid #f2f2f2;  }
  .full-bleed-divider-bottom-xs{    border-bottom: 8px solid #f2f2f2;  }
}*/
}
