<div class="TMO-FAMILY-CONTROL-ALLOWANCE-COMPONENT">
  <div class="container">
    <div class="row">
      <div class="col-12 padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
        <p class="Display3 text-center padding-top-xl padding-top-large-xs padding-top-large-sm">Family Allowances</p>
        <div class="col-12 col-md-10 offset-md-1 p5">
          <p class="body padding-top-medium-xs padding-top-medium-sm padding-top-large">Set allowances on minutes, messages and downloads</p>
          <span class="pt-2 cursor body-link pt-md-3">Manage</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-top-medium padding-top-small-xs padding-top-small-sm">
        <p class="Display6">Parent Line</p>
        <p class="body padding-top-small">This is the person authorized to create and modify allowances.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
        <p class="legal pb-1">{{subTitle}}</p>
        <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
          <div id="model" class="dropdown-toggle">
            <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
            <span class="arrow-down pull-right mt-1"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="model">
            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
              (click)="select(state.name)">
              <a> {{state.name}} </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>