@import "src/assets/scss/global-variables.scss";
.TMO-FAMILY-CONTROL-ALLOWANCE-COMPONENT{
    .p5{
        padding-left: 5px;
        padding-right: 5px;
    }
    .cursor {
        &:focus {
            outline: none;
        }
    }
}


