<div class="TMO-LINE-SETTINGS-PERMISSIONS">
  <div class="container">
    <div class="row padding-top-large-xs padding-top-large-sm padding-top-xl">
      <div class="col-12 ">
        <p class="Display3 text-center">Line Settings</p>
        <div class="col-10 col-md-6 col-lg-4 offset-1 offset-md-3 offset-lg-4 padding-horizontal-xsmall  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
          <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
            [dropdownId]="dropdownId"></app-dropdown-selector>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 col-md-8 offset-md-2 padding-top-small-xs padding-top-small-sm padding-top-medium padding-bottom-small">
        <p class="Display6">Permissions</p>
        <p class="padding-top-xsmall body">Set the level of account access for this user:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 col-md-8 offset-md-2 verticalAlign padding-top-xsmall" *ngFor="let radioVal of radioArray">
        <div class="body radio-container" >
          <input type="radio" id={{radioVal}} name="selector" checked>
          <label for={{radioVal}}>{{radioVal}}</label>
          <div class="check"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 col-md-8 offset-md-2 padding-top-medium">
        <p class="body-link cursor padding-bottom-small" *ngIf="!showPermissions" (click)="showPermissions = !showPermissions">Show permission levels</p>
        <p class="body-link cursor padding-bottom-medium" *ngIf="showPermissions" (click)="showPermissions = !showPermissions">Hide permission levels</p>
      </div>
    </div>
    <div class="row" *ngIf="showPermissions">
      <div class="col-10 offset-1 col-md-8 offset-md-2" *ngFor="let title of titleArray">
                <p class="Display6 black">{{title.mainTitle}}</p>
                <p class="body padding-top-small">{{title.content}}</p>
                <p class="Display6 black padding-vertical-small">{{title.title}}</p>
      </div>
      <div class="col-10 offset-1 col-md-8 offset-md-2 padding-bottom-small" *ngFor="let access of accessArray">
          <p class="body black">{{access.title}}</p>
          <p class="body padding-top-xsmall">{{access.content}}</p>
      </div>
    </div>
    <div class="row no-padding  padding-vertical-xl padding-vertical-large-xs padding-vertical-large-sm">
      <div class="col-12 col-md-8  offset-md-2 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple >Save changes</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>