<div class="TMO-ORDER-STATUS-PAGE">
  <div class="background-color-gray ">
    <div class="container">
      <app-header></app-header>
      <div class="col-12 no-padding">
        <div class="row padding-bottom-xxxl padding-bottom-xxl-xs">
          <div class="col-12 Display4 text-center padding-top-xl padding-bottom-large">Shipment tracker</div>
          <div class="col-12 col-md-7 col-lg-6 offset-lg-1">
            <div class="col-12 no-padding  border-md">
              <div *ngFor="let status of availableStatus">
                <div *ngIf="status.currentStatus==true">
                  <div style="display: inline-flex; border-bottom:#cccccc 1px solid" class="col-12  no-padding ">
                    <div [ngClass]="{'full-width':status.title === returntosender,'normal-width':status.title !== returntosender}" class="padding-top-medium padding-horizontal-medium padding-horizontal-12-xs" ng-switch="isDeviceSmartPhone">
                      <img [src]="isDevicemd ? status.image.imagesm : status.image.imagexs" class="img-width">
                    
                      <div style="display: inline-flex">
                      </div>
                      <div>
                        <p *ngIf="status.title !== delivered" class="mb-0 legal-bold padding-top-xsmall-xs padding-top-xsmall-sm adjust-padding"></p>
                        <p *ngIf="status.title === delivered" class="mb-0 legal-bold padding-top-xsmall-xs padding-top-xsmall-sm adjust-delivered-padding"></p>
                        UPS 3 days select
                        <img style="padding-left:8px;" src="assets/img/upsbw-3-x.png" />
                      </div>
                      <div class="Display3 brand-magenta mb-0 padding-bottom-small ">
                        <div *ngIf="status.title === attempteddel" class="attempteddel-txtstyle ">
                          <span class="">{{status.title}} </span>
                          <div class="padding-top-small-xs padding-top-small-sm">
                            <button class="SecondaryCTA-accent " appButtonripple> Reschedule</button>
                          </div>
                        </div>
                        <span *ngIf="status.title !== attempteddel" class="attempteddel-txtstyle">{{status.title}}</span>
                      </div>
                    </div>
                    <div *ngIf="status.title !== returntosender" style="width:40%;    border-left:#cccccc 1px solid" class="  padding-horizontal-medium padding-custom padding-top-medium-xs padding-top-medium-sm padding-top-small">
                      <p *ngIf="status.title !== delivered" class="mb-0 body-bold black padding-bottom-xsmall ">Est. delivery date</p>
                      <p *ngIf="status.title == delivered" class="mb-0 body-bold black padding-bottom-xsmall ">Delivery date</p>
                      <p class="body mb-0">{{status.estddday}}</p>
                      <p class="legal-bold mb-0 padding-bottom-base-xs padding-bottom-base-sm">{{status.estddmonth}}</p>
                      <p *ngIf="status.estdddate === 'N/A'" class="padding-top-xxl Display2 brand-magenta mb-0 padding-bottom-small ">{{status.estdddate}}</p>
                      <p *ngIf="status.estdddate !== 'N/A'" class="padding-top-small Display2 brand-magenta mb-0 padding-bottom-small padding-top-medium">{{status.estdddate}}</p>
                    </div>
                  </div>
                  <div *ngIf="status.title == delivered" style="border-bottom:#cccccc 1px solid" class="col-12 padding-horizontal-medium padding-horizontal-12-xs padding-horizontal-small-sm">
                    <div class="legal-bold padding-top-small padding-bottom-base">
                      <span>Note</span>
                    </div>
                    <div class="body padding-bottom-small">
                      <span>Your package was delivered. It was handed directly to a receptionist or someone at a front desk
                      </span>
                    </div>
                  </div>
                  <div class="col-12 no-padding ">
                    <p class="col-12 mb-0 body-bold black padding-top-small padding-horizontal-medium padding-horizontal-12-xs padding-horizontal-small-sm">Package detail</p>
                    <div class="col-12 d-md-inline-flex no-padding ">
                      <div class="col-12 col-md-7 padding-horizontal-medium padding-horizontal-12-xs padding-horizontal-small-sm" *ngFor="let details of status['data'];let d=index">
                        <p class="mb-0 legal-bold pb-1" [ngClass]="{'padding-top-xsmall': d===0}">{{details.subtitle}}</p>
                        <p class="mb-0 body">
                          <span class="black">{{details.valueSubtitle}}</span>{{details.value}}</p>
                        <p class="mb-0 body">
                          <span class="black">{{details.value1Subtitle}}</span>{{details.value1}}</p>
                        <p class="mb-0 body">{{details.value2}}</p>
                      </div>
                      <div class="col-12 col-md-5 no-padding-md padding-horizontal-medium padding-horizontal-12-xs padding-horizontal-small-sm">
                        <p class="mb-0 legal-bold padding-top-small-xs padding-top-small-sm pb-1 padding-top-xsmall">Weight</p>
                        <p class="body mb-0">{{status.weight}} lbs</p>
                      </div>
                    </div>
                    <div class="col-12 padding-bottom-medium-xs padding-bottom-small padding-horizontal-medium padding-horizontal-12-xs padding-horizontal-small-sm">
                      <p class="legal-bold padding-top-small mb-0 pb-1">{{trackingNumber[0].title}}</p>
                      <p class=" body mb-0">{{trackingNumber[0].value}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 col-lg-4 padding-top-small-xs">
            <div class="col-12  border-md padding-left-medium padding-horizontal-12-xs padding-horizontal-small-sm p-r-6-sm" style="height:100%; ">
              <div class="border-withscroll-md scrollStyle">
                <div class="col-12  body-bold black padding-top-small padding-bottom-xsmall pl-0">Latest activity</div>
                <div *ngFor="let activity of latestActivity;let i=index" class="body">
                  <div class="d-block d-md-none brand-magenta ">
                    <!-- To handle ShowMore logical changes in mobile view -->
                    <div *ngIf="i==showMoreIndex && !showMore" class="padding-bottom-medium ">
                      <a (click)="showMore = !showMore" class="body brand-magenta  "> {{showMore ? '' : 'Show more'}} </a>
                    </div>
                  </div>
                  <div [hidden]="( i>=showMoreIndex && isSmartPhone && !showMore) ">
                    <div class="row padding-top-small padding-bottom-small p-r-12-md" style="margin-right:0px;margin-left:0px;">
                      <div class="col-4 col-md-4 no-padding body">
                        <div class="body">{{activity.date}} </div>
                        <div class="legal">{{activity.time}} </div>
                      </div>
                      <div class="col-8 col-md-8 no-padding body">
                        <div class="body">{{activity.status}} </div>
                        <div class="legal">{{activity.desc}} </div>
                      </div>
                    </div>
                    <!-- To handle logical changes for inset dividers in mobile and desktop -->
                    <div class="col-12 no-padding ">
                      <div *ngIf="(i+1 != latestActivity.length && !isSmartPhone) || 
                            (isSmartPhone && (showMore? i+1 != latestActivity.length  : i!= (showMoreIndex-1) )) ">
                        <div class="inset-divider-1px m-r-inset"> </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-block d-md-none brand-magenta">
                    <div *ngIf="(i+1 == latestActivity.length) && isSmartPhone && showMore" class="padding-bottom-medium">
                      <a (click)="showMore = !showMore" class="body brand-magenta"> {{showMore ? 'Show less' : ''}} </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-12 Display6 text-center padding-top-xxl-xs padding-top-xxl-sm padding-top-xxxl padding-top-xxl-xs padding-bottom-medium">You might also like</div>
    <div class="row">
      <div class="col-12 col-md-12 offset-md-0 col-lg-10 offset-lg-2 text-center padding-lr-40" style="margin:0px auto;padding-left:0px">
        <div *ngFor="let accessory of accessoriesList" class="col-6  col-lg-4 padding-bottom-small text-center d-inline-block pull-left"
          style="padding-right:0px">
          <div class="box-shadow-accessories padding-top-large padding-bottom-medium padding-bottom-20-xs-sm padding-top-20-xs-sm padding-horizontal-medium padding-horizontal-12-xs padding-horizontal-small-sm">
            <div class="d-table align-middle imageDiv">
              <span class="h-100 d-inline-block align-middle"></span>
              <img src={{accessory.img}} class="imageSize   align-middle">
            </div>
            <div class="d-table titleDiv">
              <p class="accessories-detail mb-0 d-table-cell align-middle" [innerHtml]="accessory.value"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center padding-top-xl padding-bottom-xl padding-bottom-large-xs no-padding">
      <button class="SecondaryCTA blackCTA CTA-style body full-btn-width" appButtonripple>Shop all accessories</button>
    </div>
  </div>
</div>