@import "src/assets/scss/global-variables.scss";
.TMO-ORDER-STATUS-PAGE {
    .box-shadow-accessories {
        background-color: #ffffff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
        height: 241px;
        @media #{$alldeviceexceptsmartphone} {
            height: 309px;
        }
        @media #{$smartphones-xs} {
            height: 270px;
        }
    }
    @media #{$desktops-lg} {
        .adjust-padding {
            padding-top: 43px; // padding-bottom: 8px;
        }
        .adjust-delivered-padding {
            padding-top: 20px;
        }
    }
    @media #{$desktops-xl} {
        .adjust-padding,
        .adjust-delivered-padding {
            padding-top: 13px; // padding-bottom: 8px;
        }
    }
    @media #{$alldeviceexceptsmartphone} {
        .padding-right-medium {
            padding-right: 24px;
        }
        .padding-left-medium {
            padding-left: 24px;
        }
        .box-shadow-accessories:hover {
            box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.18);
        }
        .border-withscroll-md {
            overflow-y: scroll;
            max-height: 385px;
        }
        .imageDiv {
            width: 170px;
            height: 170px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 24px;
        }
        .titleDiv {
            height: 57px;
            margin: auto;
        }
        .padding-lr-40 {
            padding: 0px 40px;
        }
        .border-md {
            //  height: 385px;
        }
        .no-padding-md {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .border-md {
        border: solid 1px #cccccc;
    }
    .border-withscroll-md {
        
    }
    svg {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
    @media #{$tablets-md} {
        .adjust-padding {
            padding-top: 41px; // padding-bottom:8px;
        }
        .adjust-delivered-padding {
            padding-top: 18px; // padding-bottom:8px;
        }
        .img-width{
            width: 152px;
        }
    }
    @media #{$desktops-lg}
    {
        .img-width{
            width: 190px;
        }
    }

    @media #{$smartphones-xs},
    #{$smartphones-sm} {
        .img-width{
            width: 150px;
        }
        .padding-custom {
            padding-left: 10.5px;
            padding-right: 10.5px;
        }
        .padding-horizontal-12-xs {
            padding-right: 12px;
            padding-left: 12px;
        }
        .adjust-padding,
        .adjust-delivered-padding {
            padding-top:8px;
            padding-bottom: 8px;
        }
        .border-withscroll-md {
            height: 100%;
        }
        .imageDiv {
            width: 130px;
            height: 130px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
        }
        .titleDiv {
            height: 51px;
            margin: auto;
        }
        .padding-top-20-xs-sm {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .padding-bottom-20-xs-sm {
            padding-bottom: 20px;
        }
    }
    @media #{$smartphones-xs} {
        .imageSize {
            //  width: 130px;
            height: 130px;
        }
        .imageDiv {
            width: 75px;
            height: 130px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
        }
    }
    i.fa.fa-truck {
        display: inline-block;
        border-radius: 60px;
        border: 2px solid $brand-magenta;
        padding: 0.5em 0.6em;
    }
    
    @media #{$smartphones-sm} {
        .imageSize {
            
            height: 130px;
        }
    }
    .scrollStyle::-webkit-scrollbar {
        width: 7px;
        height: 102px;
    }
    .scrollStyle::-webkit-scrollbar-thumb {
        border-radius: 4.5px;
        height: 102px;
        background-color: #ededed;
        border: 2px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }
    .imgshippingwidth {
        width: 177px;
        height: 48px;
    }
   
    @media #{$desktops-lg},
    #{$desktops-xl} {
        .imgshippingwidth {
            
            height: 48px;
        }
    }
    .accessories-detail {
        font-size: 14px;
        line-height: 20px;
        font-family: $Tele-Grotesk-Hal;
        letter-spacing: 0.1px;
        font-weight: normal;
        color: $black;
    }
    @media #{$tablets-md} {
        .attempteddel-txtstyle {
            font-size: 50px;
        }
        z .imgshippingwidth {
            width: 180px;
            height: 48px;
        }
    }
    .background-color-gray {
        background-color: $gray05;
    }
    @media #{$smartphones-xxs} {
        .imgshippingwidth {
            width: 90%;
            height: 48px;
        }
    }
    @media #{$alldeviceexceptsmartphone} {
        .imageSize {
            
            height: 170px;
        }
        .m-r-inset {
            margin-right: 10px;
        }
        .p-r-6-sm {
            padding-right: 6px;
        }
        .p-r-12-md {
            padding-right: 12px;
        }
    }
    button {
        line-height: normal;
    }
    .full-width {
        width: 100%;
    }
    .normal-width {
        width: 60%;
    }
}