<div class="TMO-PROFILE-PRIVACY-NOTIFICATION-NOTIFICATIONS-NEW">
  <div class="container">
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12">
        <p class="Display3 text-center">Notifications</p>
        <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm no-padding">
          <p class="legal pb-1">{{subTitle}}</p>
          <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
            <div id="model" class="dropdown-toggle" >
              <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
              <span class="arrow-down pull-right mt-1"></span>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="model">
              <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
                (click)="select(state.name)">
                <a> {{state.name}} </a>
              </li>
            </ul>
          </div>
        </div>
        <p class="body text-center pb-3 pb-md-4">Manage service alerts and policy updates.</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-center" tabindex=0>
            <div class="col-10 no-padding py-3 py-md-4">
              <p class="Display6">T-Mobile will always send notifications when you are approaching the talk, text, or data limits on your own
                line.
              </p>
            </div>
            <div class="col-2 no-padding fa-lg">
              <span class="d-inline-block float-right">
                    <label class="switch mt-1">
                      <input type="checkbox" [checked]="checkOpt1" (change)="checkOpt1 = !checkOpt1">
                      <span class="slider round"> </span>
              </label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-center" tabindex=0>
            <div class="col-10 no-padding py-3 py-md-4">
              <p class="Display6">Receive alerts when other lines on this account are approaching their talk, text, or data limits.</p>
            </div>
            <div class="col-2 no-padding fa-lg">
              <span class="d-inline-block float-right">
                    <label class="switch mt-1">
                      <input type="checkbox" [checked]="checkOpt2" (change)="checkOpt2 = !checkOpt2">
                      <span class="slider round"> </span>
              </label>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-top-xl padding-bottom-xxxl">
        <p class="legal">Changes will reflect within 10 business days. <a class="legal-link cursor" href='\privacyNotificationInterestBasedAdsNew'>View our Privacy Policy.</a></p>
      </div>
    </div>
  </div>
</div>