<div class="TMO-PA-EDIT-MODAL">
  <div class="container">
    <div class="row padding-top-xxl padding-bottom-xxl">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
        <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">PA Breakdown Modal</button>
      </div>
    </div>
    <div class="dialog-container">
      <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
        <div class="row no-margin  padding-bottom-medium">
          <div class="col-12 no-padding text-center">
            <span class="Display5">Breakdown</span>
          </div>
        </div>
      
        <div class="row no-margin">
           <div class="col-12 no-padding body"
              *ngFor='let x of breakdown'>
                 <span class="pull-left">{{x.chargename}}</span>
                 <span class="pull-right">${{x.amount}}</span>
           </div>
           <div class="col-12 no-padding body padding-vertical-small">
              <div  class="total-divider"></div>
            </div>
            <div class="col-12 no-padding body padding-bottom-large-xs padding-bottom-large-sm padding-bottom-medium">
                <span class="pull-left body-bold black">Total</span>
                <span  class="pull-right body-bold black">${{total}}</span>
              </div>
        </div>
        <div class="row mx-0  text-center">
          <div class="col-12 d-inline-block no-padding text-center">
              <button class="PrimaryCTA-accent pull-right" appButtonripple (click)="close()">Got it, thanks</button> 
          </div>
        </div> 
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
  </div>
  </div>