@import "src/assets/scss/global-variables.scss";
.TMO-EDIT-PAYMENT-METHOD-PAGE {
    .dialog{
        @media #{$tablets-md},#{$desktops-lg},
            #{$desktops-xl}{
                max-width: 400px;
        }
    }
}