<div class="TMO-EDIT-PAYMENT-METHOD-PAGE">
  <div class="container">

    <div class="main-content">
      <app-header></app-header>
      <div class="row padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl">
        <div class="col-12  text-center Display3">Edit payment method</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div *ngFor="let card of paymentMethodsReusable;let i=index;">
<div *ngIf="card.cardStatus!=''" >
        <radiobuttonpaymentblade [cardStatus]="card.cardStatus" [card]="card.cardNumber" [icon]="card.iconClass" [radioButtonId]="i" [radioButtonName]="'radiobutton'" [selected]=1 [note]="card.note" [showErrorIcon]=true ></radiobuttonpaymentblade>
      </div>



      <!--   <div *ngIf="card.cardStatus!=''">
          <radiobuttonpaymentblade [cardStatus]="card.cardStatus" [card]="card.cardNumber" [icon]="card.iconClass" [radioButtonId]="i"
            [radioButtonName]="'radiobutton'" [selected]=1 (callBackValue)="change($event)"></radiobuttonpaymentblade>
        </div> -->
        <div class="row" *ngIf="card.cardStatus==''">
          <div class="col-12 col-md-10 offset-md-1">
            <paymentblade [title]="card.add" [titleClass]="'Display6'" [card]="cardNumber" [icon]="iconClass" [topDividerClass]="''"></paymentblade>
          </div>
        </div>
      </div>
    </div>

    <div class="dialog-container">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
        <div class="row no-margin text-center">
          <span class="col-12 no-padding black Display5 ">Delete this Bank?</span>
        </div>
        <div class="row no-margin padding-top-medium text-center">
          <div class="col-12 body">Are you sure you want to delete</div>
        </div>

        <div class="text-center padding-top-small">
          <span class=" Display6 d-inline-flex align-items-center">
            <span class="sprite credit_card_Bank pull-left"></span>
            <span class="p-l-10 black">****1234</span>
          </span>
        </div>
        <div class="col-12 no-padding padding-horizontal-xsmall px-md-0 padding-top-medium float-right">
          <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="close()">Yes,delete</button>
          <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()">No thank you</button>
        </div>
      </div>
    </div>
    <div *ngIf="visible" class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>

    <div class="row no-padding padding-vertical-xl padding-top-xxl-xs padding-top-xxxl-sm">
      <div class="col-12 col-md-8 offset-md-2 text-center">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Continue</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm p-r-0-xs">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Back</button>
        </div>
      </div>
    </div>
  </div>
</div>