<div class="TMO-LINE-SELECTOR-COMPONENT">
<div class="row no-margin padding-top-small padding-bottom-medium">
    <div class="col-12 text-center">
      <div tabindex=0 class="col-8 col-sm-5 col-md-6 col-lg-4 d-inline-block dropdown" id="test" appDropdown dropdownid="test">
        <div id="model"  class="dropdown-toggle">
          <span href="" class="body black pull-left" ng-model="selectedVal">{{selectedVal}}</span>
          <span class="arrow-down pull-right d-inline-block mr-1 mt-1"></span>
        </div>
        <ul class="dropdown-menu" role="menu" aria-labelledby="model">
          
          <li role="menuitem" class="dropdown-option body mx-1 mt-1" *ngFor="let name of  selectNames" [ngClass]="{'active':name.name === selectedVal}"
            (click)="select(name.name)">
            <a> {{name.name}} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>