@import "src/assets/scss/global-variables.scss";
.TMO-LINE-SELECTOR-COMPONENT{
.arrowSize {
    width: 20px;
    height: 16px;
    cursor: pointer;
}
.dropdown{
    padding-bottom: 0px;
    padding-top: 0px;
}
#model{
    .arrow-down {
        width: 13px;
        height: 13px;
    }
}
/**:focus{
    outline: none;
}*/
}