@import "src/assets/scss/global-variables.scss";
.TMO-EMPLOYEE-DESIGNATION-CURRENT-NEW-COMPONENT{
    .p5{
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
    *:focus{
        outline: none;
    }

}