<div class="TMO-EMPLOYEE-DESIGNATION-CURRENT-NEW-COMPONENT">
  <div class="container">
    <div class="col-12">
      <p class="Display3 text-center padding-top-xl padding-top-large-xs padding-top-large-sm">Employee Line Designation</p>
    </div>
    <div class="col-12 col-md-10 offset-md-1 padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-large-xs padding-bottom-large-sm padding-bottom-xl p5">
      <span class="body">Please name and designate the lines you wish to add to your account. If you are unsure how to properly designate you
        line(s), refer to the line designation definitions provided in the</span>
      <a class="pt-2 cursor body-link pt-md-3 cursor" href="#">Employee Phone Program Policy.</a>
    </div>
    <div class="row padding-bottom-xl">
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center padding-top-medium-xs padding-top-medium-sm padding-top-large padding-bottom-medium"
        routerLink='' routerLinkActive="active">
        <div class="col-10 no-padding pull-left">
          <p class="Display6">Current Lines</p>
        </div>
      </div>
      <div class="col-12  col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12  col-md-10 offset-md-1 d-flex align-items-center cursor" routerLink='' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Employee Name</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">(123) 456-7890</p>
          <p class="body  col-12 no-padding">Non-Dependent</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12  col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12  col-md-10 offset-md-1 d-flex align-items-center cursor" routerLink='' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Employee Name</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">(123) 456-7890</p>
          <p class="body  col-12 no-padding">Non-Dependent</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12  col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center cursor" routerLink='' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Employee Name</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">(123) 456-7890</p>
          <p class="body  col-12 no-padding">Non-Dependent</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center cursor" routerLink='' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Employee Name</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">(123) 456-7890</p>
          <p class="body  col-12 no-padding">Non-Dependent</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12  col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center cursor" routerLink='' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Employee Name</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">(123) 456-7890</p>
          <p class="body  col-12 no-padding">Non-Dependent</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row padding-bottom-xl">
      <div class="col-12 col-md-10 offset-md-1">
        <p class="legal">By selecting or changin a line designation Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel arcu
          ac neque maximus euismod sed efficitur est.
          <a class="legal-bold-link black pl-1 cursor" href="#">Employee Phone Program Policy.</a>
        </p>
      </div>
    </div>
  </div>
</div>