<div class="TM0-BANK-INFO-PAGE">
  <div class="container">
      <div class="main-content">
    <app-header></app-header>
    <form #bankInfoform="ngForm">

      <div class="col-12-xs text-center padding-top-large-xs padding-vertical-large-sm padding-top-xl padding-bottom-small">
        <p class="Display3 mb-0">Bank information</p>
      </div>

      <div class="row">
        <div class="col-12 col-md-10  offset-md-1 padding-top-xsmall">
          <div class="floatingLabel no-padding">
            <input tabindex="1" type="text" id="nameOnaAccount" minlength="8" maxlength="50" pattern="[a-zA-Z\s\-\.]*" name="nameOnaAccount" class="input body black"
            [ngClass]="{'border-red':nameOnaAccount.invalid && !nameOnaAccount.pristine && !nameOnaAccount.errors?.required}"  
            [(ngModel)]="bankinfo.nameOnaAccount" required #nameOnaAccount="ngModel" [ngModel]="{'border-red':nameOnaAccount.invalid && !nameOnaAccount.pristine && !nameOnaAccount.errors?.required}">
            <label for="nameOnaAccount" class="labelpointer" [ngClass]="[(nameOnaAccount.invalid && !nameOnaAccount.pristine && !nameOnaAccount.errors?.required) ? 'legal color-red redClass' : '',
           (!nameOnaAccount.invalid )   ? 'legal' : '',
          ( nameOnaAccount.errors?.required ) ? 'body' : '']">Name on Account</label>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 col-md-10  offset-md-1 ">
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="nameOnaAccount.errors?.minlength">
            Enter a valid Name
          </p>
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="nameOnaAccount.errors?.pattern && !nameOnaAccount.errors?.minlength">
          Enter a valid Name
          </p>
          <span class="pull-right " *ngIf="nameOnaAccount.invalid && !nameOnaAccount.pristine && !nameOnaAccount.errors?.required">
            <i class="errormessageimg exclamation-error pull-right"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10  offset-md-1 padding-top-small">
          <div class="floatingLabel no-padding" id="test">
            <span class="mask">
              <span class="placeHolderDisplay" aria-hidden="true" id="bankNumberMask">
                <i></i>XXX XXX XXX</span>
              <input class="input placedoldervisible body black" maskinputid="banknumber" #rountingNumber="ngModel" ng-focus="hasfocus=true"
                 ng-blur="hasfocus=false" [(ngModel)]="bankinfo.rountingNumber" id="rountingNumber" maxlength="11" minlength="11"
                name="rountingNumber" appMaskedinput pattern="\d{3} *\d{3} *\d{3}" tabindex="1" required="" type="text"
                [ngClass]="{'border-red':rountingNumber.invalid && !rountingNumber.pristine && !rountingNumber.errors?.required && bankinfo.rountingNumber}"
                data-placeholder="XXX XXX XXX">
            </span>
            <label for="rountingNumber" id="bankNumberLabel" class="labelpointer" [ngClass]="[(rountingNumber.invalid && !rountingNumber.pristine && !rountingNumber.errors?.required && bankinfo.rountingNumber) ? 'legal color-red redClass' : '',
                  (!rountingNumber.invalid )   ? 'legal' : '',
                  ( rountingNumber.errors?.required ) ? 'body' : '']">Routing Number</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10  offset-md-1 ">
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="rountingNumber.errors?.minlength && bankinfo.rountingNumber">
            Enter a valid routing number
          </p>
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="rountingNumber.errors?.pattern && !rountingNumber.errors?.minlength">
            Enter a valid routing number
          </p>
          <span class="pull-right" *ngIf="rountingNumber.invalid && !rountingNumber.pristine && !rountingNumber.errors?.required">
            <i class="errormessageimg  exclamation-error pull-right"></i>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-10  offset-md-1 padding-top-small">
          <div class="floatingLabel no-padding">
            <input tabindex="1"   type="text" id="accountNumber" 
            minlength="9" maxlength="16" pattern="[0-9]*"
             #accountNumber="ngModel" 
             [(ngModel)]="bankinfo.accountNumber"  appCustomformat 
             name="accountNumber"
              class="input body black"
            required  
            [ngClass]="{'border-red':accountNumber.invalid && !accountNumber.pristine && !accountNumber.errors?.required && bankinfo.accountNumber}">
            <label for="accountNumber" class="labelpointer" [ngClass]="[(accountNumber.invalid && !accountNumber.pristine && !accountNumber.errors?.required && bankinfo.accountNumber ) ? 'legal color-red redClass' : '',
                  (!accountNumber.invalid )   ? 'legal' : '',
                  ( accountNumber.errors?.required ) ? 'body' : '']" >Account Number</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10  offset-md-1 ">
          <p class="legal color-red text-left errormessage padding-top-xsmall validErrorMsg mb-0" *ngIf="accountNumber.errors?.minlength && bankinfo.accountNumber">
          Enter a valid account number
          </p>
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="accountNumber.errors?.pattern && !accountNumber.errors?.minlength">
          Enter a valid account number
          </p>
          <span class="pull-right"  *ngIf="accountNumber.invalid && !accountNumber.pristine && !accountNumber.errors?.required && bankinfo.accountNumber">
            <i class="errormessageimg exclamation-error pull-right"></i>
          </span>
          <a class="legal-link text-decoration-underline padding-top-xsmall-md padding-top-xsmall-lg padding-top-xsmall-xl" (click)="showModal()">How to find my routing or account number</a>
        </div>
      </div>
      
    
      <div class="row">
        <div class="col-12 col-md-10  offset-md-1 padding-top-large">
          <div class="d-flex align-items-center">
            <label class="switch mt-1">
              <input type="checkbox" [checked]="checkOpt" (change)="checkOpt = !checkOpt">
              <span class="slider round"> </span>
            </label>
            <span class="p-l-12-xs p-l-12-sm padding-horizontal-xl pr-0 body mb-1">Save this payment method</span>
            <span tooltip-text="Save account (optional). Allow T-Mobile to store your payment method for future use by you and verified users to make a payment."
              tooltip-position="top">
              <i class="tooltip-icon ml-2 mbtm-2 d-inline-block"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row toggle-out" [ngClass]="{'toggle-in':checkOpt}">
        <div class="col-12 col-md-10  offset-md-1 padding-top-large">
          <div class="d-flex">
            <i class="exclamation-circle d-inline d-table padding-horizontal-small pr-0 mt-md-1"></i>
            <span class="padding-horizontal-xsmall body mt-lg-1">You can only have 1 saved Credit/Debit card on file. Proceed if you want to replace your existing stored card
              with a new card.</span>
          </div>
        </div>
      </div>
      
    </form>
    <div class="dialog-container">
    <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
      <div class="row padding-horizontal-medium">
        <div class="col-12 no-padding text-center padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">
          <span>
            <img class="imgwidth" src="assets/img/otp/group.png">
          </span>
        </div>
      </div>
    </div>
    <div class="overlay" (click)="closeModal()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
  </div>
  </div>
  <div class="row no-padding  padding-vertical-large-sm padding-vertical-large-xs padding-vertical-xl-md padding-vertical-xl-lg padding-vertical-xl-xl ">
      <div class="col-12 col-md-8  offset-md-2 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple [disabled]="!bankInfoform.valid">Continue</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>