<div class="TMO-ALERTS-CRITICAL-CLOSE-COMPONENT">
  <div class="container">
    <app-header></app-header>
    <app-notification (callBackCloseAlert)="closeAlert($event)"
        alertNavIcon="clear-icon">
    </app-notification>
    <!-- Begin: Dummy Code-->
    <div [ngClass]="{'slide-content':!hideNotification}">
    <div class="Display4 text-center padding-vertical-xl"><span tabindex="0" aria-label="sample page">
        Sample Page
    </span> </div>
    <div class="text-center"><img src="assets/img/tmo-logo.png" tabindex="0" aria-label="image" /> </div>
    <p *ngFor="let data of repeatData; index as i;" [ngClass]="{'padding-bottom-xl': i === (repeatData.length-1)}" tabindex="0" aria-label="Lorem ipsum dolor sit amet, per ea aeterno habemus, duo eius aeque an, quo sumo nonumy facilisis ne. Nullam mollis in nec,
    no posse verterem nam. At veri persecuti necessitatibus nam, mutat utinam tibique qui et. Sea et ipsum graece eleifend,
    expetendis mnesarchum nam ad. Ut iisque philosophia his. Error labores sit et, ne sit possim aperiam, vel ut erat augue
    ridens." >Lorem ipsum dolor sit amet, per ea aeterno habemus, duo eius aeque an, quo sumo nonumy facilisis ne. Nullam mollis in nec,
        no posse verterem nam. At veri persecuti necessitatibus nam, mutat utinam tibique qui et. Sea et ipsum graece eleifend,
        expetendis mnesarchum nam ad. Ut iisque philosophia his. Error labores sit et, ne sit possim aperiam, vel ut erat augue
        ridens.
    </p>
  </div>
    <!-- End: Dummy Code -->
  </div>
</div>
