@import "src/assets/scss/global-variables.scss";
.TMO-STYLEGUIDE-DROPDOWN{
.dropdown{
    padding: $XS 1px $S;
}
.dropdown-toggle {
    cursor: $pointer;
    height: 25px;
    padding-bottom: 8px;
    border-bottom:solid 1px;
}
.dropdown-toggle::after {
    border-top: $none;
    border-right: $none;
    border-left: $none;
}
.dropdown-menu {
   top:30px;
    li.dropdown-option > a {
        padding: 20px 10px;
        font-weight: bold;
        line-height:2.5rem;
    }
    .active > a {
       color:$brand-magenta;
    }
    li:first-child:hover{
        color:red;
        background-color: $white;
        a{
         cursor: default;
        }
    }
    .active:hover > a {
       color:$white;
    }
}
.dropdown-menu::-webkit-scrollbar {
    width: 5px;
    height:30px;  
}
.dropdown-menu::-webkit-scrollbar-thumb:vertical {
    background-color: $gray;
}
.btn-group {
    border-bottom: 2px solid #dddddd;
    &:focus, &:hover {
        border-bottom: 2px solid $brand-magenta;
        outline: $none;
    .arrow_size{
        color:$brand-magenta;
    }
    }
}
.dropdown-toggle-height {
    height:$auto ;
}
.padding-l-r {
    padding-left: $zero;
    padding-right: $zero;
    padding-top: $zero;
    padding-bottom: 28px;
}
.arrow_size {
    color: $gray85;
    font-weight:bold;
    &:focus, &:hover{
        color:$brand-magenta;
    }
}
.dropdown-option:hover {
    background-color: $brand-magenta;
    color: $white;
}
.disabled {
    color: lightgray  ;
    cursor: $default;
    pointer-events: $none;
}
.bsprefix {
    position: $absolute;
    margin-top: $zero;
}
.bsimg_block {
    width: 24px;
    height: 24px;
}
.selected {
    a::after {
        content: '\f00c';
        font-family: 'FontAwesome';
        vertical-align: middle;
        font-size: 15px;
        float: $right;
        color: $black;
    }
    background-color: $gray20;
    top: $zero;
}
.dropdown-item{
    padding-right:0.25rem; 
}
.box-style{
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: #9B9B9B;
}
}