<div class="TMO-STYLEGUIDE-DROPDOWN padding-bottom-xxl">
<div class="container">
    <div class="row no-margin">
        <div class="col-12 no-padding">
            <div class="Display4  text-center padding-vertical-xl"> Drop Down</div>
        </div>
    </div>
        <div class="row no-margin">
            <span class="col-12 no-padding H6-heading padding-top-large">Idle and empty</span>
            <div class="col-12 dropdown " id="test" tabindex=1 appDropdown dropdownid="test">
                <div id="model" class="dropdown-toggle">
                    <span href="" class="body-copy text-black text-bold" ng-model="selectedVal1">{{selectedVal1}}</span>
                    <i class="fa fa-angle-down pull-right arrow_size arrow_magenta"></i>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="model">
                    <li role="menuitem" class="body gray mx-1">
                        <a> State </a>
                    </li>
                    <li class="inset-divider-1px mx-1"></li>
                    <li role="menuitem" class="dropdown-option body gray mx-1 mt-1" *ngFor="let state of  categoriesValues" [ngClass]="{'active':state.state === selectedVal1}" (click)="select1(state.state)">
                        <a> {{state.state}} </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 no-padding">
                    <a (click)="showClr1Code = !showClr1Code" class="legal-link"> {{showClr1Code ? '- Hide Code' : '+ Show Code'}}</a>
                    <div *ngIf="showClr1Code">
                      <div class="padding-top-small">
                            <code class=" language-markup border brand-magenta d-block">
                                    &lt;div class="col-11 dropdown" id="test3" tabindex=3 appDropdown dropdownid="test3"><br/>
                                    &nbsp;&lt;div id="model" class="dropdown-toggle"><br/>
                                    &nbsp;&nbsp;&lt;span> href="" class="body-copy text-black text-bold" ng-model="selectedVal1">{{selectedVal1}}&lt;/span><br/>
                                    &nbsp;&nbsp;&lt;i class="fa fa-angle-down pull-right arrow_size arrow_magenta">&lt;/i><br/>
                                    &nbsp;&lt;/div><br/>
                                    &nbsp;&lt;ul class="dropdown-menu" role="menu" aria-labelledby="model"><br/>
                                    &nbsp;&nbsp;&lt;li role="menuitem" class="dropdown-option body gray mx-1"><br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;a> State &lt;/a><br/>
                                    &nbsp;&nbsp; &lt;/li><br/>
                                    &nbsp;&nbsp;&lt;li role="menuitem" class="dropdown-option body gray mx-1 mt-1" *ngFor="let state of  categoriesValues" [ngClass]="{{'{'}}active':state.state === selectedVal1{{'}'}}" (click)="select1(state.state)"><br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;a>{{'{'}}state.state{{'}'}}&lt;/a><br/>
                                    &nbsp;&nbsp; &lt;/li><br/>
                                    &nbsp;&lt;/ul>
                                      
                            </code>
                        
                      </div>
                    </div>
            </div>
           
        </div>

        <div class="row no-margin">
            <span class="col-12 no-padding H6-heading padding-top-large">Idle and empty - disabled</span>
            <div class="col-12 dropdown disabled " id="test"  appDropdown dropdownid="test">
                <div id="model" class="dropdown-toggle">
                    <span href="" class="body-copy text-black text-bold" ng-model="selectedVal1">{{selectedVal1}}</span>
                    <i class="fa fa-angle-down pull-right arrow_size arrow_magenta disabled"></i>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="model">
                    <li role="menuitem" class="dropdown-option body gray mx-1">
                        <a> State </a>
                    </li>
                    <li class="inset-divider-1px mx-1"></li>
                    <li role="menuitem" class="dropdown-option body gray mx-1 mt-1 " *ngFor="let state of  categoriesValues" [ngClass]="{'active':state.state === selectedVal1}" (click)="select1(state.state)">
                        <a> {{state.state}} </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 no-padding">
                    <a (click)="showClr1Code1 = !showClr1Code1" class="legal-link"> {{showClr1Code1 ? '- Hide Code' : '+ Show Code'}}</a>
                    <div *ngIf="showClr1Code1">
                      <div class="padding-top-small">
                            <code class=" language-markup border brand-magenta d-block">
                                    &lt;div class="col-11 dropdown" id="test3" tabindex=3 appDropdown dropdownid="test3"><br/>
                                    &nbsp;&lt;div id="model" class="dropdown-toggle"><br/>
                                    &nbsp;&nbsp;&lt;span> href="" class="body-copy text-black text-bold" ng-model="selectedVal1">{{selectedVal1}}&lt;/span><br/>
                                    &nbsp;&nbsp;&lt;i class="fa fa-angle-down pull-right arrow_size arrow_magenta disabled">&lt;/i><br/>
                                    &nbsp;&lt;/div><br/>
                                    &lt;ul class="dropdown-menu" role="menu" aria-labelledby="model"><br/>
                                    &nbsp;&nbsp;&lt;li role="menuitem" class="dropdown-option body gray mx-1"><br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;a> State &lt;/a><br/>
                                    &nbsp;&nbsp; &lt;/li><br/>
                                    &nbsp;&nbsp;&lt;li role="menuitem" class="dropdown-option body gray mx-1 mt-1" *ngFor="let state of  categoriesValues" [ngClass]="{{'{'}}active':state.state === selectedVal1{{'}'}}" (click)="select1(state.state)"><br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;a>{{'{'}}state.state{{'}'}}&lt;/a><br/>
                                    &nbsp;&nbsp; &lt;/li><br/>
                                    &nbsp;&lt;/ul>
                                    &lt;/div>
                                      
                            </code>
                        
                      </div>
                    </div>
            </div>
        </div>
    
 <div class="row no-margin">
            <span class="col-12 no-padding H6-heading padding-top-large">Idle and empty</span>
            <div class="col-12 dropdown" id="test1" tabindex=2 appDropdown dropdownid="test1">
                <div id="model" class="dropdown-toggle">
                    <span href="" class="body-copy text-black text-bold" ng-model="selectedVal1">{{selectedVal1}}</span>
                    <i class="fa fa-angle-down pull-right arrow_size arrow_magenta"></i>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="model">
                    <li role="menuitem" class="body gray mx-1">
                        <a> State </a>
                    </li>
                    <li class="inset-divider-1px mx-1"></li>
                    <li role="menuitem" class="dropdown-option body gray mx-1 mt-1" *ngFor="let state of  categoriesValues" [ngClass]="{'active':state.state === selectedVal1}" (click)="select1(state.state)">
                        <a> {{state.state}} </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 no-padding">
                    <a (click)="showClr1Code2 = !showClr1Code2" class="legal-link"> {{showClr1Code2 ? '- Hide Code' : '+ Show Code'}}</a>
                    <div *ngIf="showClr1Code2">
                      <div class="padding-top-small">
                            <code class=" language-markup border brand-magenta d-block">
                                    &lt;div class="col-11 dropdown" id="test3" tabindex=3 appDropdown dropdownid="test3"><br/>
                                    &nbsp;&lt;div id="model" class="dropdown-toggle"><br/>
                                    &nbsp;&nbsp;&lt;span> href="" class="body-copy text-black text-bold" ng-model="selectedVal1">{{selectedVal1}}&lt;/span><br/>
                                    &nbsp;&nbsp;&lt;i class="fa fa-angle-down pull-right arrow_size arrow_magenta">&lt;/i><br/>
                                    &nbsp;&lt;/div><br/>
                                    &nbsp;&lt;ul class="dropdown-menu" role="menu" aria-labelledby="model"><br/>
                                    &nbsp;&nbsp;&lt;li role="menuitem" class="dropdown-option body gray mx-1"><br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;a> State &lt;/a><br/>
                                    &nbsp;&nbsp; &lt;/li><br/>
                                    &nbsp;&nbsp;&lt;li role="menuitem" class="dropdown-option body gray mx-1 mt-1" *ngFor="let state of  categoriesValues" [ngClass]="{{'{'}}active':state.state === selectedVal1{{'}'}}" (click)="select1(state.state)"><br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;a>{{'{'}}state.state{{'}'}}&lt;/a><br/>
                                    &nbsp;&nbsp; &lt;/li><br/>
                                    &nbsp;&lt;/ul>
                                    &lt;/div>
                                      
                            </code>
                        
                      </div>
                    </div>
            </div>
        </div>
   <div class="row no-margin">
            <span class="col-12 no-padding H6-heading padding-top-large">Optional icon signifier</span>
            <div class="col-12 no-padding d-flex align-items-center">
                <div class="pr-2"><span class="fa fa-square box-style"></span></div>
                <div class="col-11 dropdown" id="test3" tabindex=3 appDropdown dropdownid="test3">
                    <div id="model" class="dropdown-toggle">
                        <span href="" class="body-copy text-black text-bold" ng-model="selectedVal1">{{selectedVal1}}</span>
                        <i class="fa fa-angle-down pull-right arrow_size arrow_magenta"></i>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="model">
                        <li role="menuitem" class="dropdown-option body gray mx-1">
                            <a> State </a>
                        </li>
                        <li class="inset-divider-1px mx-1"></li>
                        <li role="menuitem" class="dropdown-option body gray mx-1 mt-1" *ngFor="let state of  categoriesValues" [ngClass]="{'active':state.state === selectedVal1}" (click)="select1(state.state)">
                            <a> {{state.state}} </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 no-padding">
                    <a (click)="showClr1Code3 = !showClr1Code3" class="legal-link"> {{showClr1Code3 ? '- Hide Code' : '+ Show Code'}}</a>
                    <div *ngIf="showClr1Code3">
                      <div class="padding-top-small">
                            <code class=" language-markup border brand-magenta d-block">
                                    &lt;div class="pr-2">&lt;span class="fa fa-square box-style">&lt;/span>&lt;/div><br/>
                                    &lt;div class="col-11 dropdown" id="test3" tabindex=3 appDropdown dropdownid="test3"><br/>
                                    &nbsp;&lt;div id="model" class="dropdown-toggle"><br/>
                                    &nbsp;&nbsp;&lt;span> href="" class="body-copy text-black text-bold" ng-model="selectedVal1">{{selectedVal1}}&lt;/span><br/>
                                    &nbsp;&nbsp;&lt;i class="fa fa-angle-down pull-right arrow_size arrow_magenta">&lt;/i><br/>
                                    &nbsp;&lt;/div><br/>
                                    &nbsp;&lt;ul class="dropdown-menu" role="menu" aria-labelledby="model"><br/>
                                    &nbsp;&nbsp;&lt;li role="menuitem" class="dropdown-option body gray mx-1"><br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;a> State &lt;/a><br/>
                                    &nbsp;&nbsp; &lt;/li><br/>
                                    &nbsp;&nbsp;&lt;li role="menuitem" class="dropdown-option body gray mx-1 mt-1" *ngFor="let state of  categoriesValues" [ngClass]="{{'{'}}active':state.state === selectedVal1{{'}'}}" (click)="select1(state.state)"><br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;a>{{'{'}}state.state{{'}'}}&lt;/a><br/>
                                    &nbsp;&nbsp; &lt;/li><br/>
                                    &nbsp;&lt;/ul>
                                    &lt;/div>
                                      
                            </code>
                        
                      </div>
                    </div>
            </div>
        </div>
        <div class="row no-margin">
            <span class="col-12 no-padding H6-heading padding-top-large">Optional help text</span>
            <div class="col-12 dropdown" id="test4" tabindex=4 appDropdown dropdownid="test4">
                <div id="model" class="dropdown-toggle">
                    <span href="" class="body-copy text-black text-bold" ng-model="selectedVal1">{{selectedVal1}}</span>
                    <i class="fa fa-angle-down pull-right arrow_size arrow_magenta"></i>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="model">
                    <li role="menuitem" class="dropdown-option body gray mx-1">
                        <a> State </a>
                    </li>
                    <li class="inset-divider-1px mx-1"></li>
                    <li role="menuitem" class="dropdown-option body gray mx-1 mt-1" *ngFor="let state of  categoriesValues" [ngClass]="{'active':state.state === selectedVal1}" (click)="select1(state.state)">
                        <a> {{state.state}} </a>
                    </li>
                </ul>
            </div>
            <span class="col-12 legal no-padding">Optional messaging text</span>
            <div class="col-12 no-padding">
                    <a (click)="showClr1Code4 = !showClr1Code4" class="legal-link"> {{showClr1Code4 ? '- Hide Code' : '+ Show Code'}}</a>
                    <div *ngIf="showClr1Code4">
                      <div class="padding-top-small">
                            <code class=" language-markup border brand-magenta d-block">
                                    &lt;div class="col-11 dropdown" id="test3" tabindex=3 appDropdown dropdownid="test3"><br/>
                                    &nbsp;&lt;div id="model" class="dropdown-toggle"><br/>
                                    &nbsp;&nbsp;&lt;span> href="" class="body-copy text-black text-bold" ng-model="selectedVal1">{{selectedVal1}}&lt;/span><br/>
                                    &nbsp;&nbsp;&lt;i class="fa fa-angle-down pull-right arrow_size arrow_magenta">&lt;/i><br/>
                                    &lt;/div><br/>
                                    &lt;ul class="dropdown-menu" role="menu" aria-labelledby="model"><br/>
                                    &nbsp;&nbsp;&lt;li role="menuitem" class="dropdown-option body gray mx-1"><br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;a> State &lt;/a><br/>
                                    &nbsp;&nbsp; &lt;/li><br/>
                                    &nbsp;&nbsp;&lt;li role="menuitem" class="dropdown-option body gray mx-1 mt-1" *ngFor="let state of  categoriesValues" [ngClass]="{{'{'}}active':state.state === selectedVal1{{'}'}}" (click)="select1(state.state)"><br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;a>{{'{'}}state.state{{'}'}}&lt;/a><br/>
                                    &nbsp;&nbsp; &lt;/li><br/>
                                    &nbsp;&lt;/ul><br/>
                                    &lt;/div>
                                    &lt;span class="col-12 legal no-padding">Optional messaging text&lt;/span>
                            </code>
                        
                      </div>
                    </div>
            </div>
        </div>
</div>
</div>