@import "src/assets/scss/global-variables.scss";
.TMO-SERVER-ERROR-MODAL {   
    @mixin modal-width($min-width, $max-width) {
    min-width: $min-width;
    max-width: $max-width;
}
    .dialog {  
        @media #{$tablets-md},
               #{$desktops-lg},
               #{$desktops-xl}{
               @include modal-width(320px, 400px); 
        }
        
        
    }
}
     
