<div class="TMO-SERVER-ERROR-MODAL">
    <div class="container">
      <div class="row padding-top-xxl padding-bottom-xxl">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
          <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Server Error</button>
        </div>
      </div>
      <div class="dialog-container">
        <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
          <div class="row no-margin text-center">
            <span mat-dialog-title class="col-12 no-padding black Display5 ">We're having some trouble.</span>
          </div>
          <div class="row no-margin padding-top-medium ">
            <div class="col-12 no-padding text-center body">We're sorry-our systems are currently unavailable. Please try again later.</div>
          </div>
          <div class="row mx-0 padding-top-xl">
            <div class="col-12 no-padding padding-left-xsmall ">
                
                  <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="close()">Go to previous page</button>
                  
                  
             
            </div>
          </div>
          </div>
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
    </div>