<div class="TMO-PAPERLESS-TERMS-AND-CONDITIONS">
<div class="container" id="termsAndConditionModalPage">
      <app-header></app-header>
      <div class="row no-margin padding-top-large-xs padding-top-large-sm padding-top-xl">
        <div class="col-12 text-center">
          <span class="Display3">Paperless Billing Terms & Conditions</span>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 padding-top-medium">
          <p class="legal mb-0 ">The T-Mobile Paperless Billing Terms and Conditions ("PBTC") are in addition to your T-Mobile Terms and Conditions, Service Agreement and any applicable terms and conditions for other services or equipment that you receive (collectively "Agreement"). To the extent there is a conflict between these PBTC and your Agreements these PBTC will govern. By agreeing to the PBTC you will receive your Bill or Payment Reminder (collectively "Bill") electronically according to the following terms:
        </div>
      </div>
    <div class="row"  >
        <div class="col-12 col-md-10 offset-md-1 legal black">
        <p class="mb-0 legal-bold black padding-vertical-xsmall">1. Paperless Billing </p> <p class="legal">You may view your paperless Bill online by accessing your account at https://my.t-mobile.com/ or by following the instructions provided to you in your paperless billing e-mail or text message notice.</p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">2. Payment</p> <p class="legal">You must pay the amount due listed in your paperless Bill by the due date in order to avoid service interruption and to remain eligible to access your paperless Bill.  </p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">3. Bill Notice</p> <p class="legal">T-Mobile will attempt to send your paperless Bill notice to your current e-mail address and/or T-Mobile phone number listed in T-Mobile's records, if receiving such notice via text message. You must keep your notice e-mail address and designated phone number current and contact T-Mobile directly if you do not receive your paperless Bill notice. You agree to hold T-Mobile harmless for any delay or failure to deliver or receive the paperless Bill notice. </p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">4. Paper Bill Copies</p> <p class="legal">By accepting these PBTC terms, you will no longer receive a paper Bill from T-Mobile. However, you may print a paper copy of your paperless Bill and you may also request a mailed copy of a paper Bill for an additional charge. </p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">5. Paper Bill Copies</p> <p class="legal">By accepting these PBTC terms, you will no longer receive a paper Bill from T-Mobile. However, you may print a paper copy of your paperless Bill and you may also request a mailed copy of a paper Bill for an additional charge. </p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">6. Starting Paperless Billing </p> <p class="legal">Starting Paperless Billing. By agreeing to receive a paperless Bill instead of a paper Bill, you must complete all the required sign up steps and accept these PBTC terms. It may take several bill cycles before you begin receiving your paperless Bill. You are required to provide T-Mobile with accurate information and to keep that information current in order to continue receiving paperless Billing. </p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">7. CANCELLATION</p> <p class="legal">YOU MAY CANCEL PAPERLESS BILLING AT ANY TIME AND REQUEST TO RECEIVE A PAPER BILL BY GOING TO THE BILLING TAB OF THE PROFILE SECTION IN MY T-MOBILE OR IN THE MY ACCOUNT APPLICATION ON YOUR PHONE OR BY CONTACTING CUSTOMER CARE. T-Mobile reserves the right to deny or cancel paperless Billing at any time in its sole discretion. </p>
        <p class="mb-0 legal-bold black padding-vertical-xsmall">8. Password Security</p> <p class="legal">Access to your paperless Bill is through your My T-Mobile account. A temporary password may have been sent to you via text message. You must sign up for a My T-Mobile account which requires a user name and password. It is your responsibility to protect and safeguard all user names and passwords for paperless Billing.</p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">9. Updating Contact Information</p> <p class="legal">T-Mobile does not automatically update or change your personal information and you must update or confirm any changes to your personal information, including any changes to your e-mail address or phone number for Bill notices, by visiting your account at My T-Mobile or by contacting Customer Care. </p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">10. System Compatibility and Blocking</p> <p class="legal">The ability to receive paperless Bill notices via e-mail notice requires an active e-mail address, internet connection, and compatible computing systems. The ability to receive paperless Bill notices via SMS text message requires an active T-Mobile account and phone number, as well as an SMS capable device. If you have elected to receive your paperless Bill in Portable Document Format (PDF), you may need to upgrade your computer’s PDF reader program to view your paperless PDF Bill. If you are experiencing difficulty accessing or viewing your paperless Bill, please contact Customer Care. Please note that some service providers block e-mail from senders who are not listed in contacts or on safe lists, so you may not receive your paperless Bill notice unless you specifically add T-Mobile to your contacts or safe list. </p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">11. Discrepancies</p> <p class="legal">Any disputes regarding the accuracy or completeness of your paperless Bill shall be subject to the dispute resolution terms and conditions in the Agreement for your T-Mobile account and service. </p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">12. Notices</p> <p class="legal">T-Mobile reserves the right to change the PBTC at any time and to provide notice electronically or by other means. You agree to accept legal and other notices (such as notices about changes to your T-Mobile Terms and Conditions, rate plan, equipment, services, features, or equipment installment plan) electronically. </p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">13. EXCLUSIONS OF WARRANTIES</p> <p class="legal">THE PAPERLESS BILLING SERVICE IS PROVIDED "AS IS", "WITH ALL FAULTS", AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMIT, WARRANTIES OF TITLE, MERCHANTABILITY, NON-INFRINGEMENT, OR FITNESS FOR A PARTICULAR PURPOSE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. YOU ASSUME ALL RESPONSIBILITY AND RISK FOR USE OF THE PAPERLESS BILLING SERVICE. T-MOBILE DOES NOT WARRANT THAT THE PAPERLESS BILLING INFORMATION, PROCESSES, OR SERVICES WILL BE UNINTERRUPTED, ACCURATE, COMPLETE, USEFUL, FUNCTIONAL, OR BUG-OR-ERROR-FREE. IF APPLICABLE STATE LAW DOES NOT ALLOW THE DISCLAIMER OF CERTAIN IMPLIED WARRANTIES, THE RELEVANT PORTIONS OF THE ABOVE EXCLUSION MAY NOT APPLY. </p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">14. Acknowledgments</p> <p class="legal">By accepting these PBTC terms, you acknowledge that you: (i) can access and read these PBTC terms, (ii) can access your paperless Bill as described above; and (iii) consent to receiving your Bill exclusively through electronic means.</p> 
        <p class="mb-0 legal-bold black padding-vertical-xsmall">15. Authority</p> <p class="legal">By accepting these PBTC terms you agree and represent that you have the authority to accept and receive paperless billing (and, if applicable, discontinue receiving a paper Bill) for this T-Mobile account, including the authority to agree to the PBTC terms and conditions herein. </p>
    </div>
    </div>
    <div class="row ">
      <div class="col-12   padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl text-center">
            <button class="PrimaryCTA full-btn-width" appButtonripple (click)="gotopreviouspage()">Back</button>
      </div>
    </div>
</div>
</div>