@import "src/assets/scss/global-variables.scss";
.TMO-ENTER-BANK-INFO {
  .editbanknum::placeholder {
    font-style: italic;
  }
  form input[type="text"]:focus+label {
    color: $brand-magenta;
  }
  .display-inline-block {
    display: inline-block;
  }
  .remove-desc {
    margin-left: $XS;
    position: relative;
    margin-top: 2px;
  }
  .delete-icon {
    transform: scale(1.4);
  }
  .margin-left-large {
    margin-left: $L;
  }
  .m-t-4 {
    margin-top: $Base;
  }
  @media #{$alldeviceexceptsmartphone} {
    .lineheight {
      line-height: 1.9rem;
    }
  }
  .lineheight {
    line-height: 2.2rem;
  }
  .z-index-0 {
    z-index: 0;
  }
  .nickName input[ng-reflect-model=""]:valid:not(:focus)~label {
    bottom: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    position: absolute;
    top: 20px;
    margin-top: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    color: #6A6A6A
  }
  @media #{$smartphones-xs},
  #{$smartphones-sm} {
    .nickName input[ng-reflect-model=""]:valid:not(:focus)~label {
      font-size: 14px;
    }
  }
  @media #{$smartphones-xxs} {
    .nickName input[ng-reflect-model=""]:valid:not(:focus)~label {
      font-size: 12px;
    }
  }
  .textfield input[type="tel"]:valid:not(:focus) + label {
    top: 35%;
    margin-top: -16px;
    color: #6A6A6A;
}
}
