<div class="TMO-ENTER-BANK-INFO ">
  <div class="container">
    <div class="main-content">
      <form #bankInfoform="ngForm">
        <div class="col-12-xs text-center padding-vertical-medium">
          <span class="Display4 mb-0" tabindex="0" [attr.aria-label]="newBankInfo?'Enter bank information':'Edit bank information'">{{newBankInfo?'Enter bank information':'Edit bank information'}}</span>
        </div>
        <div class="col-12 no-padding  padding-bottom-small">
          <div class="full-bleed-divider"></div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="floatingLabel textfield no-padding">
              <input tabindex="0" type="text" role="text" aria-label="enter Name on account" id="nameOnaAccount" minlength="8" maxlength="50"
                pattern="[a-zA-Z\s\-\.]*" name="nameOnaAccount" class="input body black" [ngClass]="{'border-red':nameOnaAccount.invalid && !nameOnaAccount.pristine && !nameOnaAccount.errors?.required}"
                [(ngModel)]="bankinfo.nameOnaAccount" required #nameOnaAccount="ngModel">
              <label for="nameOnaAccount" class="labelpointer" [ngClass]="[(nameOnaAccount.invalid && !nameOnaAccount.pristine && !nameOnaAccount.errors?.required) ? 'legal color-red redClass' : '',
           (!nameOnaAccount.invalid )   ? 'legal' : '',
          ( nameOnaAccount.errors?.required ) ? 'body' : '']">Enter name on account</label>
              <div class="input-animation"></div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-12 col-md-10  offset-md-1 ">
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="nameOnaAccount.errors?.minlength||(nameOnaAccount.errors?.pattern && !nameOnaAccount.errors?.minlength)"  [tabindex]="nameOnaAccount.errors?.minlength||(nameOnaAccount.errors?.pattern && !nameOnaAccount.errors?.minlength)?0:-1"
            aria-label="Enter a valid name">
              Enter a valid Name
            </p>
            <span class="pull-right " *ngIf="nameOnaAccount.invalid && !nameOnaAccount.pristine && !nameOnaAccount.errors?.required">
              <i class="errormessageimg warning-red-regular-16x14 m-t-4  pull-right" [ngClass]="{'z-index-0':visible||deleteVisible}" [tabindex]="nameOnaAccount.errors?.minlength||(nameOnaAccount.errors?.pattern && !nameOnaAccount.errors?.minlength)?0:-1"
              aria-label="Error icon"></i>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-10  offset-md-1 padding-top-small">
            <div class="floatingLabel textfield no-padding">
              <input tabindex="0" aria-label="enter account number" type="tel" id="accountNumber" minlength="9" maxlength="16" pattern="[0-9]*"
                #accountNumber="ngModel" [(ngModel)]="bankinfo.accountNumber" appCustomformat name="accountNumber" class="input body black"
                required [ngClass]="{'border-red':accountNumber.invalid && !accountNumber.pristine && !accountNumber.errors?.required && bankinfo.accountNumber,
                'editbanknum':(!newBankInfo)}" [placeholder]="newBankInfo?'XXXXXXXXX':'*****6789'">
              <label for="accountNumber" class="labelpointer" [ngClass]="[(accountNumber.invalid && !accountNumber.pristine && !accountNumber.errors?.required && bankinfo.accountNumber ) ? 'legal color-red redClass' : '',
                    (!accountNumber.invalid )   ? 'legal' : '',
                    ( accountNumber.errors?.required ) ? 'body' : '']">Enter account number</label>
              <div class="input-animation"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10  offset-md-1 ">
            <p class="legal color-red text-left errormessage padding-top-xsmall validErrorMsg mb-0" *ngIf="(accountNumber.errors?.minlength && bankinfo.accountNumber)||(accountNumber.errors?.pattern && !accountNumber.errors?.minlength)" [tabindex]="(accountNumber.errors?.minlength && bankinfo.accountNumber)||(accountNumber.errors?.pattern && !accountNumber.errors?.minlength)?0:-1"
            aria-label="Enter valid account number">
              Enter a valid account number
            </p>
            <span class="pull-right" *ngIf="accountNumber.invalid && !accountNumber.pristine && !accountNumber.errors?.required && bankinfo.accountNumber">
              <i class="errormessageimg warning-red-regular-16x14 m-t-4  pull-right" [ngClass]="{'z-index-0':visible||deleteVisible}" [tabindex]="(accountNumber.errors?.minlength && bankinfo.accountNumber)||(accountNumber.errors?.pattern && !accountNumber.errors?.minlength)?0:-1"
              aria-label="Error icon"></i>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-10  offset-md-1 padding-top-small">
            <div class="floatingLabel textfield no-padding" id="test">
              <input class="input placedoldervisible body black" #rountingNumber="ngModel" ng-focus="hasfocus=true"  ng-blur="hasfocus=false"
                [(ngModel)]="bankinfo.rountingNumber" id="rountingNumber" maxlength="11" minlength="11" name="rountingNumber"
                tabindex="0" aria-label="enter routing number" required type="text" [ngClass]="{'border-red':rountingNumber.invalid && !rountingNumber.pristine && !rountingNumber.errors?.required && bankinfo.rountingNumber}"
                placeholder="" appCustomformat>
              <label for="rountingNumber" id="bankNumberLabel" class="labelpointer" [ngClass]="[(rountingNumber.invalid && !rountingNumber.pristine && !rountingNumber.errors?.required && bankinfo.rountingNumber) ? 'legal color-red redClass' : '',
                  (!rountingNumber.invalid )   ? 'legal' : '',
                  ( rountingNumber.errors?.required ) ? 'body' : '']">Enter routing number</label>
              <div class="input-animation"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10  offset-md-1 ">
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="(rountingNumber.errors?.minlength && bankinfo.rountingNumber)||(rountingNumber.errors?.pattern && !rountingNumber.errors?.minlength)" [tabindex]="(rountingNumber.errors?.minlength && bankinfo.rountingNumber)||(rountingNumber.errors?.pattern && !rountingNumber.errors?.minlength)?0:-1"
            aria-label="Enter valid routing number">
              Enter a valid routing number
            </p>
            <span class="pull-right" *ngIf="rountingNumber.invalid && !rountingNumber.pristine && !rountingNumber.errors?.required">
              <i class="errormessageimg  warning-red-regular-16x14 m-t-4  pull-right" [ngClass]="{'z-index-0':visible||deleteVisible}" [tabindex]="(rountingNumber.errors?.minlength && bankinfo.rountingNumber)||(rountingNumber.errors?.pattern && !rountingNumber.errors?.minlength)?0:-1"
              aria-label="Error icon"></i>
            </span>
            <a tabindex="0" *ngIf="newBankInfo" aria-label="How do I find my routing or account number" class="legal-link text-decoration-underline padding-top-xsmall-md padding-top-xsmall-lg padding-top-xsmall-xl"
              id="acNumberModalLink" (click)="showModal()" (keydown.enter)="showModal()">How do I find my routing or account number?</a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 padding-top-small">
            <div class="floatingLabel textfield no-padding nickName">
              <input tabindex="0" type="text" role="text" aria-label="enter nickname" id="nickName" name="nickName" class="input body black" minlength="8" maxlength="50"
                [(ngModel)]="bankinfo.nickName" #nickName="ngModel" [ngClass]="{'border-red':nickName.invalid && !nickName.pristine && bankinfo.nickName!=''}"
                value={{bankinfo.nickName}}>
              <label for="nickName" class="labelpointer" [ngClass]="[(nickName.invalid && !nickName.pristine && bankinfo.nickName!='') ? 'legal color-red redClass' : '',
                    (!nickName.invalid && bankinfo.nickName!='' )   ? 'legal' : '',
                  ( bankinfo.nickName=='' ) ? 'body' : '']">Nickname</label>
              <div class="input-animation"></div>
            </div>

          </div>
        </div>
        <div class="row ">
          <div class="col-12 col-md-10  offset-md-1 ">
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="nickName.errors?.minlength||(nickName.errors?.pattern && !nickName.errors?.minlength)" [tabindex]="(nickName.errors?.minlength||(nickName.errors?.pattern && !nickName.errors?.minlength))?0:-1"
            aria-label="Enter valid name">
              Enter a valid name
            </p>
            <span class="pull-right " *ngIf="nickName.invalid && !nickName.pristine">
              <i class="errormessageimg warning-red-regular-16x14 m-t-4  pull-right" [ngClass]="{'z-index-0':visible||deleteVisible}"   [tabindex]="(nickName.errors?.minlength||(nickName.errors?.pattern && !nickName.errors?.minlength))?0:-1"
              aria-label="Error icon"></i>
            </span>
          </div>
          <div class="col-12 col-md-10  offset-md-1 ">
            <a class="legal padding-top-xsmall-md padding-top-xsmall-lg padding-top-xsmall-xl" tabindex="0" aria-label="optional field">
              Optional</a>
          </div>
        </div>

        <div class="row">

          <div class="col-12 col-md-10  offset-md-1 padding-top-medium" *ngIf="saveToWalletCheck && newBankInfo">
            <div class="d-flex align-items-center">
              <div class="col-12 checkbox inline">
                <label>
                  <input class="legal" type="checkbox" tabindex="-1" name="saveToMyWallet" [(ngModel)]="saveToMyWallet" [checked]='saveToMyWallet'>
                  <div class="legal indicator" tabindex="0" aria-label="Save to My Wallet checkbox" (keydown.enter)="saveToWalletToggle()">
                    <span class="legal check1"></span>
                  </div>
                </label>
                <span class="lineheight margin-left-large body mb-1" tabindex="0" aria-label="Save to My Wallet">Save to My Wallet</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-10 offset-md-1 padding-top-medium">
            <div class="d-md-flex align-items-center">
              <div class="col-12 col-md-6 checkbox inline" [ngClass]="{'col-md-6 pl-0':!newBankInfo}">
                <label>
                  <input class="legal" type="checkbox" tabindex="-1" name="setDefault" [(ngModel)]="setDefault" [checked]='setDefault'>
                  <div class="legal indicator" tabindex="0" aria-label="Set as default checkbox" (keydown.enter)="setDefaultToggle()">
                    <span class="legal check1"></span>
                  </div>
                </label>
                <span class="lineheight margin-left-large body mb-1" tabindex="0" aria-label="Set as default">Set as default</span>
              </div>
              <div class="col-12 col-md-6 no-padding padding-top-medium-xs padding-top-medium-sm" *ngIf="!newBankInfo">
                <span class="body red float-md-right cursor" id="removeLink" tabindex="0" aria-label="Remove from My Wallet" (click)="onSubmit(newBankInfo)"
                  (keydown.enter)="onSubmit(newBankInfo)">
                  <i class="fa fa-trash delete-icon"></i>
                  <span class="remove-desc">Remove from My Wallet</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-padding  padding-vertical-large padding-vertical-medium-xs padding-vertical-medium-sm">
          <div class="col-12 col-md-8  offset-md-2 text-center  ">
            <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
              <button class="PrimaryCTA w-100 float-md-left float-lg-left float-xl-left" appButtonripple [disabled]="!bankInfoform.valid"
                role="button" tabindex="0" [attr.aria-label]="'click here to '+(!newBankInfo)?'Save edits':(saveToWalletCheck?'Continue':'Save payment method')">{{(!newBankInfo)?'Save edits':(saveToWalletCheck?'Continue':'Save payment method')}}</button>
            </div>
            <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
              <button class="SecondaryCTA blackCTA w-100 float-md-right float-lg-right float-xl-right" appButtonripple role="button" tabindex="0"
                aria-label="click here to cancel">Cancel</button>
            </div>
          </div>
        </div>
      </form>

      <div class="dialog-container">
        <div class="dialog animation-out" [ngClass]="{'animation-in':visible}" (keydown.escape)="closeModal()" [tabindex]="visible?0:-1"
          id="acNumberModal" (keydown)="backTabEvent($event,'acNumberModal','acNumberModalImage')">
          <div class="row">
            <div class="col-10 offset-1 no-padding text-center">
              <p class="text-center legal" [tabindex]="visible?0:-1">We accept checking account payments from US-based checking accounts.</p>
              <p class="text-center legal" [tabindex]="visible?0:-1">Locate the account and routing numbers on your checks based on the example below.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 no-padding text-center padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">
              <span [tabindex]="visible?0:-1" (keydown.tab)="moveToTop('acNumberModal')" id="acNumberModalImage">
                <img class="imgwidth" src="assets/img/otp/group.png">
              </span>
            </div>
          </div>
        </div>
        <div class="overlay" (click)="closeModal()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
      </div>

      <div class="dialog-container">
        <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':deleteVisible}" [tabindex]="visible?0:-1"
          id="deleteModal" (keydown.escape)="closeDeleteModal()" id="deleteModal" (keydown)="backTabEvent($event,'deleteModal','deleteModalCancelBtn')">
          <div class="row">
            <div class="col-12 text-center">
              <p class="Display4" [tabindex]="deleteVisible?0:-1" aria-label="Are you sure you want to remove this payment method from your wallet?">Are you sure you want to remove this payment method from your wallet?</p>
              <p class="body padding-top-medium" [tabindex]="deleteVisible?0:-1" aria-label="Note: removing will not impact any payments you've already scheduled with this method.">Note: removing will not impact any payments you've already scheduled with this method.</p>
            </div>

          </div>
          <div class=" mx-md-0 padding-top-medium text-right ">
            <div class="col-12 no-padding padding-left-xsmall ">
              <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple [tabindex]="deleteVisible?0:-1" aria-label="click here to remove">Yes, remove</button>
              <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (keydown.tab)="moveToTop('deleteModal')" [tabindex]="deleteVisible?0:-1"
                aria-label="click here to cancel" id="deleteModalCancelBtn">Cancel</button>
            </div>
          </div>
        </div>
        <div class="overlay" (click)="closeDeleteModal()" [ngClass]="{'overlay-in':deleteVisible,'overlay-out':!deleteVisible}"></div>
      </div>
    </div>
  </div>
</div>
