<div class="TMO-ALERTS-WARNING-NAVIGATION-COMPONENT">
  <div class="container padding-bottom-xl">
    <app-header></app-header>
    <app-notification 
      alertType="Warning"
      [alertResolveURL] = "goToUrl"
      alertIcon="warning-outline-black">
    </app-notification>
    <!-- Begin: Dummy Code-->
    <div [ngClass]="{'slide-content':!hideNotification}">
    <div class="Display4 text-center padding-vertical-xl"><span tabindex="0" aria-label="Sample Page">Sample Page</span> </div>
    <div class="text-center"><img src="assets/img/tmo-logo.png" tabindex="0" aria-label="image"/> </div>
    <p *ngFor="let data of repeatData" tabindex="0" 
    aria-label="Lorem ipsum dolor sit amet, per ea aeterno habemus, duo eius aeque an, quo sumo nonumy facilisis ne. Nullam mollis in nec,
    no posse verterem nam. At veri persecuti necessitatibus nam, mutat utinam tibique qui et. Sea et ipsum graece eleifend,
    expetendis mnesarchum nam ad. Ut iisque philosophia his. Error labores sit et, ne sit possim aperiam, vel ut erat augue
    ridens.">Lorem ipsum dolor sit amet, per ea aeterno habemus, duo eius aeque an, quo sumo nonumy facilisis ne. Nullam mollis in nec,
      no posse verterem nam. At veri persecuti necessitatibus nam, mutat utinam tibique qui et. Sea et ipsum graece eleifend,
      expetendis mnesarchum nam ad. Ut iisque philosophia his. Error labores sit et, ne sit possim aperiam, vel ut erat augue
      ridens.
    </p>
  </div>
    <!-- End: Dummy Code -->
    <!-- Begin: Below Code is to mimic Notification interactions -->
    <div id="solveIssue" class="padding-bottom-small body-bold">
      <span tabindex="0" aria-label="Navigated to resolve critical notification. Solve by enabling below switch">Navigated to resolve critical notification. Solve by enabling below switch</span> </div>
    <label class="switch" >
      <input type="checkbox" [checked]="resolveError" (click) ="resolveCriticalAlert()">
      <span class="slider round" tabindex="0" aria-label="click here to check"> </span>
    </label>
    <!-- End: Notification interactions -->
  </div>
</div>
