<div class="TMO-AUTO-PAY-OFF-2">
  <div class="container">
    <div class="main-content">
      <app-header></app-header>
     <div class="row background-gray05">
        <div class=" col-12 text-center padding-vertical-medium no-padding-md ">
          <div class="body vertical-middle d-flex-xs">
          <span tabindex="0" aria-label="Now accepting Apple Pay"> Now accepting Apple Pay</span>
          <span class="m-b-n-7 apple-icon" tabindex="0" aria-label="Apple Pay graphic"></span>
          </div>      
      </div>   
    </div>
      <div class="row">
        <div class="col-12 text-center">
          <p class="Display3 padding-top-large-xs padding-top-large-sm padding-top-xl"><span  tabindex="0" aria-label="AutoPay is OFF">AutoPay is OFF</span></p>
          <p class="body black padding-top-small"><span  tabindex="0" aria-label="Save $40.00 per month by signing up for Autopay"> Save $40.00 per month by signing up for Autopay</span></p>
        </div>
        <div class="col-8 offset-2 text-center col-md-12 offset-md-0 padding-top-small">
          <p class="body-bold black padding-bottom-xsmall" ><span tabindex="0" aria-label="First AutoPay would be: Dec 18">First AutoPay would be: Dec 18</span></p>
          <p class="legal padding-bottom-small" ><span tabindex="0" aria-label="Your bill due: Dec 20">Your bill due: Dec 20</span></p>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 no-padding">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="row" *ngFor="let data of paymentData">
        <div class="col-12 col-md-10 offset-md-1">
          <paymentblade [title]="data.paymentMethod" [titleClass]="'Display6'" [icon]="data.iconClass" [card]="data.cardNumber" [url]="data.url" [cardNumberClass]="data.cardNumberClass" [topDivider]="''" ></paymentblade>
        </div>
      </div>
      <div class="col-12 no-padding" *ngFor="let card of paymentMethod;let i=index;">
          <radiobuttonpaymentblade [cardStatus]="card.cardNumber" [card]="card.cardName" [icon]="card.iconClass" [radioButtonId]="i"
          [radioButtonName]="'radiobutton'" [selected]=0 ></radiobuttonpaymentblade>
    </div>
    </div>
    
    <div class="row">
      <div class="col-12 text-center" tabindex="-1">
        <p class="legal padding-top-small padding-bottom-medium-xs padding-bottom-medium-sm padding-bottom-small padding-top-medium-md padding-top-medium-lg padding-top-medium-xl" ><span class="legal-link cursor" routerLink="/faq" tabindex="0" aria-label="See the FAQs link"  (keydown.enter)="faqLink()">See the FAQs</span><span tabindex="0" aria-label="all your AutoPay questions."> all your AutoPay questions.</span></p>
        <p class="legal"><span tabindex="0" aria-label="By submitting, you agree to">By submitting, you agree to</span> <span class="legal-link cursor" tabindex="0" aria-label="Terms and Conditions">Terms and Conditions</span></p>
      </div>
    </div>
    <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
      <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" role="button" appButtonripple tabindex="0" aria-label="Agree & Submit">Agree & Submit</button>
        </div>
        <div class="col-12 col-md-6  float-md-left pl-md-0 ">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" role="button" appButtonripple tabindex="0" aria-label="Back" (click)="gotopreviouspage()">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
