@import "src/assets/scss/global-variables.scss";
.TMO-AUTO-PAY-OFF-2{
    .background-gray05{
        background-color:$gray05;
        border-bottom:1px solid #e8e8e8;
    }
    .m-b-n-7{
        margin-bottom:-7px;
    }
    
    
    @media #{$smartphones-xs}, #{$smartphones-sm}{
        .main-content {
            min-height: calc(100vh - 320px);
        }
       
    }
    @media #{$smartphones-xxs}, #{$smartphones-xs}, #{$smartphones-sm} {
        ::ng-deep .m-t-4{
            margin-top:-4px;
        }
    }
    
}