<div class="TMO-RADIO-PAYMENT-BLADE-PAGE">

  <div class="row" >
    <div class="col-12 col-md-10 offset-md-1  padding-vertical-small cursor" id="blade{{radioButtonId}}" tabindex="0" (keydown.enter)="radioChecked(radioButtonId)" (click)="radioChecked(radioButtonId)">
      <!-- <div class="body radio-container radio-padding-top"> -->
      <div class="body radio-container mt-1" tabindex="-1">
        <input class="check pr-1" type="radio" tabindex="-1" id={{radioButtonId}} name="{{radioButtonName}}" [checked]='radioButtonId==selected'  (click)="radioButtonFocused(radioButtonId)"
          [disabled]='disableState===true'>
        <label for={{radioButtonId}} class="labelClass mb-0"></label>
        <div class="check"></div>
      </div>
      <div class="cursor p-t-5 pt-md-1 pt-lg-1" [ngClass]="{'d-flex justify-content-between':iconImage!=''}">
        <span [ngClass]="{'col-8 no-padding':cardStatusReceived!='Delete'}">
          <span class={{iconImage}} [ngClass]="{'no-icon':iconImage==''}" *ngIf="iconImage"></span>
          <span class="Display6 d-inline-block align-top {{disableClass}}" [ngClass]="{'padding-horizontal-xsmall':iconImage!=''}">{{cardNumber}}</span>
        </span>
        <span class="pull-right d-inline-block align-top {{customClass}}" [ngClass]="{'col-4 no-padding text-right':cardStatusReceived!='Delete'}"
          *ngIf="cardStatusReceived!='Delete'">{{cardStatusReceived}}</span>
        <span class="pull-right d-inline-block align-top col-4 no-padding text-right" *ngIf="cardStatusReceived==='Delete'">
          <a (click)="BreakDown()" class="black text-decoration-underline">{{cardStatusReceived}}</a>
        </span>


        <div class="d-flex justify-content-between padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small" *ngIf="altText">
          <span class="body width79 m-l-36">{{data}}</span>
          <span class="body-bold-link pull-right black d-table" [ngClass]="{'legal': showLegal}" (click)="BreakDown()" >{{details}}</span>
        </div>
        <div class="d-flex ml-4 pl-2 padding-top-xsmall" *ngIf="!showErrorIcon && note" [ngClass]="{'pl-2':showErrorIcon}">
            <i class="exclamation-circle d-inline d-table padding-horizontal-small pr-0 mt-md-1" *ngIf="showErrorIcon"></i>
            <span class=" body mt-lg-1">{{note}}</span>
          </div>
      </div>
    </div>

    <div class="col-12 col-md-10 offset-md-1 padding-top-xsmall" *ngIf="showErrorIcon && note">
      <div class="d-flex ml-4 pl-2" [ngClass]="{'pl-2':showErrorIcon}">
        <i class="exclamation-circle d-inline d-table padding-horizontal-small pr-0 mt-md-1" *ngIf="showErrorIcon"></i>
        <span class="padding-horizontal-xsmall body mt-lg-1">{{note}}</span>
      </div>
    </div>

  </div>
  <div *ngIf="bottomDivider" class="row">
    <div class="col-12 col-md-10 offset-md-1">
      <div class={{bottomDividerClass}}></div>
    </div>
  </div>
</div>
