@import "src/assets/scss/global-variables.scss";
.TMO-RADIO-PAYMENT-BLADE-PAGE{
    .no-icon {
        width: 45px;
        height: 27px;
        display: inline-block;
    }
    .m-l-8 {
        margin-left: 8px;
    }
    .width79{
        @media #{$smartphones-xs}{
            width:72%;   
        }
    }
    // .middle-align{
    //      @media #{$smartphones-xs},#{$smartphones-sm}{
    //         line-height: 1.7;
    //      }
    // }
    .radio-container label {
        padding: 0px 0px 0px 36px;
    }
    .radio-container
    {
        vertical-align: middle;
    }
    // .m-l-36 {
    //   //  margin-left: 36px;
    //  }

    @media #{$alldeviceexceptsmartphone}, #{$smartphones-xxs} {
        // .m-l-36 {
        //    // margin-left: 0px;
        //  }
    }      
    .p-t-5{
        @media #{$smartphones-xs}, #{$smartphones-sm} {
            padding-top: 5px;
        }
    }
}