<div class="TMO-STYLEGUIDE-SEARCH">
  <div class="container padding-bottom-large">
    <div class="row padding-vertical-xl">
      <div class="col-12">
        <p class="Display4  text-center">Search</p>
      </div>
    </div>
    <div class="row padding-bottom-small">
      <div class="col-12 H6-heading">
        <p>Expandable from Right to left</p>
      </div>
    </div>
    <app-search-reusable [animationType]="'right'" [inputArray]="inputArray" [persistent]=false [elementId]=1></app-search-reusable>
    <div class="row padding-top-xl padding-bottom-small">
      <div class="col-12 H6-heading">
        <p>Expandable from Left to Right</p>
      </div>
    </div>
    <app-search-reusable [animationType]="'left'" [inputArray]="inputArray" [persistent]=false [elementId]=2></app-search-reusable>
    <div class="row padding-top-xl padding-bottom-small">
      <div class="col-12 H6-heading">
        <p>Expandable from Center</p>
      </div>
    </div>
    <app-search-reusable [animationType]="'center'" [inputArray]="inputArray" [persistent]=false [elementId]=3></app-search-reusable>
    <div class="row padding-top-xl padding-bottom-small">
        <div class="col-12 H6-heading">
          <p>Persistent</p>
        </div>
      </div>
      <app-search-reusable [inputArray]="inputArray" [persistent]=true></app-search-reusable>
  </div>
</div>