<div class="TMO-STYLEGUIDE-TABLES">
    <div class="Display4 text-center padding-vertical-xl">Tables</div>
    <div>
        <div class="Display6 text-center padding-vertical-xl">Standard table</div>        
  <app-table [TestData]="testData" [noofrecordsperpage]="4" [currentpage]="1" 
  [TableHeaders]="tableHeaders"></app-table>
  
  <div class="Display6 text-center padding-vertical-xl">Standard table with checkbox</div> 
  <app-table [TestData]="testData" [noofrecordsperpage]="4" [currentpage]="1" 
  [TableHeaders]="tableHeadersChkbox" [withCheckbox]=true></app-table>

  <div class="Display6 text-center padding-vertical-xl">Fixed table with striping</div> 
  <app-table [TestData]="testData" [noofrecordsperpage]="4" [currentpage]="1" 
  [TableHeaders]="tableHeaders"[stripped]=true></app-table>

  <div class="Display6 text-center padding-vertical-xl">Fixed table with striping and checkbox</div>
  <app-table [TestData]="testData" [noofrecordsperpage]="4" [currentpage]="1" 
  [TableHeaders]="tableHeadersChkbox" [withCheckbox]=true [stripped]=true></app-table>

  <div class="Display6 text-center padding-vertical-xl">Side scrolling table</div>
  <app-table [TestData]="testData" [noofrecordsperpage]="4" [currentpage]="1" 
  [TableHeaders]="tableHeaders1" [ids]="'table1'" [rightscroll]=true></app-table>

  <div class="Display6 text-center padding-vertical-xl">Side scrolling with checkbox table</div>
  <app-table [TestData]="testData" [noofrecordsperpage]="4" [currentpage]="1" 
  [TableHeaders]="tableHeaders1" [withCheckbox]=true [ids]="'table2'" [rightscroll]=true></app-table>
  
  <div class="Display6 text-center padding-vertical-xl">Side scrolling with stripe</div>
  <app-table [TestData]="testData" [noofrecordsperpage]="4" [currentpage]="1" 
  [TableHeaders]="tableHeaders1" [stripped]=true [ids]="'table3'" [rightscroll]=true></app-table>
  
  <div class="Display6 text-center padding-vertical-xl">Side scrolling with checkbox and stripe</div>
  <app-table [TestData]="testData" [noofrecordsperpage]="4" [currentpage]="1" 
  [TableHeaders]="tableHeaders1" [withCheckbox]=true [stripped]=true [ids]="'table4'" [rightscroll]=true></app-table>
</div>
</div>