<div class="TMO-PROFILE-PRIVACY-NOTIFICATION-NEW">
  <div class="container">
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12 pb-3 pb-md-4">
        <p class="Display3 text-center">Privacy & Notifications</p>
        <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm no-padding">
          <p class="legal pb-1">{{subTitle}}</p>
          <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
            <div id="model" class="dropdown-toggle">
              <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
              <span class="arrow-down pull-right mt-1"></span>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="model">
              <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
                (click)="select(state.name)">
                <a> {{state.name}} </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-center cursor" routerLink='/privacyNotificationMarketingCommunicationsNew' routerLinkActive="active">
            <div class="col-10 no-padding pull-left py-3 py-md-4">
              <p class="Display6">Marketing Communications</p>
              <p class="body d-inline-block pt-2 pt-md-3 col-12 no-padding">Control how T-Mobile sends you information about products and services.</p>
            </div>
            <div class="col-2 no-padding pr-0 fa-lg float-right">
              <span class="arrow-right d-inline-block float-right"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-center cursor" routerLink='/privacyNotificationNotificationsNew' routerLinkActive="active">
            <div class="col-10 no-padding pull-left py-3 py-md-4">
              <p class="Display6">Notifications</p>
              <p class="body d-inline-block pt-2 pt-md-3 col-12 no-padding">Manage service alerts and policy updates.</p>
            </div>
            <div class="col-2 no-padding pr-0 fa-lg float-right">
              <span class="arrow-right d-inline-block float-right"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-center cursor" routerLink='/privacyNotificationAdvertisingNew' routerLinkActive="active">
            <div class="col-10 no-padding py-3 py-md-4">
              <p class="Display6">Advertising & Insights</p>
              <p class="body d-inline-block pt-2 pt-md-3 col-12 no-padding">Programs that use non-personally identifiable information related to data and device usage.</p>
            </div>
            <div class="col-2 no-padding fa-lg">
              <span class="arrow-right d-inline-block float-right"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px pb-3 pb-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>