<div class="TMO-FAMILY-CONTROL-WEBGAURD-COMPONENT">
    <div class="container">
        <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
            <div class="col-12 ">
                <p class="Display3 text-center">Web Guard</p>
                <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm no-padding">
                    <p class="legal pb-1">{{subTitle}}</p>
                    <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
                        <div id="model"  class="dropdown-toggle">
                            <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
                            <span class="arrow-down pull-right mt-1"></span>
                        </div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="model">
                            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
                                (click)="select(state.name)">
                                <a> {{state.name}} </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 padding-top-small-xs padding-top-small-sm padding-top-medium padding-bottom-small">
                <p class="Display6">Permissions</p>
                <p class="padding-top-xsmall body">Does not restrict content when browsing over Wi-Fi or accessing content via any application.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 verticalAlign" tabindex=0>
                    <div class="body radio-container">
                            <input type="radio" id="No Restrictions" name="selector" checked>
                            <label for="No Restrictions">No Restrictions</label>
                            <div class="check"></div>
                    </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 verticalAlign padding-top-xsmall" tabindex=0>
                    <div class="body radio-container">
                            <input type="radio" id="Young Adult" name="selector">
                            <label for="Young Adult">Young Adult</label>
                            <div class="check"></div>
                    </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 verticalAlign padding-top-xsmall" tabindex=0>
                
                <div class="body radio-container">
                        <input type="radio" id="Teen" name="selector">
                        <label for='Teen'>Teen</label>
                        <div class="check"></div>
                </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 verticalAlign padding-top-xsmall" tabindex=0>
                <div class="body radio-container">
                        <input type="radio" id="Child" name="selector">
                        <label for="Child">Child</label>
                        <div class="check"></div>
                    </div>
            </div>
        </div>
        <div class="row padding-top-xsmall" tabindex=0>
            <div class="col-12 col-md-10 offset-md-1">
                <span class="pt-2 cursor body-link pt-md-3" *ngIf=!showDetails (click)="detailsPayment()">Show Filter Details</span>
                <span class="pt-2 cursor body-link pt-md-3" *ngIf=showDetails (click)="detailsPayment()">Hide Filter Details</span>
            </div>
        </div>
        <div class="row padding-top-xl" *ngIf="showDetails">
            <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
                <p class="body"> <span class=" body-bold">No restriction</span> Provides a completely open and unrestructed browsing experience.</p>
            </div>
            <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
                <p class="body"> <span class=" body-bold">Young Adult</span> Recommended for ages 17 and up. Content may contain frequent or intense graphic violence, sexual content, profanity and crude humor/</p>
            </div>
            <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
                <p class="body"> <span class=" body-bold">Teen</span> Recommended Recommended for ages 13 and up. May contain mild/infrequent violence, sexual content, situations or themes, profanity or crude humor, alcohol, tobacco or drug use, and simulated gambling</p>
            </div>
            <div class="col-12 col-md-10 offset-md-1">
                <p class="body"> <span class=" body-bold">Child</span> Recommended for all ages. Contains little or no sexual content, situation or themes, no strong or coarse language, no alcohol, tobacco or drug use, and no gambling. Some websites may contain minimal cartoon or fantasy violence.</p>
            </div>    
        </div>
        <div class="row padding-top-xl">
            <div class="col-12 no-padding">
                <hr class="full-bleed-divider m-0">
            </div>
        </div>
        <div class="row no-padding  padding-top-medium-xs padding-top-medium-sm padding-vertical-xl padding-bottom-large-xs padding-bottom-large-sm">
            <div class="col-12 col-md-10 offset-md-1 text-center">
                <div class="col-12 col-md-12 text-center padding-bottom-small-xs padding-bottom-small-sm  pr-0 p-l-0-xs p-l-0-sm">
                    <button class="PrimaryCTA full-btn-width " appButtonripple>Back</button>
                </div>
            </div>
        </div>
    </div>
</div>