<div class="TMO-UPGRADE-SERVICES-ERROR-PAGE">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-0 Display3 padding-top-large-xs padding-top-xl">Upgrade your services</p>
     </div>
    </div>
    <app-lineselector></app-lineselector>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 body padding-bottom-medium d-flex">
          <div class="exclamation-circle "></div>
          <div class="body black p-l-10"> You don't have permission to make changes to this account. Please contact the Primary Account Holder, or contact Customer Care if you need help.</div>
        </div>
    </div>
    
    <div class="row padding-bottom-large" *ngFor="let upgradeService of upgradeServices;let i=index;">
      <div class="col-12 col-md-10 offset-md-1">
        <p class="mb-0  H6-heading padding-bottom-small padding-bottom-xsmall-xs padding-bottom-xsmall-sm">{{upgradeService.title}}</p>

        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 " *ngFor="let dataItem of upgradeService['data'];let k=index">
        <div class="d-flex padding-top-small" *ngIf="dataItem.price!=0 && dataItem.name!=''">
          <div class="col-1 col-md-1 offset-md-1 no-padding pl-md-1 mt-md-1 d-flex align-items-center">
            <div class="body radio-container">
              
              <input class="check pr-1"   (click)="checkFunc($event)"  type="radio" id={{upgradeService.title}}{{k}} name={{upgradeService.title}}  [disabled]="dataItem.maxLimitDesc != emptyValue" >
              <label class="mb-0" for={{upgradeService.title}}{{k}}></label>
              <div class="check"></div>
            </div>
          </div>
          <div class="col-7  col-md-6 no-padding pl-1 d-flex align-items-center">
            <p class="Display6 black mb-0">{{dataItem.name}}</p>
          </div>
          <div class="col-3  col-md-2 no-padding pr-1 d-flex align-items-center justify-content-flex-end">
            <span class="H6-heading black pull-right">{{dataItem.price}}</span>
          </div>
          <div class="col-1 no-padding pr-md-1 d-flex align-items-center justify-content-flex-end">
            <i class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation': !upgradeServiceAccordion[i][k], 'arrow-up arrowup_rotation': upgradeServiceAccordion[i][k]}" (click)="this.upgradeServiceAccordion[i][k] = !this.upgradeServiceAccordion[i][k]"></i>
          </div>
        </div>
        
        <div class="accordion-content" [ngClass]="{'content-open':(upgradeServiceAccordion[i][k] && dataItem.price!=0)}">
        <div  class="col-12  no-padding">
          <div *ngIf="dataItem.maxLimitDesc != emptyValue" class="col-10 offset-1 col-md-8 offset-md-2 pl-1 pr-0 body padding-top-large">
            <div class="body-bold black">{{dataItem.maxLimitDesc}}</div>
          </div>
          <div class="padding-vertical-small col-10 offset-1 col-md-8 offset-md-2 pl-1 pr-0 ">
            <p class="mb-0 body">{{dataItem.description1}}</p>
            <p class="mb-0 body">{{dataItem.description2}}</p>
            <p class="mb-0 body">{{dataItem.description3}}</p>
          </div>
        </div>
      </div>
        <div class="col-12 col-md-10 offset-md-1 no-padding" [ngClass]="{'padding-top-small':!upgradeServiceAccordion[i][k] && dataItem.price!=0 && dataItem.name!=''}">
          <div class="inset-divider-1px" ></div>
        </div>
        <div class="d-flex padding-vertical-small" *ngIf="dataItem.price==0">
          <div class="col-6 offset-1 col-md-7 offset-md-2 no-padding pl-1">
            <p class="Display6 black mb-0">{{dataItem.name}}</p>
          </div>
          <div class="col-5 col-md-2 pl-0 pr-md-1">
            <span class="body-link black cursor pull-right">{{dataItem.description}}</span>
          </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 no-padding" *ngIf="dataItem.price==0 ">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
    </div>
    <div class="row padding-bottom-xl padding-top-xsmall-md padding-top-xsmall-lg padding-top-xsmall-xl  padding-bottom-large-xs padding-bottom-large-sm ">
      <div class="col-12 col-lg-8 offset-lg-2 text-center no-padding">
        <div class="col-12 col-md-6 float-md-right">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple [disabled]=!isChecked>Continue</button>
        </div>
        <div class="col-12 col-md-6 float-md-left padding-top-small-xs padding-top-small-sm">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-large-xs padding-bottom-xl">
        <p class="mb-0 legal">Data Passes: Qualifying postpaid plan and qualifying credit required. Passes do not include voice or messaging. Pass
          charges may appear on bill statement for effective date of the pass or be charged at the time of purchase. May
          purchase one add'l pass in same category prior to expiration of active pass. Partial megabytes rounded up. Full
          speeds available up to specified data allotment, including tethering; then slowed. No domestic or international
          roaming, unless Pass is specifically for roaming. Service available for time/usage amount provided by pass. For
          time period, a day is 12 am to 11:59 pm Pacific Time. Usage applied first to passes, next to any applicable promotional
          data, then monthly plan allotment.</p>
      </div>
    </div>
  </div>
</div>