@import "src/assets/scss/global-variables.scss";
.TMO-UPGRADE-SERVICES-ERROR-PAGE {
    .p-l-10
    {
        padding-left: 10px;
    }
    .exclamation-circle {
        width: 30px;
        height: 20px;
    }
    @media #{$smartphones-xs} {
        .exclamation-circle {
            width: 60px;
        }
    }

    @media #{$alldeviceexceptsmartphone} {
        .mt-md-1{
        margin-top: 0.5rem !important;
        }
        }
     @media #{$smartphones-xs},#{$smartphones-sm}{
        .mt-md-1{
        margin-top: 0.35rem;
        }
        }
        
}