<div class="TMO-ERROR-PAGE">
  <div class=" container">
      <div class="main-content">
    <app-header></app-header>
      <div class="row pt80 padding-bottom-xxxl">
        <div class="col-12 text-center">
          <span class="Display3 black">Oops--something went wrong.</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center padding-top-small">
          <span class="body d-inline-block">
            We're having trouble completing your order. Please try again, or contact Customer Care for help.
          </span>
        </div>
      </div>
      
      </div>
      <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
          <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
              <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Contact us</button>
            </div>
            <div class="col-12 col-md-6  float-md-left pl-md-0 ">
              <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple >Back</button>
            </div>
          </div>
        </div>
  </div>
</div>