@import "src/assets/scss/global-variables.scss";
.TM0-PLAN-CONFIRMATION-PAGE { 
    .width-8{
        width: $XS;
    }
    .max-height-600 {
        max-height: 600px;
    }
    .full-btn-width {
        width: 100%;
    }
    @media #{$alldeviceexceptsmartphone}{
        .padding-bottom-110-md {
            padding-bottom: 110px;
        }
       
    }

    @media #{$alldeviceexceptsmartphone}{
        .btn-wd {
            width:288px;
            @media #{$tablets-md}{
                width: 100%;
            }
        }
    }
    @media #{$smartphones-xs}, #{$smartphones-sm}{
        .full-btn-width-xs {
            width: 100%;
            max-width: 100%;
        }    
    }

    .disclaimer-lineheight {
        line-height: 12px;
    }
    
    .body-link{
        color: $gray60;
    }
    .body-link:hover{
        color: $brand-magenta;
        text-decoration:underline;
    }
}