<div class="TMO-AUTO-PAY-OFF-3">
  <div class="container">
    <div class="main-content">
      <app-header></app-header>
      <div class="row">
        <div class="col-12 text-center">
          <p class="Display3 padding-top-large-xs padding-top-large-sm padding-top-xl">
            <span tabindex="0" aria-label="AutoPay is ON">AutoPay is ON</span></p>
        </div>
        <div class="col-8 offset-2 text-center col-md-12 offset-md-0 padding-top-small-xs padding-top-small-sm padding-top-medium padding-bottom-small">
          <p class="body-bold black padding-bottom-small">
            <span tabindex="0" aria-label="Next AutoPay payment: Dec 18th">Next AutoPay payment: Dec 18th</span></p>
          <p class="legal">
            <span tabindex="0" aria-label="Next bill due: Dec 19th">Next bill due: Dec 19th</span> </p>
          <p class="legal">
            <span tabindex="0"
            aria-label="Payments will process on the 18th of each month">Payments will process on the 18th of each month</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <paymentblade [title]="paymentMethod" [titleClass]="'Display6'" [icon]="iconClass" [card]="cardNumber"></paymentblade>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 padding-top-small">
          <p class="body-link cursor" (click)="change()" (keydown.enter)= "change()">
            <span tabindex="0" id="cancelAutopayLink" aria-label="Click here to cancel autopay">Cancel AutoPay</span></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p class="legal padding-top-small padding-bottom-medium-xs padding-bottom-medium-sm padding-bottom-small padding-top-medium-md padding-top-medium-lg padding-top-medium-xl"><span class="legal-link cursor" routerLink="/faq" tabindex="0" aria-label="See the FAQs">See the FAQs</span> <span tabindex="0" aria-label="all your AutoPay questions.">all your AutoPay questions.</span></p>
        <p class="legal"><span tabindex="0" aria-label="By submitting, you agree to">By submitting, you agree to</span> <span class="legal-link cursor" tabindex="0" aria-label="Terms and conditions">Terms and Conditions</span></p>
      </div>
    </div>
    <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
      <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple aria-label="click here to agree and submit" tabindex="0" role="button">Agree & Submit</button>
        </div>
        <div class="col-12 col-md-6  float-md-left pl-md-0 ">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple (click)="gotopreviouspage()" aria-label="click here to go back" tabindex="0" role="button">Back</button>
        </div>
      </div>
    </div>
    <!-- <div class="dialog-container" [attr.aria-hidden]="visible">
      <div class="dialog animation-out" tabindex="-1" [ngClass]="{'animation-in':visible}" id="effectiveDatePage">
        <div class="row text-center padding-horizontal-medium">
          <span mat-dialog-title class="col-12 black Display5 ">
            <span [tabindex]="visible?0:-1" aria-label="Are you sure you want to cancel AutoPay?">Are you sure you want to cancel AutoPay?</span>
          </span>
        </div>
        <div class="row padding-horizontal-medium">
          <div class="col-10 offset-1 text-center padding-top-small-xs padding-top-small-sm padding-top-medium padding-bottom-medium padding-bottom-large-xs padding-bottom-large-sm">
            <p class="body">
              <span [tabindex]="visible?0:-1" aria-label="If you cancel AutoPay, you will lose your $40 discount">If you cancel AutoPay, you will lose your $40 discount</span></p>
          </div>
        </div>
        <div class="row no-margin">
          <div class="col-10 offset-1  d-flex padding-bottom-large">
            <div class="exclamation-circle d-table"></div>
            <p class="pl-2 body">
              <span [tabindex]="visible?0:-1" aria-label="A One-time payment will be requited to any outstanding balance due on Jan 01, 2018">A One-time payment will be requited to any outstanding balance due on Jan 01, 2018</span>
            </p>
          </div>
        </div>
        <div class="row text-center padding-horizontal-xsmall"> -->
          <!--<div class="col-12">
            <button class="PrimaryCTA-accent pull-right modal-button ml-2" appButtonripple (click)="close()" role="button" aria-label="Yes,Cancel AutoPay">Yes, Cancel AutoPay</button>
            <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()" role="button" aria-label="No Thanks">No thanks</button>
          </div>-->
        <!-- </div>
      </div>
    </div> -->
    <div class="dialog-container" [attr.aria-hidden]="!visible" >
      <div class="dialog animation-out" id="CancelAutopayModal" tabindex="-1" [ngClass]="{'animation-in':visible}" (keydown)="backTabEvent($event,'CancelAutopayModal','btnYesCancel')" (keydown.escape)="close()">
        <div class="row text-center padding-horizontal-medium">
          <span mat-dialog-title class="col-12 black Display5 " [tabindex]="visible?0:-1" aria-label="Are you sure you want to cancel AutoPay?" >Are you sure you want to cancel AutoPay?</span>
        </div>
        <div class="row padding-horizontal-medium">
          <div class="col-10 offset-1 text-center padding-top-small-xs padding-top-small-sm padding-top-medium padding-bottom-medium padding-bottom-large-xs padding-bottom-large-sm">
            <p class="body" [tabindex]="visible?0:-1" aria-label="If you cancel AutoPay, you will lose your $40 discount">If you cancel AutoPay, you will lose your $40 discount</p>
          </div>
        </div>
        <div class="row no-margin">
          <div class="col-10 offset-1  d-flex padding-bottom-large">
            <span class="exclamation-circle" [tabindex]="visible?0:-1" aria-label="exclamation icon"></span>
            <p class="pl-2 body" [tabindex]="visible?0:-1" aria-label="A One-time payment will be requited to any outstanding balance due on Jan 01, 2018">A One-time payment will be requited to any outstanding balance due on Jan 01, 2018</p>
          </div>
        </div>
        <div class="row text-center padding-horizontal-xsmall">
          <div class="col-12">
            <button class="PrimaryCTA-accent pull-right modal-button ml-2" appButtonripple (click)="close()" [tabindex]="visible?0:-1" aria-label="Yes, Cancel AutoPay">Yes, Cancel AutoPay</button>
            <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()" id="btnYesCancel" [tabindex]="visible?0:-1" aria-label="No thanks">No thanks</button>
          </div>
        </div>
      </div>
    <div *ngIf="visible" class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}">
    </div>
  </div>
  </div>
</div>
