@import "src/assets/scss/global-variables.scss";
.TMO-AUTO-PAY-OFF-3{
   .exclamation-circle{
       width:30px !important;
       margin-top:4px;
   }
   @media (max-width:767px) {
   .modal-button{
       max-width: 120px;
       text-overflow: ellipsis;
   }
}
}