@import "src/assets/scss/global-variables.scss";
.TMO-OTP-CONFIRMATION-PITCH {  
    .divbgcolor
    {
       background-color:  $gray10;
    }
    .container-fluid
    {
        padding-right: 0px;
        padding-left: 0px;
    }

    @media #{$smartphones-xs},#{$smartphones-sm} {
        .margin-xs 
        {
            margin-left: 0px;
            margin-right: 0px;
    }
    }
}