<div class="TMO-OTP-CONFIRMATION-PITCH ">
  <div class="container padding-bottom-large whitediv">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 text-center padding-top-large-xs padding-top-large-sm padding-top-xl legal">
        <span class="check-icon"></span>
      </div>
    </div>
    <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-xl">
      <div class="col-12  text-center">
        <p class="mb-0 Display3">Thanks</p>
        <p class="mb-0 body-bold padding-top-medium black">Your Visa ending in 1234 was charged $1.01 on Dec 18, 2017</p>
        <p class="mb-0 legal padding-top-xsmall">Allow up to two hours for this payment to post on your account</p>
      </div>
    </div>
    <div class="row margin-xs padding-top-small-xs padding-top-small-sm padding-top-large">
      <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 p-l-0-xs p-r-0-xs">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 body-bold padding-top-small" (click)="detailsPayment()">
        <span class="pull-left black Display6" *ngIf=!showDetails>Show details</span>
        <span class="pull-left black Display6" *ngIf=showDetails>Hide details</span>
        <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!showDetails,'arrow-up arrowup_rotation':showDetails}"></span>
      </div>
    </div>
    <div class="accordion-content" [ngClass]="{'content-open': showDetails}">
      <div class="row body padding-top-small">
        <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" *ngFor="let dataPass of dataPassInfo">
          <span class="pull-left ">{{dataPass.descTitle}}:</span>
          <span class="pull-right ">{{dataPass.value}}</span>
        </div>
      </div>
      
    </div>
    <div class="row margin-xs padding-top-small">
      <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 p-l-0-xs p-r-0-xs">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
  </div>
  <div class="divbgcolor ">
    <div class = "divbgcolor">
    <div class="container no-padding">
        <div class="col-12  p-l-0-xs p-r-0-xs no-padding">
          <!-- <div class="full-bleed-divider"></div> -->
        </div>
      <div class="row padding-top-medium-xs no-margin padding-top-medium-sm padding-top-xl divbgcolor">
        <div class="col-12  text-center">
          <p class="mb-0 Display5">Save time and avoid late fees by setting up AutoPay.</p>
          <p class="mb-0 body padding-vertical-medium black">First AutoPay payment date:
            <span class="mb-0 body-bold black"> Dec 10, 2017 </span>
          </p>
          </div>
          <div class="col-12 col-md-10 offset-md-1 ">
            <paymentblade [title]="descTitle" [card]="value" [icon]="iconClass" [bottomDivider]="bottomDivider"></paymentblade>
          </div>
          <div class="col-12  text-center">
          <p class="mb-0 legal padding-top-medium legal black">Have questions about AutoPay?
            <span class="mb-0 legal-link black cursor">See FAQs</span>
          </p>
          <p class="mb-0 legal padding-top-xl legal black">By submitting, you agree to
            <span class="mb-0 legal-link black cursor" routerLink="/termsAndCondition" routerLinkActive="active">Terms and Conditions</span>
          </p>
        </div>
      </div>
      <div class="row no-margin divbgcolor no-padding  padding-top-medium-xs padding-top-medium-sm padding-vertical-xl padding-bottom-large-xs padding-bottom-large-sm">
        <div class="col-12 col-md-8  offset-md-2 text-center  ">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
            <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Sign up for AutoPay</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
            <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>No thanks</button>
          </div>
        </div>
      </div>
  </div>
    </div>  
  </div>