@import "src/assets/scss/global-variables.scss";
.TMO-CLAIM-FLOW {
  .p-r-10 {
    padding-right: 10px;
  }
  .cardSize {
    width: 100%;
  }
  .plainImg {
    width: 32px;
    height: 19px;
    @media #{$tablets-md},#{$desktops-lg},
    #{$desktops-xl} {
      width: 46px;
      height: 28px;
    }
  }
  .input-success {
    border-bottom: 2px solid #09b119;
  }
  .icon-dimensions {
    width: 20px;
    height: 20px;
  }
  .trash-icon {
    transform: scale(1.4);
    color: #e8200d;
  }
  .p-r-8 {
    padding-right: 8px;
  }
  .z-index-0 {
    z-index: 0;
  }
  
  .main-content{
    @media #{$smartphones-xs}, #{$smartphones-sm}{
        min-height: calc(100vh - 320px);
    }
  }

  @media #{$desktops-lg}, #{$desktops-xl} {
    .no-padding-lr {
      padding-left: 0px;
      padding-right: 0px;
   }
  }

  @media #{$desktops-xl} {
    .m-l-25-xl {
      margin-left: 25px;
    }
  }
  @media only screen and (min-width: 450px) and (max-width: 574px) {
    .marginClass {
      margin-left: -6%;
      width: 106%;
    }
  }
}
