<div class="TMO-CLAIM-FLOW">
  <div class="container">
    <div class="main-content">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 text-center padding-top-medium padding-bottom-medium Display4">
        <span tabindex="0" aria-label=" Please confirm payment method">Please confirm payment method.</span>
      </div>
      <div class="col-12 col-md-10 offset-md-1 text-center">
        <span class="body black" tabindex="0" aria-label="For your security, please re-enter your payment information below">For your security, please re-enter your payment information below.</span>
        <span class="body-bold black" tabindex="0" aria-label="We'll only ask you to complete this extra step once">We'll only ask you to complete this extra step once.</span>
      </div>
    </div>
    <div class="row padding-top-xxl-md padding-top-xxl-lg padding-top-xxl-xl padding-top-medium-sm padding-medium-xxl-xs align-items-end padding-top-small">
      <form #credidcardform="ngForm" class="col-12 no-padding d-flex">
        <div class="offset-md-3 col-2 col-sm-1 col-md-1 padding-top-medium-sm padding-top-small-md padding-top-small-lg padding-top-small-xl padding-top-medium-xs">
          <div id="iconId" [ngClass]="cardIcon" class="plainImg m-l-25-xl" tabindex="0" aria-label="express card icon"></div>
        </div>
        <div class="col-10 col-sm-11 col-md-5 p-l-0-xs p-l-0-lg">
          <div class="floatingLabel no-padding textfield marginClass" id="test">
            <input class="input  body black" (keyup)="cardChange($event)" #creditCardNumber="ngModel" [(ngModel)]="creditcard.creditCardNumber"
              id="creditCardNumber" maxlength="19" minlength="19" name="creditCardNumber" pattern="\d{4} *\d{4} *\d{4} *\d{4}"
              tabindex="0" required="" type="text" [ngClass]="{'input-success':creditCardNumber.valid,'border-red':creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required && creditcard.creditCardNumber}"
              [placeholder]="isBank?'Enter your bank number':'XXXX XXXXXX 12345'" appCustomformat format="creditCardNumber"
              appClearInput>
            <label for="creditCardNumber" id="creditCardNumberLabel" class="labelpointer" 
            [ngClass]="[(creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required && creditcard.creditCardNumber) ? 'legal color-red redClass' : '',
                        (!creditCardNumber.invalid )   ? 'legal' : '',
                        ( creditCardNumber.errors?.required ) ? 'd-none' : '']">
              <span *ngIf="!isBank">Credit card number</span>
              <span *ngIf="isBank">Bank account number</span>
            </label>
            <label for="creditCardNumber" id="creditCardNumberLabel" class="labelpointer" *ngIf="creditCardNumber.errors?.required">
              <span *ngIf="!isBank">Enter your Credit card number</span>
              <span *ngIf="isBank">Enter your Bank account number</span>
            </label>
            <div class="input-animation"></div>
          </div>

        </div>
      </form>
      <div class="offset-md-3 col-2 col-sm-1 col-md-1"></div>
      <div class="col-10 col-sm-11 col-md-5 p-l-0-xs p-l-0-lg pull-left">
        <div class="marginClass d-flex">
        <p class="legal color-red text-left errormessage  padding-top-base mb-0 col-10 pl-0 pr-0" *ngIf="creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required" [tabindex]="credidcardform.invalid?0:-1"
          aria-label="This number doesn’t match our records" [ngClass]="{'z-index-0':deleteModelVisible}">
          This number doesn’t match our records
        </p>
        <p class="pull-right col-2 pr-0 padding-top-base" *ngIf="creditCardNumber.invalid  && !creditCardNumber.pristine && !creditCardNumber.errors?.required">
          <i class="warning-red-regular-16x14 pull-right" [tabindex]="credidcardform.invalid?0:-1" aria-label="error icon"></i>
        </p>
        <p class="pull-right col-2 pr-0 offset-10 padding-top-base" *ngIf="!creditCardNumber.invalid">
          <i class="validated_outline_green_16x14 pull-right"></i>
        </p>
      </div>
      </div>
    </div>
    <div class="text-center padding-top-xl">
      <span tabindex="0" aria-label="Remove from My Wallet" (click)="deleteModelOpen()" (keyDown.enter)="deleteModelOpen()" id="deleteModelLink">
        <i class="fa fa-trash trash-icon p-r-8" aria-hidden="true"></i>
        <span class="body red cursor vertical-align-middle">Remove from My Wallet</span>
      </span>

    </div>
    </div>
    <div class="row padding-top-large padding-bottom-xl">
      <div class="col-12 col-md-8 offset-md-2 text-center no-padding">
        <div class="col-12 col-md-6 padding-right-small padding-bottom-small-xs padding-bottom-small-sm float-md-right float-lg-right float-xl-right">
          <button class="PrimaryCTA PrimaryCTAFull full-btn-width " appButtonripple [disabled]="!credidcardform.valid" tabindex="0"
            role="button" aria-label="click here to continue">Continue</button>
        </div>
        <div class="col-12 col-md-6 padding-left-small float-md-left float-lg-left float-xl-left">
          <button class="SecondaryCTA PrimaryCTAFull blackCTA full-btn-width" appButtonripple tabindex="0" role="button" aria-label="click here to cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-container">
    <div class="dialog animation-out" tabindex="-1" [ngClass]="{'animation-in':deleteModelVisible}" id="deleteModal"
      (keydown.escape)="deleteModelClose()" (keydown)="backTabEvent($event,'deleteModal','deleteModalCancelBtn')">
      <div class="row no-margin text-center">
        <div class="col-12 no-padding">
        <span mat-dialog-title class="black Display3 " [tabindex]="deleteModelVisible?0:-1" aria-label="Are you sure you want to delete">Are you sure you want to delete ?</span>
      </div>
      </div>
      <div class="row no-margin padding-top-medium">
        <div class="col-12 no-padding text-center body">
          <span [tabindex]="deleteModelVisible?0:-1" aria-label="Deleting this payment method won’t affect AutoPay or other people on the account">Deleting this payment method won’t affect AutoPay or other people on the account.</span>
        </div>
      </div>
      <div class="row mx-0 padding-top-medium ">
        <div class="col-12 no-padding padding-left-xsmall ">
          <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="deleteModelClose()" [tabindex]="deleteModelVisible?0:-1"
            aria-label="click here to delete" role="button">Yes, Delete</button>
          <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="deleteModelClose()" [tabindex]="deleteModelVisible?0:-1"
            aria-label="click here to cancel" role="button" id="deleteModalCancelBtn">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay" (click)="deleteModelClose()" [ngClass]="{'overlay-in':deleteModelVisible,'overlay-out':!deleteModelVisible}"></div>

</div>
