/*Version history*/

//Importing  global variables
@import "global-variables.scss";

/*functions start*/

@mixin txt-styles($font-family: $Arial, $font-size: 5px, $line-height: 5px, $letter-spacing: 5px, $font-weight:$normal, $color:$black) {
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-family;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    color: $color;
}

@mixin button-styles($height:48px, $paddingright:16px, $paddingleft:16px, $marginleft:12px, $marginright:12px, $background:$brand-magenta, $color:$white, $borderradius:0px, $border :solid 0px $white, $font-family: $Arial, $font-size: 5px, $letter-spacing: 0.5px, $font-weight:$normal, $outline:none) {
    height: $height;
    padding-right: $paddingright;
    padding-left: $paddingleft;
    margin-left: $marginleft;
    margin-right: $marginright;
    background: $background;
    color: $color;
    border-radius: $borderradius;
    border: $border;
    font-family: $font-family;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    outline-style: $outline;
}

@mixin button_hoverAndActive($background-color:$brand-magenta, $box-shadow:none, $outline:none, $border-color:$brand-magenta, $color:$brand-magenta, $text-decoration:none) {
    background-color: $background-color;
    box-shadow: $box-shadow;
    outline: $outline;
    border-color: $border-color;
    color: $color;
    text-decoration: $text-decoration;
}


@mixin button_focus($background-color:$brand-magenta, $box-shadow:none, $outline:none, $border-color:$brand-magenta, $color:$brand-magenta, $text-decoration:none) {
    background-color: $background-color;
    box-shadow: $box-shadow;
    outline: $outline;
    border-color: $border-color;
    color: $color;
    text-decoration: $text-decoration;
}

@mixin button_disabled($background-color:$brand-magenta, $box-shadow:none, $border-color:$brand-magenta, $color:$brand-magenta, $cursor:not-allowed, $outline:none) {
    background-color: $background-color;
    box-shadow: $box-shadow;
    border-color: $border-color;
    color: $color;
    cursor: $cursor;
    outline: $outline;
    z-index: -1;
}


/*functions end*/


/*Fonts Start*/

@font-face {
    font-family: 'Tele-Nor';
    src: url('assets/fonts/tele-grotesknor.eot');
    src: url('assets/fonts/tele-grotesknor.eot?#iefix') format('embedded-opentype'), url('assets/fonts/tele-grotesknor.woff2') format('woff2'), url('assets/fonts/tele-grotesknor.woff') format('woff'), url('assets/fonts/tele-grotesknor.ttf') format('truetype'), url('assets/fonts/tele-grotesknor.svg#Tele-Grotesk') format('svg');
}

@font-face {
    font-family: 'Tele-Hal';
    src: url('assets/fonts/tele-groteskhal.eot');
    src: url('assets/fonts/tele-groteskhal.eot?#iefix') format('embedded-opentype'), url('assets/fonts/tele-groteskhal.woff2') format('woff2'), url('assets/fonts/tele-groteskhal.woff') format('woff'), url('assets/fonts/tele-groteskhal.ttf') format('truetype'), url('assets/fonts/tele-groteskhal.svg#Tele-Grotesk') format('svg');
}

@font-face {
    font-family: 'Tele-Fet';
    src: url('assets/fonts/tele-groteskfet.eot');
    src: url('assets/fonts/tele-groteskfet.eot?#iefix') format('embedded-opentype'), url('assets/fonts/tele-groteskfet.woff2') format('woff2'), url('assets/fonts/tele-groteskfet.woff') format('woff'), url('assets/fonts/tele-groteskfet.ttf') format('truetype'), url('assets/fonts/tele-groteskfet.svg#Tele-Grotesk') format('svg');
}
@font-face {
    font-family: 'Tele-Ult';
    src:url('assets/fonts/tele-groteskult.eot');
    src:url('assets/fonts/tele-groteskult.eot?#iefix') format('embedded-opentype'), url('assets/fonts/tele-groteskult.woff2') format('woff2'), url('assets/fonts/tele-groteskult.woff') format('woff'), url('assets/fonts/tele-groteskult.ttf') format('truetype'), url('assets/fonts/tele-groteskult.svg#Tele-Grotesk') format('svg');
}
/*Fonts for temporary suspension pages*/
@font-face {
    font-family: 'SFProText-Regular';
    src:url('assets/fonts/SFProText-Regular.eot');
    src:url('assets/fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/SFProText-Regular.woff2') format('woff2'), url('assets/fonts/SFProText-Regular.woff') format('woff'), url('assets/fonts/SFProText-Regular.ttf') format('truetype'), url('assets/fonts/SFProText-Regular.svg#SFProText-Regular') format('svg');
}

@font-face {
    font-family: 'SFProText-Bold';
    src:url('assets/fonts/SFProText-Bold.eot');
    src:url('assets/fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/SFProText-Bold.woff2') format('woff2'), url('assets/fonts/SFProText-Bold.woff') format('woff'), url('assets/fonts/SFProText-Bold.ttf') format('truetype'), url('assets/fonts/SFProText-Bold.svg#SFProText-Bold') format('svg');
}

/*Temporary suspension ends*/
/*Fonts End*/


/*typography classes start*/

@media #{$smartphones-xs},
#{$smartphones-sm} {
    html {
        font-size: 14px;
        line-height: 14px;
    }
    .Display1 {
        @include txt-styles($Tele-Grotesk-Ultr,
        56px,
        54px,
        -1.1px,
        $normal);
    }
    .Display2 {
        @include txt-styles($Tele-Grotesk-Ultr,
        40px,
        38px,
        -0.4px,
        $normal);
    }
    .Display3 {
        @include txt-styles($Tele-Grotesk-Ultr,
        32px,
        30px,
        -0.33px,
        $normal);
    }
    .Display4 {
        @include txt-styles($Tele-Grotesk-Ultr,
        24px,
        22px,
        -0.25px,
        $normal);
    }
    .Display5 {
        @include txt-styles($Tele-Grotesk-Ultr,
        20px,
        18px,
        0px,
        $normal);
    }
    .Display6 {
        @include txt-styles($Tele-Grotesk-Ultr,
        18px,
        18px,
        0px,
        $normal);
    }
    .H1-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        56px,
        54px,
        -1.1px,
        $normal);
    }
    .H2-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        40px,
        38px,
        -0.4px,
        $normal);
    }
    .H3-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        32px,
        30px,
        -0.33px,
        $normal);
    }
    .H4-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        24px,
        22px,
        -0.25px,
        $normal);
    }
    .H5-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        20px,
        18px,
        0px,
        $normal);
    }
    .H6-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        18px,
        18px,
        0px,
        $normal);
    }
    .eyebrow {
        @include txt-styles($Tele-Grotesk-Ultr,
        14px,
        16px,
        0.5px,
        $normal,
        $gray60);
        text-transform: uppercase;
    }
    .body {
        @include txt-styles($Arial,
        14px,
        20px,
        0px,
        $normal,
        $gray60);
    }
    .body-disabled{
        @include txt-styles($Arial,
        14px,
        20px,
        0px,
        $normal,
        $gray60);
        font-style: italic;
    }
    .body-bold {
        @include txt-styles($Arial,
        14px,
        20px,
        0px,
        $bold,
        $gray60);
    }
    .body-link {
        @include txt-styles($Arial,
        14px,
        20px,
        0px,
        $normal,
        $black);
        text-decoration: underline;
    }
    .body-bold-link {
        @include txt-styles($Arial,
        14px,
        20px,
        0px,
        $bold,
        $black);
        text-decoration: underline;
    }
    .legal {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $normal,
        $gray60);
    }
    .legal-bold {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $bold,
        $gray60);
    }
    .legal-link {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $normal,
        $black);
        text-decoration: underline;
    }
    .legal-bold-link {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $bold,
        $black);
        text-decoration: underline;
    }
    .PrimaryCTAFull {
        @include button-styles(64px,
        16px,
        0px,
        0px,
        $brand-magenta,
        $white,
        0px,
        solid 0px $white,
        $Tele-Grotesk-Fet,
        18px,
        0.5px,
        $normal,
        none);
        position: fixed;
        bottom: 0;
        z-index: 10;
        left: 0;
        width: 100%;
        &:hover {
            @include button_hoverAndActive($magenta-mid,
            none,
            none,
            $magenta-mid,
            $white,
            none
            );
        }
        &:focus {
            @include button_focus($magenta-mid,
            none,
            none,
            $magenta-mid,
            $white,
            none);
           
        }
        &:active {
            @include button_hoverAndActive($magenta-dark,
            none,
            none,
            $magenta-dark,
            $white,
            none)
        }
        &:disabled {
            @include button_disabled(#F2F2F2 !important,
            none !important,
            #F2F2F2,
            #A6A6A6 !important,
            not-allowed,
            none);
        }
    }
}

@media #{$smartphones-xxs} {
    html {
        font-size: 12px;
        line-height: 14px;
    }
    .Display1 {
        @include txt-styles($Tele-Grotesk-Ultr,
        54px,
        54px,
        -1.1px,
        $normal);
    }
    .Display2 {
        @include txt-styles($Tele-Grotesk-Ultr,
        38px,
        38px,
        -0.4px,
        $normal);
    }
    .Display3 {
        @include txt-styles($Tele-Grotesk-Ultr,
        30px,
        30px,
        -0.33px,
        $normal);
    }
    .Display4 {
        @include txt-styles($Tele-Grotesk-Ultr,
        22px,
        22px,
        -0.25px,
        $normal);
    }
    .Display5 {
        @include txt-styles($Tele-Grotesk-Ultr,
        18px,
        18px,
        0px,
        $normal);
    }
    .Display6 {
        @include txt-styles($Tele-Grotesk-Ultr,
        16px,
        16px,
        0px,
        $normal);
    }
    .H1-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        54px,
        54px,
        -1.1px,
        $normal);
    }
    .H2-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        38px,
        38px,
        -0.4px,
        $normal);
    }
    .H3-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        30px,
        30px,
        -0.33px,
        $normal);
    }
    .H4-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        22px,
        22px,
        -0.25px,
        $normal);
    }
    .H5-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        20px,
        18px,
        0px,
        $normal);
    }
    .H6-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        16px,
        16px,
        0px,
        $normal);
    }
    .eyebrow {
        @include txt-styles($Tele-Grotesk-Ultr,
        12px,
        16px,
        1px,
        $normal,
        $gray60);
        text-transform: uppercase;
    }
    .body {
        @include txt-styles($Arial,
        12px,
        20px,
        0px,
        $normal,
        $gray60);
    }
    .body-disabled{
        @include txt-styles($Arial,
        12px,
        20px,
        0px,
        $normal,
        $gray60);
        font-style: italic;
    }
    .body-bold {
        @include txt-styles($Arial,
        12px,
        20px,
        0px,
        $bold,
        $gray60);
    }
    .body-link {
        @include txt-styles($Arial,
        12px,
        20px,
        0px,
        $normal,
        $black);
        text-decoration: underline;
    }
    .body-bold-link {
        @include txt-styles($Arial,
        12px,
        20px,
        0px,
        $bold,
        $black);
        text-decoration: underline;
    }
    .legal {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $normal,
        $gray60);
    }
    .legal-bold {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $bold,
        $gray60);
    }
    .legal-link {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $normal,
        $black);
        text-decoration: underline;
    }
    .legal-bold-link {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $bold,
        $bold);
        text-decoration: underline;
    }
    .PrimaryCTAFull {
        @include button-styles(64px,
        16px,
        0px,
        0px,
        $brand-magenta,
        $white,
        0px,
        solid 0px $white,
        $Tele-Grotesk-Fet,
        18px,
        0.5px,
        $normal,
        none);
        position: fixed;
        bottom: 0;
        z-index: 10;
        left: 0;
        width: 100%;
        &:hover {
            @include button_hoverAndActive($magenta-mid,
            none,
            none,
            $magenta-mid,
            $white,
            none);
        }
        &:focus {
            @include button_focus($magenta-mid,
            none,
            none,
            $magenta-mid,
            $white,
            none);
        }
        &:active {
            @include button_hoverAndActive($magenta-dark,
            none,
            none,
            $magenta-dark,
            $white,
            none)
        }
        &:disabled {
            @include button_disabled(#F2F2F2 !important,
            none !important,
            #F2F2F2,
            #A6A6A6 !important,
            not-allowed,
            none);
        }
    }
}

@media #{$smartphones-sm},
#{$alldeviceexceptsmartphone} {
    .PrimaryCTAFull {
        @include button-styles(48px,
        16px,
        16px,
        0px,
        0px,
        $brand-magenta,
        $white,
        0px,
        solid 0px $white,
        $Tele-Grotesk-Fet,
        18px,
        0.5px,
        $normal,
        none);
        left: 0;
        width: 100%;
        &:hover {
            @include button_hoverAndActive($magenta-mid,
            none,
            none,
            $magenta-mid,
            $white,
            none);
        }
        &:focus {
            @include button_focus($magenta-mid,
            none,
            none,
            $magenta-mid,
            $white,
            none);
        }
        &:active {
            @include button_hoverAndActive($magenta-dark,
            none,
            none,
            $magenta-dark,
            $white,
            none)
        }
        &:disabled {
            @include button_disabled(#F2F2F2 !important,
            none !important,
            #F2F2F2,
            #A6A6A6 !important,
            not-allowed,
            none);
        }
    }
}

@media #{$alldeviceexceptsmartphone} {
    
    html {
        font-size: 14px;
        line-height: 14px;
    }

    .Display1 {
        @include txt-styles($Tele-Grotesk-Ultr,
        96px,
        88px,
        -1.95px,
        $normal,
        $black);
    }
    .Display2 {
        @include txt-styles($Tele-Grotesk-Ultr,
        72px,
        64px,
        -1.45px,
        $normal,
        $black);
    }
    .Display3 {
        @include txt-styles($Tele-Grotesk-Ultr,
        56px,
        52px,
        -1.1px,
        $normal,
        $black);
    }
    .Display4 {
        @include txt-styles($Tele-Grotesk-Ultr,
        40px,
        38px,
        -0.4px,
        $normal,
        $black);
    }
    .Display5 {
        @include txt-styles($Tele-Grotesk-Ultr,
        32px,
        30px,
        -0.33px,
        $normal,
        $black);
    }
    .Display6 {
        @include txt-styles($Tele-Grotesk-Ultr,
        24px,
        24px,
        0px,
        $normal,
        $black);
    }
    .H1-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        96px,
        88px,
        -1.95px,
        $normal,
        $black);
    }
    .H2-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        72px,
        64px,
        -1.45px,
        $normal,
        $black);
    }
    .H3-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        56px,
        52px,
        -1.1px,
        $normal,
        $black);
    }
    .H4-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        40px,
        38px,
        -0.4px,
        $normal,
        $black);
    }
    .H5-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        32px,
        30px,
        -0.33px,
        $normal,
        $black);
    }
    .H6-heading {
        @include txt-styles($Tele-Grotesk-Hal,
        24px,
        24px,
        0px,
        $normal,
        $black);
    }
    .eyebrow {
        @include txt-styles($Tele-Grotesk-Ultr,
        16px,
        18px,
        0.8px,
        $normal,
        $gray60);
        text-transform: uppercase;
    }
    .body {
        @include txt-styles($Arial,
        16px,
        24px,
        0.5px,
        $normal,
        $gray60);
    }
    .body-disabled{
        @include txt-styles($Arial,
        16px,
        24px,
        0.5px,
        $normal,
        $gray60);
        font-style: italic;
    }
    .body-bold {
        @include txt-styles($Arial,
        16px,
        24px,
        0.5px,
        $bold,
        $gray60);
    }
    .body-link {
        @include txt-styles($Arial,
        16px,
        24px,
        0.5px,
        $normal,
        $black);
        text-decoration: underline;
    }
    .body-bold-link {
        @include txt-styles($Arial,
        16px,
        24px,
        0.5px,
        $bold,
        $black);
        text-decoration: underline;
    }
    .legal {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $normal,
        $gray60);
    }
    .legal-bold {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $bold,
        $gray60);
    }
    .legal-link {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $normal,
        $black);
        text-decoration: underline;
    }
    .legal-bold-link {
        @include txt-styles($Arial,
        10px,
        12px,
        0.5px,
        $bold,
        $black);
        text-decoration: underline;
    }
}


/*typography classes end*/

.black {
    color: $black;
}

.white {
    color: $white;
}

.brand-magenta {
    color: $brand-magenta;
}

.magenta-light {
    color: $magenta-light;
}

.magenta-dark {
    color: $magenta-dark;
}

.magenta-very-dark {
    color: $magenta-very-dark;
}

.magenta-very-light {
    color: #FFFAFC;
}

.magenta-dark-pressed {
    color: #FFEBF3;
}

.magenta-tertiary-hover {
    color: #31071D;
}

.magenta-tertiary-pressed {
    color: #4C0329;
}

.green {
    color: $green;
}

.green-light {
    color: #51D85E;
}

.red {
    color: $red;
}

.yellow {
    color: $yellow;
}

.gray05 {
    color: $gray05;
}

.gray10 {
    color: $gray10;
}

.gray20 {
    color: $gray20;
}

.gray30 {
    color: $gray30;
}

.gray40 {
    color: $gray40;
}

.gray60 {
    color: $gray60;
}

.gray70 {
    color: $gray70;
}

.gray80 {
    color: $gray80;
}

.gray85 {
    color: $gray85;
}

.no-margin {
    margin: 0;
}
.margin-auto{
    margin: $auto;
}

.no-padding {
    padding: 0;
}

.padding-xxxl {
    padding: $XXXL;
}

.padding-vertical-xxxl {
    padding-top: $XXXL;
    padding-bottom: $XXXL;
}

.padding-horizontal-xxxl {
    padding-right: $XXXL;
    padding-left: $XXXL;
}

.padding-top-xxxl {
    padding-top: $XXXL;
}

.padding-bottom-xxxl {
    padding-bottom: $XXXL;
}

.padding-xxl {
    padding: $XXL;
}

.padding-vertical-xxl {
    padding-top: $XXL;
    padding-bottom: $XXL;
}

.padding-horizontal-xxl {
    padding-right: $XXL;
    padding-left: $XXL;
}

.padding-top-xxl {
    padding-top: $XXL;
}

.padding-bottom-xxl {
    padding-bottom: $XXL;
}

.padding-xl {
    padding: $XL;
}

.padding-vertical-xl {
    padding-top: $XL;
    padding-bottom: $XL;
}

.padding-horizontal-xl {
    padding-right: $XL;
    padding-left: $XL;
}

.padding-top-xl {
    padding-top: $XL;
}

.padding-bottom-xl {
    padding-bottom: $XL;
}

.padding-large {
    padding: $L;
}

.padding-vertical-large {
    padding-top: $L;
    padding-bottom: $L;
}

.padding-horizontal-large {
    padding-right: $L;
    padding-left: $L;
}

.padding-top-large {
    padding-top: $L;
}

.padding-bottom-large {
    padding-bottom: $L;
}

.padding-medium {
    padding: $M;
}

.padding-vertical-medium {
    padding-top: $M;
    padding-bottom: $M;
}

.padding-horizontal-medium {
    padding-right: $M;
    padding-left: $M;
}

.padding-top-medium {
    padding-top: $M;
}

.padding-bottom-medium {
    padding-bottom: $M;
}

.padding-small {
    padding: $S;
}

.padding-vertical-small {
    padding-top: $S;
    padding-bottom: $S;
}

.padding-horizontal-small {
    padding-right: $S;
    padding-left: $S;
}

.padding-top-small {
    padding-top: $S;
}

.padding-bottom-small {
    padding-bottom: $S;
}

.padding-xsmall {
    padding: $XS;
}

.padding-vertical-xsmall {
    padding-top: $XS;
    padding-bottom: $XS;
}

.padding-horizontal-xsmall {
    padding-right: $XS;
    padding-left: $XS;
}

.padding-top-xsmall {
    padding-top: $XS;
}

.padding-bottom-xsmall {
    padding-bottom: $XS;
}

.padding-top-base {
    padding-top: $Base;
}

.padding-bottom-base {
    padding-bottom: $Base;
}

.p-l-16 {
    padding-left: 16px;
}

.p-r-16 {
    padding-right: 16px;
}
.vertical-align-middle{
    vertical-align: middle;
}
.vertical-align-super{
    vertical-align: super;
  }

@media #{$smartphones-xs} {
    .no-padding-xs {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .p-l-0-xs {
        padding-left: 0px;
    }
    .p-r-0-xs {
        padding-right: 0px;
    }
    .p-l-16-xs {
        padding-left: 16px;
    }
    .p-r-16-xs {
        padding-right: 16px;
    }
    .padding-xxxl-xs {
        padding: $XXXL;
    }
    .padding-vertical-xxxl-xs {
        padding-top: $XXXL;
        padding-bottom: $XXXL;
    }
    .padding-horizontal-xxxl-xs {
        padding-right: $XXXL;
        padding-left: $XXXL;
    }
    .padding-top-xxxl-xs {
        padding-top: $XXXL;
    }
    .padding-bottom-xxxl-xs {
        padding-bottom: $XXXL;
    }
    .padding-xxl-xs {
        padding: $XXL;
    }
    .padding-vertical-xxl-xs {
        padding-top: $XXL;
        padding-bottom: $XXL;
    }
    .padding-horizontal-xxl-xs {
        padding-right: $XXL;
        padding-left: $XXL;
    }
    .padding-top-xxl-xs {
        padding-top: $XXL;
    }
    .padding-bottom-xxl-xs {
        padding-bottom: $XXL;
    }
    .padding-xl-xs {
        padding: $XL;
    }
    .padding-vertical-xl-xs {
        padding-top: $XL;
        padding-bottom: $XL;
    }
    .padding-horizontal-xl-xs {
        padding-right: $XL;
        padding-left: $XL;
    }
    .padding-top-xl-xs {
        padding-top: $XL;
    }
    .padding-bottom-xl-xs {
        padding-bottom: $XL;
    }
    .padding-large-xs {
        padding: $L;
    }
    .padding-vertical-large-xs {
        padding-top: $L;
        padding-bottom: $L;
    }
    .padding-horizontal-large-xs {
        padding-right: $L;
        padding-left: $L;
    }
    .padding-top-large-xs {
        padding-top: $L;
    }
    .padding-bottom-large-xs {
        padding-bottom: $L;
    }
    .padding-medium-xs {
        padding: $M;
    }
    .padding-vertical-medium-xs {
        padding-top: $M;
        padding-bottom: $M;
    }
    .padding-horizontal-medium-xs {
        padding-right: $M;
        padding-left: $M;
    }
    .padding-top-medium-xs {
        padding-top: $M;
    }
    .padding-bottom-medium-xs {
        padding-bottom: $M;
    }
    .padding-small-xs {
        padding: $S;
    }
    .padding-vertical-small-xs {
        padding-top: $S;
        padding-bottom: $S;
    }
    .padding-horizontal-small-xs {
        padding-right: $S;
        padding-left: $S;
    }
    .padding-top-small-xs {
        padding-top: $S;
    }
    .padding-bottom-small-xs {
        padding-bottom: $S;
    }
    .padding-xsmall-xs {
        padding: $XS;
    }
    .padding-vertical-xsmall-xs {
        padding-top: $XS;
        padding-bottom: $XS;
    }
    .padding-horizontal-xsmall-xs {
        padding-right: $XS;
        padding-left: $XS;
    }
    .padding-top-xsmall-xs {
        padding-top: $XS;
    }
    .padding-bottom-xsmall-xs {
        padding-bottom: $XS;
    }
    .padding-top-base-xs {
        padding-top: $Base;
    }
    .padding-bottom-base-xs {
        padding-bottom: $Base;
    }
    .PrimaryCTAFull {
        @include button-styles(64px,
        16px,
        16px,
        0px,
        0px,
        $brand-magenta,
        $white,
        0px,
        solid 0px $white,
        $Tele-Grotesk-Fet,
        18px,
        0.5px,
        $normal,
        none);
        position: fixed;
        bottom: 0;
        z-index: 10;
        left: 0;
        width: 100%;
        &:hover {
            @include button_hoverAndActive($magenta-mid,
            none,
            none,
            $magenta-mid,
            $white,
            none);
        }
        &:focus {
            @include button_focus($magenta-mid,
            none,
            none,
            $magenta-mid,
            $white,
            none);
        }
        &:active {
            @include button_hoverAndActive($magenta-dark,
            none,
            none,
            $magenta-dark,
            $white,
            none)
        }
        &:disabled {
            @include button_disabled(#F2F2F2 !important,
            none !important,
            #F2F2F2,
            #A6A6A6 !important,
            not-allowed,
            none);
        }
    }
    .text-left-xs
    {
        text-align: left !important;
    }
}

@media #{$smartphones-sm} {
    .p-l-0-sm {
        padding-left: 0px;
    }
    .p-r-0-sm {
        padding-right: 0px;
    }
    .p-l-16-sm {
        padding-left: 16px;
    }
    .p-r-16-sm {
        padding-right: 16px;
    }
    .padding-xxxl-sm {
        padding: $XXXL;
    }
    .padding-vertical-xxxl-sm {
        padding-top: $XXXL;
        padding-bottom: $XXXL;
    }
    .padding-horizontal-xxxl-sm {
        padding-right: $XXXL;
        padding-left: $XXXL;
    }
    .padding-top-xxxl-sm {
        padding-top: $XXXL;
    }
    .padding-bottom-xxxl-sm {
        padding-bottom: $XXXL;
    }
    .padding-xxl-sm {
        padding: $XXL;
    }
    .padding-vertical-xxl-sm {
        padding-top: $XXL;
        padding-bottom: $XXL;
    }
    .padding-horizontal-xxl-sm {
        padding-right: $XXL;
        padding-left: $XXL;
    }
    .padding-top-xxl-sm {
        padding-top: $XXL;
    }
    .padding-bottom-xxl-sm {
        padding-bottom: $XXL;
    }
    .padding-xl-sm {
        padding: $XL;
    }
    .padding-vertical-xl-sm {
        padding-top: $XL;
        padding-bottom: $XL;
    }
    .padding-horizontal-xl-sm {
        padding-right: $XL;
        padding-left: $XL;
    }
    .padding-top-xl-sm {
        padding-top: $XL;
    }
    .padding-bottom-xl-sm {
        padding-bottom: $XL;
    }
    .padding-large-sm {
        padding: $L;
    }
    .padding-vertical-large-sm {
        padding-top: $L;
        padding-bottom: $L;
    }
    .padding-horizontal-large-sm {
        padding-right: $L;
        padding-left: $L;
    }
    .padding-top-large-sm {
        padding-top: $L;
    }
    .padding-bottom-large-sm {
        padding-bottom: $L;
    }
    .padding-medium-sm {
        padding: $M;
    }
    .padding-vertical-medium-sm {
        padding-top: $M;
        padding-bottom: $M;
    }
    .padding-horizontal-medium-sm {
        padding-right: $M;
        padding-left: $M;
    }
    .padding-top-medium-sm {
        padding-top: $M;
    }
    .padding-bottom-medium-sm {
        padding-bottom: $M;
    }
    .padding-small-sm {
        padding: $S;
    }
    .padding-vertical-small-sm {
        padding-top: $S;
        padding-bottom: $S;
    }
    .padding-horizontal-small-sm {
        padding-right: $S;
        padding-left: $S;
    }
    .padding-top-small-sm {
        padding-top: $S;
    }
    .padding-bottom-small-sm {
        padding-bottom: $S;
    }
    .padding-xsmall-xs {
        padding: $XS;
    }
    .padding-vertical-xsmall-sm {
        padding-top: $XS;
        padding-bottom: $XS;
    }
    .padding-horizontal-xsmall-sm {
        padding-right: $XS;
        padding-left: $XS;
    }
    .padding-top-xsmall-sm {
        padding-top: $XS;
    }
    .padding-bottom-xsmall-sm {
        padding-bottom: $XS;
    }
    .padding-top-base-sm {
        padding-top: $Base;
    }
    .padding-bottom-base-sm {
        padding-bottom: $Base;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-left-sm
    {
        text-align: left !important;
    }
}

@media #{$tablets-md} {
    .no-padding-md {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .p-l-0-md {
        padding-left: 0px;
    }
    .p-r-0-md {
        padding-right: 0px;
    }
    .p-l-16-md {
        padding-left: 16px;
    }
    .p-r-16-md {
        padding-right: 16px;
    }
    .padding-xxxl-md {
        padding: $XXXL;
    }
    .padding-vertical-xxxl-md {
        padding-top: $XXXL;
        padding-bottom: $XXXL;
    }
    .padding-horizontal-xxxl-md {
        padding-right: $XXXL;
        padding-left: $XXXL;
    }
    .padding-top-xxxl-md {
        padding-top: $XXXL;
    }
    .padding-bottom-xxxl-md {
        padding-bottom: $XXXL;
    }
    .padding-xxl-md {
        padding: $XXL;
    }
    .padding-vertical-xxl-md {
        padding-top: $XXL;
        padding-bottom: $XXL;
    }
    .padding-horizontal-xxl-md {
        padding-right: $XXL;
        padding-left: $XXL;
    }
    .padding-top-xxl-md {
        padding-top: $XXL;
    }
    .padding-bottom-xxl-md {
        padding-bottom: $XXL;
    }
    .padding-xl-md {
        padding: $XL;
    }
    .padding-vertical-xl-md {
        padding-top: $XL;
        padding-bottom: $XL;
    }
    .padding-horizontal-xl-md {
        padding-right: $XL;
        padding-left: $XL;
    }
    .padding-top-xl-md {
        padding-top: $XL;
    }
    .padding-bottom-xl-md {
        padding-bottom: $XL;
    }
    .padding-large-md {
        padding: $L;
    }
    .padding-vertical-large-md {
        padding-top: $L;
        padding-bottom: $L;
    }
    .padding-horizontal-large-md {
        padding-right: $L;
        padding-left: $L;
    }
    .padding-top-large-md {
        padding-top: $L;
    }
    .padding-bottom-large-md {
        padding-bottom: $L;
    }
    .padding-medium-md {
        padding: $M;
    }
    .padding-vertical-medium-md {
        padding-top: $M;
        padding-bottom: $M;
    }
    .padding-horizontal-medium-md {
        padding-right: $M;
        padding-left: $M;
    }
    .padding-top-medium-md {
        padding-top: $M;
    }
    .padding-bottom-medium-md {
        padding-bottom: $M;
    }
    .padding-small-md {
        padding: $S;
    }
    .padding-vertical-small-md {
        padding-top: $S;
        padding-bottom: $S;
    }
    .padding-horizontal-small-md {
        padding-right: $S;
        padding-left: $S;
    }
    .padding-top-small-md {
        padding-top: $S;
    }
    .padding-bottom-small-md {
        padding-bottom: $S;
    }
    .padding-xsmall-md {
        padding: $XS;
    }
    .padding-vertical-xsmall-md {
        padding-top: $XS;
        padding-bottom: $XS;
    }
    .padding-horizontal-xsmall-md {
        padding-right: $XS;
        padding-left: $XS;
    }
    .padding-top-xsmall-md {
        padding-top: $XS;
    }
    .padding-bottom-xsmall-md {
        padding-bottom: $XS;
    }
    .padding-top-base-md {
        padding-top: $Base;
    }
    .padding-bottom-base-md {
        padding-bottom: $Base;
    }
    .text-center-md {
        text-align: center
    }
}



@media #{$desktops-lg} {
    .p-l-0-lg {
        padding-left: 0px;
    }
    .p-r-0-lg {
        padding-right: 0px;
    }
    .p-r-16-lg {
        padding-right: $S;
    }
    .p-l-16-lg {
        padding-left: $S;
    }
    .padding-xxxl-lg {
        padding: $XXXL;
    }
    .padding-vertical-xxxl-lg {
        padding-top: $XXXL;
        padding-bottom: $XXXL;
    }
    .padding-horizontal-xxxl-lg {
        padding-right: $XXXL;
        padding-left: $XXXL;
    }
    .padding-top-xxxl-lg {
        padding-top: $XXXL;
    }
    .padding-bottom-xxxl-lg {
        padding-bottom: $XXXL;
    }
    .padding-xxl-lg {
        padding: $XXL;
    }
    .padding-vertical-xxl-lg {
        padding-top: $XXL;
        padding-bottom: $XXL;
    }
    .padding-horizontal-xxl-lg {
        padding-right: $XXL;
        padding-left: $XXL;
    }
    .padding-top-xxl-lg {
        padding-top: $XXL;
    }
    .padding-bottom-xxl-lg {
        padding-bottom: $XXL;
    }
    .padding-xl-lg {
        padding: $XL;
    }
    .padding-vertical-xl-lg {
        padding-top: $XL;
        padding-bottom: $XL;
    }
    .padding-horizontal-xl-lg {
        padding-right: $XL;
        padding-left: $XL;
    }
    .padding-top-xl-lg {
        padding-top: $XL;
    }
    .padding-bottom-xl-lg {
        padding-bottom: $XL;
    }
    .padding-large-lg {
        padding: $L;
    }
    .padding-vertical-large-lg {
        padding-top: $L;
        padding-bottom: $L;
    }
    .padding-horizontal-large-lg {
        padding-right: $L;
        padding-left: $L;
    }
    .padding-top-large-lg {
        padding-top: $L;
    }
    .padding-bottom-large-lg {
        padding-bottom: $L;
    }
    .padding-medium-lg {
        padding: $M;
    }
    .padding-vertical-medium-lg {
        padding-top: $M;
        padding-bottom: $M;
    }
    .padding-horizontal-medium-lg {
        padding-right: $M;
        padding-left: $M;
    }
    .padding-top-medium-lg {
        padding-top: $M;
    }
    .padding-bottom-medium-lg {
        padding-bottom: $M;
    }
    .padding-small-lg {
        padding: $S;
    }
    .padding-vertical-small-lg {
        padding-top: $S;
        padding-bottom: $S;
    }
    .padding-horizontal-small-lg {
        padding-right: $S;
        padding-left: $S;
    }
    .padding-top-small-lg {
        padding-top: $S;
    }
    .padding-bottom-small-lg {
        padding-bottom: $S;
    }
    .padding-xsmall-lg {
        padding: $XS;
    }
    .padding-vertical-xsmall-lg {
        padding-top: $XS;
        padding-bottom: $XS;
    }
    .padding-horizontal-xsmall-lg {
        padding-right: $XS;
        padding-left: $XS;
    }
    .padding-top-xsmall-lg {
        padding-top: $XS;
    }
    .padding-bottom-xsmall-lg {
        padding-bottom: $XS;
    }
    .padding-top-base-lg {
        padding-top: $Base;
    }
    .padding-bottom-base-lg {
        padding-bottom: $Base;
    }
    .text-center-lg {
        text-align: center
    }
}

@media #{$desktops-xl} {
    .p-l-0-xl {
        padding-left: 0px;
    }
    .p-r-0-xl {
        padding-right: 0px;
    }
    .p-r-16-xl {
        padding-right: $S;
    }
    .p-l-16-xl {
        padding-left: $S;
    }
    .padding-xxxl-xl {
        padding: $XXXL;
    }
    .padding-vertical-xxxl-xl {
        padding-top: $XXXL;
        padding-bottom: $XXXL;
    }
    .padding-horizontal-xxxl-xl {
        padding-right: $XXXL;
        padding-left: $XXXL;
    }
    .padding-top-xxxl-xl {
        padding-top: $XXXL;
    }
    .padding-bottom-xxxl-xl {
        padding-bottom: $XXXL;
    }
    .padding-xxl-xl {
        padding: $XXL;
    }
    .padding-vertical-xxl-xl {
        padding-top: $XXL;
        padding-bottom: $XXL;
    }
    .padding-horizontal-xxl-xl {
        padding-right: $XXL;
        padding-left: $XXL;
    }
    .padding-top-xxl-xl {
        padding-top: $XXL;
    }
    .padding-bottom-xxl-xl {
        padding-bottom: $XXL;
    }
    .padding-xl-xl {
        padding: $XL;
    }
    .padding-vertical-xl-xl {
        padding-top: $XL;
        padding-bottom: $XL;
    }
    .padding-horizontal-xl-xl {
        padding-right: $XL;
        padding-left: $XL;
    }
    .padding-top-xl-xl {
        padding-top: $XL;
    }
    .padding-bottom-xl-xl {
        padding-bottom: $XL;
    }
    .padding-large-xl {
        padding: $L;
    }
    .padding-vertical-large-xl {
        padding-top: $L;
        padding-bottom: $L;
    }
    .padding-horizontal-large-xl {
        padding-right: $L;
        padding-left: $L;
    }
    .padding-top-large-xl {
        padding-top: $L;
    }
    .padding-bottom-large-xl {
        padding-bottom: $L;
    }
    .padding-medium-xl {
        padding: $M;
    }
    .padding-vertical-medium-xl {
        padding-top: $M;
        padding-bottom: $M;
    }
    .padding-horizontal-medium-xl {
        padding-right: $M;
        padding-left: $M;
    }
    .padding-top-medium-xl {
        padding-top: $M;
    }
    .padding-bottom-medium-xl {
        padding-bottom: $M;
    }
    .padding-small-xl {
        padding: $S;
    }
    .padding-vertical-small-xl {
        padding-top: $S;
        padding-bottom: $S;
    }
    .padding-horizontal-small-xl {
        padding-right: $S;
        padding-left: $S;
    }
    .padding-top-small-xl {
        padding-top: $S;
    }
    .padding-bottom-small-xl {
        padding-bottom: $S;
    }
    .padding-xsmall-xl {
        padding: $XS;
    }
    .padding-vertical-xsmall-xl {
        padding-top: $XS;
        padding-bottom: $XS;
    }
    .padding-horizontal-xsmall-xl {
        padding-right: $XS;
        padding-left: $XS;
    }
    .padding-top-xsmall-xl {
        padding-top: $XS;
    }
    .padding-bottom-xsmall-xl {
        padding-bottom: $XS;
    }
    .text-center-xl {
        text-align: center
    }
    .padding-top-base-xl {
        padding-top: $Base;
    }
}

.cursor {
    cursor: $pointer;
}


/*divider section  start*/

.full-bleed-divider {
    border-top: 6px solid $gray20;
}

.inset-divider {
    border-top: 2px solid $gray20;
}

.inset-divider-1px {
    border-top: 1px solid $gray20;
}

.inset-divider-4px {
    border-top: 4px solid $gray20;
}

.total-divider {
    border-top: 2px solid $black;
}


/* divider section end */


/*Button & Link start*/

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-underline {
    text-decoration: underline;
}

a {
    color: #e20074;
    cursor: $pointer;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: #e20074;
}

a.disabled {
    color: $gray70;
}
 a:not([href]):not([tabindex]):hover, .legal-link:hover, .body-link:hover, .body-bold-link:hover, .legal-bold-link:hover {
     color: #e20074;
 }

/*Button & Link End*/


/*Modal Starts*/

.modal-borderBox {
    border: 1px dashed pink;
    height: 100px;
    background-color: $gray10;
}

@media #{$smartphones-xs},
#{$smartphones-sm} {
    .modal-img {
        width: 72px;
        height: 72px;
    }
}

@mixin modal-postion($postion,
$right,
$left,
$background-color) {
    position: $postion;
    right: $right;
    left: $left;
    background-color: $background-color;
}

@mixin modal-width($min-width,
$max-width) {
    min-width: $min-width;
    max-width: $max-width;
}

.overlay {
    @include modal-postion(fixed,
    0,
    0,
    rgba(0,
    0,
    0,
    0.5));
    top: 0;
    bottom: 0;
}

.dialog-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.dialog {
    @include modal-postion(fixed,
    0,
    0,
    $white);
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
    max-height: 600px;
    left: 15px;
    right: 15px;
    padding: $M $M $M $M;
    @include modal-width(280px,
    343px);
    @media #{$tablets-md} {
        @include modal-width(320px,
        570px);
    }
    @media #{$desktops-lg},
    #{$desktops-xl} {
        @include modal-width(320px,
        607px);
    }
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        top: 10%;
        left: 0px;
        right: 0px;
        width: 100%;
        @media #{$smartphones-xxs} {
            max-width: 310px;
        }
    }
}
/*dialog as per glue grid starts*/
.dialog-fluid{
    @include modal-postion(fixed,
    0,
    0,
    $white);
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
    max-height: 600px;
    left: 15px;
    right: 15px;
    padding: 24px;
    @include modal-width(280px,
    343px);
    @media #{$tablets-md} {
        @include modal-width(320px,
        570px);
    }
    @media #{$desktops-lg} {
        @include modal-width(320px,
        772px);
    }
    @media #{$desktops-xl} {
        @include modal-width(320px,
        920px);
    }
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        top: 10%;
        left: 0px;
        right: 0px;
        width: 100%;
        @media #{$smartphones-xxs} {
            max-width: 310px;
        }
    }
}
/*dialog as per glue grid ends*/
.animation-out {
    opacity: 0;
    transform: translate(0, -35%);
    transition: 350ms;
    z-index: -1;
    box-shadow: 
     0px 15px 12px 0px rgba(0, 0, 0, 0.22),
     0px 19px 38px 0px rgba(0, 0, 0, 0.30);
    
}

.animation-in {
    opacity: 1;
    transform: translate(0, 0);
    transition: 350ms;
    z-index: 1000;
    @media screen {
        transform: translate(0, 0%);
    }
}

.overlay-out {
    opacity: 0; 
    z-index: -999;
}

.overlay-in {
    opacity: 1;
    transition: 1000ms;
    z-index: 1;
    @media screen {
        transition: 0ms;
    }
}


/*Modal Ends*/


/*Radio Button: start */

@mixin radio_button_style($display:block,
$position:absolute,
$border-radius:100%,
$height:12px,
$width:12px,
$top:3px,
$left:3px,
$transition:background 0.25s linear,
$-webkit-transition:background 0.25s linear) {
    display: $display;
    position: $position;
    border-radius: $border-radius;
    height: $height;
    width: $width;
    top: $top;
    left: $left;
    transition: $transition;
    -webkit-transition: $-webkit-transition;
}

@mixin radio_button_border($border:1px solid $brand-magenta) {
    border: $border;
}

@mixin radio_button_background($background:$brand-magenta) {
    background: $background;
}

@mixin radio_button_label($box-sizing:border-box,
$display:inline-block,
$position:relative,
$flex-shrink:0,
$padding: 0px 20px 0px 22px,
$cursor:$pointer,
$z-index:9,
$margin-bottom:0) {
    box-sizing: $box-sizing;
    display: $display;
    position: $position;
    flex-shrink: $flex-shrink;
    padding: $padding;
    cursor: $cursor;
    z-index: $z-index;
    margin-bottom: $margin-bottom;
}

.radio-container {
    position: relative;
    float: left;
    input[type=radio] {
        position: absolute;
        width:0px;
        height:0px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        opacity: 0;
    }
    label {
        @include radio_button_label(border-box,
        inline-block,
        relative,
        0,
        0px 20px 0px 30px,
        $pointer,
        9,
        10px);
        min-height: 20px;
    }
    .check {
        @include radio_button_style(block,
        absolute,
        100%,
        20px,
        20px,
        0px,
        0px,
        border .25s linear,
        border .25s linear);
        border: 1px solid $gray40; //z-index: 5;
    }
    .check::before {
        @include radio_button_style(block,
        absolute,
        100%,
        12px,
        12px,
        3px,
        3px,
        background 0.25s linear,
        background 0.25s linear);
        content: '';
        margin: auto;
    }
}

input[type=radio] {
    &:checked~.check {
        @include radio_button_border(1px solid $brand-magenta);
    }
    &:hover~.check {
        @include radio_button_border(1px solid $brand-magenta);
    }
    &:disabled~.check {
        @include radio_button_border(1px solid $gray40);
        opacity: 0.5;
    }
    &:checked~.check::before {
        @include radio_button_background($brand-magenta);
    }
    &:checked:disabled~.check::before {
        @include radio_button_background($gray40);
        opacity: 0.5;
    }
    &:disabled+label {
        cursor: not-allowed !important;
    }
}

.verticalAlign {
    display: inline-grid;
}

.checkbox .indicator>span {
    border: 2px solid $gray60;
    width: 18px;
    height: 18px;
    display: block;
    opacity: 0.7;
    cursor: $pointer;
    border-radius: 3px
}

.checkbox>label input:checked~.indicator>span {
    border: 0px;
    background-color: $brand-magenta;
    background-size: 90%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
}

.checkbox>label input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.check1 {
    border-radius: 3px;
}

.checkbox>label input:hover~.indicator>span {
    border: 2px solid $brand-magenta;
}

.checkbox>label input:checked:hover~.indicator>span {
    border: 0px;
}

.checkbox>label input:disabled~.indicator>span {
    border: 2px solid $gray40;
    opacity: 0.5;
    cursor: not-allowed;
}

.checkbox>label input:checked:disabled~.indicator>span {
    background-color: $gray60 !important;
    border: 0px;
    opacity: 0.5;
    cursor: not-allowed;
}


/* check box */


/*Switch Begin*/

.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 14px;
}

.switch input {
    display: none;
}

@mixin slider1($position:absolute,
$cursor:$pointer,
$top:0,
$left:0,
$right:0,
$bottom:0,
$backgroundcolor: $gray40,
$webkittransition:.4s,
$transition:.4s,
$zindex:1) {
    position: $position;
    cursor: $cursor;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    background-color: $backgroundcolor;
    -webkit-transition: $webkittransition;
    transition: $transition;
    z-index: $zindex;
}

.slider {
    @include slider1(absolute,
    $pointer,
    0,
    0,
    0,
    0,
    $gray40,
    .4s,
    .4s);
}

.slider:before {
    @include slider1(absolute,
    $pointer,
    none,
    0px,
    none,
    -3px,
    $gray05,
    .4s,
    .4s);
    content: "";
    height: 20px;
    width: 20px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

input:checked+.slider {
    background-color: $magenta-light;
    width: 30px;
}

input:focus+.slider {
    box-shadow: 0 0 1px $magenta-light;
}

input:checked+.slider:before {
    background-color: $brand-magenta;
    box-shadow: 0 0 1px $brand-magenta;
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

input:disabled+.slider {
    background-color: $gray30 !important;
    cursor: not-allowed;
}

input:disabled+.slider:before {
    background-color: $gray05;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    cursor: not-allowed;
}

.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.toggle-out {
    opacity: 0;
     max-height:0px;
    transition: visibility 0.33s linear,opacity 0.33s linear, max-height 0.33s;
    -webkit-transition: visibility 0.33s linear, opacity 0.33s linear, max-height 0.33s;
	-moz-transition: visibility 0s linear, opacity 0.33s linear, max-height 0.33s;
}
.toggle-in {
    opacity: 1;
    max-height:100px;
    transition-delay: 0s;
    transition: visibility 0.33s linear, opacity 0.33s linear, max-height 0.33s;
    -webkit-transition: visibility 0.33s linear, opacity 0.33s linear, max-height 0.33s;
	-moz-transition: visibility 0s linear, opacity 0.33s linear, max-height 0.33s;
}
/*Switch End*/
// Arrow animation starts
.arrowdown_rotation {
    display: inline-block;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all linear 0.25s;
    transition: all linear 0.25s;
}
.arrowup_rotation {
    display: inline-block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all linear 0.25s;
    transition: all linear 0.25s;
}
// Arrow animation endss
// accordion-animation-start
.accordion-content {
    max-height: 0;
	overflow: hidden;
	/* Set our transitions up. */
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
     }
.content-open {
    max-height:300px;
    -webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}
.accordian-out {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.6s cubic-bezier(0,1,0,1);
    -moz-transition: max-height 0.6s cubic-bezier(0,1,0,1);
    transition: max-height 0.6s cubic-bezier(0,1,0,1);
}
.accordian-in {
    max-height:500px;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    transition: max-height 1s;
}
// accordion-animation-end

// badge animation starts
 @keyframes badgeAnimation {
    0% {
       opacity: 0;
       max-height: 0px;
    }
    100% {
       opacity: 1;
       max-height: 45px;
    }
 }
 .badge-in {
    -webkit-animation: badgeAnimation 1s;
    animation: badgeAnimation 1s;
 }

// badge animation ends

/*ToolTip Styling: Begin*/

[tooltip-text] {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: rotate(45deg);
        background-color: $black;
        z-index: 1000;
        opacity: 0;
    }
    &::after {
        content: attr(tooltip-text);
        font-family: $Arial;
        position: absolute;
        left: 50%;
        background: $black;
        text-align: center;
        color: $white;
        padding: 16px;
        font-size: 12px;
        min-width: 150px;
        pointer-events: none;
        z-index: 1000;
        opacity: 0;
    }
    &:hover {
        &::after {
            opacity: 1;
            pointer-events: auto;
            box-shadow: 4px 6px 6px rgba(0,0,0,0.3)
            //transition: all .25s ease-out;
        }
        &::before {
            width: 24px;
            height: 25px;
            opacity: 1;
            pointer-events: auto;
            //transition: all .25s ease-out;
        }
    }
}

[tooltip-position='left'] {
    &::before {
        left: 0%;
        top: 50%;
        margin-left: -25px;
        transform: translateX(-35%) translatey(-50%) rotate(-45deg);
    }
    &::after {
        left: 0%;
        top: 50%;
        margin-left: -15px;
        transform: translateX(-100%) translateY(-50%);
    }
}

[tooltip-position='top'] {
    &::after {
        left: 100%;
        top: -23px;
        transform: translateX(-55%) translatey(-100%);
    }
    &::before {
        left: 100%;
        top: -25px;
        transform: translateX(-85%) translateY(-65%) rotate(-45deg);
    }
}

[tooltip-position='topleft'] {
    &::after {
        top: -23px;
        transform: translateX(-14%) translatey(-100%);
    }
    &::before {
        left: 50%;
        top: -15px;
        transform: translateX(-46%) translateY(-100%) rotate(-45deg);
    }
}

[tooltip-position='topright'] {
    &::after {
        left: 50%;
        top: -23px;
        transform: translateX(-80%) translatey(-100%);
    }
    &::before {
        left: 50%;
        top: -15px;
        transform: translateX(-46%) translateY(-100%) rotate(-45deg);
    }
}

[tooltip-position='bottom'] {
    &::before {
        top: 100%;
        margin-top: 15px;
        transform: translateX(-50%) translatey(-30%) rotate(-45deg);
    }
    &::after {
        top: 100%;
        margin-top: 15px;
        transform: translateX(-50%) translateY(0%);
    }
}

[tooltip-position='bottomright'] {
    &::before {
        top: 100%;
        margin-top: 15px;
        transform: translateX(-50%) translatey(-30%) rotate(-45deg);
    }
    &::after {
        top: 100%;
        margin-top: 15px;
        transform: translateX(-80%) translateY(0%);
    }
}

[tooltip-position='bottomleft'] {
    &::before {
        top: 100%;
        margin-top: 15px;
        transform: translateX(-50%) translatey(-30%) rotate(-45deg);
    }
    &::after {
        top: 100%;
        margin-top: 15px;
        transform: translateX(-20%) translateY(0%);
    }
}

[tooltip-position='right'] {
    &::before {
        left: 100%;
        top: 50%;
        margin-left: 0px;
        transform: translateX(30%) translatey(-60%) rotate(-45deg);
    }
    &::after {
        left: 100%;
        top: 50%;
        margin-left: 15px;
        transform: translateX(0%) translateY(-55%);
    }
}

.tooltiptext {
    vertical-align: super;
}


/*ToolTip Styling: Begin*/


/*List styling: Begin*/

.list-group-item {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
.list-group-item:hover{
    background-color: #e8e8e8;
}
.listDisable{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.arrow_size {
    font-size: large !important;
    color: $black;
    padding-left: 24px;
    margin-left: 0px;
}

.justify-items-end {
    justify-content: flex-end;
}

.border-2px {
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
.border-1px{
    border: 1px solid $black;
}

.border-none {
    border: none !important;
}

.fa-chevron-up {
    color: #e20074;
}

.circle-style {
    width: 48px;
    height: 48px;
    font-size: 48px;
    color: #9B9B9B;
}

.box-style {
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: #9B9B9B;
}


/*List styling: End*/


/*Primary CTA Secondary CTA and Primary and Secondary Accent common code*/


/*Sai siloju Added Ripple effect for buttons*/

.ripple {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.ripple-animate {
    -webkit-animation: ripple 1000ms ease-out;
    animation: ripple 1000ms ease-out;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 100%;
    height: 10px;
    pointer-events: none;
    position: absolute;
    transform: scale(0);
    width: 10px;
}

.PrimaryCTA {
    @include button-styles(48px,
    16px,
    16px,
    0px,
    0px,
    $brand-magenta,
    $white,
    0px,
    solid 0px $white,
    $Tele-Grotesk-Fet,
    18px,
    0.5px,
    $normal,
    none);
    @extend .ripple;
    &:hover {
        @include button_hoverAndActive($magenta-mid,
        (0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)),
        none,
        $magenta-mid,
        $white,
        none);
    }
    &:focus {
        @include button_focus($magenta-mid,
        (0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)),
        none,
        $magenta-mid,
        $white,
        none);
    }
    &:active {
        @include button_hoverAndActive($magenta-dark,
        (0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)),
        none,
        $magenta-dark,
        $white,
        none);
    }
    &:active::after {
        @include button_focus($magenta-mid,
        (0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)),
        none,
        $magenta-mid,
        $white,
        none);
    }
    &:disabled {
        @include button_disabled(#F2F2F2 !important,
        none !important,
        #F2F2F2,
        #6A6A6A !important,
        not-allowed,
        none);
    }
}

.SecondaryCTA {
    @include button-styles(48px,
    16px,
    16px,
    0px,
    0px,
    $white,
    $brand-magenta,
    0px,
    none,
    $Tele-Grotesk-Fet,
    18px,
    0.5px,
    $normal);
    background-color: transparent;
    color: $brand-magenta;
    border: 1px solid $brand-magenta;
    @extend .ripple;
    &:hover {
        @include button_hoverAndActive($white,
        none,
        1px solid $magenta-mid,
        $magenta-mid,
        $magenta-mid,
        none);
    }
    &:focus {
        @include button_focus($white,
        none,
        1px solid $magenta-mid,
        $magenta-mid,
        $magenta-mid,
        none);
    }
    &:active {
        @include button_hoverAndActive($white,
        none,
        1px solid $magenta-dark,
        $magenta-dark,
        $magenta-dark,
        none);
    }
    &:disabled {
        @include button_disabled($white,
        none,
        $gray60,
        $gray30 !important,
        not-allowed,
        none)
    }
}

.TeritiaryCTA {
    @include button-styles(48px,
    16px,
    16px,
    0px,
    0px,
    $white,
    $white,
    0px,
    none,
    $Tele-Grotesk-Fet,
    18px,
    0.5px,
    none !important);
    background-color: transparent;
    color: $brand-magenta;
    @extend .ripple;
    &:hover {
        @include button_hoverAndActive($white,
        none,
        none,
        none,
        $magenta-mid,
        none);
    }
    &:focus {
        @include button_focus($white,
        none,
        5px auto -webkit-focus-ring-color,
        none,
        $magenta-mid,
        none);
    }
    &:active {
        @include button_hoverAndActive($white,
        none,
        none,
        none,
        $magenta-dark,
        none);
    }
    &:disabled {
        @include button_disabled($white,
        none,
        none,
        $gray30 !important,
        not-allowed,
        none)
    }
}

.HyperLinkCTA {
    @include button-styles(48px,
    16px,
    16px,
    0px,
    0px,
    $white,
    $white,
    0px,
    none,
    $Tele-Grotesk-Fet,
    18px,
    0.5px,
    none);
    background-color: transparent;
    color: $black;
    text-decoration: underline;
    &:hover {
        @include button_hoverAndActive($white,
        none,
        none,
        none,
        $brand-magenta,
        underline);
    }
    &:focus {
        @include button_focus($white,
        none,
        none,
        none,
        $brand-magenta,
        underline);
    }
    &:active {
        @include button_hoverAndActive($white,
        none,
        none,
        none,
        $brand-magenta,
        underline);
    }
    &:disabled {
        @include button_disabled($white,
        none,
        none,
        #6A6A6A !important,
        not-allowed,
        underline)
    }
}

.PrimaryCTA-accent {
    @include button-styles(32px,
    16px,
    16px,
    0px,
    0px,
    $brand-magenta,
    $white,
    0px,
    solid 0px $white,
    $Tele-Grotesk-Fet,
    18px,
    0.5px,
    $normal,
    none);
    @extend .ripple;
    &:hover {
        @include button_hoverAndActive($magenta-mid,
        (0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)),
        none,
        $magenta-mid,
        $white,
        none);
    }
    &:focus {
        @include button_focus($magenta-mid,
        (0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)),
        none,
        $magenta-mid,
        $white,
        none);
    }
    &:active {
        @include button_hoverAndActive($magenta-dark,
        (0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)),
        none,
        $magenta-dark,
        $white,
        none);
    }
    &:disabled {
        @include button_disabled(#F2F2F2 !important,
        none !important,
        #F2F2F2,
        #6A6A6A !important,
        not-allowed,
        none);
    }
}

.SecondaryCTA-accent {
    @include button-styles(32px,
    16px,
    16px,
    0px,
    0px,
    $white,
    $brand-magenta,
    0px,
    none,
    $Tele-Grotesk-Fet,
    18px,
    0.5px,
    $normal);
    background-color: transparent;
    color: $brand-magenta;
    border: 1px solid $brand-magenta;
    @extend .ripple;
    &:hover {
        @include button_hoverAndActive($white,
        none,
        1px solid $magenta-mid,
        $magenta-mid,
        $magenta-mid,
        none);
    }
    &:focus {
        @include button_focus($white,
        none,
        1px solid $magenta-mid,
        $magenta-mid,
        $magenta-mid,
        none);
    }
    &:active {
        @include button_hoverAndActive($white,
        none,
        1px solid $magenta-dark,
        $magenta-dark,
        $magenta-dark,
        none);
    }
    &:disabled {
        @include button_disabled($white,
        none,
        $gray60,
        $gray30 !important,
        not-allowed,
        none)
    }
}

.SecondaryCTA.blackCTA,
.SecondaryCTA-accent.blackCTA {
    color: $black;
    border-color: $black;
    &:hover,
    &:active,
    &:focus {
        outline: 1px solid $black;
    }
}

@media #{$smartphones-xs},
#{$smartphones-sm} {
    .full-btn-width {
        width: 100%;
        max-width: 100%;
    }
    .full-btn-width-accent {
        width: 100%;
        max-width: 100%!important;
    }
}

@media #{$smartphones-xs},
#{$smartphones-sm},
#{$portrait} {
    .button-fixed-position {
        position: fixed;
        bottom: 0;
        left: 15px;
        right: 15px;
    }
}

.dropdownclass
{
    background-color: $gray10;
    color: $brand-magenta;
}

/*Dropdown starts*/

.dropdown-toggle {
    cursor: $pointer;
    height: 25px;
    padding-bottom: 8px;
    border-bottom: solid 1px;
    width: 99%;
    margin-left: 1px;
    .arrow-down{
        width:13px;
        height:13px;
    }
    .arrow-down-disable{
        width:13px;
        height:13px;
    }
    .arrow-up{
        width:13px;
        height:13px;
    }
}

.dropdown-toggle::after {
    border-top: $none;
    border-right: $none;
    border-left: $none;
}

//.dropdown, .dropdown-toggle:focus{
 //   outline: none;
//}

.outline-none {
    outline: none;
}

.dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.2s, visibility 0s 0.3s;
    -moz-transition: max-height 0.3s, opacity 0.2s 0.2s, visibility 0s 0.3s;
    -ms-transition: max-height 0.3s, opacity 0.2s 0.2s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.2s, visibility 0s 0.3s;
    transition: max-height 0.3s, opacity 0.2s 0.2s, visibility 0s 0.3s;
    max-height: 0px;
    display: block;
    overflow: $auto;
    opacity: 0;
    visibility: hidden;
   overflow: $auto;
    width: 100%;
    padding:0px;
    
    li.dropdown-option>a {
        padding: 20px 10px;
        font-weight: normal;
        line-height: 2.5rem;
    }
    .active>a {
        color: $gray60;
    }
    .active:hover>a {
        color: $gray60;
    }
    .active:active>a {
        color: $white;
    }
}

.dropdown-menu.show {
    -webkit-transition: max-height 0.5s, opacity 0.2s, visibility 0s;
    -moz-transition: max-height 0.5s, opacity 0.2s, visibility 0s;
    -ms-transition: max-height 0.5s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.5s, opacity 0.2s, visibility 0s;
    transition: max-height 0.5s, opacity 0.2s, visibility 0s;
    max-height: 170px;
    opacity: 1;
    visibility: visible;
    overflow:auto;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-radius: 4px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    
}

.dropdown-menu::-webkit-scrollbar {
    width: 5px;
    height: 30px;
}

.dropdown-menu::-webkit-scrollbar-thumb:vertical {
    background-color: $gray40;
}

.btn-group {
    border-bottom: 2px solid #dddddd;
    &:focus,
    &:hover {
        border-bottom: 2px solid $brand-magenta;
        outline: $none;
        .arrow_size {
            color: $brand-magenta;
        }
    }
}

.dropdown-toggle-height {
    height: $auto;
}

.padding-l-r {
    padding-left: $zero;
    padding-right: $zero;
    padding-top: $zero;
    padding-bottom: 28px;
}

.arrow_size {
    color: $gray85;
    font-weight: bold;
    &:focus,
    &:hover {
        color: $brand-magenta;
    }
}

.dropdown-option:hover {
    background-color: $gray10;
    color: $gray60;
}

.dropdown-option:active {
    background-color: $brand-magenta;
    
}
.dropdown-option-active {
    background-color: $brand-magenta;
    //color: #ffffff !important;
}
.dropdown-option-active-a{
    color: #ffffff !important;
}
.dropdown-option:active > a{
    color: #ffffff !important;
}

.disabled {
    color: lightgray;
    cursor: default;
    pointer-events: $none;
}

.bsprefix {
    position: absolute;
    margin-top: $zero;
}

.bsimg_block {
    width: 24px;
    height: 24px;
}

.selected {
    a::after {
        content: '\f00c';
        font-family: 'FontAwesome';
        vertical-align: middle;
        font-size: 15px;
        float: right;
        color: $black;
    }
    background-color: $gray20;
    top: $zero;
}

.dropdown-item {
    padding-right: 0.25rem;
}


/*Dropdown Ends*/


/*input box starts*/

.input {
    border: 0px;
    width: 100%;
    outline: none;
    border-bottom: 1pt solid grey;
    padding: 20px 0px 4px 0px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;
    vertical-align: middle;	
}

.border-red {
    border-bottom: 1pt solid red !important;
}

.border-green {
    border-bottom: 1pt solid green !important;
}

form {
    input,
    textarea {
        padding: 20px 0px 4px 0px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.7px;
        vertical-align: middle;
    }
    .group {
        position: relative;
    }
    label {
        bottom: 0;
        font-size: 14px;
        line-height: 20px;
             font-weight:normal;
             position:absolute;
            // pointer-events:none;
             left:0px;
            // top:10px;
             transition:0.2s ease all; 
             -moz-transition:0.2s ease all; 
             -webkit-transition:0.2s ease all;           
    }

    .labelpointer {
        pointer-events: none;
    }
    .labelfocusClass {
        top: 35%;
        margin-top: -16px;  
              
    }
    .textfield input[type="text"] {
        &:focus+label {
            top: 35%;
            margin-top: -16px;
            color: $gray60;
            -webkit-text-size-adjust: auto;
            @include txt-styles($Arial,
            10px,
            20px,
            0.5px,
            $normal,
            $gray60);
        }       
 
        &:focus+label,
        &:valid+label {
            top: 35%;
            margin-top: -16px;
            color: $gray60;
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        &:focus+label {
            top: 35%;
            margin-top: -16px;
            color: #e20074;
            -webkit-text-size-adjust: auto;
            @include txt-styles($Arial,
            10px,
            20px,
            0.5px,
            $normal,
            $gray60);
        }       
 
        &:focus+label,
        &:valid+label {
            top: 35%;
            margin-top: -16px;
            color:#e20074;
        }
    }
}
//input animation starts
@keyframes InputAddUnderline {
    from{-webkit-transform:scaleX(0);transform:scaleX(0)}
    to {-webkit-transform:scaleX(1);transform:scaleX(1)}
}
.input-animation {
    bottom: 0px;
    height: 2px;
    position: absolute;
    width: 100%;
    transition: 0.4s ease all;
}
input:focus~.input-animation{
    background-color: $brand-magenta;
    opacity: 1;
    -webkit-animation: InputAddUnderline .3s cubic-bezier(0.4,0,0.2,1);
    animation: InputAddUnderline .3s cubic-bezier(0.4,0,0.2,1);
}
//input animation ends
input[type="text"] {
    &:focus~label,
    &:valid~label {
        top: 35%;
        margin-top: -16px;
        color: $gray60;
        @include txt-styles($Arial,
        10px,
        20px,
        0.5px,
        $normal,
        $gray60);
    }
}

.labelfocusClass {
    top: 35%;
    margin-top: -16px;
    color: #e20074;
    @include txt-styles($Arial,
    10px,
    12px,
    0.5px,
    $normal,
    $gray60);
}

.redClass {
    top: 35%;
    margin-top: -16px;
    @include txt-styles($Arial,
    10px,
    20px,
    0.5px,
    $normal,
    $gray60);
}

form input:valid {
    background: white;
    padding: 20px 0px 4px 0px;
    top: 35%;
}

.color-red {
    color: red !important;
}
.color-green {
    color: green !important;
}
.mask {
    position: relative;
    line-height: 1;
}

.mask span {
    position: absolute;
    top: 63%;
    color: #ccc;
    -webkit-text-size-adjust: auto;
    pointer-events: none;
    z-index: 1;
}

.mask span i {
    font-style: normal;
    color: transparent;
    opacity: 0;
    visibility: hidden;
}

.mask span {
    font-size: 14px; // line-height: 20px;
    letter-spacing: 1.7px;
    font-family: Arial;
    background-color: transparent; //padding: 2.2% 0px 0px 0px;
}


/*input box ends*/

.noScroll {
    overflow: hidden !important;
}

.modal_landscapeht {
    @media #{$landscape} {
        max-height: 270px!important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
//remove default close icon in IE
::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}


/*Common  properties:Begin*/

p {
    margin: 0px;
}
/*Common  properties:End*/

//Common classes moved from ODF and ODF addons
@media #{$smartphones-xs},
#{$portrait} {
    .static-position {
        position: static;
    }
}


/*OTP*/

.errormessage {
    top: 0;
    z-index: 10;
    width: 78%;
}

.errormessageimg {
    position: absolute;
    top: 0;
    z-index: 10;
    right: 15px;
}

label.switch {
    position: relative !important;
}

.floatingLabel {
    position: relative;
}

.placeHolderDisplay {
    display: none;
}

.validErrorMsg {
    @media #{$smartphones-xs} {
        width: 55%;
    }
    width: 70%;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

.switch {
    width: 38px;
}

@media #{$smartphones-xs} {
    .p-l-12-xs {
        padding-left: 12px;
    }
    .padding-bottom-switch-xs {
        padding-bottom: 180px;
    }
}

@media #{$smartphones-sm} {
    .p-l-12-sm {
        padding-left: 12px;
    }
}

.cardSize {
    @media #{$tablets-md},
    #{$desktops-lg} {
        width: 265px;
    }
    @media #{$desktops-xl} {
        width: 330px;
    }
}

.express_img {
    position: absolute;
    top: 130px;
    @media #{$tablets-md},
    #{$desktops-lg} {
        top: 180px;
    }
    @media #{$desktops-xl} {
        top: 220px;
    }
}

@media #{$smartphones-xs},
#{$smartphones-sm} {
    .main-content {
        min-height: calc(100vh - 205px);
    }
    .main-content-singlerow {
        min-height: calc(100vh - 145px);
    }
    .hidden-sm-down{
        display: none;
    }
}

@media #{$alldeviceexceptsmartphone} {
    .main-content {
        min-height: 0px;
    }
    .main-content-singlerow {
        min-height: 0px;
    }
    .hidden-sm-up{
        display: none;
    }
}

.mask span .icon_cross {
    visibility: visible;
    opacity: 1;
    color: gray;
    top: 19px;
}

.strike {
    text-decoration: line-through;
}

.swipe {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    .slide {
        display: inline-block;
        border: 0px;
    }
}

.imgwidth {
    width: 254px;
    height: 157px;
    @media #{$tablets-md},
    #{$desktops-lg},
    #{$desktops-xl} {
        width: 500px;
        height: 310px;
    }
}

.mbtm-2 {
    margin-bottom: 2px;
}

.icon-size {
    width: 45px;
    height: 27px;
}

.clear-icon {
    visibility: visible;
    opacity: 1;
    color: gray;
    top: 19px;
    display: inline-block;
    filter: invert(0.5);
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: middle;
}

input::-webkit-input-placeholder {
    opacity: 0;
}

input::-ms-input-placeholder {
    opacity: 0;
    transition: inherit;
}

input::-moz-placeholder {
    opacity: 0;
}

input:-ms-input-placeholder {
    // opacity:0;
    color: white;
}

input:focus::-webkit-input-placeholder {
    opacity: 1;
}

input[type="text"]:disabled {
    background: #ffffff;
}

.unset {
    position: unset;
}


/* Firefox 4-18 */

input:focus::-moz-placeholder {
    opacity: 1;
}

input:focus:-ms-input-placeholder {
    color: red;
    opacity: 10;
}

input:focus::-ms-input-placeholder {
    opacity: 1;
}

.disable-div {
    color: $gray30;
    pointer-events: none;
}

@media #{$smartphones-xs},
#{$smartphones-sm} {
    .padding-top-value {
        padding-top: 98px;
    }
}

@media #{$smartphones-xxs} {
    .PrimaryCTA-accent {
        font-size: 16px;
    }
    .SecondaryCTA-accent {
        font-size: 16px;
    }
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.spinner-loader-background {
    z-index: 99999;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.spinner-loader-background-none {
    z-index: 99999;
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
}

.spinner-loader {  
   margin-top:-96px;
}

.spinner-image {
    position: absolute;
    top: 30%;
    margin: auto;
    border: 0;
}
.visibility-hidden{
    visibility: hidden;
}
.divShadow:hover {
    box-shadow: 0 7px 15px 5px rgba(0, 0, 0, 0.18);
}

  .lds-ring {
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    margin:auto;
    top:40%;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $brand-magenta transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  sup {
    top: 2px;
  }
  sup {
        position: relative;
        vertical-align: top;
  }
  .display-flex{
    display: flex;
  } 


  /* new spinner */
  .drg-spinner-large {
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    margin-top: 46vh;
    stop-color: #e20074;
  }

    .preloader-wrapper{
        display:inline-block;
        position:relative;
        width:50px;
        height:50px
    }     
    .preloader-wrapper.active{
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite;
    }@-webkit-keyframes container-rotate{
    to{
        -webkit-transform: rotate(360deg)
    }
    }@keyframes container-rotate{
        to{
            -webkit-transform:rotate(360deg);transform:rotate(360deg)
        }
        }    
    .spinner-layer{
        position:absolute;
        width:100%;
        height:100%;
        opacity:0;
        border-color:#e20064
    }
    .circle-clipper{
        display:inline-block;
        position:relative;
        width:50%;
        height:100%;
        overflow:hidden;
        border-color:inherit
    }     
    .circle-clipper.left .circle{
        left:0;
        border-right-color:transparent !important;
        -webkit-transform:rotate(129deg);transform:rotate(129deg)
    }
    .left {
        float: left !important;
    }    
    .circle {
        border-radius: 50%;
    }     
    .active .circle-clipper.left .circle{
        -webkit-animation:left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        animation:left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
    }    
    .gap-patch .circle{
        width:1000%;
        left:-450%
        }      
    .gap-patch {
        position: absolute;
        top: 0;
        left: 45%;
        width: 10%;
        height: 100%;
        overflow: hidden;
        border-color: inherit;
    }      
    .active .spinner-layer {
        opacity: 1;
        -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    }@-webkit-keyframes fill-unfill-rotate{
    12.5%{
        -webkit-transform: rotate(135deg)
    }25%{
        -webkit-transform: rotate(270deg)
    }37.5%{
        -webkit-transform: rotate(405deg)
    }50%{
        -webkit-transform: rotate(540deg)
    }62.5%{
        -webkit-transform: rotate(675deg)
    }75%{
        -webkit-transform: rotate(810deg)
    }87.5%{
        -webkit-transform: rotate(945deg)
    }to{
        -webkit-transform: rotate(1080deg)
    }
    }@keyframes fill-unfill-rotate{
    12.5%{
        -webkit-transform: rotate(135deg);transform: rotate(135deg)
    }25%{
        -webkit-transform: rotate(270deg);transform: rotate(270deg)
    }37.5%{
        -webkit-transform: rotate(405deg);transform: rotate(405deg)
    }50%{
        -webkit-transform: rotate(540deg);transform: rotate(540deg)
    }62.5%{
        -webkit-transform: rotate(675deg);transform: rotate(675deg)
    }75%{
        -webkit-transform: rotate(810deg);transform: rotate(810deg)
    }87.5%{
        -webkit-transform: rotate(945deg);transform: rotate(945deg)
    }to{
        -webkit-transform: rotate(1080deg);transform: rotate(1080deg)
    }
    }       
    .active.circle-clipper.right.circle{
    -webkit-animation: right-spin1333mscubic-bezier(0.4, 0, 0.2,1) infinite both;
    animation: right-spin1333mscubic-bezier(0.4, 0,  0.2, 1) infinite both;
    }@-webkit-keyframes left-spin{
    from{
        -webkit-transform: rotate(130deg)
    }50%{
        -webkit-transform: rotate(-5deg)
    }to{
        -webkit-transform: rotate(130deg)
    }
    }@keyframes left-spin{
    from{
        -webkit-transform: rotate(130deg);transform: rotate(130deg)
    }50%{
        -webkit-transform: rotate(-5deg);transform: rotate(-5deg)
    }to{
        -webkit-transform: rotate(130deg);transform: rotate(130deg)
    }
    }@-webkit-keyframes right-spin{
    from{
        -webkit-transform: rotate(-130deg)
    }50%{
        -webkit-transform: rotate(5deg)
    }to{
        -webkit-transform: rotate(-130deg)
    }
    }@keyframes right-spin{
    from{
        -webkit-transform: rotate(-130deg);transform: rotate(-130deg)
    }50%{
        -webkit-transform: rotate(5deg);transform: rotate(5deg)
    }to{
        -webkit-transform: rotate(-130deg);transform: rotate(-130deg)
    }
    }      
    .active .circle-clipper.right .circle {
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    }
    .circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg);
    }
    .circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    }

  /* end of new spinner */


/* Begin of Tabs */

main {
    width:100%;
    margin: 0 auto;
    background: #fff;
    border-bottom:1px solid #ddd;
    label {
      margin-bottom: -1px;
    }
  }
.border-magenta{
    border-bottom:2px solid #e20074;
  }
.border-gray{
    border-bottom: 1px solid gray;
  }
  .tab-content{
    //position:absolute;
    left:0px;
  }
 @media #{$smartphones-xs},#{$smartphones-sm}{
    .full-width{
      width:100%;
    }
  }


  .dropdown:focus
  {
       outline:none;
 .dropdown-toggle
 {
   outline: 1px dotted #212121;
   outline: -webkit-focus-ring-color auto 5px;
 }
 .dropdown-toggle.outline-none
 {
   outline: none !important;
 }
}
  /* End of Tabs */

/* Alert animation starts */
@-webkit-keyframes alert-in {
    0% {top: 0px;
        top: -100px;
        -webkit-animate-timing-function: ease-in;
        -webkit-animation-iteration-count: 1;
    }
}
@keyframes slideDownFromTop {
0% {
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}
100% {
    transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
}
}
.alert-in{
    -webkit-animation-name: alert-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation: 0.3s ease-out 0s 1 slideDownFromTop;	
    box-shadow: 0 3px 7px 3px rgba(0, 0, 0, 0.18);
}
// .alert-out{
//     transform: translateY(-105%);
//     transition-duration: 0.3s;
//     box-shadow: none;
// }
.slide-content {
    transition-duration: 260ms;
    transform: translateY(-1%);
}
@keyframes slideDownFromTopRev {
    0% {
        transform: translateY(0%);
        -ms-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        opacity: 1;
    }
	100% {
        transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        opacity: 0;
    }
}
.alert-out {
    animation: 0.3s ease-out 0s 1 slideDownFromTopRev;
    opacity: 0;
    transition: 800ms;
    z-index: -1;
    animation-fill-mode: forwards;
}
/* Alert animation ends */
/* Filter Begin */
.dynamicSelectDiv{
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2 ;
    border-radius: 5px;
    padding: 5px ;
    margin: 8px 16px 8px 0px ;
    cursor: pointer;
}    
.crossIconClass{
    cursor: pointer;
    pointer-events: visible;
    /*padding-right: 8px;*/
    padding-left: 8px;
    display: flex;
}

/* Filter Ends */

.bg-gray10{
    background-color: $gray10;
}	
.radio-padding-top
    {
        margin-top: 0.6rem !important;
    }
@media #{$smartphones-xs}{
        .radio-padding-top
        {
            margin-top: 0.7rem !important;
        }
    }
/*Dropdown customized classes */

/*.dropdownStyle .dropdown-menu.show {
    max-height: fit-content;
}*/
.dropdownStyle .dropdown-menu li.dropdown-option:active > a span{
    color: white ;
}
@media #{$smartphones-xxs},#{$smartphones-xs} {
    .dropdownStyle .dropdown-menu li.dropdown-option > a span,
    .dropdownStyle .dropdown-toggle span{
        font-size: 11px;
      }
}
@media #{$smartphones-xxs}, #{$smartphones-xs} {
    .dropdownStyle .dropdown-menu li.dropdown-option > a {
        padding: 5px 0px 0px 3px ;
    }
    .dropdownStyle .dropdown-toggle span.arrow-down{
        margin-right: 0px ;
    }
}
// .dropdownStyle .dropdown-menu li.dropdown-option > a {
//     padding: 5px 10px;
//     display: inline-block;
// }

/*.dropdownStyle .dropdown-menu.show{
    animation: nav-down 1000ms;
}*/
/*Datepicker customized classes */

.date-picker .dialog-container {
    position: fixed;
    z-index: 100000;
}

//stand alone
.gm-noScroll {
  overflow: hidden ;
}

