/* GLOBAL VARIABLES */
$smartphones-xxs: "only screen  and (max-width: 374px)";
$smartphones-xs: "only screen  and (max-width: 575px)";
$smartphones-sm: "only screen and (min-width: 576px) and (max-width: 767px)";
$tablets-md: "only screen and (min-width: 768px) and (max-width: 991px)";
$desktops-lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$desktops-xl: "only screen and (min-width: 1200px)";
$alldeviceexceptsmartphone: "only screen and (min-width: 768px)";
$portrait: "only screen and (orientation:portrait)";
$landscape: "only screen and (max-height: 414px) and (orientation:landscape)";
$smartphones-xs1: "only screen  and (max-width: 382px)";
$minismartphones-xs: "only screen  and (max-width: 340px)";
$smallphones: "only screen  and (max-width: 320px)";
/*Variable declarations start*/

$Tele-Grotesk-Ultr:Tele-Ult;
$Tele-Grotesk-Fet:Tele-Fet;
$Tele-Grotesk-Norm:Tele-Nor;
$Tele-Grotesk-Hal:Tele-Hal;

$normal:normal;
$bold:bold;
$Arial:Arial;
$black: #000000;
$white:#ffffff;
$brand-magenta:#E20074;
$magenta-mid:#F41A8A; //for buttons
$magenta-light:#F66DB3;
$magenta-dark:#BA0060;
$magenta-very-dark:#A10053;
$magenta-very-light:#fffafc;
$magenta-dark-pressed:#ffebf3;
$magenta-tertiary-hover:#31071d;
$magenta-tertiary-pressed:#4c0329;
$green:#078A14;
$green-light:#51d85e;
$red:#E8200D;
$yellow:#E3B721;
$gray05:#F8F8F8;
$gray10:#F2F2F2;
$gray20:#E8E8E8;
$gray30:#CCCCCC;
$gray40:#9B9B9B;
$gray60:#6A6A6A;
$gray70:#4C4C4C;
$gray80:#333333;
$gray85:#262626;
$XS:8px;
$S:16px;
$M:24px;
$L:32px;
$XL:40px;
$XXL:48px;
$XXXL:56px;
$Base:4px;
$pointer:pointer;
$zero:0px;
$none:none;
$auto:auto;
$block:block;
$hidden:hidden;
$gray:gray;
$default:default;
$absolute:absolute;
$right:right;
/*Fonts for temporary suspension*/
$SFProText-Regular:SFProText-Regular;
$SFProText-Bold:SFProText-Bold;
/*Fonts for temporary suspension ends*/
/*Variable declarations end*/