/*Version history*/
@import "global-variables.scss";

@mixin icons($background) {
    background: $background no-repeat;
}
.width-height{
    width: 24px;
    height: 24px;
}
.width-height-20{
    width: 20px;
    height: 20px;
}
@mixin width-height($width,$height) {
    width: $width;
    height: $height;
  }
.arrow-left {
    @include icons(url('assets/img/SVGs/Icons/back.svg'));
    @extend .width-height;
  }
.arrow-right {
    @include icons(url('assets/img/SVGs/Icons/ic_keyboard_arrow_right_gray30_24px.svg'));
    //filter:invert(0.5);
    @extend .width-height-20;
}

.arrow-left-gray60 {
    @include icons(url('assets/img/SVGs/Icons/arrow_left_gray60.svg'));
    @extend .width-height-20;
}
.arrow-left-gray30 {
    @include icons(url('assets/img/SVGs/Icons/arrow_left_gray30.svg'));
    @extend .width-height-20;
  }
.arrow-left-white {
    @include icons(url('assets/img/SVGs/Icons/ic_keyboard_arrow_left_white_24px.svg'));
    @extend .width-height-20;
  }
.arrow-right-black-24 {
    @include icons(url('assets/img/SVGs/Icons/arrow_right_black-24.svg'));
    @extend .width-height-20;
}
.arrow-right-gray60 {
    @include icons(url('assets/img/SVGs/Icons/arrow_right_gray60.svg'));
    @extend .width-height-20;
}
.arrow-right-gray30 {
    @include icons(url('assets/img/SVGs/Icons/arrow_right_gray30.svg'));
    @extend .width-height-20;
}
.arrow-right-magenta30 {
    @include icons(url('assets/img/SVGs/Icons/arrow_right_magenta30.svg'));
    @extend .width-height-20;
}
.arrow-right-white {
    @include icons(url('assets/img/SVGs/Icons/ic_keyboard_arrow_right_white_24px.svg'));
    @extend .width-height-20;
}
.arrow-right-yellow {
    @include icons(url('assets/img/SVGs/Icons/ic_keyboard_arrow_right_yellow_24px.svg'));
    @extend .width-height-20;
}
.arrow-down {
    @include icons(url('assets/img/SVGs/Icons/Arrow_up_gray.svg'));
    @extend .width-height-20;
    transform: rotate(180deg);
}
.arrow-down-disable {
    @include icons(url('assets/img/SVGs/Icons/Arrow_up_disable.svg'));
    @extend .width-height-20;
    transform: rotate(180deg);
}
.arrow-up {
    @include icons(url('assets/img/SVGs/Icons/Arrow_up.svg'));
    @extend .width-height-20;
}
.arrow-back {
    @include icons(url('assets/img/SVGs/Logos/back-arrow.svg'));
    @extend .width-height-20;
}
.print-icon {
    @include icons(url('assets/img/SVGs/Icons/ic_print_black_24px.svg'));
    @extend .width-height;
}
.tooltip-icon {
    @include icons(url('assets/img/SVGs/Icons/ic_tooltip_black_24px.svg'));
    @extend .width-height-20;
    display: inline-block;
 }
 .tooltip-info {
    @include icons(url('assets/img/SVGs/Icons/ic-info-black-24px.svg'));
    @include width-height(14px,14px);
 }
 .tooltip-info-gray {
    @include icons(url('assets/img/SVGs/Icons/ic-info-gray-24px.svg'));
    @include width-height(18px,18px);
 }
 .tooltip-info-white {
    @include icons(url('assets/img/SVGs/Icons/ic-info-white-24px.svg'));
    @include width-height(18px,18px);
 }
 .tmo-logo {
    @include icons(url('assets/img/SVGs/Logos/t-mobile-vector-logo.svg'));
    width: 100px;
    height: 16px;
    display: inline-block;
}
.visa-icon {
    @include icons(url('assets/img/SVGs/Logos/Visa.svg'));
    width: 45px;
    height: 27px;
    display: inline-block;
}
.master-icon {
    @include icons(url('assets/img/SVGs/Logos/Mastercard.svg'));
    width: 45px;
    height: 27px;
    display: inline-block;
}
.amex-icon {
    @include icons(url('assets/img/SVGs/Logos/Amex.svg'));
    width: 45px;
    height: 27px;
    display: inline-block;
}
.discover-icon {
    @include icons(url('assets/img/SVGs/Logos/Discover.svg'));
    width: 45px;
    height: 27px;
    display: inline-block;
}
.visa-icon-disabled {
    @include icons(url('assets/img/SVGs/Logos/Visa_disabled.svg'));
    width: 45px;
    height: 27px;
    display: inline-block;
}
.master-icon-disabled {
    @include icons(url('assets/img/SVGs/Logos/Mastercard_disabled.svg'));
    width: 45px;
    height: 27px;
    display: inline-block;
}
.amex-icon-disabled {
    @include icons(url('assets/img/SVGs/Logos/Amex_disabled.svg'));
    width: 45px;
    height: 27px;
    display: inline-block;
}
.discover-icon-disabled {
    @include icons(url('assets/img/SVGs/Logos/Discover_disabled.svg'));
    width: 45px;
    height: 27px;
    display: inline-block;
}
.credit_card_Bank{
    @include icons(url('assets/img/SVGs/Logos/credit_card_Bank.svg'));
    width: 45px;
    height: 27px;
    display: inline-block;
}
.bank_disabled{
    @include icons(url('assets/img/SVGs/Logos/Bank_disabled.svg'));
    width: 45px;
    height: 27px;
    display: inline-block;
}

.check-icon {
    @include icons(url('assets/img/SVGs/Icons/Check.svg'));
    width: 120px;
    height: 120px;
    display: inline-block;
    @media #{$smartphones-xs} {
        width: 72px;
        height: 72px;
    }
}

.check-full-green {
    @include icons(url('assets/img/SVGs/Icons/check_green.svg'));
    @extend .width-height-20;
    display: inline-block;
}

.check-full-gray {
    @include icons(url('assets/img/SVGs/Icons/check_gray.svg'));
    @extend .width-height-20;
    display: inline-block;
}

.error-red-icon {
    @include icons(url('assets/img/SVGs/Icons/error-red-outline.svg'));
    width: 48px;
    height: 48px;
    display: inline-block;
    // @media #{$smartphones-xs} {
    //     width: 72px;
    //     height: 72px;
    // }
}

.exclamation-circle {
    @include icons(url('assets/img/SVGs/Icons/error.svg'));
     @extend .width-height-20;
}

.exclamation-error {
    background: url('assets/img/SVGs/Icons/error_red.svg') no-repeat;
    margin-top: 4px;
    width: 20px;
    height: 20px;
    color: red;
  }
  .exclamation-error-16px {
    background: url('assets/img/SVGs/Icons/error_red_16px.svg') no-repeat;
    margin-top: 4px;
    width: 16px;
    height: 16px;
    color: red;
  }
 .exclamation-error-40px {
    background: url('assets/img/SVGs/Icons/error_yellow-40px.svg') no-repeat;
    width: 40px;
    height: 40px;
 }
 .exclamation-error-64px {
    background: url('assets/img/SVGs/Icons/error_yellow-64px.svg') no-repeat;
    width: 64px;
    height: 64px;
    @media #{$smartphones-xs}, #{$smartphones-sm} {
                background: url('assets/img/SVGs/Icons/error_yellow-48px.svg') no-repeat;
                width: 48px;
                height: 48px;
        }
    }
 .exclamation-error-20px{
     background: url('assets/img/SVGs/Icons/error_yellow-20px.svg') no-repeat;
     width: 20px;
     height: 20px;
 }
 .warning_filled_red-48px {
    background: url('assets/img/SVGs/Icons/error_filled_red-48px.svg') no-repeat;
    width: 48px;
    height: 48px;
 }
 .warning_red_regular-48{
    background: url('assets/img/SVGs/Icons/warning_red_regular.svg') no-repeat;
    width: 48px;
    height: 48px;
 }
  .check-circle{
    @include icons(url('assets/img/SVGs/Icons/ic-check-circle-magenta-24-px.svg'));
    @extend .width-height;
  }
.check-circle-disable{
    @include icons(url('assets/img/SVGs/Icons/ic-check-circle-disable-24-px.svg'));
    @extend .width-height;
  }
.circle-none{
    @include icons(url('assets/img/SVGs/Icons/ic-circle-number-none-21px.svg'));
    @include width-height(24px,24px);
}
.circle-one{
    @include icons(url('assets/img/SVGs/Icons/ic-circle-number1-21px.svg'));
    @include width-height(24px,24px);
  }
.circle-two{
    @include icons(url('assets/img/SVGs/Icons/ic-circle-number2-21px.svg'));
    @include width-height(24px,24px);
  }
.circle-three{
    @include icons(url('assets/img/SVGs/Icons/ic-circle-number3-21px.svg'));
    @include width-height(24px,24px);
  }
.price-tag{
	@include icons(url('assets/img/SVGs/Icons/ic_price-tag-34px.svg'));
    @include width-height(70px,68px);
  }

.visaImg{
    background: url('assets/img/SVGs/Icons/credit_card_Visa.svg') no-repeat;
    width: 25px;
    height: 15px;
    display: inline-block;
    @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
        width: 50px;
        height: 30px;
    }
}
.masterImg{
    background: url('assets/img/SVGs/Icons/credit_card_Mastercard.svg') no-repeat;
    width: 25px;
    height: 15px;
    display: inline-block;
    @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
        width: 50px;
        height: 30px;
    }
}
.discoverImg{
    background: url('assets/img/SVGs/Icons/credit_card_Discover.svg') no-repeat;
    width: 25px;
    height: 15px;
    display: inline-block;
    @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
        width: 50px;
        height: 30px;
    }   
}

.amexImg{
	background: url('assets/img/SVGs/Icons/credit_card_Amex.svg') no-repeat;
    width: 46px;
    height: 28px;
    display: inline-block;
    @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
        width: 46px;
        height: 28px;
    } 
}
.expressImg{
    
    background: url('assets/img/SVGs/Icons/credit_card_Amex.svg') no-repeat;
    width: 25px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
        width: 50px;
        height: 30px;        
    }   
    @media #{$desktops-xl}{
          
    } 
}

.cvv_visaImg{
    background: url('assets/img/otp/cvv_visa.svg') no-repeat;
    width:200px;
    height:125px;
    display: inline-block;
    @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
        //background: url('assets/img/otp/cvv_visa.svg') no-repeat;
        width:400px;
        height:250px;
    } 
}
.cvv_amexImg{
    background: url('assets/img/otp/cvv_master.svg') no-repeat;
    width:200px;
    height:125px;
    display: inline-block;
    @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
   // background: url('assets/img/otp/cvv_master.svg') no-repeat;
    width:400px;
    height: 250px;
    }
}
.left-arrow{
        background: url('assets/img/SVGs/Icons/ic_keyboard_arrow_right_black_24px.svg') no-repeat;
        transform: rotate(180deg);
        @extend .width-height;
    }
.warning-icon{
        background: url('assets/img/SVGs/Icons/warning_yellow.svg') no-repeat;
        width: 20px;
        height: 20px;
}
.warning-red{
    background: url('assets/img/SVGs/Icons/warning_red.svg') no-repeat;
    width: 20px;
    height: 20px;
}
.warning-red-regular{
    background: url('assets/img/SVGs/Icons/warning_red_regular_sm.svg') no-repeat;
    width: 20px;
    height: 20px;
}
.warning-red-regular-16x14{
    background: url('assets/img/SVGs/Icons/warning_red_regular_16x14.svg') no-repeat;
    width: 16px;
    height: 14px;
}
.warning-brown-regular{
    background: url('assets/img/SVGs/Icons/warning_brown_regular_sm.svg') no-repeat;
    width: 20px;
    height: 20px;
}
.warning-red-regular-35{
    background: url('assets/img/SVGs/Icons/warning_red_regular-35.svg') no-repeat;
    width: 35px;
    height: 35px;
}

.warning-brown-regular-35{
    background: url('assets/img/SVGs/Icons/warning_brown_regular-35.svg') no-repeat;
    width: 35px;
    height: 35px;
}
.warning-regular-35{
    background: url('assets/img/SVGs/Icons/warning_regular-35.svg') no-repeat;
    width: 35px;
    height: 35px;
}
.clear-icon{
        background: url('assets/img/SVGs/Icons/clear_gray.svg') no-repeat;
        width: 22px;
        height: 22px;
}
.clear-icon-nobg{
    background: url('assets/img/SVGs/Icons/clear_nobg.svg') no-repeat;
    width: 22px;
    height: 22px;
}
.clear-icon-light{
    background: url('assets/img/SVGs/Icons/clear-lightgray-16.svg') no-repeat; 
    width:16px; 
    height:16px;
    filter: invert(0) !important; 
}
.clear-icon-light-24{
    background: url('assets/img/SVGs/Icons/clear-lightgray-24.svg') no-repeat; 
    width:16px; 
    height:16px;
    filter: invert(0) !important; 
}

.clear-icon-black{
        background: url('assets/img/SVGs/Icons/clear_black.svg') no-repeat;
        width: 22px;
        height: 22px;
        filter:grayscale(100%);
}
.locked-icon{
        background: url('assets/img/SVGs/Icons/locked-icon.svg') no-repeat;
        width: 74px;
        height: 74px;
}
.unlocked-icon{
        background: url('assets/img/SVGs/Icons/unlocked-icon.svg') no-repeat;
        width: 74px;
        height: 74px;
}
.unknown-icon{
        background: url('assets/img/SVGs/Icons/unknown-icon.svg') no-repeat;
        width: 74px;
        height: 74px;
}
.arrow-right-black {
    @include icons(url('assets/img/SVGs/Icons/arrow-right_black.svg'));
    @extend .width-height-20;
}
.arrow-left-black {
    @include icons(url('assets/img/SVGs/Icons/arrow-left_black.svg'));
    @extend .width-height-20;
}
.arrow-up-black {
    @include icons(url('assets/img/SVGs/Icons/arrow-up_black.svg'));
    @extend .width-height-20;
}
.arrow-down-black {
    @include icons(url('assets/img/SVGs/Icons/arrow-down_black.svg'));
    @extend .width-height-20;
}
.warning-outline-black {
    @include icons(url('assets/img/SVGs/Icons/warning_outline_black.svg'));
    @extend .width-height-20;
}
.warning-fill-black {
    @include icons(url('assets/img/SVGs/Icons/warning_fill_black.svg'));
    @extend .width-height-20;
}
.validated-outline-black {
    @include icons(url('assets/img/SVGs/Icons/validated_outline_black.svg'));
    @extend .width-height-20;
}
.validated-outline-green {
    @include icons(url('assets/img/SVGs/Icons/validated_outline_green.svg'));
    @extend .width-height-20;
}
.validated-fill-black {
    @include icons(url('assets/img/SVGs/Icons/validated_fill_black.svg'));
    @extend .width-height-20;
}
.check-mark-black {
    @include icons(url('assets/img/SVGs/Icons/check-mark_black.svg'));
    @extend .width-height-20;
}
.tooltip-icon-black {
    @include icons(url('assets/img/SVGs/Icons/tooltip-icon_black.svg'));
    @extend .width-height-20;
}
.check-box-filled-black {
    @include icons(url('assets/img/SVGs/Icons/check-box-filled_black.svg'));
    @extend .width-height-20;
}
.check-box-empty-black {
    @include icons(url('assets/img/SVGs/Icons/check-box-empty_black.svg'));
    @extend .width-height-20;
}
.calendar_black {
    @include icons(url('assets/img/SVGs/Icons/calendar_black.svg'));
    @extend .width-height-20;
}
.error_filled_black{
    @include icons(url('assets/img/SVGs/Icons/error_filled_black.svg'));
    @extend .width-height-20;
}
.error_filled_white{
    @include icons(url('assets/img/SVGs/Icons/error_filled_white.svg'));
    @extend .width-height-20;
}
.star_half_black{
    @include icons(url('assets/img/SVGs/Icons/star_half_black.svg'));
    @extend .width-height-20;
}
.star_black{
    @include icons(url('assets/img/SVGs/Icons/star_black.svg'));
    @extend .width-height-20;
}
.star_magenta{
    @include icons(url('assets/img/SVGs/Icons/star_magenta.svg'));
    @extend .width-height-20;
}
.radio_button_empty_black{
    @include icons(url('assets/img/SVGs/Icons/radio_button_empty_black.svg'));
    @extend .width-height-20;
}
.radio_button_filled_black{
    @include icons(url('assets/img/SVGs/Icons/radio_button_filled_black.svg'));
    @extend .width-height-20;
}
.zoom_in_black{
    @include icons(url('assets/img/SVGs/Icons/zoom_in_black.svg'));
    @extend .width-height-20;
}
.expand_black{
    @include icons(url('assets/img/SVGs/Icons/expand_black.svg'));
    @extend .width-height-20;
}
.star_border_black{
    @include icons(url('assets/img/SVGs/Icons/star_border_black.svg'));
    @extend .width-height-20;
}
.settings_black{
    @include icons(url('assets/img/SVGs/Icons/settings_black.svg'));
    @extend .width-height-20;
}
.message_black{
    @include icons(url('assets/img/SVGs/Icons/message_black.svg'));
    @extend .width-height-20;
}
.message_magenta{
    @include icons(url('assets/img/SVGs/Icons/message_magenta.svg'));
    @extend .width-height-20;
}
.headset_black{
    @include icons(url('assets/img/SVGs/Icons/headset_black.svg'));
    @extend .width-height-20;
}
.thumb_up_black{
    @include icons(url('assets/img/SVGs/Icons/thumb_up_black.svg'));
    @extend .width-height-20;
}
.thumb_down_black{
    @include icons(url('assets/img/SVGs/Icons/thumb_down_black.svg'));
    @extend .width-height-20;
}
.flag_black{
    @include icons(url('assets/img/SVGs/Icons/flag_black.svg'));
    @extend .width-height-20;
}
.star-icon{
    @include icons(url('assets/img/SVGs/Logos/Star.svg'));
    @extend .width-height-20;
}
.star-icon-disabled{
    @include icons(url('assets/img/SVGs/Logos/Star_disabled.svg'));
    @extend .width-height-20;
}
.star-icon-46-28 {
    @include icons(url('assets/img/SVGs/Logos/Star.svg'));
    width: 46px;
    height: 28px;
    display: inline-block;
  }
.pulse-icon{
    @include icons(url('assets/img/SVGs/Logos/Pulse.svg'));
    @extend .width-height-20;
}
.pulse-icon-disabled{
    @include icons(url('assets/img/SVGs/Logos/Pulse_disabled.svg'));
    @extend .width-height-20;
}
.accel-icon{
    @include icons(url('assets/img/SVGs/Logos/Accel.svg'));
    @extend .width-height-20;
}
.accel-icon-disabled{
    @include icons(url('assets/img/SVGs/Logos/Accel_disabled.svg'));
    @extend .width-height-20;
}
.NYCE-icon{
    @include icons(url('assets/img/SVGs/Logos/NYCE.svg'));
    @extend .width-height-20;
}
.NYCE-icon-disabled{
    @include icons(url('assets/img/SVGs/Logos/NYCE_disabled.svg'));
    @extend .width-height-20;
}
.ATM-icon{
    @include icons(url('assets/img/SVGs/Logos/ATM.svg'));
    @extend .width-height-20;
}
.ATM-icon-disabled{
    @include icons(url('assets/img/SVGs/Logos/ATM_disabled.svg'));
    @extend .width-height-20;
}
.Bank-icon{
    @include icons(url('assets/img/SVGs/Logos/Bank.svg'));
    @extend .width-height-20;
}
.Bank-icon-46-28{
    @include icons(url('assets/img/SVGs/Logos/Bank.svg'));
    width: 46px;
    height: 28px;
    display: inline-block;
}
.Bank-icon-46-28-disabled{
    @include icons(url('assets/img/SVGs/Logos/Bank_disabled.svg'));
    width: 46px;
    height: 28px;
    display: inline-block;
}
.add-bank-icon-46-28{
    @include icons(url('assets/img/SVGs/Logos/add-bank.svg'));
    width: 54px;
    height: 48px;
    display: inline-block;
}
.add-card-icon-46-28{
    @include icons(url('assets/img/SVGs/Logos/add-card.svg'));
    width: 54px;
    height: 48px;
    display: inline-block;
}
.Bank-icon-disabled{
    @include icons(url('assets/img/SVGs/Logos/Bank_disabled.svg'));
    @extend .width-height-20;
}
.cvv-visa{
    @include icons(url('assets/img/SVGs/Logos/cvv_visa.svg'));
    @extend .width-height-20;
}
.routing-icon{
    @include icons(url('assets/img/SVGs/Logos/routing.svg'));
    height:200px;
}
@media #{$smartphones-xs}, #{$smartphones-sm}{
    .clear-icon-xs-sm {
        background: url('assets/img/SVGs/Icons/clear_gray_14.svg') no-repeat;
      }

      .clear-icon-light{
        background: url('assets/img/SVGs/Icons/clear-lightgray-14.svg') no-repeat; 
      }
}
.clear-icon1{
    background: url('assets/img/SVGs/Icons/clear_gray_16.svg') no-repeat;
    width:16px;
    height:16px;
}
.clock-48px {
    background: url('assets/img/SVGs/Icons/clock-48px.svg') no-repeat;
    width: 48px;
    height: 48px;
 }
 .clock-64px {
    background: url('assets/img/SVGs/Icons/clock-64px.svg') no-repeat;
    width: 64px;
    height: 64px;
 }
 .validated_outline_green-48px {
    background: url('assets/img/SVGs/Icons/validated_outline_green-48px.svg') no-repeat;
    width: 48px;
    height: 48px;
 }
 .validated_outline_green-64px {
    background: url('assets/img/SVGs/Icons/validated_outline_green-64px.svg') no-repeat;
    width: 64px;
    height: 64px;
 }
 .validated_outline_magenta-72px {
    background: url('assets/img/SVGs/Icons/validated_outline_magenta-72px.svg') no-repeat;
    width: 72px;
    height: 72px;
 }
 .clock-24px {
    background: url('assets/img/SVGs/Icons/clock-48px.svg') no-repeat;
    width: 24px;
    height: 24px;
 }
 .exclamation-error-black {
    background: url('assets/img/SVGs/Icons/error_red.svg') no-repeat;
    margin-top: 4px;
    width: 20px;
    height: 20px;
    color:black;
  }
  .warning-red-outline{
    background: url('assets/img/warning-red-outline.PNG') no-repeat;
    width: 48px;
    height: 48px;
    @media #{$alldeviceexceptsmartphone}{
        background: url('assets/img/warning-red-outline-64.PNG') no-repeat;
        width: 64px;
        height: 64px;
    }
}
.warning-red-outline-12{
    background: url('assets/img/warning-red-outline-12.png') no-repeat;
    width: 24px;
    height: 24px;
 }
.validated_outline_green-11px {
    background: url('assets/img/SVGs/Icons/validated_outline_green-11px.svg') no-repeat;
    width: 11px;
    height: 11px;
 }
 .validated_outline_green_16x14 {
    background: url('assets/img/SVGs/Icons/validated_outline_green_16x14.svg') no-repeat;
    width: 16px;
    height: 14px;
 }
  .arrow-right-invert {
    -webkit-filter: invert(1) !important;
     filter: invert(1) !important;
}
 .warning-white-outline{
    background: url('assets/img/SVGs/Icons/error-white.svg') no-repeat;
    width: 16px;
    height: 16px;
}

.warning-error{
    width: 33px;
    height: 36px;
    background-image: url('assets/img/warning-error-icon.PNG');
}
.warning-error-24{
    width: 24px;
    height: 24px;
    background-size:24px;
    background-image: url('assets/img/warning-error-icon.PNG');
}
.search-icon-gray {
    background: url('assets/img/png/search-icon.png') no-repeat;
    height: 24px; 
    width: 24px; 
  }

// header & footer icons starts
@mixin icon-height-width($height, $width) {
    height: $height; 
    width: $width; 
  }
  .width-height-20 {
    width: 20px; 
    height: 20px; 
  }
  
 .person-white {
    @include icons(url('assets/img/header-footer/baseline-person-24px-white.svg')); 
    @extend .width-height-20; 
  }

  .person-magenta {
    @include icons(url('assets/img/header-footer/person-magenta.svg')); 
    @extend .width-height-20; 
  }
  
  .arrow-up-white {
    @include icons(url('assets/img/header-footer/arrow-up-white.svg')); 
    @include icon-height-width(16px, 16px); 
  }
  
  .call-white {
    // @include icons(url('assets/img/svg/icons/baseline-call-24px-white.svg')); 
    @include icon-height-width(24px, 24px); 
  }
  
  .comments-white {
    @include icons(url('assets/img/header-footer/round-question_answer-24px-white.svg')); 
    @include icon-height-width(24px, 24px); 
  }
  
  .searchicon-white {
    // @include icons(url('assets/img/svg/icons/baseline-search-24px-white.svg')); 
    @include icon-height-width(24px, 24px); 
  }
  
  .search-gray {
    @include icons(url('assets/img/header-footer/baseline-search-gray.svg')); 
    @include icon-height-width(24px, 24px); 
  }
  
  .search-magenta {
    @include icons(url('assets/img/header-footer/baseline-search-magenta.svg')); 
    @include icon-height-width(24px, 24px); 
  }
  
  .menu-white {
    @include icons(url('assets/img/header-footer/baseline-menu-24px-white.svg')); 
    @include icon-height-width(24px, 24px); 
  }
  
  .footer-tooltip {
    @include icons(url('assets/img/header-footer/support_icon_black.svg')); 
    @include icon-height-width(16px, 16px); 
  }
  .footer-tooltip-magenta {
    @include icons(url('assets/img/header-footer/support_icon_magenta.svg')); 
    @include icon-height-width(16px, 16px); 
  }
  .phone {
    @include icons(url('assets/img/header-footer/contact_us_icon_black.svg')); 
    @include icon-height-width(16px, 16px); 
  }
  .phone-magenta {
    @include icons(url('assets/img/header-footer/contact_us_icon_magenta.svg')); 
    @include icon-height-width(16px, 16px); 
  }
  .business {
    @include icons(url('assets/img/header-footer/store_locator_icon_black.svg')); 
    @include icon-height-width(16px, 16px); 
  }
  .business-magenta {
    @include icons(url('assets/img/header-footer/store_locator_icon_magenta.svg')); 
    @include icon-height-width(16px, 16px); 
  }
  
  .hotspot {
    @include icons(url('assets/img/header-footer/coverage_icon_black.svg')); 
    @include icon-height-width(16px, 16px); 
  }
  .hotspot-magenta  {
    @include icons(url('assets/img/header-footer/coverage_icon_magenta.svg')); 
    @include icon-height-width(16px, 16px); 
  }
  
  .tmobileicon{
    @include icons(url('assets/img/header-footer/t-mobile_icon_black.svg')); 
    @include icon-height-width(16px, 16px); 
  }
  
  .tmobileicon-magenta {
    @include icons(url('assets/img/header-footer/t-mobile_icon_magenta.svg')); 
    @include icon-height-width(16px, 16px); 
  }
  
  // header & footer icons ends

  // Text Image classes

    .simpleChoice {
        @include icons(url('assets/img/SVGs/Text-images/Simple-Choice.svg')); 
        @include icon-height-width(36px, 216px); 
    }
    .tmobileEssentials {
        @include icons(url('assets/img/SVGs/Text-images/T-Mobile-Essentials.svg')); 
        @include icon-height-width(33.5px, 302px);
    }
    .tmobileOne {
        @include icons(url('assets/img/SVGs/Text-images/T-Mobile-One.svg')); 
        @include icon-height-width(33.5px, 205px);
    }
    .palinCardImg{
        background: url('assets/img/SVGs/Icons/plain_card.svg') no-repeat;
        width: 20px;
        height: 20px;
    }
    .bankImg {
        background: url('assets/img/SVGs/Icons/bank_icon.svg') no-repeat;
        width: 20px;
        height: 20px;
      }
/*Icon for temporary suspension page*/
      .arrow-right-magenta {
        @include icons(url('assets/img/SVGs/Icons/ic_keyboard_arrow_right_magenta_24px.svg'));
        //filter:invert(0.5);
        @extend .width-height-20;
    }
    .arrow-right-magenta-20 {
        @include icons(url('assets/img/SVGs/Icons/ic_keyboard_arrow_right_magenta_20px.svg'));
        //filter:invert(0.5);
        @extend .width-height-20;
        @media #{$smartphones-xs}, #{$smartphones-sm}{
            @include icons(url('assets/img/SVGs/Icons/arrow_right_magenta30.svg'));
        }
    }
/*Icon for temporary suspension page end*/
/*Apple icon added for the autopayoff 2*/
.apple-icon {
    @include icons(url('assets/img/SVGs/Logos/Apple.svg'));
    width: 45px;
    height: 27px;
    display: inline-block;
}
/* magnenta warning icon for Line details */
.warning-magenta-regular {
    background: url('assets/img/SVGs/Icons/warning_magenta_24.svg') no-repeat;
    width: 24px;
    height: 20px;
}
