<div class="TMO-LINE-SETTINGS-CALLERID">
  <div class="container">
    <div class="row padding-top-large-xs padding-top-large-sm padding-top-xl">
      <div class="col-12 ">
        <p class="Display3 text-center"> <span tabindex="0" aria-label="Line Settings">Line Settings</span></p>
      </div>
       <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
        <p class="legal pb-1">{{subTitle}}</p>
        <div tabindex=0  class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
          <div id="model" class="dropdown-toggle">
            <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
            <span class="arrow-down pull-right mt-1"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="model">
            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
              (click)="select(state.name)">
              <a> {{state.name}} </a>
            </li>
          </ul>
        </div>
      </div> 

    </div>

   <div class="row">
          <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between">
          <div class="col-10 pull-left no-padding">
            <p class="Display6 padding-bottom-small padding-bottom-xsmall-xs padding-bottom-xsmall-sm ">
                <span tabindex="0" aria-label="Caller ID">Caller ID</span></p>
            <p class="body col-12 no-padding  padding-bottom-medium padding-bottom-small-xs padding-bottom-small-sm">
                <span tabindex="0" aria-label="Zachfrost">Zachfrost</span></p>
          </div>
          <!-- <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
            <span class="arrow-right d-inline-block float-right"></span>
          </div> -->
        </div>
   </div>
   <div class="row no-margin">
        <div class="col-12 col-md-10 offset-md-1 no-padding">
          <div class="inset-divider-1px"></div>
        </div>
   </div>
   <div class="row">
        <div class="col-12 col-md-10 offset-md-1 padding-top-small padding-bottom-large no-padding">
          <p class="body  col-12 gray85" *ngIf="!restricted">
              <span tabindex="0" aria-label="Want to change your caller ID?"> Want to change your caller ID? </span> <a class="body-bold d-inline-flex brand-magenta" tabindex="0" aria-label="Click to go to Contact us">Contact us <span class="arrow-right-magenta-20 arrow-position d-inline-block"></span></a></p>
          <p class="body  col-12 gray85" *ngIf="restricted">
              <span tabindex="0" aria-label="Please contact your primary account holder to change your caller ID">Please contact your primary account holder to change your caller ID </span></p>
        </div>
    </div>
  </div>
  </div>
