@import "src/assets/scss/global-variables.scss";
.TMO-LINE-SETTINGS-CALLERID{
    .brand-magenta {
        color: #E20074 !important;
    }  
    
    @media #{$smartphones-xs}, #{$smartphones-sm}{
        .arrow-position {
            position: relative;
            top: 2px;
        }
    }

}
