@import "src/assets/scss/global-variables.scss";
.TMO-CONVERSATION-HISTORY-PAGE{
    .supportStyle{
        text-align: left;
        border: 1px solid $brand-magenta;
        padding:24px 22px 17px 24px;
        border-radius: 8px 8px 8px 0px;
    }
    @media #{$alldeviceexceptsmartphone}{
       .supportStyle{
            text-align: left;
            border: 1px solid $brand-magenta;
            padding:25px 25px 18px 25px;
            border-radius: 8px 8px 8px 0px;
        }
    }
    .customerStyle{
        text-align: right;
        padding: 16px 0px 32px 0px;
    }
    .supportHeaderStyle{
        text-align: left;
        padding-bottom: 16px;
    }
    .customerHeaderStyle{
        text-align: right;
        padding-top: 24px;
    }
}