<div class="TMO-CONVERSATION-HISTORY-PAGE">
    <div class="container">
        <app-header></app-header>
        <div class="row padding-top-xl-sm padding-top-xl-md padding-top-xl-lg padding-top-xl-xl padding-top-large-xs">
            <div class="col-12">
                <p class="Display3 text-center">Conversation with customer care</p>
            </div>
        </div>
        <div class="row padding-top-medium">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="full-bleed-divider">
                </div>
            </div>
        </div>
        <div *ngFor="let item of chatObj">
            <div class="row">
                <div class="col-md-9" [ngClass]="{'offset-md-1': item.supportTeam, 'offset-md-2': !item.supportTeam, 'col-11': item.supportTeam, 'col-12': !item.supportTeam}">
                    <p [ngClass]="{'supportHeaderStyle': item.supportTeam, 'customerHeaderStyle': !item.supportTeam}">
                        <span class="legal-bold" [ngClass]="{'black': item.supportTeam}">{{item.user}} </span>
                        <span class="legal" [ngClass]="{'black': item.supportTeam}">at</span>
                        <span class="legal" [ngClass]="{'black': item.supportTeam}"> {{item.date}}</span>
                    </p>
                    <p [ngClass]="{'supportStyle': item.supportTeam, 'customerStyle': !item.supportTeam}"><span class="body black">{{item.message}}</span></p>
                </div>
            </div>
        </div>
        <div class="row padding-top-large-sm padding-top-large-md padding-top-large-lg padding-top-large-xl padding-top-medium-xs padding-bottom-xl">
            <div class="col-12 col-md-10 offset-md-1">
                <p class="legal black">Conversation closed by the agent 15:17, Mar 27</p>
            </div>
        </div>
    </div>
</div>
