<div class="TMO-STYLEGUIDE-GLUE-MODAL-PAGE">
<div class="container" >
     <div class="row padding-vertical-xxl">
        <div class="col-12 text-center">
            <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Glue Modal</button>
        </div>
    </div>     
    <div class="dialog-container">
        <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
        <div class="row no-margin">
            <div class="col-12 no-padding text-center">
                <img class="modal-img" src="http://fpoimg.com/120x120">
            </div>
        </div>
        <div class="row no-margin padding-top-medium text-center">  
            <span mat-dialog-title class="col-12 no-padding d-block d-lg-none Display5">Single line headline</span>
            <span mat-dialog-title class="col-12 no-padding d-none d-lg-block Display5">Single line headline goes here</span>
        </div>
        <div class="row no-margin padding-vertical-medium">      
            <div class="col-12 col-sm-12 col-md-12 no-padding modal-borderBox">   </div>
        </div>
        <div class="row d-block d-md-none padding-top-xsmall text-center">
            <div class="col-5 no-padding d-inline-block">
                <div class="col-12 no-padding d-inline-block pr-1 pr-md-0 pull-right">  
                <button class="SecondaryCTA-accent blackCTA full-btn-width" appButtonripple (click)="close()">CTA</button>
                </div>
            </div>
            <div class="col-5 no-padding d-inline-block">
                <div class="col-12 no-padding d-inline-block pull-right pl-1 pl-md-0 pull-left">
                <button class="PrimaryCTA-accent full-btn-width pull-right" appButtonripple (click)="close()">CTA</button>
                </div>
            </div>
        </div>
        <div class="row no-margin d-none d-md-block padding-top-xsmall pull-right">
            <div class="">
                <button class="SecondaryCTA blackCTA full-btn-width mr-2" appButtonripple (click)="close()">CTA goes here</button>
                <button class="PrimaryCTA full-btn-width" appButtonripple (click)="close()">CTA goes here</button>
            </div>
        </div>
        </div>
    </div>
    <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>       
</div>
</div>