<div class="TMO-PROFILE-PRIVACY-NOTIFICATION-INTEREST-ADS">
  <div class="container">
    <div class="row padding-vertical-xl padding-vertical-large-xs padding-vertical-large-sm">
      <div class="col-12 col-md-12">
        <p class="Display3 text-center">Information on interest-based ads</p>
      </div>
    </div>
    <div class="row">
      <div  class="col-10 offset-1 col-md-8 offset-md-2 pull-left d-flex align-items-center justify-space-between">
        <div>
        <p class="Display6">How interest-based ads are selected for you</p>
        <p class="body padding-top-small padding-bottom-large">As part of the T-MOBILE® AUDIENCE™ program T-Mobile or our providers may use an anonymous profile of your top web browsing and app activity, location, and interests. This profile does not contain information that identifies you personally, but may include a unique encrypted identifier that enables your device to be matched to a profile of your web browsing, app usage, location, and anonymous characteristics about your interests.</p>
        </div>
      </div>
      <div  class="col-10 offset-1 col-md-8 offset-md-2 pull-left padding-bottom-small d-flex align-items-center justify-space-between">
        <div>
        <p class="Display6">Where your choices will apply</p>
        <p class="body padding-top-small">Please note a few things about your choices for receiving interest-based ads:</p>
        <ul class="body col-12 ml-2">
          <li class="padding-top-small">Your choice only affects ads served by T-Mobile's ad service providers on websites and applications you access on your device. It does not affect the ads you may see on websites and applications that are not accessed
   on your device or served by our ad providers as part of the T-Mobile Audience program.</li>
   <li> If your device identifier is reset, you may need to reset your interest-based ad choice.</li>
   <li>For more information on how T-Mobile handles your information, please read our T-Mobile Privacy Policy.To review all privacy and notifications settings,visit My T-Mobile.</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
