<div class="TMO-EPP-TERMS-AND-CONDITION">
  <div class="container">
    <div class="main-content">
        <div class="row">
            <div class="col-12 padding-top-large text-center">
              <p class="Display3">Terms & conditions</p>
            </div>
            <div class="col-12 col-md-10 offset-md-1 padding-top-medium no-padding-xs">
              <div class="full-bleed-divider"></div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 padding-top-small">
              <p class="body">Thank you for choosing to make a payment(s). Please read these terms and conditions carefully. They are an agreement between you and T-Mobile. By clicking on the "submit" button on the payment page, you agree to these Terms and Conditions for Payments and authorize T-Mobile to (a) initiate an automated clearing house (ACH) debit entry(ies) or a debit card payment(s) from the checking or savings account you specify, or (b) charge your specified credit card. The amount(s) and date(s) of any payment(s) will be specified on the payment information screen shown during the payment process. You also authorize T-Mobile to credit your specified bank account or credit card in the appropriate amount for any refunds or other billing adjustments. If you select a debit card as your payment source, T-Mobile may process your payment(s) over the STAR, Pulse, NYCE or ACCEL networks (or another network, other than the primary network brand indicated on your card). If you prefer to have your payment(s) processed over your card’s primary network, (e.g. Visa or MasterCard) please select that option prior to processing your transaction(s). You agree to be bound by any rules your financial institution requires for ACH debit transactions or that your debit card or credit card issuer requires for debit card or credit card transactions. T-MOBILE SHALL BEAR NO LIABILITY OR RESPONSIBILITY FOR ANY LOSSES OF ANY KIND THAT YOU MAY INCUR AS A RESULT OF AN ERRONEOUS STATEMENT, ANY DELAY IN THE ACTUAL DATE ON WHICH YOUR ACCOUNT IS DEBITED, OR YOUR FAILURE TO PROVIDE ACCURATE AND/OR VALID PAYMENT INFORMATION. T-Mobile reserves the right to change these terms and conditions at any time. Notice of any such change may be given on or with your bill or by other methods. FOR MORE INFORMATION Call 1-877-453-1304</p>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-12 padding-top-large padding-bottom-small text-center">
        <button class="PrimaryCTA col-md-4 full-btn-width" appButtonripple (click)="gotopreviouspage()">Back</button>
      </div>
    </div>
  </div>
</div>  
