@import "src/assets/scss/global-variables.scss";
.TMO-EPP-TERMS-AND-CONDITION {
    @media #{$smartphones-sm},#{$smartphones-xs}
    {
    .main-content{
        min-height: calc(100vh - 100px);
    }
}
}
