<div class="TMO-ELECTRONIC-SIGNATURE-TERMS">
<div class="container">
    <app-header></app-header>
    <div class="row no-margin padding-top-large-xs padding-top-large-sm padding-top-xl">
      <div class="col-12 text-center">
        <span class="Display3">Electronic-signature terms</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center padding-top-xsmall-xs padding-top-xsmall-sm padding-top-medium padding-bottom-medium">
        <div class="print-icon "></div>
        <div class="body-link cursor padding-horizontal-xsmall">Print this page</div>
      </div>
    </div>
  
  <div class="row"  >
      <div class="col-12 col-md-10 offset-md-1 legal black">
        <div class="legal-bold black padding-bottom-medium">ELECTRONIC SIGNATURE TERMS AND CONDITIONS</div>
        <div class="padding-bottom-xsmall">These terms relate to your electronic receipt of disclosures and notices (collectively, the "Disclosures") in connection with T-Mobile USA, Inc. ("T-Mobile") services including, but not limited to, an Equipment Installment Plan contract (the "EIP"). The Disclosures may be provided to you electronically by T-Mobile or through the DocuSign, Inc. (DocuSign) electronic signing system. By giving your consent below (the "Consent"), you agree that T-Mobile may provide you with the Disclosures, including those contained in the EIP contract, in an electronic form. Please read the information below carefully and thoroughly, and if you can access this information electronically to your satisfaction and agree to these terms and conditions, please confirm your agreement by pressing submit below.</div><br>
        
        <div> <span class="legal-bold black">1. Types of Disclosures and Notices Provided in Electronic Form.</span> The Disclosures may include, without limitation, disclosures and notices under: the Federal Truth-in-Lending Act and Federal Reserve Regulation Z; state law; Title V of the Federal Gramm-Leach-Bliley Act together with its implementing regulations; and other applicable federal, state and local laws.</div><br>
        
        <div><span class="legal-bold black">2. Your Right To Receive Paper Copies of the Disclosures.</span> By entering into contract with T-Mobile electronically, you will receive the Disclosures electronically. This means that you do not have the right to receive the Disclosures on paper or in a non-electronic form before you enter into the contract. For any documents T-Mobile sends to you through the DocuSign system, you will have the ability to download and print the documents during and immediately after the DocuSign signing session and, if you elect to create a DocuSign signer account, you may access them for a limited period of time (usually 30 days) after such documents are first sent to you. You can enter into contract with T-Mobile in a paper form at a T-Mobile store and you will receive the Disclosures on paper, but those paper terms may differ from the terms entered into electronically. </div><br>
        
        <div><span class="legal-bold black">3. Your Right To Withdraw Your Consent.</span> You have the right to withdraw your Consent, and will not be charged any fees for doing so. However, if you withdraw your Consent, this will not affect the validity of any Disclosures that were provided to you electronically prior to the withdrawal.</div> <br>
        
        <div><span class="legal-bold black">4. Scope of Your Consent.</span> Your Consent applies to your receipt of electronic Disclosures in connection with this transaction and your relationship with T-Mobile. Unless you tell T-Mobile otherwise, in accordance with the procedures described herein, T-Mobile may provide electronically to you, either directly or through the DocuSign system, all required Disclosures, authorizations, acknowledgements, and other documents that are required to be provided or made available to you during the course of T-Mobile's relationship with you. To reduce the chance of you inadvertently not receiving any Disclosure, T-Mobile prefers to provide all of the required Disclosures to you by the same method and to the same address that you have given T-Mobile or DocuSign. If you elect to receive required notices and disclosures only in paper format, it will slow the speed at which we can complete certain steps in transactions with you and delivering services to you because we will need first to send the required notices or disclosures to you in paper format. </div><br>
        
       <div><span class="legal-bold black"> 5. Procedures to Withdraw Your Consent or Change Your Designated E-Mail Address.</span> You can withdraw your Consent or change your designated e-mail address at http://www.T-Mobile.com or by calling T-Mobile at 800-937-8997. </div><br>
        
       <div><span class="legal-bold black">6. How to Receive Paper Copies.</span> You may download and print copies of the Disclosures with your computer and printer, or email them to yourself, during the transaction. After providing Consent, you will receive an e-mail to the e-mail address that you have provided that includes a PDF file of the Disclosures that can be printed with your computer and printer. You may also receive, without charge, a paper copy of the electronic Disclosures by calling (800) 937-8997. </div><br>
        
       <div><span class="legal-bold black">7. Computer Hardware, Software and Other Requirements.</span> You must have the following items and features in order to receive the Disclosures electronically, to print copies of the Disclosures, and to retain electronic copies of the Disclosures: </div><br>
        
       <table border="1"><tbody><tr><td>Personal Computer and e-mail address</td><td> A personal computer with monitor, keyboard and mouse capable of accessing the Internet and sending and receiving e-mail to a valid e-mail address</td></tr> <tr><td> Operating Systems:</td><td> Windows® XP (or higher), Windows Vista®;Windows 7; Mac OS® X (or higher) (each having 800Mhz or higher processor and at least 10MB of storage space)</td></tr> <tr><td> Internet Browsers:</td><td> Final release versions of Internet Explorer® 7.0 or above (Windows only); Mozilla Firefox 3.0 or above (Windows and Mac); Safari™ 3.0 or above (Mac only); Google Chrome 5.0 or above. Browser must be appropriate for computer's operating system.</td></tr> <tr><td>Mobile Signing</td><td> Apple iOS 4.0 or above; Android 2.2 or above.</td></tr> <tr><td>PDF Reader:</td><td> Acrobat® or similar software may be required to view and print PDF files, such as Adobe® Acrobat®  Reader® version 7 or higher </td></tr> <tr><td> Screen Resolution:</td><td>1024 x 768 minimum</td></tr> <tr><td> Enabled Security Settings:</td><td>Allow per session cookies</td></tr> <tr><td>Printer</td><td> A printer capable of printing text screens, if you wish to print copies </td></tr></tbody></table>
        
       <div class="padding-top-small">**If T-Mobile changes the computer hardware or software requirements, T-Mobile will provide you with notice of the new requirements. At that time, you may withdraw your Consent as described in Section 5 above, and you will not be charged any fees as a result of the withdrawal of your Consent. </div>
        
        <div class="padding-top-xsmall"><span class="legal-bold black">8. Electronic Confirmation of Your Consent and Your Designated E-Mail Address.</span> By pressing submit and providing your Consent below, T-Mobile will send a notice to your designated e-mail address.</div> 
        
        <div class="padding-top-xsmall"><span class="legal-bold black">9. Acknowledging Your Access and Consent to Receive Materials Electronically.</span> To confirm to T-Mobile that you can access this information electronically, which will be similar to other electronic Disclosures that T-Mobile will provide to you, please verify that you were able to read this electronic disclosure and that you also were able to print on paper or electronically save this page for your future reference and access or that you were able to e-mail this disclosure and consent to an address where you will be able to print on paper or save it for your future reference and access. Further, if you Consent to receiving Disclosures exclusively in electronic format on the terms and conditions described above, please let us know by clicking submit below. </div>
        <div class="padding-top-xsmall">
        By checking submit below, I confirm that: <br>
        I can access and read this Electronic Signature Terms and Conditions document; and <br>
        I can print on paper the disclosure or save or send the disclosure to a place where I can print it, for future reference and access; and<br>
        Until or unless I notify T-Mobile as described above, I consent to receive from T-Mobile exclusively through electronic means all notices, disclosures, authorizations, acknowledgements, and other documents that are required to be provided or made available to me by T-Mobile during the course of my relationship with T-Mobile.
        </div>
  </div>
  </div>
  <div class="row ">
    <div class="col-12  padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl text-center">
          <button class="PrimaryCTA full-btn-width" appButtonripple (click)="gotopreviouspage()">Back</button>
    </div>
  </div>
</div>
</div>