<div class="TMO-ACCOUNT-OVERVIEW-COST-DETAILS">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-xl padding-vertical-medium-xs padding-vertical-medium-sm padding-horizontal-small Display3">
        Cost details
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs ">
        <div class="full-bleed-divider"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-inline-flex align-items-center padding-small-xs padding-vertical-medium cursor">
        <div class="no-padding w-100">
          <div class="Display5">
            {{monthlyDetails.title}}
            <span class="body black float-right">
              <span class="font-weight-bold">{{monthlyDetails.price}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs ">
        <div class="full-bleed-divider"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium Display5">
        Plan
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs ">
        <div class=" inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-top-medium">
        <div class="H6-heading">T-Mobile
          <span class="brand-magenta">One</span>
          <sup class="legal brand-magenta">TM</sup>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-baseline justify-content-between padding-bottom-medium">
        <div class="col-10 no-padding">
          <div class="body-bold black padding-top-small padding-bottom-base-xs padding-bottom-base-sm padding-bottom-xsmall">{{discountDetails.title}}:</div>
          <p class="body" *ngFor="let discountData of discountDetails.data">
            <span class="check-icon mr-2"></span>{{discountData.desc}}</p>
        </div>
        <div class="col-2 no-padding">
          <p class="body-bold black text-right">${{discountDetails.price}}</p>
        </div>
      </div>
    </div>
    <div class="row" *ngFor="let val of costDetails;let i=index;">
      <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs ">
        <div class="full-bleed-divider"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-inline-flex align-items-center padding-small-xs padding-vertical-medium cursor">
        <div class="no-padding w-100">
          <div class="Display5">
            {{val.name}}
            <span class="body black float-right">
              <span class="font-weight-bold">{{val.totalAmount}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs ">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 no-padding-xs no-padding-sm" *ngFor="let planDetails of val.data">
        <div class="padding-top-medium d-flex align-items-center cursor padding-horizontal-small-xs px-sm-3 px-md-0" [ngClass]="{'padding-bottom-medium':planDetails.discountInfo.length <= 0 }">
          <div class="col-8 float-left no-padding">
            <p class="H6-heading">{{planDetails.desc}}</p>
            <p class="padding-top-xsmall body">{{planDetails.subDesc}}</p>
          </div>
          <div class="col-4 no-padding">
            <span class="float-right body d-inline-flex align-items-center">{{planDetails.value}}</span>
          </div>
        </div>
        <div class="col-12 no-padding d-flex padding-top-small padding-bottom-medium padding-horizontal-small-xs px-sm-3 px-md-0"
          *ngIf="planDetails.discountInfo.length > 0">
          <div class="col-12 no-padding" *ngFor="let discountInfo of planDetails.discountInfo">
            <div class="body-bold black padding-bottom-base-xs padding-bottom-base-sm padding-bottom-xsmall">{{discountInfo.title}}
              <span class="float-right body">{{discountInfo.price}}</span>
            </div>
            <p class="body" *ngFor="let discountData of discountInfo.data">
              <span class="check-icon mr-2"></span>{{discountData.desc}}</p>
          </div>
        </div>
        <div class="no-padidng-xs no-padding-sm">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium cursor" routerLink="{{val.lineDetailUrl}}">
        <div class="col-10 body text-dark-pink d-inline no-padding">
          Line details
        </div>
        <div class="no-padding pr-0 fa-lg float-right col-2 d-line">
          <span class="body pull-right black arrow-right arrow-right-invert"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs padding-bottom-xxxl">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
  </div>
</div>