@import "src/assets/scss/global-variables.scss";
.TMO-ACCOUNT-OVERVIEW-COST-DETAILS {
    .check-icon {
        width: 10px;
        height: 10px;
        font-size: 10px;
    }
    .text-dark-pink {
        color: #e60071;
    }
    .no-padding-sm{
        @media #{$smartphones-sm}{
           padding-left: 0px;
           padding-right: 0px;
        }}
}