<div class="TMO-M-CONFIRMATION ">
    
        <div class="container">
            <div class="">
            <app-header></app-header>
            <div class="col-12 col-md-10  offset-md-1 no-padding" >
                    <div class="row">
                        <div class="col-12 text-center padding-top-large legal">
                            <span class="check-icon"></span>
                        </div>
                    </div>
                    <div class="row padding-top-large">
                        <div class="col-12 Display3 text-center">
                            <p class="mb-0">Thanks, {{name}}</p>
                            <p class="mb-0">Your order is complete</p>
                        </div>
                    
                    </div>
                    <div class="padding-top-small-xs padding-top-small-sm padding-top-large">
                        <div class="col-12 no-padding">
                            <div class="inset-divider-1px"></div>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-12 body-bold padding-vertical-small no-padding pr-3" (click)="detailsPayment()">
                            <span class="pull-left black Display6">Order details</span>
                            <span class="pull-right cursor arrow-down" [ngClass]="{'arrow-down arrowdown_rotation':!showDetails, 'arrow-up arrowup_rotation':showDetails}"></span>
                        </div>
                        <div class="col-12 no-padding">
                            <div class="inset-divider-1px"></div>
                        </div>
                    </div>
                    <div class="accordion-content" [ngClass]="{'content-open':showDetails}">
                       
                        <div class="row body padding-top-medium">
                            <div class="col-12" *ngFor="let dataPass of dataPassInfo">
                                <span class="pull-left ">{{dataPass.descTitle}}:</span>
                                <span class="pull-right ">{{dataPass.value}}</span>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 padding-top-medium no-padding-xs">
                                <div class="inset-divider-1px"></div>
                            </div>
                
                        </div>
                        <div class="row body" *ngFor="let addOns of addItems">
                            <div class="col-12">
                                <div class="inset-divider-1px"></div>
                            </div>
                            <div class="col-12 padding-top-small">
                                <span class="pull-left Display6 ">{{addOns.descTitle}}</span>
                                <span class="pull-right H6-heading ">${{addOns.value}}/mo</span>
                            </div>
                            <div class="col-12 padding-top-xsmall padding-bottom-small">
                                <span class="pull-left body">{{addOns.effectTitle}}</span>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div  class="col-12 col-md-10  offset-md-1  no-padding">
                <div class="row">
                
                    <div class="col-12  padding-top-xl padding-top-large-xs"> 
                        <span class="pull-left Display6">Next Steps</span>
                    </div>
                    <div class="col-12 padding-bottom-xsmall padding-top-small">
                        <span class="pull-left body-bold black">Start enjoying Netflix at no extra charge.</span>
                    </div>
                    <div class="col-12 ">
                        <span class="pull-left body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar magna ante, at vehicula lacus porttitor ut.</span>
                    </div>
                
                </div>
                </div>
                
            </div>
            <div  class="row padding-top-xl padding-bottom-xl-xs padding-bottom-110-md">
                <div  class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
                    <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-md-0">
                        <button  appbuttonripple="" class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" routerlink="" routerlinkactive="active" tabindex="0">Manage Netflix</button>
                    </div>
                    <div  class="col-12 col-md-6 float-md-left pl-md-0 padding-bottom-medium">
                        <button  appbuttonripple="" class="SecondaryCTA  full-btn-width float-md-right float-lg-right float-xl-right">Go to my account home</button>
                    </div>
                </div>
            </div>
            <div class="row legal-background ">
                <div class="padding-horizontal-15 legal padding-top-xxl padding-bottom-xxxl"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur neque dolor, nec mattis ante vestibulum in. Curabitur auctor diam enim, vitae feugiat augue venenatis eget. Suspendisse porta feugiat aliquet. Aliquam a risus mi. Vestibulum at viverra massa. Ut in nunc quis lorem sollicitudin mollis vitae vitae nunc. Duis tincidunt convallis tellus, vel mollis tellus aliquam eget. Quisque ac ipsum quis turpis tristique pharetra. Praesent auctor, diam at porttitor vulputate, turpis sapien convallis lectus, non mattis libero elit ac mi. Mauris in sollicitudin sem. Phasellus varius blandit arcu, egestas feugiat arcu efficitur sed. Proin quis dapibus lectus. Phasellus fringilla sodales massa, sed ullamcorper ante luctus non. Maecenas varius congue augue, eget iaculis erat consequat quis. Nulla pellentesque luctus nunc, nec porta lacus pulvinar id. Proin interdum suscipit cursus.</div>

            </div>
        </div>
    </div>