<div class="TMO-PROMOTIONS-PAGE">
<div class="container">
  <app-header></app-header>
  <div class="row">
    <div class="col-12 ">
      <p class="text-center Display4 padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium">My promotions</p>
    </div>
    <div class="col-12 offset-md-3 no-padding-md col-md-6">
      <p class="body padding-bottom-large-xs padding-bottom-large-sm padding-bottom-medium">See the details of your current,pending and past promotions.</p>
    </div>
  </div>
  <div *ngFor="let promotion of myPromotions;let i=index;">
    <promotions [promotionsData]="promotion['promotionsData']"></promotions>
  </div>
 <div class="padding-bottom-xxl"></div>
</div>
</div>

