<div class="TMO-ACCOUNT-SUSPENEDED">
  <div class="container">
    <div class = "main-content">
      <app-header></app-header>
      <div class="row">
        <div class="col-12 text-center padding-top-large padding-top-medium-xs">
          <span class="error-red-icon" tabindex="0" aria-label="error icon"></span>
        </div>
      </div>
      <div class="row padding-top-xsmall">
        <div class="col-12  text-center">
          <p class="mb-0 Display3">
            <span tabindex="0" aria-label="Account suspended">Account suspended </span>
          </p>
          <p class="mb-0 H5-heading black padding-top-small padding-top-medium-md">
            <span tabindex="0" aria-label="Your account is temporarily suspended.">
              Your account is temporarily suspended. </span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 padding-top-large col-md-10 offset-md-1 justify-content-center">
          <p class="pl-2 body gray60 text-center">
            <span tabindex="0" aria-label=" Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip "> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </span>
          </p>
        </div>
      </div>
    </div>
    <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
      <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple tabindex="0" role="button"
            aria-label="Restore account">
            Restore account</button>
        </div>
        <div class="col-12 col-md-6  float-md-left pl-md-0 ">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple tabindex="0"
            role="button" aria-label="cancel"> Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>