@import "src/assets/scss/global-variables.scss";
.TMO-ACCOUNT-SUSPENEDED{
 @media #{$smartphones-xs},
#{$smartphones-sm} {
    .main-content {
        min-height: calc(100vh - 368px);
    }
}
.PrimaryCTA, .SecondaryCTA { min-width: 120px;}
}