<div class="TMO-STYLEGUIDE-TOOLTIP">
    <div class="container ">
        <div class="col-12 no-padding">
            <p class="text-center Display4 padding-vertical-large">Tooltips</p>
        </div>
        <div class="col-12 padding-top-small">
            <p class="pr-1 body-bold d-inline-flex">
                <span class="pr-1">ToolTip Top</span>
                <span tooltip-text="Tooltip Top" tooltip-position="top">
                 <i class="fa fa-question-circle"></i>
                </span>
            </p>
        </div>

        <div class="col-12 padding-bottom-large">
            <a (click)="showTooltipTopCode = !showTooltipTopCode" class="legal-link"> {{showTooltipTopCode ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showTooltipTopCode">
                <div class="padding-top-small ">
                    <code class=" language-markup border brand-magenta d-block"> 
                   &lt;div class="col-12"><br/>
                   &nbsp;&nbsp;&lt;p class="pr-1 body-bold d-inline-flex"><br/>
                   &nbsp;&nbsp;&nbsp;&lt;span class="pr-1">ToolTip Top &lt;/span><br/>
                   &nbsp;&nbsp;&nbsp;&lt;span tooltip-text="Tooltip Top"  tooltip-position="top">
                   &lt;i class="fa fa-question-circle">&lt;/i>
                      &nbsp;&lt;/span><br/>
                      &nbsp;&nbsp;&lt;/p><br/>
                   &lt;/div>
               </code>
                </div>
            </div>
        </div>
        
        <div class="col-12 padding-top-small">
            <p class="pr-1 body-bold d-inline-flex">
                <span class="pr-1">ToolTip Left</span>
                <span tooltip-text="Tooltip Left" tooltip-position="right">
                    <i class="fa fa-question-circle"></i>
                </span>
            </p>
        </div>
        <div class="col-12 padding-bottom-large">
            <a (click)="showTooltipTopLeftCode = !showTooltipTopLeftCode" class="legal-link"> {{showTooltipTopLeftCode ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showTooltipTopLeftCode">
                <div class="padding-top-small ">
                    <code class=" language-markup border brand-magenta d-block"> 
                         &lt;div class="col-12"><br/>
                         &nbsp;&nbsp;&lt;p class="pr-1 body-bold d-inline-flex"><br/>
                         &nbsp;&nbsp;&nbsp;&lt;span class="pr-1">ToolTip Left &lt;/span><br/>
                         &nbsp;&nbsp;&nbsp;&lt;span tooltip-text="Tooltip Left"  tooltip-position="right">
                         &lt;i class="fa fa-question-circle">&lt;/i>
                            &nbsp;&lt;/span><br/>
                            &nbsp;&nbsp;&lt;/p><br/>
                         &lt;/div>
                     </code>
                </div>
            </div>
        </div>

        <div class="col-12 padding-top-small">
            <p class="pr-1 body-bold d-inline-flex">
                <span class="pr-1">ToolTip  Right</span>
                <span tooltip-text="Tooltip Right" tooltip-position="left">
                  <i class="fa fa-question-circle"></i>
                </span>
            </p>
        </div>
        <div class="col-12 padding-bottom-large">
            <a (click)="showTooltipRightCode = !showTooltipRightCode" class="legal-link"> {{showTooltipRightCode ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showTooltipRightCode">
                <div class="padding-top-small ">
                    <code class=" language-markup border brand-magenta d-block"> 
                             &lt;div class="col-12"><br/>
                             &nbsp;&nbsp;&lt;p class="pr-1 body-bold d-inline-flex"><br/>
                             &nbsp;&nbsp;&nbsp;&lt;span class="pr-1">Tooltip Right &lt;/span><br/>
                             &nbsp;&nbsp;&nbsp;&lt;span tooltip-text="Tooltip Right"  tooltip-position="left">
                             &lt;i class="fa fa-question-circle">&lt;/i>
                             &lt;/span><br/>
                             &nbsp;&nbsp;&lt;/p><br/>
                             &lt;/div>
                         </code>
                </div>
            </div>
        </div>

        <div class="col-12 padding-top-small">
            <p class="pr-1 body-bold d-inline-flex">
                <span class="pr-1">ToolTip Bottom</span>
                <span tooltip-text="Tooltip Bottom" tooltip-position="bottom">
                    <i class="fa fa-question-circle"></i>
                </span>
            </p>
        </div>
        <div class="col-12 padding-bottom-large">
            <a (click)="showTooltipBottomCode = !showTooltipBottomCode" class="legal-link"> {{showTooltipBottomCode ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showTooltipBottomCode">
                <div class="padding-top-small ">
                    <code class=" language-markup border brand-magenta d-block"> 
                       &lt;div class="col-12"><br/>
                       &nbsp;&nbsp;&lt;p class="pr-1 body-bold d-inline-flex"><br/>
                       &nbsp;&nbsp;&nbsp;&lt;span class="pr-1">ToolTip Bottom &lt;/span><br/>
                       &nbsp;&nbsp;&nbsp;&lt;span tooltip-text="Tooltip Bottom"  tooltip-position="bottom">
                       &lt;i class="fa fa-question-circle">&lt;/i>
                          &nbsp;&lt;/span><br/>
                          &nbsp;&nbsp;&lt;/p><br/>
                       &lt;/div>
                   </code>
                </div>
            </div>
        </div>

        <div class="col-12 padding-top-small ">
            <p class="pr-1 body-bold d-inline-flex">
                <span class="pr-1">ToolTip Top Right</span>
                <span tooltip-text="tooltip Top Right" tooltip-position="topright">
                    <i class="fa fa-question-circle"></i>
                </span>
            </p>
        </div>
        <div class="col-12 padding-bottom-large">
            <a (click)="showTooltipTopRightCode = !showTooltipTopRightCode" class="legal-link"> {{showTooltipTopRightCode ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showTooltipTopRightCode">
                <div class="padding-top-small ">
                    <code class=" language-markup border brand-magenta d-block"> 
                           &lt;div class="col-12"><br/>
                           &nbsp;&nbsp;&lt;p class="pr-1 body-bold d-inline-flex"><br/>
                           &nbsp;&nbsp;&nbsp;&lt;span class="pr-1">tooltip Top Right &lt;/span><br/>
                           &nbsp;&nbsp;&nbsp;&lt;span tooltip-text="Tooltip Top Right"  tooltip-position="topright">
                           &lt;i class="fa fa-question-circle">&lt;/i>
                              &nbsp;&lt;/span><br/>
                              &nbsp;&nbsp;&lt;/p><br/>
                           &lt;/div>
                       </code>
                </div>
            </div>
        </div>

        <div class="col-12 padding-top-small ">
            <p class="pr-1 body-bold d-inline-flex">
                <span class="pr-1">ToolTip Top left</span>
                <span tooltip-text="Tooltip Top Left" tooltip-position="topleft">
                    <i class="fa fa-question-circle"></i>
                </span>
            </p>
        </div>
        <div class="col-12 padding-bottom-large">
            <a (click)="showTooltipTopLeftCode = !showTooltipTopLeftCode" class="legal-link"> {{showTooltipTopLeftCode ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showTooltipTopLeftCode">
                <div class="padding-top-small ">
                    <code class=" language-markup border brand-magenta d-block"> 
                           &lt;div class="col-12"><br/>
                           &nbsp;&nbsp;&lt;p class="pr-1 body-bold d-inline-flex"><br/>
                           &nbsp;&nbsp;&nbsp;&lt;span class="pr-1">tooltip Top Left &lt;/span><br/>
                           &nbsp;&nbsp;&nbsp;&lt;span tooltip-text="Tooltip Top Left"  tooltip-position="topleft">
                           &lt;i class="fa fa-question-circle">&lt;/i>
                              &nbsp;&lt;/span><br/>
                              &nbsp;&nbsp;&lt;/p><br/>
                           &lt;/div>
                       </code>
                </div>
            </div>
        </div>

        <div class="col-12 padding-top-small">
            <p class="pr-1 body-bold d-inline-flex">
                <span class="pr-1">ToolTip Bottom left</span>
                <span tooltip-text="Tooltip Bottom Left" tooltip-position="bottomleft">
                    <i class="fa fa-question-circle"></i>
                </span>
            </p>
        </div>
        <div class="col-12 padding-bottom-large">
            <a (click)="showTooltipBottomLeftCode = !showTooltipBottomLeftCode" class="legal-link"> {{showTooltipBottomLeftCode ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showTooltipBottomLeftCode">
                <div class="padding-top-small ">
                    <code class=" language-markup border brand-magenta d-block"> 
                               &lt;div class="col-12"><br/>
                               &nbsp;&nbsp;&lt;p class="pr-1 body-bold d-inline-flex"><br/>
                               &nbsp;&nbsp;&nbsp;&lt;span class="pr-1">Tooltip Bottom Left &lt;/span><br/>
                               &nbsp;&nbsp;&nbsp;&lt;span tooltip-text="tooltip Bottom Left"  tooltip-position="bottomleft">
                               &lt;i class="fa fa-question-circle">&lt;/i>
                               &lt;/span><br/>
                               &nbsp;&nbsp;&lt;/p><br/>
                               &lt;/div>
                           </code>
                </div>
            </div>
        </div>
        <div class="col-12 padding-top-small">
            <p class="pr-1 body-bold d-inline-flex">
                <span class="pr-1">ToolTip Bottom Right</span>
                <span tooltip-text="Tooltip Bottom Right" tooltip-position="bottomright">
                    <i class="fa fa-question-circle"></i>
                </span>
            </p>
        </div>
        <div class="col-12 padding-bottom-large">
            <a (click)="showTooltipBottomRightCode = !showTooltipBottomRightCode" class="legal-link"> {{showTooltipBottomRightCode ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showTooltipBottomRightCode">
                <div class="padding-top-small ">
                    <code class=" language-markup border brand-magenta d-block"> 
                                 &lt;div class="col-12"><br/>
                                 &nbsp;&nbsp;&lt;p class="pr-1 body-bold d-inline-flex"><br/>
                                 &nbsp;&nbsp;&nbsp;&lt;span class="pr-1">ToolTip Bottom Right &lt;/span><br/>
                                 &nbsp;&nbsp;&nbsp;&lt;span tooltip-text="Tooltip Bottom Right"  tooltip-position="bottomright">
                                 &lt;i class="fa fa-question-circle">&lt;/i>
                                 &lt;/span><br/>
                                 &nbsp;&nbsp;&lt;/p><br/>
                                 &lt;/div>
                             </code>
                </div>
            </div>
        </div>

    </div>
</div>