<div class="TMO-STYLEGUIDE-ICONOGRAPHY">
  <div class="container">
    <div class="col-12 no-padding">
      <div class="Display4 text-center padding-vertical-xl"> Iconography</div>
      <div class="col-12 padding-top-small">
        <div class="inset-divider-1px"></div>
        <p class="H5-heading padding-top-xsmall">Navigation icons</p>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="arrow-right-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showArrowRightCode = !showArrowRightCode" class="legal-link"> {{showArrowRightCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showArrowRightCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                  &lt;p class="arrow-right-black">  &lt;p>
                </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="arrow-left-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showArrowLeftCode = !showArrowLeftCode" class="legal-link"> {{showArrowLeftCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showArrowLeftCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                &lt;p class="arrow-let-black">  &lt;p>
              </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="arrow-up-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showArrowupCode = !showArrowupCode" class="legal-link"> {{showArrowupCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showArrowupCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                &lt;p class="arrow-up-black">  &lt;p>
              </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="arrow-down-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showArrowdownCode = !showArrowdownCode" class="legal-link"> {{showArrowdownCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showArrowdownCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                &lt;p class="arrow-down-black">  &lt;p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="arrow-left pull-left w-100 ml-sm-4"></p>
          <a (click)="showBackCode = !showBackCode" class="legal-link"> {{showBackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showBackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="arrow-left">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 padding-top-small">
        <div class="inset-divider-1px"></div>
        <p class="H5-heading padding-top-xsmall">Informational icons</p>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="warning-outline-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showWarningOutlineCode = !showWarningOutlineCode" class="legal-link"> {{showWarningOutlineCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showWarningOutlineCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="warning-outline-black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="warning-fill-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showWarningFillCode = !showWarningFillCode" class="legal-link"> {{showWarningFillCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showWarningFillCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                  &lt;p class="warning-fill-black">  &lt;p>
                </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="validated-outline-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showValidateOutlineCode = !showValidateOutlineCode" class="legal-link"> {{showValidateOutlineCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showValidateOutlineCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                  &lt;p class="validated-outline-black">  &lt;p>
                </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="validated-fill-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showValidateFillCode = !showValidateFillCode" class="legal-link"> {{showValidateFillCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showValidateFillCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                  &lt;p class="validated-fill-black">  &lt;p>
                </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="check-mark-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showCheckMarkCode = !showCheckMarkCode" class="legal-link"> {{showCheckMarkCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showCheckMarkCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                      &lt;p class="check-mark-black">  &lt;p>
                    </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="error_filled_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showErrorFilledBlackCode = !showErrorFilledBlackCode" class="legal-link"> {{showErrorFilledBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showErrorFilledBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                      &lt;p class="error_filled_black">  &lt;p>
                    </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="flag_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showFlagBlackCode = !showFlagBlackCode" class="legal-link"> {{showFlagBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showFlagBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="flag_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 padding-top-small">
        <div class="inset-divider-1px"></div>
        <p class="H5-heading padding-top-xsmall">Action icons</p>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="radio_button_empty_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showRadioEmptyCode = !showRadioEmptyCode" class="legal-link"> {{showRadioEmptyCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showRadioEmptyCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                      &lt;p class="radio_button_empty_black">  &lt;p>
                    </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="radio_button_filled_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showRadioFilledCode = !showRadioFilledCode" class="legal-link"> {{showRadioFilledCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showRadioFilledCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="radio_button_filled_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="clear-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showClearBlackCode = !showClearBlackCode" class="legal-link"> {{showClearBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClearBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="clear-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="tooltip-icon-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showTooltipIconCode = !showTooltipIconCode" class="legal-link"> {{showTooltipIconCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showTooltipIconCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="tooltip-icon-black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">




        <div class="col-3">
          <p class="calendar_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showCalendarBlackCode = !showCalendarBlackCode" class="legal-link"> {{showCalendarBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showCalendarBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="calendar_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="zoom_in_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showZoomInCode = !showZoomInCode" class="legal-link"> {{showZoomInCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showZoomInCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                      &lt;p class="zoom_in_black">  &lt;p>
                    </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="expand_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showExpandCode = !showExpandCode" class="legal-link"> {{showExpandCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showExpandCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="expand_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="check-box-empty-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showCheckEmptyCode = !showCheckEmptyCode" class="legal-link"> {{showCheckEmptyCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showCheckEmptyCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="check-box-empty-black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">


        <div class="col-3">
          <p class="check-box-filled-black pull-left w-100 ml-sm-4"></p>
          <a (click)="showCheckFilledCode = !showCheckFilledCode" class="legal-link"> {{showCheckFilledCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showCheckFilledCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="check-box-filled-black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="print-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showPrintIconCode = !showPrintIconCode" class="legal-link"> {{showPrintIconCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showPrintIconCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="print-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 padding-top-small">
        <div class="inset-divider-1px"></div>
        <p class="H5-heading padding-top-xsmall">Miscellaneous icons</p>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="star_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showStarBlackCode = !showStarBlackCode" class="legal-link"> {{showStarBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showStarBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="star_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="star_half_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showStarHalfBlackCode = !showStarHalfBlackCode" class="legal-link"> {{showStarHalfBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showStarHalfBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="star_half_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="star_border_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showStarBorderBlackCode = !showStarBorderBlackCode" class="legal-link"> {{showStarBorderBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showStarBorderBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="star_border_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="settings_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showSettingsBlackCode = !showSettingsBlackCode" class="legal-link"> {{showSettingsBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showSettingsBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="settings_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="message_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showMessageBlackCode = !showMessageBlackCode" class="legal-link"> {{showMessageBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showMessageBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="message_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="headset_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showHeadsetBlackCode = !showHeadsetBlackCode" class="legal-link"> {{showHeadsetBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showHeadsetBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="headset_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="thumb_up_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showThumbUpBlackCode = !showThumbUpBlackCode" class="legal-link"> {{showThumbUpBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showThumbUpBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="thumb_up_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="thumb_down_black pull-left w-100 ml-sm-4"></p>
          <a (click)="showThumbDownBlackCode = !showThumbDownBlackCode" class="legal-link"> {{showThumbDownBlackCode ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showThumbDownBlackCode">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="thumb_down_black">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 padding-top-small">
        <div class="inset-divider-1px"></div>
        <p class="H5-heading padding-top-xsmall">Financial icons</p>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="visa-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showVisa = !showVisa" class="legal-link"> {{showVisa ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showVisa">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="visa-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="visa-icon-disabled pull-left w-100 ml-sm-4"></p>
          <a (click)="showVisaDis = !showVisaDis" class="legal-link"> {{showVisaDis ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showVisaDis">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="visa-icon-disabled">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="master-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showMaster = !showMaster" class="legal-link"> {{showMaster ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showMaster">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="master-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="master-icon-disabled pull-left w-100 ml-sm-4"></p>
          <a (click)="showMasterDis = !showMasterDis" class="legal-link"> {{showMasterDis ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showMasterDis">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="master-icon-disabled">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="discover-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showDiscover = !showDiscover" class="legal-link"> {{showDiscover ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showDiscover">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="discover-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="discover-icon-disabled pull-left w-100 ml-sm-4"></p>
          <a (click)="showDiscoverDis = !showDiscoverDis" class="legal-link"> {{showDiscoverDis ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showDiscoverDis">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="discover-icon-disabled">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="amex-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showAmex = !showAmex" class="legal-link"> {{showAmex ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showAmex">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="amex-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="amex-icon-disabled pull-left w-100 ml-sm-4"></p>
          <a (click)="showAmexDis = !showAmexDis" class="legal-link"> {{showAmexDis ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showAmexDis">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="amex-icon-disabled">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="star-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showStar = !showStar" class="legal-link"> {{showStar ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showStar">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="star-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="star-icon-disabled pull-left w-100 ml-sm-4"></p>
          <a (click)="showStarDis = !showStarDis" class="legal-link"> {{showStarDis ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showStarDis">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="star-icon-disabled">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="pulse-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showPulse = !showPulse" class="legal-link"> {{showPulse ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showPulse">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="pulse-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="pulse-icon-disabled pull-left w-100 ml-sm-4"></p>
          <a (click)="showPulseDis = !showPulseDis" class="legal-link"> {{showPulseDis ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showPulseDis">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="pulse-icon-disabled">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="accel-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showAccel = !showAccel" class="legal-link"> {{showAccel ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showAccel">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="accel-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="accel-icon-disabled pull-left w-100 ml-sm-4"></p>
          <a (click)="showAccelDis = !showAccelDis" class="legal-link"> {{showAccelDis ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showAccelDis">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="accel-icon-disabled">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="NYCE-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showNYCE = !showNYCE" class="legal-link"> {{showNYCE ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showNYCE">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="NYCE-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="NYCE-icon-disabled pull-left w-100 ml-sm-4"></p>
          <a (click)="showNYCEDis = !showNYCEDis" class="legal-link"> {{showNYCEDis ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showNYCEDis">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="NYCE-icon-disabled">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="ATM-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showATM = !showATM" class="legal-link"> {{showATM ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showATM">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="ATM-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="ATM-icon-disabled pull-left w-100 ml-sm-4"></p>
          <a (click)="showATMDis = !showATMDis" class="legal-link"> {{showATMDis ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showATMDis">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="ATM-icon-disabled">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="Bank-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showBank = !showBank" class="legal-link"> {{showBank ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showBank">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="Bank-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="Bank-icon-disabled pull-left w-100 ml-sm-4"></p>
          <a (click)="showBankDis = !showBankDis" class="legal-link"> {{showBankDis ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showBankDis">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="Bank-icon-disabled">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-3">
          <p class="cvv_amexImg pull-left w-100 ml-sm-4" style="height:20px"></p>
          <a (click)="showCvvAmex = !showCvvAmex" class="legal-link"> {{showCvvAmex ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showCvvAmex">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="cvv_amexImg">  &lt;p>
                  </code>
            </div>
          </div>
        </div>

        <div class="col-3">
          <p class="cvv-visa pull-left w-100 ml-sm-4"></p>
          <a (click)="showcvvVisa = !showcvvVisa" class="legal-link"> {{showcvvVisa ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showcvvVisa">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="cvv-visa">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-t-20 padding-top-large padding-bottom-small d-inline-flex">
        <div class="col-12">
          <p class="routing-icon pull-left w-100 ml-sm-4"></p>
          <a (click)="showRouting = !showRouting" class="legal-link"> {{showRouting ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showRouting">
            <div class="padding-top-small">
              <code class="language-markup border brand-magenta d-block">
                    &lt;p class="routing-icon">  &lt;p>
                  </code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>