<div class="TMO-EIP-VARIANTS">
  <div class="bg-gray10">
    <div class="container padding-bottom-xxl">
      <div class="row" *ngFor="let item of JOD_Array; index as i;">
        <div class="col-12 col-md-10 offset-md-1 Display5 padding-top-xl padding-bottom-xsmall">
          {{item.heading}}
        </div>
        <div class="col-12 col-md-10 offset-md-1">
          <app-eip-jod-blade [JOD_Array_Details]="item.details"></app-eip-jod-blade>
        </div>
      </div>
    </div>
  </div>
</div>