<div class="TMO-PROMOTIONS-PENDINGPAGE">
    <div class="container">
        <div class="row padding-bottom-medium-xs padding-bottom-medium-sm padding-top-large-xs padding-top-large-sm padding-top-xl padding-bottom-large">
            <div class="col-12 padding-bottom-small-xs padding-bottom-small-sm padding-bottom-medium">
                <p class="Display3 text-center">My Promotions</p>
            </div>
            <p class="col-10 offset-1 body text-center">Get the skinny on your device promotions.</p>
            <div class="col-10 col-md-6 col-lg-4 offset-1 offset-md-3 offset-lg-4 padding-horizontal-xsmall padding-vertical-xl">
                <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
                    [dropdownId]="dropdownId"></app-dropdown-selector>
            </div>
            <div class="col-10 col-md-10 offset-md-1">
                <p class="body-bold brand-magenta"> PENDING</p>
            </div>

            <div *ngFor="let val of  bladeInfo; let i = index" class="col-12 col-md-10 offset-md-1">
                <app-profile-blade *ngIf="i==0 then topDivider else bottomDivider" [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]='val.desc2'
                    [url]="val.url"></app-profile-blade>
                <ng-template #topDivider>
                    <app-profile-blade [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]='val.desc2' [url]="val.url" [titleDescClass]="'body d-inline-block brand-magenta'"
                        [bottomDivider]=false [topDivider]=false [switch]="val.switch" [checkOpt]="val.checkOpt"></app-profile-blade>
                </ng-template>
                <ng-template #bottomDivider>
                    <app-profile-blade [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]='val.desc2' [url]="val.url" [switch]="val.switch"
                        [checkOpt]="val.checkOpt"></app-profile-blade>
                </ng-template>
                <div *ngIf="val.desc3 == 'Pending' ">
                    <div class="full-bleed-divider margin-top-xsmall-xs margin-top-xsmall-sm"></div>
                </div>
                <div *ngIf="i==2" class="">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
            <p class="col-12 col-md-10 offset-md-1 padding-bottom-xxxl body-link cursor black pt-4" routerLink="/PastPromotions" routerLinkActive="active">View past promotions</p>
        </div>
    </div>
</div>