<div class="TMO-FIDELIS-TERMS_COND">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 Display4 padding-top-large padding-bottom-large text-center-xs padding-top-medium-xs">
                        Terms & Conditions
                </div>
                <div class="col-md-10 offset-md-1 body padding-bottom-large">
                        <span class="body-bold">Submit military verification within 45 days at t-mobile.com/military/verification; 
                        otherwise your plan will become T-Mobile ONE at an additional cost of up to $20/line per month & 
                        you may lose certain benefits. Military individual must be account holder & 
                        account must maintain valid military line.</span> Limited time offer; subject to change. 
                        At participating locations. Credit approval, deposit, and $25 SIM starter kit or, 
                        in stores & on customer service calls, $20 upgrade support charge may be required. 
                        May not be combined with other promotions/discounts and features; existing customers 
                        who switch may lose certain benefits. U.S. roaming and on-network data allotments 
                        differ: includes 200MB U.S. roaming. Unlimited talk & text features for direct communications 
                        between 2 people; others (e.g., conference & chat lines, etc.) may cost extra. Unlimited 
                        high-speed data US only. In Canada/Mexico, up to 5GB high-speed data then unlimited at 
                        up to 128kbps. Not available for hotspots and some other data-first devices. Capable 
                        device required for some features. <span class="body-bold">Video streams</span> at up to 1.5Mbps. Optimization may 
                        affect speed of video downloads; does not apply to video uploads. For best performance, 
                        leave any video streaming applications at their default automatic resolution setting. 
                        <span class="body-bold">Tethering</span> at max 3G. Smartphone and tablet usage is prioritized over tethering usage, 
                        which may result in higher speeds for data used on smartphones and tablets. <span class="body-bold">AutoPay 
                        Pricing</span> for lines 1-8. Without AutoPay, $5 more/line. May not be reflected on 1st bill. 
                        <span class="body-bold">Int’l Roaming: Not for extended international use; you must reside in the U.S. and primary 
                        usage must occur on our network.</span> Device must register on our network before international use. 
                        Service may be terminated or restricted for excessive roaming. Usage may be taxed in some countries.
                         Calls from Simple Global countries over Wi-Fi are $.20/min. (no charge for Wi-Fi calls to US, 
                         Mexico and Canada). Standard speeds approx. 128Kbps without Plus; with Plus approx. 256 Kbps. 
                         <span class="body-bold">Plus</span>: Turn on HD daily. Video streams in native resolution which may not be HD. <span class="body-bold">Gogo</span>: on 
                         U.S.-based airlines; Wi-Fi Calling functionality, valid e911 address, & 1 prior Wi-Fi call 
                         w/ current SIM card required for messaging. <span class="body-bold">Coverage</span> not available in some areas; we are not 
                         responsible for our partners' networks. <span class="body-bold">Network Management:</span> Service may be 
                         <span class="body-bold">slowed, suspended, terminated, or restricted</span> 
                         for misuse, abnormal use, interference with our network or ability 
                         to provide quality service to other users, or significant roaming. On all T-Mobile plans, 
                         during congestion, the small fraction of customers using >50GB/month may notice reduced 
                         speeds until next bill cycle due to prioritization. For these customers, primary data usage 
                         must be on smartphone or tablet. See T-Mobile.com/OpenInternet for data management details. 
                         See <span class="body-bold">Terms and Conditions (including arbitration provision)</span>
                          at www.T-Mobile.com for additional information.
                </div>
            </div>     
        </div>        
</div>