@import "src/assets/scss/global-variables.scss";
.TMO-FIDELIS-TERMS_COND{
    @media #{$smartphones-xs}, #{$smartphones-sm} {
        .text-center-xs{
            text-align: center;
        } 
    }
}