<div class="TMO-SIGNUP-VERIFICATION">    
  <div class="container">     
      <app-header></app-header>
      <div class="col-md-10  offset-md-1 col-sm-10 offset-sm-1  no-padding" >
              <div class="row">
                  <div class="col-12 text-center padding-top-medium-xs padding-bottom-medium-xs padding-top-medium-sm padding-bottom-medium-sm padding-top-large padding-bottom-large">
                      <img src="assets/img/SVGs/Logos/netflix.svg" class="hulu-icon" tabindex="0" aria-label="icon">
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 Display3 text-center">
                      <p class="mb-0"><span tabindex="0" aria-label="Thanks for signing up for Hulu">Thanks for signing up for Hulu</span></p>
                  </div>
              </div>
              <div class="padding-vertical-medium">
                  <p class="H6-heading text-center"><span tabindex="0" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, </span><span class="text-decoration-underline link-hover cursor" tabindex="0" aria-label="recover it here link">recover it here</span></p>
              </div> 
              <div class="padding-top-xsmall display-flex" >
                <div class="col-6">
                    <img src="assets/img/SVGs/Icons/apple-app-store-button.svg" class="Appstore-icon pull-right cursor" tabindex="0" aria-label="click here to get it from app store">
                </div>
                <div class="col-6">
                    <img src="assets/img/SVGs/Icons/google-play-button.svg" class="playstore-icon cursor" tabindex="0" aria-label="click here to get it from google play">
                </div>
              </div>
              <div class="padding-top-medium">
                <p class="body text-center"><span tabindex="0" aria-label="Instruction to use: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam">Instruction to use: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span></p>
            </div> 
      </div>   
      <div class="row padding-top-xxl-xs padding-vertical-medium padding-medium-sm">
          <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
              <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple tabindex="0" role="button"
                aria-label="Manage plan benefits">
                Manage plan benefits</button>
            </div>
            <div class="col-12 col-md-6  float-md-left pl-md-0 ">
              <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple tabindex="0"
                role="button" aria-label="Back to plan details"> Back to plan details</button>
            </div>
          </div>
        </div>
      <div class="row no-margin d-block text-sm-center" >          
          <div class="col-12 col-md-10 offset-md-1 legal padding-bottom-xl text-center no-padding"><span tabindex="0" aria-label="Lorem ipsum dolor sit amet,">Lorem ipsum dolor sit amet,</span>
            <a class="legal-link black cursor" tabindex="0" aria-label="Terms and condition link">Terms and condition</a>
          </div>
      </div>
  </div>
