@import "src/assets/scss/global-variables.scss";
.TMO-SIGNUP-VERIFICATION{    
    .display-flex{display: flex;} 
    .Appstore-icon {width: 152.7px;}
    .playstore-icon {width: 152.7px;}
    .PrimaryCTA, .SecondaryCTA { min-width: 120px;}
    .link-hover:hover{
        color:#e20074;
    }
    .hulu-icon{
        width: 151px;
        height: 42px;
    }
}
