@import "src/assets/scss/global-variables.scss";
.TMO-MBB-PLAN-DETAIL {
    .check-icon {
        width: 10px;
        height: 10px;
        font-size: 10px;
    }
    .display-flex{       
         display: flex;      
    } 
    .p-t-5{
        padding-top: 5px;
    }
    .p-r-10{
        padding-right:10px
    }
    .bold{        
        font-weight: bold;    
    }
    .fa-check{
        color: #09b119;
        font-size: 9px;
        font-style: italic; 
   }
    .text-dark-pink {        
        color: #e60071;    
    }
    .no-padding-sm{
        @media #{$smartphones-sm}{
           padding-left: 0px;
           padding-right: 0px;
        }
    }      
        @media #{$alldeviceexceptsmartphone}{
            .btn-wd {                
                width:343px; 
            @media #{$tablets-md}{
                width: 100%;
            }           
        }
        }
        .full-btn-width {
width:100%;
        }
        @media #{$smartphones-xs}, #{$smartphones-sm}{
            .full-btn-width-xs {
                width: 100%;
                max-width: 100%;
            }    
        }

        .disclaimer-lineheight {
            line-height: 12px;
        }
}