<div class="TMO-MBB-PLAN-DETAIL">
  <div class="container">
    <div class="row">
      <div  class="col-12 col-md-10 offset-md-1 padding-bottom-large padding-top-small  padding-vertical-medium-xs padding-vertical-medium-sm padding-horizontal-small Display3"  >
        <span tabindex="0" role="title" aria-label="Plan Details">Plan Details</span>
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs ">
        <div class="full-bleed-divider"></div>
      </div>
      <div class="" *ngFor="let plan of planDetails; let i=index;">
        <div class="col-12 col-md-10 offset-md-1 d-inline-flex align-items-center padding-small-xs padding-vertical-medium padding-top-small-sm padding-top-small-xs">
          <div class="no-padding w-100">
            <div>
              <span class="float-left">
                <span class="Display5" tabindex="0"  [attr.aria-label]="plan.planTitle">{{plan.planTitle}}</span>
              </span>
              <span class=" black float-right">
                <span class="body black bold" tabindex="0" [attr.aria-label]="plan.price + 'per month'">{{plan.price}}</span><span class="body black">/mo</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs ">
          <div class="inset-divider-1px"></div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-top-medium padding-bottom-small   padding-vertical-small-sm padding-vertical-small-xs">
          <span class="body" tabindex="0" [attr.aria-label]="plan.description">{{plan.description}} </span>
        </div>
        <div class="col-12 col-md-10 offset-md-1 ">
          <span class="Display6 d-none d-sm-none d-md-block d-lg-block d-xl-block" role="title" [attr.aria-label]="plan.subtitle"  tabindex="0" >{{plan.subtitle}} </span> 
          <span class="Display6 d-block d-sm-block d-md-none d-xl-none d-lg-none" role="title" [attr.aria-label]="plan.subtitleMobile" tabindex="0" >{{plan.subtitleMobile}} </span>
        </div>
        <div class="col-12 col-md-10 offset-md-1  align-items-baseline justify-content-between">
          <div class="col-12 col-md-12 no-padding">
            <div class="body padding-top-small padding-top-xsmall-sm padding-top-xsmall-xs">
              <div *ngFor="let dataItem of plan['features']; let k=index;" class="padding-top-xsmall display-flex align-items-baseline">
                <i class="fa fa-check p-r-10"></i>
                <div class="" tabindex="0" [attr.aria-label]="dataItem.feature">{{dataItem.feature}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-top-medium padding-top-small-xs p-r-0-xs p-l-0-xs">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
    </div>
    <div  class="row padding-top-medium padding-bottom-xl">
        <div class="col-12 col-md-10 offset-md-1 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pl-md-3">
            <button appbuttonripple role="button" class="PrimaryCTA full-btn-width-xs float-md-left float-lg-left float-xl-left" routerlink="" routerlinkactive="active" tabindex="0" role="button" aria-label="Select Plan">Select Plan</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pr-md-3">
            <button appbuttonripple role="button" class="SecondaryCTA blackCTA float-md-right full-btn-width-xs float-lg-right float-xl-right" tabindex="0" role="button" aria-label="Back">Back</button>
          </div>
        </div>
      </div>
      <div  class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-xl p-l-0-sm p-r-0-sm">
        <p class="disclaimer-lineheight">
              <span class="legal" tabindex="0"  aria-label="During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds.">
                During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds. </span> <span class="legal-link cursor" routerlink="/"  tabindex="0"  role="link" aria-label="See full terms" >See full terms</span>
              </p>
      </div>
    </div>
  </div>
</div>
