<div class="TMO-PROFILE-PRIVACY-NOTIFICATION-MARKETING-COMM-NEW">
  <div class="container">
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12 col-md-12 text-center">
        <p class="Display3">Marketing Communications</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
        <p class="legal pb-1">{{subTitle}}</p>
        <div class="col-12 dropdown no-padding" id="test"  appDropdown dropdownid="test" x-ms-format-detection="none" [ngClass]="{'disabled':disableClass}">
          <div id="model" class="dropdown-toggle">
            <span class="body" [ngClass]="{'gray30':disableClass, 'black': !disableClass}" ng-model="selectedLine">{{selectedLine}}</span>
            <span class=" pull-right mt-1" [ngClass]="{'arrow-down-disable': disableClass, 'arrow-down': !disableClass }"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="model">
            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
              (click)="select1(state.name)">
              <a> {{state.name}} </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-10 offset-1 col-md-10 offset-md-1 pull-left padding-bottom-small-xs padding-bottom-small-sm padding-bottom-medium no-padding-xs no-padding-sm">
        <p class="body text-center">Control how T-Mobile sends you information about products and services.</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-center" tabindex="0">
            <div class="col-10 no-padding py-3 py-md-4">
              <p class="Display6">Text My Phone</p>
            </div>
            <div class="col-2 no-padding fa-lg">
              <span class="d-inline-block float-right" >
                <label class="switch mt-1">
                  <input type="checkbox" [checked]="checkOpt1" (change)="checkOpt1 = !checkOpt1">
                  <span class="slider round"> </span>
              </label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-center" tabindex="0">
            <div class="col-10 no-padding py-3 py-md-4">
              <p class="Display6">Send Me Email</p>
            </div>
            <div class="col-2 no-padding fa-lg">
              <span class="d-inline-block float-right">
                <label class="switch mt-1">
                  <input type="checkbox" [checked]="checkOpt2" (change)="checkOpt2 = !checkOpt2">
                  <span class="slider round"> </span>
              </label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-center" tabindex="0">
            <div class="col-10 no-padding py-3 py-md-4">
              <p class="Display6">Receive Monthly T-Mobile Newsletter</p>
            </div>
            <div class="col-2 no-padding fa-lg">
              <span class="d-inline-block float-right">
                <label class="switch mt-1">
                  <input type="checkbox" [checked]="checkOpt3" (change)="checkOpt3 = !checkOpt3">
                  <span class="slider round"> </span>
              </label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex align-items-center" tabindex="0">
            <div class="col-10 no-padding py-3 py-md-4">
              <p class="Display6">Mail to My Billing Address</p>
            </div>
            <div class="col-2 no-padding fa-lg">
              <span class="d-inline-block float-right">
                <label class="switch mt-1">
                  <input type="checkbox" [checked]="checkOpt4" (change)="checkOpt4 = !checkOpt4">
                  <span class="slider round"> </span>
              </label>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px pb-3 pb-md-4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 offset-md-1 col-lg-4 offset-lg-1 pt-3 pt-md-4 padding-bottom-xl">
        <p class="legal pb-1">{{subTitle1}}</p>
        <div tabindex=0 class="col-12 dropdown no-padding" id="test1" appDropdown dropdownid="test1" x-ms-format-detection="none">
          <div id="model1" class="dropdown-toggle">
            <span class="body black" ng-model="selectedLanguage">{{selectedLanguage}}</span>
            <span class="arrow-down pull-right mt-1"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="model1">
            <li role="menuitem" class="dropdown-option body mx-1">
              <a> Select Language </a>
            </li>
            <li class="inset-divider-1px mx-1"></li>
            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let language of selectLanguages" [ngClass]="{'active':language.name === selectedLanguage}"
              (click)="select2(language.name)">
              <a> {{language.name}} </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-xxxl">
        <p class="legal">Changes will reflect within 10 business days.
          <a class="legal-link cursor" href='\privacyInternetNew'> View our Privacy Policy.</a>
        </p>
      </div>
    </div>
  </div>
</div>