<div class="TMO-BILLING-AND-PAYMENTS-PAPERLESS-UAT-UPDATED">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="Display3 text-center padding-top-large-xs padding-top-large-sm padding-bottom-medium-xs padding-bottom-medium-sm padding-top-xl padding-bottom-large">Paperless Billing</p>
        <p class="col-10 offset-1 body text-center">Please note that changes apply to all lines on your account.</p>
      </div>
    </div>
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
      <div class="col-12 offset-md-1 col-md-10 padding-top-medium padding-top-small-xs padding-top-small-sm">
        <p class="Display6">Select the type of bill you would like to receive:</p>
      </div>

      <div class="col-12">
        <div class="d-flex padding-top-medium padding-top-small-xs padding-top-small-sm">
          <div class="body radio-container mt-md-1 col-1 col-md-1 offset-md-1 pl-0 padding-horizontal-large-xs">
            <input class="check pr-1" type="radio" id=1 name=1 (change)="toDisable(1)" [checked]="ischecked1">
            <label for=1></label>
            <div class="check"></div>
          </div>
          <div class="col-11 col-md-9 no-padding">
            <span class="Display6 pl-1">Paperless Bill</span>
            <p class="body pl-1 padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm">Save trees and get a friendly reminder when your bill is ready.</p>
          </div>
        </div>
        <div class="col-12 padding-top-medium col-md-10 offset-md-1 no-padding d-md-block d-none">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex padding-top-medium padding-top-small-xs padding-top-small-sm">
          <div class="body radio-container mt-md-1 col-1 col-md-1 offset-md-1 pl-0 padding-horizontal-large-xs">
            <input class="check pr-1" type="radio" id=2 name=1 (change)="toDisable(2)" [checked]="ischecked2"  (click)="change()">
            <label for=2></label>
            <div class="check"></div>
          </div>
          <div class="col-11 col-md-9 no-padding">
            <span class="Display6 pl-1">Paper bill </span>
            <p class="body padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm pl-1">Use this billing address:</p>
            <p class="legal pt-1 pl-1">1234 Main St</p>
            <p class="legal pl-1">Suite 001</p>
            <p class="legal pl-1 padding-bottom-xsmall">Bellevue, WA 98111</p>
            <span class="legal-bold-link black pl-1 cursor" routerLink="/billingAddress" routerLinkActive="active">Change my billing address</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-top-small-xs padding-top-small-sm padding-top-medium">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row" *ngIf="ischecked2">
      <div class="col-12 offset-md-1 col-md-10">
        <p class="Display6 padding-top-medium padding-top-small-xs padding-top-small-sm">Select the level of detail you would like on your bill:</p>
      </div>
      <div class="col-12">
        <div class="d-flex padding-top-medium padding-top-small-xs padding-top-small-sm">
          <div class="body radio-container mt-md-1 col-1 col-md-1 offset-md-1 pl-0 padding-horizontal-large-xs">
            <input class="check pr-1" type="radio" id=3 name=2>
            <label for=3></label>
            <div class="check"></div>
          </div>
          <div class="col-11 col-md-9 no-padding">
            <span class="Display6 pl-1">Summary bill</span>
            <span class="body-bold black pull-right">Free</span>
          </div>
        </div>
        <div class="col-12 padding-top-medium col-md-10 offset-md-1 no-padding d-md-block d-none">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex padding-top-medium padding-top-small-xs padding-top-small-sm">
          <div class="body radio-container mt-md-1 col-1 col-md-1 offset-md-1 pl-0 padding-horizontal-large-xs">
            <input class="check pr-1" type="radio" id=4 name=2 [checked]="ischecked2">
            <label for=4></label>
            <div class="check"></div>
          </div>
          <div class="col-11 col-md-9 no-padding">
            <span class="Display6 pl-1">Detailed bill</span>
            <span class="body-bold black pull-right">$1.99/month</span>
            <p class="body pl-1 padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm">Includes a log of all your calls, text and data</p>
          </div>
        </div>
        <div class="col-12 padding-top-medium col-md-10 offset-md-1 no-padding d-md-block d-none">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!ischecked2">
      <div class="col-12 offset-md-1 col-md-10">
        <p class="Display6 padding-top-medium padding-top-small-xs padding-top-small-sm">What type of bill you like to receive?</p>
      </div>
      <div class="col-12 offset-md-1 col-md-10 padding-vertical-small ">
        <p class="body">Select at least one.</p>
      </div>
      

      <div class="col-12 no-padding">
        <div class="d-flex ">
          <div class="body  mt-md-1 col-1 col-md-1 offset-md-1">
            <div class=" checkbox">
                <label for=email>
                  <input class="legal" type="checkbox" id=email name=email checked>
                  <div class="legal indicator">
                    <span class="legal check1"></span>
                  </div>
                </label>
              </div>
          </div>
          <div class="col-11 col-md-9 ">
            <span class="body">Email to: dev360uat@gmail.com</span>
          </div>
        </div>
        
      </div>
      <div class="col-12 no-padding">
        <div class="d-flex">
          <div class="body  mt-md-1 col-1 col-md-1 offset-md-1">
            <div class="checkbox">
                <label for=phone>
                  <input class="legal" type="checkbox" id=phone name=phone checked>
                  <div class="legal indicator">
                    <span class="legal check1"></span>
                  </div>
                </label>
              </div>
          </div>
          <div class="col-11 col-md-9 ">
            <span class="body">Text message to: (123) 123-4567</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12 padding-top-medium">
          <p class="legal black text-center">By submitting, you agree to <span class="cursor legal-link" routerLink="/PaperlessTermsAndCondition" routerLinkActive="active">Terms and Conditions</span></p>
        </div>
    </div>
    <div class="row no-padding padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl">
      <div class="col-12 col-md-8 offset-md-2 text-center">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Save changes</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA  full-btn-width float-md-right float-lg-right float-xl-right blackCTA" appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
    <div class="dialog-container" id="effectiveDatePage">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
        <div class="row no-margin text-center padding-bottom-small">
          <span mat-dialog-title class="col-12 no-padding black Display5 ">Detailed bill</span>
        </div>
        <div class="row no-margin">
          <div class="col-12 no-padding body text-center">
            <span class="pull-left">I agree to the $1.99/month charge for the detailed paper bill format.</span>
          </div>
        </div>
            <div class="row no-margin  padding-top-large  text-center padding-left-xsmall">
              <div class="col-12 no-padding">
                <button class="PrimaryCTA-accent pull-right ml-2" appButtonripple (click)="close()">Agree & submit</button>
                <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()">Back</button>
              </div>
            </div>
      </div>
      <div *ngIf="visible" class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
  </div>