@import "src/assets/scss/global-variables.scss";
.TMO-BILLING-AND-PAYMENTS-PAPERLESS-UAT-UPDATED{

    .dialog{
        @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
            max-width: 450px;
        }
    }

    .radio-container label {
        padding-left:  10px;
        padding-right: 10px;
        margin-bottom: 0px;
    }
}