<div class="TM0-REVIEW-AUTOPAY-UPSELL-PAGE">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-0 Display3 padding-top-large padding-bottom-medium padding-top-xxl-md  padding-top-xxl-lg  padding-top-xxl-xl">Review</p>
      </div>
      <div class="col-10 offset-1 col-md-10 offset-md-1 body padding-bottom-xsmall-sm padding-bottom-xsmall-xs text-center-xs text-center-xsmall">
        Here’s the breakdown for migrating your existing lines and services to this plan.
      </div>
    </div>
    <app-plan-comparision-blade [reviewDetails]=reviewDetails></app-plan-comparision-blade>
    <div class="row">
      <div class="col-12 text-center padding-top-xl">
        <p class="H4-heading">Save $15/month with AutoPay</p>
      </div>
      <div class="col-10 offset-1 text-center checkbox padding-top-medium padding-top-large-md padding-top-large-lg padding-top-large-xl inline">
        <span class="Display4">AutoPay</span>
        <label class="switch top">
          <input type="checkbox" [checked]="checkOpt" (change)="checkOpt = !checkOpt">
          <span class="slider round"></span>
        </label>
        <span class="legal pl-4" *ngIf="checkOpt">ON</span>
        <span class="legal pl-4" *ngIf="!checkOpt">OFF</span>
      </div>
      <div class="col-12 col-md-10  offset-md-1 padding-top-large" *ngIf="checkOpt">
      <div class="col-10 offset-1 offset-xs-2 col-xs-8 offset-sm-2 col-sm-8 col-md-8 text-center padding-top-medium">
        <p class="legal black">First AutoPay payment date:
          <span class="legal-bold black">Jun 14, 2018</span>
        </p>
        <p class="legal padding-top-xsmall padding-top-medium-sm padding-top-medium-xs black">You're autopay discount will take affect beginning with your next bill on:
          <span class="legal-bold black">May 16, 2018</span>
        </p>
      </div>
      <div class="col-md-10 offset-md-1 padding-top-medium">
        <paymentblade [title]="paymentMethod" [card]="cardNumber" [icon]="iconClass" [titleClass]="titleClass" [disableClass] = "disableClass"></paymentblade>
      </div>
      <div class="col-12 text-center padding-top-large padding-top-medium-md padding-top-medium-lg padding-top-medium-xl">
        <span class="legal black">By submitting, you agree to</span>
        <span class="legal-bold-link cursor">Terms and Conditions</span>
      </div>
      </div>
      <div class="offset-md-1 col-md-10 col-12 padding-top-large p-l-0-xs p-r-0-xs">
        <hr class="total-divider mb-0 mt-0">
      </div>
      <div class="col-12 text-center padding-top-large">
        <p class="H4-heading">Your next bill will increase</p>
        <p class="padding-top-large padding-top-medium-md padding-top-medium-lg padding-top-medium-xl Display3">$X.XX / mo</p>
      </div>
      <div class="offset-md-3 col-md-6 text-center-md text-center-lg text-center-xl padding-top-large">
        <span class="legal">Your current plan may include promotions, that are not applicable to your a new plan.</span>
      </div>
      <div class="offset-md-3 col-md-6 text-center-md text-center-lg text-center-xl padding-top-medium">
        <span class="legal">
          By clicking Agree and Submit, I agree that (a) my Agreement with T-Mobile includes the Service Agreement, any terms specific
          to my Rate Plan, and T-Mobile's Terms & Conditions; (b) T-Mobile requires Arbitration of Disputes unless I previously
          opted out per T-Mobile's Terms & Conditions; and (c) I accept T-Mobile's Electronic Signature Terms.
        </span>
      </div>
      <div class="col-12 text-center padding-top-medium padding-top-large-sm padding-top-large-xs">
        <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
                <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left btn-wd" appButtonripple>Agree & Submit</button>
            </div>
            <div class="col-12 col-md-6  float-md-left pl-md-0 ">
                <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right btn-wd" appButtonripple>Cancel</button>
            </div>
        </div>
    </div>
      <div class="offset-md-3 col-md-6 text-center-md text-center-lg text-center-xl padding-top-xxl padding-bottom-xl">
        <span class="legal">On all T-Mobile plans, during congestion, the small fraction of customers using >50GB/mo. may notice reduced speeds
          until next bill cycle due to data prioritization.</span>
      </div>
    </div>
  </div>
</div>