<div class="TMO-SERVICE-AGREEMENT">
<div class="container" id="serviceAgreement">
    <app-header></app-header>
    <div class="row no-margin padding-top-large-xs padding-top-large-sm padding-top-xl">
      <div class="col-12 text-center">
        <span class="Display3">Service Agreement</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center padding-top-xsmall-xs padding-top-xsmall-sm padding-top-medium">
        <div class="print-icon "></div>
        <div class="body-link cursor padding-horizontal-xsmall">Print this page</div>
      </div>
    </div>
  
  <div class="row"  >
      <div class="col-12 col-md-10 offset-md-1 legal black  padding-top-medium-xs padding-top-medium-sm padding-top-small">
      <p class="mb-0 legal-bold black">CUSTOMER ACCEPTANCE: By checking the box presented on the "Review changes" page, or activating or using T-Mobile service, you agree that:  </p>
        <p class="mb-10">For non-tax inclusive rate plans, you will be charged a monthly Regulatory Programs ("RPF") & Telco Recovery Fee ("TRF") (not a government required tax or charge) totaling $3.18 for Voice Lines and $1.16 for Mobile Internet Lines ("MI") (subject to change without notice; plus tax). Of the $3.18 total charge for voice lines, $0.60 is applied to the RPF and $2.58 is applied to the TRF. For MI lines $0.15 is applied to the RPF and $1.01 is applied to the TRF. These fees may not apply to certain data devices/services.<span class=" mb-0 legal-bold black"> If you are on a tax inclusive rate plan, you will not pay these fees.</span> International rates and roaming charges may apply. Certain rates are subject to change at any time. If you have a device or accessory under one of our device programs, refer to your agreement for the specific terms and conditions of that program</p>
        <p class="mb-10"> <span class="  mb-0 legal-bold black"> Paperless Billing.</span> <span class=" mb-0">You are consenting to receive your bill electronically and will not receive a paper bill. You can review your paperless bill by accessing your account at </span>  <span class="cursor legal-bold-link black">www.T-Mobile.com</span> or by following the link provided in your notification e-mail or text message. You can print a copy of your bill for free and request a mailed copy of your bill. You can update your billing preferences in your account at <span class="cursor legal-bold-link black">www.T-Mobile.com</span> or by calling T-Mobile. Please read the complete Paperless Billing Terms & Conditions available at <span class="cursor legal-bold-link black">www.t-mobile.com/billterms</span>.</p>
        <p class=" mb-0"> Your <span class="  mb-0 legal-bold black"> "Agreement"</span> with T-Mobile includes: (a) this Service Agreement; (b) T-Mobile's "Terms and Conditions"; and (c) any terms specific to your Rate Plan or service.        <span class="  mb-0 legal-bold black">You can obtain copies of T-Mobile's Terms and Conditions and your Rate Plan specific terms at www.T-Mobile.com (www.T-Mobilepr.com for Puerto Rico customers), or by calling Customer Care at (800) 937-8997 or 611 from your T-Mobile phone.</span> You agree you have received and read your Agreement.</p>   
          <p class="mb-0">The English version of this Agreement will control over any other version.</p>
          <p class=" mb-0 legal-bold black">T-MOBILE REQUIRES ARBITRATION OF DISPUTES UNLESS YOU PREVIOUSLY OPTED-OUT PURSUANT TO T-MOBILE'S TERMS AND CONDITIONS.</p> 
  </div>
  </div>
  <div class="row ">
    <div class="col-12 col-md-4 offset-md-4  padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl text-center">
          <button class="PrimaryCTA full-btn-width" (click)="gotopreviouspage()" appButtonripple>Back</button>
    </div>
  </div>
</div>
</div>