<div class="TMO-PROMOTIONS-NO-PENDINGPAGE">    
    <div class="container">
        <div class="row padding-bottom-medium-xs padding-bottom-medium-sm padding-top-large-xs padding-top-large-sm padding-top-xl padding-bottom-large">
            <div class="col-12 padding-bottom-small-xs padding-bottom-small-sm padding-bottom-medium">
                <p class="Display3 text-center">My promotions</p>
            </div>
            <p class="col-10 offset-1 body text-center">See the details of all your promotions.</p>    
                  <div class="col-10 col-md-6 col-lg-4 offset-1 offset-md-3 offset-lg-4 padding-horizontal-xsmall padding-vertical-xl">
                    <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
                      [dropdownId]="dropdownId"></app-dropdown-selector>
                  </div>
                
            
            <div *ngFor="let val of  bladeInfo; let i = index" class="col-12 col-md-10 offset-md-1" >
                <app-profile-blade *ngIf="i < (bladeInfo.length-1); else bottomDivider" [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]='val.desc2' [url]="val.url"></app-profile-blade>
                <ng-template #bottomDivider>
                  <app-profile-blade [bottomDividerClass]="'inset-divider-1px pb-3'" [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]= 'val.desc2' [url]="val.url"
                    [bottomDivider]=true  [switch]="val.switch" [checkOpt]="val.checkOpt"></app-profile-blade>
                </ng-template>
              </div>
              <p class ="col-12 col-md-10 offset-md-1 padding-vertical-medium body-link cursor black" routerLink="/PastPromotions" routerLinkActive="active">View past promotions</p>
            </div>
        </div>
</div>