@import "src/assets/scss/global-variables.scss";
//@import "src/assets/scss/global.scss";
.TMO-STYLEGUIDE-BUTTON {
    @media #{$smartphones-xs} {
        .pb-18-xs {
            padding-bottom: 18rem;
        }
        
}
@media #{$smartphones-sm},#{$alldeviceexceptsmartphone}{
    .visibility-hidden-sm{
        visibility:hidden;
  }
}

}