<div class="TMO-STYLEGUIDE-BUTTON">
  <div class="container ">
    <div class="Display4 text-center padding-vertical-xl">Buttons</div>
    <div class="Display5 padding-bottom-small">Standard and Accent Buttons</div>
    <p class="H6-heading">(Standard in Desktop, Accent in Mobile View)</p>
    <div class="col-12 col-sm-12 no-padding padding-bottom-xl">
      <p class="H6-heading mb-0 padding-top-large">Primary CTA</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="PrimaryCTA" appButtonripple>Primary CTA</button>
      </div>
      <a (click)="showDisplay1Code = !showDisplay1Code" class="legal-link "> {{showDisplay1Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay1Code">
        <div class="padding-top-small ">
          <code class=" language-markup border brand-magenta d-block">
              &lt;div class="col-12">
              <br/> &nbsp;&nbsp;&lt;button class="PrimaryCTA">Primary CTA&lt;/button>
              <br/> &lt;/div>
            </code>
        </div>
      </div>
      <p class="H6-heading mb-0 padding-top-large">Secondary CTA</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="SecondaryCTA" appButtonripple> Secondary CTA</button>
      </div>
      <a (click)="showDisplay2Code = !showDisplay2Code" class="legal-link"> {{showDisplay2Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay2Code">
        <div class="padding-top-small ">
          <code class=" language-markup border brand-magenta d-block">
              &lt;div class="col-12" >
              <br/> &nbsp;&nbsp;&lt;button class="SecondaryCTA"> Secondary CTA&lt;/button>
              <br/> &lt;/div>
            </code>
        </div>
      </div>
      <p class="H6-heading mb-0 padding-top-large">Teritiary CTA</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="TeritiaryCTA" appButtonripple>Teritiary CTA</button>
      </div>
      <a (click)="showDisplay3Code = !showDisplay3Code" class="legal-link"> {{showDisplay3Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay3Code">
        <div class="padding-top-small ">
          <code class=" language-markup border brand-magenta d-block">
              &lt;div class="col-12" >
              <br/> &nbsp;&nbsp;&lt;button class="TeritiaryCTA">Teritiary CTA&lt;/button>
              <br/> &lt;/div>
            </code>
        </div>
      </div>
      <p class="H6-heading mb-0 padding-top-large">Primary CTA - Disabled</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="PrimaryCTA" disabled>Primary CTA</button>
      </div>
      <a (click)="showDisplay4Code = !showDisplay4Code" class="legal-link"> {{showDisplay4Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay4Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="col-12">
            <br/> &nbsp;&nbsp;&lt;button class="PrimaryCTA" disabled>Primary CTA&lt;/button>
            <br/> &lt;/div>
          </code>
        </div>
      </div>
      <p class="H6-heading padding-top-large mb-0">Secondary CTA - Disabled</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="SecondaryCTA" disabled> Secondary CTA</button>
      </div>
      <a (click)="showDisplay5Code = !showDisplay5Code" class="legal-link"> {{showDisplay5Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay5Code">
        <div class="padding-top-small ">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="col-12" >
            <br/> &nbsp;&nbsp;&lt;button class="SecondaryCTA" disabled> Secondary CTA&lt;/button>
            <br/> &lt;/div>
          </code>
        </div>
      </div>
      <div class=" padding-top-large">
        <p class="H6-heading mb-0">Teritiary CTA - Disabled</p>
        <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
          <button class="TeritiaryCTA" disabled>Teritiary CTA</button>
        </div>
      </div>
      <a (click)="showDisplay6Code = !showDisplay6Code" class="legal-link"> {{showDisplay6Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay6Code">
        <div class="padding-top-small ">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="col-12" >
            <br/> &nbsp;&nbsp;&lt;button class="TeritiaryCTA" disabled> Teritiary CTA&lt;/button>
            <br/> &lt;/div>
          </code>
        </div>
      </div>
    </div>



   <!--Accent new code-->
    <div class="col-12 col-sm-12 no-padding padding-bottom-xl">
      <p class="H6-heading mb-0 padding-top-large">Primary CTA- Accent</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="PrimaryCTA-accent" appButtonripple>Primary CTA Accent</button>
      </div>
      <a (click)="showDisplay1Code = !showDisplay1Code" class="legal-link "> {{showDisplay1Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay1Code">
        <div class="padding-top-small ">
          <code class=" language-markup border brand-magenta d-block">
              &lt;div class="col-12">
              <br/> &nbsp;&nbsp;&lt;button class="PrimaryCTA-accent">Primary CTA Accent&lt;/button>
              <br/> &lt;/div>
            </code>
        </div>
      </div>
      <p class="H6-heading mb-0 padding-top-large">Secondary CTA Accent</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="SecondaryCTA-accent" appButtonripple> Secondary CTA Accent</button>
      </div>
      <a (click)="showDisplay2Code = !showDisplay2Code" class="legal-link"> {{showDisplay2Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay2Code">
        <div class="padding-top-small ">
          <code class=" language-markup border brand-magenta d-block">
              &lt;div class="col-12" >
              <br/> &nbsp;&nbsp;&lt;button class="SecondaryCTA-accent"> Secondary CTA Accent&lt;/button>
              <br/> &lt;/div>
            </code>
        </div>
      </div>
    
      <p class="H6-heading mb-0 padding-top-large">Primary CTA Accent - Disabled</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="PrimaryCTA-accent" disabled>Primary CTA Accent</button>
      </div>
      <a (click)="showDisplay4Code = !showDisplay4Code" class="legal-link"> {{showDisplay4Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay4Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="col-12">
            <br/> &nbsp;&nbsp;&lt;button class="PrimaryCTA-accent" disabled>Primary CTA Accent&lt;/button>
            <br/> &lt;/div>
          </code>
        </div>
      </div>
      <p class="H6-heading padding-top-large mb-0">Secondary CTA Accent- Disabled</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="SecondaryCTA-accent" disabled> Secondary CTA Accent</button>
      </div>
      <a (click)="showDisplay5Code = !showDisplay5Code" class="legal-link"> {{showDisplay5Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay5Code">
        <div class="padding-top-small ">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="col-12" >
            <br/> &nbsp;&nbsp;&lt;button class="SecondaryCTA-accent" disabled> Secondary CTA Accent&lt;/button>
            <br/> &lt;/div>
          </code>
        </div>
      </div>
    </div>
    <div class="Display5 padding-bottom-large">HyperLinks</div>
    <div class="col-12 col-sm-12 no-padding padding-bottom-xl">
      <p class="H6-heading mb-0">HyperLink CTA</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="HyperLinkCTA" >HyperLink CTA</button>
      </div>
      <div class="padding-bottom-large">
        <a (click)="showDisplay11Code = !showDisplay11Code" class="legal-link "> {{showDisplay11Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay11Code">
          <div class="padding-top-small ">
            <code class=" language-markup border brand-magenta d-block">
              &lt;div class="col-12">
              <br/> &nbsp;&nbsp;&lt;button class="HyperLinkCTA">HyperLink CTA&lt;/button>
              <br/> &lt;/div>
            </code>
          </div>
        </div>
      </div>
      <p class="H6-heading mb-0">HyperLink CTA - Disabled</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="HyperLinkCTA" disabled>HyperLink CTA</button>
      </div>
      <a (click)="showDisplay12Code = !showDisplay12Code" class="legal-link"> {{showDisplay12Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay12Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="col-12" >
            <br/> &nbsp;&nbsp;&lt;button class="HyperLinkCTA" disabled>HyperLink CTA&lt;/button>
            <br/> &lt;/div>
          </code>
        </div>
      </div>
    </div>
    <div class="visibility-hidden-sm">
    <div class="Display5 padding-bottom-small">Full Width Buttons</div>
    <p class="H6-heading">(Full Width in Desktop, Sticky in Mobile View)</p>
    <div class="col-12 pb-18-xs no-padding">
      <p class="H6-heading mb-0 padding-top-large">Primary CTA</p>
      <div class="col-12 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
        <button class="PrimaryCTAFull">PrimaryCTA goes here</button>
      </div>
      <a (click)="showDisplay7Code = !showDisplay7Code" class="legal-link "> {{showDisplay7Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay7Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="col-12">
            <br/> &nbsp;&nbsp;&lt;button class="PrimaryCTAFull">Primary CTA&lt;/button>
            <br/> &lt;/div>
          </code>
        </div>
      </div>
      
      <p class="H6-heading mb-0 padding-top-large">Primary CTA - Disabled</p>
      <div class="col-12 no-padding pt-sm-4 pb-sm-4 pt-3 pb-3">
        <button class="PrimaryCTA full-btn-width" disabled>Primary CTA</button>
      </div>
      <a (click)="showDisplay9Code = !showDisplay9Code" class="legal-link"> {{showDisplay9Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay9Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="col-12">
            <br/> &nbsp;&nbsp;&lt;button class="PrimaryCTAFull" disabled>Primary CTA&lt;/button>
            <br/> &lt;/div>
          </code>
        </div>
      </div>
     
     
    </div>
  </div>
  </div>
</div>