<div class="TMO-PLAN-DETAILS"> 
<div class="container">
    <app-header></app-header>
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6 text-center padding-top-xxl">
            <span class="legal-bold brand-magenta">WITH NETFLIX ON US</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6 text-center padding-top-xsmall">
            <span class="Display4">T-Mobile ONE</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6 text-center padding-top-small">
            <span class="H4-heading strike">$180/mo</span>
            <span class="Display4">$160/mo</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6 text-center padding-top-xsmall">
            <span class="legal-bold black">with AutoPay</span>
        </div>
    </div>
    <div class="row padding-top-small no-padding">
        <div class="col-12 offset-md-3 col-md-6  ">
            <div class="inset-divider no-padding"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 offset-md-3 col-md-6  no-padding  padding-top-xsmall">
            <ul>
                <li class="body black padding-vertical-xsmall">Save $5 per line with AutoPay!</li>
                <li class="body black padding-vertical-xsmall">Unlimited 4G LTE smartphone datas</li>
                <li class="body black padding-vertical-xsmall">Unlimited Talk & Text</li>
                <li class="body black padding-vertical-xsmall">
                    Wi-Fi calling
                    <i class="pl-1 fa fa-question-circle"></i>
                </li>
                <li class="body black padding-vertical-xsmall">
                    Gogo in-flight benefits
                    <i class="pl-1 fa fa-question-circle"></i>
                </li>
                <li class="body black padding-vertical-xsmall">
                    Mobile hotspot
                    <i class="pl-1 fa fa-question-circle"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="row  no-padding">
        <div class="col-12 offset-md-3 col-md-6">
            <span class="legal black">Legal text goes here Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada
                magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur
                purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                massa justo sit amet risus.</span>
        </div>
    </div>
</div>
</div>