@import "src/assets/scss/global-variables.scss";
.TMO-EPP-EXISTING-PAYMENT-METHOD {
    .p-b-4
    {
    padding-bottom: 4px;
    }
    .p-t-8
    {
        padding-top: 8px;
    }
    .mobileview {
        display: none;
      }
      .noinmobileview{
          display: block;
      }
      @media #{$smartphones-sm},#{$smartphones-xs},#{$tablets-md}{
        .pull-right-xs{
            float: right;
        } 
        .m-t-27-xs{
            margin-top:-22px;
        } 
       
    }
    @media #{$smartphones-sm},#{$smartphones-xs}
    {
    .main-content{
        min-height: calc(100vh - 100px);
    }   
    .m-t-30-xs{
        margin-top:-30px;
    }
    .m-t-4-xs{
        margin-top:-4px;
    }
    .mobileview {
        display: block;
      }
      .noinmobileview
      {
          display: none;
      }
      .ml-btn    {margin-left: 5px;}
    }
    @media #{$desktops-xl},#{$desktops-lg}{
        .m-t-48{
            margin-top:-66px;
        }
        .m-t-78{
            margin-top:-30px;
        }
        .ml-btn    {margin-left: 25px}
    }
    @media #{$tablets-md}{
        .ml-btn    {margin-left: 25px}
    }
}
