<div class="TMO-EPP-EXISTING-PAYMENT-METHOD">
  <div class=" container">
    <div class="main-content">
      <app-header></app-header>
      <div class="row padding-top-large-xs padding-top-xl">
        <div class="col-12 text-center">
          <span class="Display3">Extra device payment</span>
        </div>
      </div>
      <div class="row  padding-top-small padding-bottom-medium">
        <p class="col-12 text-center legal-bold black mb-0">{{paymentdue}}</p>
      </div>
      <div class="row">
      <div class="col-12 col-md-10 offset-md-1  no-padding-xs">
        <div class="full-bleed-divider"></div>
      </div></div>
      <div class="row">
        <p class="col-12 col-md-5 offset-md-1 mb-0 padding-top-xsmall p-b-4">
          <span class="pull-left Display6 pull-left">{{name}}</span>
        </p>
      </div>
      <!--mobile view-->
     <div class="row  black " *ngFor="let val of paymentValues;let i = index">
        <div class="col-12 col-md-10 col-lg-5 offset-md-1 p-b-4" *ngIf="i==0">
          <span class="pull-left legal black p-t-8 m-t-4-xs">{{val.descTitle}}</span>
          <br>
          <span class="pull-right-xs pull-right-md body black m-t-27-xs ">{{val.value}}</span>
        </div>
        <div class="col-12  col-md-10 offset-md-1 col-lg-5 offset-lg-6 p-b-4 m-t-48" *ngIf="i==1">
          <span class="pull-left body black">{{val.descTitle}}</span>
          <span class="pull-right body black">{{val.value}}</span>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-6  padding-bottom-xsmall m-t-78" *ngIf="i==2">
          <span class="pull-left body black">{{val.descTitle}}</span>
          <span class="pull-right body black">${{val.value}}</span>
        </div>
      </div>
      <!-- <div class="row "><div class="col-12 col-md-10 offset-md-1 no-padding"><div class="inset-divider-4px" ></div></div></div>  -->
      <div class="row ">
        <div class="col-12 col-md-10 offset-md-1 no-padding-xs">
          <div class="full-bleed-divider mobileview"></div>
          <div class="inset-divider-1px noinmobileview" ></div>
        </div></div>      

      <div class="row" *ngFor="let val of paybillvalues">
        <div class="col-12 col-md-10 offset-md-1" *ngIf="val.descTitle != 'Payment Method'">
          <paymentblade [title]="val.descTitle" [titleClass]="'body-bold'" [card]="val.value" [cardNumberClass]="'body'" [bottomDivider]="val.bottomDivider" [topDividerClass]="''"></paymentblade>
        </div>
      </div>
      <div class=""><div class="col-12 col-md-10 offset-md-1 no-padding"><div class="inset-divider-1px" ></div></div></div>

      <div class="row padding-vertical-small">
            <div class="col-12 d-flex align-items-center justify-space-between cursor" routerLink="/jodPoipPayment" routerLinkActive="active">
              <div class="col-11 col-md-9 offset-md-1 no-padding pull-left">
                <p class="body-bold  black pl-md-1">Payment Method</p>
                <p class="body black padding-top-xsmall col-12 no-padding  d-flex align-items-center justify-content-between justify-content-sm-between justify-content-md-start">
                  <span class="d-flex align-items-center"><span class="visa-icon ml-md-1"> </span><span>&nbsp;</span>
                  <span class="black"> Visa Credit Card </span><span>&nbsp;</span></span>
                  <span class="body"> ****2617</span>
                </p>
              </div>
              <div class="no-padding pr-0 fa-lg float-right col-1 col-md-1">
                <span class="body pull-right arrow-right"></span>
              </div>
            </div>
            </div>  
          <div class=""><div class="col-12 col-md-10 offset-md-1 no-padding"><div class="inset-divider-1px" ></div></div></div>

      
      
      <div class="row padding-top-small">
        <p class="col-12 col-md-10 offset-md-1 pull-left legal mb-0">By submitting, you agree to
          <a class="legal-link cursor" routerLink="/termsAndCondition" routerLinkActive="active"
            tabindex="2">Terms and Conditions</a>
        </p>
      </div>
      <div class="row padding-top-xsmall">
        <p class="col-12 col-md-10 offset-md-1 pull-left legal mb-0">All required monthly payments towards Equipment Installment Plans are included in your bill. An additional payment
          on this page is optional and can be used to pay your balance in full.</p>
      </div>
    </div>
    <div class="row no-padding  padding-top-medium-xs padding-top-medium-sm padding-vertical-xl padding-bottom-large-xs padding-bottom-large-sm">
        <div class="col-12 col-md-8  offset-md-2 text-center  ">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
            <button tabindex="4" class="PrimaryCTA w-100 full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Agree and submit</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
            <button tabindex="3" class="SecondaryCTA blackCTA w-100 full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple (click)="visible = !visible">Cancel</button>
          </div>
        </div>
      </div>
      <div class="dialog-container">
        <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
          <div class="row no-margin text-center">
            <span class="col-12 no-padding black Display5 ">Cancel payment</span>
          </div>
          <div class="row no-margin padding-top-medium text-center">
            <div class="col-12 body">Are you sure you want to cancel your payment?</div>
          </div>
          <div class=" mx-md-0 padding-top-medium text-center ">
            <div class="col-12 no-padding padding-left-xsmall ">
              <button class="col-5 col-md-3 PrimaryCTA-accent  margin-left-xxsmall ml-2" appButtonripple (click)="close()">Yes</button>
              <button class="col-5 col-md-3 SecondaryCTA-accent blackCTA ml-btn" appButtonripple (click)="close()">No</button>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
  </div>