@import "src/assets/scss/global-variables.scss";
.TMO-PROGRESS-BAR{
    .progress-bar
    {
        background-color: $brand-magenta;
        animation:progress-animation 2s;
    }
    .progress{
        background-color:$gray30;
        height:4px;
    }
    @keyframes progress-animation {
        0%
        {
            width:0;
        }
        
    }

}