<div class="TMO-PROGRESS-BAR">
<div class="progress">
    <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="availablepercent" 
    aria-valuemin="0" aria-valuemax="100" [style.width]="availablepercent + '%'">
    </div>
  </div> 

</div>