<div class="TMO-PROFILE-PRIVACY-NOTIFICATION-ADVERTISING-NEW">
  <div class="container">
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12 text-center">
        <p class="Display3">Advertising & Insights</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm ">
        <p class="legal pb-1">{{subTitle}}</p>
        <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
          <div id="model" class="dropdown-toggle">
            <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
            <span class="arrow-down pull-right mt-1"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="model">
            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
              (click)="select(state.name)">
              <a> {{state.name}} </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 pull-left padding-bottom-small-xs padding-bottom-small-sm padding-bottom-medium">
        <p class="body text-center">Programs that use non-personally identifiable information related to data and device usage.</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row py-3 py-md-4">
          <div class="col-12 d-flex">
            <div class="col-10 no-padding">
              <p class="Display6">Insights</p>
              <p class="col-12 no-padding pt-2 pt-md-3 body d-inline-block" *ngIf="!showMore1">Your device can receive ads that are tailored to your interests from T-Mobile and our ad providers. These interest-based
                ads are selected based on your use of T-Mobile’s services and other information accessed by our ad providers.
                If you turn off interest-based ads on this device, you will see just as many ads, but the ads will not be
                based on your interests and may be less relevant to you.</p>
              <p class="pt-2 cursor body-link pt-md-3" *ngIf="showMore1" (click)="showMore1=!showMore1">Show More</p>
              <p class="pt-2 cursor body-link pt-md-3" *ngIf="!showMore1" (click)="showMore1=!showMore1">Show Less</p>
            </div>
            <div class="col-2 no-padding fa-lg">
              <span class="d-inline-block float-right">
              <label class="switch mt-1">
                <input type="checkbox" [checked]="checkOpt1" (change)="checkOpt1 = !checkOpt1">
                <span class="slider round"> </span>
              </label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row py-3 py-md-4">
          <div class="col-12 d-flex">
            <div class="col-10 no-padding">
              <p class="Display6">Interest-Based Ads</p>
              <p class="col-12 no-padding pt-2 pt-md-3 body d-inline-block" *ngIf="!showMore2">Your device can receive ads that are tailored to your interests from T-Mobile and our ad providers. These interest-based
                ads are selected based on your use of T-Mobile’s services and other information accessed by our ad providers.
                If you turn off interest-based ads on this device, you will see just as many ads, but the ads will not be
                based on your interests and may be less relevant to you.</p>
              <p class="pt-2 cursor body-link pt-md-3" *ngIf="showMore2" (click)="showMore2=!showMore2">Show More</p>
              <p class="pt-2 cursor body-link pt-md-3" *ngIf="!showMore2" (click)="showMore2=!showMore2">Show Less</p>
            </div>
            <div class="col-2 no-padding fa-lg">
              <span class="d-inline-block float-right">
              <label class="switch mt-1">
                <input type="checkbox" [checked]="checkOpt2" (change)="checkOpt2 = !checkOpt2">
                <span class="slider round"> </span>
              </label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row py-3 py-md-4">
          <div class="col-12 d-flex">
            <div class="col-10 no-padding">
              <p class="Display6">Web Browsing & App Information</p>
              <p class="col-12 no-padding pt-2 pt-md-3 body d-inline-block" *ngIf="!showMore3">Your device can receive ads that are tailored to your interests from T-Mobile and our ad providers. These interest-based
                ads are selected based on your use of T-Mobile’s services and other information accessed by our ad providers.
                If you turn off interest-based ads on this device, you will see just as many ads, but the ads will not be
                based on your interests and may be less relevant to you.</p>
              <p class="pt-2 cursor body-link pt-md-3" *ngIf="showMore3" (click)="showMore3=!showMore3">Show More</p>
              <p class="pt-2 cursor body-link pt-md-3" *ngIf="!showMore3" (click)="showMore3=!showMore3">Show Less</p>
            </div>
            <div class="col-2 no-padding fa-lg">
              <span class="d-inline-block float-right">
              <label class="switch mt-1">
                <input type="checkbox" [checked]="checkOpt3" (change)="checkOpt3 = !checkOpt3">
                <span class="slider round"> </span>
              </label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row py-3 py-md-4">
          <div class="col-12 d-flex">
            <div class="col-10 no-padding">
              <p class="Display6">Device Location</p>
              <p class="col-12 no-padding pt-2 pt-md-3 body d-inline-block" *ngIf="!showMore4">Your device can receive ads that are tailored to your interests from T-Mobile and our ad providers. These interest-based
                ads are selected based on your use of T-Mobile’s services and other information accessed by our ad providers.
                If you turn off interest-based ads on this device, you will see just as many ads, but the ads will not be
                based on your interests and may be less relevant to you.</p>
              <p class="pt-2 cursor body-link pt-md-3" *ngIf="showMore4" (click)="showMore4=!showMore4">Show More</p>
              <p class="pt-2 cursor body-link pt-md-3" *ngIf="!showMore4" (click)="showMore4=!showMore4">Show Less</p>
            </div>
            <div class="col-2 no-padding fa-lg">
              <span class="d-inline-block float-right">
              <label class="switch mt-1">
                <input type="checkbox" [checked]="checkOpt4" (change)="checkOpt4 = !checkOpt4">
                <span class="slider round"> </span>
              </label>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-top-xl padding-bottom-xxxl">
        <p class="legal">Information on Interest-based Ads.<span class="legal-link cursor" routerLink="/privacyNotificationInterestBasedAds"
            routerLinkActive="active"> Information on Interest Based Ads</span></p>
      </div>
    </div>
  </div>
</div>