<div class="TMO-CONFIRMATION-1">
  <div class="container">
    <div class="main-content-singlerow">
      <app-header></app-header>
      <div class="row">
        <div class="col-12 text-center padding-top-large-xs padding-top-large-sm padding-top-xl legal">
          <span class="check-icon" tabindex="0" aria-label="Check icon"></span>
        </div>
      </div>
      <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-xl">
        <div class="col-12  text-center">
          <p class="mb-0 Display3">
            <span tabindex="0" aria-label="AutoPay is now OFF">AutoPay is now OFF</span>
          </p>
          <p class="mb-0 body-bold black padding-top-small padding-top-medium-md">
            <span tabindex="0" aria-label="You will no longer recive the AutoPay discount. Save $40/mo by re-enrolling in AutoPay.">You will no longer recive the AutoPay discount. Save $40/mo by re-enrolling in AutoPay. </span>
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 padding-top-small col-md-10 offset-md-1 d-flex justify-content-center">
          <div class="exclamation-circle d-table mt-1" tabindex="0" aria-label="exclamation icon"></div>
          <p class="pl-2 gray60">
            <span tabindex="0" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque erat orci, pulvinar id diam.">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque erat orci, pulvinar id diam.</span></p>
        </div>
      </div>
    </div>
    <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
      <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" role="button" appButtonripple tabindex="0" aria-label="click here to make a one-time payment">Make a One-time Payment</button>
        </div>
        <div class="col-12 col-md-6  float-md-left pl-md-0 ">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" role="button" appButtonripple (click)="gotopreviouspage()" tabindex="0" aria-label="click here to go back home">Back home</button>
        </div>
      </div>
    </div>
  </div>

</div>
