@import "src/assets/scss/global-variables.scss";
.TMO-BILLING-AND-PAYMENTS-PAPERLESS{
    .radio-container{
        width:20px;
        height:20px;
    }
    .radio-container label {
        margin-left: -30px
    }

}