<div class="TMO-BILLING-AND-PAYMENTS-PAPERLESS">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="Display3 text-center padding-top-large-xs padding-top-large-sm padding-bottom-medium-xs padding-bottom-medium-sm padding-top-xl padding-bottom-large">Paperless billing</p>
        <p class="col-10 offset-1 body  text-center padding-bottom-medium padding-bottom-xsmall-xs padding-bottom-xsmall-sm">Please note that changes apply to all lines on your account.</p>
      </div>
    </div>
    <div class="row" *ngFor="let listItem of services;let i=index;">
        <div class="col-12 offset-md-2 col-md-10" >
          <p class="Display6 padding-top-medium padding-top-small-xs padding-top-small-sm">{{listItem.title}}</p>
        </div>
        
        <div class="col-12" *ngFor="let dataItem of listItem['data'];let k=index">
          <div class="d-flex padding-top-medium padding-top-small-xs padding-top-small-sm">
          <div class="body radio-container mt-md-1 col-1 col-md-1 offset-md-1">
                <input class="check pr-1" type="radio" id={{listItem.title}}{{k}} name={{i}} [checked]="k == 1">
                <label for={{listItem.title}}{{k}}></label>
                <div class="check"></div>
              </div>
              <div class="col-11 col-md-9 no-padding">
                <span class="Display6 pl-1">{{dataItem.desc}}</span>
                <span class="body-bold black pull-right" *ngIf="dataItem.price != '' && listItem.id == '2'">{{dataItem.price}}</span>
                <p *ngIf="dataItem.desc2 !== ''" class="body pl-1 padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm">{{dataItem.desc2}}</p>
                <p *ngIf="dataItem.address !== ''" class="body padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm pl-1">{{dataItem.addressdet}}</p>
                <p *ngIf="dataItem.address !== ''" class="legal padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm pl-1">{{dataItem.address}}</p>
                <p *ngIf="dataItem.address !== ''" class="legal pl-1">{{dataItem.address2}}</p>
                <p *ngIf="dataItem.address !== ''" class="legal pl-1">{{dataItem.address3}}</p>
              </div>
          </div>
          <div class="col-12 padding-top-medium col-md-10 offset-md-1 no-padding d-md-block d-none">
          <div class="inset-divider-1px"></div>
        </div>
        </div>
         <div class="col-12 padding-top-medium col-md-10 offset-md-1 no-padding d-md-none d-block">
          <div class="inset-divider-1px"></div>
        </div>
    </div>
    <div class="row no-padding  padding-vertical-xl">
      <div class="col-12 col-md-8  offset-md-2 text-center">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Save changes</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA  full-btn-width float-md-right float-lg-right float-xl-right blackCTA" appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>