<div class="TMO-CVV-MODAL-ALL-OTHERS">
<div class="container">
    <div class="row padding-top-xxl padding-bottom-xxl">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
          <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Card information</button>
      </div>
    </div>
    <div class="dialog-container">
      <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
          <div class=" mx-md-0">
              <div class="">
                  <span class=""><img class="visaImg"></span>
                  <span class=""><img class="masterImg"></span>
                  <span class=""><img class="discoverImg"></span>
              </div>
          </div>
          <div class="padding-top-small  mx-md-0">
              <div class="">
                <span class=""><img class="cvv_visaImg" ></span>
              </div>
          </div>
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
</div>
</div>