@import "src/assets/scss/global-variables.scss";
.TMO-CVV-MODAL-ALL-OTHERS{ 
.dialog{
        max-width:251px;
        min-width:251px;
        @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
            max-width:449px;
        }
       }
    .cardSize 
    {
        width:100%;
    }
}