@import "src/assets/scss/global-variables.scss";

.imgDim {
    width: 45px;
}

.divShadow {
    border: solid 1px #cccccc;
}
.font-size-legal-md {
   letter-spacing: normal;
}

.divShadow:hover {
    box-shadow: 0 0 6px 3px #cccccc;
}

.margin-bottom-base {
    margin-bottom:4px;
}

@media #{$smartphones-xs},
#{$smartphones-sm} {
    .main-content {
        min-height: calc(100vh - 205px);
    }
    .no-padding-xs {
        padding-right: 0px;
        padding-left: 0px;
    }
    .padding-xs {
        padding-left: 10px;
    }
    .divShadow:hover {
        box-shadow: none;
    }
    
    .imgDim {
        width: 40px;
    }
    .p-t-16-xxs {
        padding-top:16px;
    }
    .divBorder {
        border: none;
    }
    .full-bleed-divider-top-xs {    
        border-top: 8px solid #f2f2f2;  
    }
    .full-bleed-divider-bottom-xs{    
        border-bottom: 8px solid #f2f2f2;  
    }

}

@media #{$smartphones-xxs} {
    .p-t-16-xxs{
        padding-top:16px;
    }
    
}

@media #{$alldeviceexceptsmartphone} {
    .main-content {
        min-height: 0px;
    }
    .return-btn {
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
    }
    .d-lg-flex {
        display: flex;
      }
    
      .flex-wrap {
        flex-wrap: wrap;
      }
    
      .p-t-24-lg {
        padding-top: 24px;
      }
    
      .p-l-0-lg {
        padding-left: 0px;
      }
      
        .p-r-20-lg {
          padding-right: 20px;
        }
        
      .p-r-0-lg { padding-right: 0px; }
     
}

@media #{$tablets-md} {
    .h-fixed {
      height: 150px !important;
}
.p-r-16-md {
    padding-right: 17px;
}
}

@media #{$desktops-lg},
#{$desktops-xl} {
.h-fixed {
    height: 144px !important;
}
}

.text-magenta {
    font-family: $Tele-Grotesk-Fet;
    font-size: 18px;
    line-height: 20px;
}

.full-btn-width {
    width: 100%;
}

.white {
    color: $white !important;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center !important;
    display: flex !important;
}

.cursor-pointer {
    cursor: pointer;
}

.color-green{  
    color: #078a14;
}
.height-16 {  
    height: 16px;
}
.brand-magenta {
    color: $brand-magenta;
}    

.bold {
    font-weight: $bold;
}
.black{
    color:#000000;
}