<div class="TMO-SELECT-LINE">
  <div class="container">
    <div class="main-content">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 padding-top-xxxl padding-top-medium-xs padding-top-medium-sm padding-bottom-medium-xs padding-bottom-medium-sm text-center"
          *ngFor="let item of LineSelectorData?.title; let j = index;" id="lineSelector-title">
          <p class="Display3 padding-xs"><span tabindex="0" [attr.aria-label]="item.title">{{item.title}}</span>
          </p>
        </div>
      </div>
      <div class="row padding-bottom-medium  padding-bottom-xl-xs  padding-bottom-xl-sm">
        <div class="  col-12 offset-md-1 col-md-10 col-lg-8 offset-lg-2 d-lg-flex flex-wrap no-padding-xs">
          <div class="col-12 col-md-6 col-lg-6 no-padding-xs full-bleed-divider-top-xs p-t-24-lg"
            *ngFor="let detail of LineSelectorData?.details; let i = index;"
            [ngClass]="{'p-l-0-lg  p-l-0-xl p-l-0-md': (i+1)%2 !== 0 , 'p-r-0-lg p-r-0-md': (i+1)%2 === 0, 'full-bleed-divider-bottom-xs': i==(LineSelectorData?.details.length-1)}" tabindex="-1">
            <div appButtonripple  class="col-12 col-lg-12 gm-noScroll noScroll padding-medium divShadow divBorder cursor justify-content-between h-fixed align-items-center" tabindex="0" [attr.aria-label]="'selected line '+ detail.name" role="gridcell">
              <div class="col-9 no-padding pull-left" tabindex="-1" x-ms-format-detection="none" >
                <span  [ngClass]="{'color-green': detail.devicePremium === 'Yes'}" tabindex="0" [attr.aria-label]="detail.deviceStatus" class="legal font-size-legal-md padding-bottom-base padding-bottom-xsmall-xs padding-bottom-xsmall-sm height-16" >{{detail.deviceStatus}}</span> 
                <p class="Display6 padding-top-base" tabindex="-1" *ngIf="detail.name" >
                  <span tabindex="0" [attr.aria-label]="detail.name">{{detail.name}}</span></p>
                <p class="padding-bottom-xsmall black"
                  [ngClass]="{'body  padding-top-xsmall': detail.name !== '', 'Display6 ': detail.name === ''}" tabindex="-1"><span tabindex="0" [attr.aria-label]="'phone number'+ detail.number" x-ms-format-detection="none">{{detail.number}}</span></p>
                <p class="legal"> <span  tabindex="0" [attr.aria-label]=" detail.manufacture + detail.phoneModel">
                  {{detail.manufacture}} {{detail.phoneModel}}
                </span></p>
              </div>
              <div class="col-3 no-padding pull-right padding-horizontal-medium" >
                <img src="{{detail.fullImage}}" class="imgDim" tabindex="0" [attr.aria-label]="detail.manufacture + detail.phoneModel + 'image '">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 padding-bottom-xxxl padding-bottom-medium-xs padding-bottom-medium-sm text-center">
        <p class="text-magenta brand-magenta"> <span tabindex="0" aria-label="Check a device not on your account">Check a device not on your account</span> </p>
      </div>
    </div>  
  </div> 
</div>
