<div class="TMO-LOADER-SPINNER">
  <div *ngIf="showLoader" [ngClass]="{'spinner-loader-background': noOverlay,'spinner-loader-background-none': !noOverlay}" >
    <div class="drg-spinner-large">
      <div class="preloader-wrapper active">
        <div class="spinner-layer">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>