<div class="TMO-SHOP-TERMS-AND-CONDITIONS">
  <div class="container">
    <app-header></app-header>
    <div class="row no-margin padding-top-medium-xs padding-top-medium-sm padding-top-large"></div>
    <div class="row no-margin padding-bottom-medium-xs padding-bottom-medium-sm padding-bottom-large">
      <div class="col-2 offset-5 no-padding">
          <img class="wd-in" src="../../../../assets/img/ssu/images.png">
      </div>
  </div>
  <div class="row no-margin padding-bottom-xsmall-xs padding-bottom-xsmall-sm padding-bottom-small ">
    <div class="col-12 col-md-10 offset-md-1 text-center no-padding">
      <span class="eyebrow">Limited-time offerxxxxxxx</span>
    </div>
  </div>
    <div class="row no-margin  ">
      <div class="col-12 col-md-10 offset-md-1 text-center no-padding">
        <span class="Display4">8 or 10 column headline wraps down as needed to a max of 2 lines for desktop screens</span>
      </div>
    </div>
    <div class="row no-margin padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">
      <div class="col-12 col-md-10 offset-md-1 text-center no-padding">
        <span class="H6-heading">8 or 10 columns of optional subhead copy to help clarify the content on the rest of the page can wrap to 2 lines
          for desktop</span>
      </div>
    </div>
    <div class="row no-margin padding-top-large-xs padding-top-large-sm padding-top-xl">
      <div class="col-12 col-md-10 offset-md-1 text-center no-padding">
        <span class="legal">This is a placeholder for legal text. <b>Legal bold.</b> 8 or 10 columns wide.</span>
      </div>
    </div>
    <div class="row no-margin padding-bottom-large-xs padding-bottom-large-sm padding-bottom-xl"></div>
  </div>
</div>
