<div class="TMO-DEVICE-PROMO-LIST">
  <div class="container">
    <div [style.minHeight.px]="contentHeight">
      <div
        class="row padding-top-xl padding-top-medium-sm padding-top-medium-xs"
      >
        <div class="col-12 col-md-8 Display4 gray85">
          <span>Past promotions</span>
        </div>
      </div>
      <div class="row padding-top-small">
        <div class="col-12 col-md-6">
          <span class="ts-body-copy"
            >Showing device and service promotions for the past 6 months.</span
          >
        </div>
      </div>
      <div class="row padding-top-xl">
        <div class="col-12 col-md-6 col-lg-6">
          <div class="col-12 no-padding-xs no-scroll-xs no-padding">
            <main class="d-table d-md-flex">
              <div
                class="d-table-cell d-md-block text-center pl-2 pr-2 pl-md-0 pr-md-0"
                *ngFor="let data of dataArray; let j = index"
              >
                <input
                  id="tab{{ j }}{{ j }}"
                  type="radio"
                  name="tabs"
                  class="d-none"
                  (click)="clickFun(j)"
                />
                <label
                  tabindex="0"
                  for="tab{{ j }}{{ j }}"
                  (keydown.enter)="clickFun(j)"
                  class="width-md-220 mr-4 ml-0 body pb-2 text-center cursor full-width"
                  [ngClass]="{
                    'brand-magenta border-magenta body-bold': data.dataTabCheck
                  }"
                  >{{ data.tabTitle }}</label
                >
              </div>
            </main>
            <div
              class="d-md-flex justify-content-md-center"
              *ngFor="let data of dataArray; let j = index"
            >
              <div
                class="col-12 no-padding tab-content padding-bottom-xl"
                *ngIf="j == 0 && data.dataTabCheck"
                id="content{{ j }}{{ j }}"
              >
                <ng-template [ngIf]="promotionData">
                  <div
                    class="row padding-bottom-xsmall padding-top-xl"
                    *ngFor="let devicepromo of promotionData; let i = index"
                  >
                    <div class="col-12">
                      <p
                        class="mb-0 body black body-bold padding-bottom-xsmall"
                        x-ms-format-detection="none"
                      >
                        {{ devicepromo.name + " " + devicepromo.number }}
                      </p>
                      <div class="inset-divider-1px"></div>
                    </div>
                    <div
                      class="col-12"
                      *ngFor="
                        let devicpromodetails of devicepromo['device-promo'];
                        let k = index
                      "
                    >
                      <div class="padding-vertical-small">
                        <p class="body black">
                          {{ devicpromodetails.titleText }}
                        </p>
                        <p class="ts-body-copy no-padding-top">
                          {{ devicpromodetails.titleDesc }}
                        </p>
                      </div>
                      <div class="inset-divider-1px"></div>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div
                class="col-12 no-padding tab-content padding-top-xl"
                *ngIf="j != 0 && data.dataTabCheck"
                id="content{{ j }}{{ j }}"
              >
                <ng-template [ngIf]="servicePromoData">
                  <div
                    class="row padding-bottom-xsmall"
                    *ngFor="let servicepromo of servicePromoData; let i = index"
                  >
                    <div class="col-12">
                      <p
                        class="mb-0 body black body-bold padding-bottom-xsmall"
                        x-ms-format-detection="none"
                      >
                        {{ servicepromo.name + " " + servicepromo.number }}
                      </p>
                      <div class="inset-divider-1px"></div>
                    </div>
                    <div
                      class="col-12"
                      *ngFor="
                        let servicepromodetails of servicepromo['device-promo'];
                        let k = index
                      "
                    >
                      <div class="padding-vertical-small">
                        <p class="body black">
                          {{ servicepromodetails.titleText }}
                        </p>
                        <p class="ts-body-copyno-padding-top">
                          {{ servicepromodetails.titleDesc }}
                        </p>
                      </div>
                      <div class="inset-divider-1px"></div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-vertical-large">
        <button
          class="SecondaryCTA full-btn-width"
          appButtonripple
          routerLink="/devicepromolist"
        >
          Back to current promotions
        </button>
      </div>
    </div>
  </div>
</div>
