<div class="TMO-TAX-MODAL-PAGE">
<div class="container" id="taxModalPage">
  <div class="row padding-vertical-xxl">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
      <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Tax Modal</button>
    </div>
  </div>
  <div class="dialog-container">
    <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
      <div class="row no-margin">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
          <span class="Display5">Taxes and fees</span>
        </div>
      </div>
      <div class="row no-margin padding-top-medium">
        <div class="col-10 offset-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3 text-center no-padding padding-horizontal-large-md padding-horizontal-xl-lg">
          <div class="text-center legal">Based on primary usage address <br> 123 Fake St. Springfield, MI 49224</div>
        </div>
      </div>
      <div class="row padding-top-small no-margin">
        <div class="col-12 col-sm-10 offset-sm-1 padding-horizontal-small-xs no-padding padding-horizontal-xsmall-lg padding-horizontal-small-xl">
          <span class="pull-left body black pull-left ">T-Mobile fees and charges</span>
        </div>
      </div>
      <div class="row padding-top-xsmall no-margin">
        <div class="col-12 col-sm-10 offset-sm-1 padding-horizontal-small-xs no-padding padding-horizontal-xsmall-lg padding-horizontal-small-xl">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="row padding-top-xsmall no-margin">
        <div class="col-12 col-sm-10 offset-sm-1 no-padding legal padding-horizontal-small-xs no-padding padding-horizontal-xsmall-lg padding-horizontal-small-xl"
          *ngFor='let x of Tmobilefees'>
          <div class="col-10 col-sm-9 col-md-10 pull-left no-padding">{{x.chargename}}</div>
          <div class="col-2 col-sm-3 col-md-2 pull-left no-padding">
            <span class="pull-right">${{x.amount}}</span>
          </div>
        </div>
      </div>
      <div class="row no-margin padding-top-small">
        <div class="col-12 col-sm-10 offset-sm-1 padding-horizontal-small-xs no-padding padding-horizontal-xsmall-lg padding-horizontal-small-xl">
          <span class="pull-left body pull-left black">Government fees and charges</span>
        </div>
      </div>
      <div class="row no-margin padding-top-xsmall">
        <div class="col-12 col-sm-10 offset-sm-1 padding-horizontal-small-xs no-padding padding-horizontal-xsmall-lg padding-horizontal-small-xl">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="row padding-top-xsmall no-margin">
        <div class="col-12  col-sm-10 offset-sm-1 padding-horizontal-small-xs no-padding legal padding-horizontal-xsmall-lg padding-horizontal-small-xl"
          *ngFor='let x of govfees'>
          <div class="col-10 col-sm-9 col-md-10 pull-left pl-0">{{x.chargename}}</div>
          <div class="col-2 col-sm-3 col-md-2 pull-left no-padding">
            <span class="pull-right">${{x.amount}}</span>
          </div>
        </div>
      </div>
      <div class="row no-margin padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">
        <div class="col-12 col-sm-10 offset-sm-1 padding-horizontal-small-xs no-padding padding-horizontal-xsmall-lg padding-horizontal-small-xl">
          <div class="total-divider"></div>
        </div>
      </div>
      <div class="row padding-top-xsmall no-margin padding-bottom-small">
        <div class="col-12 col-sm-10 offset-sm-1 padding-horizontal-small-xs no-padding padding-horizontal-xsmall-lg padding-horizontal-small-xl">
          <span class="black pull-left">
            <span class="body-bold black">Tax total</span>
          </span>
          <span class="pull-right body-bold black">${{total}}</span>
        </div>
      </div>
    
    </div>
    <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
  </div>
</div>
</div>