<div class="TMO-HEADLINE-MODAL-PAGE">
<div class="container" id="conflictModalPage">
  <div class="row padding-vertical-xxl">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
      <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Headline  Modal</button>
    </div>
  </div>
  <div class="dialog-container">
    <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
      <div class="row no-margin text-center">
        <span mat-dialog-title class="col-12 col-md-10 offset-md-1 no-padding black Display5 ">2-8 column headline  wraps down as needed to a max of 2 lines for desktop</span>
      </div>
      <div class="row no-margin padding-top-small">
        <div class="col-12 col-md-10 offset-md-1 no-padding text-center body">2-8 columns of optional subhead copy to help clarify the content on the rest of the page
          and add your new selection.</div>
      </div>
      <div class="row mx-0 padding-top-80">
        <div class="col-12 no-padding">
            
         
              <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="close()">CTA</button>
              <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()">Optional CTA</button>
              
        
        </div>
      </div>
      </div>
  </div>
  <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
</div>
</div>