<div class="TMO-BALANCE-LATENCY-PAYMENT-PROCESSING">
  <div class="container">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 padding-vertical-xxl text-center" *ngIf="showButton">
      <button class="SecondaryCTA" appButtonripple tabindex="0" aria-label="loading" (click)="delayedSpinner()">Show Spinner</button>
    </div>
    <div class="row padding-vertical-large" *ngIf="showContent">
      <div class="col-12 no-padding padding-horizontal-xxl-sm padding-horizontal-xxl-xs text-center Display3" tabindex="0" aria-label="Just a moment, please">
        Just a moment, please…
      </div>
      <div class="col-12 no-padding padding-horizontal-xxl-sm padding-horizontal-xxl-xs text-center H6-heading padding-top-medium"
        tabindex="0" aria-label="We’re processing your payment.">
        We’re processing your payment.
      </div>
    </div>

    <div class="row padding-top-large" *ngIf="showBalanceUpdated">
      <div class="col-12 no-padding padding-horizontal-xxl-sm padding-horizontal-xxl-xs text-center Display3" tabindex="0" aria-label="Thanks for your patience!">
        Thanks for your patience!
      </div>
      <div class="col-12 no-padding text-center H6-heading padding-top-medium padding-horizontal-xxl-sm padding-horizontal-xxl-xs"
        tabindex="0" aria-label="We’ve received your payment. Please continue to the next step.">
        We’ve received your payment. Please continue to the next step.
      </div>
      <div class="offset-md-4 col-md-4 col-12 text-center padding-top-xl padding-bottom-xxl padding-horizontal-xxl-xs padding-bottom-xxl">
        <button class="PrimaryCTA full-btn-width w-100 height-32 font-16" appButtonripple tabindex="0" aria-label="click to Next">Next</button>
      </div>
    </div>

    <div class="row padding-top-large " *ngIf="showBalanceNotUpdated">
      <div class="col-12 padding-horizontal-xxl-sm padding-horizontal-xxl-xs text-center no-padding" tabindex="0" aria-label="Sorry—we’re still working on it.">
        <p class="Display3">Sorry—we’re still working on it.</p>
      </div>
      <div class="col-12 no-padding padding-top-medium padding-horizontal-xxl-sm padding-horizontal-xxl-xs">
        <div class="text-center H6-heading no-padding " tabindex="0" aria-label="It’s taking longer than usual to update your account balance.">It’s taking longer than usual to update your account balance.</div>
        <div class="text-center H6-heading no-padding" tabindex="0" aria-label="Please check back soon to continue">Please check back soon to continue.</div>
      </div>
      <div class="offset-md-4 col-md-4 col-12 text-center padding-top-xl padding-horizontal-xxl-xs padding-bottom-xxl">
        <button class="PrimaryCTA full-btn-width w-100 height-32 font-16" appButtonripple tabindex="0" aria-label="click to Return home">Return home</button>
      </div>
    </div>
  </div>
</div>
