<div class="TMO-STYLEGUIDE-COLOR">
  <div class="container">
    <div class="col-12 no-padding">
      <div class="Display4 text-center padding-vertical-xl">Colors</div>
    </div>
    <div class="H6-heading"> Primary Colors</div>
    <div class="row padding-top-small ">
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="brand-magenta">Brand-Magenta</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr1Code = !showClr1Code" class="legal-link"> {{showClr1Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr1Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="brand-magenta">Brand-Magenta&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="black">Black</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr2Code = !showClr2Code" class="legal-link"> {{showClr2Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr2Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="black">Black&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="white" style="background-color:black">White</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr3Code = !showClr3Code" class="legal-link"> {{showClr3Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr3Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="white">White&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="H6-heading padding-top-xl"> Secondary Interaction Colors</div>
    <div class="row padding-top-small">
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="magenta-light">Magenta-Light</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr4Code = !showClr4Code" class="legal-link"> {{showClr4Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr4Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="magenta-light">Magenta-Light&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="magenta-very-light" style="background-color:black;padding-bottom:5px;">Magenta-Very-Light</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr19Code = !showClr19Code" class="legal-link"> {{showClr19Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr19Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="magenta-very-light">Magenta-Very-Light&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="magenta-dark-pressed" style="background-color:black;padding-bottom:5px;">Magenta-Dark-Pressed</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr20Code = !showClr20Code" class="legal-link"> {{showClr20Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr20Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="magenta-dark-pressed">Magenta-Dark-Pressed&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="magenta-dark">Magenta-Dark</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr5Code = !showClr5Code" class="legal-link"> {{showClr5Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr5Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="magenta-dark">Magenta-Dark&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="magenta-very-dark">Magenta-Very-Dark</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr6Code = !showClr6Code" class="legal-link"> {{showClr6Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr6Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="magenta-very-dark">Magenta-Very-Dark&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="magenta-tertiary-hover">Magenta-Tertiary-Hover</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr21Code = !showClr21Code" class="legal-link"> {{showClr21Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr21Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="magenta-tertiary-hover">Magenta-Tertiary-Hover&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="magenta-tertiary-pressed">Magenta-Tertiary-Pressed</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr22Code = !showClr22Code" class="legal-link"> {{showClr22Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr22Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="magenta-tertiary-pressed">Magenta-Tertiary-Pressed&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row padding-top-large">
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="green">Green</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr7Code = !showClr7Code" class="legal-link"> {{showClr7Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr7Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="green">Green&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="green-light">Green Light</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr18Code = !showClr18Code" class="legal-link"> {{showClr18Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr18Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="green-light">Green Light&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="red">Red</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr8Code = !showClr8Code" class="legal-link"> {{showClr8Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr8Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="red">Red&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="yellow">Yellow</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr23Code = !showClr23Code" class="legal-link"> {{showClr23Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr23Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="yellow">Yellow&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="H6-heading padding-top-xl"> Grays</div>
    <div class="row padding-top-small">
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="gray05">Gray05</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr9Code = !showClr9Code" class="legal-link"> {{showClr9Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr9Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="gray05">Gray05&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="gray10">Gray10</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr10Code = !showClr10Code" class="legal-link"> {{showClr10Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr10Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="gray10">Gray10&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="gray20">Gray20</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr11Code = !showClr11Code" class="legal-link"> {{showClr11Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr11Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="gray20">Gray20&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row padding-top-large">
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="gray30">Gray30</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr12Code = !showClr12Code" class="legal-link"> {{showClr12Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr12Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="gray30">Gray30&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="gray40">Gray40</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr13Code = !showClr13Code" class="legal-link"> {{showClr13Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr13Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="gray40">Gray40&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="gray60">Gray60</p>
        </div>
        <div class="col-12 no-padding">
          <a (click)="showClr14Code = !showClr14Code" class="legal-link"> {{showClr14Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr14Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="gray60">Gray60&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row padding-top-large">
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="gray70">Gray70</p>
        </div>
        <div class="col-12 no-padding padding-bottom-large">
          <a (click)="showClr15Code = !showClr15Code" class="legal-link"> {{showClr15Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr15Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="gray70">Gray70&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="gray80">Gray80</p>
        </div>
        <div class="col-12 no-padding padding-bottom-large">
          <a (click)="showClr16Code = !showClr16Code" class="legal-link"> {{showClr16Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr16Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="gray80">Gray80&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="Display4 padding-top-small">
          <p class="gray85">Gray85</p>
        </div>
        <div class="col-12 no-padding padding-bottom-large">
          <a (click)="showClr17Code = !showClr17Code" class="legal-link"> {{showClr17Code ? '- Hide Code' : '+ Show Code'}}</a>
          <div *ngIf="showClr17Code">
            <div class="padding-top-small">
              <code class=" language-markup border brand-magenta d-block">
                &lt;p class="gray85">Gray85&lt;/p>
              </code>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
