<div class="TMO-EDIT-AMOUNT-ALT">
  <div class="container">
    <div class="main-content">
      <app-header></app-header>
      <form #Enteramount="ngForm">
        <div class="row padding-top-large-xs padding-top-xl">
          <div class="col-12 text-center padding-bottom-large-xs padding-bottom-large-sm padding-bottom-xl">
            <span class="Display3">Edit amount</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div *ngFor="let val of paybillvalues;let i=index;">
          <div *ngIf="val.descTitle != 'Other amount'">
            <radiobuttonpaymentblade [childClass]="displayClass" [cardStatus]="val.value" [card]="val.descTitle" [icon]="''" [radioButtonId]="i"
              [radioButtonName]="'radioButtonName'" [selected]=0 [altText]=true [descData]="val.descData" [descDetails]="val.descDetails"
              (callBackValue)="change($event)"></radiobuttonpaymentblade>
          </div>
        </div>
        <div class="row padding-top-small">
          <div class="col-6 col-md-4 offset-md-1 p-r-0-xs">
            <div class="body radio-container mt-1">
              <input class="check pr-1" type="radio" id=2 name="radioButtonName">
              <label for=2></label>
              <div class="check"></div>
            </div>
            <div class="d-inline-block ml-3 pt-1">
              <span class="Display6 black d-inline-block align-top">Other amount</span>
            </div>
          </div>
          <div class="align-items-center col-md-3 offset-md-3 col-5 offset-1 p-l-0-xs">
            <div class="floatingLabel textfield">
              <input tabindex="1" appRangevalidator="1-25000" type="text" id="enterAmount" minlength="1" maxlength="50" pattern="^\$?([1-9])+([0-9]*)+(.?)+([0-9]{0,2})?"
                class="input body black text-right" name="enterAmount" [(ngModel)]="enterAmount.enterAmount" appCurrencyformat
                required #enterAmount="ngModel" [ngClass]="{'border-red': (!enterAmount.errors?.appRangevalidator)  && !enterAmount.pristine && !enterAmount.errors?.required}">
              <label for="enterAmount" class="labelpointer" [ngClass]="[(!enterAmount.errors?.appRangevalidator  && !enterAmount.pristine  && !enterAmount.errors?.required) ? 'legal color-red redClass' : '',
                    (enterAmount.errors?.appRangevalidator )   ? 'legal' : '',
                    ( enterAmount.errors?.required ) ? 'body' : '']">Enter amount</label>
              <div class="input-animation"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-5 offset-md-1 col-lg-4 offset-lg-1 ">
            <div class="margin-left-errormsg body no-padding padding-bottom-small 
                    color-red padding-left-xl m-t-12">$X required to restore.</div>
          </div>
          <div class="col-5 offset-1  col-md-3  offset-md-2 col-lg-3  offset-lg-3 p-l-0-xs">
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="enterAmount.errors?.minlength && !enterAmount.pristine ">
              Enter an amount over $1.00
            </p>
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="enterAmount.errors?.pattern && !enterAmount.errors?.minlength && !enterAmount.errors?.appRangevalidator && !enterAmount.pristine">

              Enter an amount over $1.00
            </p>
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="enterAmount.value && !enterAmount.errors?.appRangevalidator && !enterAmount.errors?.pattern && !enterAmount.pristine">
              Please Enter the Amount between 1 to 25000
            </p>
            <span class="pull-right padding-bottom-medium padding-bottom-small-xs" *ngIf="!enterAmount.errors?.appRangevalidator && !enterAmount.pristine && !enterAmount.errors?.required">
              <i class="errormessageimg exclamation-error pull-right"></i>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 body padding-top-small  d-flex">
          <div class="exclamation-circle d-table"></div>
          <div class="body black p-l-10">We can't accept bank payments for this account.</div>
        </div>
      </div>
    </div>
    <div class="row no-padding  padding-vertical-xl padding-top-xxl-xs padding-top-xxxl-sm">
      <div class="col-12 col-md-8  offset-md-2 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Continue</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
    <div class="dialog-container" id="effectiveDatePage">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
        <div class="row no-margin text-center padding-bottom-medium padding-horizontal-medium">
          <span mat-dialog-title class="col-12 no-padding black Display5 ">Breakdowns</span>
        </div>
        <div class="row no-margin  padding-horizontal-medium">
          <div class="col-12 no-padding body" *ngFor="let value of BreakDownValues">
            <span class="pull-left">{{value.desc}}</span>
            <span class="pull-right">{{value.amount}}</span>
          </div>
          <div class="col-12 no-padding body  padding-vertical-small">
            <div class="total-divider"></div>
          </div>
          <div class="col-12 no-padding body  padding-bottom-medium">
            <span class="pull-left body-bold black">Total</span>
            <span class="pull-right body-bold black">$123.26</span>
          </div>
        </div>
        <div class="row no-margin text-center padding-horizontal-xsmall px-md-0">
          <div class="col-12 no-padding">
            <button class="PrimaryCTA-accent pull-right ml-2" appButtonripple (click)="close()">Got it, thanks</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="visible" class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
  </div>
</div>