@import "src/assets/scss/global-variables.scss";
.TMO-EDIT-AMOUNT-ALT{

    .radio-container{
        width: 20px;
        height: 20px;
    }
    .overlay {
        background-color: rgba(50, 50, 50, 0.5);
    }
    .dialog {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        max-width: 450px;
    }
    .p-l-10
    {
        padding-left: 10px;
    }
    form {
        label {
            right: 0px;
            left: auto;   
    }
    .padding-left-xl {
       padding-left: $XL;
    }
    .m-t-12 {
        margin-top: -12px;
    }
    @media #{$smartphones-xs}, #{$smartphones-sm}{
        .padding-left-xl {
            padding-left: 35px;
         }
     }
    .error-margin{
    @media #{$smartphones-xs}{
       margin-top: -15px; 
       margin-bottom: 10px;

    }
    @media #{$smartphones-xxs}{
        margin-top: -11px; 
        margin-bottom: 10px;
    }
    @media #{$smartphones-sm}{
        margin-top: -15px; 
        margin-bottom: 15px;
     }
    @media #{$alldeviceexceptsmartphone}{     
    margin-bottom: 15px;
   }
    
  }
 }
}