<div class="TMO-BILLING-AND-PAYMENTS-ON">
  <div class="container">
    <div class="row">
      <div class="col-12 no-padding">
        <p class="Display3 text-center padding-top-large-xs padding-top-large-sm padding-bottom-medium-xs padding-bottom-medium-sm padding-top-xl padding-bottom-large">Billing and payments</p>
        <p class="col-10 offset-1 body  text-center padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">Please note that changes apply to all lines on your account.</p>
        <div *ngFor="let val of  bladeInfo; let i = index" class="col-10 offset-1 col-md-8 offset-md-2">
          <app-profile-blade *ngIf="i < (bladeInfo.length-1); else bottomDivider" [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]='val.desc2' [url]="val.url" [icon]="val.icon"></app-profile-blade>
          <ng-template #bottomDivider>
            <app-profile-blade [bottomDividerClass]="'inset-divider-1px pb-3'" [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]='val.desc2' [url]="val.url"
              [bottomDivider]=true [icon]="val.icon"></app-profile-blade>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>