@import "src/assets/scss/global-variables.scss";
.TMO-EPP-ADD_CARD {
    .p-l-12{
        padding-left:12px !important;
    }
    @media #{$alldeviceexceptsmartphone}{
        .lineheight
        {
            line-height: 1.9rem;
        }
        .padding-left-large {
            padding-left: 32px;
        }
        .padding-right-large {
            padding-right: 32px;
        }
        .margin-right-small {
            margin-right: 16px;
        }
       }
       .cursor:hover {
        color:$brand-magenta;
    }
    
       .dialog{
        max-width:251px;
        min-width:251px;
        @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
            max-width: 450px;
        }
       }
       .icon-position{
        width: 13px;
    margin-left: 10px;
    }
       .lineheight{line-height: 2.2rem;} 
    .vertical-align-sub {
        vertical-align: sub;
    }
    input[type="text"] {
        &:focus~label,
        &:valid~label {
            top: 35%;
            margin-top: -16px;
            color: #e20074;
           
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        &:focus+label {
            top: 35%;
            margin-top: -16px;
            color: #e20074;
            -webkit-text-size-adjust: auto;
           
        }  
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        &:focus+label {
            top: 35%;
            margin-top: -16px;
            color: #e20074;
            -webkit-text-size-adjust: auto;
            
        }  
    }
    .textfield input[type="text"] {
        &:focus+label {
            top: 35%;
            margin-top: -16px;
            color: #e20074;
            -webkit-text-size-adjust: auto;
           
        }   
    }
       
}