<div class="TMO-EPP-ADD_CARD">
  <div class="container">
      <div class="main-content">
    <form #addcardform="ngForm">
      <div class="row padding-top-large">
        <div class="col-12 col-md-10 offset-md-1 padding-bottom-medium">
          <p class="Display3 text-center">Card information</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 no-padding-xs p-l-0-sm p-r-0-sm">
          <div class="full-bleed-divider"></div>
        </div>
      </div>
      <div class="row padding-top-small">
        <div class="col-12 col-md-10 offset-md-1 padding-horizontal-large-md padding-horizontal-large-lg padding-horizontal-large-xl">
          <div class="floatingLabel textfield">
            <input tabindex="1" type="text" minlength="8" maxlength="50" pattern="[a-zA-Z\s\-\.]*" name="cardName" class="input body black"
              [(ngModel)]="creditcard.cardName" required #cardName="ngModel" [ngClass]="{'border-red':cardName.invalid && !cardName.pristine && !cardName.errors?.required}">
            <label for="cardName" class="labelpointer" [ngClass]="[(cardName.invalid && !cardName.pristine && !cardName.errors?.required) ? 'legal color-red redClass' : '',
           (!cardName.invalid )   ? 'legal' : '',
          ( cardName.errors?.required ) ? 'body' : '']">Name on card</label>
          <div class="input-animation"></div>
          </div>
        </div>
      </div>
      <div class="row padding-bottom-small">
        <div class="col-12 col-md-10  offset-md-1 padding-horizontal-large-md padding-horizontal-large-lg padding-horizontal-large-xl">
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="cardName.errors?.minlength">
            Enter a valid name
          </p>
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="cardName.errors?.pattern && !cardName.errors?.minlength">
            Enter a valid name
          </p>
          <span class="pull-right " *ngIf="cardName.invalid && !cardName.pristine && !cardName.errors?.required">
            <i class="errormessageimg exclamation-error pull-right margin-right-small"></i>
          </span>
        </div>
      </div>
      <div class="row padding-top-large-md padding-top-large-lg padding-top-large-xl">
        <div class="col-12 col-md-10 offset-md-1 padding-horizontal-large-md padding-horizontal-large-lg padding-horizontal-large-xl">
          <div class="floatingLabel no-padding textfield">
            <input class="input  body black" #creditCardNumber="ngModel" [(ngModel)]="creditcard.creditCardNumber"
              maxlength="19" minlength="19" name="creditCardNumber" pattern="\d{4}-*\d{4}-*\d{4}-*\d{4}"
              tabindex="1" required="" type="text" [ngClass]="{'border-red':creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required && creditcard.creditCardNumber}"
              placeholder="XXXX-XXXX-XXXX-XXXX" appCustomformat format="creditCardNumberFormat" appClearInput>
            <label for="creditCardNumber" class="labelpointer" 
            [ngClass]="[(creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required ) ? 'legal color-red redClass' : '',
                  (!creditCardNumber.invalid )   ? 'legal' : '',
                    ( creditCardNumber.errors?.required ) ? 'body' : '']">Credit card number</label>
                    <div class="input-animation"></div>
                   
          </div>
        
        </div>
      </div>
      <div class="row padding-bottom-small">
        <div class="col-12 col-md-10  offset-md-1 padding-horizontal-large-md padding-horizontal-large-lg padding-horizontal-large-xl">
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="creditCardNumber.errors?.minlength">
            Enter a valid card number
          </p>
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="creditCardNumber.errors?.pattern && !creditCardNumber.errors?.minlength && creditcard.creditCardNumber">
            Enter a valid card number
          </p>
          <span class="pull-right" *ngIf="creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required">
            <i class="errormessageimg  exclamation-error pull-right margin-right-small"></i>
          </span>
        </div>
      </div>
      <div class="row padding-top-large-md padding-top-large-lg padding-top-large-xl">
        <div class="col-12 d-flex no-padding">
          <div class="col-4 col-md-4 offset-md-1 padding-left-large">
            <div class="floatingLabel no-padding textfield">
              <input tabindex="1" type="text" minlength="5" maxlength="5" format="expirydate" placeholder="MM/YY" appCustomformat pattern="^((0[1-9])|(1[0-2]))\/(\d{2})$"
                name="expirationDate" class="input body black" [(ngModel)]="creditcard.expirationDate" required #expirationDate="ngModel"
                [ngClass]="{'border-red':expirationDate.invalid && !expirationDate.pristine && !expirationDate.errors?.required && creditcard.expirationDate}">
              <label for="expirationDate" class="labelpointer" [ngClass]="[(expirationDate.invalid && !expirationDate.pristine && !expirationDate.errors?.required && (creditcard.expirationDate)) ? 'legal color-red redClass' : '',
          (!expirationDate.invalid )   ? 'legal' : '',
         (expirationDate.errors?.required ) ? 'body' : '']">Expiration date</label>
         <div class="input-animation"></div>
            </div>
          </div>
          <div class="col-4 col-md-3  ">
            <div class="floatingLabel no-padding textfield">
              <input tabindex="1" type="text" format="" placeholder="XXX" appCustomformat minlength="3" maxlength="3" pattern="[0-9]*" name="cvvNumber"
                class="input body black" [(ngModel)]="creditcard.cvvNumber" required #cvvNumber="ngModel" [ngClass]="{'border-red':cvvNumber.invalid && !cvvNumber.pristine && !cvvNumber.errors?.required && creditcard.cvvNumber}">
              <label for="cvvNumber" class="labelpointer" [ngClass]="[(cvvNumber.invalid && !cvvNumber.pristine && !cvvNumber.errors?.required && creditcard.cvvNumber) ? 'legal color-red redClass' : '',
                (!cvvNumber.invalid )   ? 'legal' : '',
                (cvvNumber.errors?.required ) ? 'body' : '']">CVV

              </label>

                <div class="input-animation"></div>
            </div>
          </div>
          <div class="col-4 col-md-3 padding-right-large">
            <div class="floatingLabel no-padding textfield">
              <input tabindex="1" type="text" format="" placeholder="XXXXX" appCustomformat minlength="5" maxlength="5" pattern="[0-9]*" name="zipCode"
                class="input body black" [(ngModel)]="creditcard.zipCode" required #zipCode="ngModel" [ngClass]="{'border-red':zipCode.invalid && !zipCode.pristine && !zipCode.errors?.required && creditcard.zipCode}">
              <label for="zipCode" class="labelpointer" [ngClass]="[(zipCode.invalid && !zipCode.pristine && !zipCode.errors?.required && creditcard.zipCode) ? 'legal color-red redClass' : '',
          (!zipCode.invalid )   ? 'legal' : '',
         (zipCode.errors?.required ) ? 'body' : '']">Zip</label>
         <div class="input-animation"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row padding-bottom-small">
        <div class="col-12 d-flex no-padding">
          <div class="col-4 col-md-4 offset-md-1 padding-left-large">
            <p class="legal color-red text-left errormessage padding-top-xsmall validErrorMsg mb-0" *ngIf="expirationDate.errors?.minlength && creditcard.expirationDate">
              Enter a valid expiration date
            </p>
            <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="expirationDate.errors?.pattern && !expirationDate.errors?.minlength">
              Enter a valid expiration date
            </p>
            <span class="pull-right" *ngIf="expirationDate.invalid && !expirationDate.pristine && !expirationDate.errors?.required && creditcard.expirationDate">
              <i class="errormessageimg  exclamation-error pull-right"></i>
            </span>
          </div>
          <div class="col-4 col-md-3 ">
            <p class="legal color-red text-left errormessage padding-top-xsmall padding-top-xsmall validErrorMsg mb-0" *ngIf="cvvNumber.errors?.minlength && creditcard.cvvNumber">
              Enter a valid CVV
            </p>
            <p class="legal color-red text-left errormessage padding-top-xsmall" *ngIf="cvvNumber.errors?.pattern && !cvvNumber.errors?.minlength">
              Enter a valid CVV
            </p>
            <span class="pull-right" *ngIf="cvvNumber.invalid && !cvvNumber.pristine && !cvvNumber.errors?.required &&  creditcard.cvvNumber">
              <i class="errormessageimg  exclamation-error pull-right"></i>
            </span>
            <a class="legal-link text-decoration-underline padding-top-xsmall-md padding-top-xsmall-lg padding-top-xsmall-xl cursor" (click)="showModal()">What is this?</a>
          </div>
          <div class="col-4 col-md-3 padding-right-large">
            <p class="legal color-red text-left errormessage padding-top-xsmall validErrorMsg mb-0" *ngIf="zipCode.errors?.minlength && creditcard.zipCode">
              Enter a valid zip code
            </p>
            <p class="legal color-red text-left errormessage mb-0 padding-top-xsmall" *ngIf="zipCode.errors?.pattern && !zipCode.errors?.minlength">
              Enter a valid zip code
            </p>
            <span class="pull-right" *ngIf="zipCode.invalid && !zipCode.pristine && !zipCode.errors?.required && creditcard.zipCode">
              <i class="errormessageimg  exclamation-error pull-right margin-right-small"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row padding-top-large-md padding-top-large-lg padding-top-large-xl">
        <div class="col-12 col-md-10 offset-md-1 padding-horizontal-large-md padding-horizontal-large-lg padding-horizontal-large-xl">
          <div class="floatingLabel no-padding textfield">
            <input tabindex="1" type="text" minlength="8" maxlength="50" pattern="[a-zA-Z\s\-\.]*" name="nickName" class="input body black"
              [(ngModel)]="creditcard.nickName" required #nickName="ngModel" [ngClass]="{'border-red':nickName.invalid && !nickName.pristine && !nickName.errors?.required}">
            <label for="nickName" class="labelpointer" [ngClass]="[(nickName.invalid && !nickName.pristine && !nickName.errors?.required) ? 'legal color-red redClass' : '',
           (!nickName.invalid )   ? 'legal' : '',
          ( nickName.errors?.required ) ? 'body' : '']">Nickname</label>
          <div class="input-animation"></div>
          </div>
        </div>
      </div>
      <div class="row padding-bottom-small">
        <div class="col-12 col-md-10  offset-md-1 padding-horizontal-large-md padding-horizontal-large-lg padding-horizontal-large-xl">
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="nickName.errors?.minlength">
            Enter a valid name
          </p>
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="nickName.errors?.pattern && !nickName.errors?.minlength">
            Enter a valid name
          </p>
          <span class="pull-right " *ngIf="nickName.invalid && !nickName.pristine && !nickName.errors?.required">
            <i class="errormessageimg exclamation-error pull-right margin-right-small"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10  offset-md-1 padding-top-large-md padding-top-large-lg padding-top-large-xl
        padding-horizontal-large-md padding-horizontal-large-lg padding-horizontal-large-xl">
          <div class="d-flex align-items-center">
            <div class="col-12 checkbox inline">
              <label>
                <input class="legal" type="checkbox" name="savePayment" [(ngModel)]="savePayment" [checked]='savePayment'>
                <div class="legal indicator">
                  <span class="legal check1"></span>
                </div>
              </label>
              <span class="lineheight p-l-12 padding-horizontal-small-md pr-0 align-horizontal padding-horizontal-medium-lg padding-horizontal-medium-xl body mb-1">Save payment method</span>
              <span tooltip-text="Save account (optional). Allow T-Mobile to store your payment method for future use by you and verified users to make a payment."
                tooltip-position="top" class="vertical-align-sub">
                <i class="tooltip-icon ml-2"></i>
              </span>
          </div>
          </div>
        </div>
        <div class="col-12 col-md-10  offset-md-1 padding-top-xsmall padding-top-small-xs padding-top-small-sm
        padding-horizontal-large-md padding-horizontal-large-lg padding-horizontal-large-xl">
          <div class="d-flex align-items-center">
            <div class="col-12 checkbox inline">
              <label>
                <input class="legal" type="checkbox" name="setDefault" [(ngModel)]="setDefault" [checked]='setDefault'>
                <div class="legal indicator">
                  <span class="legal check1"></span>
                </div>
              </label>
              <span class="lineheight p-l-12 padding-horizontal-small-md pr-0 align-horizontal padding-horizontal-medium-lg padding-horizontal-medium-xl body mb-1">Set as my default payment method</span>
              <span tooltip-text="Save account (optional). Allow T-Mobile to store your payment method for future use by you and verified users to make a payment."
                tooltip-position="top" class="vertical-align-sub">
                <i class="tooltip-icon ml-2"></i>
              </span>
          </div>
          </div>
        </div>
      </div>
    </form><div class="dialog-container">
        <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
          <div class=" mx-md-0">
            <div class="">
              <span class="">
                <img class="visaImg">
              </span>
              <span class="">
                <img class="masterImg">
              </span>
              <span class="">
                <img class="discoverImg">
              </span>
            </div>
          </div>
          <div class=" padding-top-small  mx-md-0">
            <div class="">
              <span class="">
                <img class="cvv_visaImg">
              </span>
            </div>
          </div>
        </div>
        <div class="overlay" (click)="closeModal()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
      </div>
    </div>
    <div class="row no-padding  padding-top-medium-sm padding-top-medium-xs padding-top-large padding-bottom-xxxl padding-bottom-small-xs padding-bottom-small-sm">
      <div class="col-12 col-md-8  offset-md-2 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA w-100 full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple [disabled]="!addcardform.valid">Save</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA w-100 blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>   
