
.TMO-TEAM-DESCRIPTION-PAGE {
  $smartphones-xxs: "only screen  and (max-width: 374px)";
  $smartphones-xs: "only screen  and (max-width: 575px)";
  $smartphones-sm: "only screen and (min-width: 576px) and (max-width: 767px)";
  $tablets-md: "only screen and (min-width: 768px) and (max-width: 991px)";
  $desktops-lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
  $desktops-xl: "only screen and (min-width: 1200px)";
  $alldeviceexceptsmartphone: "only screen and (min-width: 768px)";

  $gray10: #f2f2f2;
  $gray30: #cccccc;
  $gray40: #9b9b9b;
  $gray60: #6a6a6a;
  $white: #ffffff;
  $black: #000000;
  $normal: normal;
  $brand-magenta: #e20074;
  $magenta-mid: #e20074; //for buttons
  $magenta-dark: #e20074;

  $tele-grotesk-ultr: Tele-Ult;
  $tele-grotesk-fet: Tele-Fet;
  $tele-grotesk-norm: Tele-Nor;
  $tele-grotesk-hal: Tele-Hal;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .gm-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
      max-width: 540px;
    }

    @media #{$tablets-md} {
      max-width: 720px;
    }

    @media #{$desktops-lg}, #{$desktops-xl} {
      max-width: 960px;
    }
  }
  //mixins of button
  @mixin button-styles(
    $height: 48px,
    $paddingright: 16px,
    $paddingleft: 16px,
    $marginleft: 12px,
    $marginright: 12px,
    $background: $brand-magenta,
    $color: $white,
    $borderradius: 0px,
    $border: solid 0px $white,
    $font-family: $Arial,
    $font-size: 5px,
    $letter-spacing: 0.5px,
    $font-weight: $normal,
    $outline: none
  ) {
    height: $height;
    padding-right: $paddingright;
    padding-left: $paddingleft;
    margin-left: $marginleft;
    margin-right: $marginright;
    background: $background;
    color: $color;
    border-radius: $borderradius;
    border: $border;
    font-family: $font-family;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    outline-style: $outline;
  }
  @mixin button_hoverAndActive(
    $background-color: $brand-magenta,
    $box-shadow: none,
    $outline: none,
    $border-color: $brand-magenta,
    $color: $brand-magenta,
    $text-decoration: none
  ) {
    background-color: $background-color;
    box-shadow: $box-shadow;
  //  outline: $outline;
    border-color: $border-color;
    color: $color;
    text-decoration: $text-decoration;
  }
  @mixin button_focus(
    $background-color: $brand-magenta,
    $box-shadow: none,
    $outline: none,
    $border-color: $brand-magenta,
    $color: $brand-magenta,
    $text-decoration: none
  ) {
    background-color: $background-color;
    box-shadow: $box-shadow;
 //   outline: $outline;
    border-color: $border-color;
    color: $color;
    text-decoration: $text-decoration;
  }
  @mixin button_disabled(
    $background-color: $brand-magenta,
    $box-shadow: none,
    $border-color: $brand-magenta,
    $color: $brand-magenta,
    $cursor: not-allowed,
    $outline: none
  ) {
    background-color: $background-color;
    box-shadow: $box-shadow;
    border-color: $border-color;
    color: $color;
    cursor: $cursor;
  //  outline: $outline;
    z-index: -1;
  }
  //End of button mixins
  .gb-secondary-cta.gm-blackCTA{
    color:$black;
    border-color:$black;
    &:hover,
    &:active,
    &:focus {
        outline: 1px solid $black;
        color:$black;
    border-color:$black;
    }
  }
  .blackCTA.disabled {
    border-color: $gray40;
  }
  .margin-wrap {
    margin: -2px;
  }
  .ripple {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .ripple-animate {
    -webkit-animation: ripple 10000ms ease-out;
    animation: ripple 10000ms ease-out;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 100%;
    height: 10px;
    pointer-events: none;
    position: absolute;
    transform: scale(0);
    width: 10px;
  }
  @-webkit-keyframes ripple {
    to {
      -webkit-transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes ripple {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }

  .gb-primary-cta {
    @include button-styles(
      48px,
      16px,
      16px,
      0px,
      0px,
      $brand-magenta,
      $white,
      0px,
      solid 0px $white,
      $tele-grotesk-fet,
      18px,
      0.5px,
      $normal,
      none
    );
    @extend .ripple;
    &:hover {
      @include button_hoverAndActive(
        $magenta-mid,
        (0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)),
        none,
        $magenta-mid,
        $white,
        none
      );
    }
    &:focus {
      @include button_focus(
        $magenta-mid,
        (0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)),
        none,
        $magenta-mid,
        $white,
        none
      );
    }
    &:active {
      @include button_hoverAndActive(
        $magenta-dark,
        (0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)),
        none,
        $magenta-dark,
        $white,
        none
      );
    }
    &:active::after {
      @include button_focus(
        $magenta-mid,
        (0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)),
        none,
        $magenta-mid,
        $white,
        none
      );
    }
    &:disabled {
      @include button_disabled(#f2f2f2 !important, none !important, #f2f2f2, #6a6a6a !important, not-allowed, none);
    }
  }
  .gb-secondary-cta {
    @include button-styles(
      48px,
      16px,
      16px,
      0px,
      0px,
      $white,
      $brand-magenta,
      0px,
      none,
      $tele-grotesk-fet,
      18px,
      0.5px,
      $normal
    );
    background-color: transparent;
    color: $brand-magenta;
    border: 1px solid $brand-magenta;
    @extend .ripple;
    &:hover {
      @include button_hoverAndActive($white, none, 1px solid $magenta-mid, $magenta-mid, $magenta-mid, none);
    }
    &:focus {
      @include button_focus($white, none, 1px solid $magenta-mid, $magenta-mid, $magenta-mid, none);
    }
    &:active {
      @include button_hoverAndActive($white, none, 1px solid $magenta-dark, $magenta-dark, $magenta-dark, none);
    }
    &:disabled {
      @include button_disabled($white, none, $gray60, $gray30 !important, not-allowed, none);
    }
  }
  .gb-teritiary-cta {
    @include button-styles(
      48px,
      16px,
      16px,
      0px,
      0px,
      $white,
      $white,
      0px,
      none,
      $tele-grotesk-fet,
      18px,
      0.5px,
      none !important
    );
    background-color: transparent;
    color: $brand-magenta;
    @extend .ripple;
    &:hover {
      @include button_hoverAndActive($white, none, none, none, $magenta-mid, none);
    }
    &:focus {
      @include button_focus($white, none, 5px auto -webkit-focus-ring-color, none, $magenta-mid, none);
    }
    &:active {
      @include button_hoverAndActive($white, none, none, none, $magenta-dark, none);
    }
    &:disabled {
      @include button_disabled($white, none, none, $gray30 !important, not-allowed, none);
    }
  }
  .gb-hyperlink-cta {
    @include button-styles(48px, 16px, 16px, 0px, 0px, $white, $white, 0px, none, $tele-grotesk-fet, 18px, 0.5px, none);
    background-color: transparent;
    color: $black;
    text-decoration: underline;
    &:hover {
      @include button_hoverAndActive($white, none, none, none, $brand-magenta, underline);
    }
    &:focus {
      @include button_focus($white, none, none, none, $brand-magenta, underline);
    }
    &:active {
      @include button_hoverAndActive($white, none, none, none, $brand-magenta, underline);
    }
    &:disabled {
      @include button_disabled($white, none, none, #6a6a6a !important, not-allowed, underline);
    }
  }
  .gb-primary-cta-accent {
    @include button-styles(
      32px,
      16px,
      16px,
      0px,
      0px,
      $brand-magenta,
      $white,
      0px,
      solid 0px $white,
      $tele-grotesk-fet,
      18px,
      0.5px,
      $normal,
      none
    );
    @extend .ripple;
    &:hover {
      @include button_hoverAndActive(
        $magenta-mid,
        (0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)),
        none,
        $magenta-mid,
        $white,
        none
      );
    }
    &:focus {
      @include button_focus(
        $magenta-mid,
        (0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)),
        none,
        $magenta-mid,
        $white,
        none
      );
    }
    &:active {
      @include button_hoverAndActive(
        $magenta-dark,
        (0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)),
        none,
        $magenta-dark,
        $white,
        none
      );
    }
    &:disabled {
      @include button_disabled(#f2f2f2 !important, none !important, #f2f2f2, #6a6a6a !important, not-allowed, none);
    }
  }
  .gb-secondary-cta-accent {
    @include button-styles(
      32px,
      16px,
      16px,
      0px,
      0px,
      $white,
      $brand-magenta,
      0px,
      none,
      $tele-grotesk-fet,
      18px,
      0.5px,
      $normal
    );
    background-color: transparent;
    color: $brand-magenta;
    border: 1px solid $brand-magenta;
    @extend .ripple;
    &:hover {
      @include button_hoverAndActive($white, none, 1px solid $magenta-mid, $magenta-mid, $magenta-mid, none);
    }
    &:focus {
      @include button_focus($white, none, 1px solid $magenta-mid, $magenta-mid, $magenta-mid, none);
    }
    &:active {
      @include button_hoverAndActive($white, none, 1px solid $magenta-dark, $magenta-dark, $magenta-dark, none);
    }
    &:disabled {
      @include button_disabled($white, none, $gray60, $gray30 !important, not-allowed, none);
    }
  }
  .gb-secondary-cta.gb-black-cta,
  .gb-secondary-cta-accent.gb-black-cta {
    color: $black;
    border-color: $black;
    &:active
    {
      border: 1px solid $black;
    }
    &:hover{
      outline:none;
    }
    &:focus {
      outline: -webkit-focus-ring-color auto 5px;
    
    }
  }
  .gb-w-100 {
    width: 100% !important;
  }
  .gb-pull-right {
    float: right;
  }
  .gb-pull-left {
    float: leftt;
  }
  .gb-row {
    display: flex;
    flex-wrap: wrap;
  }
  .gb-no-padding {
    padding: 0;
  }
  .gb-ml-2 {
    margin-left: 0.5rem;
  }
  .gb-mr-2 {
    margin-right: 0.5rem;
  }
  @media #{$smartphones-xs},
  #{$smartphones-sm},
  #{$smartphones-xxs} {
    .gb-col-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .gb-padding-top-medium-sm {
      padding-top: 24px;
    }
    .gb-full-btn-width {
      width: 100%;
      max-width: 100%;
    }
    .p-t-40-xs
    {
      padding-top:40px;
    }
  }
  @media #{$alldeviceexceptsmartphone} {
    .gb-d-md-flex {
      display: flex !important;
    }
    .gb-col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .gb-col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .gh-pr-md-2 {
      padding-right: 0.5rem;
    }
    .p-t-100{padding-top:100px;}
  }
  .btn-content {
    padding-left: 5px;
    padding-right: 6px;
    font-size: 14px;
    height: 48px;
    line-height: 20px;
    @media #{$alldeviceexceptsmartphone} {
        height: 64px;
        line-height: 14px;
    }
  }

  @media #{$smartphones-xs},
    #{$smartphones-sm}, #{$smartphones-xxs}
    {
      .timespan
      {
        margin-right:4%;
      }
 
    }
  .gm-legal {
    @media #{$smartphones-xs},
    #{$smartphones-sm}, #{$smartphones-xxs} {
      font-size: 10px;
      line-height: 12px;
      font-family: Arial;
      letter-spacing: 0.5px;
      font-weight: normal;
      color: #6a6a6a;
    }
    @media #{$alldeviceexceptsmartphone} {
        font-size: 10px;
        line-height: 12px;
        font-family: Arial;
        letter-spacing: 0.5px;
        font-weight: normal;
        color: #6a6a6a;
    }
  }
  /*  bootstrap classes starts */
  .gm-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .gm-no-margin {
    margin: 0;
  }

  .gm-col-12,
  .gm-col-6,
  .gm-col-md-8,
  .gm-col-md-11 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .gm-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .gm-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .gm-col-div-6
  {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 calc(48% - 0px);
    max-width: calc(48% - 0px);
  }

  .gm-offset-3 {
    margin-left: 25%;
  }

  .gm-no-padding {
    padding: 0;
  }

  .gm-padding-horizontal-xsmall {
    padding-left: 8px;
    padding-right: 8px;
  }

  .gm-padding-bottom-xsmall {
    padding-bottom: 8px;
  }

  .gm-d-none {
    display: none;
  }

  .gm-d-inline-block {
    display: inline-block;
  }

  .gm-text-center {
    text-align: center;
  }

  .gm-float-right {
    float: right;
  }

  .gm-padding-top-xsmall {
    padding-top: 8px;
  }

  .gm-padding-top-small {
    padding-top: 16px;
  }
 
  .gm-padding-top-medium {
    padding-top: 24px;
  }

  .gm-padding-top-large {
    padding-top: 32px;
  }

  .gm-padding-top-xl {
    padding-top: 40px;
  }
  .gm-padding-bottom-xl {
    padding-bottom: 40px;
  }
  .gm-pr-1 {
    padding-right: 0.25rem;
  }
  .gm-pl-1 {
    padding-left: 0.25rem;
  }

  .gm-px-2 {
    padding-left: 0.5rem;
  }

  .gm-mx-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .gm-pl-4 {
    padding-left: 1.5rem;
  }
  .gm-pr-4 {
    padding-right: 1.5rem;
  }
  .gm-px-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  @media #{$alldeviceexceptsmartphone} {
    .gm-col-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
.gm-col-div-md-3{
  flex: 0 0 calc(95%/4 - 0px);
  width: calc(95%/4 - 0px);
}
    .gm-col-md-4 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
    .gm-col-div-md-4
    {
      flex: 0 0 calc(31.33333333% - 0px);
      min-width: calc(31.33333333% - 0px);
    }
    
    .gm-col-md-8 {
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }

    .gm-col-md-11 {
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }

    .gm-offset-md-1 {
      margin-left: 8.33333333%;
    }

    .gm-offset-md-2 {
      margin-left: 16.66666667%;
    }

    .gm-d-md-none {
      display: none;
    }

    .gm-d-md-block {
      display: block;
    }

    .gm-d-md-inline-block {
      display: inline-block;
    }

    .gm-padding-top-xl-md {
      padding-top: 40px;
    }

    .gm-no-margin-md {
      margin: 0;
    }

    .gm-pr-md-0 {
      padding-right: 0;
    }

    .gm-pr-md-2 {
      padding-right: 0.5rem;
    }

    .gm-px-md-3 {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    .gm-pr-md-5 {
      padding-right: 3rem;
    }

    .gm-px-md-1 {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }
  .gm-padding-horizontal-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media #{$desktops-lg}, #{$desktops-xl} {
    .gm-col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .gm-col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .gm-offset-lg-3 {
      margin-left: 25%;
    }

    .gm-pr-lg-2 {
      padding-right: 0.5rem;
    }
    .gm-px-lg-1 {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    .gm-px-lg-0 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media #{$desktops-xl} {
    .gm-px-xl-1 {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    .gm-pr-xl-4 {
      padding-right: 1.5rem;
    }

    .gm-px-xl-4 {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  /*  bootstrap classes ends */

  /* font classes starts */
  .gm-Display3 {
    @media only screen and (min-width: 375px) and (max-width: 767px) {
      font-size: 32px;
      line-height: 30px;
      font-family: Tele-Ult;
      letter-spacing: -0.33px;
      font-weight: normal;
      color: #000000;
    }
    @media only screen and (max-width: 374px) {
      font-size: 30px;
      line-height: 30px;
      font-family: Tele-Ult;
      letter-spacing: -0.33px;
      font-weight: normal;
      color: #000000;
    }
  }

  .gm-Display4 {
    @media only screen and (max-width: 374px) {
      font-size: 22px;
      line-height: 22px;
      font-family: Tele-Ult;
      letter-spacing: -0.25px;
      font-weight: normal;
      color: #000000;
    }

    @media only screen and (min-width: 375px) and (max-width: 767px) {
      font-size: 24px;
      line-height: 22px;
      font-family: Tele-Ult;
      letter-spacing: -0.25px;
      font-weight: normal;
      color: #000000;
    }
  }

  .gm-H6-heading {
    @media only screen and (min-width: 375px) and (max-width: 767px) {
      font-size: 18px;
      line-height: 18px;
      font-family: Tele-Hal;
      letter-spacing: 0px;
      font-weight: normal;
      color: #000000;
    }

    @media only screen and (max-width: 374px) {
      font-size: 16px;
      line-height: 16px;
      font-family: Tele-Hal;
      letter-spacing: 0px;
      font-weight: normal;
      color: #000000;
    }
  }

  .gm-body {
    @media only screen and (max-width: 374px) {
      font-size: 12px;
      line-height: 20px;
      font-family: Arial;
      letter-spacing: 0px;
      font-weight: normal;
      color: #6a6a6a;
    }

    @media only screen and (min-width: 375px) and (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
      font-family: Arial;
      letter-spacing: 0px;
      font-weight: normal;
      color: #6a6a6a;
    }
  }

  @media #{$alldeviceexceptsmartphone} {
    .gm-Display3 {
      font-size: 56px;
      line-height: 52px;
      font-family: Tele-Ult;
      letter-spacing: -1.1px;
      font-weight: normal;
      color: #000000;
    }
.timespan
{
  margin-right:1.6%;
}

    .gm-Display4 {
      font-size: 40px;
      line-height: 38px;
      font-family: Tele-Ult;
      letter-spacing: -0.4px;
      font-weight: normal;
      color: #000000;
    }

    .gm-H6-heading {
      font-size: 24px;
      line-height: 24px;
      font-family: Tele-Hal;
      letter-spacing: 0px;
      font-weight: normal;
      color: #000000;
    }

    .gm-body {
      font-size: 16px;
      line-height: 24px;
      font-family: Arial;
      letter-spacing: 0.5px;
      font-weight: normal;
      color: #6a6a6a;
    }
  }

  /* font classes ends */
  .gm-dialog-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .gm-dialog-fluid {
    position: fixed;
    right: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
    max-height: 600px;
    left: 15px;
    right: 15px;
    padding: 24px 24px 0px 24px;
    min-width: 280px;
    max-width: 343px;

    @media #{$tablets-md} {
      min-width: 320px;
      max-width: 570px;
    }

    @media #{$desktops-lg} {
      min-width: 320px;
      max-width: 772px;
    }

    @media #{$desktops-xl} {
      min-width: 320px;
      max-width: 920px;
    }

    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        top: 10%;
        left: 0px;
        right: 0px;
        width: 100%;
        @media #{$smartphones-xxs} {
            max-width: 310px;
        }
    }
  }
  .gm-m-b-24 {
    margin-bottom: 24px;
  }
  .gm-animation-out {
    opacity: 0;
    -webkit-transform: translate(0, -35%);
    transform: translate(0, -35%);
    transition: 30ms;
    z-index: -1;
    box-shadow: 0px 15px 12px 0px rgba(0, 0, 0, 0.22), 0px 19px 38px 0px rgba(0, 0, 0, 0.3);
  }

  .gm-animation-in {
    opacity: 1;
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%);
    transition: 350ms;
    z-index: 1000;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .gm-transform-IE {
      transform: translate(0%, 5%);
    }
  }

  input::-ms-clear{
    display: none;
  }

  .gm-overlay {
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
  }

  .gm-overlay-out {
    opacity: 0;
    z-index: -999;
  }

  .gm-overlay-in {
    opacity: 1;
    transition: 0ms;
    z-index: 1;
  }

  /* need to check the below classes */
  @media #{$smartphones-xxs} {
    .gm-modal-font-size {
      font-size: 14px;
    }

    .gm-d-block-xxs {
      display: block !important;
    }

    .gm-d-none-xxs {
      display: none !important;
    }
  }
  @media #{$smartphones-xxs}, #{$smartphones-xs}, #{$smartphones-sm} {
    .timespanthree
    {
      margin-right: 4% !important;
    }
    .border-bottom-xs {
      border-bottom: 1px solid #e8e8e8;
    }
    .p-l-0-xs {
      padding-left: 0px;
    }
    .p-r-0-xs {
      padding-right: 0px;
    }

    .gm-padding-top-small-xs {
      padding-top: 16px;
    }

    .gm-padding-top-medium-xs {
      padding-top: 24px;
    }
    .gm-padding-top-xsmall-xs {
      padding-top: 8px;
    }
  }
  @media #{$tablets-md}, #{$desktops-lg}, #{$desktops-xl} {
    .border-right-md {
      border-right: 1px solid #e8e8e8;
    }
  }
  .imgSize {
    font-size: 24px;
  }
  // Call us Css
  .bg-f2f2f2 {
    background-color: $gray10;
  }
  @media #{$desktops-lg}, #{$desktops-xl} {
    input::placeholder {
      font-size: 16px;
      color: $gray60;
      opacity: 1;
    }
  }
  @media #{$tablets-md} {
    input::placeholder {
      font-size: 16px;
      color: $gray60;
      opacity: 1;
    }
    .gm-col-md-8 {
      flex: 0 0 66.6667%;
      width: 66.66667%;
    }  
    .gm-offset-md-2 {
      margin-left: 16.6667%;
    }  
  }
  @media #{$smartphones-xs},
    #{$smartphones-sm} {
    .call-content {
      min-height: calc(100vh - 185px);
    }
    input::placeholder {
      font-size: 16px;
      color: $gray60;
      opacity: 1;
    }
  }
  // Schedule call Css
  .header-height {
    height: 24px;
  }

    /* Input starts */
    .input {
      border: 0px;
      width: 100%;
      outline: none;
      border-bottom: 1pt solid grey;
      padding: 0px 0px 4px 0px;
      font-size: 16px;
      color:#6a6a6a;
      line-height: 20px;
      letter-spacing: 0.7px;
      vertical-align: middle;
    }
    /* Input Ends */

  @media #{$alldeviceexceptsmartphone} {
    .width-100-sm {
      width: 100%;
    }
    .input {
      font-size: 16px;
      line-height: 24px;
    }
    // .btn-content {
    //   height: 64px;
    //   line-height: 14px;
    // }
  }
  .gm-scroll {
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    @media #{$desktops-xl}, #{$desktops-lg} {
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-height: 75%;
      }
      max-height: 95%;
      .ms-padding-right-custom-01 {
        padding-right: 0.1rem;
      }
    }
  }
 

  //input animation starts
  @keyframes InputAddUnderline {
    from {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }
    to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  .gm-input-animation {
    bottom: 1px;
    height: 2px;
    position: relative;
    width: 100%;
    transition: 0.4s ease all;
  }

  input:focus ~ .gm-input-animation {
    background-color: $brand-magenta;
    opacity: 1;
    -webkit-animation: InputAddUnderline 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    animation: InputAddUnderline 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  //input animation ends

  /*dialog as per redline grid starts*/
  .gm-dialog-fluid3 {
    @media #{$tablets-md} {
      max-width: 454px;
    }
    @media #{$desktops-lg} {
      max-width: 607px;
    }
    @media #{$desktops-xl} {
      max-width: 732px;
    }
  }
  /*dialog as per redline grid ends*/
  .gray-9b {
    color: $gray40;
  }
 
  .gm-p-r-3{
    padding-right:3px;
  }
  .gm-border-red{
    color: red !important;
   border-bottom :1px solid red;
  }
  .datetime
  {
   border: 2px solid $black;
  }

  .gm-dialog-fluid:focus {
    outline:  none;
  }

  
  .timesplit:last-child
  {
    margin-right:0px;
  }
  .timesplit:nth-child(4n+0)
  {
    margin-right:0px;
  }
  .notimespan
  {
    margin-right:0px !important;
    float:right;
  }
  .paddingtop
  {
    padding-top:11px;
  }
  .timespantwo
  {
    margin-right:4%;
  }
  .timespanthree {
    margin-right: 3%;
  }
}
