<div class="TMO-TEAM-DESCRIPTION-PAGE" aria-live="assertive">
  <div class="gm-container">
    <div class="gm-row">
      <div class="gm-col-12 gb-col-md-12 gb-d-md-flex gm-no-padding gm-padding-horizontal-15 gm-padding-top-small gm-padding-top-large-xs gm-padding-top-large-sm gm-padding-bottom-xl">
        <!-- <div class="gm-col-12 gb-col-md-6 gm-no-padding gh-pr-md-2">
          <button appButtonripple class="gb-primary-cta gb-w-100">Message Team
            
          </button>
        </div> -->
        <div class="gm-col-12 gb-col-md-12 gm-no-padding gm-text-center gm-padding-top-medium-xs p-t-100 p-t-40-xs">
          <button appButtonripple class="gb-secondary-cta gm-blackCTA " role="button" (click)="change()">Call Team
          </button>
        </div>
      </div>
    </div>

    <!-- Call us page starts -->
    <div class="gm-dialog-container">
      <div class="gm-dialog-fluid gm-animation-out gm-scroll gm-transform-IE" id="callUS" tabindex="-1" (keydown)="backTabEvent($event,'callUS','callUsButton')" [ngClass]="{'gm-animation-in':visible}" >
        <div *ngIf="visible">
        <div class="gm-row gm-no-margin gm-text-center">
          <div class="gm-col-12 gm-text-center gm-no-padding gm-padding-bottom-xsmall" [ngClass]="{'gm-Display4':isDesktop, 'gm-Display3':!isDesktop}" id="headline" 
            tabindex="0" aria-label="Headline here">Headline
            here.</div>
        </div>
        <div class="gm-row gm-no-margin">
          <div class="gm-col-12 gm-col-md-11 gm-offset-md-1 gm-no-padding gm-text-center gm-H6-heading gm-pr-md-5">
            <div class="gm-pr-md-0 gm-pr-lg-2 gm-pr-xl-4" tabindex="0" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolor
              sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </div>
          </div>
        </div>
        <form class="">
          <div class="gm-d-none gm-d-md-block gm-row gm-padding-top-large">
            <div class="gm-col-6 gm-offset-3 gm-col-md-8 gm-offset-md-2 gm-px-2 gm-px-md-3 gm-px-xl-4">
              <input tabindex="0" type="text" appCustomformat id="inputText"  format= "phonenumber" minlength="14" maxlength="14"   
                name="inputText" class="input" [(ngModel)]="inputtextfield.inputText" required #inputText="ngModel"
                placeholder="What phone number should we call you at?" [ngClass]="{'gm-border-red':inputText.invalid && !inputText.pristine && !inputText.errors?.required}">
              <div class="gm-input-animation"></div>
            </div>
          </div>
        </form>
        <div class="gm- gm-padding-top-xl-md">
          <div class="gm-row gm-mx-0 gm-padding-top-medium">
            <div class="gm-col-12 gm-no-padding gm-m-b-24">
              <button role="button" class="gb-primary-cta-accent gm-float-right gm-margin-left-xxsmall gb-ml-2 gm-modal-font-size" (click)="scheduleCall() "
                appButtonripple  [disabled]="inputText.invalid && isDesktop" id="scheduleButton" [tabindex]="inputText.invalid && isDesktop?'-1':'0'">Schedule a call back</button>
              <button class="gb-secondary-cta-accent gb-black-cta gm-float-right gm-modal-font-size" role="button" appButtonripple (keydown)="backTabEvent($event,'callUS','callUsButton')" id="callUsButton">Call me</button>
            </div>
          </div>
        </div>
	   </div>
      </div>
      <div class="gm-overlay" (click)="close()" [ngClass]="{'gm-overlay-in':visible,'gm-overlay-out':!visible}"></div>
    </div>
    <!-- Call us page ends -->
    <!-- Schedule Call page starts -->
    <div class="gm-dialog-container">
      <div class="gm-dialog-fluid gm-dialog-fluid3 gm-modal_landscapeht gm-scroll gm-transform-IE" id="scheduleCallContainer" (keydown)="backTabEvent($event,'scheduleCallContainer','cancelButton')" tabindex="-1" [ngClass]="{'gm-animation-out':!callBackVisible,'gm-animation-in':callBackVisible}">
        <div *ngIf="callBackVisible">
        <div class="gm-row gm-no-margin">
          <div class="gm-col-12 gm-text-center gm-no-padding" [ngClass]="{'gm-Display4':isDesktop, 'gm-Display3':!isDesktop}"
            tabindex="0" aria-label="Where can we reach you?" >Where can we reach you?</div>
        </div>
        <form>
          <div class="gm-row gm-no-margin gm-padding-top-medium-xs gm-padding-top-large">
            <div class="gm-col-12 gm-col-md-8 gm-offset-md-2 gm-col-lg-6 gm-offset-lg-3 gm-px-0 gm-px-md-1 gm-px-lg-1 gm-px-xl-1 gm-no-padding">
              <div class="floatingLabel gm-no-padding">
                <input tabindex=0 type="text" id="numberVal" format="phonenumber" appCustomformat minlength="10" maxlength="14"
                  name="numberVal" class=" gm-body input" [(ngModel)]="number" required #numberVal="ngModel" placeholder="(123) 456-7890"
                  [ngClass]="{'gm-border-red':numberVal.invalid && !numberVal.pristine && !numberVal.errors?.required}">
                <!-- <label for="numberVal" class="gm-no-padding" [ngClass]="[(numberVal.invalid && !numberVal.pristine && !numberVal.errors?.required) ? 'gm-legal color-red redClass' : '',
           (!numberVal.invalid )   ? 'gm-legal' : '',
          ( numberVal.errors?.required ) ? ' gm-body' : '']"></label> -->
                <div class="gm-input-animation"></div>
              </div>
            </div>
          </div>
          <div class="gm-row gm-no-margin">
            <div class="gm-col-6 gm-col-md-4 gm-offset-md-2 gm-col-lg-3 gm-offset-lg-3 gm-no-padding  gm-px-xl-1 gm-px-md-1 gm-pl-0 gm-pr-1 gm-pr-lg-1 d-inline-block  gm-padding-top-medium-xs  gm-padding-top-small">
              <app-global-dropdown [selectedVal]="selectedLine1" [dropdownidval]="selectline"
                [dropdownArray]="dateDetails" [dropdownText]="dropdownText" (callBackValue)="selectedValue($event)" textToRead="date dropdown"></app-global-dropdown>
            </div>
            <div class="gm-col-6 gm-col-md-4 gm-col-lg-3 gm-no-padding gm-px-xl-1 gm-pr-lg-1 gm-px-md-1 gm-pr-0 gm-pl-1 gm-d-inline-block gm-padding-top-medium-xs  gm-padding-top-small">
              <app-global-dropdown [selectedVal]="selectedLine2" [dropdownidval]="selectline"
              [dropdownArray]="timeDetails" [dropdownText]="dropdownText" (callBackValue)="selectedValue($event)" textToRead="time dropdown"></app-global-dropdown>
            </div>
            <div class="gm-col-12 gm-col-md-8 gm-offset-md-2 gm-col-lg-6 gm-no-padding gm-offset-lg-3 gm-px-0 gm-px-md-1 gm-px-lg-1 gm-px-xl-1 gm-padding-top-medium-xs  gm-padding-top-small">
              <app-global-dropdown [selectedVal]="selectedLine3" [dropdownidval]="selectline"
              [dropdownArray]="timeZone" [dropdownText]="dropdownText" (callBackValue)="selectedValue($event)" textToRead="timezone dropdown"></app-global-dropdown>
            </div>
          </div>
        </form>
        <div class="gm-row gm-no-margin gm-padding-top-medium-xs  gm-padding-top-small">
          <div class="gm-col-12 gm-col-md-8 gm-offset-md-2 gm-col-lg-6 gm-offset-lg-3 gm-px-0 gm-px-md-1 gm-px-lg-1 gm-px-xl-1 gm-no-padding">
            <button role="button" appButtonripple class="gb-secondary-cta gb-black-cta gb-full-btn-width width-100-sm">Find
              a time</button>
          </div>
        </div>
        <div class="gm-row gm-no-margin gm-padding-top-small gm-d-none gm-d-md-block">
          <div class="gm-col-12 gm-col-md-8 gm-offset-md-2 gm-col-lg-6 gm-offset-lg-3 gm-px-0 gm-px-md-1 gm-px-lg-1 gm-px-xl-1 gm-body gm-no-padding"
            tabindex="0" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Choose a time from the following options">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
          </div>
        </div>
        
        <div class="gm-row gm-no-margin gm-padding-top-small">
          <div class="gm-col-12 gm-col-md-8 gm-offset-md-2 gm-col-lg-6 gm-offset-lg-3 gm-px-0 gm-px-md-1 gm-px-lg-1 gm-px-xl-1 gm-no-padding timesplit" >
            <div class="gm-no-padding gm-d-inline-block  gm-pr-md-1" *ngFor="let obj of dateTimeDetails; let i=index; let isEven=even"
              [ngClass]="{'timespan': i != (dateTimeDetails.length-1),'paddingtop':((i>3 && isDesktop ) || (i>1 && !isDesktop)),'notimespan':((!isDesktop && !isEven) || ((i+1)%4 == 0)||(isDesktop && dateTimeDetails.length == 3 && i == 2 ) ) ,'timespantwo':((dateTimeDetails.length) == 2 && isDesktop && i==0),'gm-col-12': (dateTimeDetails.length) == 1,'gm-col-div-6': ((dateTimeDetails.length) == 2 || (dateTimeDetails.length) == 4 || (dateTimeDetails.length >= 2 && !isDesktop)),'gm-col-md-6': (dateTimeDetails.length) == 2,'gm-col-div-md-4 timespanthree': (dateTimeDetails.length) == 3,'gm-col-div-md-3': ((dateTimeDetails.length) >= 4 && isDesktop)}">
              <button role="button" [attr.id]="'dateButton'+i" (keydown)="onKeyDown($event,i)" appButtonripple [ngClass]="{'datetime': selecteddate == i }" class="gb-secondary-cta gb-black-cta gb-full-btn-width width-100-sm btn-content" (click)="selectdatetime(i)" role="button">{{obj.time}}
                <p class="gm-legal" >{{obj.date}}</p>
              </button>
            </div>
          </div>
        </div>
        <div class="gm-row gm-no-margin gm-no-margin-md gm-pr-md-0 gm-padding-top-medium-xs gm-padding-top-xl">
          <div class="gm-col-12 gm-no-padding gm-m-b-24 ">
            <button role="button" appButtonripple class="gb-primary-cta-accent gm-float-right" role="button"  (click)="confirm()" aria-label="Click to confirm" id="confirm">Confirm</button>
            <button appButtonripple class="gb-secondary-cta-accent gb-black-cta gm-float-right gb-mr-2" (click)="close()" role="button" (keydown)="backTabEvent($event,'scheduleCallContainer','cancelButton')" aria-label="Click to cancel" id="cancelButton">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <div class="gm-overlay" (click)="close()" [ngClass]="{'gm-overlay-in':callBackVisible,'gm-overlay-out':!callBackVisible}"></div>
    </div>
    <!-- Schedule Call page ends -->
    <!-- confirmation starts -->
    <div class="gm-dialog-container">
      <div class="gm-dialog-fluid gm-modal_landscapeht gm-scroll gm-transform-IE" id="confirmationContainer" tabindex="-1" [ngClass]="{'gm-animation-out':!confrmnVisible,'gm-animation-in':confrmnVisible}" (keydown)="backTabEvent($event,'confirmationContainer','doneButton')">
        <div *ngIf="confrmnVisible">
        <div class="gm-row gm-no-margin">
          <div class="gm-col-12 gm-Display4 gm-text-center gm-no-padding" [ngClass]="{'gm-Display4':isDesktop, 'gm-Display3':!isDesktop}"
            tabindex="0" aria-label="Thanks!" >Thanks!</div>
        </div>
        <div class="gm-row gm-no-margin gm-padding-top-small-xs gm-padding-top-xsmall">
          <div class="gm-col-12 gm-col-md-11 gm-offset-md-1" [ngClass]="{'gm-no-padding gm-text-center gm-H6-heading gm-pr-md-5': isDesktop,'padding-horizontal-xsmall gm-body': !isDesktop}">
            <div class="gm-pr-md-0 gm-pr-lg-2 gm-pr-xl-4" tabindex="0" aria-label="We'll call (000) 00-0000 around 0:00 PM on July 10, 2018. If we can't reach you, we will try again two more times.">
              We'll call (000) 00-0000 around 0:00 PM on July 10, 2018. If we can't reach you, we will try again two
              more times.
            </div>
          </div>
        </div>
        <div class="gm-row gm-no-margin gm-padding-top-medium">
          <div class="gm-col-12 gm-no-padding gm-m-b-24">
            <button appButtonripple class="gb-primary-cta-accent gm-float-right" (click)="done()" role="button"
              aria-label="Done! Click to continue" (keydown)="backTabEvent($event,'confirmationContainer','doneButton')" id="doneButton">Done</button>
			   </div>
          </div>
        </div>
      </div>
      <div class="gm-overlay" (click)="close()" [ngClass]="{'gm-overlay-in':confrmnVisible,'gm-overlay-out':!confrmnVisible}"></div>
    </div>
    <!-- confirmation ends -->
    <!-- confirmation schedule call starts -->
    <div class="gm-dialog-container">
      <div class="gm-dialog-fluid gm-modal_landscapeht gm-scroll gm-transform-IE" id="confirmScheduleContainer" (keydown)="backTabEvent($event,'confirmScheduleContainer','cancelButton2')" tabindex="-1" [ngClass]="{'gm-animation-out':!scheduleConfrmnVisible,'gm-animation-in':scheduleConfrmnVisible}">
        <div *ngIf="scheduleConfrmnVisible">
        <div class="gm-row gm-no-margin">
          <div class="gm-col-12 gm-text-center gm-no-padding" [ngClass]="{'gm-Display4':isDesktop, 'gm-Display3':!isDesktop}"
            tabindex="0" aria-label="You have scheduled a callback">You have scheduled a
            callback</div>
        </div>
        <div class="gm-row gm-no-margin gm-padding-top-small-xs gm-padding-top-xsmall">
          <div class="gm-col-12 gm-col-md-11 gm-offset-md-1" [ngClass]="{'gm-no-padding gm-text-center gm-H6-heading gm-pr-md-5': isDesktop,'padding-horizontal-xsmall gm-body': !isDesktop}">
            <div class="gm-pr-md-0 gm-pr-lg-2 gm-pr-xl-4" tabindex="0" aria-label="We'll call (000) 00-0000 around 0:00 PM on July 10, 2018. If we can't reach you, we will try again two more times.">
              We'll call (000) 00-0000 around 0:00 PM on July 10, 2018. If we can't reach you, we will try again two
              more times.
            </div>
          </div>
        </div>
        <div class="gm-row gm-no-margin gm-padding-top-medium margin-wrap">
          <div class="gm-col-12 gm-no-padding gm-m-b-24">
            <button appButtonripple class="gb-primary-cta-accent gm-float-right gm-modal-font-size" (click)="scheduleCall()"
              tabindex="0" role="button" aria-label="Click here to make a change" id="changeButton">Make a change</button>
            <button appButtonripple class="gb-secondary-cta-accent gb-black-cta gm-modal-font-size gm-float-right gb-mr-2"
              (click)="close()" tabindex="0" role="button" aria-label="Click to cancel callback" (keydown)="backTabEvent($event,'confirmScheduleContainer','cancelButton2')" id="cancelButton2">{{cancelButtonText}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="gm-overlay" (click)="close()" [ngClass]="{'gm-overlay-in':scheduleConfrmnVisible,'gm-overlay-out':!scheduleConfrmnVisible}"></div>
    <!--confirmation schedule ends -->
  </div>
</div>
