/* GLOBAL VARIABLES */
@import "src/assets/scss/global-variables.scss";
.TMO-BILL-HISTORY-MODAL-PAGE{
.popup-content {
  background-color: #fefefe;
  margin-right: auto;
  margin-left: auto;
  width: 288px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 300px;
  border-radius: 4px;
}
@media (max-width: 768px) and (orientation: landscape) {
  .popup-content {
    height: 200px;
  }
}
.popup-content-inner {
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 93%;
  margin-top: 7px;
  margin-left: 11px;
}
@media (min-width: 768px) {
  .popup-content {
    width: 288px;
  }
  .desktop-inner-width {
    width: 97%;
  }
}
.color-white {
  color: white;
}
.border-E8E8E8 {
  border: 1px solid #E8E8E8;
}
.closeBtn {
  font-size: 20px;
}
.color-white {
  color: white;
}
.close {
  top: 2px;
  right: 0px;
  opacity: 2;
  outline: none;
}
.p-l-150 {
  padding-left: 150px;
}
@media (max-width: 768px) {
  .p-l-65-xs {
    padding-left: 65px;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  top: 40px;
  background-color: black;
  left: 15px;
  height: 100%;
}
.backTransparent {
  background-color: black;
}
.top {
  top: 0px;
}
.p-t-200 {
  padding-top: 200px;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: lightgray;
}
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
.button-width-modal {
  width: 240px !important;
}
.clear-both {
  clear: both;
}
.display {
  display: block;
}
.mt15vh {
  margin-top: 15vh;
}
.mv15vh {
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.m-l-80 {
  margin-left: 80px;
}
.m-r-80 {
  margin-right: 80px;
}
.m-b-0 {
  margin-bottom: 0px;
}
.m-t-0 {
  margin-top: 0px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-t-30 {
  padding-top: 30px;
}
.h4-title {
  font-size: 18px;
  line-height: 20px;
  font-family: Arial;
  letter-spacing: -0.1px;
  font-weight: bold;
}
.h3-title {
  font-size: 24px;
  line-height: 24px;
  font-family: Tele-Ult;
  letter-spacing: -0.1px;
  font-weight: normal;
}
.body-copy-highlight {
  font-size: 14px;
  line-height: 20px;
  font-family: Arial;
  letter-spacing: 0px;
  font-weight: bold;
}
.gray {
  color: #6A6A6A;
}
.text-magenta {
  color: #E20074;
}
.imght{
  width: 20px;
  height: 20px;
}
@media (max-width: 767px) {
  .m-l-0-xs {
    margin-left: 0px;
  }
  .m-r-0-xs {
    margin-right: 0px;
  }
  .mt24{
    margin-top: -24px!important;
  }
}
}

