<div class="TMO-BILL-HISTORY-MODAL-PAGE">
<div class="bg-white">
    
        <div class="text-center mv15vh" >
            <button class="SecondaryCTA button-width-modal" appButtonripple  (click)="openDialog()">Bill history Modal V3</button>
        </div>
    
          <div *ngIf="popupOpen" (click)="closeDialogV2()" class="row p-t-50 p-b-50 overlay top display">
            <div class=" no-padding padding-bottom-small backTransparent mt15vh">
                    
                <div class="no-padding text-center">
                    <div style="width: 320px; margin: auto;">
                            <div class="col-12">
                                    <p class="text-center  text-black h4-title color-white">Historical bills</p>
                                      <button type="button" class="close  closeBtn color-white text-center" style="margin-top:-24px" (click)="closeDialogV2()">
                                      <img src="./assets/img/SVGs/Logos/close.png" class="imght">
                                      </button>
                                </div>
                    </div>
                </div>
    
            </div>
                <div class="popup-content clear-both"  (click)="onOutsideClickEvent($event)">
                    <div class="popup-content-inner desktop-inner-width">
                        <div class="row no-margin p-t-15 ">
                            <div class="col-12  text-center">
                                <p class="h3-title text-black padding-top-medium padding-bottom-large">2017</p>
                                <hr class="m-l-0-xs m-r-0-xs m-r-80 m-l-80 border-E8E8E8 m-t-0 m-b-0" />
                            </div>
                            <div class="col-12  text-center">
                                <div class="padding-top-xl padding-bottom-xl">
                                    <p class="body-copy-highlight text-magenta"><i class="fa fa-calendar"></i> Mar 14 - Apr 13</p>
                                </div>
                                <hr class=" m-l-0-xs m-r-0-xs m-r-80 m-l-80 border-E8E8E8 m-t-0 m-b-0" />
                            </div>
                            <div class="col-12 text-center">
                                <div class="padding-top-xl padding-bottom-xl">
                                    <p class="body-copy-highlight gray"><i class="fa fa-calendar"></i> Feb 14 - Mar 13</p>
                                </div>
                                <hr class="m-l-0-xs m-r-0-xs m-r-80 m-l-80 border-E8E8E8 m-t-0 m-b-0" />
                            </div>
                            <div class="col-12 text-center">
                                <div class="padding-top-xl padding-bottom-xl">
                                    <p class="body-copy-highlight gray"><i class="fa fa-calendar"></i> Jan 14 - Feb 13</p>
                                </div>
                                <hr class="m-l-0-xs m-r-0-xs m-r-80 m-l-80 border-E8E8E8 m-t-0 m-b-0" />
                            </div>
                            <div class="col-12 text-center">
                                <p class="h3-title  text-black p-t-30 p-b-30">2016</p>
                                <hr class="m-l-0-xs m-r-0-xs m-r-80 m-l-80 border-E8E8E8 m-t-0 m-b-0" />
                            </div>
                            <div class="col-12 text-center">
                                <div class="padding-top-xl padding-bottom-xl">
                                    <p class="body-copy-highlight gray"><i class="fa fa-calendar"></i> Dec 14 - Jan 13</p>
                                </div>
                                <hr class="m-l-0-xs m-r-0-xs m-r-80 m-l-80 border-E8E8E8 m-t-0 m-b-0" />
                            </div>
                            <div class="col-12  text-center">
                                <div class="padding-top-xl padding-bottom-xl">
                                    <p class="body-copy-highlight gray"><i class="fa fa-calendar"></i> Nov 14 - Dec 13</p>
                                </div>
                                <hr class="m-l-0-xs m-r-0-xs m-r-80 m-l-80 border-E8E8E8 m-t-0 m-b-0" />
                            </div>
                            <div class="col-12  text-center">
                                <div class="padding-top-xl padding-bottom-xl">
                                    <p class="body-copy-highlight gray"><i class="fa fa-calendar"></i> Oct 14 - Nov 13</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>