<div class="TMO-PROFILE-MULTIPLEDEVICES">
  <div class="container">
    <div class="row padding-vertical-xl padding-top-xxxl-xs padding-top-xxxl-sm">
      <div class="col-12 padding-bottom-small-xs padding-bottom-small-sm">
        <p class="Display3 text-center">Multiple devices</p>
        <div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 padding-horizontal-xsmall padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
          <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
            [dropdownId]="dropdownId"></app-dropdown-selector>
        </div>
      </div>
    <div class="col-10 offset-1 col-md-8 offset-md-2" *ngFor="let option of notificationOptions;let i=index">
      <app-profile-blade *ngIf="i < (notificationOptions.length-1); else bottomDivider" [topDivider]="topDividerClass" [titleText]='option.optionTitle' [titleDesc]='option.desc' [titleDesc2]='option.desc2'  [url]="option.url" [icon]="option.icon"></app-profile-blade>
      <ng-template #bottomDivider>
        <app-profile-blade [bottomDividerClass]="'inset-divider-1px pb-3'" [titleText]='option.optionTitle' [titleDesc]='option.desc' [titleDesc2] ='option.desc2' [titleDesc2Class]='titleDesc2Class' [url]="option.url" [bottomDivider]=true [icon]="option.icon" [switch]="option.switch" [checkOpt]="option.checkOpt"  [moreLessDiv] = "moreLessDiv" [showMore]="showMore" ></app-profile-blade>
      </ng-template>
    </div>
  </div>
</div>