@import "src/assets/scss/global-variables.scss";
.TMO-AACOUNT-HISTORY-COMPONENT {
    .border-5a5a5a {
        border-bottom: solid 1px #5a5a5a;
    }
    .bold {
        font-weight: bold;
    }
    .arrow-down{
            width: 13px;
            height: 13px;
    }
    .arrow-up{
        width: 13px;
        height: 13px;
    }
    @media #{$smartphones-xs},#{$smartphones-sm},#{$tablets-md}{
    .pr-xs-0{
        padding-right:0px;
    }
    .pl-xs-0{
        padding-left:0px;
    }
}
.icon-position{
    position:relative;
    top:5px;
    width:47px;
    @media #{$smartphones-xs},#{$smartphones-sm},#{$tablets-md} {
        height: 25px;
    }
    @media #{$desktops-lg},#{$desktops-xl} {
        height: 28px;
    }
}
.cursor{
    cursor: $pointer;
    outline: $none;
}
}