<div class="TMO-AACOUNT-HISTORY-COMPONENT">
  <div *ngIf="category === 'All Categories' || category === 'Conversations'">
    <div class="row padding-bottom-medium-lg padding-bottom-medium-xl">
      <div class="col-2 H6-heading bold d-lg-flex align-items-center d-none">{{title[0]}} <i *ngIf="title[0] === 'Date'" class="arrow-down ml-2"></i> </div>
      <div class="col-5 H6-heading bold d-none d-lg-block">{{title[1]}}</div>
      <div class="col-2 H6-heading bold d-none d-lg-block">{{title[2]}}</div>
      <div class="col-3">
        <div class="float-left H6-heading bold d-none d-lg-block"> {{title[3]}}</div>
        <div class="float-right H6-heading bold d-none d-lg-block"> {{title[4]}}</div>
      </div>
    </div>
    <div class="inset-divider-1px d-none d-lg-block"></div>
    <div *ngFor="let dataItem of data">
      <div class="row padding-vertical-large-lg padding-vertical-large-lg padding-vertical-medium border-5a5a5a">
        <div class="col-lg-2 d-none d-lg-block">
          <p class="body"> {{dataItem.date}}</p>
          <p class="body"> {{dataItem.time}}</p>
        </div>
        <div class="col-9 col-lg-5 pr-xs-0">
          <p class="H6-heading bold">{{dataItem.descTitle}}</p>
          <p class="d-lg-none body pt-1 pb-2">{{dataItem.date}}</p> 
          <a *ngIf="category == 'Conversations'" class="legal-link pt-2 black cursor" routerLink="/conversationHistory" >{{dataItem.description}}</a>
          <p *ngIf="category != 'Conversations'" class="pt-lg-2 pt-lg-2 body black">{{dataItem.description}}</p>
          <a *ngIf="dataItem.downloadPDF" class="legal-link pt-2 black d-none d-lg-block cursor" href="#"> Download PDF</a>
          <p *ngIf="dataItem.visaData" class="body bold"><span class="black">Paid with: </span><span class="visa-icon icon-position"></span> ****9876</p>
          <p *ngIf="dataItem.referenceNo != isEmptyValue && category !== 'Conversations'" class="body pt-1"><span class="bold black"> Reference #:</span> {{dataItem.referenceNo}}</p>
          <a *ngIf="dataItem.printReceipt" class="legal-link d-none d-lg-block pt-2 cursor" href="#"> Print payment receipt</a>
        </div>
        <div class="col-lg-2 body bold black d-none d-lg-block">{{dataItem.line}}</div>
        <div class="col-3 col-lg-3 pl-xs-0">
          <div class="float-left body bold black d-none d-lg-block"> {{dataItem.category}}</div>
          <div class="float-right H6-heading"> {{dataItem.amount}}</div>
        </div>
      </div>
    </div>
  </div>
</div>