<div class="TMO-STYLEGUIDE-INPUTFIELDS">
<div class="container">
    <div class="row padding-top-xl">
        <div class="col-12  padding-bottom-xl ">
            <p class="H2-heading text-black">Input Controls</p>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-12 no-padding textfield">
                <input tabindex="1" type="text" id="inputText" appClearInput minlength="8" maxlength="50" pattern="[a-zA-Z0-9]*" name="inputText" class="input" [(ngModel)]="inputtextfield.inputText" required #inputText="ngModel" 
                [ngClass]="{'border-red':inputText.invalid && !inputText.pristine && !inputText.errors?.required, 'border-green':inputText.valid}">
                <label for="inputText" [ngClass]="{'body': inputText.pristine ||  inputText.errors?.required || inputText.valid,'body color-red redClass': inputText.invalid && !inputText.pristine && !inputText.errors?.required }">Label</label>
                <div class="input-animation"></div>
            </div>
        </div>
        <div class="row padding-top-xsmall">
            <div class="col-12 no-padding">
                <p class="body color-red text-left" *ngIf="inputText.errors?.minlength">
                    Must be between 8-50 charecters
                    <i class="exclamation-error pull-right"></i>
                </p>
            </div>
            <div class="col-12 no-padding">
                <p class="body color-red text-left" *ngIf="inputText.errors?.pattern && !inputText.errors?.minlength"> Cannot contain spaces and special charecters
                    <i class="exclamation-error pull-right"></i>
                </p>
            </div>
            <div class="col-12 no-padding">
                <p class="body text-left" *ngIf="inputText.valid"> Valid optional helper text
                    <i class="validated-outline-green pull-right"></i>
                </p>
            </div>
        </div>
    </form>
    <div class="col-12 no-padding padding-bottom-large">
            <a (click)="showClr1Code = !showClr1Code" class="legal-link"> {{showClr1Code ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showClr1Code">
              <div class="padding-top-small">
                    <code class=" language-markup border brand-magenta d-block">
                            &lt;form><br/>
                            &nbsp;&nbsp;&lt;div class="row"><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-12 no-padding textfield"><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input tabindex="1" type="text" id="inputText" appClearInput minlength="8" maxlength="50" pattern="[a-zA-Z0-9]*" name="inputText" class="input" [(ngModel)]="inputtextfield.inputText" required #inputText="ngModel" [ngClass]="{{'{'}}'border-red':inputText.invalid && !inputText.pristine && !inputText.errors?.required{{'}'}}"><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;label for="inputText" [ngClass]="{{'{'}}'body': inputText.pristine ||  inputText.errors?.required || inputText.valid,'body color-red redClass': inputText.invalid && !inputText.pristine && !inputText.errors?.required, 'border-green':inputText.valid {{'}'}}">Label&lt;/label><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="input-animation">&lt;/div><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div><br/>
                            &lt;/div><br/>
                            &nbsp;&nbsp;&lt;div class="row padding-top-xsmall"><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-12 no-padding"><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body color-red text-left" *ngIf="inputText.errors?.minlength">
                            Must be between 8-50 charecters<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class="exclamation-error pull-right">&lt;/i><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/p><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-12 no-padding"><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body color-red text-left" *ngIf="inputText.errors?.pattern && !inputText.errors?.minlength"> Cannot contain spaces and special charecters<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class="exclamation-error pull-right">&lt;/i><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/p><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-12 no-padding"><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body text-left" *ngIf="inputText.valid"> Valid optional helper text<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class="validated-outline-green pull-right">&lt;/i><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/p><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div><br/>
                            &nbsp;&nbsp;&lt;/div><br/>
                            &lt;/form>
                    </code>
                
              </div>
            </div>
      </div>
</div>
</div>