<div class="TMO-STYLEGUIDE-DATE-PICKER-PAGE">
    <div class="container">
        <div class="row" *ngIf="column">
            <div class="col-12 no-padding text-center" *ngIf="column1">
                <div class="col-6 col-md-4 pr-0 mt-5 d-inline-block">
                    <input class="dateInput body black" type="text" name="dateofbirth" id="dateofbirth" [(ngModel)]="selectedDateFormat">
                    <i class="fa fa-calendar cursor" aria-hidden="true" (click)="showCalendar()"></i>
                </div>
            </div>
            <div class="col-12 no-padding" *ngIf="column2">
                <input class="dateInput body black" type="text" name="dateofbirth" id="dateofbirth" [(ngModel)]="selectedDateFormat" [disabled]="isInputDisabled">
                <i class="fa fa-calendar cursor" aria-hidden="true" (click)="showCalendar()"></i>
            </div>
        </div>
        <div class="dialog-container">
            <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
                <div class="row no-margin">
                    <div class="col-md-5 no-padding border-right padding-horizontal-medium-md padding-horizontal-medium-lg padding-horizontal-medium-xl">
                        <div class="col-12 Display3 no-padding text-center d-md-none padding-top-medium">{{title}}</div>
                        <div class="col-12 Display5 no-padding text-center padding-top-medium d-none d-md-block">{{title}}</div>
                        <div *ngIf="showSubTitle" class="col-12 body pl-md-0 pr-md-0 text-center p-t-8-xxs padding-top-medium">{{subTitle}}</div>
                        <div class="col-12 col-md-11 col-lg-10 padding-top-small-xs padding-top-small-sm text-center d-flex justify-content-center justify-content-md-start detailsPosition no-padding" [ngClass]="{'d-md-inline-block leftAlign':indicator,'p-t-8-xxs':showSubTitle}">
                            <span class="size-12px background-magenta" [ngClass]="{'d-md-inline-flex':indicator}"></span>
                            <span class="mb-0 legal padding-horizontal-xsmall">Selected date</span>
                            <span class="gray60 size-12px border-1px ml-2" *ngIf="indicator" [ngClass]="{'d-md-inline-flex':indicator}"></span>
                            <span class="padding-horizontal-xsmall mb-0 legal" *ngIf="indicator">Payment 1</span>
                            <span class="brand-magenta size-12px border-1px ml-2" [ngClass]="{'d-md-inline-flex':indicator}"></span>
                            <span class="pl-2 mb-0 legal">Due date</span>
                        </div>
                        <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm padding-top-medium-xs padding-top-medium-sm d-md-none" [ngClass]="{'p-t-8-xxs':showSubTitle}">
                            <div class="inset-divider-1px"></div>
                        </div>
                    </div>
                    <div class="col-md-7 no-padding">
                        <!-- Calendar logic: Begin -->
                            <div class="col-12 text-center Display4 padding-top-medium d-md-none padding-horizontal-medium">
                                <span class="arrow-left-gray60 pull-left" (click)="getPrevMonth()"></span>
                                {{monthTitle}} {{year}}
                                <span class="arrow-right-gray60 pull-right" (click)="getNextMonth()"></span>
                            </div>
                            <div class="col-12 text-center Display6 padding-top-medium d-none d-md-block no-padding padding-horizontal-medium">
                                <span class="arrow-left-gray60 pull-left" (click)="getPrevMonth()"></span>
                                {{monthTitle}} {{year}}
                                <span class="arrow-right-gray60 pull-right" (click)="getNextMonth()"></span>
                            </div>
                            <div class="col-12 no-padding pt-3 text-center">
                                <button *ngFor="let day of weekDay" class="btn-background body block-width mr-1">{{day}}</button>
                            </div>
                            <div class="col-12 no-padding gray40">
                                <div *ngFor="let dates of monthArray" class="text-center">
                                    <button class="btn-background body-bold black block-width mr-1" *ngFor="let date of dates['week']" (click)="select(date,monthTitle,year)"
                                        [ngClass]="{'brand-magenta':isToday(date,monthTitle,year),'activeBlock':isSelected(date,monthTitle,year),'dueBlock pt-2 pb-2':isDue(date,monthTitle,year),'disabled':isDisabled(date,monthTitle,year),'grayBox':isPayment(date,monthTitle,year)}">{{date}}
                                    </button>
                                </div>
                            </div>
                        <!-- Calendar logic: End -->
                        <div class="col-12 text-center padding-top-small no-padding">
                            <div class="col-md-6 d-inline-flex justify-content-end padding-horizontal-medium padding-bottom-medium float-md-right">
                                <button class="PrimaryCTA-accent" appButtonripple (click)="selectedBtn()">Select</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
        </div>
    </div>
</div>