@import "src/assets/scss/global-variables.scss";
.TMO-STYLEGUIDE-DATE-PICKER-PAGE {
    .dialog {
        max-height: 537px;
        padding:0px;
        @media #{$alldeviceexceptsmartphone} {
            width: 677px;
            
        }
    }
    .size-12px{
        width:12px;
        height:12px;
    }
    .background-magenta{
        background-color:$brand-magenta;
    }
    .border-1px{
        border:1px solid;
    }
    .block-width{
        vertical-align: middle;
        width: 40px;
        height: 40px;
        @media #{$minismartphones-xs}{
            width: 35px;
            height: 35px;
        }
    }
    .btn-background{
        background: none;
        border: 0px;
        padding: 0px;
        outline: none;
    }
    .activeBlock{
        background-color: $brand-magenta;
        box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.12);
        color:$white;
    }
    .dueBlock{
        border:1px solid $brand-magenta;
    }
   
    .disabled{
        font-style: italic;
        font-weight: normal;
        color:$gray60;
    }
    @media #{$alldeviceexceptsmartphone}{
        .detailsPosition{
            position: absolute;
            bottom:24px;
        }
        .border-right{
            border-right: 1px solid $gray20;
        }
    }
    .fa-calendar{
        position: absolute;
        top: 15px;
        right: 1px;
    }
    .dateInput{
        border: 0px;
        width: 100%;
        outline: none;
        border-bottom: 1pt solid $black;
        padding: 8px 0px 8px 0px;
    }
    .grayBox{
        border: 1px solid $gray60;
    }
    @media #{$tablets-md}{
        .leftAlign{
            left:15px;
        }
    }
    @media #{$smallphones}{
        .p-t-8-xxs{ // Applying this class for device width <= 320
            padding-top: 8px;
     }
    }
}