<div class="TMO-ODF-CONFIRMATION">
    
        <div class="container">
            <div class="main-content">
            <app-header></app-header>
                    <div class="row">
                        <div class="col-12 text-center padding-top-large legal">
                            <span class="check-icon"></span>
                        </div>
                    </div>
                    <div class="row padding-top-large">
                        <div class="col-12 Display3 text-center">
                            <p class="mb-0">Thanks, {{name}}.</p>
                            <p class="mb-0">Your order is complete.</p>
                        </div>
                        <div class="col-12  d-inline-block padding-top-large text-center">
                            <button class="PrimaryCTA full-btn-width" appButtonripple >Next step - sign up</button>
                        </div>
                    </div>
                 
                    <div class="col-md-10  offset-md-1 col-sm-10 offset-sm-1  no-padding">
                            <div class="row no-margin padding-top-large">
                                    <div class="col-12 no-padding">
                                        <div class="inset-divider-1px"></div>
                                    </div>
                                </div>
                    <div class="row no-margin">
                        <div class="col-12 body-bold padding-vertical-small no-padding pr-3" (click)="detailsPayment()">
                            <span class="pull-left black Display6">Order details</span>
                            <span class="pull-right cursor arrow-down" [ngClass]="{'arrow-down arrowdown_rotation':!showDetails, 'arrow-up arrowup_rotation':showDetails}"></span>
                        </div>
                        <div class="col-12 no-padding">
                            <div class="inset-divider-1px"></div>
                        </div>
                    </div>
                    <div class="accordion-content" [ngClass]="{'content-open':showDetails}">
                       
                        <div class="row body padding-top-medium">
                            <div class="col-12" *ngFor="let dataPass of dataPassInfo">
                                <span class="pull-left ">{{dataPass.descTitle}}:</span>
                                <span class="pull-right ">{{dataPass.value}}</span>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 padding-top-medium no-padding-xs">
                                <div class="full-bleed-divider"></div>
                            </div>
                            <div class="col-12 padding-vertical-medium">
                                <span class="pull-left H6-heading">New Add-ons</span>
                            </div>
                        </div>
                        <div class="row body" *ngFor="let addOns of addItems">
                            <div class="col-12">
                                <div class="inset-divider-1px"></div>
                            </div>
                            <div class="col-12 padding-vertical-small">
                                <span class="pull-left Display6 ">{{addOns.descTitle}}</span>
                                <span class="pull-right H6-heading ">${{addOns.value}}/mo.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 no-padding-xs">
                                <div class="full-bleed-divider"></div>
                            </div>
                            <div class="col-12 padding-vertical-medium">
                                <span class="pull-left H6-heading">Removed items</span>
                            </div>
                            <div class="col-12">
                                <div class="inset-divider-1px"></div>
                            </div>
                        </div>
                        <div class="row body" *ngFor="let removedItem of removeItems">
                            <div class="col-12 padding-vertical-small">
                                <span class="pull-left Display6 ">{{removedItem.descTitle}}</span>
                                <span class="pull-right H6-heading ">${{removedItem.value}}/mo.</span>
                            </div>   
                             <div class="col-12">
                                <div class="inset-divider-1px"></div>
                            </div>
                        </div>
                    </div>
                    </div>
               
                
            </div>
            <div class="row no-margin d-block text-sm-center" >
                <div class="col-12  d-inline-block padding-top-xxxl-xs padding-top-xl no-padding">
                    <button class="PrimaryCTA full-btn-width" appButtonripple >Return home</button>
                </div>
                <div class="col-12 col-md-10 offset-md-1 legal padding-vertical-xl padding-vertical-large-xs text-left no-padding">
                    Data pass charges are one-time charges. These charges will be applied immediately on the start of your pass. No refunds will
                    be issued after the start of your pass.
                </div>
            </div>
        </div>
    </div>