<div class="TMO-CRAZY">
<div class="container">
    <app-header></app-header>
     <div class="row">
          <div class="col-md-12  padding-top-small">
        <div class="body ">Your current plan:</div>
        <div>
          <div class="padding-top-small  cursorAccordion" (click)="clickToggle()">
            <span class="Display6">Simple Choice</span>
            <i class="pull-right float-xs-right " [ngClass]="{'arrow-up': !isCollapsed, 'arrow-down': isCollapsed}"></i>
          </div>
          <div>
              <span class="body-bold black pt-2">$160.00 / 4 Lines</span>
          </div>
          <div class="padding-top-small" *ngIf="!isCollapsed">
            <div class=""  >
                <ul class="p-l-16">
                  <li *ngFor='let x of dataPassInfo1' class="body black">{{x.descTitle}}</li>
                </ul>
            </div>
            <div class="body-link no-padding brand-magenta"><a>View detail</a></div>
          </div>
        </div>
    </div>
    </div>

    <div class="row padding-top-xsmall">
    <div class="col-12">
        <div class="full-bleed-divider"></div>
    </div>

  </div>
  <div class="row">
    <div class="body col-md-12 padding-vertical-medium">
      Our available plan for you:
    </div>
  </div>
    <div class="row padding-bottom-xxl">
      <div class="col-md-12 col-12 d-inline-flex no-padding swipe">
        <div class="col-10 col-md-5 slide">
            <div class="Rectangle-1">
              <div class="text-center legal-bold brand-magenta padding-top-small">WITH NETFLIX ON US</div>
              <div class="Display4 text-center">T-Mobile TWO</div>
              <div class="text-center padding-top-small">
                <span class="H4-heading strike">$180/mo</span>
                <span class="Display4">$160/mo</span>
              </div>
              <div class="text-center">
                  <span class="legal-bold black">with AutoPay</span>
              </div>
              <div class="padding-vertical-small">
                  <div class="inset-divider"></div>
              </div>
              <div >
                  <ul>
                    <li *ngFor='let x of dataPassInfo' class="body black">{{x.descTitle}}</li>
                  </ul>
              </div>
              <div  class="pl-6">
                <p class="legal">Video@480p. Customers using >50GB/mo. may notice reduced speeds</p>
              </div>
              <div class="body-link pl-6 brand-magenta"><a>View detail</a></div>
              <div class="col-md-12 pl-6 padding-top-small padding-bottom-medium"> 
                <button class="BG PrimaryCTA" appButtonripple>Select plan</button> 
              </div>
            </div>
          </div>
          <div class="col-10 col-md-5 slide">
              <div class="Rectangle-1">
                <div class="text-center legal-bold brand-magenta padding-top-small">WITH NETFLIX ON US</div>
                <div class="Display4 text-center">T-Mobile TWO</div>
                <div class="text-center padding-top-small">
                  <span class="H4-heading strike">$180/mo.</span>
                  <span class="Display4">$160/mo.</span>
                </div>
                <div class="text-center">
                    <span class="legal-bold black">with AutoPay</span>
                </div>
                <div class="padding-vertical-small">
                    <div class="inset-divider"></div>
                </div>
                <div >
                    <ul>
                      <li *ngFor='let x of dataPassInfo' class="body black">{{x.descTitle}}</li>
                    </ul>
                </div>
                <div  class="pl-6">
                  <p class="legal">Video@480p. Customers using >50GB/mo. may notice reduced speeds</p>
                </div>
                <div class="body-link pl-6 brand-magenta"><a>View detail</a></div>
                <div class="col-md-12 pl-6 padding-top-small padding-bottom-medium"> 
                  <button class="BG PrimaryCTA" appButtonripple>Select plan</button> 
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>

