@import "src/assets/scss/global-variables.scss";
.TMO-CRAZY {
    .Rectangle-1 {
        width: 100%;
        background-color: white;
        border: 1px solid #efefef;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    }
    
    .pl-6{
        padding-left: 6%;
    }
    .BG {
       width:100% !important;
       height: 45px !important;
       max-width: 100% !important;
    }
     .arrow-down {
        filter:invert(0.5);
    }
   
    }