<div class="TMO-STYLEGUIDE-HOME">
  <div class="container ">
    <div class="col-12 padding-bottom-small no-padding">
      <div class="H5-heading text-center padding-vertical-xl">
        STYLE GUIDE COMPONENTS
      </div>
    </div>
    <div class="col-12">
      <div>
        <ul>
          <li>
            <a class="home-link" routerLink="/Button" routerLinkActive="active">Buttons</a>
          </li>
          <li>
            <a class="home-link" routerLink="/colors" routerLinkActive="active">Colors</a>
          </li>
          <li>
            <a class="home-link" routerLink="/datepicker" routerLinkActive="active">Date pickers</a>
          </li>
          <li>
            <a class="home-link" routerLink="/datepickerNewModal" routerLinkActive="active">Date picker new modal</a>
          </li>
          <li>
            <a class="home-link" routerLink="/datepickerFullScreen" routerLinkActive="active">Date picker full screen</a>
          </li>
          <li>
            <a class="home-link" routerLink="/modal" routerLinkActive="active">Dialog Boxes - Modals</a>
          </li>
          <li>
            <a class="home-link" routerLink="/tooltip" routerLinkActive="active">Dialog Boxes - Tooltips</a>
          </li>
          <li>
            <a class="home-link" routerLink="/Divider" routerLinkActive="active">Dividers</a>
          </li>
          <li>
              <a class="home-link" routerLink="/fliters" routerLinkActive="active">Filters</a>
          </li>
          <li>
            <a class="home-link" routerLink="/dropdown" routerLinkActive="active">Forms - Dropdowns</a>
          </li>
          <li>
            <a class="home-link" routerLink="/Inputfields" routerLinkActive="active">Forms - Text Fields</a>
          </li>
          <li>
            <a class="home-link" routerLink="/Iconography" routerLinkActive="active">Iconography</a>
          </li>
          <li>
            <a class="home-link" routerLink="/listDynamic" routerLinkActive="active">List - Expanding</a>
          </li>
          <li>
            <a class="home-link" routerLink="/listStatic" routerLinkActive="active">List - Static</a>
          </li>
          <li>
            <a class="home-link" routerLink="/pagination" routerLinkActive="active">Pagination</a>
          </li>
          <li>
            <a class="home-link" routerLink="/Search" routerLinkActive="active">Search</a>
          </li>
          <li>
            <a class="home-link" routerLink="/selectionControl" routerLinkActive="active">Selection Control - Switches</a>
          </li>
          <li>
            <a class="home-link" routerLink="/slider" routerLinkActive="active">Slider</a>
          </li>
          <li>
            <a class="home-link" routerLink="/Spacer" routerLinkActive="active">Spacers</a>
          </li>
          <li>
            <a class="home-link" routerLink="/spinner" routerLinkActive="active">Spinner</a>
          </li>
          <li>
            <a class="home-link" routerLink="/tabs" routerLinkActive="active">Tabs</a>
          </li>
          <li>
            <a class="home-link" routerLink="/tables" routerLinkActive="active">Tables</a>
          </li>
          <li>
            <a class="home-link" routerLink="/Typography" routerLinkActive="active">Typography</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
