<div class="TMO-PROFILE-PRIVACY-NOTIFICATION-ADVERTISING">
  <div class="container">
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12 text-center">
        <p class="Display3">Advertising and insights</p>
      </div>
      <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 padding-top-large padding-top-medium-xs padding-top-medium-sm">
          <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
          [dropdownId]="dropdownId"></app-dropdown-selector>
      </div>
      <div class="col-12 col-md-8 offset-md-2 pull-left padding-top-large-xs padding-top-large-sm padding-bottom-small-xs padding-bottom-small-sm padding-top-xl padding-bottom-medium">
        <p class="body text-center">Programs that use non-personally identifiable information related to data and device usage.</p>
      </div>
      <div class="col-10 offset-1 col-md-8 offset-md-2">
        <div class="inset-divider-1px"></div>
      </div>
    <div class="col-12 col-md-8 offset-md-2" *ngFor="let option of advertisingOptions;let i=index">
      <app-profile-blade *ngIf="i < (advertisingOptions.length-1); else bottomDivider" [titleText]='option.optionTitle' [titleDesc]='option.desc' [titleDesc2]='option.desc2' [titleDescClass]="titleDescClass" [url]="option.url" [icon]="option.icon" [switch]="option.switch" [checkOpt]="option.checkOpt"  [moreLessDiv] = "moreLessDiv" [showMore]="showMore" [ShowTextClass]="ShowTextClass" ></app-profile-blade>
      <ng-template #bottomDivider>
        <app-profile-blade [bottomDividerClass]="'inset-divider-1px'" [titleText]='option.optionTitle' [titleDesc]='option.desc' [titleDesc2]='option.desc2' [titleDescClass]="titleDescClass" [url]="option.url" [bottomDivider]=true [icon]="option.icon" [switch]="option.switch" [checkOpt]="option.checkOpt"  [moreLessDiv] = "moreLessDiv" [showMore]="showMore" [ShowTextClass]='ShowTextClass'></app-profile-blade>
      </ng-template>
    </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-2 padding-top-xl padding-bottom-xxxl">
        <p class="legal">Information on Interest-based Ads.<span class="legal-link cursor" routerLink="/privacyNotificationInterestBasedAds" routerLinkActive="active"> Information on Interest Based Ads</span></p>
      </div>
    </div>
  </div>
</div>