@import "src/assets/scss/global-variables.scss";

.TMO-STYLEGUIDE-LIST-EXPANDING{
   .div-ripple{
    transition-duration: 0.2s;
    @extend .ripple;
   }

.ripple {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.ripple-animate {
    -webkit-animation: ripple 1000ms ease-out;
    animation: ripple 1000ms ease-out;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 100%;
    height: 10px;
    pointer-events: none;
    position: absolute;
    transform: scale(0);
    width: 10px;
}
}