<div class="TMO-STYLEGUIDE-LIST-EXPANDING">
  <div class="container padding-bottom-xl">
    <div class="col-12 no-padding">
      <p class="text-center Display4 padding-vertical-large">List - Expanding</p>
    </div>
    <div class="col-12 no-padding">
      <p class="H6-heading">Single Line List</p>
      <p class="H6-heading pt-4">Single Line (Avatar + Text + Icon)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle()" [ngClass]="{'border-2px': !isCollapsed, 'border-none': isCollapsed}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <p class="Display6 pl-4 mb-0">One-Line item</p>
            </div>
            <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed,'arrow-up arrowup_rotation':isCollapsed}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed" [ngClass]="{'border-none': !isCollapsed, 'border-2px': isCollapsed}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle1()" [ngClass]="{'border-2px': !isCollapsed1, 'border-none': isCollapsed1}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <p class="Display6 pl-4 mb-0">One-Line item</p>
            </div>
            <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed1,'arrow-up arrowup_rotation':isCollapsed1}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed1" [ngClass]="{'border-none': !isCollapsed1, 'border-2px': isCollapsed1}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx1Code = !showListEx1Code" class="legal-link"> {{showListEx1Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx1Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
            &lt;ul class="list-group"><br/>
            &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
            &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
            &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
            &nbsp;&nbsp;&lt;i class="fa fa-circle circle-style">&lt;/i><br/>
            &nbsp;&nbsp;&lt;p class="Display6 pl-4 mb-0">One-Line item&lt;/p><br/>
            &nbsp;&lt;/div><br/>
            &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
            &nbsp;&nbsp;&lt;i class="fa fa-square pull-right box-style">&lt;/i><br/>
            &nbsp;&lt;div class="pl-2"><br/>
            &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
            &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
            &nbsp;&lt;/div><br/>
            &nbsp;&lt;/div><br/>
            &lt;/li><br/>=
            &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
            &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
            &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
            &lt;/div><br/>
            &lt;/ul><br/>
            &nbsp;-----TS CODE-----<br/>
            export class ListDynamicComponent {{ '{' }}<br/>
            &nbsp;isCollapsed = false;<br/>
            &nbsp;clickToggle = function () {{ '{' }} <br/>
            &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
            &nbsp; {{ '}' }}<br/>
            {{ '}' }}<br/>
        </code>
      </div>
    </div>

    <div class="col-12 no-padding">
      <p class="H6-heading">Single Line (Avatar + Text)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle6()" [ngClass]="{'border-2px': !isCollapsed6, 'border-none': isCollapsed6}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <p class="Display6 pl-4 mb-0">One-Line item</p>
            </div>
            <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed6,'arrow-up arrowup_rotation':isCollapsed6}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed6" [ngClass]="{'border-none': !isCollapsed6, 'border-2px': isCollapsed6}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle7()" [ngClass]="{'border-2px': !isCollapsed7, 'border-none': isCollapsed7}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <p class="Display6 pl-4 mb-0">One-Line item</p>
            </div>
            <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed7,'arrow-up arrowup_rotation':isCollapsed7}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed7" [ngClass]="{'border-none': !isCollapsed7, 'border-2px': isCollapsed7}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx4Code = !showListEx4Code" class="legal-link"> {{showListEx4Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx4Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                &lt;ul class="list-group"><br/>
                &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
                &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
                &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                &nbsp;&nbsp;&lt;i class="fa fa-circle circle-style">&lt;/i><br/>
                &nbsp;&nbsp;&lt;p class="Display6 pl-4 mb-0">One-Line item&lt;/p><br/>
                &nbsp;&lt;/div><br/>
                &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
                &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
                &nbsp;&lt;/div><br/>
                &lt;/li><br/>=
                &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
                &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
                &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
                &lt;/div><br/>
                &lt;/ul><br/>
                &nbsp;-----TS CODE-----<br/>
                export class ListDynamicComponent {{ '{' }}<br/>
                &nbsp;isCollapsed = false;<br/>
                &nbsp;clickToggle = function () {{ '{' }} <br/>
                &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
                &nbsp; {{ '}' }}<br/>
                {{ '}' }}<br/>
            </code>
      </div>
    </div>

    <div class="col-12 no-padding">
      <p class="H6-heading">Single Line (Text + Icon)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle8()" [ngClass]="{'border-2px': !isCollapsed8, 'border-none': isCollapsed8}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-10 no-padding d-flex align-items-center">
              <p class="Display6 pl-0 mb-0">One-Line item</p>
            </div>
            <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed8,'arrow-up arrowup_rotation':isCollapsed8}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed8" [ngClass]="{'border-none': !isCollapsed8, 'border-2px': isCollapsed8}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle9()" [ngClass]="{'border-2px': !isCollapsed9, 'border-none': isCollapsed9}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-10 no-padding d-flex align-items-center">
              <p class="Display6 pl-0 mb-0">One-Line item</p>
            </div>
            <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed9,'arrow-up arrowup_rotation':isCollapsed9}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed9" [ngClass]="{'border-none': !isCollapsed9, 'border-2px': isCollapsed9}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx5Code = !showListEx5Code" class="legal-link"> {{showListEx5Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx5Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                    &lt;ul class="list-group"><br/>
                    &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
                    &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
                    &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                    &nbsp;&nbsp;&lt;i class="fa fa-circle circle-style">&lt;/i><br/>
                    &nbsp;&lt;div class="pl-2"><br/>
                    &nbsp;&nbsp;&lt;p class="Display6 pl-0 mb-0">One-Line item&lt;/p><br/>
                    &nbsp;&lt;/div><br/>
                    &nbsp;&lt;/div><br/>
                    &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                    &nbsp;&nbsp;&lt;i class="fa fa-square pull-right box-style">&lt;/i><br/>
                    &nbsp;&lt;div class="pl-2"><br/>
                    &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
                    &nbsp;&lt;/div><br/>
                    &nbsp;&lt;/div><br/>
                    &lt;/li><br/>=
                    &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
                    &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
                    &lt;/div><br/>
                    &lt;/ul><br/>
                    &nbsp;-----TS CODE-----<br/>
                    export class ListDynamicComponent {{ '{' }}<br/>
                    &nbsp;isCollapsed = false;<br/>
                    &nbsp;clickToggle = function () {{ '{' }} <br/>
                    &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
                    &nbsp; {{ '}' }}<br/>
                    {{ '}' }}<br/>
                </code>
      </div>
    </div>

    <div class="col-12 no-padding">
      <p class="H6-heading">Single Line (Text Only)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle10()" [ngClass]="{'border-2px': !isCollapsed10, 'border-none': isCollapsed10}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-10 no-padding d-flex align-items-center">
              <p class="Display6 pl-0 mb-0">One-Line item</p>
            </div>
            <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed10,'arrow-up arrowup_rotation':isCollapsed10}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed10" [ngClass]="{'border-none': !isCollapsed10, 'border-2px': isCollapsed10}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle11()" [ngClass]="{'border-2px': !isCollapsed11, 'border-none': isCollapsed11}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-10 no-padding d-flex align-items-center">
              <p class="Display6 pl-0 mb-0">One-Line item</p>
            </div>
            <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed11,'arrow-up arrowup_rotation':isCollapsed11}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed11" [ngClass]="{'border-none': !isCollapsed11, 'border-2px': isCollapsed11}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx6Code = !showListEx6Code" class="legal-link"> {{showListEx6Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx6Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                        &lt;ul class="list-group"><br/>
                        &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
                        &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
                        &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                        &nbsp;&nbsp;&lt;p class="Display6 pl-0 mb-0">One-Line item&lt;/p><br/>
                        &nbsp;&lt;/div><br/>
                        &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                        &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
                        &nbsp;&lt;/div><br/>
                        &lt;/li><br/>=
                        &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
                        &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
                        &lt;/div><br/>
                        &lt;/ul><br/>
                        &nbsp;-----TS CODE-----<br/>
                        export class ListDynamicComponent {{ '{' }}<br/>
                        &nbsp;isCollapsed = false;<br/>
                        &nbsp;clickToggle = function () {{ '{' }} <br/>
                        &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
                        &nbsp; {{ '}' }}<br/>
                        {{ '}' }}<br/>
                    </code>
      </div>
    </div>

    <div class="col-12 no-padding">
      <p class="H6-heading">Single Line (Text Only - No Divider)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center border-bottom-0" (click)="clickToggle13()" [ngClass]="{'border-2px': !isCollapsed13, 'border-none': isCollapsed13}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-10 no-padding d-flex align-items-center">
              <p class="Display6  pl-0 mb-0">One-Line item</p>
            </div>
            <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
              <!-- <i class=" pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-down': !isCollapsed13, 'fa-chevron-up': isCollapsed13}"></i> -->
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed13,'arrow-up arrowup_rotation':isCollapsed13}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed13" [ngClass]="{'border-none': !isCollapsed13, 'border-2px': isCollapsed13}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center border-bottom-0" (click)="clickToggle12()" [ngClass]="{'border-2px': !isCollapsed12, 'border-none': isCollapsed12}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-10 no-padding d-flex align-items-center">
              <p class="Display6  pl-0 mb-0">One-Line item</p>
            </div>
            <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed12,'arrow-up arrowup_rotation':isCollapsed12}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed12" [ngClass]="{'border-none': !isCollapsed12, 'border-2px': isCollapsed12}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx7Code = !showListEx7Code" class="legal-link"> {{showListEx7Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx7Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                            &lt;ul class="list-group"><br/>
                            &lt;li class="list-group-item d-flex align-items-center border-bottom-0" (click)="clickToggle()"<br/>
                            &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
                            &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                            &nbsp;&nbsp;&lt;p class="Display6  pl-0 mb-0">One-Line item&lt;/p><br/>
                            &nbsp;&lt;/div><br/>
                            &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                            &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
                            &nbsp;&lt;/div><br/>
                            &lt;/li><br/>=
                            &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
                            &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
                            &lt;/div><br/>
                            &lt;/ul><br/>
                            &nbsp;-----TS CODE-----<br/>
                            export class ListDynamicComponent {{ '{' }}<br/>
                            &nbsp;isCollapsed = false;<br/>
                            &nbsp;clickToggle = function () {{ '{' }} <br/>
                            &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
                            &nbsp; {{ '}' }}<br/>
                            {{ '}' }}<br/>
                        </code>
      </div>
    </div>

    <div class="col-12 no-padding">
        <p class="H6-heading">Single Line (Disabled)</p>
    </div>
  
      <div class="col-12 no-padding">
        <ul class="list-group">
          <li class="list-group-item d-flex align-items-center border-2px listDisable">
            <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large" >
              <div class="col-10 no-padding d-flex align-items-center">
                <p class="Display6  pl-0 mb-0">One-Line item</p>
              </div>
              <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
               <span class="pull-right arrow-down"></span>
              </div>
            </div>
          </li>
  
          <li class="list-group-item d-flex align-items-center border-2px listDisable">
            <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large">
              <div class="col-10 no-padding d-flex align-items-center">
                <p class="Display6  pl-0 mb-0">One-Line item</p>
              </div>
              <div class="col-2 pr-0 d-flex align-items-center justify-items-end">
                <span class="pull-right arrow-down"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
  
      <div class="col-12 no-padding padding-vertical-small">
        <a (click)="showListEx17Code = !showListEx17Code" class="legal-link"> {{showListEx17Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showListEx17Code" class="padding-top-small">
          <code class=" language-markup brand-magenta d-block border">
                              &lt;ul class="list-group"><br/>
                              &lt;li class="list-group-item d-flex align-items-center border-2px listDisable" &lt;/i><br/>
                              &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                              &nbsp;&nbsp;&lt;p class="Display6  pl-0 mb-0">One-Line item&lt;/p><br/>
                              &nbsp;&lt;/div><br/>
                              &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                              &nbsp;&nbsp;&lt;i class="pull-right arrow-down" &lt;/div><br/>
                              &nbsp;&lt;/div><br/>
                              &lt;/li><br/>
                              &lt;/ul><br/>
                          </code>
        </div>
      </div>

    <div class="col-12 no-padding padding-top-large">
      <p class="H6-heading">Two Line List</p>
      <p class="H6-heading">Two Line (Avatar + Text + Icon)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle2()" [ngClass]="{'border-2px': !isCollapsed2, 'border-none': isCollapsed2}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <div class="pr-4 pl-4">
                <p class="Display6 mb-0">Two-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 pl-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed2,'arrow-up arrowup_rotation':isCollapsed2}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed2" [ngClass]="{'border-none': !isCollapsed2, 'border-2px': isCollapsed2}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle3()" [ngClass]="{'border-2px': !isCollapsed3, 'border-none': isCollapsed3}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <div class="pr-4 pl-4">
                <p class="Display6 mb-0">Two-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed3,'arrow-up arrowup_rotation':isCollapsed3}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed3" [ngClass]="{'border-none': !isCollapsed3, 'border-2px': isCollapsed3}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx2Code = !showListEx2Code" class="legal-link"> {{showListEx2Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx2Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
            &lt;ul class="list-group"><br/>
            &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
            &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
            &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
            &nbsp;&nbsp;&lt;i class="fa fa-circle circle-style">&lt;/i><br/>
            &nbsp;&nbsp;&lt;div class="pr-4 pl-4"><br/>
            &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Two-Line item&lt;/p><br/>
            &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text<br/>
            &nbsp;&nbsp;&nbsp;&nbsp; lorem ipsum dolor sit amet, consectetur&lt;/p><br/>
            &nbsp;&nbsp;&lt;/div><br/>
            &nbsp;&lt;/div><br/>
            &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
            &nbsp;&nbsp;&lt;i class="fa fa-square pull-right box-style">&lt;/i><br/>
            &nbsp;&lt;div class="pl-2"><br/>
            &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
            &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
            &nbsp;&lt;/div><br/>
            &nbsp;&lt;/div><br/>
            &lt;/li><br/>
            &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
            &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
            &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
            &lt;/div><br/>
            &lt;/ul><br/>
            &nbsp;-----TS CODE-----<br/>
            export class ListDynamicComponent {{ '{' }}<br/>
            &nbsp;isCollapsed = false;<br/>
            &nbsp;clickToggle = function () {{ '{' }} <br/>
            &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
            &nbsp; {{ '}' }}<br/>
            {{ '}' }}<br/>
        </code>
      </div>
    </div>

    <div class="col-12 no-padding padding-top-large">
      <p class="H6-heading">Two Line (Avatar + Text)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle14()" [ngClass]="{'border-2px': !isCollapsed14, 'border-none': isCollapsed14}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <div class="pr-4 pl-4">
                <p class="Display6 mb-0">Two-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 pl-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed14,'arrow-up arrowup_rotation':isCollapsed14}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed14" [ngClass]="{'border-none': !isCollapsed14, 'border-2px': isCollapsed14}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle15()" [ngClass]="{'border-2px': !isCollapsed15, 'border-none': isCollapsed15}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <div class="pr-4 pl-4">
                <p class="Display6 mb-0">Two-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed15,'arrow-up arrowup_rotation':isCollapsed15}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed15" [ngClass]="{'border-none': !isCollapsed15, 'border-2px': isCollapsed15}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx8Code = !showListEx8Code" class="legal-link"> {{showListEx8Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx8Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
              &lt;ul class="list-group"><br/>
              &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
              &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
              &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
              &nbsp;&nbsp;&lt;i class="fa fa-circle circle-style">&lt;/i><br/>
              &nbsp;&nbsp;&lt;div class="pr-4 pl-4"><br/>
              &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Two-Line item&lt;/p><br/>
              &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text<br/>
              &nbsp;&nbsp;&nbsp;&nbsp; lorem ipsum dolor sit amet, consectetur&lt;/p><br/>
              &nbsp;&nbsp;&lt;/div><br/>
              &nbsp;&lt;/div><br/>
              &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
              &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
              &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
              &nbsp;&lt;/div><br/>
              &lt;/li><br/>
              &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
              &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
              &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
              &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
              &lt;/div><br/>
              &lt;/ul><br/>
              &nbsp;-----TS CODE-----<br/>
              export class ListDynamicComponent {{ '{' }}<br/>
              &nbsp;isCollapsed = false;<br/>
              &nbsp;clickToggle = function () {{ '{' }} <br/>
              &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
              &nbsp; {{ '}' }}<br/>
              {{ '}' }}<br/>
          </code>
      </div>
    </div>

    <div class="col-12 no-padding padding-top-large">
      <p class="H6-heading">Two Line (Text + Icon)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle16()" [ngClass]="{'border-2px': !isCollapsed16, 'border-none': isCollapsed16}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Two-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 pl-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed16,'arrow-up arrowup_rotation':isCollapsed16}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed16" [ngClass]="{'border-none': !isCollapsed16, 'border-2px': isCollapsed16}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle17()" [ngClass]="{'border-2px': !isCollapsed17, 'border-none': isCollapsed17}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Two-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed17,'arrow-up arrowup_rotation':isCollapsed17}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed17" [ngClass]="{'border-none': !isCollapsed17, 'border-2px': isCollapsed17}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx9Code = !showListEx9Code" class="legal-link"> {{showListEx9Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx9Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                &lt;ul class="list-group"><br/>
                &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
                &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
                &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                &nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Two-Line item&lt;/p><br/>
                &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text<br/>
                &nbsp;&nbsp;&nbsp;&nbsp; lorem ipsum dolor sit amet, consectetur&lt;/p><br/>
                &nbsp;&nbsp;&lt;/div><br/>
                &nbsp;&lt;/div><br/>
                &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                &nbsp;&nbsp;&lt;i class="fa fa-square pull-right box-style">&lt;/i><br/>
                &nbsp;&lt;div class="pl-2"><br/>
                &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
                &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
                &nbsp;&lt;/div><br/>
                &nbsp;&lt;/div><br/>
                &lt;/li><br/>
                &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
                &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
                &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
                &lt;/div><br/>
                &lt;/ul><br/>
                &nbsp;-----TS CODE-----<br/>
                export class ListDynamicComponent {{ '{' }}<br/>
                &nbsp;isCollapsed = false;<br/>
                &nbsp;clickToggle = function () {{ '{' }} <br/>
                &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
                &nbsp; {{ '}' }}<br/>
                {{ '}' }}<br/>
            </code>
      </div>
    </div>

    <div class="col-12 no-padding padding-top-large">
      <p class="H6-heading">Two Line (Text Only)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle18()" [ngClass]="{'border-2px': !isCollapsed18, 'border-none': isCollapsed18}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Two-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 pl-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed18,'arrow-up arrowup_rotation':isCollapsed18}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed18" [ngClass]="{'border-none': !isCollapsed18, 'border-2px': isCollapsed18}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle19()" [ngClass]="{'border-2px': !isCollapsed19, 'border-none': isCollapsed19}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Two-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed19,'arrow-up arrowup_rotation':isCollapsed19}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed19" [ngClass]="{'border-none': !isCollapsed19, 'border-2px': isCollapsed19}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx10Code = !showListEx10Code" class="legal-link"> {{showListEx10Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx10Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                  &lt;ul class="list-group"><br/>
                  &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
                  &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
                  &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                  &nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                  &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Two-Line item&lt;/p><br/>
                  &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp; lorem ipsum dolor sit amet, consectetur&lt;/p><br/>
                  &nbsp;&nbsp;&lt;/div><br/>
                  &nbsp;&lt;/div><br/>
                  &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                  &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
                  &nbsp;&lt;/div><br/>
                  &lt;/li><br/>
                  &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
                  &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
                  &lt;/div><br/>
                  &lt;/ul><br/>
                  &nbsp;-----TS CODE-----<br/>
                  export class ListDynamicComponent {{ '{' }}<br/>
                  &nbsp;isCollapsed = false;<br/>
                  &nbsp;clickToggle = function () {{ '{' }} <br/>
                  &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
                  &nbsp; {{ '}' }}<br/>
                  {{ '}' }}<br/>
              </code>
      </div>
    </div>


    <div class="col-12 no-padding padding-top-large">
      <p class="H6-heading">Two Line (Text Only - No Divider )</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center border-bottom-0" (click)="clickToggle20()" [ngClass]="{'border-2px': !isCollapsed20, 'border-none': isCollapsed20}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Two-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 pl-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed20,'arrow-up arrowup_rotation':isCollapsed20}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed20" [ngClass]="{'border-none': !isCollapsed20, 'border-2px': isCollapsed20}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center border-bottom-0" (click)="clickToggle21()" [ngClass]="{'border-2px': !isCollapsed21, 'border-none': isCollapsed21}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Two-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed21,'arrow-up arrowup_rotation':isCollapsed21}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed21" [ngClass]="{'border-none': !isCollapsed21, 'border-2px': isCollapsed21}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx15Code = !showListEx15Code" class="legal-link"> {{showListEx15Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx15Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                    &lt;ul class="list-group"><br/>
                    &lt;li class="list-group-item d-flex align-items-center border-bottom-0" (click)="clickToggle()"<br/>
                    &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
                    &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                    &nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                    &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Two-Line item&lt;/p><br/>
                    &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; lorem ipsum dolor sit amet, consectetur&lt;/p><br/>
                    &nbsp;&nbsp;&lt;/div><br/>
                    &nbsp;&lt;/div><br/>
                    &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                    &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
                    &nbsp;&lt;/div><br/>
                    &lt;/li><br/>
                    &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
                    &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
                    &lt;/div><br/>
                    &lt;/ul><br/>
                    &nbsp;-----TS CODE-----<br/>
                    export class ListDynamicComponent {{ '{' }}<br/>
                    &nbsp;isCollapsed = false;<br/>
                    &nbsp;clickToggle = function () {{ '{' }} <br/>
                    &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
                    &nbsp; {{ '}' }}<br/>
                    {{ '}' }}<br/>
                </code>
      </div>
    </div>
    <div class="col-12 no-padding">
        <p class="H6-heading">Two Line (Disabled)</p>
    </div>
  
      <div class="col-12 no-padding">
        <ul class="list-group">
          <li class="list-group-item d-flex align-items-center border-2px listDisable">
            <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large" >
                <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
                    <div class="pr-4 pl-0">
                      <p class="Display6 mb-0">Two-Line item</p>
                      <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                  </div>
              <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
               <span class="pull-right arrow-down"></span>
              </div>
            </div>
          </li>
  
          <li class="list-group-item d-flex align-items-center border-2px listDisable">
            <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large">
                <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
                    <div class="pr-4 pl-0">
                      <p class="Display6 mb-0">Two-Line item</p>
                      <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                  </div>
                  <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
                      <span class="pull-right arrow-down"></span>
                     </div>
            </div>
          </li>
        </ul>
      </div>
  
      <div class="col-12 no-padding padding-vertical-small">
        <a (click)="showListEx18Code = !showListEx18Code" class="legal-link"> {{showListEx18Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showListEx18Code" class="padding-top-small">
            <code class=" language-markup brand-magenta d-block border">
                &lt;ul class="list-group"><br/>
                &lt;li class="list-group-item d-flex align-items-center border-2px listDisable"&lt;/i><br/>
                &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                &nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Two-Line item&lt;/p><br/>
                &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text<br/>
                &nbsp;&nbsp;&nbsp;&nbsp; lorem ipsum dolor sit amet, consectetur&lt;/p><br/>
                &nbsp;&nbsp;&lt;/div><br/>
                &nbsp;&lt;/div><br/>
                &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                &nbsp;&nbsp;&lt;i class="pull-right arrow-down"&lt;/i><br/>
                &nbsp;&lt;/div><br/>
                &lt;/li><br/>
                &lt;/ul><br/>
            </code>
        </div>
      </div>


    <div class="col-12 no-padding padding-top-large">
      <p class="H6-heading">Three Line List</p>
      <p class="H6-heading">Three Line (Avatar + Text + Icon)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle4()" [ngClass]="{'border-2px': !isCollapsed4, 'border-none': isCollapsed4}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <div class="pr-4 pl-4">
                <p class="Display6 mb-0">Three-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                  nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 pl-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed4,'arrow-up arrowup_rotation':isCollapsed4}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed4" [ngClass]="{'border-none': !isCollapsed4, 'border-2px': isCollapsed4}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle5()" [ngClass]="{'border-2px': !isCollapsed5, 'border-none': isCollapsed5}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <div class="pr-4 pl-4">
                <p class="Display6 mb-0">Three-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                  nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed5,'arrow-up arrowup_rotation':isCollapsed5}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed5" [ngClass]="{'border-none': !isCollapsed5, 'border-2px': isCollapsed5}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx3Code = !showListEx3Code" class="legal-link"> {{showListEx3Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx3Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
              &lt;ul class="list-group"<br/>
              &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
              &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
              &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
              &nbsp;&nbsp;&lt;i class="fa fa-circle circle-style">&lt;/i><br/>
              &nbsp;&nbsp;&lt;div class="pr-4 pl-4"><br/>
              &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Three-Line item&lt;/p><br/>
              &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nullam id<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante.&lt;/p><br/>
              &nbsp;&nbsp;&lt;/div><br/>
              &nbsp;&lt;/div><br/>
              &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
              &nbsp;&nbsp;&lt;i class="fa fa-square pull-right box-style">&lt;/i><br/>
              &nbsp;&lt;div class="pl-2"><br/>
              &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
              &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
              &nbsp;&lt;/div><br/>
              &nbsp;&lt;/div><br/>
              &lt;/li><br/>
              &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
              &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
              &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
              &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
              &lt;/div><br/>
              &lt;/ul><br/>
              &nbsp;-----TS CODE-----<br/>
              export class ListDynamicComponent {{ '{' }}<br/>
              &nbsp;isCollapsed = false;<br/>
              &nbsp;clickToggle = function () {{ '{' }} <br/>
              &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
              &nbsp; {{ '}' }}<br/>
              {{ '}' }}<br/>
          </code>
      </div>
    </div>


    <div class="col-12 no-padding padding-top-large">
      <p class="H6-heading">Three Line (Avatar + Text)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle22()" [ngClass]="{'border-2px': !isCollapsed22, 'border-none': isCollapsed22}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <div class="pr-4 pl-4">
                <p class="Display6 mb-0">Three-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                  nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 pl-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed22,'arrow-up arrowup_rotation':isCollapsed22}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed22" [ngClass]="{'border-none': !isCollapsed22, 'border-2px': isCollapsed22}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle23()" [ngClass]="{'border-2px': !isCollapsed23, 'border-none': isCollapsed23}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <i class="fa fa-circle circle-style"></i>
              <div class="pr-4 pl-4">
                <p class="Display6 mb-0">Three-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                  nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed23,'arrow-up arrowup_rotation':isCollapsed23}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed23" [ngClass]="{'border-none': !isCollapsed23, 'border-2px': isCollapsed23}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx11Code = !showListEx11Code" class="legal-link"> {{showListEx11Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx11Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                &lt;ul class="list-group"<br/>
                &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
                &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
                &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                &nbsp;&nbsp;&lt;i class="fa fa-circle circle-style">&lt;/i><br/>
                &nbsp;&nbsp;&lt;div class="pr-4 pl-4"><br/>
                &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Three-Line item&lt;/p><br/>
                &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nullam id<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante.&lt;/p><br/>
                &nbsp;&nbsp;&lt;/div><br/>
                &nbsp;&lt;/div><br/>
                &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
                &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
                &nbsp;&lt;/div><br/>
                &lt;/li><br/>
                &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
                &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
                &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
                &lt;/div><br/>
                &lt;/ul><br/>
                &nbsp;-----TS CODE-----<br/>
                export class ListDynamicComponent {{ '{' }}<br/>
                &nbsp;isCollapsed = false;<br/>
                &nbsp;clickToggle = function () {{ '{' }} <br/>
                &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
                &nbsp; {{ '}' }}<br/>
                {{ '}' }}<br/>
            </code>
      </div>
    </div>

    <div class="col-12 no-padding padding-top-large">
      <p class="H6-heading">Three Line (Text + Icon)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle24()" [ngClass]="{'border-2px': !isCollapsed24, 'border-none': isCollapsed24}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Three-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                  nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 pl-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed24,'arrow-up arrowup_rotation':isCollapsed24}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed24" [ngClass]="{'border-none': !isCollapsed24, 'border-2px': isCollapsed24}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle25()" [ngClass]="{'border-2px': !isCollapsed25, 'border-none': isCollapsed25}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Three-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                  nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
              <i class="fa fa-square pull-right box-style"></i>
              <div class="pl-2">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed25,'arrow-up arrowup_rotation':isCollapsed25}"></span>
              </div>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed25" [ngClass]="{'border-none': !isCollapsed25, 'border-2px': isCollapsed25}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx12Code = !showListEx12Code" class="legal-link"> {{showListEx12Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx12Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                  &lt;ul class="list-group"<br/>
                  &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
                  &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
                  &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                  &nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                  &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Three-Line item&lt;/p><br/>
                  &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nullam id<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante.&lt;/p><br/>
                  &nbsp;&nbsp;&lt;/div><br/>
                  &nbsp;&lt;/div><br/>
                  &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                  &nbsp;&nbsp;&lt;i class="fa fa-square pull-right box-style">&lt;/i><br/>
                  &nbsp;&lt;div class="pl-2"><br/>
                  &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
                  &nbsp;&lt;/div><br/>
                  &nbsp;&lt;/div><br/>
                  &lt;/li><br/>
                  &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
                  &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
                  &lt;/div><br/>
                  &lt;/ul><br/>
                  &nbsp;-----TS CODE-----<br/>
                  export class ListDynamicComponent {{ '{' }}<br/>
                  &nbsp;isCollapsed = false;<br/>
                  &nbsp;clickToggle = function () {{ '{' }} <br/>
                  &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
                  &nbsp; {{ '}' }}<br/>
                  {{ '}' }}<br/>
              </code>
      </div>
    </div>

    <div class="col-12 no-padding padding-top-large">
      <p class="H6-heading">Three Line (Text Only)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" (click)="clickToggle26()" [ngClass]="{'border-2px': !isCollapsed26, 'border-none': isCollapsed26}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Three-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                  nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 pl-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed26,'arrow-up arrowup_rotation':isCollapsed26}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed26" [ngClass]="{'border-none': !isCollapsed26, 'border-2px': isCollapsed26}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center" (click)="clickToggle27()" [ngClass]="{'border-2px': !isCollapsed27, 'border-none': isCollapsed27}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Three-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                  nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed27,'arrow-up arrowup_rotation':isCollapsed27}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed27" [ngClass]="{'border-none': !isCollapsed27, 'border-2px': isCollapsed27}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx13Code = !showListEx13Code" class="legal-link"> {{showListEx13Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx13Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                    &lt;ul class="list-group"<br/>
                    &lt;li class="list-group-item d-flex align-items-center" (click)="clickToggle()"<br/>
                    &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
                    &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                    &nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                    &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Three-Line item&lt;/p><br/>
                    &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nullam id<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante.&lt;/p><br/>
                    &nbsp;&nbsp;&lt;/div><br/>
                    &nbsp;&lt;/div><br/>
                    &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                    &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
                    &nbsp;&lt;/div><br/>
                    &lt;/li><br/>
                    &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
                    &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
                    &lt;/div><br/>
                    &lt;/ul><br/>
                    &nbsp;-----TS CODE-----<br/>
                    export class ListDynamicComponent {{ '{' }}<br/>
                    &nbsp;isCollapsed = false;<br/>
                    &nbsp;clickToggle = function () {{ '{' }} <br/>
                    &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
                    &nbsp; {{ '}' }}<br/>
                    {{ '}' }}<br/>
                </code>
      </div>
    </div>

    <div class="col-12 no-padding padding-top-large">
      <p class="H6-heading">Three Line (Text Only - No Divider)</p>
    </div>

    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center border-bottom-0" (click)="clickToggle28()" [ngClass]="{'border-2px': !isCollapsed28, 'border-none': isCollapsed28}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Three-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                  nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 pl-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed28,'arrow-up arrowup_rotation':isCollapsed28}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed28" [ngClass]="{'border-none': !isCollapsed28, 'border-2px': isCollapsed28}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>

        <li class="list-group-item d-flex align-items-center border-bottom-0" (click)="clickToggle29()" [ngClass]="{'border-2px': !isCollapsed29, 'border-none': isCollapsed29}">
          <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large div-ripple" appButtonripple>
            <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
              <div class="pr-4 pl-0">
                <p class="Display6 mb-0">Three-Line item</p>
                <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                  nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
              </div>
            </div>
            <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!isCollapsed29,'arrow-up arrowup_rotation':isCollapsed29}"></span>
            </div>
          </div>
        </li>
        <div *ngIf="isCollapsed29" [ngClass]="{'border-none': !isCollapsed29, 'border-2px': isCollapsed29}" class="padding-bottom-large">
          <p class="text-center mb-0 pt-3 pb-3" style="border-style: dotted;border-color:#cccccc">Expanded Content</p>
        </div>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx14Code = !showListEx14Code" class="legal-link"> {{showListEx14Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx14Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                      &lt;ul class="list-group"<br/>
                      &lt;li class="list-group-item d-flex align-items-center border-bottom-0" (click)="clickToggle()"<br/>
                      &nbsp;&nbsp; [ngClass]={{ '{' }}'border-2px': !isCollapsed, 'border-none': isCollapsed{{ '}' }}<br/>
                      &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                      &nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                      &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Three-Line item&lt;/p><br/>
                      &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem<br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nullam id<br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante.&lt;/p><br/>
                      &nbsp;&nbsp;&lt;/div><br/>
                      &nbsp;&lt;/div><br/>
                      &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                      &nbsp;&nbsp;&lt;i class="pull-right cursor" [ngClass]={{ '{' }}'arrow-down arrowdown_rotation':<br/>
                      &nbsp;&nbsp;&nbsp;&nbsp; !isCollapsed, 'arrow-up arrowup_rotation': isCollapsed{{ '}' }}>&lt;/i><br/>
                      &nbsp;&lt;/div><br/>
                      &lt;/li><br/>
                      &lt;div *ngIf="isCollapsed" [ngClass]={{ '{' }}'border-none': !isCollapsed, 'border-2px':<br/>
                      &nbsp;&nbsp;&nbsp;&nbsp; isCollapsed{{ '}' }} class="padding-bottom-large"><br/>
                      &nbsp;&lt;p class="text-center mb-0 pt-3 pb-3" style="border-style: <br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;dotted;border-color:#cccccc">Expanded Content&lt;/p><br/>
                      &lt;/div><br/>
                      &lt;/ul><br/>
                      &nbsp;-----TS CODE-----<br/>
                      export class ListDynamicComponent {{ '{' }}<br/>
                      &nbsp;isCollapsed = false;<br/>
                      &nbsp;clickToggle = function () {{ '{' }} <br/>
                      &nbsp;&nbsp;this.isCollapsed = !this.isCollapsed;<br/>
                      &nbsp; {{ '}' }}<br/>
                      {{ '}' }}<br/>
                  </code>
      </div>
    </div>
    <div class="col-12 no-padding">
        <p class="H6-heading">Three Line (Disabled)</p>
    </div>
  
      <div class="col-12 no-padding">
        <ul class="list-group">
          <li class="list-group-item d-flex align-items-center border-2px listDisable">
            <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large" >
                <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
                    <div class="pr-4 pl-0">
                        <p class="Display6 mb-0">Three-Line item</p>
                        <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                          nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
                    </div>
                  </div>
              <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
               <span class="pull-right arrow-down"></span>
              </div>
            </div>
          </li>
  
          <li class="list-group-item d-flex align-items-center border-2px listDisable">
            <div class="col-12 no-padding d-flex padding-top-large padding-bottom-large">
                <div class="col-9 col-sm-10 no-padding d-flex align-items-center">
                    <div class="pr-4 pl-0">
                        <p class="Display6 mb-0">Three-Line item</p>
                        <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                          nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
                    </div>
                  </div>
                  <div class="col-3 col-sm-2 pr-0 d-flex align-items-center justify-items-end">
                      <span class="pull-right arrow-down"></span>
                     </div>
            </div>
          </li>
        </ul>
      </div>
  
      <div class="col-12 no-padding padding-vertical-small">
        <a (click)="showListEx19Code = !showListEx19Code" class="legal-link"> {{showListEx19Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showListEx19Code" class="padding-top-small">
            <code class=" language-markup brand-magenta d-block border">
                &lt;ul class="list-group"><br/>
                &lt;li class="list-group-item d-flex align-items-center border-2px listDisable"&lt;/i><br/>
                &nbsp;&lt;div class="col-10 no-padding d-flex align-items-center"><br/>
                &nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                &nbsp;&nbsp;&nbsp;&lt;p class="Display6 mb-0">Three-Line item&lt;/p><br/>
                &nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nullam id<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante.&lt;/p><br/>
                &nbsp;&nbsp;&lt;/div><br/>
                &nbsp;&lt;/div><br/>
                &nbsp;&lt;div class="col-2 pr-0 d-flex align-items-center justify-items-end"><br/>
                &nbsp;&nbsp;&lt;i class="pull-right arrow-down"&lt;/i><br/>
                &nbsp;&lt;/div><br/>
                &lt;/li><br/>
                &lt;/ul><br/>
            </code>
        </div>
      </div>

    <div class="col-12 padding-bottom-small no-padding">
      <p class="H6-heading">Selection List</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center div-ripple" appButtonripple>
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-0 pl-4">
              <p class="Display6  pl-4 mb-0">Kitty</p>
              <p class="body  pl-4 mb-0">(425) 555 - 1111</p>
              <p class="body  pl-4 mb-0">iPhone 6S</p>
            </div>
          </div>
          <div class="col-1 pr-0 pull-right d-flex align-items-center justify-items-end">
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <div class="indicator">
                  <span class="check1"></span>
                </div>
              </label>
            </div>
          </div>

        </li>
        <li class="list-group-item d-flex align-items-center div-ripple" appButtonripple>
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-0 pl-4">
              <p class="Display6  pl-4 mb-0">Jay</p>
              <p class="body  pl-4 mb-0">(425) 555 - 5514</p>
              <p class="body  pl-4 mb-0">Nokia 5150</p>
            </div>
          </div>
          <div class="col-1 pr-0 pull-right d-flex align-items-center justify-items-end">
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <div class="indicator">
                  <span class="check1"></span>
                </div>
              </label>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center div-ripple" appButtonripple>
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-0 pl-4">
              <p class="Display6  pl-4 mb-0">K.T</p>
              <p class="body  pl-4 mb-0">(425) 555 - 7826</p>
              <p class="body  pl-4 mb-0">Samsung Galaxy S4</p>
            </div>
          </div>
          <div class="col-1 pr-0 pull-right d-flex align-items-center justify-items-end">
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <div class="indicator">
                  <span class="check1"></span>
                </div>
              </label>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center div-ripple" appButtonripple>
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-0 pl-4">
              <p class="Display6  pl-4 mb-0">Tierney</p>
              <p class="body  pl-4 mb-0">(425) 555 - 3444</p>
              <p class="body  pl-4 mb-0">iPhone 7</p>
            </div>
          </div>
          <div class="col-1 pr-0 pull-right d-flex align-items-center justify-items-end">
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <div class="indicator">
                  <span class="check1"></span>
                </div>
              </label>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center div-ripple" appButtonripple>
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-0 pl-4">
              <p class="Display6  pl-4 mb-0">Megan</p>
              <p class="body  pl-4 mb-0">(425) 555 - 0334</p>
              <p class="body  pl-4 mb-0">iPhone 6</p>
            </div>
          </div>
          <div class="col-1 pr-0 pull-right d-flex align-items-center justify-items-end">
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <div class="indicator">
                  <span class="check1"></span>
                </div>
              </label>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx16Code = !showListEx16Code" class="legal-link"> {{showListEx16Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx16Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
            &lt;ul class="list-group"><br/>
            &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
            &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
            &nbsp;&nbsp;&nbsp;&lt;i class="fa fa-circle circle-style">&lt;/i><br/>
            &nbsp;&nbsp;&nbsp;&lt;div class="pr-0 pl-4"><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="Display6  pl-4 mb-0">Kitty&lt;/p><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body  pl-4 mb-0">(425) 555 - 1111&lt;/p><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body  pl-4 mb-0">iPhone 6S&lt;/p><br/>
            &nbsp;&nbsp;&nbsp;&lt;/div><br/>
            &nbsp;&nbsp;&lt;/div><br/>
            &nbsp;&nbsp;&lt;div class="col-1 pr-0 pull-right d-flex align-items-center justify-items-end"><br/>
            &nbsp;&nbsp;&nbsp;&lt;div class="checkbox"><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;label><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="checkbox"><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="indicator"><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="check1">&lt;/span><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/label><br/>
            &nbsp;&nbsp;&nbsp;&lt;/div><br/>
            &nbsp;&nbsp;&lt;/div><br/>
            &nbsp;&lt;/li><br/>
            &lt;/ul>
         </code>
      </div>
    </div>
  </div>
</div>