<div class="TMO-LINE-SELECTOR">
  <div class="container overflowHidden">
      <app-header></app-header>
    <div class="main-content">
      <div class="row fade-in-effect">
        <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 padding-top-large padding-bottom-small padding-vertical-medium-xs "
          *ngFor="let item of LineSelectorData?.title; let j = index;" id="lineSelector-title">
          <p class="Display3" ><span tabindex="0" [attr.aria-label]="item.title">{{item.title}}</span>
          </p>
        </div>
      </div>
      <div class="row padding-bottom-xxxl">
        <div class="col-12 offset-md-1 col-md-10 col-lg-10 offset-lg-1 d-lg-flex flex-wrap no-padding-xs">
          <div class="col-12 col-md-6 col-lg-6 no-padding-xs full-bleed-divider-top-xs p-t-24-lg"
            *ngFor="let detail of LineSelectorData?.details; let i = index;"
            [ngClass]="{'p-l-0-lg p-l-0-md': (i+1)%2 !== 0 , 'p-r-0-lg p-r-0-md': (i+1)%2 === 0, 'full-bleed-divider-bottom-xs': i==(LineSelectorData?.details.length-1)}" tabindex="-1">
            <div appButtonripple  class="col-12 col-lg-12 gm-noScroll hidden padding-medium divShadow cursor-pointer justify-content-between h-fixed align-items-center" tabindex="0" [attr.aria-label]="'selected line '+ detail.name ">
              <div class="col-9 no-padding pull-left" tabindex="-1" x-ms-format-detection="none">
                      <span *ngIf="detail.isTidalComplete === 'No'" [tabindex]="0"  aria-label="FINISH
                      ACTIVATING TIDAL" class="legal padding-bottom-base padding-bottom-xsmall-xs padding-bottom-xsmall-sm brand-magenta height-16"  >FINISH ACTIVATING TIDAL</span>
                        <span  *ngIf="detail.tidalType === 'Premium'" [tabindex]=" 0 "  aria-label="YOU HAVE TIDAL
                        PREMIUM" class="legal padding-bottom-base padding-bottom-xsmall-xs padding-bottom-xsmall-sm color-green height-16" >YOU HAVE TIDAL PREMIUM</span> 
                  <p class="Display6" tabindex="-1" *ngIf="detail.name" >
                    <span tabindex="0" [attr.aria-label]="detail.name">{{detail.name}}</span></p>
                  <p class="padding-bottom-xsmall"
                   [ngClass]="{'body padding-top-xsmall': detail.name !== '', 'Display6': detail.name === ''}" tabindex="-1"><span tabindex="0" [attr.aria-label]="'phone number'+ detail.number" x-ms-format-detection="none">{{detail.number}}</span></p>
                  <p class="legal" tabindex="0" [attr.aria-label]=" detail.manufacture + detail.phoneModel + detail.capacity + detail.color">{{detail.manufacture}} {{detail.phoneModel}} {{detail.capacity}} {{detail.color}}</p>
              </div>
              <div class="col-3 no-padding pull-right padding-horizontal-medium" >
                <img src="{{detail.fullImage}}" class="imgDim" tabindex="0" [attr.aria-label]="detail.manufacture + detail.phoneModel + 'image '">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div> 
</div>
<!-- [ngClass]="isTmoHeader ? 'hd-header' : 'hd-d-none'"

[ngClass]="{'d-table': this.showFilterValues[j] && !mobileView,'d-none': !this.showFilterValues[j] && mobileView && !showMoreVar}"  -->