@import "src/assets/scss/global-variables.scss";
.TMO-LINE-SELECTOR{
  
.justify-content-between{  justify-content: space-between;}
.align-items-center{  
  align-items: center !important;   
  display: flex !important;
}
.m-l-32{  margin-left: 32px;}
.p-l-0{  padding-left: 0px !important;}
.p-r-0{  padding-right: 0px !important;}
.cursor-pointer{cursor: pointer;}
.color-green{  color: #078a14;}
.d-contents{  display: contents;}
.height-16{  height: 16px;}
.imgDim {  width: 45px;}
.p-b-32{  padding-bottom: 32px;}
.hidden{overflow: hidden;}
.display-none{ display:none;}

@media #{$tablets-md}, #{$desktops-lg}, #{$desktops-xl} {
    .divShadow {      border: solid 1px #cccccc;    }
    .divShadow:hover {      box-shadow: 0 0 6px 3px #cccccc;    }
    .div_shadow_box {
      border: solid 1px #cccccc;
      margin: auto;
    }
    .div_shadow_box:hover {
      box-shadow: 0 0 6px 3px #cccccc;
      border: solid 1px #cccccc;
    }
 
  .d-lg-flex{    display: flex;  }
  .flex-wrap{    flex-wrap: wrap;  }
  .p-t-24-lg{    padding-top:24px;  }
  .p-l-0-lg { padding-left: 0px; }
  .p-r-0-lg { padding-right: 0px; }
}
@media #{$tablets-md}{
.h-fixed {      height: 150px !important;    }
}
@media #{$desktops-lg}, #{$desktops-xl} 
{
  .h-fixed {      height: 144px !important;    }
}
@media #{$smartphones-xs}, #{$smartphones-sm}{
   .no-padding-xs
   {
    padding-right: 0px;
    padding-left: 0px;
  }
  .divShadow:hover {    box-shadow: none;  }
  .p-t-8-md{    padding-top: 8px;  }
  .imgDim {    width: 40px;  }
  .full-bleed-divider-top-xs {    border-top: 8px solid #f2f2f2;  }
  .full-bleed-divider-bottom-xs{    border-bottom: 8px solid #f2f2f2;  }
}
}