<div class="TMO-PLAN-COMPARISON-BLADE-PAGE">
  <div class="row" *ngFor="let details of reviewDetails;let i = index">
    <div class="col-12  col-md-10 offset-md-1 padding-top-small padding-top-medium-md padding-top-medium-lg padding-top-medium-xl p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
      <div class="inset-divider-4px"></div>
    </div>
    <div class="col-12 col-md-10 offset-md-1 padding-top-medium" *ngIf=" details.title!='' ">
      <p class="H6-heading gray60">{{details.title}}</p>
    </div>
    <div class="col-12 col-md-10 offset-md-1 padding-top-small cursor" *ngFor="let data of details['data'];let k = index" [routerLink]="reviewDetails[i]['data'][k]['url']"
      routerLinkActive="active">
      <div class="d-flex" [ngClass]="{'align-items-center':data.effectiveDate == ''}">
        <div class="col-7 col-sm-8 pl-0">
          <p class="Display6 ">{{data.name}}</p>
          <p class="body pt-1" *ngIf="data.subTitle != '' ">{{data.subTitle}}</p>
          <p x-ms-format-detection="none" class="body pt-2" *ngIf="data.phNo != '' ">{{data.phNo}}</p>
          <p class="body gray60 cursor padding-top-xsmall" *ngIf="data.effectiveDate != '' ">{{data.effectiveDate}}</p>
          <p class="body-bold" *ngIf="data.planName != '' ">{{data.planName}}</p>
        </div>
        <div class="col-5 col-sm-4 no-padding">
          <span class="d-inline-flex align-items-center pull-right H6-heading">
            <span class="pr-2">{{data.price}}</span>
            <i class="cursor arrow-right-gray60"></i>
          </span>
        </div>
      </div>
      <div class="col-12 no-padding padding-top-small padding-top-medium-md padding-top-medium-lg padding-top-medium-xl" *ngIf="k != (details['data'].length-1)">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="col-12  col-md-10 offset-md-1 padding-top-small padding-top-medium-md padding-top-medium-lg padding-top-medium-xl p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm"
      *ngIf="i == (reviewDetails.length-1)">
      <div class="inset-divider-4px"></div>
    </div>
  </div>
</div>