<div class="TMO-INSESSION-PAGE">
  <div class="padding-bottom-large" *ngIf="inSessionPageData">
    <div class="bg-f8f8f8">
      <div class="container">
        <div class="row" *ngIf="inSessionPageData.infoMsg">
          <div class="col-12 col-md-10 offset-md-1 d-flex padding-vertical-medium padding-bottom-small-xs padding-bottom-small-sm">
            <p class="body black col-9 col-md-10 pl-0 ellipsis-text">
              <span tabindex="0" [attr.aria-label]="'New '+inSessionPageData.infoMsg">
                <span class="body-bold black">New</span>: {{inSessionPageData.infoMsg}}</span>
            </p>
            <span class="pull-right text-right body-link col-3 col-md-2 pr-0 cursor" (click)="openGoToWallet()" id="moreInfoLink" (keydown.enter)="openGoToWallet()">
              <span tabindex="0" aria-label="click here for More info">More info</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="" *ngIf="inSessionPageData.infoMsg">
      <div class="inset-divider-1px"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 padding-top-medium Display4 text-center" [ngClass]="{'padding-bottom-medium':!inSessionPageData.titleSubDesc}">
          <span tabindex="0" [attr.aria-label]="inSessionPageData.titleDesc">{{inSessionPageData.titleDesc}}</span>
        </div>
        <div *ngIf="inSessionPageData.titleSubDesc" class="col-12 padding-vertical-medium padding-top-small-xs padding-top-small-sm body black text-center">
          <span tabindex="0" [attr.aria-label]="inSessionPageData.titleSubDesc">{{inSessionPageData.titleSubDesc}}</span>
        </div>
      </div>
    </div>
    <div class="">
      <div class="full-bleed-divider"></div>
    </div>
    <div class="container">
      <div class="row" *ngFor="let data of inSessionPageData.cardDetails;let i=index;">
        <!-- <div class="row">
      <div class="col-12"> -->
        <app-in-session-radio-button-payment-blade class="col-12" [icon]="data.icon" [cardTitle]="data.name" [radioButtonId]="i+1"
          [cardNumber]="data.number" [action]="data.action" [expiryDate]="data.expiryDate" [descData]="data.desc" (selectButtonDisabled)="selectButtonDisabled($event)"
          [radioBtnChecked]="radioBtnChecked" (radioButtonChecked)=radioButtonChecked($event) (callBackValue)="deleteModalOpen($event)"
          [parentSubject]="parentSubject">
        </app-in-session-radio-button-payment-blade>
        <!-- </div>
    </div> -->
      </div>
      <div *ngFor="let card of inSessionPageData.addPayDetail;let i=index;">
        <div class="row">
          <div class="col-12">
            <cardpaymentblade [title]="card.name" [titleClass]="'Display6'" [lefticon]="card.icon" [url]="card.url" [disableBlade]="inSessionPageData.cardDetails.length>=10"></cardpaymentblade>
          </div>
        </div>
      </div>
      <div class="row no-padding  padding-vertical-large padding-vertical-medium-xs padding-vertical-medium-sm">
        <div class="col-12 col-md-8  offset-md-2 text-center  ">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
            <button class="PrimaryCTA w-100 full-btn-width float-md-left float-lg-left float-xl-left" [attr.disabled]="inSessionPageData.cardDetails.length==0||selectBtnDisabled?'disabled':null"
              appButtonripple [tabindex]="inSessionPageData.cardDetails.length==0||selectBtnDisabled?-1:0" role="button" aria-label="click here to Select payment method">Select payment method</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
            <button class="SecondaryCTA blackCTA w-100 full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple role="button"
              tabindex="0" aria-label="click here to cancel">Cancel</button>
          </div>
        </div>
      </div>
      <!--Payment wallet model starts-->
      <div class="dialog-container">
        <div class="dialog animation-out" [ngClass]="{'animation-in':visible}" tabindex="-1" id="goToWalletModal" (keydown)="backTabEvent($event,'goToWalletModal','goToWalletBtnId')" (keydown.escape)="close()">
          <div *ngIf="visible">
            <div class="row no-margin text-center padding-top-small-md padding-top-small-lg padding-top-small-xl padding-bottom-medium">
              <span mat-dialog-title class="col-12 col-md-10 offset-md-1 no-padding Display4 text-center" tabindex="0" aria-label="You now have a payments wallet">You now have a payments wallet.</span>
            </div>
            <div class="row no-margin">
              <div class="col-12 col-md-10 offset-md-1 no-padding body black text-center">
                <p class="" tabindex="0" aria-label=" Save up to 10 payment methods in your own secure, personal wallet.">Save up to 10 payment methods in your own secure, personal wallet. </p>
                <p tabindex="0" aria-label="Just re-enter card/bank info once to save."> Just re-enter card/bank info once to save.</p>
              </div>
            </div>
            <div class="row no-margin text-center padding-horizontal-xsmall padding-bottom-xsmall-xs padding-bottom-xsmall-sm px-md-0 padding-top-xl">
              <div class="col-12 no-padding modal-button-div-xs">
                <button class="PrimaryCTA-accent pull-right margin-left-small margin-left-xsmall-xs modal-button-width-xs" appButtonripple
                  (click)="close()" (keydown.enter)="close()" tabindex="0" aria-label="Click here to Close" role="button" id="closeBtnId">Close</button>
                <button class="SecondaryCTA-accent blackCTA pull-right modal-button-width-xs padding-horizontal-base-xs" appButtonripple
                  role="button" tabindex="0" aria-label="Click here to go to wallet" (click)="close()" (keydown.enter)="close()"
                  (keydown.tab)="walletModalFocus()" id="goToWalletBtnId">Go to wallet</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="visible" class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
      </div>
      <!--Payment wallet model ends-->
      <!--Delete  model starts-->
      <div class="dialog-container">
        <div class="dialog animation-out" [ngClass]="{'animation-in':deleteModalVisible}" id="deleteModal" tabindex="-1" (keydown)="backTabEvent($event,'deleteModal','cancelBtnId')" (keydown.escape)="closeChildModal()">
          <div *ngIf="deleteModalVisible">
            <div class="row no-margin text-center padding-top-xsmall">
              <span mat-dialog-title class="col-12 col-md-10 offset-md-1 no-padding Display4 text-center" tabindex="0" aria-label="Are you sure you want to delete this card?">Are you sure you want to delete this card?</span>
            </div>
            <div class="row no-margin text-center padding-horizontal-xsmall padding-bottom-xsmall-xs padding-bottom-xsmall-sm px-md-0 padding-top-xl padding-top-large-xs padding-top-large-sm">
              <div class="col-12 no-padding modal-button-div-xs">
                <button class="PrimaryCTA-accent pull-right margin-left-small margin-left-xsmall-xs modal-button-width-xs" appButtonripple
                  (click)="closeChildModal()" (keydown.enter)="closeChildModal()" tabindex="0" aria-label="Click here to delete">Yes, Delete</button>
                <button class="SecondaryCTA-accent blackCTA pull-right modal-button-width-xs" appButtonripple role="button" tabindex="0"
                  aria-label="Click here to cancel" (click)="closeChildModal()" (keydown.enter)="closeChildModal()" (keydown.tab)="deleteModalFocus()" id="cancelBtnId">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="deleteModalVisible" class="overlay" (click)="closeChildModal()" [ngClass]="{'overlay-in':deleteModalVisible,'overlay-out':!deleteModalVisible}"></div>
      </div>
      <!--Delete wallet model ends-->
    </div>
  </div>
</div>