@import "src/assets/scss/global-variables.scss";
.TMO-INSESSION-PAGE{
    @media #{$smartphones-xs},
    #{$smartphones-sm} {
        .modal-button-div-xs {
            display: flex;
            flex-direction: row-reverse;
        }
        .modal-button-width-xs {
            width: 50%;
        }
        .margin-left-xsmall-xs {
            margin-left: $XS;
        }

    }
    @media #{$alldeviceexceptsmartphone} {
        .margin-left-small {
            margin-left: $S;
        }
    }
    .ellipsis-text {
        white-space: nowrap;
        overflow : hidden;
        text-overflow : ellipsis;
     }
     .bg-f8f8f8 {
         background-color: #f8f8f8;
     }
     @media #{$smartphones-xs} {
        .padding-horizontal-base-xs {
            padding-left: $Base;
            padding-right: $Base;
        }
    }
 }