<div class="TMO-PROFILE-PRIVACY-NOTIFICATION-NOTIFICATIONS">
    <div class="container">
        <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
          <div class="col-12">
            <p class="Display3 text-center">Notifications</p>
            <div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 padding-horizontal-xsmall padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
              <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
                [dropdownId]="dropdownId"></app-dropdown-selector>
            </div>
            <p class="body text-center pb-3 pb-md-4">Manage service alerts and policy updates.</p>
          </div>
          <div *ngFor="let option of notificationOptions;let i=index" class="col-12 col-md-8 offset-md-2">
              <app-profile-blade *ngIf="i < (notificationOptions.length-1); else bottomDivider" [titleText]='option.optionTitle' [titleDesc]='option.desc' [titleDesc2]="option.desc2" [icon]="option.icon" [switch]="option.switch" [url]="option.url" ></app-profile-blade>
              <ng-template #bottomDivider>
                <app-profile-blade [bottomDividerClass]="'inset-divider-1px'" [titleText]='option.optionTitle' [titleDesc]='option.desc' [titleDesc2]="option.desc2" [bottomDivider]=true [icon]="option.icon" [switch]="option.switch" [checkOpt]="option.checkOpt" [url]="option.url"></app-profile-blade>
              </ng-template>
            </div>
            <div class="col-12 col-md-10 offset-md-2 padding-top-xl padding-bottom-xxxl">
              <p class="legal">Changes will reflect within 10 business days. <a class="legal-link cursor" href="\privacyNotificationInterestBasedAds">View our Privacy Policy.</a></p>
            </div>
        </div>
      </div>
  </div>