<div class="TMO-MULTILINE-MODAL-PAGE">
<div class="container" id="conflictModalPage">
  <div class="row padding-vertical-xxl">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
      <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Multiline  Modal</button>
    </div>
  </div>
  <div class="dialog-container">
    <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
      <div class="row no-margin text-center">
        <span mat-dialog-title class="col-12 col-md-10 offset-md-1 no-padding black Display5 ">This service affects multiple lines.</span>
      </div>
      <div class="row no-margin padding-top-small">
        <div class="col-12 col-md-10 offset-md-1 no-padding text-center body"> By adding Netflix Premium $13.99 with FAM Allowances ($19 value) to this line, you are also adding it to other lines on your account. This service will be added to the following lines: 
          </div>
      </div>
      <div class="row no-margin padding-top-medium">
          <div class="col-12 col-md-10 offset-md-1 no-padding text-center body-bold black"> Matt Armstrong, (206) 555-1212 </div>
          <div class="col-12 col-md-10 offset-md-1 no-padding text-center body-bold black"> Matt Armstrong, (206) 555-6767 </div>
          <div class="col-12 col-md-10 offset-md-1 no-padding text-center body-bold black"> Matt Armstrong, (206) 555-8989 </div>
      </div>
      <div class="row mx-0 padding-top-80">
        <div class="col-12 no-padding">
            
              <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="close()">Add service</button>
              <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()">Cancel</button>
              
        
        </div>
      </div>
      </div>
  </div>
  <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
</div>
</div>