<div class="TMO-DEVICE-PROMO-LIST">
  <div class="container">
    <div class="row padding-top-xl padding-top-medium-sm padding-top-medium-xs">
      <div class="col-12 col-md-8 Display4 gray85">
        <span>My promotions</span>
      </div>
    </div>
    <div class="row padding-top-small">
      <div class="col-12 col-md-6">
        <span class="ts-body-copy">View
          details of your device and service promotions</span>
      </div>
    </div>
    <div class="row padding-top-xl no-padding">
      <div class="col-12 col-md-6 col-lg-6 no-padding">
        <div class="col-12 no-padding-xs no-scroll-xs">
          <main class="d-table d-md-flex no-padding">
            <div class="d-table-cell d-md-block text-center pl-2 pr-2 pl-md-0 pr-md-0"
              *ngFor="let data of dataArray,let j = index">
              <input id='tab{{j}}{{j}}' type="radio" name="tabs" class="d-none">
              <label tabindex="0" for='tab{{j}}{{j}}' (keydown.enter)="clickFun(j)"  (click)="clickFun(j)"
                class="width-md-220 mr-4 ml-0 body pb-2 text-center cursor full-width"
                [ngClass]="{'brand-magenta border-magenta body-bold':data.dataTabCheck}">{{data.tabTitle}}</label>
            </div>
          </main>
          <div class=" d-md-flex justify-content-md-center " *ngFor="let data of dataArray;let j = index">
            <div class="col-12 no-padding tab-content  padding-bottom-xl" *ngIf="j==0 && data.dataTabCheck"
              id='content{{j}}{{j}}'>
              <ng-template [ngIf]="promotionData" [ngIfElse]="empty">
                <div class="row padding-bottom-xsmall padding-top-xl"
                  *ngFor="let devicepromo of promotionData;let i=index;">
                  <div class="col-12 col-md-10">
                    <p class="mb-0 body black body-bold padding-bottom-xsmall"  x-ms-format-detection="none">
                      {{devicepromo.name +' ' + devicepromo.number}}</p>
                  </div>
                  <div class="col-12" *ngFor="let devicpromodetails of devicepromo['device-promo'];let k=index;">
                    <app-profile-blade [titleDescClass]="'no-padding-top'"
                      [titleDesc2Class]="'no-padding-top brand-magenta'"
                      [titleTextClass]="'body black body-bold no-padding-top'" [bottomDivider]="'true'"
                      [titleText]="devicpromodetails.titleText" [titleDesc]="devicpromodetails.titleDesc"
                      [titleDesc2]="devicpromodetails.titleDesc1"></app-profile-blade>
                  </div>
                </div>
              </ng-template>
              <ng-template #empty>
                <div class="padding-top-xxl text-center">
                  No device promos at this time
                </div>
              </ng-template>
            </div>
            <div class="col-12 no-padding tab-content padding-top-xl" *ngIf="j!=0 && data.dataTabCheck"
              id='content{{j}}{{j}}'>
              <ng-template [ngIf]="servicePromoData" [ngIfElse]="empty">
                <div class="row padding-bottom-xsmall" *ngFor="let servicepromo of servicePromoData;let i=index;">
                  <div class="col-12 col-md-10">
                    <p class="mb-0  body black body-bold padding-bottom-xsmall"  x-ms-format-detection="none">
                      {{servicepromo.name +' ' + servicepromo.number}}</p>
                  </div>
                  <div class="col-12" *ngFor="let servicepromodetails of servicepromo['device-promo'];let k=index;">
                    <app-profile-blade [titleDescClass]="'no-padding-top'" [titleDesc2Class]="'no-padding-top'"
                      [titleTextClass]="'body black body-bold no-padding-top'" [bottomDivider]="'true'"
                      [titleText]="servicepromodetails.titleText" [titleDesc]="servicepromodetails.titleDesc"
                      [titleDesc2]="servicepromodetails.titleDesc1"></app-profile-blade>
                  </div>
                </div>
              </ng-template>
              <ng-template #empty>
                <div class="padding-top-xxl text-center">
                  No Service promos at this time
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 padding-bottom-large body-copy" *ngIf="promotionData || servicePromoData">
      <a class="black text-decoration-underline no-wrap" routerLink="/pastpromos">View past promotions</a>
    </div>
  </div>
</div>