@import "src/assets/scss/global-variables.scss";

.TMO-DEVICE-PROMO-LIST{

   ::ng-deep .no-padding-top {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
   }

   ::ng-deep .active:focus {
        margin-bottom: 1px;
    }

}

