<div class="TMO-TMOBILE-NICK-NAME">
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <p class="Display3 text-center padding-top-large-xs padding-top-large-sm padding-bottom-large-xs padding-bottom-large-sm padding-top-xl padding-bottom-xl">T-Mobile ID</p>
      </div>
      <div class="col-12 no-padding">
          <div class="offset-1 col-10 offset-md-2 col-md-10">
            <p class="Display6 padding-top-medium padding-top-small-xs padding-top-small-sm bold">Name</p>
          </div>
          <form #name ="ngForm" >
              <div class="offset-1 col-10 offset-md-2 col-md-8 padding-top-medium">
                <div class="floatingLabel no-padding">
                  <input tabindex="1" type="text" id="firstName" appClearInput minlength="8" maxlength="50" pattern="[a-zA-Z\s\-\.]*" name="firstName" class="input body black"
                    [(ngModel)]="name.firstName" required #firstName="ngModel" [ngClass]="{'border-red':firstName.invalid && !firstName.pristine && !firstName.errors?.required}">
                  <label for="firstName" class="labelpointer" [ngClass]="[(firstName.invalid && !firstName.pristine && !firstName.errors?.required) ? 'legal color-red redClass' : '',
                (!firstName.invalid )   ? 'legal' : '',
                ( firstName.errors?.required ) ? 'body' : '']">First name</label>
                <div class="input-animation"></div>
                </div>
              </div>
              <div class="offset-1 col-10 offset-md-2 col-md-8 ">
                  <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="firstName.errors?.minlength">
                    Enter a valid name
                  </p>
                  <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="firstName.errors?.pattern && !firstName.errors?.minlength">
                  Enter a valid name
                  </p>
                  <span class="pull-right " *ngIf="firstName.invalid && !firstName.pristine && !firstName.errors?.required">
                    <i class="errormessageimg exclamation-error pull-right"></i>
                  </span>
                </div>
                <div class="offset-1 col-10 offset-md-2 col-md-8 padding-top-medium">
                    <div class="floatingLabel no-padding">
                      <input tabindex="1" type="text" id="lastName" appClearInput minlength="8" maxlength="50" pattern="[a-zA-Z\s\-\.]*" name="lastName" class="input body black"
                        [(ngModel)]="name.lastName" required #lastName="ngModel" [ngClass]="{'border-red':lastName.invalid && !lastName.pristine && !lastName.errors?.required}">
                      <label for="lastName" class="labelpointer" [ngClass]="[(lastName.invalid && !lastName.pristine && !lastName.errors?.required) ? 'legal color-red redClass' : '',
                    (!lastName.invalid )   ? 'legal' : '',
                    ( lastName.errors?.required ) ? 'body' : '']">Last name</label>
                    <div class="input-animation"></div>
                    </div>
                  </div>
                  <div class="offset-1 col-10 offset-md-2 col-md-8 ">
                      <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="lastName.errors?.minlength">
                        Enter a valid name
                      </p>
                      <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="lastName.errors?.pattern && !lastName.errors?.minlength">
                      Enter a valid name
                      </p>
                      <span class="pull-right " *ngIf="lastName.invalid && !lastName.pristine && !lastName.errors?.required">
                        <i class="errormessageimg exclamation-error pull-right"></i>
                      </span>
                    </div>  
          </form>
          <div class="offset-1 col-10 offset-md-2 col-md-8 padding-top-xl padding-bottom-xl d-flex">
              <div class="body checkbox">
                <label for=nickName>
                  <input class="legal" type="checkbox" id=nickName name=nickName checked>
                  <div class="legal indicator">
                    <span class="legal check1"></span>
                  </div>
                </label>
              </div>
              <p class="col-11 body">Make this the nickname for all lines linked to your T-Mobile ID.</p>
          </div>
          <div class="full-bleed-divider"></div>
          </div>
    </div>
    <div class="row no-padding  padding-vertical-xl">
      <div class="col-12 col-md-8  offset-md-2 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple [disabled]="!name.valid">Save</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Back</button>
        </div>
      </div>
  
    </div>
  </div>
</div>  