<div class="TMO-CANCEL-MODAL-PAGE">
<div class="container" id="conflictModalPage">
  <div class="row padding-top-xxl padding-bottom-xxl">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
      <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Cancel Payment</button>
    </div>
  </div>
  <div class="dialog-container">
    <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
      <div class="row no-margin text-center">
        <span mat-dialog-title class="col-12 no-padding black Display5 ">Cancel payment</span>
      </div>
      <div class="row no-margin padding-top-medium">
        <div class="col-12 no-padding text-center body">You have a scheduled payment of $XX.XX on xx/xx/xxxx using <span class="visa-icon vertical-align-middle"></span> <s> Checking</s> ****1234. No payment will be processed if you cancel.</div>
      </div>
      <div class="row mx-0 padding-top-medium ">
        <div class="col-12 no-padding padding-left-xsmall ">
              <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="close()">Cancel payment</button>
              <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()">Back</button>
          
        </div>
      </div>
      </div>
  </div>
  <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
</div>
</div>