@import "src/assets/scss/global-variables.scss";
.TMO-DOCU-SIGN-THANK-YOU {
    .mobileview {
        display: none;
      }
    @media #{$smartphones-xs},#{$smartphones-sm} {
        .main-content{
            min-height: calc(100vh - 97px);
        }
        .mobileview {
            display: block;
          }
    }
    .cursor:hover {
        color:$brand-magenta;
    }
   
}