<div class="TMO-DOCU-SIGN-THANK-YOU">
  <div class="container">
    <div class="row">
      <div class="col-12 padding-top-xl main-content no-padding">
        <div class="padding-top-xl text-center padding-horizontal-large">
          <i class="validated_outline_magenta-72px d-inline-block"></i>
        </div>
        <p class="H3-heading padding-top-medium text-center padding-horizontal-large">{{details.title}}!</p>
        <p class="col-md-10 offset-md-1 body padding-top-small black text-center padding-horizontal-large">
          Your Visa ending in {{details.cardNo}} was charged ${{details.amount}} on {{details.month}} {{details.date}}, {{details.year}}
        </p>
        <p class="legal padding-top-xsmall text-center padding-horizontal-large">
          Allow up to two hours for this payment to post on your account.
        </p>
        <div class="body-link cursor text-center padding-top-medium padding-horizontal-large">
          <a *ngIf="showDetails" (click)="clickFun()">Show details</a>
          <a *ngIf="!showDetails" (click)="clickFun()">Hide details</a>
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-top-medium  padding-horizontal-xsmall-xl-xs padding-horizontal-large-xs padding-horizontal-xsmall-xl-sm padding-horizontal-large-sm text-center" *ngIf="!showDetails">
          <p class="body"> Order number: {{details.orderNo}}</p>
          <p class="body">Oder date {{details.orderDate}} at {{details.orderTime}}</p>
          <p class="body black">View your <br class="mobileview" /><a class="body-link black cursor" routerLink="/docuSignFlow">Purchase Option Installment Plan Agreement</a> </p>

          <p class="body padding-top-xsmall">A receipt will be emailed to the address: {{details.emailId}}</p>
        </div>
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-top-medium padding-horizontal-small">
          <div class="inset-divider-1px"></div>
        </div>
        <p class="col-md-8 offset-md-2 body black no-padding padding-top-medium padding-top-small-xs padding-top-small-sm text-center padding-horizontal-small">
          This transaction is complete. Return to the lease details page to check for additional devices that may require action.
        </p>
      </div>
      <div class="col-md-4 offset-md-4 text-center padding-top-large padding-bottom-large padding-bottom-small-xs padding-bottom-small-sm">
        <button appButtonripple class="PrimaryCTA full-btn-width w-100">Back to leases</button>
      </div>
    </div>
  </div>
</div>