@import "src/assets/scss/global-variables.scss";
.TMO-LINE-SETTINGS-CALLERID {
  .top-10 {
    top: 10%;
  }
  form input[type="text"]:valid + label {
    color: $gray60;
  }
  .min-height{    
    min-height: calc(100vh - 535px);
  }
  .bg-gray05 {
    background-color: $gray05;
  }
  form input,form input:valid{
    background-color: $gray05;
  }
  .PrimaryCTA:disabled{
      background-color: $gray20 !important;
      z-index: 0;
      
  }
  .errormessageimg {
    right: 0px;
}
  .font-sf-pro{
    font-family: $SFProText-Regular !important;
  }
  .font-sf-pro-bold{
    font-family: $SFProText-Bold !important;
  }
  .font-14 {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  .PrimaryCTAPadding{
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  @media #{$alldeviceexceptsmartphone}{
    .padding-bottom-120{
      padding-bottom: 120px;
    }
  }
  @media #{$tablets-md}{
    .Display3{
      font-size: 40px;
    }
  }
  @media #{$smartphones-xs},
  #{$smartphones-sm} {  
    .font-16 {
      font-size: 16px;
      line-height: 24px;
    }
    .Display3{
      font-size: 40px;
    }
    .padding-bottom-80{
      padding-bottom: 80px;
    }
  }

 
}
