<div class="TMO-LINE-SETTINGS-CALLERID">
  <div class="container">
    <div class="row ">
      <div
        class="col-12 col-md-6 offset-md-1 col-lg-4  padding-top-medium  padding-bottom-medium">
        <p><span class="legal pb-1" tabindex="0" [attr.aria-label]="subTitle">{{subTitle}} </span></p>
        <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test"
          x-ms-format-detection="none">
          <div id="model" class="dropdown-toggle">
            <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
            <span class="arrow-down pull-right mt-1"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="model">
            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine"
              [ngClass]="{'active':state.name === selectedLine}" (click)="select(state.name)">
              <a> {{state.name}} </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray05 min-height">
    <div class="container">
      <div class="row ">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 d-flex align-items-center justify-space-between">
          <div class="pull-left no-padding padding-bottom-medium padding-top-xl padding-top-large-xs">
            <p class="Display3 gray85 padding-bottom-small padding-bottom-small-xs padding-bottom-small-sm ">
              <span tabindex="0" aria-label="Caller ID">Caller ID</span></p>
            <p class="body font-sf-pro font-16 gray85">
              <span tabindex="0"
                aria-label="Your caller ID is the name that other people will see when you called before they pick up the receiver.">
                Your caller ID is the name that other people will see when you called — before they pick up the
                receiver.</span></p>
          </div>
         </div>
      </div>
      <form #linesettingsCallerID="ngForm">
        <div class="row padding-bottom-medium">
          <div class="col-12 col-md-5 offset-md-1 col-lg-3  padding-top-xsmall-xs">

            <div class="floatingLabel no-padding">
              <input type="text" name="firstName" id="firstName" #firstName="ngModel" class="input body black" minlength="5" maxlength="50"
                [(ngModel)]="callerID.firstName" required pattern="[a-zA-Z0-9]*"
                [ngClass]="{'border-red':firstName.invalid && !firstName.pristine && !firstName.errors?.required}"
                [disabled]="restricted">
              <label for="firstName" class="labelpointer"
                [ngClass]="[(firstName.invalid && !firstName.pristine && !firstName.errors?.required) ? 'legal color-red redClass' : '',
                  (!firstName.invalid )   ? 'legal' : '',( firstName.errors?.required ) ? 'body' : '',(restricted)?'top-10':'']">First Name</label>
              <div class="input-animation"></div>
            </div>
            <div class="col-12 no-padding">
              <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" tabindex="0" aria-label="Enter a valid name" *ngIf="firstName.errors?.minlength">
                Enter a valid name
              </p>
              <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" tabindex="0" aria-label="Enter a valid name" *ngIf="firstName.errors?.pattern && !firstName.errors?.minlength">
                Enter a valid name
              </p>
              <span class="pull-right" *ngIf="firstName.invalid && !firstName.pristine && !firstName.errors?.required">
                <i class="errormessageimg exclamation-error-16px pull-right" tabindex="0" aria-label="error icon"></i>
              </span>
            </div>
          </div>

          <div class="col-12 col-md-5 col-lg-3 padding-top-large-xs padding-top-large-sm ">

            <div class="floatingLabel no-padding">
              <input type="text" name="lastName" id="lastName" #lastName="ngModel" class="input body black"
                [(ngModel)]="callerID.lastName" required minlength="5" maxlength="50" pattern="[a-zA-Z0-9]*" 
                [ngClass]="{'border-red':lastName.invalid && !lastName.pristine && !lastName.errors?.required}"
                [disabled]="restricted">
              <label for="lastName" class="labelpointer"
                [ngClass]="[(lastName.invalid && !lastName.pristine && !lastName.errors?.required) ? 'legal color-red redClass' : '',
                (!lastName.invalid )   ? 'legal' : '',( lastName.errors?.required ) ? 'body' : '',(restricted)?'top-10':'']">Last Name</label>
              <div class="input-animation"></div>
            </div>
            <div class="col-12 no-padding">
              <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="lastName.errors?.minlength" tabindex="0" aria-label="Enter a valid name">
                Enter a valid name
              </p>
              <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="lastName.errors?.pattern && !lastName.errors?.minlength" tabindex="0" aria-label="Enter a valid name">
                Enter a valid name
              </p>
              <span class="pull-right" *ngIf="lastName.invalid && !lastName.pristine && !lastName.errors?.required">
                <i class="errormessageimg exclamation-error-16px pull-right" tabindex="0" aria-label="error icon"></i>
              </span>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-6  padding-bottom-xl" *ngIf="!restricted">
            <p class="body gray85 font-sf-pro font-14 padding-bottom-medium">
              <span tabindex="0"
                aria-label="NOTE: alpha numeric only, for business name, enter in first name field. It will take up to 72 hours for your new Caller ID to be reflected on your account."><span class="body gray85 font-sf-pro-bold font-14">NOTE:</span>
                alpha numeric only, for business name, enter in first name field. It will take up to 72 hours for your
                new
                Caller ID to be reflected on your account.</span></p>
            <p class="legal font-sf-pro gray85">
              <span tabindex="0"
                aria-label="We want the people you call to know who’s actually calling them, so when you change your Caller ID name you’re confirming the new name is your legal name, a commonly-accepted variation of your legal name, or the name that everyone knows you by. If you change your Caller ID name to something we think is profane, inappropriate, designed to trick people, or that infringes someone’s intellectual property rights, we reserve the right to change it, with or without notice. So please be good!">We
                want the people you call to know who’s actually calling them, so when you change your Caller ID name
                you’re confirming the new name is your legal name, a commonly-accepted variation of your legal name, or
                the name that everyone knows you by. If you change your Caller ID name to something we think is profane,
                inappropriate, designed to trick people, or that infringes someone’s intellectual property rights, we
                reserve the right to change it, with or without notice. So please be good!</span></p>
          </div>
          <div class="col-12 col-md-10 offset-md-1 col-lg-6  padding-bottom-xl" *ngIf="restricted">
            <p class="body gray85  font-sf-pro font-14 padding-bottom-medium">
              <span tabindex="0"
                aria-label="Please contact your primary account holder to change your Caller ID.">Please contact your
                primary account holder to change your Caller ID.</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 offset-md-1 padding-bottom-120 padding-bottom-80">
            <button class="PrimaryCTA PrimaryCTAPadding full-btn-width padding-horizontal-medium" appButtonripple
            [disabled]='!linesettingsCallerID.valid || linesettingsCallerID.pristine' (click)="gotoConfirmation()"
              *ngIf="!restricted">Agree and submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>