<div class="TMO-REACTIVE-CONFIRMATION">
  <div class="container">
    <div class="row padding-top-xl padding-top-medium-sm padding-top-medium-xs">
      <div class="col-12 col-md-8 ts-Display4 gray85">
        <span tabindex="0" aria-label="All done!">All done!</span>
      </div>
    </div>
    <div class="row padding-top-small">
      <div class="col-12 col-md-6">
        <span class="ts-body-copy" tabindex="0" aria-label="Service to the line has been restored">Service to the line
          has been restored.</span>
      </div>
    </div>
    <div class="row padding-top-xl padding-bottom-xl">
      <div class="col-12 col-md-6 col-lg-4">
        <button class="PrimaryCTA ts-full-btn-width ts-body-copy-bold ts-return-btn ts-white ts-letter-spacing" appButtonripple aria-label="Return to home"
          tabindex="0">
          Return to Home
        </button>
      </div>
    </div>
  </div>
</div>
