<div class="TM0-AUTOPAY-LANDING-3-PAGE">
  <div class="container">
    <div class="main-content">
      <app-header></app-header>
      <div class="row">
        <div class="col-12 text-center padding-top-xl padding-top-large-xs padding-top-large-sm">
          <p class="Display3">Payment arrangement</p>
          <p class="body-bold black padding-top-medium padding-top-xsmall-xs padding-top-xsmall-sm">$210.00 remaining</p>
          <p class="legal padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">(One-time $10 convenience fee inlcluded)</p>
        </div>
        <div class="col-12 col-md-10 offset-md-1" *ngFor="let paymentInfo of paymentInfo">
          <app-payment-schedule-blade [arrowClass]='arrowClass' [topDivider]="topDivider" [topDividerClass]="'inset-divider-1px'" [paymentInfo]="paymentInfo['paymentData']"></app-payment-schedule-blade>
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-top-small ">
          <paymentblade [title]="paymentMethod" [titleClass]="'Display6'" [card]="cardNumber" [icon]="icon" [disableClass]="disableClass"></paymentblade>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center ">
        <p class="padding-top-small-sm padding-top-small-xs padding-top-medium">
          <a class="legal-link cursor" href="#">See the FAQs</a>
          <span class="legal pl-1">for all your payment arrangement questions.</span>
        </p>
        <p class="legal padding-top-small padding-top-medium-xs padidng-top-medium-sm">By submitting, you agree to
          <a class="legal-link cursor" href="#">Terms and Conditions</a>
        </p>
      </div>
    </div>
    <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
      <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Agree & Submit</button>
        </div>
        <div class="col-12 col-md-6  float-md-left pl-md-0 ">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple (click)="gotopreviouspage()">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>