@import "src/assets/scss/global-variables.scss";
.TMO-MAXIMUM-ATTEMPTS {
  .img-height {
    width: 142px;
    height: 120px;
  }
  @media #{$smartphones-xs},#{$smartphones-sm} {
    .main-content {
      min-height: calc(100vh - 97px);
    }
    .img-height {
      width: 130px;
      height: 109px;
    }
  }
}
