<div class="TMO-MAXIMUM-ATTEMPTS">
  <div class="container">
    <div class="">
      <div class="row">
        <div class="col-12 no-padding padding-top-large text-center">
          <img src="./assets/img/port-in/error-icon.svg" class="img-height" role="img" aria-label="error icon" tabindex="0">
        </div>
        <div *ngFor="let info of detailsArray" class="col-12">
          <div class="col-12 Display3 padding-top-medium text-center" tabindex="0" [attr.aria-label]="info.title">{{info.title}}</div>
          <div class="col-12 col-md-10 offset-md-1 body padding-top-medium text-center text-left-sm text-left-xs" tabindex="0" [attr.aria-label]="info.content">
            {{info.content}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-4 text-center padding-top-xl padding-bottom-large padding-vertical-medium-xs padding-vertical-medium-sm">
        <button appButtonripple class="PrimaryCTA full-btn-width w-100" role="button" tabindex="0" aria-label="CTA text goes here">CTA text goes here</button>
      </div>
    </div>
  </div>
</div>