<div class="TMO-STYLEGUIDE-PROGRESS-BAR">
  <div class="container">
      <div class="Display4 text-center padding-vertical-xl">Progress Bar</div>
    <div class="row padding-vertical-xxl">
      <div class="col-12">
        <app-progress-bar [availablepercent]="completedPercentage"> </app-progress-bar>
      </div>
    </div>
  </div>
</div>