<div class="TMO-NETFLIX-MODAL-PAGE">
<div class="container">
    <div class="row padding-vertical-xxl">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
        <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Netflix Modal</button>
      </div>
    </div>
    <div class="dialog-container">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
        <div class="row no-margin text-center">
          <span mat-dialog-title class="col-12 no-padding black Display5 ">Netflix Premium</span>
        </div>
        <div class="row no-margin padding-top-medium">
          <div class="col-12 no-padding  body">By removing Netflix Premium, you'll lose access to all the extra benefits the package offers. If you decide to continue, be sure to elect The Fam with Netflix service (a $10.99 value) to avoid losing Netflix access entirely.</div>
        </div>
        <div class="row  padding-top-medium text-right mr-16">
          <div class="col-12">

            <div class=" col-md-5 no-padding d-inline-block  float-right float-md-none  ">
                <button class="PrimaryCTA-accent " appButtonripple (click)="visible = !visible">Remove service</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay" (click)="visible = !visible" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
</div>
</div>