@import "src/assets/scss/global-variables.scss";
.TMO-NETFLIX-MODAL-PAGE {
    .dialog{
        @media #{$tablets-md},#{$desktops-lg},
            #{$desktops-xl}{
                max-width: 400px;
        }
    }
    .mr-16{
        margin-right: -16px; 
        }
     
}