<div class="TMO-APP-DOWNLOAD-PAGE" *ngIf="commonService.visibleTmoHeader">
  <div class="hd-container" [ngClass]="isTmoHeader ? 'hd-header' : 'hd-d-none'">
    <div class="hd-row hd-no-margin hd-align-center">
      <div class="hd-col-8 hd-no-padding">
          <div class="hd-close-pink hd-d-inline-block hd-vertical-middle" (click)="closeHeader()"></div>
        <div class="hd-logo-pink hd-m-l-20-xxs hd-m-l-30 hd-d-inline-block hd-vertical-middle"></div>
        <div class="hd-m-l-20-xxs hd-m-l-30 hd-d-inline-block hd-vertical-middle">
          <p class="hd-display4 hd-p-t-4">T-Mobile</p>
          <p class="hd-display5 hd-p-t-4">Get the app today!</p>
          <p class="hd-display5 hd-p-t-4">Now available in Spanish.</p>
        </div>
      </div>
      <div class="hd-col-2 hd-no-padding hd-align-center">
        <button class="TeritiaryCTA" appButtonripple (click)="getBtn()">Get</button>
      </div>
    </div>
  </div>
</div>