<div class="TMO-DEVICE-PROMO-LIST">
  <div class="container">
    <div *ngFor="let details of promoDetails">
      <div [style.minHeight.px]="contentHeight">
        <div class="row padding-top-xl padding-top-medium-sm padding-top-medium-xs">
          <div class="col-12 col-md-8 Display4">
            <span>{{details.title}}</span>
          </div>
        </div>
        <div class="row padding-top-small">
          <div class="col-12 col-md-8">
            <p class="body-copy"  x-ms-format-detection="none">{{details.personDetails}}</p>
          </div>
        </div>
        <div class="row padding-top-xxl">
          <div class="col-6 col-md-4">
            <span class="body-copy">
              {{details.total}}</span>
            <span class="d-block Display3">
              {{details.totalAmt}}</span>
          </div>
          <div class="col-6 col-md-4">
            <span class="body-copy">
              {{details.monthly}}</span>
            <span class="d-block Display3">
              {{details.monthlyAmt}}</span>
          </div>
        </div>
        <div class="row padding-top-xxl">
          <div class="col-12 col-md-6">
            <span class="body-copy black">
              {{details.enrolled}}</span>
            <span class="d-block body-copy">
              {{details.promo}}</span>
            <span class="d-block body-copy">
              {{details.credits}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 padding-vertical-large">
          <button class="SecondaryCTA full-btn-width" appButtonripple routerLink="/devicepromolist">{{details.button}}</button>
        </div>
      </div>
    </div>
  </div>
</div>