@import "src/assets/scss/global-variables.scss";
.TM0-MVP-REVIEW-ORDER-DETAILS-BY-LINE-PAGE { 
    .bg-f2f2f2{
        background-color: $gray10;
    }
    @media #{$alldeviceexceptsmartphone}{
        .btn-wd{
            width:288px;
        }
    }
}