<div class="TM0-MVP-REVIEW-ORDER-DETAILS-BY-LINE-PAGE">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 text-center padding-top-large">
        <p class="mb-0 Display3">Order Details</p>
      </div>
      <div class="col-10 offset-1 col-md-10 offset-md-1 body padding-top-xsmall text-center">
        Here's how T-Mobile ONE applies to your account
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-top-large">
        <span class="Display5">New Monthly Total</span>
        <span class="Display5 pull-right">$193.00</span>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-xsmall">
        <span class="body">Old total</span>
        <span class="body pull-right">168 +tax</span>
      </div>
    </div>
    <app-n-line-blade [planDetails]="planDetails"></app-n-line-blade>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-top-medium padding-bottom-small">
        <span class="Display5">New Monthly Total</span>
        <span class="Display5 pull-right">$193.00</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 text-center padding-vertical-xxxl">
        <button class="SecondaryCTA blackCTA full-btn-width btn-wd" appButtonripple>Go back to review summary</button>
      </div>
    </div>
  </div>
  <div class="row bg-f2f2f2 no-margin">
    <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 no-padding px-md-3 pt-5 padding-bottom-xxxl legal">
      <div class="mx-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur neque dolor, nec mattis ante vestibulum
        in. Curabitur auctor diam enim, vitae feugiat augue venenatis eget. Suspendisse porta feugiat aliquet. Aliquam a
        risus mi. Vestibulum at viverra massa. Ut in nunc quis lorem sollicitudin mollis vitae vitae nunc. Duis tincidunt
        convallis tellus, vel mollis tellus aliquam eget. Quisque ac ipsum quis turpis tristique pharetra. Praesent auctor,
        diam at porttitor vulputate, turpis sapien convallis lectus, non mattis libero elit ac mi. Mauris in sollicitudin
        sem. Phasellus varius blandit arcu, egestas feugiat arcu efficitur sed. Proin quis dapibus lectus. Phasellus fringilla
        sodales massa, sed ullamcorper ante luctus non. Maecenas varius congue augue, eget iaculis erat consequat quis. Nulla
        pellentesque luctus nunc, nec porta lacus pulvinar id. Proin interdum suscipit cursus.</div>
    </div>
  </div>
</div>