<div class="TMO-REGISTRATION-VETERAN">
  <div class="container no-padding">
    <div class="">
      <div class="padding-top-medium-xs padding-top-medium-sm padding-top-large">
        <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
          <p class="Display3 text-center">Military verification</p>
        </div>
        <div class="col-12 col-md-8 offset-md-2">
          <p class="H5-heading text-center"> Submit information </p>
          <p class="body text-center padding-vertical-xsmall">
            Please select current military status and enter your information below. The name must match the military member or family
            member on your T-Mobile account. If it doesn’t, please dial 611 from your T-Mobile phone for assistance or read
            our
            <a class="black text-decoration-underline no-wrap" routerLink="#"> Frequenly Asked Questions</a>.
          </p>
        </div>
      </div>
    </div>

    <form #registrationForm="ngForm" class="textfield">
      <div class="main-content-singlerow">
        <div class="col-12 col-md-6 offset-md-3" *ngFor="let veteran of veteranArray;let i=index;">
          <div class="d-flex padding-top-xsmall">
            <div class="body radio-container mt-1">
              <input class="check pr-1" type="radio" id={{i}} name="veterans" tabindex="0" [value]="veteran.name" [checked]="i==0" [(ngModel)]="name.dutyStatus"
                #dutyStatus="ngModel" required>
              <label for={{i}}></label>
              <div class="check"></div>
            </div>
            <div class="col-10 col-md-9 no-padding">
              <span class="body pl-1">{{veteran.name}}</span>
              <p class="legal pl-1 padding-top-base">{{veteran.message}}</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 offset-md-3">
          <p class="body padding-top-large padding-top-large-xs padding-top-large-sm padding-bottom-large f-italic">
            All fields are required
          </p>
          <div class="col-12 padding-bottom-xl no-padding dropdownnew">
            <p class="legal pb-1">{{subTitle1}}</p>
            <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
              <div id="model" class="dropdown-toggle">
                <span class="body black" ng-model="name.branch">{{selectedBranch}}</span>
                <span class="arrow-down pull-right mt-1"></span>
              </div>
              <ul class="dropdown-menu" role="menu" aria-labelledby="model">

                <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let branch of selectBranches" [value]="branch.id" [ngClass]="{'active':branch.name === name.branch}"
                  (click)="select(branch.id)">
                  <a> {{branch.name}} </a>
                </li>
              </ul>
            </div>
            <div class="col-12 no-padding pull-left">
              <p class="legal color-red text-left errormessage padding-top-xsmall mb-0 d-inline-block" *ngIf="selectBranchError == true">
                 Please select branch of service
              </p>
              <p class="pull-right mb-0 d-inline-block" *ngIf="selectBranchError  == true">
                <i class="warning-red-outline-12 pull-right"></i>
                <img src="assets/img/warning-error-icon.png" width="12" height="12">
              </p>
            </div>
          </div>
          <div class="col-12 padding-top-small padding-bottom-large no-padding dropdownnew">
            <p class="legal pb-1">{{subTitle2}}</p>
            <div tabindex=0 class="col-12 dropdown no-padding" id="test1" appDropdown dropdownid="test1" x-ms-format-detection="none">
              <div id="model1" class="dropdown-toggle">
                <span class="body black" ng-model="name.selectedDate">{{selectedDate}}</span>
                <span class="arrow-down pull-right mt-1"></span>
              </div>
              <ul class="dropdown-menu" role="menu" aria-labelledby="model1">
                <li role="menuitem" class="dropdown-option mx-1 mt-1" [ngClass]="{'active':state.name === selectedDate}" *ngFor="let state of dischargeDate"
                  (click)="selectDate(state.name)">
                  <a> {{state.name}} </a>
                </li>
              </ul>
            </div>
            <div class="col-12 no-padding pull-left">
              <p class="legal color-red text-left errormessage padding-top-xsmall mb-0 d-inline-block" *ngIf="selectDateError == true">
                 Please select discharge date
              </p>
              <p class="pull-right mb-0 d-inline-block" *ngIf="selectDateError  == true">
                <i class="warning-red-outline-12 pull-right"></i>
              </p>
            </div>
          </div>
          <div class="padding-vertical-medium">
            <div class="col-12 no-padding ">
              <div class="floatingLabel no-padding textfield">
                <input tabindex="0" type="text" id="firstName" appClearInput minlength="5" maxlength="50" pattern="[a-zA-Z\s\-\.]*" name="firstName"
                  class="input body black " [(ngModel)]="name.firstName" required #firstName="ngModel" [ngClass]="{'border-red':firstName.invalid && !firstName.pristine && !firstName.errors?.required}">
                <label for="firstName" class="labelpointer" [ngClass]="[(firstName.invalid && !firstName.pristine && !firstName.errors?.required) ? 'legal color-red redClass' : '',
                    (!firstName.invalid )   ? 'legal' : '',
                    ( firstName.errors?.required ) ? 'body' : '']">First name of military member</label>
                <div class="input-animation"></div>
              </div>
            </div>
            <div class="col-12 no-padding pull-left">
              <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="firstName.errors?.required && firstName.touched">
                Please enter first name
              </p>
              <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="firstName.errors?.pattern || firstName.errors?.minlength">
                Enter a valid name
              </p>
              <span class="pull-right " *ngIf="firstName.invalid  && !firstName.pristine && !firstName.errors?.required  || firstName.errors?.required && firstName.touched">
                <i class="errormessageimg warning-red-outline-12 pull-right"></i>
              </span>
            </div>
          </div>
          <div class="padding-top-large padding-bottom-xl">
            <div class="col-12 no-padding">
              <div class="floatingLabel no-padding textfield">
                <input tabindex="0" type="text" id="lastName" name="lastName" minlength="5" maxlength="50" pattern="[a-zA-Z\s\-\.]*" class="input body black"
                  [(ngModel)]="name.lastName" required #lastName="ngModel" [ngClass]="{'border-red':lastName.invalid && !lastName.pristine && !lastName.errors?.required}">
                <label for="lastname" class="labelpointer" [ngClass]="[(lastName.invalid && !lastName.pristine && !lastName.errors?.required) ? 'legal color-red redClass':'',
                  (!lastName.invalid) ? 'legal':'', (lastName.errors?.required) ? 'body' : '']"> Last name of military member</label>
                <div class="input-animation"></div>
              </div>
            </div>
            <div class="col-12 no-padding pull-left">
              <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="lastName.errors?.required && lastName.touched">
                Please enter last name
              </p>
              <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="lastName.errors?.pattern || lastName.errors?.minlength">
                Enter a valid name
              </p>
              <span class="pull-right " *ngIf="lastName.invalid  && !lastName.pristine && !lastName.errors?.required 
               || lastName.errors?.required && lastName.touched">
                <i class="errormessageimg warning-red-outline-12 pull-right"></i>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex no-padding">
              <div class="col-4 padding-top-small">
                <p class="legal pb-1">{{selected_Month}}</p>
                <div tabindex=0 class="dropdown no-padding" id="monthddl" appDropdown dropdownid="monthddl" x-ms-format-detection="none">
                  <div id="monthddl" class="dropdown-toggle">
                    <span class="body black txt-ellipsis" ng-model="month">{{selectedmonth}}</span>
                    <span class="arrow-down pull-right mt-1"></span>
                  </div>
                  <ul class="dropdown-menu dropdown-width" role="menu" aria-labelledby="monthddl">
                    <li role="menuitem" class="dropdown-option mx-1 mt-1" [ngClass]="{'active':month.name === selectedmonth}" *ngFor="let month of Month"
                      (click)="selectmonth(month.name)">
                      <a> {{month.name}} </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-4 padding-top-small">
                <p class="legal pb-1 visibility-hidden">{{selected_Date}}</p>
                <div tabindex=0 class="dropdown no-padding" id="dayddl" appDropdown dropdownid="dayddl" x-ms-format-detection="none">
                  <div id="dayddl" class="dropdown-toggle">
                    <span class="body black" ng-model="selectedday">{{selectedDay}}</span>
                    <span class="arrow-down pull-right mt-1"></span>
                  </div>
                  <ul class="dropdown-menu dropdown-width" role="menu" aria-labelledby="dayddl">

                    <li role="menuitem" class="dropdown-option mx-1 mt-1" [ngClass]="{'active':day === selectedDay}" *ngFor="let day of days"
                      (click)="selectDay(day)">
                      <a> {{day}} </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-4 padding-top-small">
                <p class="legal pb-1 visibility-hidden">{{selected_Year}}</p>
                <div tabindex=0 class="dropdown no-padding" id="yearddl" appDropdown dropdownid="yearddl" x-ms-format-detection="none">
                  <div id="yearddl" class="dropdown-toggle">
                    <span class="body black" ng-model="selectedDate">{{selectedyear}}</span>
                    <span class="arrow-down pull-right mt-1"></span>
                  </div>
                  <ul class="dropdown-menu dropdown-width" role="menu" aria-labelledby="yearddl">

                    <li role="menuitem" class="dropdown-option mx-1 mt-1" [ngClass]="{'active':year === selectedyear}" *ngFor="let year of years"
                      (click)="selectyear(year)">
                      <a> {{year}} </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 no-padding pull-left">
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0 " *ngIf="validDob">
              Please enter date of birth
            </p>
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0 " *ngIf="validdate">
              Please enter valid date
            </p>
            <span class="pull-right " *ngIf="validdate || validDob">
              <i class="errormessageimg warning-red-outline-12 pull-right"></i>
            </span>
          </div>
          <div class=" padding-vertical-xxxl">
            <div class="col-12 no-padding">
              <div class="floatingLabel no-padding textfield">
                <input type="text" tabindex="0" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email" class="input body black"
                  [(ngModel)]="name.email" required #email="ngModel" [ngClass]="{'border-red':email.invalid && !email.pristine 
                  && !email.errors?.required}" (input)="compareEmail()">
                <label for="email" class="labelpointer" [ngClass]="[(email.errors?.pattern && !email.errors?.pristine && !email.errors?.required ) ? 'legal color-red redClass':'',
                      (!email.invalid) ? 'legal':'', (email.errors?.required) ? 'body' : '']"> Email Address </label>
                <div class="input-animation"></div>
              </div>
            </div>
            <div class="col-12 no-padding pull-left">
              <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="email.errors?.required && email.touched">
                 Please enter email
              </p>
              <div class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="email.errors?.pattern">
                 Enter valid email
              </div>
              <span class="pull-right" *ngIf="email.invalid &&  !email.pristine && !email.errors?.required || email.errors?.required && email.touched ">
                <i class="errormessageimg warning-red-outline-12 pull-right"></i>
              </span>
            </div>
          </div>
          <div class="padding-bottom-xxxl">
            <div class="col-12 no-padding">
              <div class="floatingLabel no-padding textfield">
                <input type="text" tabindex="0" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="confirmemail" name="confirmemail" class="input body black"
                  [(ngModel)]="name.confirmemail" required #confirmemail="ngModel" (input)="compareEmail()" [ngClass]="{'border-red':confirmemail.invalid && !confirmemail.pristine && !confirmemail.errors?.required}">
                <label for="confirmemail" class="labelpointer" [ngClass]="[(confirmemail.errors?.pattern && !confirmemail.errors?.pristine && !confirmemail.errors?.required ) ? 'legal color-red redClass':'',
                    (!confirmemail.invalid) ? 'legal':'', (confirmemail.errors?.required) ? 'body' : '']"> Confirm email address </label>
                    <div class="" [ngClass]="{'bord-green':!IsMatch && name.confirmemail!='', 'input-animation':IsMatch}"></div>
              </div>
            </div>
            <div class="col-12 no-padding pull-left">
              <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="confirmemail.errors?.required && confirmemail.touched">
                 Please enter email
              </p>
              <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="IsMatch">
                 Email does not match
              </p>
              <div class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="confirmemail.errors?.pattern">
                 Enter valid email
              </div>
              <span class="pull-right" *ngIf="confirmemail.invalid 
            && !confirmemail.pristine && !confirmemail.errors?.required || 
            confirmemail.errors?.required && confirmemail.touched || IsMatch ">
                <i class="errormessageimg warning-red-outline-12 pull-right"></i>
              </span>

              <span class="pull-right mt-1" *ngIf="(name.confirmemail != '' && name.confirmemail != null && name.confirmemail != undefined) && name.email === name.confirmemail && !confirmemail.errors?.pattern">
                <i class="validated_outline_green-11px pull-right"></i>
              </span>
            </div>
          </div>
          <div class="padding-bottom-small">
            <div class="col-12 no-padding">
              <div class="floatingLabel no-padding textfield">
                <input type="text" tabindex="0" id="phonenumber" format='phonenumber' appCustomformat minlength="14" maxlength="14" name="phonenumber"
                  class="input body black" [(ngModel)]="name.phonenumber" required #phonenumber="ngModel" [ngClass]="{'border-red':phonenumber.invalid && !phonenumber.pristine && !phonenumber.errors?.required }">
                <label for="phonenumber" class="labelpointer" [ngClass]="[(phonenumber.invalid && !phonenumber.pristine
             && !phonenumber.errors?.required && name.phonenumber) ? 'legal color-red redClass' : '',
        (!phonenumber.invalid )   ? 'legal' : '',
       (phonenumber.errors?.required ) ? 'body' : '']">Phone number</label>
       <div class="input-animation"></div>
              </div>
            </div>
            <div class="col-12 no-padding pull-left">
              <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="phonenumber.errors?.required && phonenumber.touched ">
                 Please enter phone number
              </p>
              <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="name.phonenumber!='' && phonenumber.invalid && phonenumber.touched">
                 Please enter valid phone number
              </p>
              <span class="pull-right" *ngIf="phonenumber.invalid && !phonenumber.pristine 
              && !phonenumber.errors?.required || phonenumber.errors?.required && phonenumber.touched ">
                <i class="errormessageimg warning-red-outline-12 pull-right"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 padding-top-medium padding-bottom-small-xs padding-bottom-small-sm text-center">
          <button class="PrimaryCTA full-btn-width" appButtonripple (click)="submit()" [disabled]="registrationForm.form.invalid || isDisabled ">
            Submit information </button>
      </div>
      <div class="col-12 padding-top-large padding-bottom-large">
        <div class="col-md-10 offset-md-1 text-center padding-horizontal-xl-xs legal">
          <div class="padding-bottom-large">
            By clicking "Submit information" you are agreeing to the
            <a class="black text-decoration-underline no-wrap" routerLink="/fidTermsAndCondition">Terms & Conditions</a>.
          </div>
          <p>Verification services powered by SheerID.</p>
        </div>
      </div>
    </form>
  </div>