<div class="TMO-PAGINATION-BLADE">
  <div class="row no-margin text-center">
      <div class="col-12 padding-top-medium no-padding ">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-lin p-l-10" (click)="firstPage()" [ngClass]="{disabled:currentPage === 1}" aria-label="Previous" (mouseover)="onHover1()" (mouseleave)="onBlur1()">
              <span aria-hidden="true" class="d-inline-block" [ngClass]="{'arrow-left-gray60':!isWhite1 && !isUnderline1,'arrow-left-white':isWhite1,'arrow-right-underline':isUnderline1}">
                </span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"  *ngFor="let pageNo of getPagenumbers()" [ngClass]="{active:currentPage === pageNo}">
            <span class="page-link" style="cursor:default"    *ngIf="pageNo === 0 && totalpages != 1 ">...</span>
             <a class="page-link ripple"  *ngIf="pageNo != 0 && pageNo != -1" (click)="currPage(pageNo)" appButtonripple>{{pageNo}}</a>
             <span class="page-link" style="cursor:default"  *ngIf="pageNo === -1 && totalpages != 1">...</span>
          </li>
          <li class="page-item">
            <a class="page-lin p-l-10" (click)="lastPage()" [ngClass]="{disabled:maxpageno()}" aria-label="Next" (mouseover)="onHover()" (mouseleave)="onBlur()">
              <span aria-hidden="true" class="d-inline-block" [ngClass]="{'arrow-right-gray60':!isWhite && !isUnderline,'arrow-right-white':isWhite,'arrow-right-underline':isUnderline}"></span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>