@import "src/assets/scss/global-variables.scss";
.TMO-PAGINATION-BLADE{
    .page-link {
        position: relative;
       // display: block;
        //padding: 0.8rem 0.75rem;
        margin-left: 1px;
        //line-height: 1.25;
        color: $black;
        font-weight: bold;
        background-color: $white;
        border: none;
        width: 40px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
       }

    .dis{
        display:inline-block;
    }

    .page-link:focus{
        box-shadow: none; 
    }
    .page-link:active {
        color:$brand-magenta!important;
        text-decoration: none;
        border: none;
    }
    .page-item.active .page-link {
        z-index: 1;
        color: $brand-magenta!important;
        border:1px solid $brand-magenta;
        background: none;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    .page-link:hover {       
        background: $brand-magenta;
        border:1px solid $brand-magenta;
       color: #fff;
    }
    .page-lin {
        position: relative;
        display: block;
        //padding: 0.8rem 1.16rem;
        margin-left: 1px;
        //line-height: 1.25;
        color: $black;
        background-color: $white;
        border: none;
        width: 40px;
        height: 40px;
    }
    .page-lin:hover {
        color: $white!important;
        text-decoration: none;
        background-color:  $brand-magenta;
        border-color:$brand-magenta;
    }
    .page-lin:focus{
        text-decoration: underline;
    }
    .page-lin:active{
        text-decoration: underline;
    }

    .Arrow{
        font-size: 14px;
        font-family: MONOSPACE;
    }

    .p-l-10{
        //padding-left: 10px;
        //padding-top: 7PX;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    
    @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
        .p-t-4{
            padding-top: 3px
        }
    }
    @media #{$smartphones-xs},#{$smartphones-sm}{
        /*.p-t-4{
          padding-top:2px;
        }*/
        .page-link {
           // padding: 0.5rem;
           // width: 25px;
           // height: 30px;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width:23px;
            }
        }
        .page-lin {
          //  padding: 0.5rem;
           // width: 40px;
           // height: 40px;
        }
    }
    @media #{$smartphones-xxs}{
        /*.p-t-4{
            padding-top:3px;
        }*/
    }

}