@import "src/assets/scss/global-variables.scss";
.TMO-ODF-LANDING-NEW{
    .arrow-up, .arrow-down {
        @media #{$smartphones-xs},#{$smartphones-sm}{
        width: 16px;
        height: 16px;
        }
    }   
     .radio-container{
        width:24px;
        height:24px;
    }
    .checkbox, .checkbox .indicator > span{
        width:18px;
        height:18px;
    }
    .checkbox .indicator > span{
         border:1px solid #9B9B9B;
     }
     .checkbox > label input:checked ~ .indicator > span{
        border:1px solid #e20074;
     }
     .checkbox > label input:focus ~ .indicator > span{
        border:1px solid #e20074;
     }
     input[type=radio]:focus ~ .check {
        border: 1px solid #E20074;
    }
    .overlay {
        background-color: rgba(50, 50, 50, 0.5);
    }
    .dialog {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        max-width: 450px;
    }
    .bg-f8f8f8{
        background-color:#f8f8f8;
    }

    .overflow-y {
        overflow-y: scroll;
        max-height: 200px;
    }

    .overflow-y::-webkit-scrollbar {
        width: 7px;
        height: 6px;
    }
    .overflow-y::-webkit-scrollbar-thumb:vertical {
        background-color: $gray30;
    }
}