<div class="TMO-ODF-LANDING-NEW">
  <div class="container">
    <app-header></app-header>
    <div class="col-md-10 offset-md-1 no-padding">

      <div class="row padding-medium-xs padding-large ">
        <div class="col-12 Display3 text-center">
          <p class="mb-0">
            <span [attr.tabindex]="visible ? -1: 0" aria-label="Manage data & add-ons">
              Manage data and add-ons
            </span>
          </p>
        </div>
      </div>
      <div class="row no-margin padding-bottom-medium">
        <div class="col-md-8 offset-md-2 padding-top-small bg-f8f8f8" x-ms-format-detection="none">
          <p class="mb-0 body-bold black padding-bottom-base">
            <span [attr.tabindex]="visible ? -1: 0" aria-label="Natalie (206)-555-1111">Natalie (206) 555-1111</span>
          </p>
          <div class="d-flex padding-bottom-small">
            <span [attr.tabindex]="visible ? -1: 0" class="body-bold brand-magenta cursor"
              aria-label="click here to Select a different line">Select a different
              line
              <i class="m-l-2 arrow-right-magenta30 d-inline-block vertical-align-middle"></i>
            </span>
          </div>
        </div>
      </div>


      <div class="row padding-top-small padding-bottom-medium" *ngFor="let odfAddOn of odfAddOns;let i=index;">
        <div class="col-12">
          <div class="mb-0 Display4" *ngIf="odfAddOn.title">
            <span [attr.tabindex]="visible ? -1: 0" [attr.aria-label]="odfAddOn.title">{{odfAddOn.title}}</span></div>
          <div class="mb-0 Display6" *ngIf="odfAddOn.heading">
            <span [attr.tabindex]="visible ? -1: 0" [attr.aria-label]="odfAddOn.heading">{{odfAddOn.heading}}</span></div>
          <div class="H6-heading padding-top-small" *ngIf="odfAddOn.promo">
            <span [attr.tabindex]="visible ? -1: 0" [attr.aria-label]="odfAddOn.promo">{{odfAddOn.promo}}</span></div>
          <div class="legal black padding-top-small" *ngIf="odfAddOn.subHeading">
            <span [attr.tabindex]="visible ? -1: 0" [attr.aria-label]="odfAddOn.subHeading">{{odfAddOn.subHeading}}</span></div>
          <!-- <div class="inset-divider-1px "></div> -->
        </div>
        <div class="col-12" *ngFor="let dataItem of odfAddOn['data'];let k=index" [attr.tabindex]="visible || dataItem.isDisabled ? -1: 0" [attr.aria-label]="'click to select ' + dataItem.name + dataItem.price"
        id="{{odfAddOn.title}}-{{k}}" (keydown.enter)="dataItem.isChecked = !dataItem.isChecked; checkFunc($event, dataItem.isChecked)">
          <div class="d-flex padding-top-medium align-items-center">

            <div class="col-2 col-md-1 text-center">
              <!--Show radio button for data pass and data lines, else check box -->
              <div class="body radio-container mt-1"
                *ngIf="odfAddOn.title == dataPassTitle || odfAddOn.title == dataPlanTitle">
                <input type="radio" (click)="checkFunc($event, dataItem.isChecked)"
                  id={{odfAddOn.title}}{{k}} name={{odfAddOn.title}} [checked]="dataItem.isChecked" tabindex="-1"
                  >
                <label for={{odfAddOn.title}}{{k}}></label>
                <div class="check">
                </div>
              </div>
              <div class="body checkbox" *ngIf="odfAddOn.title != dataPassTitle && odfAddOn.title != dataPlanTitle">
                <label for={{odfAddOn.title}}{{k}}>
                  <input class="legal" type="checkbox" (click)="checkFunc($event, dataItem.isChecked)"
                    id={{odfAddOn.title}}{{k}} name={{odfAddOn.title}} [disabled]="dataItem.isDisabled"
                    [checked]="dataItem.isChecked" tabindex="-1">
                  <div class="legal indicator">
                    <span class="legal check1"></span>
                  </div>
                </label>
              </div>
            </div>
            <div class="col-6 col-md-8 no-padding pl-1">
              <span class="Display6 black" [innerHTML]="dataItem.name"></span>
            </div>
            <div class="col-3 col-md-2 no-padding pr-1">
              <span class="H6-heading black pull-right">{{dataItem.price}}</span>
            </div>
            <div class="col-1 col-md-1 p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
              <i [attr.tabindex]="visible ? -1: 0" aria-label="click to open" class="pull-right cursor arrow-up"
                [ngClass]="{'arrowdown_rotation': !odfAddOnAccordion[i][k], 'arrowup_rotation': odfAddOnAccordion[i][k]}"
                (click)="this.odfAddOnAccordion[i][k] = !this.odfAddOnAccordion[i][k]"
                (keydown.enter)="this.odfAddOnAccordion[i][k] = !this.odfAddOnAccordion[i][k]; propagation($event)" aria-controls="odfInfo" role="menu"></i>
            </div>
          </div>
          <div  class="row" [attr.aria-live]="odfAddOnAccordion[i][k]?'assertive':'off'" [attr.aria-hidden]="odfAddOnAccordion[i][k]?false:true">
            <div class="accordion-content" [ngClass]="{'content-open':odfAddOnAccordion[i][k]}">
              <div class="col-12 no-padding">
                <div class="padding-top-small col-9 offset-2 col-md-8 offset-md-1 ">
                  <p class="mb-0 body" [attr.tabindex]="odfAddOnAccordion[i][k] ? 0 : -1"
                    [attr.aria-label]="dataItem.description" [attr.aria-hidden]="odfAddOnAccordion[i][k]?false:true">{{dataItem.description}}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 padding-top-small" [ngClass]="{'no-padding-xs': k+1===odfAddOn['data'].length}">
              <div class="inset-divider-1px" *ngIf="k < odfAddOn['data'].length - 1"></div>
            </div>
          </div>
        </div>
        <div class="col-12 padding-top-small" *ngIf="odfAddOn.note">
          <p [attr.tabindex]="visible ? -1: 0" [attr.aria-label]="odfAddOn.note">{{odfAddOn.note}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center  padding-top-large-md padding-top-large-lg padding-top-large-xl">
          <button class="PrimaryCTA full-btn-width" routerLink="/OdfReviewPaymentNew" routerLinkActive="active"
          [attr.tabindex]="visible ? -1: 0" aria-label="Continue">Continue</button>
        </div>
      </div>

      <div class="row padding-top-large padding-bottom-xsmall padding-top-medium-xs padding-top-medium-sm">
        <div class="col-12 padding-bottom-xxxl">
          <span class=" legal black" [attr.tabindex]="visible ? -1: 0"
            aria-label="Customers using >50GB/mo. may have reduced speeds. See full terms">
            Customers using >50GB/mo. may have reduced speeds. 
          </span>
          <span class="m-l-2" tabindex="0"><a class="legal cursor text-decoration-underline">See full terms</a>.</span>
        </div>
      </div>

    </div>

    <!--MODAL-->
    <div class="dialog-container">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}" id="editPlanModal" (keydown)="backTabEvent($event,'editPlanModal','editModalContinueBtn')" (keydown.escape)="close()" tabindex="-1">
        <div class="row no-margin text-center padding-horizontal-medium">
          <div class="col-12 no-padding">
            <span mat-dialog-title class="black Display5" id="effectiveDatePage" tabindex="0"
              aria-label="We're conflicted on">We're conflicted on</span>
          </div>
        </div>
        <div class="row no-margin padding-top-medium">
          <div class="col-12 no-padding text-center body overflow-y" [attr.tabindex]="visible ? 0: -1" aria-label="Your selection conflicts with 2 GB High-Speed Data on your
          account. Select continue to remove 2 GB High-Speed Data and add your new selection.">Your selection conflicts
            with 2 GB High-Speed Data on your
            account. Select continue to remove 2 GB High-Speed Data and add your new selection.
            conflicts
            with 2 GB High-Speed Data on your
            account. Select continue to remove 2 GB High-Speed Data and add your new selection.
            conflicts
            with 2 GB High-Speed Data on your
            account. Select continue to remove 2 GB High-Speed Data and add your new selection.
            conflicts
            with 2 GB High-Speed Data on your
            account. Select continue to remove 2 GB High-Speed Data and add your new selection.
            conflicts
            with 2 GB High-Speed Data on your
            account. Select continue to remove 2 GB High-Speed Data and add your new selection.</div>
        </div>
        <div class="row mx-0 padding-top-medium">
          <div class="col-12 no-padding">
            <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="close()"
              [attr.tabindex]="visible ? 0: -1" aria-label="Continue" id="editModalContinueBtn">Continue</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="visible" class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}">
    </div>

  </div>
</div>
