<div class="TMO-PROFILE-NEW-HOME-PAGE">
  <div class="container">
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12">
        <p class="Display3 text-center">Profile</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm ">
        <p class="legal pb-1">{{subTitle}}</p>
        <div tabindex=0 class="col-12 dropdown no-padding" id="test"  appDropdown dropdownid="test" x-ms-format-detection="none">
          <div id="model"  class="dropdown-toggle">
            <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
            <span class="arrow-down pull-right mt-1"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="model">
            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
              (click)="select(state.name)">
              <a> {{state.name}} </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row padding-bottom-xl">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
      
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor pt-3 pt-md-4" routerLink='/billingAndPaymentsNew'
        routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Billing & Payments</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">Manage billing address, AutoPay, and paperless billing.</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor  pt-3 pt-md-4" routerLink='/TmobileIdNew' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">T-Mobile ID</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">Edit your name, email, password, security questions and linked phone numbers.</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor  pt-3 pt-md-4" routerLink='/mediaSettingsNew' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Media Settings</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">Manage Binge On<sup>TM</sup>.</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 ">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor  pt-3 pt-md-4" routerLink='/lineSettingsNew'
        routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Line Settings</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">Manage KickBack<sup>TM</sup> and edit your nickname, e911 address, usage address & site permissions</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor  pt-3 pt-md-4" routerLink='/militaryStatusDetail'
        routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Military Verification</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">Verify or check your military status and you may qualify for discounted prices.</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor  pt-3 pt-md-4" routerLink='/languageSettings'
        routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Language Settings</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">Edit your Customer Care language preference.</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor  pt-3 pt-md-4" routerLink='/blockingNew' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Blocking</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">Prevent device from receiving specific communications and downloads.</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 ">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor  pt-3 pt-md-4" routerLink='/privacyNotificationNew' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Privacy & Notifications</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">Manage service alerts, marketing and third-party communications and apps that use T-Mobile ID.</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor  pt-3 pt-md-4" routerLink='/familyControlNew' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Family Controls</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">Restrict access to adult content.</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor pt-3 pt-md-4" routerLink='/multipleSettingsNew' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Multiple Devices</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">Allows you to extend your number’s voice calling and messaging to multiple devices.</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
  </div>
</div>