<div class="TMO-PROFILE-BLADE-PAGE">
  <div *ngIf="topDivider" class="row">
    <div class="col-12">
      <div class={{topDividerClass}}></div>
    </div>
  </div>
  <div class="row ">
    <div class="col-12 d-flex align-items-center justify-space-between cursor" *ngIf="!switch" routerLink={{url}} routerLinkActive="active">
      <div class="col-10 no-padding pull-left py-3 py-md-4">
        <p class="{{titleTextClass}}" [innerHTML]="titleText"></p>
        <p class="{{titleDescClass}} pt-2 pt-md-3 col-12 no-padding" *ngIf="titleDesc != emptyValue" [innerHTML]="titleDesc"></p>
		    <p class="{{titleDesc2Class}} col-12 no-padding" *ngIf="titleDesc2 != emptyValue"  [innerHTML]="titleDesc2"></p>
      </div> 
      <div class="no-padding pr-0 fa-lg float-right">
          <span *ngIf="icon != emptyValue" class={{icon}} [ngClass]="{'float-right':true}" ></span>
      </div>
    </div>
    <div class="col-12 d-flex justify-space-between" *ngIf="switch" [ngClass]="{'align-items-baseline': titleDesc2 != emptyValue || titleDesc != emptyValue ,'align-items-center': titleDesc2 == emptyValue || titleDesc != emptyValue}">
        <div class="col-10 no-padding pull-left py-3 py-md-4">
          <p class="{{titleTextClass}}" [innerHTML]="titleText"></p>
          <p class="{{titleDescClass}} pt-2 pt-md-3 col-12 no-padding" *ngIf="titleDesc != emptyValue" [innerHTML]="titleDesc"></p>
          <p class="{{titleDesc2Class}} col-12 no-padding" *ngIf="titleDesc2 != emptyValue" [innerHTML]="titleDesc2"></p>
          <span *ngIf="moreLessDiv && titleDesc != emptyValue">
          <p class="pt-2 cursor {{ShowTextClass}}" *ngIf="showMore" (click)="showFunc()" >{{ShowMoreText}}</p>
          <p class="pt-2 cursor {{ShowTextClass}}" *ngIf="!showMore" (click)="hideFunc()">{{ShowLessText}}</p>
          </span>
        </div>
        <div class="no-padding pr-0 fa-lg float-right">
            <span *ngIf="switch">
              <label class="switch mt-1">
                <input type="checkbox" [checked]="checkOpt" (change)="checkOpt = !checkOpt">
                <span class="slider round"> </span>
              </label>
            </span>
        </div>
      </div>
  </div>
  <div *ngIf="bottomDivider" class="row">
    <div class="col-12">
      <div class={{bottomDividerClass}}></div>
    </div>
  </div>
</div>
