<div class="TMO-N-LINE-BLADE-COMPONENT">
  <div class="row" *ngFor="let plan of planDetails">
    <div class="col-12 col-md-10 offset-md-1 padding-top-medium" *ngIf="plan.title1 != ''">
      <p class="H4-heading">{{plan.title1}}</p>
    </div>
    <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium">
      <p class="H6-heading pull-left">{{plan.subtitle1}}</p>
      <p class="H6-heading pull-right">{{plan.subtitle1Price}}</p>
    </div>

    <div class="col-12 col-md-10 offset-md-1" *ngFor="let detail of plan['data1']">
      <div class="inset-divider-1px padding-top-small"></div>
      <div class="Display6 padding-bottom-xsmall">{{detail.title}}</div>
      <div *ngFor="let desc of detail['data'];let i=index" class="col-12 no-padding d-flex" [ngClass]="{'padding-bottom-xsmall':i===detail['data'].length-1}">
        <p class="body col-8 no-padding" [ngClass]="{'strike':!desc.applicable1,'body-bold black':desc.highlight}">
          {{desc.name}}
        </p>
        <p class="text-right body col-4 no-padding" [ngClass]="{'strike pr-1':!desc.applicable2,'body-bold black':desc.highlight}">
          {{desc.price}}
        </p>
      </div>
    </div>
    <div class="col-12 col-md-10 offset-md-1 padding-top-small p-l-0-xs p-l-0-sm p-r-0-xs p-r-0-sm">
      <div class="inset-divider-4px"></div>
    </div>
  </div>
</div>