@import "src/assets/scss/global-variables.scss";
.TMO-SCHEDULED-ACTIVITY-PAGE {
    .bold {
        font-weight: bold;
    }
    .visa-position {
        position: relative;
        top: 10px;
        left: 5px;
    }
}