<div class="TMO-SCHEDULED-ACTIVITY-PAGE">
    <div *ngFor="let scheduledData of scheduledData;let i=index;">
        <div class="Display4">{{scheduledData.heading}}</div>

        <div *ngFor="let val of scheduledData['data'];let k=index">
            <div class="col-12 no-padding">
                <p class="legal padding-top-large">{{val.scheduledDate}}</p>
                <div class="no-padding pt-1">
                    <p class="body bold">{{val.title}}</p>
                    <p class="body">{{val.description}}</p>
                </div>
                <p>
                    <span class="body bold black">{{val.paymentTitle}}
                        <span class="{{val.iconClass}} visa-position"></span>
                        <span class="pl-1">{{val.cardNum}}</span>
                    </span>
                </p>
            </div>
            <div class="col-12 no-padding padding-top-medium">
                <div *ngIf="k < (scheduledData['data'].length-1); else showMore" class="inset-divider-1px"></div>
            </div>
        </div>
    </div>
</div>