<div class="TMO-PA-HOME-PAGE">
  <div class=" container">
    <div class="main-content">
      <app-header></app-header>
      <div class="row padding-top-large-xs padding-top-large-sm padding-top-xl">
        <div class="col-12 text-center">
          <span class="Display3">Pay your bill</span>
        </div>
      </div>
      <div class="row padding-top-xsmall-xs padding-top-xsmall-sm padding-top-medium">
        <p class="col-12 text-center body-bold black mb-0">{{paymentdue}} due on {{duedate}}</p>
      </div>
      <div class="row">
        <p class="col-12 text-center body mb-0 padding-bottom-small-xs padding-bottom-small-sm padding-bottom-xl padding-top-base-xs padding-top-base-sm padding-top-xsmall">
          Last payment {{paymentamount}} on {{Paymentdate}}</p>
      </div>

      <div class="row" *ngFor="let val of paybillvalues">
        <div class="col-12 col-md-10 offset-md-1" *ngIf="val.descTitle != 'Payment method'">
          <paymentblade [title]="val.descTitle" [titleClass]="'Display6'" [card]="val.value" [bottomDivider]="val.bottomDivider"></paymentblade>
        </div>
        <div class="col-12 col-md-10 offset-md-1" *ngIf="val.descTitle === 'Payment method'">
          <paymentblade [title]="val.descTitle" [titleClass]="'Display6'" [card]="val.value" [icon]="iconClass" [bottomDivider]="val.bottomDivider"></paymentblade>
        </div>
      </div>
      
      <div class="col-12 col-md-10 offset-md-1 pull-left body mb-0  padding-top-small-xs padding-top-small-sm padding-top-medium padding-bottom-xl padding-bottom-xxl-xs padding-bottom-xxl-sm p-l-0-xs p-l-0-sm p-r-0-xs p-r-0-sm">
        <div class="d-flex">
        <i class="exclamation-circle d-inline d-table padding-horizontal-small pr-0"></i>
        <span  class="padding-horizontal-xsmall body ">This payment will NOT cancel your scheduled Payment Arrangement. Review<a class="body-link cursor" tabindex="1"> payment arrangement
          </a></span>
          
      
      </div>
    </div>
      <!-- <div class="col-12 col-md-10 offset-md-1 padding-top-large">
        <div class="d-flex">
          <i class="exclamation-circle d-inline d-table padding-horizontal-small pr-0 mt-md-1"></i>
          <span class="padding-horizontal-xsmall body mt-lg-1">You can only have one saved credit/debit card. Continue to replace your  stored card
            with a new card.</span>
        </div>
      </div> -->
      <div class="clearfix"></div>
    </div>
    <div class="col-12 col-md-10 offset-md-1">
      <p class="col-12 text-center legal black mb-0">By submitting, you agree to
        <span class="legal-link cursor" routerLink="/termsAndCondition" routerLinkActive="active"
          tabindex="2">Terms and Conditions</span>
      </p>
    </div>
    <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
      <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Agree & Submit</button>
        </div>
        <div class="col-12 col-md-6  float-md-left pl-md-0 ">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple (click)="gotopreviouspage()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>