<div class="TMO-STYLEGUIDE-DIVIDER">
  <div class="background-white">
    <div class="container">
      <div class="col-12 no-padding">
        <div class="Display4  text-center padding-vertical-xl"> Dividers</div>
        <div class="H6-heading padding-top-large">
          Full Bleed Divider
        </div>
        <div class="row">
          <div class="col-12">
            <hr class="full-bleed-divider">
          </div>
          <div class="col-12">
            <a (click)="showDividerCode1 = !showDividerCode1" class="legal-link"> {{showDividerCode1 ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showDividerCode1">
              <div class="padding-top-small">
                <code class=" language-markup border brand-magenta d-block">
                  &lt;div class="col-12">&lt;hr class="full-bleed-divider">&lt;/div>
                  <br/>
                </code>
              </div>
            </div>
          </div>
          <div class="col-12 H6-heading padding-top-medium">
            Inset Divider
          </div>
          <div class="col-12">
            <hr class="inset-divider-1px">
          </div>
          <div class="col-12">
            <a (click)="showDividerCode2 = !showDividerCode2" class="legal-link"> {{showDividerCode2 ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showDividerCode2">
              <div class="padding-top-small">
                <code class=" language-markup border brand-magenta d-block">
                  &lt;div class="col-12">&lt;hr class="inset-divider-1px">&lt;/div>
                  <br/>
                </code>
              </div>
            </div>
          </div>
          <div class="col-12 H6-heading padding-top-medium">
            Total Divider
          </div>
          <div class="col-12">
            <hr class="total-divider">
          </div>
          <div class="col-12 padding-bottom-large">
            <a (click)="showDividerCode3 = !showDividerCode3" class="legal-link"> {{showDividerCode3 ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showDividerCode3">
              <div class="padding-top-small">
                <code class=" language-markup border brand-magenta d-block">
                  &lt;div class="col-12">&lt;hr class="total-divider">&lt;/div>
                  <br/>
                </code>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
