@import "src/assets/scss/global-variables.scss";
.TMO-CURRENT-ACTIVITY-PAGE{
    @media #{$alldeviceexceptsmartphone}{
        .no-padding-md{
            padding-right:0px ;
            padding-left:0px ;
        }
    }
    @media #{$alldeviceexceptsmartphone}{
        .divider-right{
            border-right: 1px solid $gray20;
        }
    }

}