<div class="TMO-CURRENT-ACTIVITY-PAGE">
  <div class="container">
  <!-- Drop Down Section: Begin -->
    <div class="row padding-top-xl">
      <div class="col-12 no-padding">
        <div class="col-12 col-sm-12 col-md-4 float-md-right float-lg-right float-xl-right no-padding-md padding-vertical-large-xs padding-vertical-large-sm">
          <app-dropdown-selector [selectedVal]="selectedAccount" [selectNames]="selectNames" (callBackValue)='handleAccount($event)' [dropdownId]="id1"></app-dropdown-selector>
        </div>
        <div class="col-12 col-sm-12 col-md-8 float-md-left float-lg-left float-xl-left no-padding-md">
          <p class="Display3">Current activity</p>
        </div>
      </div>
    </div>
  <!-- Drop Down Section: End -->
  <div class="row d-block d-sm-block d-md-none padding-top-large pl-0 pr-0">
      <div class="col-12">
          <div class="full-bleed-divider"></div>
      </div>
  </div>

  <!-- Alerts & Scheduled Activity Section: Begin -->
    <div class="row padding-top-xxxl">
      <div class="col-12 col-md-6 divider-right">
        <app-alerts [alertsData]="alertsInfo"></app-alerts>
      </div>
      <div class="col-12 d-md-none padding-top-xsmall padding-bottom-large pl-0 pr-0">
          <div class="full-bleed-divider"></div>
      </div>
      <div class="col-12 col-md-6 pl-md-6 pl-lg-6 pl-xl-6 ">
       <app-scheduled-activity [scheduledData]='scheduledInfo'></app-scheduled-activity>
      </div>
    </div>
  <!-- Alerts & Scheduled Activity Section: End -->
  <div class="row padding-top-large padding-top-xl-md">
      <div class="col-12 pl-0 pr-0">
        <div class="full-bleed-divider"></div>
      </div>
    </div>

  <!-- Dropdowns and Custom Date Fields: Begin -->
  <div class="row padding-top-large padding-top-xl-md">
      <div class="col-12 Display4">Account history</div>
      <div class="col-12 d-flex padding-top-large padding-top-xl-lg  padding-bottom-xl-lg padding-top-xl-xl  padding-bottom-xl-xl">
        <div class="col-6 col-sm-6 col-md-4  pl-0 pr-3">
            <app-dropdown-selector [selectedVal]="selectedCategory" [selectNames]="selectCategory" (callBackValue)='handleCategory($event)' [dropdownId]="id2"></app-dropdown-selector>
        </div>
        <div class="col-6 col-sm-6 col-md-4 pl-2 pr-2">
            <app-dropdown-selector [selectedVal]="selectedTimePeriod" [selectNames]="selectTimePeriod" (callBackValue)='handleTimePeriod($event)' [dropdownId]="id3"></app-dropdown-selector>
        </div>
      </div>
      <div *ngIf="customDates" class="col-12 d-flex padding-bottom-xl unset">
        <div class="col-6 col-sm-6 col-md-4 pl-0 pr-3 unset">
            <p class="legal">Start date</p>
            <app-datepicker [parentColumn]=true [parentColumn1]=false [parentColumn2]=true [parentTitle]="startDateTitle" [parentSubTitle]="startDateDesc" [isInputDisabled]=true >parentDueDate</app-datepicker>
        </div>
        <div class="col-6 col-sm-6 col-md-4 pl-2 pr-2 unset">
            <p class="legal">End date</p>
            <app-datepicker [parentColumn]=true [parentColumn1]=false [parentColumn2]=true [parentTitle]="endDateTitle" [parentSubTitle]="endDateDesc" [isInputDisabled]=true >parentDueDate</app-datepicker>
        </div>
      </div>
    </div>
  <!-- Dropdowns and Custom Date Fields: End -->

  <!-- Pagination AH Data: Begin -->
  <div *ngIf="selectedCategory === 'All Categories' && accountHistoryData != null">
    <app-account-history-data category='All Categories' [title]="pageHeaders" [data]="pageData"></app-account-history-data>
  </div>
  <div *ngIf="selectedCategory == 'Conversations' && accountHistoryData != null">
    <app-account-history-data category='Conversations' [title]="pageHeaders" [data]="pageData"></app-account-history-data>
  </div>
  <div class="row padding-top-small padding-bottom-xl">
    <div *ngIf="accountHistoryData != null && (selectedCategory === 'All Categories' || selectedCategory == 'Conversations')" class="col-12">
      <paginationblade [currentPage]="currentpage" [noofrecordsPerpage]="noOfRecordsPerPage" [noofPagelink]="5" [totalRecords]="totalRecords"
        (moveFirstpage)="moveFirstpage()" (moveLastpage)="moveLastPage()" (moveCurrentPage)="moveCurrentPage($event)"></paginationblade>
    </div>
  </div>
  <!-- Pagination AH Data: End -->
</div>