<div class="TMO-PROFILE-PRIVACY-NOTIFICATION">
  <div class="container">
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12 pb-3 pb-md-4">
        <p class="Display3 text-center">Privacy and notifications</p>
        <div class="col-10 col-md-6 col-lg-4 offset-1 offset-md-3 offset-lg-4 padding-horizontal-xsmall  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
          <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
            [dropdownId]="dropdownId"></app-dropdown-selector>
        </div>
      </div>
      <div *ngFor="let val of  bladeInfo; let i = index" class="col-12 col-md-8 offset-md-2" >
        <app-profile-blade *ngIf="i < (bladeInfo.length-1); else bottomDivider" [titleText]='val.title'  [titleDesc]='val.desc' [titleDesc2]='val.desc2' [url]="val.url"></app-profile-blade>
        <ng-template #bottomDivider>
          <app-profile-blade [bottomDividerClass]="'inset-divider-1px pb-3 pb-md-4'" [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]='val.desc2' [url]="val.url" [bottomDivider]=true></app-profile-blade>
        </ng-template>
      </div>
    </div>
  </div>
</div>
