<div class="TMO-COMMON-BLADE-2">
<div class="container">
<div *ngFor="let val of paybillvalues" class="p-t-25">
  <div class="row">
  <div class="col-12 col-md-10 offset-md-1">
    <paymentblade [title]="val.descTitle" [titleClass]="val.font" [card]="val.value"></paymentblade>
      <div class="padding-bottom-xxl"></div>
  </div>
  </div>
</div>
</div>
</div>

