<div class="TMO-STYLEGUIDE-SPACERS">
  <div class="container">
    <div class="col-12 no-padding">
      <div class="Display4 text-center padding-vertical-xl"> Spacers</div>
      <div class="row">
        <div class="col-12  padding-bottom-xsmall H6-heading"> Base-4px </div>
        <div class="col-12">
          <div class="no-padding padding-top-base" style="background-color:pink"></div>
        </div>
      </div>
      <a (click)="showBaseCode = !showBaseCode" class="legal-link"> {{showBaseCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showBaseCode" class="padding-top-small">
        <code class=" language-markup border brand-magenta d-block">
          &lt;div class="no-padding padding-top-base">&lt;/div>
        </code>
      </div>
      <div class="row padding-top-large">
        <div class="col-12 xsmall-8px padding-bottom-xsmall H6-heading"> xsmall-8px </div>
        <div class="col-12">
          <div class="no-padding padding-top-xsmall" style="background-color:pink"></div>
        </div>
      </div>
      <a (click)="showXsmallCode = !showXsmallCode" class="legal-link"> {{showXsmallCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showXsmallCode" class="padding-top-small">
        <code class=" language-markup border brand-magenta d-block">
          &lt;div class="no-padding padding-top-xsmall">&lt;/div>
        </code>
      </div>
      <div class="row padding-top-large">
        <div class="col-12 xsmall-8px padding-bottom-xsmall H6-heading"> small-16px </div>
        <div class="col-12">
          <div class="no-padding padding-top-small" style="background-color:pink"></div>
        </div>
      </div>
      <a (click)="showSmallCode = !showSmallCode" class="legal-link"> {{showSmallCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showSmallCode" class="padding-top-small">
        <code class=" language-markup border brand-magenta d-block">
          &lt;div class="no-padding padding-top-small">&lt;/div>
        </code>
      </div>
      <div class="row padding-top-large">
        <div class="col-12 xsmall-8px padding-bottom-xsmall H6-heading"> medium-24px </div>
        <div class="col-12">
          <div class="no-padding padding-top-medium" style="background-color:pink"></div>
        </div>
      </div>
      <a (click)="showMediumCode = !showMediumCode" class="legal-link"> {{showMediumCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showMediumCode" class="padding-top-small">
        <code class=" language-markup border brand-magenta d-block">
          &lt;div class="no-padding padding-top-medium">&lt;/div>
        </code>
      </div>
      <div class="row padding-top-large">
        <div class="col-12 xsmall-8px padding-bottom-xsmall H6-heading"> large-32px </div>
        <div class="col-12">
          <div class="no-padding padding-top-large" style="background-color:pink"></div>
        </div>
      </div>
      <a (click)="showLargeCode = !showLargeCode" class="legal-link"> {{showLargeCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showLargeCode" class="padding-top-small">
        <code class=" language-markup border brand-magenta d-block">
          &lt;div class="no-padding padding-top-large">&lt;/div>
        </code>
      </div>
      <div class="row padding-top-large">
        <div class="col-12 xsmall-8px padding-bottom-xsmall H6-heading"> xl-40px </div>
        <div class="col-12">
          <div class="no-padding padding-top-xl" style="background-color:pink"></div>
        </div>
      </div>
      <a (click)="showXLCode = !showXLCode" class="legal-link"> {{showXLCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showXLCode" class="padding-top-small">
        <code class=" language-markup border brand-magenta d-block">
          &lt;div class="no-padding padding-top-xl">&lt;/div>
        </code>
      </div>
      <div class="row padding-top-large">
        <div class="col-12 xsmall-8px padding-bottom-xsmall H6-heading"> xxl-48px </div>
        <div class="col-12">
          <div class="no-padding padding-top-xxl" style="background-color:pink"></div>
        </div>
      </div>
      <a (click)="showXXLCode = !showXXLCode" class="legal-link"> {{showXXLCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showXXLCode" class="padding-top-small">
        <code class=" language-markup border brand-magenta d-block">
          &lt;div class="no-padding padding-top-xxl">&lt;/div>
        </code>
      </div>
      <div class="row padding-top-large">
        <div class="col-12 xsmall-8px padding-bottom-xsmall H6-heading"> xxxl-56px </div>
        <div class="col-12">
          <div class="no-padding padding-top-xxxl" style="background-color:pink"></div>
        </div>
      </div>
      <a class="padding-bottom-large" (click)="showXXXLCode = !showXXXLCode" class="legal-link"> {{showXXXLCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showXXXLCode" class="padding-top-small padding-bottom-large">
        <code class=" language-markup border brand-magenta d-block">
          &lt;div class="no-padding padding-top-xxxl">&lt;/div>
        </code>
      </div>
    </div>
  </div>
</div>
