<div class="TMO-BILLING-AND-PAYMENTS-ON-NEW">
  <div class="container">
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12 padding-bottom-small-xs padding-bottom-small-sm padding-bottom-medium">
        <p class="Display3 text-center">Billing & Payments</p>
      </div>
      <div class="col-10 col-md-10 offset-1 offset-md-1 col-lg-8 offset-lg-2 padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
        <p class="body text-center">Please note that changes apply to all lines on your account.</p>
      </div>
    </div>
    <div class="row padding-bottom-xl">
      <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center cursor" routerLink='' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Billing Address</p>
          <p class="body pt-3 col-12 no-padding">1 Ravinia Dr Suite 1000 Atlanta, GA 30346</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center cursor outline " routerLink='' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Payment methods</p>
          <p class="body pt-3 col-12 no-padding">Save up to 10 payment methods per line for secure, easy payments. </p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center cursor" routerLink='' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">Paperless Billing</p>
          <p class="body pt-3 col-12 no-padding">You are signed up for paperless billing</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center cursor" routerLink='' routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">AutoPay ON</p>
          <p class="body pt-3 col-12 no-padding"><span class="fa fa-check-circle green"></span> You are currently saving up to $5/mo with AutoPay.</p>
          <p class="body no-padding padding-top-xsmall">Next payment: Mar. 20, 2018</p>
          <p class="body no-padding padding-top-xsmall">Using my <span class="visa-icon align-middle"></span> ****6220</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
  </div>
</div>