<div class="TMO-SERVICES-HUB-STATUS">
  <div class="container overflowHidden">
    <app-header></app-header>
    <div class="main-content">
      <div class="row">
        <div class="col-12 Display3 text-center padding-top-large">
          <span role="title" tabindex="0" aria-label="Activate new services">Activate new services</span>
        </div>
        <div class="col-12 Display6 text-center padding-top-large">
          <span tabindex="0" aria-label="Select the service you'd like to activate.">Select the service you'd like to
            activate.</span></div>
        <div class="col-12 col-md-10 offset-md-1 padding-vertical-large">
          <div *ngFor="let val of hubData">
            <paymentblade [title]="val.descTitle" [titleClass]="val.font" [disableClass]="val.class" [icon]="val.icon"
              [url]="val.url" [showArrow]="true" [bottomDivider]="false" role="button">
            </paymentblade>
          </div>
          <div class="inset-divider-1px"></div>
        </div>
      </div>
    </div>
    <div class="row padding-bottom-xxxl">
      <div class="col-12 col-md-10 offset-md-1 text-center">
        <button appButtonripple role="button" class="SecondaryCTA blackCTA full-btn-width" routerlink=""
          routerlinkactive="active" tabindex="0" role="button" aria-label="Back to my account">
          Back to my account
        </button>
      </div>
    </div>
  </div>
</div>