@import "src/assets/scss/global-variables.scss";

.TMO-SERVICES-HUB-STATUS {
  .check-full-green,
  .check-full-gray {
    float: left;
  }
  .title-float {
    padding-left: $S;
    float: none;
  }
  .arrow-right {
    background: url('src/assets/img/SVGs/Icons/arrow-right_black.svg') no-repeat;
    vertical-align: bottom;
    width:18px;
    height: 18px;
  }
  @media (max-width:767px){
    .arrow-right {
      height:14px;
    }
  }
  @media (min-width:768px){
    .check-full-green,
    .check-full-gray {
      margin-top:2px;
    }
  }
}
