<div class="TMO-STYLEGUIDE-SLIDER">
    <div class="container m-b-8">
        <div class="col-12">
            <p class="Display3 text-center pb-4">Slider</p>
        </div>
        <div class="col-12 p-0">
            <p class="Display4 pt-5 pb-1">Continuous</p>
        </div>
        <app-slider [type]="'Continuous'"></app-slider>
        <div class="col-12 p-0">
            <p class="Display4  pt-5 m-b-8">Discrete</p>
        </div>
        <app-slider [type]="'Discrete'"></app-slider>
        <div class="col-12 p-0">
            <p class="Display4  pt-5 pb-1">Disabled</p>
        </div>
        <app-slider [disabled]=true></app-slider>
    </div>
</div>