@import "src/assets/scss/global-variables.scss";
.TMO-LINESETTINGS-CALLER-ID-CONFIRMATION {
    .bg-gray05 {
        background-color: $gray05;
    }
    .font-sf-pro{
        font-family: $SFProText-Regular !important;
    }
    .font-sf-pro-bold{
        font-family: $SFProText-Bold !important;
    }
   .no-underline{
       text-decoration: none;
   }
   .min-height{    
    min-height: calc(100vh - 534px);
  }
    @media #{$smartphones-xs},
    #{$smartphones-sm} {
        .arrow-position {
            bottom: 1px;
        }
        .back-arrow-position {
            bottom: 0px;
        }
        .font-16 {
            font-size: 16px;
            line-height: 24px;
        }
    }
    
   
    .contact-link:focus,
    .contact-link:hover {
        .line-setting {
            color: $brand-magenta;
         }
        color: $brand-magenta;     
        .arrow-right-black-24 {
            background: url('src/assets/img/SVGs/Icons/ic_keyboard_arrow_right_magenta_20px.svg') no-repeat;
        }
    }
}