<div class="TMO-LINESETTINGS-CALLER-ID-CONFIRMATION">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-1 col-lg-4 padding-top-medium padding-bottom-medium">
                <p><span class="legal pb-1" tabindex="0" [attr.aria-label]="subTitle">{{subTitle}}</span></p>
                <div class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none" tabindex="0" [attr.aria-label]="'Press enter to open and press up and down keys to navigate ' +selectedLine+ ' is selected' ">
                    <div id="model" class="dropdown-toggle">
                        <span class="body black" ng-model="selectedLine" innerHTML="{{selectedLine}}"></span>
                        <span class="arrow-down pull-right mt-1"></span>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="model">
                        <li class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}" (click)="select(state.name, state.pah)">
                            <a role="menuitem" innerHTML="{{state.name}}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="bg-gray05 min-height">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 offset-md-1 col-lg-7 col-xl-6 offset-lg-1 padding-top-xl padding-top-large-xs padding-top-large-sm">
                    <span *ngIf=callerIdSuccess class="Display3 gray85" tabindex="0" aria-label="We’ve received your new Caller ID submission">We’ve received your new Caller ID submission</span>
                    <span *ngIf=!callerIdSuccess class="Display3 gray85" tabindex="0" aria-label="We’re unable to change your Caller ID at the moment.">We’re unable to change your Caller ID at the moment.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 offset-md-1 padding-top-medium padding-bottom-xxxl">
                    <span *ngIf="callerIdSuccess" class="body font-sf-pro font-16 gray85" tabindex="0" [attr.aria-label]="'Your new Caller ID: '+userName+' will be updated and reflected into our system within 72 hours, please check back later'">Your new Caller ID: <span class="body font-sf-pro-bold font-16 gray85">{{userName}}</span>                    will be updated and reflected into our system within 72 hours, please check back later. </span>
                    <span *ngIf="!callerIdSuccess" class="body font-sf-pro font-16 gray85" tabindex="0" aria-label="Let’s connect you with our award-winning customer care rep to assist you with this request.">Let’s connect you with our award-winning customer care rep to assist you with this request.<a class="body font-sf-pro-bold black font-16 contact-link d-inline-flex"> Contact us <span class="d-inline-block arrow-right-black-24 position-relative arrow-position"></span></a>
                    </span>
                    <div *ngIf="callerIdSuccess" class="padding-top-medium"><span class="contact-link d-inline-block black">
              <a routerLink="/lineSettingsNew" class="body-bold font-sf-pro-bold font-16 black d-flex  line-setting no-underline" aria-label="Back to line settings">Back to line settings <span class="d-inline-block arrow-right-black-24 position-relative back-arrow-position"></span></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>