<div class="TMO-JOD-ENDING-SOON-OPTIONS">
  <div class="container">
    <!-- Add main content class as required for Button bottom alignment -->
    <div class="row padding-top-medium">
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-medium">
        <p class="Display3 text-center">End of lease options</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 no-padding-xs p-l-0-sm p-r-0-sm">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <div class="row padding-top-medium">
      <div class="col-12 no-padding-xs col-md-10 offset-md-1 padding-bottom-small">
        <p class="Display5 text-center">Option 1: Pay for your device in installments</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
        <p class="body text-center">Set up an installment plan to make monthly payments and buy your device.</p>
      </div>
      <div class="col-4 col-md-2 offset-md-1 text-center padding-bottom-large 
        padding-bottom-medium-xs padding-bottom-medium-sm">
        <img src="./assets/img/phone-image@2x.png" class="phone-image">
      </div>
      <div class="col-8 col-md-3 padding-bottom-medium padding-bottom-small-xs padding-bottom-small-sm">
        <p class="Display6">{{details.name}}</p>
        <p class="legal padding-top-xsmall">{{details.phoneNo}}</p>
        <p class="body padding-top-xsmall-xs padding-top-xsmall-sm padding-top-base
        padding-bottom-xsmall">{{details.phone}}</p>
      <div class="black d-none d-md-inline-block no-wrap">
        <div class="d-inline-block pr-3 body-bold black">
          <sup class="">$</sup>
          <span class="Display5">{{details.dueMonth}}</span>
          <br>
          <span class="legal float-right pt-1 black">Due today</span>
        </div>
        <div class="d-inline-block H5-heading position-absolute">/</div>
        <div class="d-inline-block pl-4 pl-md-0 pl-lg-4  body black">
          <sup class="p-l-12">$</sup>
          <span class="H5-heading"> {{details.due9Months}}</span>
          <br>
          <span class="legal float-right pt-1 black">For 9 months</span>
        </div>
      </div>
      <div class="black d-block d-md-none">
        <div class="d-inline-block pr-3 body-bold black">
          <sup class="">$</sup>
          <span class="Display3">{{details.dueMonth}}</span>
          <br>
          <span class="legal float-right pt-1">Due today</span>
        </div>
        <div class="d-inline-block H3-heading position-absolute">/</div>
        <div class="d-inline-block pl-4 body black">
          <sup class="">$</sup>
          <span class="H3-heading"> {{details.due9Months}}</span>
          <br>
          <span class="legal float-right pt-1">For 9 months</span>
        </div>
      </div>
    </div>
      <div class="col-12 col-md-5 padding-bottom-large padding-bottom-small-xs padding-bottom-small-sm">
        <div class="row">
          <div class="col-12 text-center">
            <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left w-78" appButtonripple>Set up installment plan</button>
          </div>
          <div class="col-12  padding-top-small">
            <p class="legal">
              <b>If you cancel wireless service, the remaining balance on your device becomes due.</b> 0% APR O.A.C. for well-qualified
              customers. Qualifying service required. Installment plan only available for devices active on line of T-Mobile
              service.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 no-padding-xs p-l-0-sm p-r-0-sm">
        <div class="inset-divider-4px"></div>
      </div>
    </div>
    <div class="row padding-top-medium">
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
        <p class="Display5 text-center">Option 2 : Turn in or upgrade</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
        <p class="body text-center">You can turn in your device instead of paying the purchase option price. Visit a retail store to turn in your device or to learn about your upgrade options.</p>
      </div>
      <div class="col-12 padding-bottom-medium text-center">
          <button class="SecondaryCTA blackCTA full-btn-width  w-343" appButtonripple >
              Find a location </button>
      </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 no-padding-xs p-l-0-sm p-r-0-sm">
          <div class="inset-divider-4px"></div>
        </div>
      </div>
      <div class="row padding-top-medium">
        <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
          <p class="Display5 text-center">Option 3 : Pay for your device later</p>
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-bottom-small padding-bottom-xsmall-xs padding-bottom-xsmall-sm">
          <p class="body text-center padding-bottom-small">If you prefer, you can pay for your device all at once. Your purchase option price will be on your monthly bill after your final lease payment.</p>
          <p class="body-bold text-center black">Full balance will be on your monthly bill</p>
        </div>
        <div class="body col-6 offset-4 col-md-5 offset-md-5 padding-bottom-medium d-flex text-center">
            <sup class="black padding-top-base-xs padding-top-base-sm padding-top-xsmall">$</sup>
            <p class="Display5">{{monthlyBill}} </p>
            <p class="legal padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">+ tax</p>
          </div>
      </div>
      <div class="no-margin-xs">
          <div class="col-12 no-padding">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="padding-bottom-medium">
        <div class=" no-margin-xs padding-top-medium bg-color-gray10">
            <div class="col-12 col-md-9 offset-md-1 padding-bottom-medium p-l-30">
              <p class="H6-heading padding-bottom-xsmall">Documents & receipts</p>
              <p class="body">To view billing, payment history, and electronic agreements related to your account, go to 
              <a class="body-link cursor" routerLink="">account activities</a></p>
            </div>
          </div>
        </div>
  </div>
</div>