@import "src/assets/scss/global-variables.scss";
.TMO-JOD-ENDING-SOON-OPTIONS {
    @media #{$alldeviceexceptsmartphone} {
        .w-78 {
            width: 78% !important;
        }
        .w-343 {
            width: 343px;
        }
        .p-l-30 {
            padding-left: 30px;
        }
    }
    .bg-color-gray10 {
        background-color: $gray10;
    }
    .phone-image {
        width: 68px;
        height: 114px;
    }
    .p-l-12{
        padding-left:12px;
    }
    @media #{$tablets-md}{
        .H5-heading{
            font-size:24px;
        }
        .Display5{
            font-size: 24px;
        }
    }
    @media #{$smartphones-sm},#{$smartphones-xs}
    {
    .no-margin-xs
    {
        margin-right: -15px;
        margin-left: -15px;
    }
   }
   .no-wrap{
    white-space: nowrap;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   @media #{$tablets-md},#{$desktops-lg}{
    .H5-heading{
        font-size:20px !important;
    }
    .Display5{
        font-size: 20px !important;
    }
     /*  .no-wrap{
           white-space: nowrap !important;
       }*/
   }
}
}
