<div class="TMO-BENEFIT">
    <div class=" container  padding-bottom-medium">
        <app-header></app-header>
        <div class="row " >
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center padding-top-small">
            <img class="netflix-img" src="http://placehold.it/608x304?text=FPO">
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center padding-top-small">
            <span class="Display4">We’re including Netflix On Us </span>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 padding-top-small">
            <span class="body">Just sign up for a Netflix account below. If you have a Netflix Premium subscription, you'll see a charge for
                the cost difference  within 2-3 bill cycles.</span>
        </div>
    </div>
        <div class="row  d-block text-sm-center" >
            <div class="col-12 d-inline-block padding-top-large ">
                <button class="PrimaryCTA full-btn-width" appButtonripple>Sign up for Netflix On Us</button>
            </div>
        </div>
        <div class="row " >
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 legal  padding-top-large padding-bottom-large">
            Redeeming this offer will replace your current Netflix payment method with T-Mobile. On all T-Mobile plans, if congested,
            customers using >50GB/mo. may notice reduced speeds due to prioritization. Video typically streams at 480p. Tethering
            at max 3G speeds. Int'l speeds approx. 128 kbps. Limited time offer; subject to change. Receive Netflix Standard
            2-screen (up to a $10.99/mo. value) while you maintain 2+ qual'g T-Mobile ONE lines in good standing. Value may
            be applied to different Netflix streaming plans. Not redeemable or refundable for cash. Cancel Netflix anytime.
            Netflix Terms of Use apply:
            <span class="legal-link cursor"> www.netflix.com/termsofuse</span>. 1 offer per T-Mobile account; may take 1-2 bill cycles. Like all plans, features
            may change or be discontinued at any time; see T-Mobile Terms and Conditions for details.
        </div>
        </div>
    </div>
</div>