@import "src/assets/scss/global-variables.scss";
.TMO-BENEFIT {
    .netflix-img {
        height: 304px;
        width: 100%;
    }
    @media #{$smartphones-xs} {
        .netflix-img {
            height: 172px;
            width: 100%;
        }
   
      
    }
}