<div class="TMO-DEVICE-USER-INFO-BLADE-PAGE">
  <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-large cursor" *ngFor="let device of deviceDetails"
    routerLink={{device.url}} routerLinkActive="active">
    <div class="col-2 col-md-2  offset-md-1 col-lg-1 offset-lg-1 d-inline-block">
      <img src={{device.img}} class="phone-image">
    </div>
    <div class="col-10 col-md-8 col-lg-9 d-inline-flex align-items-center justify-content-between">
      <div class="d-inline-block">
        <p class="legal text-dark-pink text-uppercase padding-bottom-xsmall-md padding-bottom-xsmall-lg padding-bottom-xsmall-xl" *ngIf="device.additionalInfo != '' ">{{device.additionalInfo}}</p>
        <p class="Display6">{{device.name}}</p>
        <p class="body body-10 padding-top-xsmall p-t-0-xs" x-ms-format-detection="none">{{device.number}}</p>
      </div>
      <div class="text-right d-inline-flex align-items-center">
        <div class="d-inline-block p-r-20-md">
          <p class="body-bold text-right black">{{device.amount}}<span class="body black">{{device.pmo}}</span>
          </p>
          <p class="body body-10 text-right padding-top-xsmall p-t-0-xs">{{device.addOnInfo}}</p>
        </div>
        <span class="arrow-right d-inline-block pull-right"></span>
      </div>
    </div>
    <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs padding-top-medium-xs padding-top-medium-sm padding-top-large">
      <div class="inset-divider-1px"></div>
    </div>
  </div>
</div>