@import "src/assets/scss/global-variables.scss";
.TMO-DEVICE-USER-INFO-BLADE-PAGE {
    @media #{$alldeviceexceptsmartphone} {
        .p-r-20-md {
            padding-right: 20px;
        }
        .phone-image{
            //width: 61px;
            height: 100px;
        }
    }
    @media #{$smartphones-xs},#{$smartphones-sm} {
        .phone-image{
            //width: 50px;
            height: 80px;
        }
        .body-10 {
            font-size: 10px;
        }
        .p-t-0-xs{
            padding-top: 0px;
        }
    }
    .text-dark-pink {
        color: #e60071;
    }
}