@import "src/assets/scss/global-variables.scss";
.TMO-CREDIT-CARD-PAGE-WITH-ADDRESS{
    .dialog{
        max-width:251px;
        min-width:251px;
        @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
            max-width: 450px;
        }
       }
    .cardSize 
    {
        width:100%;
    }
    .plainImg{
        background:lightgray no-repeat;
        width: 25px;
        height: 15px;
        @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
        background:lightgray no-repeat;
        width: 50px;
        height: 30px;
        } 
    }
   @media #{$tablets-md}{
    .no-padding-md{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
   .align-bottom{padding-top: 20px;}
   @media #{$alldeviceexceptsmartphone}{
    .lineheight
    {
        line-height: 1.9rem;
    }
   }
   .lineheight{line-height: 2.2rem;} 
   li:first-child:hover {
     color: $gray60;
     background-color: $white;
        a {
          cursor: default;
        }
    }
}
