<div class="TMO-LINE-SETTINGS">
    <div class="container">
        <div class="row padding-bottom-small-xs padding-bottom-small-sm padding-top-large-xs padding-top-large-sm padding-top-xl padding-bottom-medium">
            <div class="col-12">
                <p class="Display3 text-center">Line Settings</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
                <p class="legal pb-1">{{subTitle}}</p>
                <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
                    <div id="model"  class="dropdown-toggle">
                        <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
                        <span class="arrow-down pull-right mt-1"></span>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="model">
                        <li role="menuitem" class="dropdown-option body mx-1">
                            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
                                (click)="select(state.name)">
                                <a> {{state.name}} </a>
                            </li>
                    </ul>
                </div>
            </div>

        </div>
        
        <div class="row">
                <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor" routerLink='/lineSettingsNicknameNew'
                routerLinkActive="active">
                <div class="col-10 no-padding pull-left pb-3 pb-md-4">
                  <p class="Display6">Nickname</p>
                  <p class="body pt-2 pt-md-3 col-12 no-padding">Jay L</p>
                </div>
                <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
                  <span class="arrow-right d-inline-block float-right"></span>
                </div>
              </div>
              <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
                <div class="inset-divider-1px"></div>
              </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor" routerLink='/lineSettingsCallerIdNew'
          routerLinkActive="active">
          <div class="col-10 no-padding pull-left pb-3 pb-md-4">
            <p class="Display6">Caller ID</p>
            <p class="body pt-2 pt-md-3 col-12 no-padding">Zachfrost</p>
          </div>
          <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
            <span class="arrow-right d-inline-block float-right"></span>
          </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
          <div class="inset-divider-1px"></div>
        </div>
  </div>

        <div class="row">
                <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor" routerLink='/E911Address'
                routerLinkActive="active">
                <div class="col-10 no-padding pull-left pb-3 pb-md-4">
                  <p class="Display6">e911 Address</p>
                  <p class="body d-inline-block  col-12 no-padding padding-top-small padding-top-xsmall-xs">1 Ravinia Dr Suite 1000</p>
                    <p class="body d-inline-block  col-12 no-padding">Atlanta, GA 30346</p>
                </div>
                <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
                  <span class="arrow-right d-inline-block float-right"></span>
                </div>
              </div>
              <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
                <div class="inset-divider-1px"></div>
              </div>
        </div>
        
        <div class="row">
                <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between">
                <div class="col-10 no-padding pull-left pb-3 pb-md-4">
                  <p class="Display6">Usage Address</p>
                  <p class="body d-inline-block  col-12 no-padding padding-top-small padding-top-xsmall-xs">1 Ravinia Dr Suite 1000</p>
                    <p class="body d-inline-block  col-12 no-padding">Atlanta, GA 30346</p>
                </div>
                <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
                  <span class="arrow-right d-inline-block float-right"></span>
                </div>
              </div>
              <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
                <div class="inset-divider-1px"></div>
              </div>
        </div>
        <div class="row">
                <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor" routerLink='/lineSettingsLineChangedNew'
                routerLinkActive="active">
                <div class="col-10 no-padding pull-left pb-3 pb-md-4">
                  <p class="Display6">Permissions</p>
                  <p class="body pt-2 pt-md-3 col-12 no-padding">Primary Account Holder</p>
                </div>
                <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
                  <span class="arrow-right d-inline-block float-right"></span>
                </div>
              </div>
              <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
                <div class="inset-divider-1px"></div>
              </div>
        </div>
        
    </div>
</div>
