<div class="TMO-STYLEGUIDE-DATE-PICKER-FULL-SCREEN-PAGE">
  <div class="container dialog-container">
    <div class="dialog_fullScreen">
      <!-- <div class="main-content-singlerow"> -->
        <div class="row no-margin">
          <div class="col-12 Display3 text-center d-md-none padding-top-medium padding-horizontal-medium">{{title}}</div>
          <div class="col-12 Display5 text-center padding-top-medium d-none d-md-block padding-horizontal-medium">{{title}}</div>
          <div *ngIf="showSubTitle" class="col-12 body text-center padding-top-xsmall padding-horizontal-medium">
            <div class="col-10 col-md-12 no-padding d-inline-block">{{subTitle}}</div>
          </div>
          <!-- Calendar logic: Begin -->
          <div class="col-12 no-padding text-center padding-top-small padding-top-medium-md padding-horizontal-medium">
            <button class="pull-left ml-2" [ngClass]="{'arrow-left-gray30':prevDisabled,'arrow-left-gray60':!prevDisabled,'cursor-pointer':!prevDisabled}"
              [disabled]="prevDisabled" (click)="getPrevMonth()"></button>
            <span class="Display4 d-inline-block d-md-none">{{monthTitle}} {{year}}</span>
            <span class="Display6 d-none d-md-inline-block">{{monthTitle}} {{year}}</span>
            <button class="pull-right mr-2" [ngClass]="{'arrow-right-gray30':nextDisabled,'arrow-right-gray60':!nextDisabled,'cursor-pointer':!nextDisabled}"
              [disabled]="nextDisabled" (click)="getNextMonth()"></button>
          </div>
          <div class="col-12 pt-3 text-center pl-md-4 pr-md-1">
            <button *ngFor="let day of weekDay" class="body-bold black block-width">{{day}}</button>
          </div>
          <div class="col-12 gray40 text-center pl-md-4 pr-md-1">
            <div *ngFor="let dates of monthArray">
              <span *ngIf="dates['val1']">
                <button class="btn-background body block-width" *ngFor="let prevDate of prevDates" (click)="select(prevDate,monthTitle,year,'first')"
                  [ngClass]="{'selectedBlock':selectEndWeeks(prevDate,monthTitle,year,'first'),'dueBlock':isDue(prevDate,monthTitle,year,'first'), 'disabled':isDisabled(prevDate,monthTitle,year,'first')}">{{prevDate}}</button>
              </span>
              <button class="btn-background body-bold black block-width" *ngFor="let date of dates['week']" (click)="select(date,monthTitle,year,'main')"
                [ngClass]="{'todayBlock':isToday(date,monthTitle,year),'selectedBlock':isSelected(date,monthTitle,year),'dueBlock':isDue(date,monthTitle,year,'main'),'disabled':isDisabled(date,monthTitle,year,'main')}">{{date}}
              </button>
              <span *ngIf="dates['val2']">
                <button class="btn-background body block-width" *ngFor="let nextDate of nextDates" (click)="select(nextDate,monthTitle,year,'last')"
                  [ngClass]="{'selectedBlock':selectEndWeeks(nextDate,monthTitle,year,'last'),'dueBlock':isDue(nextDate,monthTitle,year,'last'), 'disabled':isDisabled(nextDate,monthTitle,year,'last')}">{{nextDate}}</button>
              </span>
            </div>
          </div>
          <!-- Calendar logic: End -->
          <div class="col-12 padding-top-small padding-bottom-medium-md margin-bottom-medium-lg padding-horizontal-medium text-center">
            <div class="col-12 col-md-6 detailsPosition no-padding d-inline-flex">
              <div class="col-6 no-padding">
                <div class="float-right d-inline-flex">
                  <div class="brand-magenta border-box d-inline-block"></div>
                  <span class="pl-2 mb-0 legal">Selected date</span>
                </div>
              </div>
              <div class="col-5 no-padding d-inline-flex">
                <div class="bg-gray60 border-box-due ml-3 d-inline-block"></div>
                <span class="padding-horizontal-xsmall mb-0 legal">Due date</span>
              </div>
            </div>
            <div class="col-md-6 no-padding float-md-right d-none d-md-block">
              <button class="PrimaryCTA-accent float-right" appButtonripple (click)="selectedBtn()" [disabled]="btnDisable">Variable width CTA</button>
            </div>
          </div>
        </div>
      <!-- </div> -->
      <div class="row no-margin d-block d-md-none padding-vertical-medium">
        <div class="col-12 no-padding">
          <button class="PrimaryCTA full-btn-width" appButtonripple (click)="selectedBtn()" [disabled]="btnDisable">CTA goes here</button>
        </div>
      </div>
    </div>
  </div>
</div>