@import "src/assets/scss/global-variables.scss";
.TMO-STYLEGUIDE-DATE-PICKER-FULL-SCREEN-PAGE {
  .dialog-container {
    // left:0px;
    // right:0px;
    position: unset;
    display: flex;

    @media #{$alldeviceexceptsmartphone} {
      min-height: calc(100vh - 460px);
    }
  }
  .dialog_fullScreen {
    margin-right: auto;
    margin-left: auto;
    // width: 343px;
    //max-height: 457px;
    @media #{$alldeviceexceptsmartphone} {
      width: 448px;
      //max-height: 489px;
    }
  }
  // .size-12px{
  //     width:12px;
  //     height:12px;
  // }
  .border-box {
    // box-sizing: border-box;
    border: 1px solid;
    width: 12px;
    height: 12px;
  }
  .border-box-due {
    width: 12px;
    height: 12px;
    background-color: #cccccc;
  }
  .block-width {
    background: none;
    border: 0px;
    padding: 0px;
    outline: none;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    float: left;
    @media #{$smartphones-xs}, #{$smartphones-sm} {
      margin-right: 0px;
      float: inherit;
    }
    @media #{$minismartphones-xs} {
      width: 35px;
      height: 35px;
    }
  }
  .date_focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 6px;
    outline: $none;
    color: $white;
    text-decoration: $none;
    transform: translateY(-0.05em);
  }
  .btn-background {
    cursor: pointer;
    &:hover {
      @extend .date_focus;
      background-color: $magenta-mid;
      border-color: $magenta-mid;
      transition-duration: 0.2s;
    }
    &:focus,
    &:active::after {
      @extend .date_focus;
      background-color: $magenta-mid;
      border-color: $magenta-mid;
      transition-duration: 0.4s;
    }
    &:active {
      @extend .date_focus;
      background-color: $magenta-dark;
      border-color: $magenta-dark;
      transition-duration: 0.4s;
    }
  }
  .todayBlock {
    border: 1px solid $brand-magenta;
    color: $brand-magenta;
    background: $none;
    box-shadow: $none;
  }
  .dueBlock {
    background-color: $gray30;
    color: $gray60;
  }
  .btn-background.selectedBlock {
    border: 1px solid $brand-magenta;
    color: $brand-magenta;
    background: $none;
    box-shadow: $none;
    &:hover {
      @extend .date_focus;
      color: $brand-magenta;
      border-color: $magenta-mid;
      transition-duration: 0.2s;
    }
  }
  .disabled {
    font-weight: normal;
    color: $gray60;
    cursor: none;
  }
  .bg-gray30 {
    background-color: $gray30;
    border: none;
  }
  @media #{$tablets-md} {
    .detailsPosition {
      position: absolute;
      bottom: 24px;
      left: 0px;
    }
  }
  @media #{$desktops-lg},#{$desktops-xl} {
    .detailsPosition {
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }
  .arrow-left-gray60,
  .arrow-right-gray60,
  .arrow-left-gray30,
  .arrow-right-gray30 {
    width: 24px;
    height: 24px;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 0px;
  }
  .cursor-pointer {
    cursor: $pointer;
  }
  // @media #{$smartphones-xs},#{$smartphones-sm} {
  //  .main-content-singlerow {
  //     min-height: calc(100vh - 96px);
  //  }
  //  .dialog-container {
  //     position: relative;
  //     @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  //         display: table;
  //     }
  //  }
  // }
  @media #{$desktops-lg}, #{$desktops-xl} {
    .margin-bottom-medium-lg {
      margin-bottom: $M;
    }
  }
}
