@import "src/assets/scss/global-variables.scss";
.TMO_USAGE_DETAILS-1 { 
    .pointer {
        cursor: pointer;
    }
    .text-wrap {
        word-wrap: break-word;
    }
    .tablefilter
    {
        color:#E20074;
        cursor:pointer;
    }
    .filterbuttonheight
    {
        height:48px;
    }
    .filterlabel
    {
        border: 1px solid #F2F2F2;
        background-color: #F2F2F2;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        margin-right:5px;
      }
      .m-t-5
      {
          margin-top:5px;
      }

      @media #{$smartphones-sm},#{$tablets-md},#{$desktops-xl},#{$desktops-lg}{
        .blade-background-color {
            background-color: rgba(242, 242, 242, 0.5);
          }
        }

      @media #{$smartphones-xs}{
        .blade-background-color-mobile {
            background-color: rgba(242, 242, 242, 0.5);
        }
      }
}