<div class="TMO_USAGE_DETAILS-1">
  <div class="container">
    <div class="row">
      <div class="col-12 padding-vertical-small-xs padding-vertical-small-sm padding-top-xl padding-bottom-small">
        <span class=" float-left arrow-size arrow-back" (click)="gotopreviouspage()" aria-hidden="true"></span>
        <p class="text-center eyebrow black">{{name}}</p>
      </div>
      <div class="col-12 padding-bottom-medium">
        <p class="Display3 text-center" *ngIf="category === 'Calls'">Call details</p>
        <p class="Display3 text-center" *ngIf="category === 'Messages'">Message details</p>
        <p class="Display3 text-center" *ngIf="category === 'Data'">Data details</p>
        <p class="Display3 text-center" *ngIf="category === 'Mobile Hotspot'">Mobile Hotspot</p>
        <p class="Display3 text-center" *ngIf="category === 'Data stash'">Data stash</p>
        <p class="Display3 text-center" *ngIf="category === 'Data pass'">Data pass</p>
        <p class="Display3 text-center" *ngIf="category === 'T-Mobile purchases'">T-Mobile purchases</p>
        <p class="Display3 text-center" *ngIf="category === 'Third party purchases'">Third party purchases</p>
      </div>
    </div>
    <div class="row d-md-none">
      <div class="col-12 padding-bottom-small no-padding-xs">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row padding-bottom-small">
      <div class="col-md-2 col-4  d-md-block padding-bottom-small" *ngIf="mobileapp">
        <button [ngClass]="{'PrimaryCTA filterbuttonheight':filterdata,'SecondaryCTA blackCTA':!filterdata}" class="w-100 "  (click)="applyfilter()">Filter</button>
      </div>
      <div class="col-md-7 col-6 no-padding d-contents padding-bottom-small m-t-5" *ngIf="mobileapp">
        <span class="filter-box filterlabel " *ngFor="let item of filterjson; index as i;">
          <span class="ml-2 " >{{item.data}}</span>
          <span class="filter-cross">
            <i class="clear-icon" style="cursor:pointer;padding-top:28px" (click)="closeFunction(i)"></i>
          </span>
        </span>
      </div>
<div class="clearfix"></div>
      <div class="col-12 col-md-3">

        <app-dropdown-selector [subTitle]="subTitle" [selectNames]="selectLine" [selectedVal]="selectedLine" (callBackValue)='handleLine($event)'
          [dropdownId]="dropdownId"></app-dropdown-selector>
      </div>
    </div>

    <div class="blade-background-color no-padding-xs">
         <div class="row blade-background-color-mobile">
            <div class="col-12 padding-bottom-small no-padding-xs">
              <div class="inset-divider-1px"></div>
            </div>
          </div>
          <div class="row blade-background-color-mobile">
            <div class="col-12 body bg-color">
              <p class="pull-left" *ngIf="category === 'Calls'">Total:{{totalminutes}} minutes</p>
              <p class="pull-left" *ngIf="category === 'Messages'">Total: {{totalRecords}}</p>
              <p class="pull-right" *ngIf="category === 'Calls'">Total charges: ${{totalCharges | number : '1.2-2'}}</p>
              <p class="pull-left" *ngIf="category === 'Data' || category === 'Mobile Hotspot' || category === 'Data stash'
              || category === 'Data pass' || category === 'T-Mobile purchases' || category === 'Third party purchases'">Total Use: {{dataCal}}</p>
            </div>
          </div>
          <div class="row blade-background-color-mobile">
            <div class="col-12 padding-top-small no-padding-xs">
              <div class="inset-divider-1px"></div>
            </div>
          </div>
    </div>
    
    <div class="d-none d-md-block" *ngIf="category === 'Calls' ">
      <div class="row body d-flex padding-vertical-xsmall">
        <div class="col-2 d-inline-block">Number</div>
        <div class="col-3 d-inline-block">Location</div>
        <div class="col-2 d-inline-block pl-0">Type</div>
        <div class="col-1 d-inline-block pr-0">Duration</div>
        <div class="col-3 d-inline-block text-center-md">Date & Time, PST</div>
        <div class="col-1 d-inline-block pl-0 text-right">Charge</div>
      </div>
    </div>
   <div class="d-none d-md-block" *ngIf="category === 'Messages' ">
      <div class="row body d-flex padding-vertical-xsmall">
        <div class="col-2 d-inline-block">Number</div>
        <div class="col-3 d-inline-block">Location</div>
        <div class="col-2 d-inline-block pl-0">Direction</div>
        <div class="col-1 d-inline-block pr-0">Type</div>
        <div class="col-3 d-inline-block text-center-md">Date & Time, PST</div>
        <div class="col-1 d-inline-block pl-0 text-right">Charge</div>
      </div>
    </div>
    <div class="d-none d-md-block" *ngIf="category === 'Data' || category === 'Mobile Hotspot' || category === 'Data stash'
      || category === 'Data pass' || category === 'T-Mobile purchases' || category === 'Third party purchases'">
      <div class="row body d-flex padding-vertical-xsmall">
        <div class="col-2 d-inline-block">Type</div>
        <div class="col-3 d-inline-block">Usage</div>
        <div class="col-2 d-inline-block pl-0">Location</div>
        <div class="col-3 d-inline-block text-center-md">Date & Time, PST</div>
        <div class="col-2 d-inline-block pl-0 text-right">Charge</div>
      </div>
    </div>
    <div class="row padding-bottom-small d-none d-md-block">
      <div class="col-12">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <ng-container *ngIf="category === 'Calls'" >
      <div class="row body d-flex padding-bottom-medium-lg padding-bottom-medium-md padding-bottom-medium-xl padding-top-xsmall-xs padding-top-xsmall-sm" *ngFor="let data of pageData; let i = index">
        <div class="col-md-2 col-12 d-inline-block">
          <span class="float-left" x-ms-format-detection="none" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('call-number',data['call-number'])">{{data['call-number']}}</span>
          <span class="float-right d-block d-md-none" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('call-charges',data['call-charges'])">{{data['call-charges']}}</span>
          </div>
        <div class="col-md-3 col-12 d-none d-md-block" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('location',data['location'])">{{data['location']}}</div>
        <div class="col-md-2 col-12 d-inline-block pl-md-0" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('call-type',data['call-type'])">{{data['call-type']}}</div>
        <div class="col-md-1 col-12 d-inline-block pr-0" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('duration',data['duration'])">{{data['duration']}}</div>
        <div class="col-md-3 col-12 d-inline-block text-center-md no-padding-md" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('date,time',data['date']+','+data['time'])">{{data['date']}},{{data['time']}}</div>
        <div class="col-md-1 col-12 pl-0 text-right d-none d-md-block" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('call-charges',data['call-charges'])">{{data['call-charges']}}</div>
        <div class="col-md-3 col-sm-12 col-xs-12 pt-1" *ngIf="i===1 || i === 4">
          <span class="float-left legal-link pointer" (click)="modal(i)">T-Mobile ID details</span>
        </div>
        <div class="col-12 d-block d-md-none padding-top-xsmall">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
     </ng-container>
    <ng-container *ngIf="category === 'Messages'">
      <div class="row body d-flex padding-bottom-medium-lg padding-bottom-medium-md padding-bottom-medium-xl padding-top-xsmall-xs padding-top-xsmall-sm" *ngFor="let data of pageData" >
        <div class="col-md-2 col-12 d-inline-block">
          <span class="float-left" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('number',data['number'])">{{data['number']}}</span>
          <span class="float-right d-block d-md-none" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('call-charges',data['call-charges'])">{{data['call-charges']}}</span>
        </div>
        <div class="col-md-3 col-12 d-none d-md-block" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('location',data['location'])">{{data['location']}}</div>
        <div class="col-md-2 col-12 d-inline-block pl-md-0" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('direction',data['direction'])">{{data['direction']}}</div>
        <div class="col-md-1 col-12 d-inline-block pr-0" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('type',data['type'])">{{data['type']}}</div>
        <div class="col-md-3 col-12 d-inline-block text-center-md no-padding-md" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('date,time',data['date']+','+data['time'])">{{data['date']}},{{data['time']}}</div>
        <div class="col-md-1 col-12 pl-0 text-right d-none d-md-block" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('call-charges',data['call-charges'])">{{data['call-charges']}}</div>
        <div class="col-md-3 col-sm-12 col-xs-12 pt-1" *ngIf="i===1 || i === 4">
          <span class="float-left legal-link pointer" (click)="modal(i)">T-Mobile ID details</span>
        </div>
        <div class="col-12 d-block d-md-none padding-top-xsmall">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="category === 'Data' || category === 'Mobile Hotspot' || category === 'Data stash' 
    || category === 'Data pass' || category === 'T-Mobile purchases' || category === 'Third party purchases' ">
      <div class="row body d-flex padding-bottom-medium-lg padding-bottom-medium-md padding-bottom-medium-xl padding-top-xsmall-xs padding-top-xsmall-sm" *ngFor="let data of pageData" >
        <div class="col-md-2 col-12 d-inline-block">
          <span class="float-left" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('type',data['type'])">{{data['type']}}</span>
          <span class="float-right d-block d-md-none"  [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('call-charges',data['call-charges'])" >{{data['call-charges']}}</span>
        </div>
        <div class="col-md-3 col-12 d-inline-block" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('usage',data['usage'])">{{data['usage']}}</div>
        <div class="col-md-2 col-12 d-none d-md-block pl-md-0" [ngClass]="{'tablefilter':filterdata}"  (click)="Applyfilterdata('location',data['location'])" >{{data['location']}}</div>
        <div class="col-md-3 col-12 d-inline-block text-center-md no-padding-md" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('date,time',data['date']+','+data['time'])" >{{data['date']}},{{data['time']}}</div>
        <div class="col-md-2 col-12 pl-0 text-right d-none d-md-block" [ngClass]="{'tablefilter':filterdata}" (click)="Applyfilterdata('call-charges',data['call-charges'])">{{data['call-charges']}}</div>
        <div class="col-md-3 col-sm-12 col-xs-12 pt-1" *ngIf="i===1 || i === 4">
          <span class="float-left legal-link pointer" (click)="modal(i)">T-Mobile ID details</span>
        </div>
        <div class="col-12 d-block d-md-none padding-top-xsmall">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
    </ng-container>
    <div class="row">
      <div class="col-12 d-none d-md-block">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="col12 padding-bottom-xsmall padding-vertical-xsmall" *ngIf="totalRecords !== 0">
      <paginationblade [currentPage]="currentpage" [noofrecordsPerpage]="noOfRecordsPerPage" [noofPagelink]="5" [totalRecords]="totalRecords"
        (moveFirstpage)="moveFirstpage()" (moveLastpage)="moveLastPage()" (moveCurrentPage)="moveCurrentPage($event)"></paginationblade>
    </div>


    <!-- ------------------------------ -->
    <div class="dialog-container" id="effectiveDatePage">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
        <div class="row no-margin text-center padding-bottom-small padding-horizontal-medium">
          <span mat-dialog-title class="col-12 no-padding black Display5 ">T-Mobile ID</span>
        </div>
        <div class="row no-margin  padding-horizontal-medium">
          <div class="col-12 no-padding pb-2 body" *ngFor="let value of TMODetails">
            <span class="col-6 col-md-3 pull-left legal-bold black no-padding offset-md-2">{{value.desc}}</span>
            <span class="col-6 no-padding pull-right legal text-left text-wrap offset-md-1">{{value.value}}</span>
          </div>
        </div>
        <div class="row no-margin padding-top-xsmall text-center padding-horizontal-xsmall">
          <div class="col-12 no-padding">
            <button class="PrimaryCTA-accent pull-right ml-2" appButtonripple (click)="close()">OK</button>
          </div>
        </div>
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
    <!-- ------------------------------ -->


    <div class="row">
      <div class="col-12  d-inline-block padding-vertical-large text-center">
        <button class="PrimaryCTA full-btn-width">Download usage records</button>
      </div>
    </div>
  </div>
</div>