<div class="TMO-HEADER-COMPONENT">
<div class="row padding-top-small odf-header Header-border">
    <div class="col-4" >
        <div tabindex="0" class="float-left arrow-size arrow-back " role="img" aria-label="Go Back" (click)="gotopreviouspage()" (keydown.enter)="gotopreviouspage()"></div>
    </div>
    <div class="col-4 text-center">
        <img src="assets/img/tmo-logo.png" tabindex="0" aria-label="t-mobile icon" class="icon-size">
    </div>
    <div class="col-4" >
        <i tabindex="0" class="fa fa-phone  pull-right phone-size cursor" aria-label="Contact us" (click)="contactUs()"></i>
    </div>
</div>
</div>