@import "src/assets/scss/global-variables.scss";
.TMO-USAGE-BLADE-EXAMPLE{  
  .Display3custom{
    @media #{$alldeviceexceptsmartphone} {
    letter-spacing: -3.3px;
    }
    @media #{$smartphones-xs},
    #{$smartphones-sm} {
      letter-spacing: -2.3px;
    }
  }     
}
  
  