<div class="TMO-USAGE-BLADE-EXAMPLE">
  <div class="container">
    <div class="row">
      <div class="col-12" *ngIf="(category=='Data pass' && dataPassAdd) || (category=='Data' && dataAdd) || 
      (category=='Messages' && msgAdd) || (category=='Calls' && calAdd) || (category=='Data stash' && dataStashAdd) 
      || (category=='Mobile Hotspot' && mobileHotspotAdd)
       || (category=='Third party purchases' && thirdPartyAdd)  || (category=='T-Mobile purchases' && tMobilePurchasesAdd) ">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 body-bold padding-top-small" (click)="detailsPayment()">
            <div class="row no-margin">
              <div class="col-11 no-padding">
                <div class="col-8 no-padding float-left">
                  <p class="black Display4 float-left text-left">{{category}}</p>
                </div>
                <div class="col-4 float-right text-right p-r-0-xs p-l-0-xs p-r-0-sm">
                  <div class="Display3" *ngIf="category=='Data'">{{dataAdd}}</div>
                  <div class="Display3" *ngIf="category=='Data pass'">{{dataPassAdd}}</div>
                  <div class="Display3" *ngIf="category=='Data stash'">{{dataStashAdd}}</div>
                  <div class="Display3" *ngIf="category=='Messages'">{{msgAdd}}</div>
                  <div class="Display3" *ngIf="category=='Calls'">{{calAdd}}</div>
                  <div class="Display3" *ngIf="category=='Mobile Hotspot'">{{mobileHotspotAdd}}</div>
                  <div class="Display3" *ngIf="category=='Third party purchases'">
                    <sup class="Display5 {{unitClass}}">$</sup>
                    <span>{{thirdPartyAdd}}</span>
                    <sup class="Display5 ">{{unit}}</sup>
                  </div>
                  <div class="Display3 Display3custom" *ngIf="category=='T-Mobile purchases'">
                    <sup class="Display5  {{unitClass}}">$</sup>
                    <span>{{tMobilePurchasesAdd}}</span>
                    <sup class="Display5 ">{{unit}}</sup>
                  </div>
                  <div class="body d-inline-block col-12 no-padding legal">{{measure}}</div>
                </div>
              </div>
              <div class="col-1 no-padding pr-0 fa-lg">
                <span class="pull-right cursor"  [ngClass]="{'arrow-down arrowdown_rotation':!showCategoryDetails,'arrow-up arrowup_rotation':showCategoryDetails}"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-content" [ngClass]="{'content-open': showCategoryDetails}">
          <div class="row body">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" *ngFor="let usageDetails of  UsageData; let i = index">
             <div class="row padding-top-small-xs padding-top-small-sm padding-top-small">
                <div class="col-12">
                  <div class="inset-divider-1px"></div>
                </div>
              </div>
              <div class="row " (click)="detailspage(usageDetails.name,category)">
                <div class="col-12 d-flex align-items-center justify-space-between cursor text-left active" style="outline:none" routerlinkactive="active"
                  tabindex="0">
                  <div class="col-11 no-padding  pt-3">
                    <div class="col-4 col-md-5 col-lg-6 no-padding float-left">
                      <p class="Display6 padding-bottom-xsmall">{{usageDetails.name}}</p>
                      <p class="body d-inline-block col-12 no-padding">{{usageDetails.number}}</p>
                    </div>
                    <div class="col-8 col-md-7 col-lg-6 float-right text-right pl-0 p-r-0-xs p-r-0-sm">
                      <p class="Display6 padding-bottom-xsmall" *ngIf="category=='Data'">{{usageDetails['data-usage']}}
                        <sup class="legal  {{unitClass}}">{{unit}}</sup>
                      </p>
                      <p class="Display6 padding-bottom-xsmall" *ngIf="category=='Data pass'">{{usageDetails['datapass-usage']}}
                        <sup class="legal  {{unitClass}}">{{unit}}</sup>
                      </p>
                      <p class="Display6 padding-bottom-xsmall" *ngIf="category=='Data stash'">{{usageDetails['datastash-usage']}}
                        <sup class="legal  {{unitClass}}">{{unit}}</sup>
                      </p>
                      <p class="Display6 padding-bottom-xsmall" *ngIf="category=='Messages'">{{usageDetails['messages']}}
                        <sup class="legal  {{unitClass}}">{{unit}}</sup>
                      </p>
                      <p class="Display6 padding-bottom-xsmall" *ngIf="category=='Third party purchases'">
                        {{usageDetails['thirdParty-usage'] | number : '1.2-2'}}
                      </p>
                      <p class="Display6 padding-bottom-xsmall" *ngIf="category=='T-Mobile purchases'">
                        {{usageDetails['tMobliePurchases-usage'] | number : '1.2-2'}}
                      </p>
                      <p class="Display6 padding-bottom-xsmall" *ngIf="category=='Calls'">{{usageDetails['calls']}}
                        <sup class="legal  {{unitClass}}">{{unit}}</sup>
                      </p>
                      <p class="Display6 padding-bottom-xsmall" *ngIf="category=='Mobile Hotspot'">{{usageDetails['mobileHotspot-usage']}}
                        <sup class="legal  {{unitClass}}">{{unit}}</sup>
                      </p>
                      <p class="body d-inline-block col-12 no-padding " *ngIf="category=='Data'">{{usageDetails.usage}}</p>
                      <p class="body d-inline-block col-12 no-padding " *ngIf="category=='Data pass'">{{usageDetails['data-pass-usage']}}</p>
                      <p class="body d-inline-block col-12 no-padding " *ngIf="category=='Data stash'">{{usageDetails['data-stash-usage']}}</p>
                      <p class="body d-inline-block col-12 no-padding " *ngIf="category=='Mobile Hotspot'">{{usageDetails['mobile-hotspot-usage']}}</p>
                      <p class="body d-inline-block col-12 no-padding " *ngIf="category=='Third party purchases'">{{usageDetails['third-party-usage']}}</p>
                      <p class="body d-inline-block col-12 no-padding " *ngIf="category=='T-Mobile purchases'">{{usageDetails['t-mobile-usage']}}</p>
                    </div>
                  </div>
                  <div class="col-1 no-padding pr-0 fa-lg ">
                    <span class="arrow-right d-inline-block float-right"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row padding-top-small-xs padding-top-small-sm padding-top-small">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 p-l-0-xs p-r-0-xs">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>