<div class="TMO-STYLEGUIDE-TABLE">
  <div class=" container no-padding" (window:resize)="scrollTableResize()" id={{ids}} *ngIf="rightscroll" [ngClass]="{'stripped':stripped}">
    <div class="row padding-horizontal-large ms-no-scroll">
      <div class="col-12 boxShadow tablediv no-padding">
        <div class="arrowDiv" *ngIf="!smDown">
          <div class="child arrow-left-gray60 mt-3 padding-top-small" (click)="moveprevious()" [ngClass]="{'visibility-hidden':remLeftArr}">
          </div>
          <div *ngFor="let item of pagedItemsChild" class="arrowRow padding-top-small"></div>
        </div>
        <div class="fixeddiv w-100">
          <div class="moveble row no-margin" [ngClass]="{'stripped':stripped}">
            <div class="padding-top-small tableHeader">
              <div class="body-bold d-flex h-max-content">
                <div class="checkbox no-padding width-auto p-l-16 borderBottomHead" *ngIf="withCheckbox" [ngClass]="{'first_column':withCheckbox}">
                  <label classs="checkbox">
                    <input class="legal" type="checkbox" (click)="checkall()">
                    <div class="legal indicator">
                      <span class="legal check1"></span>
                    </div>
                  </label>
                </div>
                <div *ngFor="let headerObj of TableHeaders; let i = index" class="firstheader " [ngStyle]="{'width':headerObj.colWidth,'left': withCheckbox&&i==0 ? '34px' : (i == 1 ? TableHeaders[0].colWidth : '')}"
                  [ngClass]="{'first_column':!withCheckbox&&i==0, 'second_column':(withCheckbox&&i==0), 'p-l-16':(i!=0&&withCheckbox) || !withCheckbox || smDown}">
                  <div class="body-bold d-flex show-sort-icon h-max-content" style="line-height: 16px;">
                    <span class="position-relative" [attr.tooltip-text]="headerObj.tooltipText" [attr.tooltip-position]="i==TableHeaders.length-1?'bottomright':(i==0?'bottomleft':'bottom')">
                      <!-- Truncating the length when more than 20 Ankit Jain 0808-->
                        {{headerObj.displayColName | truncate:[20,'.....']}}
                    </span>
                    <i class="fa fa-long-arrow-down pl-1 pt-1 sort-icon" [ngClass]="{'fa-long-arrow-down':asc, 'fa-long-arrow-up':!asc}" aria-hidden="true"
                      *ngIf="headerObj.sortable" (click)="sortBy(headerObj.dataColName)"></i>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div *ngFor="let item of pagedItemsChild" class="d-flex tablerow padding-top-small">
                <div class="d-flex h-max-content w-100">
                  <div class="checkbox p-l-16 borderBottomBody" *ngIf="withCheckbox" [ngClass]="{'first_column':withCheckbox}">
                    <label class="pt-1">
                      <input class="legal" type="checkbox" [checked]='isChecked'>
                      <div class="legal indicator">
                        <span class="legal check1"></span>
                      </div>
                    </label>
                  </div>
                  <div *ngFor="let headerObj of TableHeaders;let i=index" class="firstheader" [ngStyle]="{'width':headerObj.colWidth,'left': withCheckbox&&i==0 ? '34px' : (i == 1 ? TableHeaders[0].colWidth : '')}"
                    [ngClass]="{'first_column':!withCheckbox&&i==0 , 'second_column':(withCheckbox&&i==0) , 'p-l-16':(i!=0&&withCheckbox) || !withCheckbox || smDown}">
                    <!-- Truncating the length when more than 20 Ankit Jain 0808-->
                    {{headerObj.displayColName | truncate:[20,'.....']}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="arrowDiv" *ngIf="!smDown">
          <div class="child arrow-right-gray60 mt-3 ml-2" (click)="movenext()" [ngClass]="{'visibility-hidden':remRightArr}">
          </div>
          <div *ngFor="let item of pagedItemsChild" class="arrowRow padding-top-small"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container no-padding" (window:resize)="myFunction()" *ngIf="!rightscroll" [ngClass]="{'stripped':stripped}">
    <div class="row padding-horizontal-large">
      <div class="col-12 boxShadow no-padding">
        <!-- Commented the unwanted divs + removed unwanted css classes - Ankit Jain 0730 -->
        <div class="padding-top-small tableHeader">
          <div class="body-bold d-flex h-max-content w-100 p-r-8-xs">
            <div class="checkbox no-padding width-auto p-l-checkbox checkboxHeight" *ngIf="withCheckbox">
              <label classs="checkbox">
                <input class="legal" type="checkbox" (click)="checkall()">
                <div class="legal indicator">
                  <span class="legal check1"></span>
                </div>
              </label>
            </div>
            <!-- Display the colums based on a condition from json - Ankit Jain 0730 -->
            <div *ngFor="let headerObj of TableHeaders; let i = index" class="{{headerObj.colWidth}} pr-0 p-l-8-xs">
              <div class="body-bold d-flex show-sort-icon h-max-content">
                <span class="position-static limitText" [attr.tooltip-text]="headerObj.tooltipText" [attr.tooltip-position]="i==TableHeaders.length-1?'bottomright':(i==0?'bottomleft':'bottom')"
                  *ngIf="headerObj.displayColumn && !isDesktop">
                  <!-- Truncating the length when more than 20 Ankit Jain 0808-->
                  {{headerObj.displayColName | truncate:[20,'.....']}}
                </span>
                <span class="position-static limitText" [attr.tooltip-text]="headerObj.tooltipText" [attr.tooltip-position]="i==TableHeaders.length-1?'bottomright':(i==0?'bottomleft':'bottom')"
                  *ngIf="isDesktop">
                  <!-- Truncating the length when more than 20 Ankit Jain 0808-->
                  {{headerObj.displayColName | truncate:[20,'.....']}}
                </span>
                <i class="fa fa-long-arrow-down pl-1 pt-1 sort-icon" [ngClass]="{'fa-long-arrow-down':asc, 'fa-long-arrow-up':!asc}" aria-hidden="true"
                  *ngIf="headerObj.sortable" (click)="sortBy(headerObj.dataColName)"></i>
              </div>
            </div>
          </div>
          <div class="col-12 d-block padding-top-small no-padding">
            <div class="inset-divider-1px"></div>
          </div>
        </div>

        <div class="col-12">
          <div *ngFor="let item of pagedItemsChild" class="row ripple d-flex tablerow padding-top-small" appButtonripple>
            <div class="d-flex h-max-content w-100">
              <div class="checkbox p-l-checkbox checkboxHeight" *ngIf="withCheckbox">
                <label class="pt-1">
                  <input class="legal" type="checkbox" [checked]='isChecked'>
                  <div class="legal indicator">
                    <p class="legal check1"></p>
                  </div>
                </label>
              </div>
              <!-- Display the colums based on a condition from json - Ankit Jain 0730 -->
              <div *ngFor="let headerObj of TableHeaders" class="{{headerObj.colWidth}} pr-0 p-l-8-xs">
                <span *ngIf="headerObj.displayColumn && !isDesktop">
                  <!-- Truncating the length when more than 20 Ankit Jain 0808-->{{(item[headerObj.dataColName]) | truncate:[20,'.....']}}</span>
                <span *ngIf="isDesktop">
                  <!-- Truncating the length when more than 20 Ankit Jain 0808-->
                  {{(item[headerObj.dataColName]) | truncate:[20,'.....']}}
                </span>
              </div>
            </div>
            <div class="col-12 d-block padding-top-small no-padding">
              <div class="inset-divider-1px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <paginationblade [currentPage]="currentpage" [noofrecordsPerpage]="noofrecordsperpage" [noofPagelink]="5" (moveCurrentPage)="moveCurrentPage($event)"
      [totalRecords]="totalrecords">
    </paginationblade>
  </div>
</div>
