<div class="TMO-LINE-SETTINGS-NICKNAME">
  <div class="container">
    <div class="row padding-top-large-xs padding-top-large-sm padding-top-xl">
      <div class="col-12 ">
        <p class="Display3 text-center">Line Settings</p>
        <div class="col-10 col-md-6 col-lg-4 offset-1 offset-md-3 offset-lg-4 padding-horizontal-xsmall  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
          <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
            [dropdownId]="dropdownId"></app-dropdown-selector>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 col-md-8 offset-md-2 padding-top-small-xs padding-top-small-sm padding-top-medium padding-bottom-medium">
        <p class="Display6">Nickname</p>
      </div>
    </div>
    <form #nicknameForm="ngForm">
      <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
          <div class="floatingLabel no-padding">
            <input tabindex="1" type="text" id="firstName" appClearInput minlength="8" maxlength="50" pattern="[a-zA-Z\s\-\.]*" name="firstName" class="input body black"
                    [(ngModel)]="name.firstName" required #firstName="ngModel" [ngClass]="{'border-red':firstName.invalid && !firstName.pristine && !firstName.errors?.required}">
                  <label for="firstName" class="labelpointer" [ngClass]="[(firstName.invalid && !firstName.pristine && !firstName.errors?.required) ? 'legal color-red redClass' : '',
                (!firstName.invalid )   ? 'legal' : '',
                ( firstName.errors?.required ) ? 'body' : '']">First name</label>
                <div class="input-animation"></div>
          </div>
        </div>
        <div class="col-10 offset-1 col-md-8 offset-md-2">
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="firstName.errors?.minlength">
            Enter a valid name
          </p>
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="firstName.errors?.pattern && !firstName.errors?.minlength">
            Enter a valid name
          </p>
          <span class="pull-right " *ngIf="firstName.invalid && !firstName.pristine && !firstName.errors?.required">
            <i class="errormessageimg exclamation-error pull-right"></i>
          </span>
        </div>
        </div>
        <div class="row padding-vertical-large">
          <div class="col-10 offset-1 col-md-8 offset-md-2">
            <div class="floatingLabel no-padding">
              <input tabindex="1" type="text" id="lastName" name="lastName" minlength="8" maxlength="50" pattern="[a-zA-Z\s\-\.]*" class="input body black"
              [(ngModel)]="name.lastName" required #lastName="ngModel" [ngClass]="{'border-red':lastName.invalid && !lastName.pristine && !lastName.errors?.required}">
              <label for="lastname" class="labelpointer" [ngClass]="[(lastName.invalid && !lastName.pristine && !lastName.errors?.required) ? 'legal color-red redClass':'',
              (!lastName.invalid) ? 'legal':'', (lastName.errors?.required) ? 'body' : '']">Last name</label>
              <div class="input-animation"></div>
            </div>
          </div>
          <div class="col-10 offset-1 col-md-8 offset-md-2">
            <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="lastName.errors?.minlength">
              Enter a valid name
            </p>
            <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="lastName.errors?.pattern && !lastName.errors?.minlength">
              Enter a valid name
            </p>
            <span class="pull-right" *ngIf="lastName.invalid && !lastName.pristine && !lastName.errors?.required">
              <i class="errormessageimg exclamation-error pull-right"></i>
            </span>
          </div>
        </div>
    </form>
    <div class="row no-padding  padding-vertical-xl padding-vertical-large-xs padding-vertical-large-sm">
            <div class="col-12 col-md-8  offset-md-2 text-center  ">
              <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
                <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple [disabled]=!nicknameForm.valid>Save changes</button>
              </div>
              <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
                <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
              </div>
            </div>
    </div>
    </div>
  </div>