<div class="TMO-CONFLICT-MODAL-PAGE">
<div class="container" id="conflictModalPage">
  <div class="row padding-vertical-xxl">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
      <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Conflict Modal</button>
    </div>
  </div>
  <div class="dialog-container">
    <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
      <div class="row no-margin text-center padding-horizontal-medium">
        <span mat-dialog-title class="col-12 no-padding black Display5 ">We have a conflict</span>
      </div>
      <div class="row no-margin padding-top-medium">
        <div class="col-12 no-padding text-center body">Your selection conflicts with 2 GB High-Speed Data on your account. Select <span class="body-bold black">Continue</span> below to remove 2 GB High-Speed Data
          and add your new selection.</div>
      </div>
      <div class="row mx-0 padding-top-medium ">
        <div class="col-12 no-padding">
            
         
              <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="close()">Continue</button>
              <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()">Cancel</button>
              
        
        </div>
      </div>
      </div>
  </div>
  <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
</div>
</div>