@import "src/assets/scss/global-variables.scss";
.TMO-SELECT-PAYMENT-METHOD {
    .main-content{
        @media #{$smartphones-xs}, #{$smartphones-sm}{
            min-height: calc(100vh - 161px);
        }
    }
    @media #{$smartphones-sm}{
        .no-padding-sm{
            padding-left: 0px;
            padding-right: 0px;   
        }
    }
}