<div class="TMO-SELECT-PAYMENT-METHOD">
  <div class="container">
    <div class="main-content">
      <div class="row padding-top-large">
        <div class="col-12  text-center Display3">Select payment methods</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 padding-top-medium no-padding-xs no-padding-sm">
          <div class="full-bleed-divider"></div>
        </div>
      </div>
      <div *ngFor="let card of paymentMethod;let i=index;">
        <div *ngIf="card.cardNumber!=''">
          <radiobuttonpaymentblade [cardStatus]="card.cardNumber" [card]="card.cardName" [icon]="card.iconClass" [radioButtonId]="i"
            [radioButtonName]="'radiobutton'" [selected]=0 [disableClass]="disableClass"></radiobuttonpaymentblade>
        </div>
        <div class="row" *ngIf="card.cardNumber==''">
          <div class="col-12 col-md-10 offset-md-1">
            <paymentblade [title]="card.add" [titleClass]="'body-bold'" [card]="cardName" [icon]="iconClass" [topDividerClass]="''" [url]="card.url"></paymentblade>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-padding  padding-top-large padding-bottom-small">
      <div class="col-12 col-md-8  offset-md-2 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width w-100 float-md-left float-lg-left float-xl-left" appButtonripple>Select</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA full-btn-width w-100 blackCTA float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>