<div class="TMO-PROFILE-PRIVACY-NOTIFICATION-MARKETING-COMM">
  <div class="container">
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12 col-md-12 text-center">
        <p class="Display3">Marketing communications</p>
      </div>
      <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 padding-top-large padding-top-medium-xs padding-top-medium-sm">
          <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
          [dropdownId]="dropdownId"></app-dropdown-selector>
      </div>
      
      <div class="col-10 offset-1 col-md-8 offset-md-2 pull-left padding-top-large-xs padding-top-large-sm padding-bottom-small-xs padding-bottom-small-sm padding-top-xl padding-bottom-medium no-padding-xs no-padding-sm">
        <p class="body text-center">Control how T-Mobile sends you information about products and services.</p>
      </div>
    <div *ngFor="let option of marketingOptions;let i=index" class="col-12 col-md-8 offset-md-2">
      <app-profile-blade *ngIf="i < (marketingOptions.length-1); else bottomDivider"  [titleText]='option.optionTitle' [titleDesc]='option.desc' [titleDesc2]='option.desc2' [icon]="option.icon" [switch]="option.switch" [url]="option.url" ></app-profile-blade>
      <ng-template #bottomDivider>
        <app-profile-blade [bottomDividerClass]="'inset-divider-1px pb-3 pb-md-4'" [titleText]='option.optionTitle' [titleDesc]='option.desc' [titleDesc2]='option.desc2' [bottomDivider]=true [icon]="option.icon" [switch]="option.switch" [checkOpt]="option.checkOpt" [url]="option.url"></app-profile-blade>
      </ng-template>
    </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 offset-md-2 col-lg-4 offset-lg-2 pt-3 pt-md-4 padding-bottom-xl">
          <app-dropdown-selector [subTitle]="subTitle1" [selectedVal]="selectedLanguage" [selectNames]="selectLanguages" (callBackValue)='handleLine1($event)'
            [dropdownId]="dropdownId1"></app-dropdown-selector>
      </div>
      <div class="col-12 col-md-10 offset-md-2 padding-bottom-xxxl">
        <p class="legal">Changes will be reflected within 10 business days.<a class="legal-link cursor" href='\privacyNotificationInterestBasedAds'> View our Privacy Policy.</a></p>
      </div>
    </div>
  </div>
</div>