<div class="TMO-PA-EDIT-AMOUNT-V3">
  <div class="container">
    <div class="main-content">
      <app-header></app-header>
      <form #Enteramount="ngForm">
        <div class="row padding-top-large-xs padding-top-large-sm padding-top-xl">
          <div class="col-12 text-center padding-bottom-large-xs padding-bottom-large-sm padding-bottom-large">
            <span class="Display3">Edit arrangement details</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="full-bleed-divider"></div>
          </div>
        </div>
        <div class="row" *ngFor="let val of paybillvalues">
          <div class="col-12 col-md-10 offset-md-1" *ngIf="val.descTitle != 'Payment method'">
            <paymentblade [title]="val.descTitle" [titleClass]="'Display6 pr-0'" [card]="val.value" [disableClass]="'pr-0'" [bottomDivider]="val.bottomDivider"
              [secondLineDesc]="val.secondLineDesc" [secondLineUrl]="val.secondLineUrl" [displaySecondLine]=true [showArrow]=false
              (callBackValue)="change($event)"></paymentblade>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="full-bleed-divider"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 body padding-top-small padding-bottom-small  d-flex">
            <div class="body black">Choose the number of scheduled payments</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row padding-vertical-small">
          <div class="col-5 col-sm-6 col-md-5 offset-md-1 d-inline-flex">
            <div class="body radio-container">
              <input type="radio" id="yes" name="selector" checked>
              <label for="yes" class="offset-md-2 Display6"></label>
              <div class="check"></div>
            </div>
            <div class="d-inline-flex ml-3">
              <span class="Display6">1 payment</span>
            </div>
          </div>
          
          <div class="col-6 col-md-5  d-inline-flex">
            <div class="body radio-container">
              <input type="radio" id="no" name="selector">
              <label for="no" class="offset-md-2 Display6"></label>
              <div class="check"></div>
            </div>
            <div class="d-inline-flex">
              <span class="Display6 ml-3">2 payments</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row padding-top-medium">
          <!-- <div class="col-1 col-md-1 offset-md-1">
            <div class="box1 text-center mt-4">1</div>
          </div> -->
          <div class="offset-md-1 col-6 col-md-4 unset d-flex">
              <div class="padding-top-large">
                  <div class="box1 text-center">2</div>
                </div>
                <div class="p-l-16 w-100 padding-top-small">
              <app-datepicker [parentColumn]=true [parentColumn1]=false [parentColumn2]=true [parentTitle]="startDateTitle" >parentDueDate</app-datepicker>
          </div>
          </div>
          <div class="offset-md-1 col-6 col-md-4 radioLabel padding-top-base-lg padding-top-base-xl padding-top-base-md" >
            <div class="floatingLabel padding-top-xsmall textfield">
              <input tabindex="1" appRangevalidator="1-25000" type="text" id="enterAmount" minlength="1" maxlength="50" pattern="^\$?([1-9])+([0-9]*)+(.?)+([0-9]{0,2})?"
                class="input body black text-left" name="enterAmount" [(ngModel)]="enterAmount.enterAmount" appCurrencyformat
                required #enterAmount="ngModel" [ngClass]="{'border-red': (!enterAmount.errors?.appRangevalidator)  && !enterAmount.pristine && !enterAmount.errors?.required}">
              <label for="enterAmount" class="labelpointer" [ngClass]="[(!enterAmount.errors?.appRangevalidator  && !enterAmount.pristine  && !enterAmount.errors?.required) ? 'legal color-red redClass' : '',
                (enterAmount.errors?.appRangevalidator )   ? 'legal' : '',
                ( enterAmount.errors?.required ) ? 'body' : '']">Payment amount</label>
                <div class="input-animation"></div>
            </div>
            <div class="">
              <p class="legal text-left padding-top-xsmall mb-0 p-l-4-xxs">
                Min $36.00
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row no-padding  padding-vertical-xl padding-top-xxl-xs padding-top-xxxl-sm">
      <div class="col-12 col-md-8  offset-md-2 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Update</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple (click)="gotopreviouspage()">Back</button>
        </div>
      </div>
    </div>
    <div *ngIf="visible" class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
  </div>
</div>
<div class="dialog-container">
  <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
    <div class="row no-margin padding-horizontal-medium padding-bottom-medium">
      <div class="col-12 no-padding text-center">
        <span class="Display5">Breakdown</span>
      </div>
    </div>

    <div class="row no-margin padding-horizontal-medium">
      <div class="col-12 no-padding body" *ngFor='let x of breakdown'>
        <span class="pull-left">{{x.chargename}}</span>
        <span class="pull-right">${{x.amount}}</span>
      </div>
      <div class="col-12 no-padding body padding-vertical-small">
        <div class="total-divider"></div>
      </div>
      <div class="col-12 no-padding body padding-bottom-large-xs padding-bottom-large-sm padding-bottom-medium">
        <span class="pull-left body-bold black">Total</span>
        <span class="pull-right body-bold black">${{total}}</span>
      </div>
    </div>
    <div class="row mx-0 padding-horizontal-xsmall text-center">
      <div class="col-12 d-inline-block no-padding text-center">
        <button class="PrimaryCTA-accent pull-right" appButtonripple (click)="close()">Got it, thanks</button>
      </div>
    </div>
  </div>
  <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
</div>