@import "src/assets/scss/global-variables.scss";
.TMO-PA-EDIT-AMOUNT-V3 {
    .radio-container {
        width: 20px;
        height: 20px;
    }
    .box1 {
        width: 20px;
        background-color: $gray40;
        color: $white;
        border-radius: 2px;
    }
    
}