@import "src/assets/scss/global-variables.scss";
.TMO-SUCCESS-STATUS {
    @media #{$smartphones-xs},#{$smartphones-sm} {
        /*.main-content{
            min-height: calc(100vh - 105px);
        }*/
        .img-height {
            height: 109px;
            width: 130px;
        }
       
    }
    .cursor:hover {
        color:$brand-magenta;
    }    
}