<div class="TMO-SUCCESS-STATUS">
  <div class="container">
    <div class="">
      <div class="row">
        <div class="col-12 no-padding padding-top-large text-center">
          <img src="./assets/img/port-in/fixed-icon.svg" class="img-height" role="img" tabindex="0" aria-label="success">
        </div>
        <div class="col-12" *ngFor="let info of detailsArray">
          <div class="col-12 Display3 padding-top-medium text-center" tabindex="0" [attr.aria-label]="info.title">{{info.title}}</div>
          <div class="col-12 col-md-10 offset-md-1 body padding-top-medium text-center text-left-xs text-left-sm"
            tabindex="0" [attr.aria-label]="info.content">{{info.content}}</div>
        </div>
        <div class="col-12 text-center padding-top-large padding-top-medium-xs padding-top-medium-sm" *ngIf="successFromResubmit">
          <div class="body-bold black" tabindex="0" aria-label="Number of attempts message goes here.">Number of
            attempts message goes here.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-4 text-center padding-top-large padding-bottom-xl padding-vertical-medium-xs padding-vertical-medium-sm">
        <button appButtonripple class="SecondaryCTA blackCTA full-btn-width text-balck w-100" role="button" tabindex="0"
          aria-label="CTA goes here"> CTA goes
          here</button>
      </div>
    </div>
  </div>
</div>