@import "src/assets/scss/global-variables.scss";
.TMO-EPP-PAYMENT-AMOUNT {
    .radio-container label {
        padding-left: 8px;
        margin-bottom: 0px;
    }
    .right{
        float: right !important;
    }
    @media #{$smartphones-sm},#{$smartphones-xs}
    {
    .main-content{
        min-height: calc(100vh - 165px);
    }
}

.cross-position{
    position: absolute;
    margin-top: 25px;
    margin-left: -20px;
}
.input {
    padding-right: 24px;
}
input[type="text"] {
    &:focus~label,
    &:valid~label {
        top: 35%;
        margin-top: -16px;
        color: #e20074;
       
    }
}
input[type="text"],
input[type="email"],
input[type="tel"] {
    &:focus+label {
        top: 35%;
        margin-top: -16px;
        color: #e20074;
        -webkit-text-size-adjust: auto;
       
    }  
}
input[type="text"],
input[type="email"],
input[type="tel"] {
    &:focus+label {
        top: 35%;
        margin-top: -16px;
        color: #e20074;
        -webkit-text-size-adjust: auto;
        
    }  
}
.textfield input[type="text"] {
    &:focus+label {
        top: 35%;
        margin-top: -16px;
        color: #e20074;
        -webkit-text-size-adjust: auto;
       
    }   
}
}