<div class="TMO-EPP-PAYMENT-AMOUNT">
  <div class="container">
    <!-- Add main content class as required for Button bottom alignment -->
    <div class="main-content">
      <div class="row">
          <div class="col-12 padding-top-large text-center">
            <p class="Display3">Payment amount</p>
          </div>
          <div class="col-12 offset-md-1 col-md-10 padding-top-medium">
            <div class="full-bleed-divider"></div>
          </div>
        </div>
        <form>
        <div class="row padding-top-small">
            <div class="col-6 col-md-5 offset-md-1 p-r-0-xs">
              <div class="radio-container">
                <input Checked class="check pr-1" type="radio" id=2 name="radioButtonName">
                <label for=2></label>
                <div class="check"></div>
              </div>
              <span class="body black d-inline-block align-top">Extra device payment</span>
            </div>
            <div class="align-items-center col-md-5 offset-md-0 col-5 offset-1">
              <div class="floatingLabel textfield">
                <input tabindex="1"    type="text" id="enterAmount" minlength="1" maxlength="50" pattern="^\$?([1-9])+([0-9]*)+(.?)+([0-9]{0,2})?"
                  class="input body black" name="enterAmount" [(ngModel)]="enterAmount" appCurrencyformat appClearButtonInput
                  required #enterAmount1="ngModel" [ngClass]="{'border-red':  enterAmount1.invalid && !enterAmount1.pristine && !enterAmount1.errors?.required }" >
                  <label for="enterAmount" class="labelpointer" 
                  [ngClass]="[(enterAmount1.invalid && !enterAmount1.pristine && !enterAmount1.errors?.required) ? 'legal color-red redClass' : '',
                  (!enterAmount1.invalid )   ? 'legal' : '',
                  ( enterAmount1.errors?.required ) ? 'body' : '']">Enter $ amount</label>
                 
                  <div class="input-animation"></div>
               
              </div>
           
            </div>
          </div>
       
       
          <div class="row">
            <div class="col-12 offset-md-1 col-md-10 padding-top-xl no-padding">
                <div class="inset-divider-1px"></div>
              </div>
          </div>
          <div class="row padding-top-small"> 
              <div class="col-8 col-md-5 offset-md-1 p-r-0-xs">
                  <div class="radio-container">
                    <input class="check pr-1" type="radio" id=1 name="radioButtonName">
                    <label for=1></label>
                    <div class="check"></div>
                  </div>
                  <span class="body black d-inline-block align-top">Payment Installment Plan in full</span>
                </div>
                <div class="col-md-5 offset-md-0 col-3 offset-1">
                    <span class="right body">$234.87</span>
                </div>
          </div>
        </form>
          <div class="row">
              <div class="col-12 offset-md-1 col-md-10 padding-top-small no-padding">
                  <div class="inset-divider-1px"></div>
                </div>
          </div>
    </div>
      <div class="row no-padding  padding-top-large padding-bottom-small">
          <div class="col-12 col-md-8  offset-md-2 text-center  ">
            <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
              <button class="PrimaryCTA full-btn-width float-md-left w-100 float-lg-left float-xl-left" appButtonripple>Continue</button>
            </div>
            <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
              <button class="SecondaryCTA blackCTA full-btn-width w-100 float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
            </div>
          </div>
        </div>
  </div>
</div>