@import "src/assets/scss/global-variables.scss";
.TMO-PROFILE-COVERAGE-DEVICE-ADDRESS-NEW{
    .dropdown-toggle{
        border-bottom: solid 1px grey;
    }
    li:first-child:hover {
             color: $gray60;
            background-color: $white;
            a {
                cursor: default;
            }
        }
}