@import "src/assets/scss/global-variables.scss";
.TMO-ODF-LANDING{
    .arrow-up {
        @media #{$smartphones-xs},#{$smartphones-sm}{
        width: 16px;
        height: 16px;
        }
    }
    .arrow-down {
        @media #{$smartphones-xs},#{$smartphones-sm}{
        width: 16px;
        height: 16px;
        }
    } 
  .displaybutton
    { 
   @media #{$smartphones-sm},#{$smartphones-xs}
       {
        display: none;
       }
    }  
     .radio-container{
        width:24px;
        height:24px;
    }
    .checkbox, .checkbox .indicator > span{
        width:18px;
        height:18px;
    }
    .checkbox .indicator > span{
         border:1px solid #9B9B9B;
     }
     .checkbox > label input:checked ~ .indicator > span{
        border:1px solid #e20074;
     }
    //new classes
    .overlay {
        background-color: rgba(50, 50, 50, 0.5);
    }
    .dialog {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        max-width: 450px;
    }
}