<div class="TMO-ODF-LANDING">
  <div class="container">
    <app-header></app-header>
    <div class="col-md-10 offset-md-1 no-padding">
      <div class="row">
        <div class="col-12 text-center">
          <p class="mb-0 Display3 padding-top-large">Edit your add-ons</p>
        </div>
      </div>
      <app-lineselector></app-lineselector>

      <div class="row padding-bottom-medium" *ngFor="let odfAddOn of odfAddOns;let i=index;">
        <div class="col-12">
          <p class="mb-0  H6-heading">{{odfAddOn.title}}</p>
          <p class="body padding-bottom-small " [ngClass]="odfAddon?.promo !== '' ? padding-top-xsmall : '' ">
            {{odfAddOn.promo}}</p>
          <p class="body" [ngClass]="odfAddon?.unlimitedText !== '' ? padding-top-xsmall : '' ">
            {{odfAddOn.unlimitedText}}</p>
          <a href="#" class="body-link cursor"
            [ngClass]="odfAddon?.linkText !== '' ? padding-top-xsmall : '' ">{{odfAddOn.linkText}}</a>
          <p class="body padding-bottom-medium " [ngClass]="odfAddon?.warningtext !== '' ? padding-top-xsmall : '' ">
            {{odfAddOn.warningtext}}</p>
          <div class="inset-divider-1px "></div>
        </div>
        <div class="col-12 " *ngFor="let dataItem of odfAddOn['data'];let k=index">
          <div class="d-flex padding-top-small align-items-center">

            <div class="col-2 col-md-1 text-center">
              <!--Show radio button for data pass and data lines, else check box -->
              <div class="body radio-container mt-1"
                *ngIf="odfAddOn.title == dataPassTitle || odfAddOn.title == dataPlanTitle">
                <input type="radio" (click)="checkFunc($event)" id={{odfAddOn.title}}{{k}} name={{odfAddOn.title}}>
                <label for={{odfAddOn.title}}{{k}}></label>
                <div class="check">
                </div>
              </div>
              <div class="body checkbox" *ngIf="odfAddOn.title != dataPassTitle && odfAddOn.title != dataPlanTitle">
                <label for={{odfAddOn.title}}{{k}}>
                  <input class="legal" type="checkbox" (click)="checkFunc($event)" id={{odfAddOn.title}}{{k}}
                    name={{odfAddOn.title}} [disabled]="dataItem.isDisabled">
                  <div class="legal indicator">
                    <span class="legal check1"></span>
                  </div>
                </label>
              </div>
            </div>
            <div class="col-6 col-md-8 no-padding pl-1">
              <p class="Display6 black mb-0" [innerHTML]="dataItem.name"></p>
            </div>
            <div class="col-3 col-md-2 no-padding pr-1">
              <span class="H6-heading black pull-right">{{dataItem.price}}/mo.</span>
            </div>
            <div class="col-1 col-md-1 p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
              <i class="pull-right cursor"
                [ngClass]="{'arrow-down arrowdown_rotation': !odfAddOnAccordion[i][k], 'arrow-up arrowup_rotation': odfAddOnAccordion[i][k]}"
                (click)="this.odfAddOnAccordion[i][k] = !this.odfAddOnAccordion[i][k]"></i>
            </div>
          </div>

          <div class="row">

            <div class="col-12 no-padding" *ngIf="dataItem.jump == 'true'">
              <div class="padding-top-xsmall col-9 offset-2 col-md-8 offset-md-1 ">
                <p class="mb-0 body">Handset protection extented warrenty cannot be added back and you will no longer be
                  covered for mechanical and electical breakdown</p>
              </div>
            </div>

            <div class="accordion-content" [ngClass]="{'content-open':odfAddOnAccordion[i][k]}">
              <div class="col-12 no-padding">
                <div class="padding-top-small col-9 offset-2 col-md-8 offset-md-1 ">
                  <p class="mb-0 body">{{dataItem.description}}</p>
                </div>
              </div>
            </div>
            <div class="col-12" *ngIf="(k+1 === odfAddOn['data'].length) && odfAddOn.speedwarning">
              <p class="legal gray60 padding-top-small">{{odfAddOn.speedwarning}}</p>
            </div>
            <div class="col-12 padding-top-small" [ngClass]="{'no-padding-xs': k+1===odfAddOn['data'].length}">
              <div
                [ngClass]="{'inset-divider-1px': odfAddOnAccordion[i][k] || !odfAddOnAccordion[i][k], 'inset-divider-4px': k+1 === odfAddOn['data'].length}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" [ngClass]="{'displaybutton':!isChecked}">
        <div class="col-12 text-center  padding-top-large-md padding-top-large-lg padding-top-large-xl">
          <button class="PrimaryCTA full-btn-width" [disabled]=!isChecked routerLink="/OdfReviwPayment"
            routerLinkActive="active">Continue</button>
        </div>
      </div>

      <div class="row padding-top-large padding-bottom-xsmall padding-top-medium-xs padding-top-medium-sm">
        <div class="col-12">
          <p class="padding-bottom-xxxl legal">
            Customers using >50GB/mo. may have reduced speeds. <span class="black legal-bold">See full terms</span>.
          </p>
        </div>
      </div>
      <!-- <div class="row padding-top-large padding-bottom-xsmall padding-top-medium-xs padding-top-medium-sm">
      <div class="col-12">
        <p class="padding-bottom-xxxl legal">Limited time offer; subject to change. Taxes and fees not already included additional. Compatible device required;
          not all plans or features available on all devices. Data Passes: Does not include voice or messaging. Post-paid
          only; pass charges will appear on bill statement for effective date of the pass. Limit of 2 active passes per account
          in a particular pass category; device pass use dates may not overlap. May purchase new pass in same category prior
          to expiration of active pass if data allotment has been reached; unless pass includes use at reduced speeds. Partial
          megabytes rounded up. Full speeds available up to specified data allotment, then slowed to up to 2G speeds. No
          domestic or international roaming on Domestic Pass, unless Pass is specifically for roaming. International Pass
          use requires qualifying plan; usage does not impact Mobile Internet plan data allotment. Service available for
          time/usage amount provided by pass. For time period, a day is 12:00 a.m. to 11:59 p.m. Pacific Time (PT). Credit
          approval and qualifying agreement required; deposit may apply. Smartphone Mobile Hotspot(Tethering/Wi-Fi Sharing):
          Plan data allotment applies. No Roaming, unless Pass is specifically for roaming. Use of connected device subject
          to T-Mobile Terms and Conditions. Must use device manufacturer or T-Mobile feature. Network Management: Service
          may be slowed, suspended, terminated, or restricted for misuse, abnormal use, interference with our network or
          ability to provide quality service to other users, or significant roaming. Customers who use 30GB of data in a
          bill cycle will have their data usage de-prioritized compared to other customers for that bill cycle at locations
          and times when competing network demands occur, resulting in relatively slower speeds. See T-Mobile.com/OpenInternet
          for details. LTE is a trademark of ETSI.</p>
      </div>
    </div> -->
    </div>
    <!--MODAL-->
    <div class="dialog-container" id="effectiveDatePage">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
        <app-reusable-modal [subTitle]=popUpSubTitle (callBackValue)="change($event)"></app-reusable-modal>
      </div>
    </div>
    <div *ngIf="visible" class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}">
    </div>

  </div>
</div>