@import "src/assets/scss/global-variables.scss";

.TMO-UPLOAD-DOC-LANDING{
    .dotted-mageta-border{
        border : 1px dashed #F41A8A;
    }
    .border-F41A8A{
        border : 1px solid #F41A8A;
    }
    .border-E8E8E8{
        border-bottom: 1px solid #E8E8E8;
    }
    .checkCircle{
        width: 24px;
        height: 24px;
    }
    .file-upload{
        width: 24px;
        height: 24px;
    }
    .no-wrap{
        white-space: nowrap;
        overflow: hidden
    }
    .vertical-bar-black{
        border-left: 2px solid #000;
    }
    @media #{$smartphones-xs},#{$smartphones-sm}{
        .checkCircle{
            width: 16px;
            height: 16px;
        }
    }
    .text-ellipsis{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media #{$smartphones-xs},#{$smartphones-sm} {
        .main-content-singlerow{
            min-height: calc(100vh - 250px);
        }
    }
    @media #{$alldeviceexceptsmartphone}{
        .txtcenter
        {
            text-align: center;
        }
    }
}