<div class="TMO-REACTIVATE">
  <div class="container">
    <div class="main-content">
        <div class="row">
          <div class="col-12 ts-d-lg-flex ts-flex-wrap ts-no-padding-xs">
              <div class="col-12 col-md-6 col-lg-4 ts-p-t-16-xxs ts-p-t-24-lg ts-p-r-20-lg ts-p-l-0-lg p-r-16-md p-l-0-md" tabindex="-1">
                  <div class="col-12 col-lg-12 gm-noScroll ts-hidden padding-horizontal-small padding-vertical-xsmall ts-divShadow ts-cursor-pointer ts-justify-content-between ts-align-items-center" appButtonripple tabindex="0">
                    <div class="col-10 col-md-9 col-lg-9 no-padding pull-left" tabindex="-1">
                      <p class="ts-body-copy-bold ts-black" x-ms-format-detection="none" tabindex="-1">
                          <span  tabindex="0" aria-label="Erik phone number is (206) 555-1111">Erik (206) 555-1111</span></p>
                        <p class="ts-legal" tabindex="-1"><span tabindex="0" aria-label="Apple iPhone 6S 64GB Gold">Apple iPhone 6S 64GB Gold</span></p>
                        <p class="ts-body-14 ts-brand-magenta padding-top-medium ts-align-items-center ts-letter-spacing"><span tabindex="0" aria-label="Select a different line">Select a different line</span><span class="arrow-right-magenta d-inline-block active ts-margin-bottom-base"></span> </p>
                    </div>
                    <div class="col-2 col-md-3 col-lg-3 no-padding pull-right p-l-0-xs padding-horizontal-medium">
                      <img class="ts-imgDim" tabindex="0" src="assets/img/bitmap-copy.png" aria-label="AppleiPhone 6Simage ">
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 padding-top-medium">
            <div class="ts-Display3 ts-gray85">
              <span  tabindex="0" aria-label="Reactivate your line">Reactivate your line</span>
            </div>
            <div class="padding-top-small ts-body-copy">
              <span tabindex="0"  aria-label="Do you want to restore service to this line?">Do you want to restore service to this line?</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 padding-top-xl">
            <button aria-label="Yes Reactivate" class="PrimaryCTA ts-white w-100 full-btn-width ts-body-copy-bold ts-letter-spacing" appButtonripple role="button" routerlink="" routerlinkactive="active" tabindex="0">Yes, reactivate</button>
          </div>  
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 padding-top-medium padding-bottom-xl">
            <button  aria-label="No cancel" class="SecondaryCTA blackCTA w-100 full-btn-width ts-body-copy-bold ts-letter-spacing" appButtonripple role="button" routerlink="" routerlinkactive="active" tabindex="0">No, cancel</button>
          </div>
        </div>
      </div>
  </div>
</div>
