 
@import "src/assets/scss/global-variables.scss";
 .TMO-REACTIVATE {
.ts-body-14{
  font-size: 14px;
    line-height: 24px;
    font-family: SFProText-Bold;
    letter-spacing: 0.5px;
    font-weight: bold;
    }
   
 }
