<div class="TMO-TMOBILE-ID-NEW">
    <div class="container">
        <div class="row padding-bottom-medium-xs padding-bottom-medium-sm padding-top-large-xs padding-top-large-sm padding-top-xl padding-bottom-large">
            <div class="col-12">
                <p class="Display3 text-center">T-Mobile ID</p>
                <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 padding-top-large padding-top-medium-xs padding-top-medium-sm no-padding">
                    <p class="legal pb-1">{{subTitle}}</p>
                    <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
                        <div id="model"  class="dropdown-toggle">
                            <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
                            <span class="arrow-down pull-right mt-1"></span>
                        </div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="model">
                            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
                                (click)="select(state.name)">
                                <a> {{state.name}} </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-bottom-xl">
            <div class="col-12 col-md-10 offset-md-1 align-items-center d-flex cursor" routerLink='' routerLinkActive="active">
                <div class="col-10 no-padding pull-left pb-3 pb-md-4">
                    <p class="Display6">Name</p>
                    <p class="body pt-3 col-12 no-padding">John Legere</p>
                </div>
                <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
                    <span class="arrow-right d-inline-block float-right"></span>
                </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
                <div class="inset-divider-1px"></div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 align-items-center d-flex cursor" routerLink='' routerLinkActive="active">
                <div class="col-10 no-padding pull-left pb-3 pb-md-4">
                    <p class="Display6">Email</p>
                    <p class="body pt-3 col-12 no-padding">JayL@t-mobile.com</p>
                </div>
                <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
                    <span class="arrow-right d-inline-block float-right"></span>
                </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
                <div class="inset-divider-1px"></div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 align-items-center d-flex cursor" routerLink='' routerLinkActive="active">
                <div class="col-10 no-padding pull-left pb-3 pb-md-4">
                    <p class="Display6">Password</p>
                    <p class="body pt-3 col-12 no-padding">Last updated on 11/15/2015 08:23:55 PT</p>
                </div>
                <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
                    <span class="arrow-right d-inline-block float-right"></span>
                </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
                <div class="inset-divider-1px"></div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 align-items-center d-flex cursor" routerLink='' routerLinkActive="active">
                <div class="col-10 no-padding pull-left pb-3 pb-md-4">
                    <p class="Display6">Security Questions</p>
                    <p class="body pt-3 col-12 no-padding">Last updated on 11/15/2015 08:23:55 PT</p>
                </div>
                <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
                    <span class="arrow-right d-inline-block float-right"></span>
                </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
                <div class="inset-divider-1px"></div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 align-items-center d-flex cursor" routerLink='' routerLinkActive="active">
                <div class="col-10 no-padding pull-left pb-3 pb-md-4">
                    <p class="Display6">Phone Numbers</p>
                    <p class="body pt-3 col-12 no-padding">(206)-555-1212</p>
                </div>
                <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
                    <span class="arrow-right d-inline-block float-right"></span>
                </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
                <div class="inset-divider-1px"></div>
            </div>
        </div>
    </div>
</div>