<div class="TMO-EMPLOYEE-DESIGNATION-CURRENT-COMPONENT">
  <div class="container">
    
      <div class="col-12">
        <p class="Display3 text-center padding-top-xl padding-top-large-xs padding-top-large-sm">Employee line designation</p>
      </div>
      
      <div class=" col-10 offset-1 col-sm-8 offset-sm-2 padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-small-xs padding-bottom-small-sm padding-bottom-medium p5">
        <span class="body ">Please name and designate the lines you wish to add to your account. If you are unsure how to properly designate you line(s), refer to the line designation definitions provided in the </span>
          <a class="body-bold brand-magenta cursor" href="#">Employee Phone Program Policy.</a>
      </div>
      
  
    <div class="row">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 padding-top-large-xs padding-top-large-sm padding-bottom-medium padding-top-xl">
        <p class="Display6">Current lines</p>
      </div>
      <div *ngFor="let val of  bladeInfo; let i = index" class="col-10 offset-1 col-sm-8 offset-sm-2">
        <app-profile-blade *ngIf="i < (bladeInfo.length-1); else bottomDivider" [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]='val.desc2' [url]="val.url"></app-profile-blade>
        <ng-template #bottomDivider>
          <app-profile-blade [bottomDividerClass]="'inset-divider-1px pb-3'" [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]='val.desc2' [url]="val.url"
            [bottomDivider]=true></app-profile-blade>
        </ng-template>
      </div>
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 padding-top-xl padding-bottom-xxxl">
        <p class="legal">By selecting or changing a line designation Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel arcu ac neque maximus euismod sed efficitur est.<span class="brand-magenta cursor"> Employee Phone Program Policy.</span></p>
      </div>
    </div>
  </div>
</div>