<div class="TMO-MILITARY-STATUS-DETAIL">
  <div class="container">
    <div class="row padding-top-large padding-top-medium-xs padding-top-medium-sm">
      <div class="col-10 offset-1">
        <p class="Display3 text-center">Military verification</p>
      </div>
      <div class="col-10 offset-1 padding-top-small padding-bottom-large-xs padding-bottom-large-sm padding-bottom-xxxl">
        <p class="body text-center">By verifying your current military status, you may be eligible for discounted prices.</p>
      </div>
    </div>
    <div class="row padding-bottom-xl padding-top-small-md padding-top-small-lg padding-top-small-xl">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor" routerLink='/registrationVeteran'
        routerLinkActive="active">
        <div class="col-10 no-padding pull-left padding-vertical-small-xs padding-vertical-small-sm padding-top-small padding-bottom-medium">
          <p class="Display6">[Dynamic content]</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">[Dynamic content]</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
          <img src="http://fpoimg.com/24x24" class="float-right pr-4">
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
  </div>
</div>