<div class="TMO-HISTORICAL-MODAL-PAGE">
  <div class="container" id="taxModalPage">
    <div class="row padding-top-xxl padding-bottom-xxl">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
        <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Historical Bills Modal</button>
        <div class="padding-top-small text-center">
          <div class="col-12 text-center">
            <div class="body">{{showValueBill}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-container">
      <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}" style="overflow:hidden">
        <div class="row no-margin padding-horizontal-medium">
          <div class="col-12 no-padding text-center">
            <span class="Display5">Historical bills</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 no-padding padding-vertical-xsmall">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="col-12 no-padding" style="height:260px; overflow-x:hidden; overflow-y:scroll;">
          <div class="row no-margin padding-top-xsmall padding-horizontal-medium p-r-0-xs p-l-0-xs" *ngFor='let bills of historicalBills; let i = index'>

            <div class="col-10 offset-2 no-padding body radio-container">
              <div class="pull-left">
                <div class="radio-container">
                  <input class="check pr-1" type="radio" id={{i}} name="radioButtonName" [checked]='i===selected' (change)="selectedValue(bills.billingPeriod)">
                  <label for={{i}} class="mb-0"></label>
                  <div class="check"></div>
                </div>
              </div>
              <div class="col-10 pull-left pt-1 pt-md-0 padding-horizontal-xsmall pr-0">
                <div class="body mb-0 pull-left">{{bills.billingPeriod}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 no-padding padding-top-xsmall padding-bottom-small ">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row mx-0 text-center">
          <div class="col-12 d-inline-block no-padding text-center">
            <button class="PrimaryCTA-accent pull-right" appButtonripple (click)="close()">Select bill</button>
          </div>
        </div>
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
  </div>
</div>