/* GLOBAL VARIABLES */
@import "src/assets/scss/global-variables.scss";
.TMO-HISTORICAL-MODAL-PAGE{     
::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background: white;
  }
  ::-webkit-scrollbar-thumb {
    background: lightgray;
  }
  ::-webkit-scrollbar-thumb:vertical,
  ::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  .radio-container label {
    padding-right: 0px;   
}
@media only screen and (max-height: 414px) and (orientation: landscape){
.modal_landscapeht {
    max-height: 270px !important;
    overflow-x: hidden;
    overflow-y: auto !important;
}
}
/*.dialog {
    max-width: 445px;
    padding: 16px;
}*/
}