@import "src/assets/scss/global-variables.scss";
.TMO-EIP-JOD-BLADE{
      .phone-image {
        width: 54px;
        height: 90px;
    }
      @media #{$minismartphones-xs}{
       .payment-size{
           font-size: 10px;
       }
    }
    @media #{$alldeviceexceptsmartphone} {
        .w-343 {
            width: 343px;
        }
        .phone-image {
            width: 67.2px;
            height: 108px;
        }
    }
    .Rectangle {
        width: 154px;
        background-image: linear-gradient( 125deg, #e8200d 85%,white 86%);
        background-image: -webkit-linear-gradient( -35deg, #e8200d 85%,white 86%);
        background: -ms-linear-gradient(right bottom, white  10%, #e8200d 11%);
    }
    .RecWidth{
        width: 204px;
    }
     .PrimaryCTA:disabled{
        z-index: 0;
    }
    @media #{$smartphones-sm},#{$smartphones-xs}
      {
      .badge-height{
        height: 36px;
        }
     }
     .badge-height{
        height: 41px;
     }
     .warning-white-outline{
        position: relative;
        top: 2px;
     }
     .accordian-in{
         max-height: 600px !important;
     }
}