<div class="TMO-EIP-JOD-BLADE">
  <div *ngFor="let detail of JOD_Array_Details; index as j" [ngClass]="{'mt-4 bg-white': detail.variant == 'EIP' || detail.variant == 'ActiveEIP' || detail.variant == 'EIPpromotion' || detail.variant == 'leaseEndingSoon' || detail.variant == 'leaseEndingPAH' || detail.variant == 'leaseEnded' || detail.variant == 'leaseDue' || detail.variant == 'leaseDuePAH'}">
    <div class="col-12 no-padding padding-bottom-xsmall badge-height" *ngIf="detail.lease_badge_status == true">
      <div class="Rectangle d-flex" [ngClass]="{'badge-in':detail.lease_badge_status,'RecWidth': detail.variant == 'leaseEnded' || detail.variant == 'leaseDue' || detail.variant == 'leaseDuePAH'}">
        <div class="padding-xsmall">
          <div class="d-inline-block">
            <div class="warning-white-outline"></div>
          </div>
          <div class="body white d-inline-block padding-horizontal-xsmall">{{detail.badge_text}}</div>
        </div>
      </div>
      <!-- <div class="Rectangle d-flex padding-xsmall" [ngClass]="{'RecWidth': detail.variant == 'leaseEnded' || detail.variant == 'leaseDue' || detail.variant == 'leaseDuePAH'}">
        <div class="warning-white-outline mt-1"></div>
        <div class="body white padding-horizontal-xsmall">{{detail.badge_text}}</div>
      </div> -->
    </div>
    <div class="d-flex align-items-center-md no-padding">
      <div class="col-4 col-md-2 padding-vertical-medium-xs padding-vertical-medium-sm padding-vertical-small padding-horizontal-medium-xs padding-horizontal-medium-sm padding-horizontal-large">
        <img [src]="detail.image" class="phone-image">
      </div>
      <div class="col-7 col-md-9 padding-top-xsmall padding-horizontal-xsmall-xs padding-horizontal-xsmall-sm padding-horizontal-large pr-md-3">
        <div class="col-12 no-padding pl-xl-2">
          <p class="Display6">{{detail.name}}</p>
          <p class="legal padding-top-xsmall">{{detail.phone_number}}</p>
          <p class="body">{{detail.type}}</p>
          <p class="body-bold brand-magenta padding-top-small" *ngIf="(detail.variant == 'EIP' || detail.variant == 'jodCompleted') && detail.status == 'Completed'">{{detail.status}}</p>
          <p class="body-bold red padding-bottom-medium" *ngIf="detail.variant == 'leaseEndingPAH' || detail.variant == 'leaseEnded' || detail.variant == 'leaseDue' || detail.variant == 'leaseDuePAH'">{{detail.msg}}</p>
          <div class="padding-top-xsmall" *ngIf="!detail.purchase_status && (detail.variant !== 'jodCompleted' || detail.variant !== 'EIP') && detail.status !== 'Completed' && detail.variant !== 'leaseEndingPAH' && detail.variant !== 'leaseEnded' && detail.variant !== 'leaseDue' && detail.variant !== 'leaseDuePAH'">
            <app-progress-bar [availablepercent]="detail.completedPercentage"> </app-progress-bar>
          </div>
          <div class="padding-top-xsmall" *ngIf="!detail.purchase_status && (detail.variant !== 'jodCompleted' || detail.variant !== 'EIP') && detail.status !== 'Completed' && detail.variant !== 'leaseEndingPAH' && detail.variant !== 'leaseEnded' && detail.variant !== 'leaseDue' && detail.variant !== 'leaseDuePAH'">
            <div class="col-12 col-md-7 no-padding d-inline-block">
              <span class="body pr-md-2 pr-1">Remaining:</span>
              <span class="body-bold black payment-size">{{detail.payment}} </span>
            </div>
            <div class="col-12 col-md-4 no-padding d-inline-block float-md-right">
              <span class="body black float-md-right"> {{detail.duration}}</span>
            </div>
          </div>
          <div class="" *ngIf="detail.purchase_status && detail.variant !== 'EIP'">
            <p class="body black">
              {{detail.description}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-1 col-md-1 no-padding d-flex align-items-center justify-items-end" [ngClass]="{'pr-3': detail.variant == 'EIP' || detail.variant == 'ActiveEIP' || detail.variant == 'EIPpromotion' || detail.variant !== 'leaseEndingSoon' || detail.variant !== 'leaseEndingPAH' || detail.variant !== 'leaseEnded' || detail.variant !== 'leaseDue' || detail.variant !== 'leaseDuePAH'}">
        <span class="pull-right cursor" [ngClass]="{'arrow-down-disable arrowdown_rotation': !jodAccordion[j], 'arrow-up arrowup_rotation': jodAccordion[j]}"
          (click)="jodAccordion[j] = !jodAccordion[j]"></span>
      </div>
    </div>
    <div class="row accordian-out mx-md-0" [ngClass]="{'border-none': !jodAccordion[j], 'accordian-in padding-bottom-small':jodAccordion[j]}">
      <div class="col-12 no-padding pt-md-3" *ngIf="!detail.purchase_status && !detail.EIP_status && badge_status && detail.variant !== 'EIP'"
        [ngClass]="{'col-md-10 offset-md-1 px-md-3': detail.variant == 'leaseDue' || detail.variant == 'leaseDuePAH'}">
        <div class="col-12 col-md-6 pl-md-0 d-inline-block pull-left" *ngIf="detail.description">
          <p class="body black padding-top-small-xs padding-top-small-sm">
            {{detail.description}}
          </p>
          <a class="body-bold black text-decoration-underline no-wrap" *ngIf="detail.EIP_status" routerLink="#">See the payment estimator
          </a>
        </div>
        <div class="col-12 pr-md-0 d-inline-block" [ngClass]="{'col-md-6 float-md-right padding-top-small-xs padding-top-small-sm': !detail.purchase_status && detail.variant !== 'onDemand' && detail.variant !== 'leaseEndingSoon' && detail.variant !== 'leaseEndingPAH' && detail.variant !== 'leaseEnded','col-md-5 pr-md-3 float-md-left padding-top-small-xs padding-top-small-sm': detail.variant == 'onDemand' || detail.variant == 'leaseEndingSoon' || detail.variant == 'leaseEndingPAH' || detail.variant == 'leaseEnded',
         'col-md-7 offset-md-3 text-center pl-md-2 pt-md-3 padding-bottom-xsmall':detail.purchase_status,'padding-top-xl-md padding-top-xl-lg padding-top-xl-xl':detail.variant == 'leaseEnded'}">
          <button class="full-btn-width"  appButtonripple [ngClass]="{'PrimaryCTA w-100': !detail.purchase_status,'SecondaryCTA blackCTA w-343': detail.purchase_status}"
            [disabled]="detail.leaseDuePAHDisable" (click)="action(j)">{{detail.btnText}}</button>
        </div>
        <div class="col-12 col-md-6 pl-md-0 d-inline-block float-md-left padding-top-small-xs padding-top-small-sm" *ngIf="detail.variant == 'leaseDue' || detail.variant == 'leaseDuePAH'">
          <button class="SecondaryCTA blackCTA w-100 full-btn-width" appButtonripple (click)="action(j)">{{detail.btnText2}}</button>
        </div>
      </div>
      <div class="col-12 no-padding" *ngIf="(detail.purchase_status || detail.EIP_status) && detail.variant !== 'EIP'">
        <div class="col-12 d-inline-block pull-left" [ngClass]="{'offset-md-1 col-md-5 padding-top-small': !detail.purchase_status, 'col-md-7 offset-md-3 text-center pl-md-2 pt-md-3 padding-bottom-xsmall':detail.purchase_status}">
          <button class="full-btn-width"  appButtonripple [ngClass]="{'PrimaryCTA w-100': !detail.purchase_status, 'SecondaryCTA blackCTA w-343': detail.purchase_status}"
            (click)="action(j)">{{detail.btnText}}</button>
        </div>
        <div class="col-12 col-md-6 d-inline-block" *ngIf="!detail.purchase_status && detail.variant !== 'EIP'">
          <p class="body black padding-top-small">
            {{detail.description}}
            <a class="body-bold black text-decoration-underline no-wrap d-md-block" *ngIf="detail.EIP_status" routerLink="#">See the payment estimator</a>
          </p>
        </div>
      </div>
      <div class="col-12 no-padding" *ngIf="jodAccordion[j]">
        <div class="col-12 pl-md-0 pr-md-0 padding-vertical-xsmall padding-top-small-sm 
            padding-top-small-xs" *ngIf="!detail.purchase_status || detail.variant =='EIP'" [ngClass]="{'pt-md-3' :detail.variant == 'EIP' || detail.variant == 'ActiveEIP' || detail.variant == 'EIPpromotion' || detail.variant == 'leaseEndingSoon' || detail.variant == 'leaseEndingPAH' || detail.variant == 'leaseEnded' || detail.variant == 'leaseDue' || detail.variant == 'leaseDuePAH'}">
          <div class="inset-divider-1px"></div>
        </div>
        <div class="col-12 no-padding" *ngIf="!detail.EIP_status && detail.variant !=='EIP'">
          <div class="col-12 col-md-6 pl-md-0 d-inline-block pull-left">
            <div class="padding-top-xsmall">
              <span class="body">Monthly payments: </span>
              <span class="body float-right">{{detail.monthly_payment}}</span>
            </div>
            <div class="padding-top-xsmall">
              <span class="body">Total lease amount: </span>
              <span class="body float-right">{{detail.total_lease_amount}}</span>
            </div>
            <div class="padding-top-xsmall">
              <span class="body ">Purchase option price: </span>
              <span class="body float-right">{{detail.purchase_price}}</span>
            </div>
            <div class="padding-top-xsmall">
              <span class="body">Lease start date: </span>
              <span class="body float-right">{{detail.lease_start_date}}</span>
            </div>
            <div class="padding-top-xsmall">
              <span class="body ">Lease status: </span>
              <span class="body float-right">{{detail.lease_status}}</span>
            </div>
          </div>
          <div class="col-12 col-md-6 pr-md-0 d-inline-block">
            <div class="padding-top-xsmall">
              <span class="body ">Payments remaining:</span>
              <span class="body  float-right">{{detail.payments_remaining}}</span>
            </div>
            <div class="padding-top-xsmall">
              <span class="body ">Plan ID:</span>
              <span class="body float-right">{{detail.plan_id}}</span>
            </div>
            <div class="padding-top-xsmall">
              <span class="body ">IMEI:</span>
              <span class="body  float-right">{{detail.IMEI}}</span>
            </div>
            <div class="padding-vertical-xsmall">
              <a class="body black text-decoration-underline no-wrap" *ngIf="!detail.EIP_status" routerLink="#">Understand your lease</a>
            </div>
          </div>
        </div>
        <div class="col-12 no-padding" *ngIf="detail.EIP_status || detail.variant =='EIP'">
          <div class="col-12 col-md-6 pl-md-0 d-inline-block pull-left">
            <div class="padding-top-xsmall" *ngIf="detail.monthly_payment">
              <span class="body">Monthly payments: </span>
              <span class="body float-right">{{detail.monthly_payment}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.payments_remaining">
              <span class="body ">Payments remaining:</span>
              <span class="body  float-right">{{detail.payments_remaining}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.original_price">
              <span class="body">Original price: </span>
              <span class="body float-right">{{detail.original_price}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.down_payment">
              <span class="body ">Down payment:</span>
              <span class="body float-right">{{detail.down_payment}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.final_payment">
              <span class="body">Final payment: </span>
              <span class="body float-right">{{detail.final_payment}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.plan_start_date && detail.variant == 'EIPpromotion'">
              <span class="body ">Plan start date: </span>
              <span class="body float-right">{{detail.plan_start_date}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.installment_plan_type && detail.variant == 'EIPpromotion'">
              <span class="body ">Installment plan type:</span>
              <span class="body float-right">{{detail.installment_plan_type}}</span>
            </div>
          </div>
          <div class="col-12 col-md-6 pr-md-0 d-inline-block">
            <div class="padding-top-xsmall" *ngIf="detail.plan_start_date && detail.variant !== 'EIPpromotion'">
              <span class="body ">Plan start date: </span>
              <span class="body float-right">{{detail.plan_start_date}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.installment_plan_type && detail.variant !== 'EIPpromotion'">
              <span class="body ">Installment plan type:</span>
              <span class="body float-right">{{detail.installment_plan_type}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.plan_status">
              <span class="body ">Plan status:</span>
              <span class="body float-right">{{detail.plan_status}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.EIP_plan_ID">
              <span class="body ">EIP Plan ID: </span>
              <span class="body float-right">{{detail.EIP_plan_ID}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.IMEI">
              <span class="body ">IMEI:</span>
              <span class="body float-right">{{detail.IMEI}}</span>
            </div>
            <div class="row padding-top-xsmall" *ngIf="detail.promotion">
              <span class="col-6 body">Promotion:</span>
              <span class="col-6 body float-right text-right">{{detail.promotion}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.monthlyCredits">
              <span class="body ">Monthly credits remaining:</span>
              <span class="body float-right">{{detail.monthlyCredits}}</span>
            </div>
            <div class="padding-top-xsmall" *ngIf="detail.amt_monthly_credits">
              <span class="body ">Amount of monthly credit:</span>
              <span class="body float-right">{{detail.amt_monthly_credits}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="detail.variant !== 'EIP' && detail.variant !== 'ActiveEIP' && detail.variant !== 'EIPpromotion' && detail.variant !== 'leaseEndingSoon' && detail.variant !== 'leaseEndingPAH' && detail.variant !== 'leaseEnded' && detail.variant !== 'leaseDue' && detail.variant !== 'leaseDuePAH'">
      <div class="col-12">
        <div [ngClass]="{'inset-divider-1px':j != (JOD_Array_Details.length - 1)}"></div>
      </div>
    </div>
  </div>
  <!-- accordon code ends -->
</div>