<div class="TMO-EMPLOYEE-DESIGNATION-EDIT-NEW-COMPONENT">
    <div class="container">
        <div class="main-content">
            <div class="row padding-vertical-xl padding-vertical-large-xs padding-vertical-large-sm">
                <div class="col-12">
                    <p class="Display3 text-center">Employee Line Designation</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <p class="Display6">James Jackson</p>
                    <p class="body-bold black pt-3 pt-md-2">(206) 861-9328</p>
                </div>
                <div class="col-12 col-md-10 offset-md-1 padding-top-large">
                    <div class="body radio-container mb-2 mb-md-0">
                        <input type="radio" id="escd" name="selector">
                        <label for="escd" class="mb-0">Employee/Spouse/Child/Dependent</label>
                        <div class="check"></div>
                    </div>
                </div>
                <div class="col-12 col-md-10 offset-md-1 padding-top-medium">
                    <div class="body radio-container">
                        <input type="radio" id="non-dep" name="selector" checked>
                        <label for="non-dep" class="mb-0">Non-Dependent</label>
                        <div class="check"></div>
                    </div>
                </div>
            </div>
            <div class="row padding-top-xl">
                <div class="col-12 no-padding-xs">
                    <hr class="full-bleed-divider m-0">
                </div>
            </div>
        </div>
        <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
            <div class="col-12 col-md-10 offset-md-1 text-center">
                <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
                    <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Save</button>
                </div>
                <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm p-r-0-xs">
                    <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Back</button>
                </div>
            </div>
        </div>
    </div>
</div>