<div class="TMO-EDIT-MODAL5-PAGE">
  <div class="container">
    <app-header></app-header>
    <div class="padding-top-xxl">
<!--       <app-datepicker [parentTitle]="title" [parentShowSubTitle]="showSubTitle" [parentIndicator]=true>parentDueDate</app-datepicker>
 -->       <app-datepicker-full-screen  [parentColumn]=true [parentColumn1]=false [parentColumn2]=true [parentTitle]="title">parentDueDate</app-datepicker-full-screen >

    </div>
  </div>
</div>