@import "src/assets/scss/global-variables.scss";
.TMO-ERROR-STATE-MODAL{

    .dialog{
        @media 
            #{$tablets-md},
            #{$desktops-lg},
            #{$desktops-xl}{
                max-width: 400px;
        }    
    }
}