<div class="TMO-BALANCE-SUMMARY-VARIANTS">
  <div class="container">
    <div class="row" *ngFor="let balance of balanceArray1;let i=index;" [ngClass]="{'padding-top-xl':i==0}">
      <div class="col-12 col-md-10 offset-md-1 Display5 brand-magenta" id={{i}} [ngClass]="{'padding-top-large-xs padding-top-large-sm padding-top-xl':i!=0, 'padding-bottom-medium':balance.showNothing==''}">
        <div>{{balance.Heading}}
          <span class="d-none d-sm-inline-block" *ngIf="balance.Heading1!=''">{{balance.Heading1}}</span>
        </div>
        <div class="d-block d-sm-none" *ngIf="balance.Heading1!=''">{{balance.Heading1}}</div>
      </div>
      <!-- </div>
    <div class="row no-margin"> removed no-padding from below col-12 div-->
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-xsmall" [ngClass]="{'bg-gray05': i != balanceArray1.length - 1}">
        <div class="col-12 padding-vertical-xsmall" *ngIf="balance.showNothing==''">
          <span class="body-bold black">{{balance.paymentTitle}}</span>
          <span class="body-bold black float-right">{{balance.paymentAmt}}</span>
        </div>
        <div class="col-12 padding-vertical-xsmall-md padding-vertical-large-lg padding-vertical-large-xl" *ngIf="balance.showNothing!=''">
          <span class="body-bold black">Show nothing</span>
        </div>
        <!-- <div class="col-12" *ngFor="let balance of balanceArray"> -->
        <div class="col-12" *ngFor="let balance1 of balance['obj1'];index as j">
          <div class="col-12 inset-divider-1px"></div>
          <div class="col-12 no-padding padding-vertical-xsmall">
            <a class="body-bold black text-decoration-underline" (click)="goTo(i,j)">{{balance1.title}}</a>
            <div class="d-none d-md-inline-block pl-2">
              <span class="body black">{{balance1.lease}}</span> |
              <span class="body black">{{balance1.perMonth}}</span>
            </div>
            <span class="body-bold black float-right">{{balance1.amount}}</span>
            <div class="col-12 no-padding d-md-none">
              <span class="body black">{{balance1.lease}}</span> |
              <span class="body black">{{balance1.perMonth}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>