<div class="TMO-ENTER-CARD-INFO ">


  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 text-center padding-vertical-medium">
        <span class="Display4" tabindex="0" [attr.aria-label]="newCardInfo?'Enter card information':'Edit card information'">{{newCardInfo?'Enter card information':'Edit card information'}}</span>
      </div>
      <div class="col-12 no-padding">
        <div class="full-bleed-divider"></div>
      </div>

    </div>
  </div>
  <div class="container">
    <form #pciCardForm="ngForm">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 padding-top-medium padding-top-small-xs padding-top-small-sm">
          <div class="floatingLabel textfield no-padding">
            <input tabindex="0" type="text" role="text" aria-label="enter Name on card" id="cardName" minlength="8" maxlength="50" pattern="[a-zA-Z\s\-\.]*"
              name="cardName" class="input body black" [(ngModel)]="pciCard.cardName" required #cardName="ngModel" [ngClass]="{'border-red':cardName.invalid && !cardName.pristine && !cardName.errors?.required}">
            <label for="cardName" class="labelpointer" [ngClass]="[(cardName.invalid && !cardName.pristine && !cardName.errors?.required) ? 'legal color-red redClass' : '',
                (!cardName.invalid )   ? 'legal' : '',
              ( cardName.errors?.required ) ? 'body' : '']">Name on card</label>
            <div class="input-animation"></div>
          </div>
        </div>

        <div class="col-12 col-md-10  offset-md-1">
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="cardName.errors?.minlength || (cardName.errors?.pattern && !cardName.errors?.minlength)"
            [tabindex]="(cardName.errors?.minlength || (cardName.errors?.pattern && !cardName.errors?.minlength))?0:-1" aria-label="Enter a valid name">
            Enter a valid name
          </p>
          <!-- <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="cardName.errors?.pattern && !cardName.errors?.minlength"
            [tabindex]="(cardName.errors?.pattern && !cardName.errors?.minlength)?0:-1">
              Enter a valid name
            </p> -->
          <span class="pull-right" *ngIf="cardName.invalid && !cardName.pristine && !cardName.errors?.required" >
            <i class="errormessageimg warning-red-regular-16x14 m-t-4  m-t-4   pull-right" [ngClass]="{'z-index-0':visible||deleteVisible}" [tabindex]="(cardName.invalid && !cardName.pristine && !cardName.errors?.required)?0:-1"
            aria-label="warning icon"></i>
          </span>
        </div>

        <div class="col-12 col-md-10 offset-md-1 padding-top-medium d-flex align-items-end">
          <div class="col-1 pl-0">
            <div id="iconId" tabindex="0" aria-label="card icon" class="card_dimesions" [ngClass]="cardIcon"></div>
          </div>
          <div class="col-11 pr-0 pl-lg-0">
            <div class="floatingLabel textfield no-padding" id="test">
              <input (keyup)="cardChange($event)" class="input body black" tabindex="0" role="text" aria-label="enter your card number"
                #creditCardNumber="ngModel" [(ngModel)]="pciCard.creditCardNumber" id="creditCardNumber" maxlength="19" minlength="19"
                name="creditCardNumber" pattern="\d{4} *\d{4} *\d{4} *\d{4}" required="" type="text" [ngClass]="{'border-red':creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required && pciCard.creditCardNumber,
                'editcardnum':(!newCardInfo)}" [placeholder]="newCardInfo?'XXXX XXXX XXXX XXXX':'**** **** **** 1234'" appCustomformat
                format="creditCardNumber" appClearInput>
              <label for="creditCardNumber" id="creditCardNumberLabel" class="labelpointer" [ngClass]="[(creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required && pciCard.creditCardNumber) ? 'legal color-red redClass' : '',
                        (!creditCardNumber.invalid )   ? 'legal' : '',
                          ( creditCardNumber.errors?.required ) ? 'body' : '']">Customer card number</label>
              <div class="input-animation"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-10  offset-md-1 ">
          <p class="col-11 offset-1 legal color-red text-left errormessage  padding-top-xsmall mb-0 pr-0 pl-lg-0" *ngIf="creditCardNumber.errors?.minlength || (creditCardNumber.errors?.pattern && !creditCardNumber.errors?.minlength && pciCard.creditCardNumber)"
            [tabindex]="(creditCardNumber.errors?.minlength || (creditCardNumber.errors?.pattern && !creditCardNumber.errors?.minlength && pciCard.creditCardNumber))?0:-1"
            aria-label="Enter a valid card number">
            Enter a valid card number
          </p>
          <!-- <p class="col-11 offset-1 legal color-red text-left errormessage  padding-top-xsmall mb-0 pr-0 pl-lg-0" *ngIf="creditCardNumber.errors?.pattern && !creditCardNumber.errors?.minlength && pciCard.creditCardNumber">
              Enter a valid card number
            </p> -->
          <span class="pull-right" *ngIf="creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required"
           >
            <i class="errormessageimg  warning-red-regular-16x14 m-t-4 pull-right" [ngClass]="{'z-index-0':visible||deleteVisible}"  [tabindex]="(creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required)?0:-1"
            aria-label="warning icon"></i>
          </span>
        </div>

        <div class="col-12 d-flex no-padding padding-top-small padding-top-medium-xs padding-top-medium-sm">
          <div class="col-4 col-md-3 offset-md-1">
            <div class="floatingLabel textfield no-padding">
              <input tabindex="0" type="text" role="text" aria-label="enter expiration date" id="expirationDate" minlength="5" maxlength="5"
                format="expirydate" appCustomformat pattern="^((0[1-9])|(1[0-2]))\/(\d{2})$" name="expirationDate" class="input body black"
                [(ngModel)]="pciCard.expirationDate" required #expirationDate="ngModel" [ngClass]="{'border-red':expirationDate.invalid && !expirationDate.pristine && !expirationDate.errors?.required && pciCard.expirationDate}">
              <label for="expirationDate" class="labelpointer" [ngClass]="[(expirationDate.invalid && !expirationDate.pristine && !expirationDate.errors?.required && (pciCard.expirationDate)) ? 'legal color-red redClass' : '',
              (!expirationDate.invalid )   ? 'legal' : '',
              (expirationDate.errors?.required ) ? 'body' : '']">Expiration date</label>
              <div class="input-animation"></div>
            </div>
            <p class="legal color-red text-left errormessage padding-top-xsmall validErrorMsg mb-0" *ngIf="(expirationDate.errors?.minlength && pciCard.expirationDate) || (expirationDate.errors?.pattern && !expirationDate.errors?.minlength)"
            [tabindex]="((expirationDate.errors?.minlength && pciCard.expirationDate) || (expirationDate.errors?.pattern && !expirationDate.errors?.minlength))?0:-1"
            aria-label="Enter a valid expiration date">
            Enter a valid expiration date
          </p>
          <!-- <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="expirationDate.errors?.pattern && !expirationDate.errors?.minlength">
              Enter a valid expiration date
            </p> -->
          <span class="pull-right" *ngIf="expirationDate.invalid && !expirationDate.pristine && !expirationDate.errors?.required && pciCard.expirationDate"
           >
            <i class="errormessageimg  warning-red-regular-16x14 m-t-50  m-t-4  pull-right" [ngClass]="{'z-index-0':visible||deleteVisible}"  [tabindex]="(expirationDate.invalid && !expirationDate.pristine && !expirationDate.errors?.required && pciCard.expirationDate)?0:-1"
            aria-label="warning icon"></i>
          </span>
          </div>
          <div class="col-4 col-md-3  ">
            <div class="floatingLabel textfield no-padding">
              <input tabindex="0" type="text" role="text" aria-label="enter cvv number" id="cvvNumber" format="" appCustomformat minlength="3"
                maxlength="3" pattern="[0-9]*" name="cvvNumber" class="input body black" [(ngModel)]="pciCard.cvvNumber" required
                #cvvNumber="ngModel" [ngClass]="{'border-red':cvvNumber.invalid && !cvvNumber.pristine && !cvvNumber.errors?.required && pciCard.cvvNumber}">
              <label for="cvvNumber" class="labelpointer" [ngClass]="[(cvvNumber.invalid && !cvvNumber.pristine && !cvvNumber.errors?.required && pciCard.cvvNumber) ? 'legal color-red redClass' : '',
              (!cvvNumber.invalid )   ? 'legal' : '',
              (cvvNumber.errors?.required ) ? 'body' : '']">CVV</label>
              <div class="input-animation"></div>
            </div>
            <p class="legal color-red text-left errormessage padding-top-xsmall padding-top-xsmall validErrorMsg mb-0" *ngIf="(cvvNumber.errors?.minlength && pciCard.cvvNumber) || (cvvNumber.errors?.pattern && !cvvNumber.errors?.minlength)"
              [tabindex]="((cvvNumber.errors?.minlength && pciCard.cvvNumber) || (cvvNumber.errors?.pattern && !cvvNumber.errors?.minlength))?0:-1"
              aria-label="Enter a valid CVV">
              Enter a valid CVV
            </p>
            <!-- <p class="legal color-red text-left errormessage padding-top-xsmall" *ngIf="cvvNumber.errors?.pattern && !cvvNumber.errors?.minlength">
                Enter a valid CVV
              </p> -->
            <span class="pull-right" *ngIf="cvvNumber.invalid && !cvvNumber.pristine && !cvvNumber.errors?.required &&  pciCard.cvvNumber"
             >
              <i class="errormessageimg  warning-red-regular-16x14 m-t-50  pull-right"  [tabindex]="(cvvNumber.invalid && !cvvNumber.pristine && !cvvNumber.errors?.required &&  pciCard.cvvNumber)?0:-1"
              aria-label="warning icon"></i>
            </span>
            <a class="legal-link text-decoration-underline padding-top-xsmall-md padding-top-xsmall-lg padding-top-xsmall-xl" (click)="showModal()"
              (keydown.enter)="showModal()" tabindex="0" aria-label="click here to know what is cvv number" id="whatsDis">What is this?</a>
          </div>
          <div class="col-4 col-md-3 ">
            <div class="floatingLabel textfield no-padding">
              <input tabindex="0" type="text" role="text" aria-label="enter zip code" id="zipCode" format="" appCustomformat minlength="5"
                maxlength="5" pattern="[0-9]*" name="zipCode" class="input body black" [(ngModel)]="pciCard.zipCode" required
                #zipCode="ngModel" [ngClass]="{'border-red':zipCode.invalid && !zipCode.pristine && !zipCode.errors?.required && pciCard.zipCode}">
              <label for="zipCode" class="labelpointer" [ngClass]="[(zipCode.invalid && !zipCode.pristine && !zipCode.errors?.required && pciCard.zipCode) ? 'legal color-red redClass' : '',
              (!zipCode.invalid )   ? 'legal' : '',
              (zipCode.errors?.required ) ? 'body' : '']">ZIP code</label>
              <div class="input-animation"></div>
            </div>
            <p class="legal color-red text-left errormessage padding-top-xsmall validErrorMsg mb-0" *ngIf="(zipCode.errors?.minlength && pciCard.zipCode) || (zipCode.errors?.pattern && !zipCode.errors?.minlength)"
            [tabindex]="((zipCode.errors?.minlength && pciCard.zipCode) || (zipCode.errors?.pattern && !zipCode.errors?.minlength))?0:-1"
            aria-label=" Enter a valid zip code">
            Enter a valid zip code
          </p>
          <!-- <p class="legal color-red text-left errormessage mb-0 padding-top-xsmall" *ngIf="zipCode.errors?.pattern && !zipCode.errors?.minlength">
              Enter a valid zip code
            </p> -->
          <span class="pull-right" *ngIf="zipCode.invalid && !zipCode.pristine && !zipCode.errors?.required && pciCard.zipCode" >
            <i class="errormessageimg  warning-red-regular-16x14 m-t-50  pull-right" [ngClass]="{'z-index-0':visible||deleteVisible}" [tabindex]="(zipCode.invalid && !zipCode.pristine && !zipCode.errors?.required && pciCard.zipCode)?0:-1"
            aria-label="warning icon"></i>
          </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 padding-top-medium padding-top-small-xs padding-top-small-sm">
          <div class="floatingLabel textfield no-padding nickName">
            <input tabindex="0" type="text" role="text" aria-label="enter nickName" id="nickName" name="nickName" class="input body black" minlength="8" maxlength="50"
              [(ngModel)]="pciCard.nickName" #nickName="ngModel" [ngClass]="{'border-red':nickName.invalid && !nickName.pristine && pciCard.nickName!=''}">
            <label for="nickName" class="labelpointer" [ngClass]="[(nickName.invalid && !nickName.pristine && pciCard.nickName!='') ? 'legal color-red redClass' : '',
                  (!nickName.invalid && pciCard.nickName!='' )   ? 'legal' : '',
                ( pciCard.nickName=='' ) ? 'body' : '']">Nickname</label>
            <div class="input-animation"></div>
          </div>
        </div>

        <div class="col-12 col-md-10  offset-md-1 ">
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="(nickName.errors?.minlength) || (nickName.errors?.pattern && !nickName.errors?.minlength)"
            [tabindex]="((nickName.errors?.minlength) || (nickName.errors?.pattern && !nickName.errors?.minlength)?0:-1)" aria-label="Enter a valid name">
            Enter a valid name
          </p>
          <!-- <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="nickName.errors?.pattern && !nickName.errors?.minlength">
              Enter a valid name
            </p> -->
          <span class="pull-right " *ngIf="nickName.invalid && !nickName.pristine" >
            <i class="errormessageimg warning-red-regular-16x14 m-t-4  m-t-4  pull-right" [ngClass]="{'z-index-0':visible||deleteVisible}" [tabindex]="(nickName.invalid && !nickName.pristine && !nickName.errors?.required)?0:-1"
            aria-label="warning icon"></i>
          </span>
        </div>
        <div class="col-12 col-md-10 offset-md-1">
          <span class="legal padding-top-xsmall-md padding-top-xsmall-lg padding-top-xsmall-xl" tabindex="0" aria-label="optional field">Optional</span>
        </div>

        <div class="col-12 col-md-10  offset-md-1 padding-top-medium" *ngIf="saveToWalletCheck && newCardInfo">
          <div class="d-flex align-items-center">
            <div class="col-12 checkbox inline">
              <label>
                <input class="legal" type="checkbox" tabindex="-1" name="saveToMyWallet" [(ngModel)]="saveToMyWallet" [checked]='saveToMyWallet'>
                <div class="legal indicator" tabindex="0" aria-label="Save to My Wallet checkbox" (keydown.enter)="saveToWalletToggle()">
                  <span class="legal check1"></span>
                </div>
              </label>
              <span class="lineheight margin-left-large body mb-1" tabindex="0" aria-label="Save to My Wallet">Save to My Wallet</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-10 offset-md-1 padding-top-medium">
          <div class="d-md-flex align-items-center">
            <div class="col-12 col-md-6 checkbox inline" [ngClass]="{'col-md-6 pl-0':!newCardInfo}">
              <label>
                <input class="legal" type="checkbox" tabindex="-1" name="setDefault" [(ngModel)]="setDefault" [checked]='setDefault'>
                <div class="legal indicator" tabindex="0" aria-label="Set as default checkbox" (keydown.enter)="setDefaultToggle()">
                  <span class="legal check1"></span>
                </div>
              </label>
              <span class="lineheight margin-left-large body mb-1" tabindex="0" aria-label="Set as default">Set as default</span>
            </div>
            <div class="col-12 col-md-6 no-padding padding-top-medium-xs padding-top-medium-sm" *ngIf="!newCardInfo">
              <span class="body red float-md-right cursor" tabindex="0" aria-label="Remove from My Wallet" (click)="onRemove(newCardInfo)"
                (keydown.enter)="onRemove(newCardInfo)" id="removeLink">
                <i class="fa fa-trash delete-icon"></i>
                <span class="remove-desc">Remove from My Wallet</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-padding  padding-vertical-large padding-vertical-medium-xs padding-vertical-medium-sm">
        <div class="col-12 col-md-8  offset-md-2 text-center  ">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
            <button class="PrimaryCTA w-100 float-md-left float-lg-left float-xl-left" appButtonripple [disabled]="!pciCardForm.valid"
              role="button" tabindex="0" [attr.aria-label]="'click here to '+saveToWalletCheck?'Continue':'Save payment method'">{{(!newCardInfo)?'Save edits':(saveToWalletCheck?'Continue':'Save payment method')}}</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
            <button class="SecondaryCTA blackCTA w-100 float-md-right float-lg-right float-xl-right" appButtonripple role="button" tabindex="0"
              aria-label="click here to cancel">Cancel</button>
          </div>
        </div>
      </div>
    </form>
    <div class="dialog-container">
      <div class="dialog dialog-new-card animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}" [tabindex]="visible?0:-1"
        id="visaImgInModal" (keydown.escape)="closeModal()" (keydown)="backTabEvent($event,'visaImgInModal','cardViewImage')">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class=" mx-md-0">
              <div class="">
                <span class="" [tabindex]="visible?0:-1" aria-label="visa card icon">
                  <img class="visaImg">
                </span>
                <span class="" [tabindex]="visible?0:-1" aria-label="master card icon">
                  <img class="masterImg">
                </span>
                <span class="" [tabindex]="visible?0:-1" aria-label="discover card icon">
                  <img class="discoverImg">
                </span>
              </div>
            </div>
            <div class=" padding-top-small  mx-md-0">
              <div class="">
                <span class="" [tabindex]="visible?0:-1" aria-label="visa card view">
                  <img class="cvv_visaImg">
                </span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 padding-top-xxl-xs padding-top-xxl-sm">
            <div class=" mx-md-0">
              <div class="">
                <span class="">
                  <img class="amexImg" [tabindex]="visible?0:-1" aria-label="amex icon">
                </span>
              </div>
            </div>
            <div class=" padding-top-small  mx-md-0">
              <div class="">
                <span class="">
                  <img class="cvv_amexImg" [tabindex]="visible?0:-1" aria-label="amex card view" id="cardViewImage">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay" (click)="closeModal()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
    <div class="dialog-container">
      <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':deleteVisible}" [tabindex]="visible?0:-1"
        id="deleteModal" (keydown.escape)="closeDeleteModal()" (keydown)="backTabEvent($event,'deleteModal','deletemodalCancelBtn')">
        <div class="row">
          <div class="col-12 text-center">
            <p class="Display4" [tabindex]="deleteVisible?0:-1" aria-label="Are you sure you want to remove this payment method from your wallet?">Are you sure you want to remove this payment method from your wallet?</p>
            <p class="body padding-top-medium" [tabindex]="deleteVisible?0:-1" aria-label="Note: removing will not impact any payments you've already scheduled with this method.">Note: removing will not impact any payments you've already scheduled with this method.</p>
          </div>

        </div>
        <div class="mx-md-0 padding-top-medium text-right">
          <div class="col-12 no-padding padding-left-xsmall">
            <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple [tabindex]="deleteVisible?0:-1" aria-label="click here to remove">Yes, remove</button>
            <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple [tabindex]="deleteVisible?0:-1" id="deletemodalCancelBtn"
              aria-label="click here to cancel" (click)="closeDeleteModal()">Cancel</button>
          </div>
        </div>
      </div>
      <div class="overlay" (click)="closeDeleteModal()" [ngClass]="{'overlay-in':deleteVisible,'overlay-out':!deleteVisible}"></div>
    </div>
  </div>
