@import "src/assets/scss/global-variables.scss";
.TMO-ENTER-CARD-INFO {
  .dialog-new-card {
    max-width: 251px;
    min-width: 251px;
    @media #{$tablets-md},
    #{$desktops-lg},
    #{$desktops-xl} {
      max-width: 672px;
    }
  }
  @media #{$alldeviceexceptsmartphone} {
    .lineheight {
      line-height: 1.9rem;
    }
    .card_dimesions {
      width: 46px;
      height: 28px;
    }
    .cvv_amexImg,
    .cvv_visaImg {
      width: 296px;
      height: 187px;
    }
  }
  @media #{$smartphones-xs},
  #{$smartphones-sm} {
    .card_dimesions {
      width: 31px;
      height: 18px;
    }
    input[name="expirationDate"]:focus+label,
    &:valid+label{
      font-size: 9px;
    }
  }
  .lineheight {
    line-height: 2.2rem;
  }
  form input[type="text"]:focus+label {
    color: $brand-magenta;
  }
  .editcardnum::placeholder {
    font-style: italic;
  }
  .padding-right-xsmall {
    padding-right: $XS;
  }
  .display-inline-block {
    display: inline-block;
  }
  .remove-desc {
    margin-left: $XS;
    position: relative;
    margin-top: 2px;
  }
  .delete-icon {
    transform: scale(1.4);
  }
  .margin-left-large {
    margin-left: $L;
  }
  .m-t-4 {
    margin-top: $Base;
  }
  .m-t-50{
    margin-top:50px;
  }
  .z-index-0 {
    z-index: 0;
  }
  .nickName input[ng-reflect-model=""]:valid:not(:focus)~label {
    bottom: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    position: absolute;
    top: 20px;
    margin-top: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    color: #6A6A6A
  }
  @media #{$smartphones-xs},
  #{$smartphones-sm} {
    .nickName input[ng-reflect-model=""]:valid:not(:focus)~label {
      font-size: 14px;
    }
  }
  @media #{$smartphones-xxs} {
    .nickName input[ng-reflect-model=""]:valid:not(:focus)~label {
      font-size: 12px;
    }
  }
}
