<div class="TMO-P360-REMOVAL">
  <div class="container">
    <div class="row padding-top-xl-md padding-top-xl-lg padding-top-xl-xl">
      <div class="col-12 d-flex align-items-center 
      padding-vertical-medium-xs padding-vertical-medium-sm padding-top-xxxl padding-bottom-xl no-padding">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
          <p class="Display4 d-md-none l-h-32-xs l-h-36-md">
            <span
              aria-label="You’re about to remove your protection against loss, theft, accidental damage, and hardware service issues."
              tabindex="0">
              You’re about to remove your protection against loss, theft, accidental damage, and hardware service
              issues.</span>
          </p>
          <p class="Display5 d-none d-md-block l-h-32-xs l-h-36-md">
            <span
              aria-label="You’re about to remove your protection against loss, theft, accidental damage, and hardware service issues."
              tabindex="0">
              You’re about to remove your protection against loss, theft, accidental damage, and hardware service
              issues.</span>
          </p>
        </div>
      </div>
      <!--middle boxes-->
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 d-flex
      justify-content-md-between justify-content-lg-between justify-content-xl-between">
        <div class="col-6 no-padding m-r-4-xs m-r-12-md boxStyle" tabindex="0" aria-label="case 1">
          <div class="col-12 p-h-12">
            <div class="text-center padding-top-medium p-b-14">
              <span class="groupImg d-inline-block" aria-label="group image" tabindex="0"></span>
            </div>
            <p class="body text-break p-b-12 statbox-text">
              <span class="gray85"
                aria-label="Two out of three T-Mobile customers have lost, damaged, or broken a device.1" tabindex="0">
                <span class="font-weight-bold brand-magenta">Two out of three <span class="no-wrap">T-Mobile</span> customers</span>
                have lost, damaged, or broken a device.<sup>1</sup></span>
            </p>
          </div>
        </div>
        <div class="col-6 no-padding m-l-4-xs m-l-12-md boxStyle" tabindex="0" aria-label="case 2">
          <div class="col-12 p-h-12">
            <div class="text-center padding-top-medium p-b-7">
              <!-- <img src="assets/img/phone-img.png" class="phoneImgDim" aria-label="phone image" tabindex="0" /> -->
              <span class="phoneImg d-inline-block" aria-label="phone image" tabindex="0"></span>
            </div>
            <p class="body text-break p-b-12 statbox-text">
              <span class="gray85" aria-label="8.2M devices have been damaged, lost, or stolen in the past two years.2"
                tabindex="0">
                <span class=" font-weight-bold brand-magenta">8.2M devices</span>
                have been damaged, lost, or stolen in the past two years.<sup>2</sup>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 padding-top-small-xs padding-top-small-sm padding-vertical-medium">
        <p class="body">
          <span class="gray85" aria-label="Protection 360 gives you peace of mind by protecting your device against these common occurrences. Without
          it, you'll have to pay full price for a new device." tabindex="0">Protection<360> gives you peace of mind by
              protecting your device
              against these common occurrences. Without it, you may have to pay
              full price for a new device.</span>
        </p>
        <p class="body padding-top-small">
          <span class="gray85"
            aria-label=" Once you remove device protection from your account, you won't be able to add it again."
            tabindex="0">
            Once you remove device protection from your account, you won't be
            able to add it again.
          </span>
        </p>
      </div>
      <div
        class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
        <div class="col-12 col-md-6  text-md-right float-md-right pr-md-0">
          <button class="PrimaryCTA  body font-weight-bold w-100 float-md-left float-lg-left float-xl-left" appButtonripple tabindex="0" role="button"
            aria-label="Keep my device protected">
            Keep my device protected
          </button>
        </div>
        <div class="col-12 col-md-6 padding-top-small-xs padding-top-small-sm float-md-left pl-md-0">
           <button class="SecondaryCTA blackCTA  body font-weight-bold w-100 float-md-right float-lg-right float-xl-right" appButtonripple tabindex="0"
            role="button" aria-label="I'll take my chances">
            I'll take my chances
          </button> 
          <!--<button class="TeritiaryCTA blackCTA  body font-weight-bold w-100 float-md-right float-lg-right float-xl-right" appButtonripple tabindex="0"
            role="button" aria-label="I'll take my chances" >
            I'll take my chances
          </button>-->
        </div>
      </div>

      <div
        class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 padding-vertical-medium-xs padding-vertical-medium-sm padding-vertical-large">
        <div class="legal black">
          <span class="d-flex" tabindex="0" aria-label="1 Source: Assurant wireless benchmarking
          research, July
          2017.">
            <sup>1</sup>
            <span class="p-l-4">Source: Assurant wireless benchmarking
              research, July
              2017.</span>
          </span>
        </div>
        <div class="legal black padding-top-small-xs padding-top-small-sm padding-top-base">
          <span class="d-flex" tabindex="0"
            aria-label="2 Source: Assurant reporting (Jan. 2017 - Dec. 2018) for T-Mobile device protection customers.">
            <sup>2</sup>
            <span class="p-l-4">Source:
              Assurant reporting (Jan. 2017 - Dec. 2018) for T-Mobile device protection customers.
            </span>
          </span>
        </div>
      </div>


    </div>
  </div>
</div>
