@import "src/assets/scss/global-variables.scss";
.TMO-P360-REMOVAL {    
    .boxStyle{
        border: 1px solid $gray30;
        flex-grow: 1;
        flex-shrink: 1;        
    }
    @media #{$tablets-md}, #{$desktops-lg}, #{$desktops-xl}{
        .m-r-12-md {
            margin-right: 12px;
        }
        .m-l-12-md {
            margin-left: 12px;
        }
        .dialog-fluid{
            max-width: 524px;
        }
        .l-h-36-md {
            line-height: 36px;
        }
    }
    .p-l-4 {
        padding-left: $Base;
    }
    .no-wrap{
        white-space: nowrap;
    }
    @media #{$smartphones-xs}, #{$smartphones-sm}{
        .m-l-4-xs {
            margin-left: $Base;
        }
        .m-r-4-xs {
            margin-right: $Base;
        }
        .w-100-xs{
            width: 100%;
        }
        .l-h-32-xs {
            line-height: 32px;
        } 
    }
    .groupImg {
        background: url('../../../../assets/img/SVGs/Icons/group.svg') no-repeat;
        width: 64px;
        height: 62px;
    }
    .phoneImg {
        background: url('../../../../assets/img/SVGs/Icons/cracked-phone.svg') no-repeat;
        width: 40px;
        height: 69px;
    }
    .boxStyle sup{
        top:6px;
    }
    .statbox-text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: unset;
    }
    .p-h-12 {
        padding-left: 12px;
        padding-right: 12px;
    }
    .p-b-12 {
        padding-bottom: 12px;
    }
    .p-b-7 {
        padding-bottom: 7px;
    }
    .p-b-14 {
        padding-bottom: 14px;
    }
}
