<div class="TMO-SELECT-PLAN">
    <div class="container">
        <app-header></app-header>
        <div class="col-12 col-md-10 offset-md-1 no-padding">
          <div class="row no-padding">
            <div class="col-12 Display3 padding-bottom-large padding-top-small text-center" ><span tabindex="0"  aria-label="Explore plans">Explore plans</span></div>
            <div class="col-12 no-padding-xs">
              <div class="full-bleed-divider"></div>
            </div>
            <div class="col-12 Display5 padding-vertical-medium" ><span tabindex="0"  aria-label="Lines affected by plan change: [X] line(s)">Lines affected by plan change: [X] line(s)</span></div>
            <div class="col-11 col-md-11 pr-0 padding-bottom-medium body" >
              <span tabindex="0" aria-label="You're enrolled in AutoPay so you'll save an extra $5/month, per line, off the plan prices shown.">You're enrolled in AutoPay so you'll save an extra $5/month, per line, off the plan prices shown.</span>
            </div>
            <div class="col-12 no-padding-xs">
              <div class="full-bleed-divider"></div>
            </div>
             <div class="col-12 Display5 padding-vertical-medium" tabindex="0"  aria-label="Current plan">Current plan</div>
             <div class="col-12 no-padding-xs">
              <div class="inset-divider-1px"></div>
            </div>
            <div>
              <div class="col-11 Display4 margin-top-small  margin-horizontal-small no-padding display-flex"><span class="simpleChoice display-block img-size-title-simplechoice" aria-label="Simple Choice" tabindex="0"></span></div>
            <div class="col-12 Display4 font-size-img " aria-label="Simple Choice" tabindex="0">Simple Choice</div>
            <div class="col-12 body gray40" aria-label="Simple Choice" tabindex="0">Simple Choice</div>
            <div class="col-12 legal padding-top-medium" aria-label="Monthly total with current plan" tabindex="0">Monthly total with current plan:</div>
            <div class="col-12 padding-top-base" aria-label="$160.00 With AutoPay." tabindex="0">
              <span class="Display5">$160.00</span>
              <span class="body padding-horizontal-xsmall padding-horizontal-base">With AutoPay.</span>
            </div>
            <p class="col-12 body" tabindex="0" aria-label="+ $11.00 in estimated Taxes and fees included.">+ $11.00 in estimated Taxes & Fees.</p>
            <div class="col-11 col-md-11 pr-0 padding-vertical-medium body" tabindex="0" aria-label="Integer molestie velit sit amet velit imperdiet dapibus. Maecenas dapibus, nulla sodales aliquam varius, consequat velit, a placerat sem libero">
              <div>Integer molestie velit sit amet velit imperdiet dapibus. Maecenas dapibus, nulla sodales aliquam varius, consequat velit, a placerat sem libero. </div>
            </div>
          </div>
            <div class="col-12 no-padding-xs">
              <div class="full-bleed-divider"></div>
            </div>
            <div class="col-12 Display5 padding-top-medium" tabindex="0" aria-label="Choose a plan to compare">Choose a plan to compare</div>
            <div class="col-12 no-padding" *ngFor="let plan of otherPlanData; let i = index" >
            <div class="col-12 no-padding-xs"> 
              <div class="padding-top-medium">
                  <div class="inset-divider-1px"></div>
              </div>
            </div>
            <div class="col-12" [hidden]="!showMore && (i > 2)">
              <div class="row cursor padding-top-small">
                <div class="col-11 pr-0">
                    <div class=" Display4 font-size-img margin-top-small  no-padding display-flex"><span class="{{plan.planNameImgClass}} display-block img-size-title" [attr.aria-label]="addOn ==''?'T-Mobile'+ plan.planName + plan.addOn :'T-Mobile'+ plan.planName + plan.addOn" tabindex="0"></span></div>
  
                    <div class="Display4 font-size-img" tabindex="0" [attr.aria-label]="addOn ==''?'T-Mobile'+ plan.planName + plan.addOn :'T-Mobile'+ plan.planName + plan.addOn"><span class="Display4 font-size-img font-size-img">T-Mobile</span><span class="Display4 font-size-img p-l-5">{{plan.planName}}</span><span class="p-l-5 body">{{plan.addOn}}</span></div>
                    
                    <div class="body gray40" tabindex="0" [attr.aria-label]="addOn ==''?'T-Mobile'+ plan.planName + plan.addOn :'T-Mobile'+ plan.planName + plan.addOn"><span class="body gray40">T-Mobile</span><span class="body gray40 p-l-5">{{plan.planName}}</span><span class="p-l-5 body gray40">{{plan.addOn}}</span></div>
                </div>
                <div class="col-10 col-sm-11 pr-0 pull-left">
                  <div class="legal padding-top-medium" tabindex="0" aria-label="Monthly total with this plan">Monthly total with this plan:</div>
                  <div class="padding-top-base" tabindex="0" [attr.aria-label]="'$' + plan.amountWithTaxes + 'With AutoPay'">
                    <span class="Display5">${{plan.amountWithTaxes}}</span>
                    <span class="body padding-horizontal-xsmall" aria-label="With AutoPay.">With AutoPay.</span>
                  </div>
                  <p *ngIf="i < 1" class="body" tabindex="0" aria-label="+ $9.00 in estimated  Taxes and fees included.">+ $9.00 in estimated Taxes & Fees.</p>
                  <div class="body padding-top-medium padding-top-small-xs padding-top-small-sm text-secondary" [attr.aria-label]="plan.description" tabindex="0">{{plan.description}}</div>
                </div>
                <div class="col-2 col-sm-1 align-self-center pr-md-1" >
                  <p class="hidden" [attr.aria-label]="'Click here to know about ' + plan.planName">Click here to know about {{plan.planName}}</p>
                  <div class="pull-right arrow-right-black arrow-center-align"  [attr.aria-label]=" 'Click here to compare ' + 'T-Mobile'+ plan.planName + plan.addOn +' with'+' simple choice'+' plan'" tabindex="0"></div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-12 text-center padding-top-medium" *ngIf="!showMore">
            <a tabindex="0" aria-label="show more plans" (click)="showMore = true">See more plans</a>
          </div>
            <div class="col-12 no-padding-xs padding-vertical-medium">
              <div class="full-bleed-divider"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="padding-bottom-xl padding-bottom-medium-xs disclaimer-lineheight">
              <span class="legal" tabindex="0"  aria-label="During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds.">
                During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds. </span> <span class="legal-link cursor" routerlink="/"  tabindex="0"  role="link" aria-label="See full terms" >See full terms</span>
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
  
