@import "src/assets/scss/global-variables.scss";
.TMO-SELECT-PLAN{
    .m-b-180{
        margin-bottom:180px;
    }
    .color-e50073 {
        color: #E50073;
    }
    .align-self-center {
        align-self: center;
    }

    .margin-oneplus {
        margin-top: auto;
        line-height: 17px;
    }

    .simpleChoice {
        width:162px;
    }

    .tmobileEssentials {
        width:225px;
    }
    
    .tmobileOne {
        width:153px;
    }

    @media #{$smartphones-xs},
    #{$smartphones-sm} {
        .padding-horizontal-base {
            padding-left: $Base;
            padding-right: $Base;
        }
        .tmobileEssentials{
            height: 20px;
            width: 180px;
        }
        .tmobileOne{
            height: 20px;
            width:122px;
        }

        .simpleChoice{
            height: 22px;
            width:132px;
        }

        .margin-oneplus {
            margin-top: auto;
            line-height: 12px;
        }
    }

    .p-l-8 {
        padding-left: 8px; 
    }
    .p-l-5 {
        padding-left: 5px; 
    }
    .hidden {
        position:absolute;
       left:-10000px;
       top:auto;
       width:1px;
       height:1px;
       overflow:hidden;
} 

.disclaimer-lineheight {
    line-height: 12px;
}
.margin-horizontal-small{
    margin-left: 15px;
    margin-right: 15px;
}
.margin-top-small{
    margin-top: 16px;
}
@media #{$smartphones-xxs}{
    .simpleChoice {
        height: 20px;
        width: 120px;
    }
    .tmobileOne {
        height: 18.5px;
        width:113px;
    }

    .tmobileEssentials{
        height: 18.5px;
        width: 167px;
    }

    .margin-oneplus {
        margin-top: auto;
        line-height: 10px;
    }
}

@media #{$tablets-md}, #{$desktops-lg}, #{$desktops-xl}{
    .font-size-img {
        font-size: 30px;
    }

    .img-size-title-simplechoice {
        height:27px;
    }

    .img-size-title {
        height:25px;
    }
}

.display-block {
    display: block;
}
 
}