@import "src/assets/scss/global-variables.scss";
.TMO-STYLEGUIDE-SELECTIONCONTROL {

  .checkbox {
    >label {
      position: relative;
      display: inline-block;
      >input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        position: absolute;
        z-index: -1;
        left: -15px;
        top: -15px;
        display: block;
        margin: 0;
        opacity: 0;
        border-radius: 50%;
        //border: 2px solid #6A6A6A;
        width: 48px;
        height: 48px;
        background-color: $brand-magenta;
        outline: none;
        transition: opacity 0.5s, transform 0.5s;
      }
      &:active {
        >input {
          &:not(:checked) {
            &:not([disabled]) {
              opacity: 1;
              transform: scale(0);
              transition: opacity 0s, transform 0s;
            }
          }
        }
      }
      >.indicator {
        >span {
          &::before {
            content: "";
          }
        }
      }
    }
    >.switch {
      >input {
        left: 5px;
      }
    }
  }
  .radio-container {
    position: relative;
    display: inline-block;
    >input {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      position: absolute;
      z-index: -1;
      left: -15px;
      top: -15px;
      display: block;
      margin: 0;
      opacity: 0;
      border-radius: 50%;
      //border: 2px solid #6A6A6A;
      width: 48px;
      height: 48px;
      background-color: $brand-magenta;
      outline: none;
      transition: opacity 0.5s, transform 0.5s;
    }
    &:active {
      >input {
        &:not(:checked) {
          &:not([disabled]) {
            opacity: 1;
            transform: scale(0);
            transition: opacity 0s, transform 0s;
          }
        }
      }
    }
    input[type="radio"] {
      >label {
        &::before {
          content: "";
        }
      }
    }
  }

   }