<div class="TMO-STYLEGUIDE-SELECTIONCONTROL">
  <div class="container">

    <div class="Display4  text-center padding-vertical-xl">Selection Controls</div>
    <div class="col-12 padding-vertical-small no-padding Display5">Radio Buttons</div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">Radio Horizontally Aligned</p>
      </div>
      <div class="col-12 d-inline-flex">
        <div class="body radio-container" >
            <input type="radio" id="yes" name="selector" checked>
            <label for="yes" >Yes</label>
            <div class="check">
            </div>
        </div>
        <div class="body radio-container">
            <input type="radio" id="no" name="selector">
            <label for="no">No</label>
            <div class="check"></div>
        </div>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay5Code = !showDisplay5Code" class="legal-link"> {{showDisplay5Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay5Code" class="padding-top-small">
          <code class="language-markup border brand-magenta d-block">
              &lt;div class="col-12 d-inline-flex"><br/>
               &nbsp;&lt;div class="body radio-container"><br/>
               &nbsp; &nbsp;&lt;input type="radio" id="yes" name="selector" checked><br/>
               &nbsp; &nbsp;&lt;label for="yes">Yes&lt;/label><br/>
               &nbsp; &nbsp;&lt;div class="check">&lt;/div><br/>
               &nbsp;&lt;/div><br/>
               &nbsp;&lt;div class="body radio-container"><br/>
               &nbsp; &nbsp;&lt;input type="radio" id="no" name="selector"><br/>
               &nbsp; &nbsp;&lt;label for="no">No&lt;/label><br/>
               &nbsp; &nbsp;&lt;div class="check">&lt;/div><br/>
               &nbsp;&lt;/div><br/>
              &lt;/div><br/>
          </code>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">Radio Vertically Aligned</p>
      </div>
      <div class="col-12 verticalAlign">
        <div class ="body radio-container" >
            <input type="radio" id="yesV" name="selector3" checked>
            <label for="yesV">Yes</label>
            <div class="check"></div>
        </div>
        <div class ="body radio-container">
            <input type="radio" id="noV" name="selector3">
            <label for="noV">No</label>
            <div class="check"></div>
        </div>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay6Code = !showDisplay6Code" class="legal-link"> {{showDisplay6Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay6Code" class="padding-top-small">
          <code class="language-markup border brand-magenta d-block">
              &lt;div class="col-12 verticalAlign"><br/>
               &nbsp;&lt;div class="body radio-container"><br/>
               &nbsp; &nbsp;&lt;input type="radio" id="yesV" name="selector3" checked><br/>
               &nbsp; &nbsp;&lt;label for="yesV">Yes&lt;/label><br/>
               &nbsp; &nbsp;&lt;div class="check">&lt;/div><br/>
               &nbsp;&lt;/div><br/>
               &nbsp;&lt;div class="body radio-container"><br/>
               &nbsp; &nbsp;&lt;input type="radio" id="noV" name="selector3"><br/>
               &nbsp; &nbsp;&lt;label for="noV">No&lt;/label><br/>
               &nbsp; &nbsp;&lt;div class="check">&lt;/div><br/>
               &nbsp;&lt;/div><br/>
              &lt;/div><br/>
          </code>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">Radio Disabled</p>
      </div>
      <div class="col-12 d-inline-flex">
        <div class="body radio-container">
            <input type="radio" id="disabled1" name="selector1" disabled>
            <label for="disabled1">Option1</label>
            <div class="check"></div>
        </div>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay7Code = !showDisplay7Code" class="legal-link"> {{showDisplay7Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay7Code" class="padding-top-small">
          <code class="language-markup border brand-magenta d-block">
              &lt;div class="col-12 d-inline-flex"><br/>
               &nbsp;&lt;div class="body radio-container"><br/>
               &nbsp; &nbsp;&lt;input type="radio" id="disabled1" name="selector1" disabled><br/>
               &nbsp; &nbsp;&lt;label for="disabled1">Option1&lt;/label><br/>
               &nbsp; &nbsp;&lt;div class="check">&lt;/div><br/>
               &nbsp;&lt;/div><br/>
              &lt;/div><br/>
          </code>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">Radio Checked And Disabled</p>
      </div>
      <div class="col-12 d-inline-flex">
        <div class ="body radio-container">
            <input type="radio" id="checkedDisabled" name="selector2" checked disabled>
            <label for="checkedDisabled" class="body">Option2</label>
            <div class="check">
            </div>
        </div>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay8Code = !showDisplay8Code" class="legal-link"> {{showDisplay8Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay8Code" class="padding-top-small">
          <code class="language-markup border brand-magenta d-block">
               &lt;div class="col-12 d-inline-flex"><br/>
               &nbsp;&lt;div class="body radio-container"><br/>
               &nbsp; &nbsp;&lt;input type="radio" id="checkedDisabled" name="selector2" checked disabled><br/>
               &nbsp; &nbsp;&lt;label for="checkedDisabled">Option2&lt;/label><br/>
               &nbsp; &nbsp;&lt;div class="check">&lt;/div><br/>
               &nbsp;&lt;/div><br/>
               &lt;/div><br/>
          </code>
        </div>
      </div>
    </div>
    <div class="col-12 no-padding padding-bottom-large Display5">Checkbox</div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">CheckBox Default/Hover</p>
      </div>
      <div class="col-12 checkbox inline">
        <label>
          <input class="legal" type="checkbox">
          <div class="legal indicator">
            <span class="legal check1"></span>
          </div>
        </label>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay1Code = !showDisplay1Code" class="legal-link"> {{showDisplay1Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay1Code" class="padding-top-small">
          <code class="language-markup border brand-magenta d-block">
            &lt;label>
            <br/> &lt;input type="checkbox" > &nbsp; &lt;div class="indicator">&lt;span class="check1">&lt;/span>&lt;/div>
            <br/> &lt;/label>
          </code>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">CheckBox Pressed</p>
      </div>
      <div class="col-12 checkbox inline">
        <label for="checkbox2">
          <input id="checkbox2" name="checkbox1" type="checkbox" value="" checked>
          <div class="indicator">
            <span class="check1"></span>
          </div>
        </label>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay2Code = !showDisplay2Code" class="legal-link"> {{showDisplay2Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay2Code" class="padding-top-small">
          <code class="language-markup border brand-magenta d-block">
            &lt;label>
            <br/> &lt;input type="checkbox" checked> &nbsp; &lt;div class="indicator">&lt;span class="check1">&lt;/span>&lt;/div>
            <br/> &lt;/label>
          </code>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">CheckBox Default Disabled</p>
      </div>
      <div class="col-12 checkbox inline">
        <label>
          <input type="checkbox" disabled>
          <div class="indicator">
            <span class="check1"></span>
          </div>
        </label>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay3Code = !showDisplay3Code" class="legal-link"> {{showDisplay3Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay3Code" class="padding-top-small">
          <code class="language-markup border brand-magenta d-block">
            &lt;label>
            <br/> &lt;input type="checkbox" disabled> &nbsp; &lt;div class="indicator">&lt;span class="check1">&lt;/span>&lt;/div>
            <br/> &lt;/label>
          </code>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">CheckBox Pressed Disabled</p>
      </div>
      <div class="col-12 checkbox inline">
        <label>
          <input type="checkbox" checked disabled>
          <div class="indicator">
            <span class="check1"></span>
          </div>
        </label>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay4Code = !showDisplay4Code" class="legal-link"> {{showDisplay4Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay4Code" class="padding-top-small">

          <code class="language-markup border brand-magenta d-block">
            &lt;label>
            <br/> &lt;input type="checkbox" checked disabled> &nbsp; &lt;div class="indicator">&lt;span class="check1">&lt;/span>&lt;/div>
            <br/> &lt;/label>
          </code>

        </div>
      </div>
    </div>

    <div class="col-12 padding-bottom-large no-padding Display5">Toggle Switch</div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">Toggle Switch Default</p>
      </div>
      <div class="col-12 checkbox inline">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay9Code = !showDisplay9Code" class="legal-link"> {{showDisplay9Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay9Code" class="padding-top-small">

          <code class="language-markup border brand-magenta d-block">
            &lt;label class="switch"> <br/>
               &lt;input type="checkbox"> <br/>
               &lt;span class="slider round"> &lt;/span> <br/>
             &lt;/label>
          </code>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">Toggle Switch Pressed</p>
      </div>
      <div class="col-12 checkbox inline">
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay10Code = !showDisplay10Code" class="legal-link"> {{showDisplay10Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay10Code" class="padding-top-small">

          <code class="language-markup border brand-magenta d-block">
            &lt;label class="switch"> <br/>
               &lt;input type="checkbox" checked> <br/>
               &lt;span class="slider round"> &lt;/span> <br/>
             &lt;/label>
          </code>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">Toggle Switch Disabled</p>
      </div>
      <div class="col-12 checkbox inline">
        <label class="switch">
          <input type="checkbox" disabled>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay11Code = !showDisplay11Code" class="legal-link"> {{showDisplay11Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay11Code" class="padding-top-small">

          <code class="language-markup border brand-magenta d-block">
            &lt;label class="switch"> <br/>
               &lt;input type="checkbox" disabled> <br/>
               &lt;span class="slider round"> &lt;/span> <br/>
             &lt;/label>
          </code>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-bottom-small">
        <p class="H6-heading mb-0">Toggle Switch Checked Disabled</p>
      </div>
      <div class="col-12 checkbox inline">
        <label class="switch">
          <input type="checkbox" checked disabled>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="col-12 padding-bottom-large background-white">
        <a (click)="showDisplay12Code = !showDisplay12Code" class="legal-link"> {{showDisplay12Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showDisplay12Code" class="padding-top-small">

          <code class="language-markup border brand-magenta d-block">
            &lt;label class="switch"> <br/>
               &lt;input type="checkbox" checked disabled> <br/>
               &lt;span class="slider round"> &lt;/span> <br/>
             &lt;/label>
          </code>

        </div>
      </div>
    </div>

  </div>
</div>