@import "src/assets/scss/global-variables.scss";
.TMO-CREDIT-CARD-UPDATED-PAGE{
    .dialog{
        max-width:251px;
        min-width:251px;
        @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
            max-width: 450px;
        }
       }
    .cardSize 
    {
        width:100%;
    }
    
    .plainImg{
        background:lightgray no-repeat;
        width: 25px;
        height: 15px;
    @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
        background:lightgray no-repeat;
        width: 50px;
        height: 30px;
    } 
    }
}
