<div class="TMO-CREDIT-CARD-UPDATED-PAGE">
  <div class="container">
      <div class="main-content">
    <app-header></app-header>
    <form #credidcardform="ngForm">
      <div class="col-12-xs text-center padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl">
        <p class="Display3 mb-0">Card information</p>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="floatingLabel no-padding">
            <input tabindex="1" type="text" id="cardName" minlength="8" maxlength="50" pattern="[a-zA-Z\s\-\.]*" name="cardName" class="input body black"
              [(ngModel)]="creditcard.cardName" required #cardName="ngModel" [ngClass]="{'border-red':cardName.invalid && !cardName.pristine && !cardName.errors?.required}">
            <label for="cardName" class="labelpointer" [ngClass]="[(cardName.invalid && !cardName.pristine && !cardName.errors?.required) ? 'legal color-red redClass' : '',
           (!cardName.invalid )   ? 'legal' : '',
          ( cardName.errors?.required ) ? 'body' : '']">Name on card</label>
          <div class="input-animation"></div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 col-md-10  offset-md-1 ">
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="cardName.errors?.minlength">
            Enter a valid name
          </p>
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="cardName.errors?.pattern && !cardName.errors?.minlength">
          Enter a valid name
          </p>
          <span class="pull-right " *ngIf="cardName.invalid && !cardName.pristine && !cardName.errors?.required">
            <i class="errormessageimg exclamation-error pull-right"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 padding-top-small d-flex align-items-end">
          <div class="col-1 pl-0">
            <!--<div [ngClass]="[!creditcard.creditCardNumber ? 'icon-size plainImg':'', plainCard ? 'icon-size plainImg':'', visaCard ? 'icon-size visaImg':'', masterCard ? 'icon-size masterImg':'',expressCard ? 'icon-size expressImg':'']"></div>-->
              <div id="iconId"  [ngClass]="[!creditcard.creditCardNumber ? ' plainImg':'',creditcard.creditCardNumber? cardIcon:'' ]" ></div>
          </div>
          <div class="col-11 pr-0 pl-lg-0">
          <div class="floatingLabel no-padding" id="test">
              <input class="input  body black" (keyup)="cardChange($event)"  #creditCardNumber="ngModel" 
           [(ngModel)]="creditcard.creditCardNumber" id="creditCardNumber" maxlength="19" minlength="19"
                name="creditCardNumber"  pattern="\d{4} *\d{4} *\d{4} *\d{4}" tabindex="1" required="" type="tel"
                [ngClass]="{'border-red':creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required && creditcard.creditCardNumber}"
                placeholder="XXXX XXXX XXXX XXXX" appCustomformat format="creditCardNumber" appClearInput>
            <label for="creditCardNumber" id="creditCardNumberLabel" class="labelpointer" 
            [ngClass]="[(creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required && creditcard.creditCardNumber) ? 'legal color-red redClass' : '',
                  (!creditCardNumber.invalid )   ? 'legal' : '',
                   ( creditCardNumber.errors?.required ) ? 'body' : '']">Credit card number</label>
                   <div class="input-animation"></div>
          </div>
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-11 offset-1 col-md-9 offset-md-2 pl-md-1 pl-lg-0">
          <p class="legal color-red text-left errormessage padding-top-xsmall mb-0 pl-3 pl-lg-0" *ngIf="creditCardNumber.errors?.minlength">
            Enter a valid card number
          </p>
          <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="creditCardNumber.errors?.pattern && !creditCardNumber.errors?.minlength && creditcard.creditCardNumber">
            Enter a valid card number
          </p>
          <span class="pull-right" *ngIf="creditCardNumber.invalid && !creditCardNumber.pristine && !creditCardNumber.errors?.required">
            <i class="errormessageimg  exclamation-error pull-right"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex no-padding padding-top-small">
          <div class="col-4 col-md-3 offset-md-1">
            <div class="floatingLabel no-padding">
              <input tabindex="1" type="tel" id="expirationDate" 
              minlength="5" maxlength="5"
              format="expirydate" appCustomformat  pattern="^((0[1-9])|(1[0-2]))\/(\d{2})$"
                name="expirationDate" class="input body black"  [(ngModel)]="creditcard.expirationDate" required #expirationDate="ngModel" 
                [ngClass]="{'border-red':expirationDate.invalid && !expirationDate.pristine && !expirationDate.errors?.required && creditcard.expirationDate}">
              <label for="expirationDate"  class="labelpointer" 
              [ngClass]="[(expirationDate.invalid && !expirationDate.pristine && !expirationDate.errors?.required && (creditcard.expirationDate)) ? 'legal color-red redClass' : '',
          (!expirationDate.invalid )   ? 'legal' : '',
         (expirationDate.errors?.required ) ? 'body' : '']">Expiration date</label>
         <div class="input-animation"></div>
            </div>
          </div>
          <div class="col-4 col-md-3  ">
            <div class="floatingLabel no-padding">
              <input tabindex="1" type="tel" id="cvvNumber" format="" appCustomformat minlength="3" [maxlength]="cvvlength" pattern="[0-9]*"
                name="cvvNumber" class="input body black"  [(ngModel)]="creditcard.cvvNumber" required #cvvNumber="ngModel"
                [ngClass]="{'border-red':cvvNumber.invalid && !cvvNumber.pristine && !cvvNumber.errors?.required && creditcard.cvvNumber}">
              <label for="cvvNumber" class="labelpointer" [ngClass]="[(cvvNumber.invalid && !cvvNumber.pristine && !cvvNumber.errors?.required && creditcard.cvvNumber) ? 'legal color-red redClass' : '',
          (!cvvNumber.invalid )   ? 'legal' : '',
         (cvvNumber.errors?.required ) ? 'body' : '']">CVV</label>
         <div class="input-animation"></div>
            </div>
          </div>
          <div class="col-4 col-md-3 ">
            <div class="floatingLabel no-padding">
              <input tabindex="1" type="tel" id="zipCode" format="" appCustomformat minlength="5" maxlength="5"  pattern="[0-9]*"
                name="zipCode" class="input body black"  [(ngModel)]="creditcard.zipCode" required #zipCode="ngModel" [ngClass]="{'border-red':zipCode.invalid && !zipCode.pristine && !zipCode.errors?.required && creditcard.zipCode}">
              <label for="zipCode" class="labelpointer" [ngClass]="[(zipCode.invalid && !zipCode.pristine && !zipCode.errors?.required && creditcard.zipCode) ? 'legal color-red redClass' : '',
          (!zipCode.invalid )   ? 'legal' : '',
         (zipCode.errors?.required ) ? 'body' : '']">ZIP</label>
         <div class="input-animation"></div>
            </div>
          </div>
        </div>
      </div>
    

      <div class="row ">
        <div class="col-12 d-flex no-padding">
          <div class="col-4 col-md-3 offset-md-1 ">
            <p class="legal color-red text-left errormessage padding-top-xsmall validErrorMsg mb-0" *ngIf="expirationDate.errors?.minlength && creditcard.expirationDate">
              Enter a valid expiration date
            </p>
            <p class="legal color-red text-left errormessage padding-top-xsmall mb-0" *ngIf="expirationDate.errors?.pattern && !expirationDate.errors?.minlength">
              Enter a valid expiration date
            </p>
            <span class="pull-right" *ngIf="expirationDate.invalid && !expirationDate.pristine && !expirationDate.errors?.required && creditcard.expirationDate">
              <i class="errormessageimg  exclamation-error pull-right"></i>
            </span>
          </div>

          <div class="col-4 col-md-3 ">
            <p class="legal color-red text-left errormessage padding-top-xsmall padding-top-xsmall validErrorMsg mb-0" *ngIf="cvvNumber.errors?.minlength && creditcard.cvvNumber">
              Enter a valid CVV
            </p>
            <p class="legal color-red text-left errormessage padding-top-xsmall" *ngIf="cvvNumber.errors?.pattern && !cvvNumber.errors?.minlength">
            Enter a valid CVV
            </p>
            <span class="pull-right" *ngIf="cvvNumber.invalid && !cvvNumber.pristine && !cvvNumber.errors?.required &&  creditcard.cvvNumber">
              <i class="errormessageimg  exclamation-error pull-right"></i>
            </span>
            <a class="legal-link text-decoration-underline padding-top-xsmall-md padding-top-xsmall-lg padding-top-xsmall-xl" (click)="showModal()">What is this?</a>
          </div>
          <div class="col-4 col-md-3  ">
            <p class="legal color-red text-left errormessage padding-top-xsmall validErrorMsg mb-0" *ngIf="zipCode.errors?.minlength && creditcard.zipCode">
              Enter a valid zip code
            </p>
            <p class="legal color-red text-left errormessage mb-0 padding-top-xsmall" *ngIf="zipCode.errors?.pattern && !zipCode.errors?.minlength">
            Enter a valid zip code
            </p>
            <span class="pull-right" *ngIf="zipCode.invalid && !zipCode.pristine && !zipCode.errors?.required && creditcard.zipCode">
              <i class="errormessageimg  exclamation-error pull-right"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10  offset-md-1 padding-top-large" >
          <div class="d-flex align-items-center">
            <label class="switch mt-1">
              <input type="checkbox" [checked]="checkOpt" (change)="checkOpt = !checkOpt">
              <span class="slider round"> </span>
            </label>
            <span class="p-l-12-xs p-l-12-sm padding-horizontal-xl pr-0 body mb-1">Save this payment method</span>
            <span tooltip-text="Save account (optional). Allow T-Mobile to store your payment method for future use by you and verified users to make a payment."
              tooltip-position="top">
              <i class="tooltip-icon ml-2 mbtm-2 d-inline-block"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row toggle-out" [ngClass]="{'toggle-in':checkOpt}">
        <div class="col-12 col-md-10 offset-md-1 padding-top-large">
          <div class="d-flex">
            <i class="exclamation-circle d-inline d-table padding-horizontal-small pr-0 mt-md-1"></i>
            <span class="padding-horizontal-xsmall body mt-lg-1">You can only have 1 saved Credit/Debit card on file. Proceed if you want to replace your existing stored card
              with a new card.</span>
          </div>
        </div>
      </div>
    </form>
    <div class="container">
      <div class="dialog-container">
      <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
          <div class="mx-md-0">
              <div class="">
                  <span class=""><img class="visaImg"></span>
                  <span class=""><img class="masterImg"></span>
                  <span class=""><img class="discoverImg"></span>
              </div>
          </div>
          <div class="padding-top-small  mx-md-0">
              <div class="">
                <span class=""><img class="cvv_visaImg" ></span>
              </div>
          </div>
      </div>
      <div class="overlay" (click)="closeModal()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
      </div>
    </div>
    </div>
    <div class="row no-padding  padding-vertical-large-sm padding-vertical-large-xs padding-vertical-xl-md padding-vertical-xl-lg padding-vertical-xl-xl ">
        <div class="col-12 col-md-8  offset-md-2 text-center  ">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
            <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple [disabled]="!credidcardform.valid">Continue</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
            <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
          </div>
        </div>
      </div>
  </div>
</div>