<div class="TMO-BANK-MODAL">
<div class="container">
  <div class="row padding-top-xxl padding-bottom-xxl">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
      <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Bank information</button>
    </div>
  </div>
  <div class="dialog-container">
    <div class="dialog containerheight animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
      <div class="row">
              <div class="col-10 offset-1 col-md-10 offset-md-1">
                <p class="text-center legal">We accept checking account payments from US-based checking accounts.</p>
                 <p class="text-center legal">Locate the account and routing numbers on your checks based on the example below.</p>
              </div>
      </div>
      <div class="row  mx-0 ">
        <div class="col-12 no-padding text-center padding-top-small">
          <span>
            <img class="imgwidth" src="./assets/img/otp/group.png">
          </span>
        </div>
      </div>
 
    </div>
    <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
  </div>
</div>
</div>