<div class="TMO-OFFER-MODAL">
<div class="container">
    <div class="row padding-top-xxl padding-bottom-xxl">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
            <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Offer Modal</button>
        </div>
    </div>
    <div class="dialog-container">
        <div class="dialog  animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
            <div class="row no-margin text-center ">
                <div class="col-12 no-padding">
                    <i class="price-tag d-inline-block"></i>
                </div>
            </div>
            <div class="row no-margin padding-top-small text-center ">
                <span class="col-12 Display5 no-padding">Offer - BOGO Samsung Galaxy S8</span>
            </div>
            <div class="row no-margin padding-top-xl padding-top-xl-xs padding-top-xl-sm ">
                <span class="col-12 col-md-11 offset-md-1  body black no-padding">Surendra, (610) 999-9170</span>
                <span class="col-12 col-md-11 offset-md-1  legal no-padding">Full price device</span>
            </div>
            <div class="row no-margin padding-top-small pb-md-4 pb-lg-4 pb-xl-4 padding-bottom-small-xs padding-bottom-small-sm ">
                <span class="col-12 col-md-11 offset-md-1  body black no-padding">Alex, (555) 555-1111</span>
                <span class="col-12 col-md-11 offset-md-1  legal no-padding">Discounted device</span>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="inset-divider"></div>
                </div>
            </div>
            <div class="row no-margin padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm ">
                <span class="col-12 body no-padding">Lorem ipsum dolor sit amet, cons ecte adipiscing elit, sed d eiusmod tempor incididunt ut labore</span>
            </div>

            <div class="row  mx-0  padding-top-medium  text-center">
                <div class="col-12 no-padding text-center">
                    
                        <button class="PrimaryCTA-accent pull-right" appButtonripple (click)="close()">CTA goes here</button>
                   
                </div>
            </div>
        </div>
        <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
</div>
</div>