<div class="TMO-DOCU-SIGN-FLOW">
  <div class="container">
    <div class="row planheight">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center padding-top-medium Display3">
        Purchase Option Installment Plan Agreement
      </div>
    </div>
    <div class="row padding-top-medium padding-bottom-medium">
      <div class="col-md-10 offset-md-1 Display6 text-center no-padding-xs">
        <div class="col-12 bg-color" [ngStyle]="{'height': banerHeight()}" >
          <div class="vertical-padding">
              <p class="col-12">DOCUSIGN</p>
              <p class="col-12">FLOW</p>
          </div>
          <div class="vertical-padding-xs">
            <p class="col-12 ">SUBMIT ORDER</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>