@import "src/assets/scss/global-variables.scss";
.TMO-DOCU-SIGN-FLOW {
    .bg-color {
        background-color: rgba(74, 144, 226, 0.5);
    }
    .vertical-padding {
        padding-top: 132px;
        padding-bottom: 121px;
    }
    .bottom-align{
        padding-bottom: 69px;
    }
    @media #{$smartphones-xxs}, #{$smartphones-xs}  {

        .vertical-padding {
            @media #{$portrait} {
                padding-top: 35%;
            }
            @media #{$landscape} {
                padding-top: 15%;
            }
            padding-bottom: 0px;
        }

        .vertical-padding-xs {
            @media #{$portrait} {
                padding-top: 30%;
            }
            @media #{$landscape} {
                padding-top: 12%;
            }
        }
        
        .bottom-align{
            padding-bottom: 142px;
        }

    }

 
}