@import "src/assets/scss/global-variables.scss";
.TMO-LANGUAGE-SETTINGS {
    @media #{$smartphones-xxs},#{$smartphones-xs},#{$smartphones-sm}#{$tablets-md}{
    .margin-bottom-medium-sm{
        margin-bottom:$M;
    }
    .margin-top-large-sm{
        margin-top:$L;
    }
}
}