<div class="TMO-LANGUAGE-SETTINGS" aria-live="assertive">
  <div class="container">
    <!--<app-header></app-header>-->
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12 text-center">
        <p class="Display3">
          <span tabindex="0" role="title" aria-label="Language Settings">Language Settings</span>
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm ">
        <p><span class="legal pb-1" tabindex="0" [attr.aria-label]="subTitle">{{subTitle}}</span></p>
        <div class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none" tabindex="0"
          [attr.aria-label]="'Press enter to open and press up and down keys to navigate ' +selectedLine+ ' is selected' ">
          <div id="model" class="dropdown-toggle">
            <span class="body black" ng-model="selectedLine" innerHTML="{{selectedLine}}"></span>
            <span class="arrow-down pull-right mt-1"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="model">
            <li  class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
              (click)="select(state.name, state.pah)">
              <a  role="menuitem" innerHTML="{{state.name}}"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 ">
        <p class="Display6 padding-bottom-small"><span  role="title" tabindex="0" aria-label="Customer Care Language">Customer Care Language</span></p>
        <p class="body " tabindex="0" [attr.aria-label]="textValue">{{textValue}}</p>
        <div class="col-12 no-padding padding-top-small d-inline-block" tabindex="-1">
          <div class="body radio-container" (keydown.enter)="changeRadio(0)" tabindex="0" aria-label="Please check this radio button for English">
            <input type="radio" id="lang1" name="selector" [checked]="radioValue[0]" tabindex="-1">
            <label for="lang1" class="mb-0" tabindex="-1">English</label>
            <div class="check">
            </div>
          </div>
        </div>
        <div class="col-12 no-padding padding-top-xsmall d-inline-block">
          <div class="body radio-container" (keydown.enter)="changeRadio(1)" tabindex="0" aria-label="Please check this radio button for Español">
            <input type="radio" id="lang2" name="selector" [checked]="radioValue[1]" tabindex="-1">
            <label for="lang2" class="mb-0" tabindex="-1">Español</label>
            <div class="check">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-padding  padding-top-xl padding-top-large-xs padding-top-large-sm padding-bottom-xl margin-bottom-medium-sm margin-top-large-sm">
      <div class="col-12  text-center">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button role="button" class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" tabindex="0" appButtonripple>Save</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button role="button" class="SecondaryCTA  full-btn-width float-md-right float-lg-right float-xl-right blackCTA" tabindex="0"
            appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
