<div class="TMO-AUTOPAY-FAQ">
  <div class="container">
    <app-header></app-header>
    <div class="row padding-top-large-xs padding-top-large-sm padding-top-xl pb-md-3">
      <div class="col-12 text-center Display3 black">
        <span tabindex="0" aria-label="Frequently asked questions">Frequently asked questions</span>
      </div>
    </div>
    <div class="row padding-top-medium" *ngFor="let faq of faqArray">
        <div class="col-12 body black font-weight-bold">
          <span tabindex="0" [attr.aria-label]="faq.title">{{faq.title}}</span>
        </div>
        <div class="col-12 body padding-top-xsmall">
          <span tabindex="0" [attr.aria-label]="faq.content">{{faq.content}}</span>
        </div>
        <div class="col-12 body padding-top-xsmall" *ngIf="faq.list1 && faq.list2">
          <p tabindex="0" [attr.aria-label]="faq.list1">{{faq.list1}}</p>
          <p tabindex="0" [attr.aria-label]="faq.list2">{{faq.list2}}</p>
        </div>
    </div>
    <div class="row no-padding padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl">
          <div class="col-12 col-md-6 offset-md-3 text-center">
            <button class="PrimaryCTA full-btn-width"  role="button" tabindex="0" appButtonripple (click)="gotopreviouspage()" aria-label="click here to go back">Back</button>
          </div>
      </div>
  </div>
</div>
