@import "src/assets/scss/global-variables.scss";
.TMO-MY-WALLET {
    // .dialog{
    //     @media #{$tablets-md},#{$desktops-lg},
    //         #{$desktops-xl}{
    //             max-width: 400px;
    //     }
    // }
    @media #{$alldeviceexceptsmartphone} {
        .margin-left-small {
            margin-left: $S;
        }
    }
    @media #{$smartphones-xs},
    #{$smartphones-sm} {
        .modal-button-div-xs {
            display: flex;
            flex-direction: row-reverse;
        }
        .modal-button-width-xs {
            width: 50%;
        }
        .margin-left-xsmall-xs {
            margin-left: $XS;
        }

    }
    @media #{$smartphones-xs} {
        .padding-horizontal-base-xs {
            padding-left: $Base;
            padding-right: $Base;
        }
    }
    .p-l-25{padding-left: 25px;}
}