<div class="TMO-MY-WALLET" *ngIf="walletPageData">

  <div class="container">
    <div class="row">
      <div class="col-12 padding-top-medium Display4 text-center" [ngClass]="{'padding-bottom-medium':!walletPageData?.titleSubDesc}">
        <span tabindex="0" id="walletHead" [attr.aria-label]="walletPageData.titleDesc">{{walletPageData.titleDesc}}</span>
      </div>
      <div *ngIf="walletPageData?.titleSubDesc" class="col-12 padding-vertical-medium padding-top-small-xs padding-top-small-sm body text-center black">
        <span tabindex="0" [attr.aria-label]="walletPageData.titleSubDesc">{{walletPageData?.titleSubDesc}}</span>
      </div>
    </div>
  </div>
  <div class="">
    <div class="full-bleed-divider"></div>
  </div>
  <div class="container">
    <div class="row" *ngFor="let data of walletPageData?.cardDetails;let i=index;">

      <div class="col-12">
        <cardpaymentblade [title]="data.name" [titleClass]="'Display6'" [lefticon]="data.icon" [card]="data.number" [expiryDate]="data.expiryDate"
          [secondLineDesc]="data.desc" [cardNumberClass]="'Display6'" [action]="data.action" [url]="data.url"
          [index]="i" (callBackValue)="deleteModalOpen($event)" [parentSubject]="parentSubject"></cardpaymentblade>
      </div>

    </div>
    <div *ngFor="let card of walletPageData?.addPayDetail;let i=index;">
      <div class="row">
        <div class="col-12">
          <cardpaymentblade [title]="card.name" [titleClass]="'Display6'" [lefticon]="card.icon" [url]="card.url" [disableBlade]="walletPageData.cardDetails.length>=10"></cardpaymentblade>
        </div>
      </div>
    </div>

    <div class="row no-padding padding-vertical-xl padding-top-xxl-xs padding-top-xxxl-sm">
      <div class="col-12 col-md-4 offset-md-4 padding-top-medium padding-bottom-small-xs padding-bottom-small-sm text-center">
        <button class="SecondaryCTA blackCTA w-100" appButtonripple>
          Back </button>
      </div>
    </div>

    <!--new code ends here-->
    <!--Payment wallet model starts-->
    <div class="dialog-container">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}" tabindex="-1" id="goToWalletModal" (keydown)="backTabEvent($event,'goToWalletModal','closeId')" (keydown.escape)="close()">
        <div *ngIf="visible">
          <div class="row no-margin text-center padding-top-small-md padding-top-small-lg padding-top-small-xl padding-bottom-medium padding-bottom-small-xs padding-bottom-small-sm">
            <span id="id1" class="col-12 col-md-10 offset-md-1 no-padding Display4 text-center" tabindex="0" aria-label="New: My wallet">
              New: My wallet</span>
          </div>
          <div class="row no-margin">
            <div class="col-12 col-md-10 offset-md-1 no-padding body black text-left">
              <p class="p-l-25" tabindex="0" aria-label="Now you can save up to ten payment methods in your own secure, personal wallet, for fast, easy payments.">
                Now you can save up to ten payment methods in your own secure, personal wallet, for fast, easy payments.</p>
              <!-- <p tabindex="0" aria-label="Just re-enter card/bank info once to save."> Just re-enter card/bank info once to save.</p> -->
              <ul class="body">
                <li class="padding-top-medium padding-top-small-xs padding-top-small-sm"  >
                  <span tabindex="0" aria-label="Claim previously saved payment methods—just re-enter the card number/bank account number once to confirm they’re yours." role="none">Claim previously saved payment methods—just re-enter the card number/bank account number once to confirm they’re yours.</span></li>
                <li class="padding-top-medium padding-top-small-xs padding-top-small-sm" >
                  <span role="none" tabindex="0" aria-label="Access and manage your wallet from your bill, your profile, the payment options page, or when you make a payment.">Access and manage your wallet from your bill, your profile, the payment options page, or when you make a payment.</span></li>
                <li class="padding-top-large padding-top-small-xs padding-top-small-sm">
                  <span role="none" tabindex="0" aria-label="Share an account with other people? Confirm the payment methods you want to save, then remove the rest. Removing won’t affect other users or existing automatic payments.">Share an account with other people? Confirm the payment methods you want to save, then remove the rest. Removing won’t affect other users or existing automatic payments.</span></li>
              </ul>
            </div>
          </div>
          <div class="row no-margin text-center padding-horizontal-xsmall px-md-0 padding-top-medium padding-top-small-xs padding-verticl-small-sm">
            <div class="col-12 no-padding modal-button-div-xs">
              <button class="PrimaryCTA-accent pull-right margin-left-small margin-left-xsmall-xs modal-button-width-xs" appButtonripple
                (click)="close()" (keydown.enter)="close()" (keydown.tab)="walletModalFocus()" tabindex="0" aria-label="Click here to Close the popup" role="button" id="closeId">Close</button>
              <!-- <button class="SecondaryCTA-accent blackCTA pull-right modal-button-width-xs padding-horizontal-base-xs" appButtonripple
                role="button" tabindex="0" aria-label="Click here to go to wallet" (click)="close()" (keydown.enter)="close()"
                (keydown.tab)="walletModalFocus()">Go to wallet</button> -->
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="visible" class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
    <!--Payment wallet model ends-->
    <!--Delete  model starts-->
    <div class="dialog-container">
      <div class="dialog animation-out" [ngClass]="{'animation-in':deleteModalVisible}" id="deleteModal" tabindex="-1" (keydown)="backTabEvent($event,'deleteModal','deleteCloseId')" (keydown.escape)="closeChildModal()">
        <div *ngIf="deleteModalVisible">
          <div class="row no-margin text-center padding-top-xsmall">
            <span mat-dialog-title class="col-12 col-md-10 offset-md-1 no-padding Display4 text-center" tabindex="0" aria-label="Are you sure you want to remove this card?">Are you sure you want to remove this card?</span>
          </div>
          <div class="row no-margin text-center padding-horizontal-xsmall  px-md-0 padding-top-xl padding-top-large-xs padding-top-large-sm">
            <div class="col-12 no-padding modal-button-div-xs">
              <button class="PrimaryCTA-accent pull-right margin-left-small margin-left-xsmall-xs modal-button-width-xs" appButtonripple
                (click)="closeChildModal()" (keydown.enter)="closeChildModal()" tabindex="0" aria-label="Click here to remove">Yes, Remove</button>
              <button class="SecondaryCTA-accent blackCTA pull-right modal-button-width-xs" appButtonripple role="button" tabindex="0"
                aria-label="Click here to cancel" (click)="closeChildModal()" (keydown.enter)="closeChildModal()" (keydown.tab)="deleteModalFocus()" id="deleteCloseId">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="deleteModalVisible" class="overlay" (click)="closeChildModal()" [ngClass]="{'overlay-in':deleteModalVisible,'overlay-out':!deleteModalVisible}"></div>
    </div>
  </div>
</div>