<div class="TMO-In-SESSION-RADIO-PAYMENT-BLADE-PAGE">

  <div class="row padding-vertical-medium padding-vertical-small-xs">
     <div class="col-1 col-md-1 offset-md-1">
                <div class="body radio-container mt-1">
                  <input class="check pr-1" type="radio" id={{radioButtonId}} name="{{radioButtonName}}" [checked]="radioBtnChildChecked==true"
                    [attr.disabled]="bladedisabled" aria-hidden="true" tabindex="-1">
                  <label for={{radioButtonId}} class="labelClass mb-0" aria-hidden="true" tabindex="-1"></label>
                  <div class="check" tabindex="0" [attr.aria-label]="bladedisabled?'Payment method selection radio button is disabled':'click this radio button to select payment option'" (keydown.enter)="!bladedisabled?checkRadio():''"></div>
                </div>
          </div>
          <div class="col-2 col-md-1 ">
              <span class={{iconImage}} [ngClass]="{'no-icon':iconImage==''}"  [tabindex]="iconImage==''?-1:0" role="img" aria-label="payment option icon"></span>
          </div>
           <div class="col-5 col-md-5">
                  <p class="Display6 d-flex"><span [ngClass]="{'gray60': bladedisabled}" [tabindex]="cardTitle?0:-1" [attr.aria-label]="cardTitle" *ngIf="cardTitle">{{cardTitle}}   </span>
                    <span class="body-bold  d-none d-md-block align-to-bottom" [tabindex]="expiryDate?0:-1" [attr.aria-label]="expiryDate" [ngClass]="{'color-e8200d':descWarning,'margin-horizontal-medium':cardTitle}">{{expiryDate}}</span></p>
                  <p class="padding-top-xsmall legal-bold d-block d-md-none" [tabindex]="expiryDate?0:-1" [attr.aria-label]="expiryDate" [ngClass]="{'color-e8200d':descWarning}">{{expiryDate}}</p>
                  <p class="padding-top-xsmall body-bold d-none d-md-block" [ngClass]="{'color-e8200d':action=='Delete'}"
                    *ngIf="data"><span [tabindex]="data?0:-1" [attr.aria-label]="data">{{data}}</span></p>
            </div>
              <div class="col-4 col-md-3 text-right margin-left-4">
                  <p class="Display6 gray60"><span  [tabindex]="cardNumber?0:-1" [attr.aria-label]="'Card number is' + cardNumber ">{{cardNumber}}</span></p>
                  <p class="padding-top-xsmall cursor"><span class="body-link " [tabindex]="action?0:-1" role="link" [attr.aria-label]="'click on' + action + ' to ' + action "
                     (click)="deleteModalOpen(action,radioButtonId)" (keydown.enter)="deleteModalOpen(action,radioButtonId)" id={{action}}{{radioButtonId}}>{{action}}</span></p>
              </div>
      <div class="col-8 offset-3 d-md-none d-block">
            <p class=" legal-bold" [ngClass]="{'color-e8200d':action=='Delete'}"
            [tabindex]="data?0:-1" [attr.aria-label]="data">{{data}}</p>
      </div>
  </div>
  <div *ngIf="bottomDivider" class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class={{bottomDividerClass}}></div>
      </div>
    </div>
</div>