@import "src/assets/scss/global-variables.scss";
.TMO-In-SESSION-RADIO-PAYMENT-BLADE-PAGE{
    .no-icon {
        width: 45px;
        height: 27px;
        display: inline-block;
    }
    .radio-container label {
        padding: 0px 0px 0px 36px;
    }
    .radio-container
    {
        vertical-align: middle;
    }      
    @media #{$smartphones-xs}, #{$smartphones-sm} {
        .margin-left-4 {
            margin-left: -4px;
        }
    }
    .img-bottom {
        @media #{$alldeviceexceptsmartphone} {
            bottom: 24px;
        }
        @media #{$smartphones-xs}, #{$smartphones-sm} {
            bottom: 44px;
        }
    }
    .color-e8200d {
        color: #e8200d;
    }
    .align-to-bottom{
        margin-top: 7px;
        line-height: 16px;
    }
    .margin-horizontal-medium {
        margin-left: $M;
        margin-right: $M;
    }
}