<div class="TMO-FIDELIS-PRIVACY-POLICY">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 Display4 padding-top-large padding-bottom-small text-center padding-top-medium-xs padding-bottom-large-xs">
                        Privacy Policy
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1 body">
                    <div class="padding-bottom-large padding-bottom-medium-xs">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla lorem ac mi fringilla, eu interdum ex luctus. Nunc tempor, tortor eget posuere volutpat, sem nibh pretium ipsum, varius lobortis urna ante sit amet sem. Proin ac varius nisl, eu aliquam turpis. Duis a tellus vitae eros accumsan mattis. Duis ullamcorper dapibus urna et condimentum. Pellentesque vel pretium libero. Quisque sodales scelerisque ipsum, at fermentum nisl scelerisque eget. Fusce accumsan maximus ante, et malesuada nulla. In hac habitasse platea dictumst.
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-10 offset-md-1 body">
                    <div class="padding-bottom-large padding-bottom-medium-xs">
                    Proin id orci posuere, facilisis dolor vitae, mollis orci. Integer bibendum tempor tempus. Etiam mauris diam, auctor ut vulputate sit amet, tempor at mi. Ut vestibulum ornare quam, eget tincidunt eros tempus a. Ut euismod arcu turpis, sed tincidunt est aliquet non. Pellentesque tempus, turpis nec pretium tempus, felis nibh molestie leo, a fermentum quam risus at ligula. Nunc dapibus, velit et efficitur fermentum, eros nibh sagittis quam, commodo porta est magna faucibus magna. Maecenas velit tellus, molestie eu fermentum non, vestibulum ac odio. In in fermentum ligula. Donec venenatis lacus eros, in cursus diam tempor nec. Donec vitae felis accumsan ligula iaculis laoreet tristique sit amet nulla. Donec at justo vel dolor eleifend vehicula. Maecenas sagittis elit diam, sit amet tincidunt velit tempor non.
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-10 offset-md-1 body">
                    <div class="padding-bottom-large padding-bottom-medium-xs">
                    Sed mollis sem id lorem vehicula pharetra. Vivamus porta ornare pharetra. Suspendisse potenti. Curabitur malesuada neque vel sem iaculis, sed elementum quam molestie. Integer sit amet risus eu justo scelerisque eleifend ut in velit. Aliquam non velit quis ipsum ullamcorper porta non auctor risus. Cras sed convallis sapien, id hendrerit lectus. Quisque viverra tortor vitae magna volutpat auctor. Vestibulum sollicitudin lobortis rutrum. Duis suscipit malesuada efficitur.
                    </div>
                </div>
            </div>      
        </div>        

</div>