<div class="TM0-REVIEW-PLAN-DETAILS-PAGE">
  <div class="container">
    <div class="position-content">
      <app-header></app-header>
      <div class="row">
        <div class="col-12 text-center">
          <p class="mb-0 Display3 padding-top-large-xs padding-top-large-sm padding-top-xxl padding-bottom-xl">T-Mobile One</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="inset-divider-1px"></div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 d-flex padding-top-medium cursor">
          <div class="d-inline-flex no-padding col-6">
            <div class="Display6">Effective Date</div>
          </div>
          <div class="text-right pr-1 col-4 offset-1 pr-md-3 pl-0 pl-lg-3">
            <span class="H6-heading">May 24, 2018</span>
          </div>
          <div class="col-1 pr-0 fa-lg text-right">
            <span class="arrow-right d-inline-block"></span>
          </div>
        </div>
      </div>
      <div class="row no-margin" *ngFor="let plan of planDetails">
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-top-medium">
          <div class="inset-divider-1px"></div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium d-flex">
          <div class="d-inline-flex no-padding">
            <div class="H5-heading">{{plan.title}}</div>
          </div>
        </div>
        <div *ngFor="let detail of plan['data']" class="col-12 col-md-10 offset-md-1 no-padding 
         d-flex">
          <p class="col-8 d-inline-flex no-padding body" [ngClass]="{'strike':!detail.applicable1}">
            {{detail.name}}
          </p>
          <p class="col-4 text-right pr-1 body" [ngClass]="{'strike':!detail.applicable2}">
            {{detail.price}}
          </p>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-top-large-xs padding-top-large-sm padding-top-medium">
          <div class="total-divider"></div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-top-small-xs padding-top-small-sm padding-top-medium d-flex">
          <div class="col-7 d-inline-flex no-padding Display6">
            {{total.title}}
          </div>
          <div class="col-5 text-right pr-1 H6-heading">
            {{total.price}}
          </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 no-padding text-center padding-top-xl-xs padding-top-xl-sm padding-vertical-xxl">
          <div class="col-12 col-md-12 no-padding">
            <button class="PrimaryCTA full-btn-width btn-wd"  appButtonripple>Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-gray10 no-margin">
    <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 no-padding px-md-3 pt-5 pb-88 legal">
      <div class="mx-4">{{belowContent}}</div>
    </div>
  </div>
</div>