@import "src/assets/scss/global-variables.scss";
.TM0-REVIEW-PLAN-DETAILS-PAGE{
    .strike{
        text-decoration: line-through;
    }
    .bg-gray10{
        background-color: $gray10;
    }
    .pb-88{
        padding-bottom: 88px;
    }
    .position-content {
        min-height: calc(100vh - 225px);
    }
    @media #{$alldeviceexceptsmartphone}{
        .btn-wd{
            width:288px;
        }
        }
}