<div class="TMO-LINE-SELECTOR">
  <div class="container">
    <div class="ts-main-content">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 padding-top-xxxl padding-top-medium-xs padding-top-medium-sm padding-bottom-medium-xs padding-bottom-medium-sm"
          *ngFor="let item of LineSelectorData?.title; let j = index;" id="lineSelector-title">
          <p class="ts-Display3 ts-padding-xs"><span tabindex="0" [attr.aria-label]="item.title">{{item.title}}</span>
          </p>
        </div>
      </div>
      <div class="row padding-bottom-xxxl">
        <div class="  col-12 offset-md-1 col-md-10 col-lg-8 offset-lg-2 ts-d-lg-flex ts-flex-wrap ts-no-padding-xs">
          <div class="col-12 col-md-6 col-lg-6 ts-no-padding-xs ts-full-bleed-divider-top-xs ts-p-t-24-lg"
            *ngFor="let detail of LineSelectorData?.details; let i = index;"
            [ngClass]="{'p-l-0-lg  p-l-0-xl p-l-0-md': (i+1)%2 !== 0 , 'ts-p-r-0-lg p-r-0-md': (i+1)%2 === 0, 'ts-full-bleed-divider-bottom-xs': i==(LineSelectorData?.details.length-1)}" tabindex="-1">
            <div appButtonripple  class="col-12 col-lg-12 gm-noScroll noScroll padding-medium ts-divShadow ts-divBorder cursor ts-justify-content-between ts-h-fixed ts-align-items-center" tabindex="0" [attr.aria-label]="'selected line '+ detail.name ">
              <div class="col-9 no-padding pull-left" tabindex="-1" x-ms-format-detection="none">
                      <span *ngIf="detail.isTidalComplete === 'No'" [tabindex]="0"  aria-label="FINISH
                      ACTIVATING TIDAL" class="ts-legal padding-bottom-base padding-bottom-xsmall-xs padding-bottom-xsmall-sm brand-magenta ts-height-16"  >FINISH ACTIVATING TIDAL</span>
                        <span  *ngIf="detail.tidalType === 'Premium'" [tabindex]=" 0 "  aria-label="YOU HAVE TIDAL
                        PREMIUM" class="ts-legal padding-bottom-base padding-bottom-xsmall-xs padding-bottom-xsmall-sm ts-color-green ts-height-16" >YOU HAVE TIDAL PREMIUM</span> 
                  <p class="ts-Display6" tabindex="-1" *ngIf="detail.name" >
                    <span tabindex="0" [attr.aria-label]="detail.name">{{detail.name}}</span></p>
                  <p class="padding-bottom-xsmall"
                   [ngClass]="{'ts-body padding-top-xsmall': detail.name !== '', 'ts-Display6': detail.name === ''}" tabindex="-1"><span tabindex="0" [attr.aria-label]="'phone number'+ detail.number" x-ms-format-detection="none">{{detail.number}}</span></p>
                  <p class="ts-legal"> <span  tabindex="0" [attr.aria-label]=" detail.manufacture + detail.phoneModel">
                    {{detail.manufacture}} {{detail.phoneModel}}
                  </span></p>
              </div>
              <div class="col-3 no-padding pull-right padding-horizontal-medium" >
                <img src="{{detail.fullImage}}" class="ts-imgDim" tabindex="0" [attr.aria-label]="detail.manufacture + detail.phoneModel + 'image '">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div> 
</div>
