@import "src/assets/scss/global-variables.scss";
.TMO-SYSTEM-ERROR {   
    @mixin icons($width, $height) {
        width: $width;
        height: $height;
    }
    .exclamation-circle {
        width: 118px;
        height: 118px;
        display: inline-block;
        @media #{$smartphones-xs} {
            width: 74px;
            height: 74px;
        }
    }
    .no-padding-sm{
    @media #{$smartphones-sm}{
       padding-left: 0px;
       padding-right: 0px;
    }}
     
}