<div class="TMO-SYSTEM-ERROR">
    <div class="container">
        <div class="main-content">
            <app-header></app-header>
            <div class="row">
                <div class="col-12 text-center padding-top-large-xs padding-top-large-sm padding-top-xl legal">
                    <span class="exclamation-circle"></span>
                </div>
            </div>
            <div class="row padding-top-medium">

                <div class="col-12 Display3 text-center">
                    <span>{{Errorname}}</span>
                </div>
                <div class="col-12 body text-center padding-top-medium">
                    <span>{{Errormessage}} </span>
                </div>
                <div class="col-12 body text-center padding-top-medium">
                    <span>{{Troublemessage}}
                        <span class="cursor body-link"> Message us </span>
                    </span>
                </div>
            </div>


        </div>
        <div class="row no-margin text-sm-center padding-vertical-xl">
            <div class="col-12">
                <div class="col-12 no-padding-xs col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-md-0">
                    <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Edit payment method</button>
                </div>
                <div class="col-12 no-padding-xs  col-md-6 float-md-left pl-md-0">
                    <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Back to payments</button>
                </div>
            </div>
        </div>
    </div>
</div>