<div class="TMO-STYLEGUIDE-BREADCRUMB">
  <div class="container ">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 no-padding">
        <ol class="breadcrumb padding-top-large" *ngIf="currentbreadcrumbpath?.length > 0">
          <li class="breadcrumb-item" *ngFor="let breadcrumb of currentbreadcrumbpath;let last=last;let index=index">
            <a *ngIf="!last" routerLink="{{ breadcrumb.url}}" class="text-black">{{currentpath[index]}}</a>
            <span *ngIf="last" class="breadcrumb-item active" tabindex="0" [attr.aria-label]="currentpath[index]">{{currentpath[index]}}</span>
          </li>
        </ol>
  </div>
</div>
</div>
</div>
