@import "src/assets/scss/global-variables.scss";
.TMO-STYLEGUIDE-BREADCRUMB{
    .breadcrumb-item + .breadcrumb-item::before {
      //  content: ">";
      content: ' \003E';
    }
    .breadcrumb{
        background: $white;
    }
    .breadcrumb-item.active {
        color: $brand-magenta;
    }
    .breadcrumb li a {
        color: $black;
    }

    .breadcrumb {
        padding: .75rem 1rem 0;
        margin-bottom: 0; 
    }
}