<div class="TMO-DROPDOWN-COMPONENT">
  <div class="row no-margin">
    <div class="col-12 no-padding">        
      <span class="{{subTitleClass}} pb-1" tabindex={{tabindex}} [attr.aria-label]="subTitle">{{subTitle}}</span>  
      <div  class="d-inline-block dropdown" tabindex={{tabindex}} id="{{dropdownId}}" appDropdown dropdownid="{{dropdownId}}" style="width: 102%;"  [attr.aria-label]="'Press enter to open the drop down and click up down arrows to select the value' + DropdownAriaLabelText + 'plan selected' " >
        <div  id="model" class="dropdown-toggle"  >
          <span class="{{selectedValClass}} black pull-left" ng-model="selectedVal" innerHtml="{{selectedVal}}"></span>
          <span class="arrow-down pull-right d-inline-block mr-1 mt-1"></span>
        </div>
        <ul class="dropdown-menu" role="menu" aria-labelledby="model">
          <li  class="dropdown-option  mx-1 mt-1" *ngFor="let name of  selectNames" [ngClass]="{'active':name.name === selectedVal}"
            (click)="select(name.name)" >
            <a innerHTML="{{name.name}}" id="value" role="menuitem"> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


