@import "src/assets/scss/global-variables.scss";
.TMO-DROPDOWN-COMPONENT {
  @keyframes nav-down {
    0% {
      height: 0px;
      animation-timing-function: ease-in-out;
    }
    100% {
      height: 1000px;
      animation-timing-function: ease-in-out;
    }
  }

  /*.dropdown-menu.show{
        animation: nav-down 900ms;
    }*/

  .arrowSize {
    width: 20px;
    height: 16px;
    cursor: $pointer;
  }
  .dropdown {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  #model {
    .arrow-down {
      width: 13px;
      height: 13px;
    }
  }

  .dropdown-menu li.dropdown-option > a {
    display: block;
    line-height: 0.5rem;
    word-break: break-word;
    padding: 10px;
  }

  .text-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    white-space: nowrap;
  }
}
