<div class="TMO-COMMON-BLADE">
<div class="container">
<div class="row p-t-25">
<div class="col-12 col-md-10 offset-md-1">
  <paymentblade [title]="paymentMethod"  [card]="cardNumber" [icon]="iconClass" [titleClass]="titleClass"></paymentblade> 
    <div class="padding-bottom-xxl"></div>
</div>
</div>
</div>
</div>
