<div class="TMO-STYLEGUIDE-TABS-EXAMPLE">
  <div class="container">
    <div class="row">
      <div class="col-12" *ngFor="let usageDetails of  UsageData; let i = index">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 body-bold padding-top-small" (click)="detailsPayment(i)">
            <div class="row no-margin">
              <div class="col-11 no-padding">
                <div class="col-6 no-padding float-left">
                  <p class="black Display4 float-left padding-bottom-xsmall">{{usageDetails.name}}</p>
                  <p class="body d-inline-block text-left col-12 no-padding">{{usageDetails.number}}</p>
                </div>
              </div>
              <div class="col-1 no-padding pr-0 fa-lg">
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!showViewLineDetails[i],'arrow-up arrowup_rotation':showViewLineDetails[i]}"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-content" [ngClass]="{'content-open': showViewLineDetails[i]}">
          <div class="row body padding-top-small">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
              <div class="row">
                <div class="col-12">
                  <div class="inset-divider-1px"></div>
                </div>
              </div>
              <div class="row ">
                <div class="col-12 d-flex align-items-center justify-space-between cursor text-left active" style="outline:none" routerlinkactive="active"
                  tabindex="0" (click)="detailspage(usageDetails.name,'Data')">
                  <div class="col-11 no-padding pt-3">
                    <div class="col-12 no-padding">
                      <p class="col-8 no-padding Display6 float-left">Data</p>
                      <p class="col-4 Display6 float-right text-right">{{usageDetails['data-usage']}}
                        <span class="legal vertical-align-super">GB</span>
                      </p>
                    </div>
                    <div class="col-12 text-right">                      
                      <p class="body d-inline-block col-12 no-padding padding-top-xsmall" *ngIf="usageDetails.usage">{{usageDetails.usage}}</p>
                    </div>
                  </div>
                  <div class="col-1 no-padding pr-0 fa-lg ">
                    <span class="arrow-right d-inline-block float-right"></span>
                  </div>
                </div>
                <div class="col-12 padding-top-small-xs padding-top-small-sm padding-top-small">
                  <div class="inset-divider-1px"></div>
                </div>
                <div class="col-12 d-flex align-items-center justify-space-between cursor text-left active" style="outline:none" routerlinkactive="active"
                  tabindex="0" (click)="detailspage(usageDetails.name,'Messages')">
                  <div class="col-11 no-padding pt-3">
                    <div class="col-12 no-padding">
                      <p class="col-8 no-padding Display6 float-left">Messages</p>
                      <p class="col-4 Display6 float-right text-right">{{usageDetails['messages']}} </p>
                    </div>
                    <div class="col-12 text-right">
                      <p class="body d-inline-block col-12 no-padding padding-top-xsmall">Messages</p>
                    </div>
                  </div>
                  <div class="col-1 no-padding pr-0 fa-lg ">
                    <span class="arrow-right d-inline-block float-right"></span>
                  </div>
                </div>
                <div class="col-12 padding-top-small-xs padding-top-small-sm padding-top-small">
                  <div class="inset-divider-1px"></div>
                </div>
                <div class="col-12 d-flex align-items-center justify-space-between cursor text-left active" style="outline:none" routerlinkactive="active"
                  tabindex="0" (click)="detailspage(usageDetails.name,'Calls')">
                  <div class="col-11 no-padding pt-3">
                    <div class="col-12 no-padding">
                      <p class="col-8 no-padding Display6 float-left">Calls</p>
                      <p class="col-4 Display6 float-right text-right">{{usageDetails['calls']}} </p>
                    </div>
                    <div class="col-12 text-right">
                      <p class="body d-inline-block col-12 no-padding padding-top-xsmall">Minutes</p>
                    </div>
                  </div>
                  <div class="col-1 no-padding pr-0 fa-lg ">
                    <span class="arrow-right d-inline-block float-right"></span>
                  </div>
                </div>
                <div class="col-12 padding-top-small-xs padding-top-small-sm padding-top-small">
                  <div class="inset-divider-1px"></div>
                </div>
                <div class="col-12 d-flex align-items-center justify-space-between cursor text-left active" style="outline:none" routerlinkactive="active"
                  tabindex="0" (click)="detailspage(usageDetails.name,'Calls')">
                  <div class="col-11 no-padding pt-3">
                    <div class="col-12 no-padding">
                      <p class="col-8 no-padding Display6 float-left">Data Pass</p>
                      <p class="col-4 Display6 float-right text-right">{{usageDetails['datapass-usage']}}
                        <sup class="legal ">GB</sup>
                      </p>
                    </div>
                    <div class="col-12 text-right">
                      <p class="body d-inline-block col-12 no-padding padding-top-xsmall" >{{usageDetails.dataPassUsage}}</p>
                    </div>
                  </div>
                  <div class="col-1 no-padding pr-0 fa-lg ">
                    <span class="arrow-right d-inline-block float-right"></span>
                  </div>
                </div>
                <div class="col-12 padding-top-small-xs padding-top-small-sm padding-top-small">
                  <div class="inset-divider-1px"></div>
                </div>
                <div class="col-12 d-flex align-items-center justify-space-between cursor text-left active" style="outline:none" routerlinkactive="active"
                  tabindex="0" (click)="detailspage(usageDetails.name,'Calls')">
                  <div class="col-11 no-padding pt-3">
                    <div class="col-12 no-padding">
                      <p class="col-8 no-padding Display6 float-left">Data stash</p>
                      <p class="col-4 Display6 float-right text-right">{{usageDetails['datastash-usage']}}
                            <span class="legal vertical-align-super">GB</span>
                      </p>
                    </div>
                    <div class="col-12 text-right">
                      <p class="body d-inline-block col-12 no-padding padding-top-xsmall" >{{usageDetails.dataStashUsage}}</p>
                    </div>
                  </div>
                  <div class="col-1 no-padding pr-0 fa-lg ">
                    <span class="arrow-right d-inline-block float-right"></span>
                  </div>
                </div>
                <div class="col-12 padding-top-small-xs padding-top-small-sm padding-top-small">
                  <div class="inset-divider-1px"></div>
                </div>
                <div class="col-12 d-flex align-items-center justify-space-between cursor text-left active" style="outline:none" routerlinkactive="active"
                  tabindex="0" (click)="detailspage(usageDetails.name,'Calls')">
                  <div class="col-11 no-padding pt-3">
                    <div class="col-12 no-padding">
                      <p class="col-8 no-padding Display6 float-left">Mobile Hotspot</p>
                      <p class="col-4 Display6 float-right text-right">{{usageDetails['mobileHotspot-usage']}}
                              <span class="legal vertical-align-super">GB</span>
                      </p>
                    </div>
                    <div class="col-12 text-right">
                      <p class="body d-inline-block col-12 no-padding padding-top-xsmall" >{{usageDetails.mobileHotspotUsage}}</p>
                    </div>
                  </div>
                  <div class="col-1 no-padding pr-0 fa-lg ">
                    <span class="arrow-right d-inline-block float-right"></span>
                  </div>
                </div>
                <div class="col-12 padding-top-small-xs padding-top-small-sm padding-top-small">
                  <div class="inset-divider-1px"></div>
                </div>
                <div class="col-12 d-flex align-items-center justify-space-between cursor text-left active" style="outline:none" routerlinkactive="active"
                  tabindex="0" (click)="detailspage(usageDetails.name,'Calls')">
                  <div class="col-11 no-padding pt-3">
                    <div class="col-12 no-padding">
                      <p class="col-8 no-padding Display6 float-left">Third party purchases</p>
                      <p class="col-4 Display6 float-right text-right">{{usageDetails['thirdParty-usage']}}</p>
                    </div>
                    <div class="col-12 text-right">
                      <p class="body d-inline-block col-12 no-padding padding-top-xsmall" >
                        {{usageDetails['third-party-usage']}}</p>
                    </div>
                  </div>
                  <div class="col-1 no-padding pr-0 fa-lg ">
                    <span class="arrow-right d-inline-block float-right"></span>
                  </div>
                </div>
                <div class="col-12 padding-top-small-xs padding-top-small-sm padding-top-small">
                  <div class="inset-divider-1px"></div>
                </div>
                <div class="col-12 d-flex align-items-center justify-space-between cursor text-left active" style="outline:none" routerlinkactive="active"
                  tabindex="0" (click)="detailspage(usageDetails.name,'Calls')">
                  <div class="col-11 no-padding pt-3">
                    <div class="col-12 no-padding">
                      <p class="col-8 no-padding Display6 float-left">T-Mobile purchases</p>
                      <p class="col-4 Display6 float-right text-right">{{usageDetails['tMobliePurchases-usage']}}</p>
                    </div>
                    <div class="col-12 text-right">
                      <p class="body d-inline-block col-12 no-padding">{{usageDetails['t-mobile-usage']}}</p>
                    </div>
                  </div>
                  <div class="col-1 no-padding pr-0 fa-lg ">
                    <span class="arrow-right d-inline-block float-right"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row padding-top-small-xs padding-top-small-sm padding-top-small">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 p-l-0-xs p-r-0-xs">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>