@import "src/assets/scss/global-variables.scss";

.TMO-SHOP-MODAL-PAGE{
     .tooltip-icon {
         width: 13px;
         height:13px;
    }
    .dialog{
        @media #{$smartphones-xs}, #{$smartphones-sm}{
            overflow-y: scroll;
            max-height: 408px;
        }
        @media #{$desktops-lg},#{$desktops-xl}{
                max-width: 608px;
        }
    }
}