<div class="TMO-SHOP-MODAL-PAGE">
<div class="container">
  <div class="row padding-top-xxl">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
        <p (click)="visible = !visible" class="col-5 col-md-2 no-padding d-inline-block cursor">down + tax <span class="tooltip-icon"></span></p>
    </div>
       <div class="col-12 no-padding inset-divider-1px"></div>
      <div class="col-12 text-center padding-top-large padding-bottom-large">See how to get a free Galaxy tab</div>
  </div>
  <div class="dialog-container">
    <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
      <div class="row no-margin  text-center">
          <span mat-dialog-title class="col-12 no-padding black Display5">Why is there a down payment?</span>
      </div>
      <div class="row no-margin padding-top-medium ">
        <div class="col-12 col-sm-10 offset-sm-1 no-padding body">Purchasing a device on EIP allows the total cost to be paid via interest-free monthly payments. This allows for lower up-front costs for your device.</div>
      </div>
        <div class="row no-margin padding-top-small body">
            <div class="col-12 col-sm-10 offset-sm-1 no-padding">The down payment method for EIP means a lower monthly payment for your device. It's based on:</div>
            <div class="col-12 col-sm-10 offset-sm-1 no-padding">
                <ul class="ml-0 mb-0 padding-horizontal-small pr-0">
                    <li class="padding-horizontal-xsmall pr-0">Your credit</li>
                    <li class="padding-horizontal-xsmall pr-0">Memory upgrade to the device (if applicable)</li>
                </ul>
            </div>
        </div>
        <div class="row no-margin padding-top-small ">
            <div class="col-12 col-sm-10 offset-sm-1 no-padding body">The monthly installment option is subject to credit approval and not everyone qualifies. Also, if you cancel wireless service, the remaining balance on the device becomes due.</div>
      </div>
      <div class="row no-margin padding-top-large">
        <div class="col-12  text-center no-padding">
          
                <button class="PrimaryCTA-accent pull-right" appButtonripple (click)="close()">Got it</button>
       
        </div>
      </div>
    </div>
  </div>
  <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
</div>
</div>