<div class="TMO-AUC-CHANGE-PERMS-TERMS-AND-COND">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 Display4 padding-top-large padding-bottom-small text-center padding-top-medium-xs padding-bottom-large-xs">
          Change permissions Ts & Cs
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 padding-bottom-large padding-bottom-small-xs H6-heading text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 body">
         <div class="padding-bottom-large padding-bottom-medium-xs">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</div>

         <div class="padding-bottom-large padding-bottom-medium-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>

         <div class="padding-bottom-large padding-bottom-medium-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>

         <div class="padding-bottom-large padding-bottom-medium-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum bus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit </div>

         <div class="padding-bottom-large padding-bottom-medium-xs">Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo.</div>

         <div class="padding-bottom-large padding-bottom-medium-xs">Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 body d-flex align-items-stretch align-self-baseline">
          <div class="checkbox inline">
            <label>
              <input class="legal" name="termsConditions" type="checkbox" (change)= "onChangeCheckBox($event)">
              <div class="legal indicator">
                <span class="legal check1"></span>
              </div>
            </label>
          </div>
          <div class="pl-2">
              I agree to maecenas sed diam eget.
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 text-center padding-bottom-xxl padding-top-large">
        <div class="col-12 col-md-8 offset-md-2 text-center no-padding">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
            <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple [disabled] = "!checkedOrNot">Save</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
            <button class="SecondaryCTA  full-btn-width float-md-right float-lg-right float-xl-right blackCTA" appButtonripple>Cancel</button>
          </div>  
        </div>
      </div>
    </div>
  
  </div>
</div>
