
<div class="TMO-EDIT-PAYMENT-METHOD-DISABLE-PAGE">
    <div class="container">
        
      <div class="main-content">
          <app-header></app-header>
      <div class="row padding-top-large-xs padding-top-large-sm padding-top-xl">
        <div class="col-12  text-center Display3">Edit payment method</div>
      </div>
      <div class="row padding-top-xsmall-xs padding-top-xsmall-sm padding-top-medium" *ngIf="!paymentMethodEnable">
        <div class="col-md-10 offset-md-1 col-8 offset-2 text-center body">We can't accept payments from this account. Please use another payment method.</div>
      </div>
      <div class="row" [ngClass]= "paymentMethodEnable ? '':'disable-div'">
        <div class="col-12 col-md-10 offset-md-1 padding-top-small-xs padding-top-small-sm padding-top-xl">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div *ngFor="let card of paymentMethodsReusable;let i=index;">
        <div *ngIf="card.cardStatus!=''" [ngClass]= "paymentMethodEnable ? '':'disable-div'">
          <radiobuttonpaymentblade [cardStatus]="card.cardStatus" [card]="card.cardNumber" [icon]="card.iconClass" [radioButtonId]="i" [radioButtonName]="'radiobutton'" [selected]=1 [disableClass]="disableClass" [disableState]=true ></radiobuttonpaymentblade>
        </div>
        <div class="row" *ngIf="card.cardStatus==''" [ngClass]= "paymentMethodEnable ? '':'disable-div'">
          <div class="col-12 col-md-10 offset-md-1">
            <paymentblade [title]="card.add" [titleClass]="'Display6'" [card]="cardNumber" [icon]="iconClass" [topDividerClass]="''" [disableClass]="disableClass"></paymentblade> 
          </div>
        </div>
      </div>
      </div>
      <div class="row no-padding  padding-vertical-xl ">
          <div class="col-12 col-md-8  offset-md-2 text-center  ">
            <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
              <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple [disabled]=!paymentMethodEnable>Continue</button>
            </div>
            <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
              <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Back</button>
            </div>
          </div>
        </div>
    </div>
  </div>