<!--The content below is only a placeholder and can be replaced.-->
<div aria-live="polite" aria-atomic="true">
    <app-download></app-download>
    <div class="" [ngClass]="{'contentv2':showLoaderV2, 'content':!showLoaderV2 }">
        <app-spinner [showLoader]="showLoader" [noOverlay]="noOverlay"></app-spinner>
        <app-spinner-v2 [showLoaderV2]="showLoaderV2" [noOverlayV2]="noOverlayV2"></app-spinner-v2>
        <!--<div class="container">
         <app-header></app-header>
        </div>-->
        <app-global-header></app-global-header>
        <app-breadcrumb></app-breadcrumb>
        <router-outlet></router-outlet>
    </div>
    <app-global-footer></app-global-footer>
</div>

