@import "src/assets/scss/global-variables.scss";
.TMO-BILLING-ADDRESS
{
   .dropdown-toggle{
       border-bottom: solid 1px grey;
   }
   /**:focus{
       outline: none;
   }*/
   @media #{$alldeviceexceptsmartphone}{
    .lineheight
    {
        line-height: 1.9rem;
    }
   }
   .lineheight
   {
       line-height: 2.2rem;
    }
   li:first-child:hover {
    color: $gray60;
    background-color: $white;
        a {
          cursor: default;
        }
    }
}