<div class="TMO-TEMPORARY-SUSPENSION">
  <div class="container">
    <div class="row padding-top-xl padding-top-medium-sm padding-top-medium-xs">
      <div  class="col-12 col-md-11 col-lg-8 ts-Display4 ts-gray85">
        <p tabindex="0" aria-label="Thank you. This line will be suspended from July 26 through August 12">Thank you. This line will be suspended from July 26 through August 12.
        </p>
      </div>
    </div>
    <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-small">
      <div class="col-12 col-md-10 col-lg-7">
        <ul class="padding-horizontal-small pr-0 no-margin" role="none">
          <li class="ts-body-copy " role="none">
            <p tabindex="0" aria-label=" You’ll be billed $10/mo. for the suspended line instead of your
              regular $XXX/mo. charge. Device payments are billed as usual">
            You’ll be billed <b>$10/mo.</b> for the suspended line instead of your
            regular $XXX/mo. charge. Device payments are billed as usual.</p>
          </li>
          <li class="ts-body-copy padding-top-medium-xs padding-top-medium-sm padding-top-medium" role="none">
          <p tabindex="0" aria-label="You can always visit My T-Mobile or the T-Mobile app to restore
          service">You can always visit My T-Mobile or the T-Mobile app to restore
              service.</p>
              
            </li>
        </ul>
      </div>
    </div>
    <div class="row padding-top-medium">
      <div class="col-12 col-md-6">
        <span class=" ts-body-copy-bold  ts-brand-magenta cursor ts-letter-spacing" tabindex="0" aria-label="Read the FAQ">Read the FAQ </span><span class="arrow-right-magenta d-inline-block active ts-margin-bottom-3"></span>
      </div>
    </div>
    <div class="row padding-top-xl padding-bottom-xl">
      <div class="col-12 col-md-6 col-lg-4">
        <button class="PrimaryCTA ts-full-btn-width ts-body-copy-bold ts-return-btn ts-white ts-letter-spacing" appButtonripple aria-label="Return to home" tabindex="0">Return to Home </button>
      </div>
    </div>
  </div>
  </div>
