.TMO-GLOBAL-DROPDOWN-COMPONENT {


    $smartphones-xxs: "only screen  and (max-width: 374px)";
    $smartphones-xs: "only screen  and (max-width: 575px)";
    $smartphones-sm: "only screen and (min-width: 576px) and (max-width: 767px)";
    $tablets-md: "only screen and (min-width: 768px) and (max-width: 991px)";
    $desktops-lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
    $desktops-xl: "only screen and (min-width: 1200px)";
    $alldeviceexceptsmartphone: "only screen and (min-width: 768px)";
    
    $small-tablets: "only screen and (min-width: 768px) and (max-width: 800px)";
  
    $arial: Arial;
    $absolute:absolute;
    $bold: bold;
    $normal: normal;
    $pointer:pointer;
    $hidden:hidden;
    $none:none;
    $block:block;
    $auto:auto;
    $right:right;
    $brand-magenta:#E20074;
    $gray10:#F2F2F2;
    $gray20:#E8E8E8;
    $gray30:#CCCCCC;
    $gray40:#9B9B9B;
    $gray60:#6A6A6A;
    $gray70:#4C4C4C;
    $default: default;
    $black: #000000;
    $white: #FFFFFF;
    $zero: 0;
    $base: 4px;
    $xs: 8px;
    $s: 16px;
    $m: 24px;
    $l: 32px;
    $xl: 40px;
    $xxl: 48px;
    $xxxl: 56px;
    $gray80: #333333;
    $gray85: #262626;
  
    @mixin gh-txt-styles(
      $font-family: $arial,
      $font-size: 5px,
      $font-weight: $normal,
      $letter-spacing: 5px,
      $line-height: 5px
    ) {
      font-family: $font-family;
      font-size: $font-size;
      font-weight: $font-weight;
      letter-spacing: $letter-spacing;
      line-height: $line-height;
    }

   .gd-drpdwn-fontfam{font-family:$arial}
    @media #{$smartphones-xs}, #{$smartphones-sm} {
      .gd-body-copy {
        @include gh-txt-styles($arial, 14px, $normal, $zero, 20px);
      }
    }
  
    @media #{$smartphones-xxs} {
      .gd-body-copy {
        @include gh-txt-styles($arial, 12px, $normal, $zero, 20px);
      }
    }
  
    @media #{$alldeviceexceptsmartphone} {
      .gd-body-copy {
        @include gh-txt-styles($arial, $s, $normal, 0.5px, $m);
      }
  
     
    }
  
    /* global styles starts */
  
    .gd-float-right {
      float: right;
    }
  
    .gd-cursor {
      cursor: $pointer;
    }
    // .gd-margin-16 {
    //   margin: 16px;
    // }
    /* global styles ends */
  

    // dropdown  icon starts
    @mixin icons($background) {
      background: $background no-repeat;
    }
  
    @mixin icon-height-width($height, $width) {
      height: $height;
      width: $width;
    }
    .gd-arrow-down {
      @include icons(url("../../../../assets/img/dropdown/Arrow_up_gray.svg"));
       @include icon-height-width(20px, 20px);
      // @extend .width-height-20;
      transform: rotate(180deg);
    }
  // dropdown  icon ends

.gd-dropdown-toggle {
  border-bottom: solid 1px $gray60; 
  cursor: $pointer; 
  height: 25px; 
  margin-left: 1px; 
  padding-bottom: 0px; 
  width: 99%; 
  color:#9B9B9B;
  
  .gd-arrow-down, .gd-arrow-down-disable {
    height:13px; 
    width:13px; 
    margin-right: 3.5px; 
    margin-top: 3.5px; 
  }

  &::after {
    border-top: $none; 
    border-right: $none; 
    border-left: $none; 
  }

  &:focus {
    outline: $none; 
  }
}

.gd-dropdown-menu {
  background-color: #fff;
  background-clip: padding-box;
  display: $block; 
  float: left;
  font-size: 1rem;
  left: 0;
  list-style: none;
  max-height: $zero; 
  overflow: $auto; 
  opacity: $zero; 
  overflow: $auto; 
  padding: $zero; 
  transition: max-height .2s, opacity .2s .2s, visibility 0s .3s; 
  -webkit-transition: max-height .2s, opacity .2s .2s, visibility 0s .3s; 
  -moz-transition: max-height .2s, opacity .2s .2s, visibility 0s .3s; 
  -ms-transition: max-height .2s, opacity .2s .2s, visibility 0s .3s; 
  -o-transition: max-height .2s, opacity .2s .2s, visibility 0s .3s; 
  visibility: $hidden; 
  width: 100%; 
  position: absolute; 
  // min-width: 10rem; 
  margin: 0.125rem 0 0; 
  text-align: left; 
  z-index: 1000; 

  li.gd-dropdown-option:hover > a {
    color: $brand-magenta; 

    &:hover {
      color: $brand-magenta; 

      &.gd-dropdown-option-active-a {
        color: $gray60; 
      }
    }
  }

  li.gd-dropdown-option:active > a {
    color: $white; 

    &:hover {
      color: $white; 
    }
  }
  .gd-dropdown-option-active
  {
   background-color: $brand-magenta;
  }
  
  .gd-dropdown-option-active-a
  {
   color: #ffff;
  }

li.gd-dropdown-option > a {
    font-weight: $normal; 
    line-height: 2.5rem; 
    padding: 9px 10px; 
    color: #212529;

    &:hover {
      color: $brand-magenta; 
    }
    &:focus {
      color: $brand-magenta; 
    }

    &.gd-dropdown-option-active-a {
      color: $brand-magenta; 
    }
  }

  .active:hover > a {
    color: $gray60; 
  }

  .active:active > a {
      color: $white; 
  }

  &::-webkit-scrollbar {
    height: 30px; 
    width: 5px; 
  }

  &::-webkit-scrollbar-thumb:vertical {
    background-color: $gray40; 
  }
  li.gd-dropdown-option.gd-dropdown-hover.active{
    color: $gray60; 
    a {
      color: $brand-magenta !important; 
     }
  }
    li.gd-dropdown-option.gd-dropdown-hover {
    a {
     color: $brand-magenta !important; 
    }
    
  }
}

.gd-dropdown-menu.show {
  box-shadow: $zero 6px 12px rgba($zero, $zero, $zero, .175); 
  -webkit-box-shadow: $zero 6px 12px rgba($zero, $zero, $zero, .175); 
  border-radius: $base; 
  border: 1px solid $gray30; 
  border: 1px solid rgba($zero, $zero, $zero, .15); 
  max-height: 178px; 
  opacity: 1; 
  overflow:auto; 
  transition: max-height .5s, opacity .2s, visibility 0s; 
  -webkit-transition: max-height .5s, opacity .2s, visibility 0s; 
  -moz-transition: max-height .5s, opacity .2s, visibility 0s; 
  -ms-transition: max-height .5s, opacity .2s, visibility 0s; 
  -o-transition: max-height .5s, opacity .2s, visibility 0s; 
  visibility: visible; 
}

.gd-dropdown-toggle-height {
  height: $auto; 
}

.gd-dropdown-option {
  &:hover {
    background-color: $gray10; 
    color: $gray60; 

    &.gd-dropdown-option-active {
      color: $brand-magenta; 
      background: $gray10; 
    }     
  }   
  &:active {
    background-color: $brand-magenta; 
    color: $white; 
  }
}

.gd-dropdown-option:active > a {
  color: $white; 
}

.gd-dropdown-hover
{
  background-color: $gray10; 
  color: $brand-magenta; 
}

.gd-dropdown {
  position: relative; 

  &:focus {
      // outline:none; 
      
    .dropdown-toggle {
      outline: 1px dotted #212121; 
      outline: -webkit-focus-ring-color $auto 5px; 
  
      &.outline-none
      {
        outline: $none !important; 
      }
    }
  }
}

.disabled {
  color: $gray60; 
  cursor: $default; 
  opacity: 0.8; 
  pointer-events: $none; 
}

.gd-dropdown-menu {

   .active > a {
      color:$gray60 !important;
   }
  
   .active:hover > a {
      color:$brand-magenta !important;
   }

   .active:active > a {
    color:$white !important;
   }
}











      }
