<div class="TMO-EXTRA-DEVICE-PAYMENT-VARIANTS">
    <div class="bg-gray10" [ngStyle]="{'min-height': bgHeight()}">
        <div class="container padding-bottom-xxl">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 Display5 padding-top-xl padding-bottom-xsmall brand-magenta">
                    Customers have ONE installment plan
                </div>
                <div class="col-12 col-md-10 offset-md-1 padding-bottom-xl-sm padding-bottom-xl-xs padding-bottom-xl-md">
                    <div class=" bg-white">
                        <div class="row">
                            <p class="col-12 col-md-5 mb-0 padding-top-xsmall p-b-4">
                                <span class="pull-left Display6 pull-left">{{name}}</span>
                            </p>
                        </div>
                        <!--mobile view-->
                        <div class="row  black " *ngFor="let val of paymentValues;let i = index">
                            <div class="col-12 col-md-12 col-lg-6 p-b-4" *ngIf="i==0">
                                <span x-ms-format-detection="none" class="pull-left legal black p-t-8 m-t-4-xs">{{val.descTitle}}</span>
                                <br>
                                <span class="pull-right-xs body black m-t-27-xs  ">{{val.value}}</span>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6 offset-lg-6 p-b-4 m-t-48" *ngIf="i==1">
                                <span class="pull-left body black">{{val.descTitle}}</span>
                                <span class="pull-right body black">{{val.value}}</span>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6 offset-lg-6 padding-bottom-xsmall m-t-78" *ngIf="i==2">
                                <span class="pull-left body black">{{val.descTitle}}</span>
                                <span class="pull-right body black">${{val.value}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 Display5 padding-top-xl padding-bottom-xsmall brand-magenta padding-top-xxxl-sm padding-top-xxxl-xs padding-top-xxxl-md">
                Customers have 1+ installment plans
                </div>
                <div class="col-12 col-md-10 offset-md-1">
                        <div class=" bg-white d-flex align-items-center">
                    <div class="col-11 col-md-11 pull-left w-98 pl-0"> 
                            <div class="row">
                                    <p class="col-12 col-md-5 mb-0 padding-top-xsmall p-b-4">
                                        <span class="pull-left Display6 pull-left">{{name}}</span>
                                    </p>
                                </div>
                                
                                <div class="row  black " *ngFor="let val of paymentValues;let i = index">
                                    <div class="col-12 col-md-12 col-lg-6 p-b-4 pr-0" *ngIf="i==0">
                                        <span x-ms-format-detection="none" class="pull-left legal black p-t-8 m-t-4-xs">{{val.descTitle}}</span>
                                          <br>
                                        <span class="pull-right-xs body black m-t-27-xs  ">{{val.value}}</span>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6 offset-lg-6 p-b-4 m-t-48  pr-0" *ngIf="i==1">
                                        <span class="pull-left body black">{{val.descTitle}}</span>
                                        <span class="pull-right body black" >{{val.value}}</span>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6 offset-lg-6 padding-bottom-xsmall m-t-78 pr-0" *ngIf="i==2">
                                        <span class="pull-left body black">{{val.descTitle}}</span>
                                        <span class="pull-right body black">${{val.value}}</span>
                                    </div>                        
                                </div> 
                        </div>
                        <div class="col-1 col-md-1 pr-0 fa-lg pull-right arrow-margin">
                                <span class="body float-right arrow-right"></span>
                        </div>
                        
                </div>
                </div>
            </div>
        </div>
    </div>
</div>