@import "src/assets/scss/global-variables.scss";
.TMO-EXTRA-DEVICE-PAYMENT-VARIANTS{
    .p-b-4
    {
    padding-bottom: 4px;
    }
    .p-t-8
    {
        padding-top: 8px;
    }
    .mobileview {
        display: none;
      }
      .noinmobileview{
          display: block;
      }

      .arrow-margin {
        margin-left: -1.5%;
      }
    @media #{$smartphones-sm},#{$smartphones-xs},#{$tablets-md}{
        .pull-right-xs{
            float: right;
        } 
        .m-t-27-xs{
            margin-top:-22px;
        }
    }
    @media #{$smartphones-sm},#{$smartphones-xs}
    {
    .main-content{
        min-height: calc(100vh - 100px);
    }  
    .m-t-30-xs{
        margin-top:-30px;
    }
    .m-t-4-xs{
        margin-top:-4px;
    }
    .mobileview {
        display: block;
      }
      .noinmobileview
      {
          display: none;
      }
   
}
    @media #{$desktops-xl},#{$desktops-lg}{
        .m-t-48{
            margin-top:-66px;
        }
        .m-t-78{
            margin-top:-30px;
        }
       
    }
   
   .no-display{
       display: none;
   }
   .w-98{
    width:98%;
}

.w-2{
    width:2%;
}
}