@import "src/assets/scss/global-variables.scss";
.TMO-ODF-CONFIRMATION-BEARMODE {
    .imgsize{
        @media #{$alldeviceexceptsmartphone}{
            width: 608px;
            height: 112px;

        }  
        @media #{$smartphones-xs}, #{$smartphones-sm}{
                width: 343px;
                height: 112px;
            }
        @media #{$smartphones-xxs}{
                width: 290px;
                height: 97px;
                }
    }  
    .display-flex{
        display: flex;
    } 
    .playstore-icon{
        width: 135px;
        height: 40px;
    }
    .Appstore-icon{
        width: 135px;
        height: 40px;
    }
}
