<div class="TMO-CONFIRMATION-PAYMENT">
    
    <div class="container">
        <div class="main-content">
        <app-header></app-header>
        <div class="row">
            <div class="col-12 text-center padding-top-large-xs padding-top-large-sm padding-top-xl legal">
                <span class="check-icon"></span>
            </div>
        </div>
        <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-xl">
            <div class="col-12 Display3 text-center">
                <p class="mb-0">Thanks, {{name}}.</p>
                <p class="mb-0">Your order is complete.</p>
            </div>
        </div>
        <div class="row padding-top-small-xs padding-top-small-sm padding-top-large">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 p-l-0-xs p-r-0-xs">
                <div class="inset-divider-1px"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 body-bold padding-vertical-small" (click)="detailsPayment()">
                <span class="pull-left black Display6" *ngIf=!showDetails>Show details</span>
                <span class="pull-left black Display6 " *ngIf=showDetails>Hide details</span>
                <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!showDetails,'arrow-up arrowup_rotation':showDetails}"></span>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" *ngIf=showDetails>
                <span class="pull-left H6-heading black body">Order details</span>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" [ngClass]="{'p-l-0-xs p-r-0-xs':!showDetails, 'padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small' :showDetails}">
                <div class="inset-divider-1px"></div>
            </div>
        </div>
        <div class="accordion-content" [ngClass]="{'content-open': showDetails}">
            <div class="row body padding-top-small">
                <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" *ngFor="let dataPass of dataPassInfo">
                    <span class="pull-left ">{{dataPass.descTitle}}:</span>
                    <span class="pull-right ">{{dataPass.value}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 padding-top-large">
                    <span class="pull-left H6-heading">Starts immediately</span>
                </div>
                <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
            <div class="row body padding-top-small" *ngFor="let orders of orderDetails">
                <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                    <span class="pull-left Display6 ">{{orders.descTitle}}</span>
                    <span class="pull-right H6-heading ">${{orders.value}}</span>
                </div>
                <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 padding-top-xsmall">
                    <span class="pull-left ">${{orders.value}}/mo.</span>
                    <span class="pull-right legal black">{{orders.tax}}</span>
                </div>
                <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 padding-top-small">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row no-margin d-block text-sm-center" >
            <div class="col-12  d-inline-block padding-top-xxxl-xs padding-top-xl no-padding">
                <button class="PrimaryCTA full-btn-width" appButtonripple >Return home</button>
            </div>
            <div class="col-12 col-md-10 offset-md-1 legal padding-vertical-xl padding-vertical-large-xs text-left no-padding">
                Data pass charges are one-time charges. These charges will be applied immediately on the start of your pass. No refunds will
                be issued after the start of your pass.
            </div>
        </div>
    </div>
</div>