@import "src/assets/scss/global-variables.scss";
.TMO-ACCOUNT-OVERVIEW-PLAN-DETAILS {
    .circle-size {
        width:30px;
        height: 30px;      
    }
    .check-icon {
        width: 10px;
        height: 10px;
        font-size: 10px;
    }
    .padding-bottom-75 {
        padding-bottom: 75px;
    }
}