<div class="TMO-ACCOUNT-OVERVIEW-PLAN-DETAILS">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium-xs padding-vertical-medium-sm padding-vertical-xl">
        <div class="Display3">Plan Details</div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-top-medium">
        <div class="H6-heading">T-Mobile
          <span class="brand-magenta">One</span>
          <sup class="legal brand-magenta">TM</sup>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-content-between">
        <div class="col-10 no-padding">
          <div class="body-bold black padding-top-small padding-bottom-base-xs padding-bottom-base-sm padding-bottom-xsmall">{{discountDetails.title}}:</div>
          <p class="body" *ngFor = "let discountData of discountDetails.data">
            <span class="check-icon mr-2"></span>{{discountData.desc}}</p>
        </div>
        <div class="col-2 no-padding">
          <p class="body-bold black text-right">${{discountDetails.price}}</p>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs  padding-top-medium">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium">
        <div class="Display5">Included in the plan</div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row" *ngFor="let planDetail of planDetails">
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-content-between padding-top-medium cursor">
        <div class="col-10 no-padding d-flex align-items-center">
          <!-- <i class="fa fa-circle circle-size mr-3"></i> -->
           <img src="{{circleImg}}" class="circle-size mr-3" />
        
          <div class="H6-heading d-inline-block pl-1">{{planDetail.planName}}
            <p class="body padding-top-xsmall">{{planDetail.included}}</p>
          </div>
        </div>
        <div class="col-2 no-padding text-right">
          <span class="arrow-right arrow-right-invert d-inline-block"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs padding-top-medium">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 text-center padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl">
        <button appButtonripple class="SecondaryCTA blackCTA full-btn-width">Change plan</button>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium">
        <div class="Display5">Shared Add-ons</div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-content-between padding-vertical-medium cursor">
        <div class="col-7 col-sm-8 no-padding">
          <div class="H6-heading black">Netflix Premium</div>
        </div>
        <div class="col-4 col-sm-3 no-padding text-right">
          <span class="float-right Display6 d-inline-flex align-items-center">
            <span class="body-bold black text-right d-inline-block">$30.00
              <span class="body">/mo.</span>
            </span>
            <span class="arrow-right arrow-right-invert d-inline-block"></span>
          </span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 text-center padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl">
        <button appButtonripple class="SecondaryCTA blackCTA full-btn-width">Manage Add-Ons</button>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium">
        <div class="Display5">Associated Lines</div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row" *ngFor="let associatedDetail of associatedLineDetails;let i = index">
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-content-between padding-top-medium cursor">
        <div class="col-10 no-padding">
          <div class="H6-heading">{{associatedDetail.name}}</div>
          <p class="body padding-top-xsmall">{{associatedDetail.phNo}}</p>
        </div>
        <div class="col-2 no-padding text-right">
          <span class="arrow-right arrow-right-invert d-inline-block"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs padding-top-medium" [ngClass]="{'padding-bottom-75': i==(associatedLineDetails.length-1)}">
        <div class="inset-divider-1px"></div>
      </div>
    </div>

  </div>
</div>