<div class="TMO-SYSTEM-ERROR">
    <div class="container">
        <div class="main-content">
            <app-header></app-header>
            <div class="row">
                <div class="col-12 text-center padding-top-large-xs padding-top-large-sm padding-top-xl legal">
                    <span class="exclamation-circle"></span>
                </div>
            </div>
            <div class="row padding-top-medium">

                <div class="col-12 Display3 text-center">
                    <span>{{Errorname}}</span>
                </div>
                <div class="col-12 body text-center padding-top-medium">
                    <span>{{Errormessage}} </span>
                </div>
            </div>


        </div>
        <div class="row no-margin padding-vertical-xl">
            <div class="col-12 col-md-8 offset-md-2 no-padding text-center">
                <div class="col-12 no-padding-xs col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-md-0">
                    <button class="PrimaryCTA full-btn-width float-md-left" appButtonripple>Message us</button>
                </div>
                <div class="col-12 no-padding-xs col-md-6 float-md-left pl-md-0">
                    <button class="SecondaryCTA blackCTA full-btn-width float-md-right" appButtonripple>Back to payments</button>
                </div>
            </div>
        </div>
    </div>
</div>