<div class="TMO-TERMS-AND-CONDITIONS-MODAL-PAGE">
<div class="container" id="termsAndConditionModalPage">
      <app-header></app-header>
      <div class="row no-margin padding-top-large-xs padding-top-large-sm padding-top-xl">
        <div class="col-12 text-center">
          <span class="Display3">Terms & Conditions</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center padding-top-xsmall-xs padding-top-xsmall-sm padding-top-medium">
          <div class="print-icon "></div>
          <div class="body-link cursor padding-horizontal-xsmall">Print this page</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 padding-top-medium-xs padding-top-medium-sm padding-bottom-small-xs padding-bottom-small-sm padding-vertical-small">
          <p class="legal mb-0 black">Did you activate (or renew) service prior to September 1, 2016? If yes, please click the date for the applicable
            version of the Terms and Conditions:
            <a class=" legal-bold-link black" href="#">March 17, 2016</a>  | <a class="legal-bold-link black" href="#">February 17, 2016</a> | <a class="legal-bold-link black" href="#">January 25, 2016</a> | <a class="legal-bold-link black" href="#">November 14, 2015</a> | <a class="legal-bold-link black" href="#">June12, 2015</a> | 
            <a class=" legal-bold-link black" href="#">March 18, 2015</a> | <a class=" legal-bold-link black" href="#">November 10, 2014</a> | <a class="legal-bold-link black" href="#">March 27, 2014</a> | <a class="legal-bold-link black" href="#">October 20, 2013</a> | <a class="legal-bold-link black" href="#">December 30, 2011</a>  | 
            <a class=" legal-bold-link black" href="#">July 24, 2011</a> | <a class=" legal-bold-link black" href="#">July 18, 2010</a> | <a class="legal-bold-link black" href="#">June 28, 2008</a> | <a class="legal-bold-link black" href="#">December 2004.</a></p>
        </div>
      </div>
   
    <div class="row"  >
        <div class="col-12 col-md-10 offset-md-1 legal black">
        <p class="mb-0 legal-bold black padding-bottom-small">T-Mobile Terms and Conditions</p>  <p class="padding-bottom-small mb-0">Effective as of Septermber 1, 2016</p> <p class="mb-0">Thanks for choosing T-Mobile. Please read these Terms and Conditions(&#34;T&Cs&#34;), which contain important information about your relationship with T-Mobile, including mandatory arbitration of disputes between us, instead of class actions or jury trials. You will become bound by these provisions once you accept these T&Cs</p> 
        <p class="mb-0 legal-bold black padding-vertical-small">Who is this agreement with?</p>  <p class=" mb-0">These T&Cs are an agreement between you and us, T-Mobile USA, Inc., and our controlled subsidiaries, assignees, and agents.</p> 
        <p class="mb-0 legal-bold black padding-vertical-small">How do I accept these T&Cs?</p>  <p class="padding-bottom-small mb-0">You accept these T&Cs by doing any of the following things:</p><ul><li>giving us a written or electronic signature or confirmation, or telling us orally that you accept;</li><li>activating, using or paying for the Service or a Device; or</li><li>opening the Device box.</li></ul><p class="padding-bottom-small mb-0">If you don't want to accept these T&Cs, don't do any of these things.</p><p class="mb-0">When you accept, you're telling us that you are of legal age (which means you are either legally emancipated, or have reached the age of majority as defined in your jurisdiction) and that you are able to enter into a contract. If you accept for anorganization, you're telling us that you are authorized to bind that organization, and references to 'you' in these T&Cs may mean the organization.</p> 
        <p class="mb-0 legal-bold black padding-vertical-small">What is included in these terms and conditions?</p> <p class="padding-bottom-small mb-0">In these T&Cs, you'll find important information about:</p> <ul class="mb-0"><li >T-Mobile services provided to you (&#34;Services&#34;);</li> <li>Any equipment for which we provide Service, such as a phone, handset, tablet, or SIM card (collectively, a &#34;Device&#34;);</li><li>Any charges, taxes, fees, and other amounts we bill you or that were accepted or processed through your Device (&#34;Charges&#34;);</li><li>Privacy information;</li><li>Network management practices;</li><li>Limitations of liability; and</li><li>Resolution of disputes by arbitration and class action waiver (full terms available <a class="black legal-bold" href="#">here</a>).</li></ul>
        <p class="mb-0 legal-bold black padding-vertical-small">Are there any other terms that apply to me?</p>  <p class="padding-bottom-small mb-0">Yes. Your &#34;Agreement&#34; includes these T&Cs, the additional terms found in your Rate Plan, your Data Plan, your Service Agreement, and provisions linked to from these T&Cs. Sections marked &#34;*&#34; continue after termination of our Agreement with you.</p> <p class="padding-bottom-small mb-0">You should also be aware that our Privacy Policy and Open Internet Policy apply to the use of our products and services.</p><p class="mb-0">You might also have other agreements with us, such as an equipment installment plan or JUMP! On Demand Lease Agreement.</p> 
        <p class="mb-0 legal-bold black padding-vertical-small">*How do I reslove disputes with T-Mobile?</p>  <p class="mb-0">By accepting these T&Cs, you are agreeing to resolve any dispute with us through binding arbitration (unless you opt out) or small claims dispute procedures, and to waive your rights to a class action suit and jury trial. Your complete arbitration agreement, including optout instructions, is available here, and the optout website is available here. For additional terms and conditions governing a dispute between us, including how to dispute Charges assessed to you on your bill, choice of law, disclaimers of certain warranties, limitations of liabilities, and your indemnification obligations, click here.</p> 
        <p class="mb-0 legal-bold black padding-vertical-small">What is a rate plan?</p>  <p class="mb-0">Your &#34;Rate Plan&#34; includes your Service allotments, for example, for minutes, messages or data, rates, coverage and other terms. You can check your current usage by visiting my.T-Mobile.com, using the T-Mobile My Account app, or by using a short code from your Device (you can find more information about the short code at www.T-Mobile.com). If any term in your Rate Plan conflicts with these T&Cs, the term in your Rate Plan governs.</p> 
        <p class="mb-0 legal-bold black padding-vertical-small">How will I be charged for data usage?</p>  <p class="mb-0">Data service may be included in your Rate Plan or data pass or you may be charged for data usage on a pay per use basis (&#34;Data Plan&#34;). Your Rate Plan and/or Data Plan will contain more information about how we calculate data usage. You can check your current usage by visiting my.T-Mobile.com, using the T-Mobile My Account app, or by using a short code from your device (you can find more information about the short code at www.t-mobile.com). If you do not have a Data Plan, your Device may not be able to access data services.</p> 
        <p class="mb-0 legal-bold black padding-vertical-small">Are there separate terms for prepaid customers?</p>  <p class="mb-0">The terms of these T&Cs apply to prepaid customers, and additional terms specific to prepaid customers may be found <a class="black legal-bold-link" href="#">here</a>.</p>
    </div>
    </div>
    <div class="row ">
      <div class="col-12   padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl text-center">
            <button class="PrimaryCTA full-btn-width" appButtonripple (click)="gotopreviouspage()">Back</button>
      </div>
    </div>
</div>
</div>