<div class="TMO-ACCOUNT-OVERVIEW-FEATURE-DETAILS">
  <div class="container">
    <div class="row main-content">
      <div class="col-12 offset-md-1 col-md-10 no-padding">
        <div class="Display3 padding-vertical-xl padding-vertical-medium-xs padding-vertical-medium-sm padding-horizontal-small">Feature details</div>
        <div class="col-12 p-r-0-xs p-l-0-xs padding-horizontal-small-md padding-horizontal-small-xl padding-horizontal-small-lg">
          <div class="full-bleed-divider"></div>
        </div>
        <div class="col-12 pt-4 pb-4 padding-vertical-medium-md padding-vertical-medium-lg padding-vertical-medium-xl no-padding padding-horizontal-small">
          <div class="d-flex justify-content-between">
            <p class="Display5">{{benefitsList.planName}}</p>
            <p class="body-bold black">${{benefitsList.planAmt}}/mo.</p>
          </div>
        </div>
        <div class="col-12 p-r-0-xs p-l-0-xs padding-horizontal-small-md padding-horizontal-small-xl padding-horizontal-small-lg">
          <div class="inset-divider-1px"></div>
        </div>
        <div class="col-12 body no-padding padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium padding-horizontal-small">
          {{benefitsList.desc}}
        </div>
        <p class="col-12 no-padding Display6 pb-md-1 pb-xl-1 pb-lg-1 padding-horizontal-small">{{benefitsList.title}}</p>
        <div class="col-12 no-padding padding-horizontal-small">
          <div *ngFor="let val of benefitsList.data" class="pt-3 d-flex align-items-baseline">
            <div class="boxStyle">
              <p class="check-icon"></p>
            </div>
            <p class="body pl-2">{{val}}</p>
          </div>
        </div>
        <div class="col-12 p-r-0-xs p-l-0-xs pt-4 pb-4 padding-vertical-medium-md padding-vertical-medium-lg 
            padding-vertical-medium-xl padding-horizontal-small-md padding-horizontal-small-xl padding-horizontal-small-lg">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
    </div>
    <div class="row no-padding padding-bottom-medium-xs padding-bottom-medium-sm padding-bottom-medium">
      <div class="col-12 col-md-8 offset-md-2 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-xsmall-xs padding-bottom-xsmall-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Deactivate</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA full-btn-width blackCTA  float-md-right float-lg-right float-xl-right" appButtonripple>Back</button>
        </div>
      </div>
    </div>
  </div>
</div>