@import "src/assets/scss/global-variables.scss";
.TMO-ACCOUNT-OVERVIEW-FEATURE-DETAILS {
    .check-icon{
        width:10px;
        height:10px;
    }
    .boxStyle{
         width:10px; 
         height:10px
    }
    @media #{$smartphones-xs}, #{$smartphones-sm}{
        .main-content {
            min-height: calc(100vh - 121px);
        }
    }
}