<div class="TMO-STATUS_CHECK-PAGE">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 text-center padding-bottom-medium">
        <p class="mb-0 Display3 d-md-none padding-top-medium padding-bottom-xsmall">
          <span tabindex="0" role="title" [attr.aria-label]="device.Status">
            {{device.Status}}
          </span>
        </p>
        <p class="mb-0 Display4 d-none d-md-block padding-top-medium padding-bottom-xsmall">
          <span tabindex="0" role="title" [attr.aria-label]="device.Status">
            {{device.Status}}
          </span>
        </p>
        <p class="legal">
          <span tabindex="0" role="content" [attr.aria-label]="device.Name">
            {{device.Name}}
          </span>
        </p>
        <p class="legal">
          <span tabindex="0" role="content" [attr.aria-label]="'IMEI number' + device.IMEI">IMEI:{{device.IMEI}}</span>
        </p>
        <p class="legal" x-ms-format-detection="none">
          <span tabindex="0" role="content" [attr.aria-label]="device.OwnerDetails">
            {{device.OwnerDetails}}
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3 col-lg-2 d-flex mx-auto justify-content-center">
        <div class="phone-image phone-image-position" tabindex="0" role="img" aria-label="iPhone">
          <div class="locked-icon-position"
            [ngClass]="{'unknown-icon':(device.Status==='Status unknown'),'locked-icon':(device.Status==='Device locked'),'unlocked-icon':(device.Status==='Device unlocked') }">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12-xs offset-2 statusmessage text-center padding-top-small-xs padding-top-small-sm padding-top-medium padding-bottom-xsmall-xs padding-bottom-xsmall-sm padding-bottom-small">
        <p class="legal">
          <span tabindex="0" role="note" [attr.aria-label]="device.message">
            {{device.message}}
          </span>
        </p>
      </div>
      <div class="col-12 legal-bold-link text-center">
        <span routerLink="" class="legal-bold-link black cursor" tabindex="0" [attr.aria-label]="device.policy">
          {{device.policy}}
        </span>
      </div>
    </div>
    <div class="row padding-top-medium" *ngIf="device.Status==='Device locked' && device.deviceLockedStage1">
      <div class="col-xs-li statusmessage">
        <div class="border-rectangle padding-vertical-medium padding-horizontal-medium">
          <div class="Display6 font-18 padding-bottom-xsmall">
            <span tabindex="0" aria-label="Device ineligibility">Device ineligibility</span></div>
          <ul class="mb-0 sf-body black p-l-16" role="list">
            <li tabindex="0" role="listitem" aria-label="Lorem ipsum dolor sit amet, consectetur">Lorem ipsum dolor sit amet, consectetur</li>
            <li tabindex="0" role="listitem" aria-label="Sed do eiusmod tempor incididunt" class="p-t-4">Sed do eiusmod tempor incididunt</li>
            <li tabindex="0" role="listitem" aria-label="Ut enim ad minim veniam, quis nostrud" class="p-t-4">Ut enim ad minim veniam, quis nostrud</li>
          </ul>
          <div class="Display6 font-18 padding-bottom-xsmall padding-top-small">
              <span tabindex="0" aria-label="Steps to unlock device">Steps to unlock device</span></div>
          <ol class="mb-0 sf-body black p-l-16" role="list">
            <li tabindex="0" role="listitem" aria-label="Lorem ipsum dolor sit amet, consectetur">Lorem ipsum dolor sit amet, consectetur</li>
            <li tabindex="0" role="listitem" aria-label="Sed do eiusmod tempor incididunt" class="p-t-4">Sed do eiusmod tempor incididunt</li>
            <li tabindex="0" role="listitem" aria-label="Ut enim ad minim veniam, quis nostrud" class="p-t-4">Ut enim ad minim veniam, quis nostrud</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row  padding-vertical-xxxl "
      [ngClass]="{'padding-vertical-large':device.Status==='Device locked' && device.deviceLockedStage1}">
      <div class="col-12 padding-bottom-small text-center">
        <button class="PrimaryCTA full-btn-width" appButtonripple tabindex="0" role="button"
          attr.aria-label="{{device.btnMessage1}}" (click)="message1Click()">{{device.btnMessage1}}</button>
      </div>
      <div class="col-12 text-center">
        <button class="TeritiaryCTA " appButtonripple tabindex="0" role="button"
          attr.aria-label="{{device.btnMessage2}}" (click)="message2Click()">
          {{device.btnMessage2}}</button>
      </div>
    </div>
  </div>
</div>
