@import "src/assets/scss/global-variables.scss";
.TMO-STATUS_CHECK-PAGE {
  @mixin txt-styles($font-family, $font-size, $line-height, $letter-spacing, $font-weight: $normal) {
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-family;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
  }

  .locked-icon-position {
    position: absolute;
    left: 85px;
    top: -12px;
  }

  .phone-image {
    background: url("src/assets/img/phone-image-deviceunlock.png") no-repeat;
    width: 121px;
    height: 232px;
  }

  .phone-image-position {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .full-btn-width {
    width: 100%;
    max-width: 100%;
  }
  .TeritiaryCTA {
    @media #{$desktops-lg} {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .border-rectangle {
    border: solid 1px #efefef;
  }
  @media #{$smartphones-xs},#{$smartphones-sm} {
    .col-12-xs {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 66.66666667%;
      max-width: 100%;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .col-xs-li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .sf-body {
      @include txt-styles($SFProText-Regular, 14px, 20px, 0px, $normal);
    }
  }
  @media #{$smartphones-xxs} {
    .sf-body {
      @include txt-styles($SFProText-Regular, 12px, 20px, 0px, $normal);
    }
  }
  @media #{$alldeviceexceptsmartphone} {
    .font-18 {
        font-size: 18px;
        line-height: 18px;
    }
    .sf-body {
      @include txt-styles($SFProText-Regular, 14px, 20px, 0.7px, $normal);
    }
    .statusmessage {
      width: 369px;
      margin: auto;
    }
    .full-btn-width {
      width: 288px;
      max-width: 100%;
    }
  }
  .header-row {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .p-t-4 {
    padding-top: 4px;
  }
}
