@import "src/assets/scss/global-variables.scss";
.TMO-LANDING-PAGE {
    @media #{$alldeviceexceptsmartphone} {
        .p-r-20-md {
            padding-right: 20px;
        }
        .font-10-sm {
            font-size: 10px;
        }
    }
    @media #{$smartphones-xs},#{$smartphones-sm} {
        .body-10 {
            font-size: 10px;
        }
        .font-6-xs {
            font-size: 6px;
        }
        .font-10-sm{
            font-size:6px;
        }
        
    }
    .text-dark-pink {
        color: #e60071;
    }
    
}