<div class="TMO-LANDING-PAGE">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-xl padding-vertical-medium-xs padding-horizontal-small Display3">
        Account
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs">
        <div class="full-bleed-divider"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-inline-flex align-items-center padding-small-xs padding-vertical-medium cursor">
        <div class="no-padding w-100 p-r-20-md">
          <div class="H6-heading">
            Monthly total
            <span class="body black float-right">
              <span class="font-weight-bold">$306.00</span>/mo.</span>
          </div>
          <div class="padding-top-xsmall padding-top-base-xs padding-top-base-sm body body-10">
            Plans, equipment, services
            <span class="float-right">Plus taxes and fees</span>
          </div>
        </div>
        <div class="pr-0">
          <i class="arrow-right d-inline-block"></i>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs">
        <div class="full-bleed-divider"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium Display5">
        Plans
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs">
        <div class=" inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium d-inline-flex align-items-center cursor">
        <div class="no-padding H6-heading w-100 p-r-20-md">
          T-Mobile
          <span class="text-dark-pink">One</span>
          <sup class="text-dark-pink font-6-xs font-10-sm">TM</sup>
          <span class="body black float-right">
            <span class="font-weight-bold">$160.00</span>/mo.</span>
        </div>
        <div class="pr-0">
          <i class="arrow-right d-inline-block"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs">
        <div class="full-bleed-divider"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium ">
        <p class="Display5">Lines and devices</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <app-device-user-info-blade [deviceDetails]="deviceDetails"></app-device-user-info-blade>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 text-center padding-vertical-medium-xs padding-vertical-xl">
        <button class="SecondaryCTA blackCTA full-btn-width btn-wd" appButtonripple>Add a new line</button>
      </div>
    </div>
  </div>
</div>