<div class="TMO-GRID">
<div class="container">
    <app-header></app-header>
    <div class="row">
        <div class="col-md-12  padding-top-small">
            <div class="body ">Your current plan:</div>
            <div class="padding-top-small  cursorAccordion" (click)="clickToggle()">
                <span class="Display6">T-Mobile ONE</span>
                <i class="pull-right float-xs-right " [ngClass]="{'arrow-up': !isCollapsed, 'arrow-down': isCollapsed}"></i>
            </div>
            <div>
                <span class="body-bold black">$160.00 / 4 Lines</span>
            </div>
        </div>
    </div>
    <div class="row padding-top-small">
        <div class="col-12">
            <div class="full-bleed-divider">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="padding-top-medium">
                <span class="body">You are currently on our best Talk and Text plan. To customize your Plan, you may still
                    <a href="#" class="body-bold-link brand-magenta">Add Services</a>
                </span>
            </div>
        </div>
    </div>
</div>
</div>