@import "src/assets/scss/global-variables.scss";
.TMO-CONFIRM-INFO {
  @media #{$smartphones-xs},#{$smartphones-sm} {
    .main-content-singlerow{
        min-height: calc(100vh - 200px);
    }
}
@media #{$alldeviceexceptsmartphone}{
    .txtcenter
    {
        text-align: center;
    }
  }
}