<div class="TMO-CONFIRM-INFO">
  <div class="container">
    <div class="main-content-singlerow">
      <div class="row padding-top-large padding-top-medium-xs padding-top-medium-sm">
        <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
          <p class="Display3 text-center">Military verification</p>
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-bottom-xsmall padding-bottom-xsmall-xs padding-bottom-xsmall-sm">
          <p class="H5-heading text-center">Confirm information</p>
        </div>
        <div class="col-12 col-md-8 offset-md-2 padding-bottom-small">
          <p class="body text-center">Please confirm the information below is accurate. If it is accurate, you’ll continue to the next step and submit
            documentation to verify current military status. </p>
        </div>
      </div>
      <div class="row txtcenter">
        <div class="col-12 col-md-10 offset-md-1 align-items-center outline  no-padding pull-left">
          <div class="col-12 pull-left padding-bottom-large-xs padding-bottom-large-sm padding-bottom-xl">
            <p class="Display6">[Name of military member]</p>
            <p class="body padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">{{data.firstName}} {{data.lastName}}</p>
          </div>
          <div class="col-12 pull-left padding-bottom-large-xs padding-bottom-large-sm padding-bottom-xl">
            <p class="Display6">[Current duty status]</p>
            <p class="body padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">{{data.dutyStatus}}</p>
          </div>
          <div class="col-12 pull-left padding-bottom-large-xs padding-bottom-large-sm padding-bottom-xl">
            <p class="Display6">Branch of service</p>
            <p class="body padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">{{data.branch}}</p>
          </div>
          <div class="col-12 pull-left">
            <p class="Display6">Date of birth</p>
            <p class="body padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">{{data.dobmonth}} {{data.dobday}}, {{data.dobyear}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-padding padding-top-xl padding-top-large-xs padding-top-large-sm padding-bottom-large">
      <div class="col-12 col-md-10 offset-md-1 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-xsmall-xs padding-bottom-xsmall-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple (click)="confirm()">Yes, it's correct</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple (click)="gotopreviouspage()">No, go back and edit</button>
        </div>
      </div>
    </div>
  </div>
</div>