<div class="TMO-PA-OTP-BANK-MODAL">
  <div class="container">
    <div class="row padding-top-xxl padding-bottom-xxl">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
        <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">PA OTP Modal</button>
      </div>
    </div>
    <div class="dialog-container">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
        <div class="row no-margin text-center">
          <span class="col-12 no-padding black Display5">Wait!</span>
        </div>
        <div class="row no-margin padding-top-small-xs padding-top-small-sm padding-top-medium text-center">
          <div class="col-12 no-padding body">Your scheduled payment of <span class="font-weight-bold">$210.00 </span>using your <span class="font-weight-bold">Visa ****1234</span>            is currently being processed for your Payment Arrangement and cannot be cancelled.</div>
        </div>
        <div class="mx-md-0 padding-top-large-xs padding-top-small-sm padding-top-medium text-right">
          <div class="col-12 no-padding padding-left-xsmall pl-0">
            <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="close()">Continue</button>
            <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()">See PA details</button>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
  </div>
</div>