<div class="TMO-PAYMENT-BLADE-PAGE">
  <div class="row padding-vertical-medium padding-vertical-small-xs align-items-center" [ngClass]="{'cursor': url, 'disableBlade':disableBlade}">
    <div class="col-2 col-md-1 offset-md-1 h-28">
      <span class={{iconImage}} [ngClass]="{'no-icon':iconImage==''}" [tabindex]="iconImage==''?-1:0" [attr.aria-label]="titleText + 'image'"></span>
    </div>
    <div class="" [ngClass]="{'col-6':!url, 'col-5 col-md-6 p-r-0-md': url}">
      <p class="Display6 d-flex">
        <span [ngClass]="{'gray60': bladedisabled}" [tabindex]="titleText?0:-1" [attr.aria-label]="titleText" *ngIf="titleText">{{titleText}} </span>
        <span class="body-bold d-none d-md-block align-to-bottom" [tabindex]="expiryDate?0:-1" [attr.aria-label]="expiryDate" [ngClass]="{'color-e8200d':descWarning,'margin-horizontal-medium':titleText}" *ngIf="expiryDate">{{expiryDate}}</span>
      </p>
      <p class="padding-top-xsmall legal-bold d-block d-md-none align-to-bottom" *ngIf="expiryDate" [tabindex]="expiryDate?0:-1" [attr.aria-label]="expiryDate" [ngClass]="{'color-e8200d':descWarning}">{{expiryDate}}</p>
      <p class="padding-top-xsmall body-bold d-none d-md-block" [ngClass]="{'color-e8200d':action=='Remove'}" *ngIf="secondLineDesc">
        <span [tabindex]="secondLineDesc?0:-1" 
        [attr.aria-label]="secondLineDesc">
          {{secondLineDesc}}</span>
      </p>
    </div>

    <div class="text-right margin-left-4 pl-0" [ngClass]="{'col-4 col-md-2':!url || url,'col-md-3' :action=='Remove'}">
      <p class="Display6 gray60" *ngIf="cardNumber">
        <span [tabindex]="cardNumber?0:-1" [attr.aria-label]="'Card number is' + cardNumber ">{{cardNumber}}</span>
      </p>
      <p class="padding-top-xsmall cursor" *ngIf="action">
        <span class="body-link " [tabindex]="action?0:-1" role="link" [attr.aria-label]="'click on' + action + ' for ' + action +' details'"
        id={{action}}{{index}} (click)="deleteModalOpen(action, index)" (keydown.enter)="deleteModalOpen(action,index)">{{action}}</span>
      </p>
    </div>
    <div class="col-1 col-md-1" *ngIf="url">
        <span class="arrow-right d-inline-block pull-right" [tabindex]="url?0:-1" aria-label="click to add or view details" routerLink={{url}} routerLinkActive="active"></span>
      </div>

    <div class="col-8 offset-2 d-md-none d-block" *ngIf="secondLineDesc">
      <p class=" legal-bold padding-top-xsmall" [ngClass]="{'color-e8200d':action=='Remove'}" [tabindex]="secondLineDesc?0:-1" [attr.aria-label]="secondLineDesc">{{secondLineDesc}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="inset-divider-1px"></div>
    </div>
  </div>
</div>