@import "src/assets/scss/global-variables.scss";
.TMO-PAYMENT-BLADE-PAGE{
    .no-icon {
        width: 45px;
        height: 27px;
        display: inline-block;
    }
    @media #{$smartphones-xs},#{$smartphones-sm} {
        .pading-blade-top-xxs {
            padding-top: 4px;
        }
    }
    @media #{$alldeviceexceptsmartphone}{
       .d-flex-md {
         display: flex;
       }
     .align-to-bottom {
        margin-top: 7px;
        line-height: 16px;
    }
    }
    .disableBlade {
        opacity: 0.5;
        cursor: not-allowed;
    }
    .h-28 {
        height: 28px;
    }
    .color-e8200d {
        color: #e8200d;
    }
    .margin-horizontal-medium {
        margin-left: $M;
        margin-right: $M;
    }
    @media #{$smartphones-xs}, #{$smartphones-sm} {
        .margin-left-4 {
            margin-left: -4px;
        }
    }
}