<div class="TMO-STYLEGUIDE-SPINNER-PAGE">
    <div class="container">
        <app-header></app-header>
        <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 padding-top-xxl text-center">
            <button class="SecondaryCTA" appButtonripple (click)="showsSpinner()">Show Spinner</button>
        </div>
        <div class="col-12 no-padding padding-bottom-large">
            <a (click)="showClr2Code = !showClr2Code" class="legal-link"> {{showClr2Code ? '- Hide Code' : '+ Show Code'}}</a>
            <div *ngIf="showClr2Code">
                <div class="padding-top-small">
                    <code class=" language-markup border brand-magenta d-block">
                            &lt;app-spinner [showLoader]="showspinner" [noOverlay]="noOverlay">&lt;/app-spinner>  
                    </code>

                </div>
            </div>
        </div>

    </div>

</div>