@import "src/assets/scss/global-variables.scss";
.TMO-EPP-CONFIRMATION{
    @media #{$smartphones-xs},#{$smartphones-sm} {
        .main-content{
            min-height: calc(100vh - 97px);
        }
    }
    .cursor:hover {
        color:$brand-magenta;
    }
    
    @media #{$tablets-md}{
        .txt-ellipsis{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
    }
}