<div class="TMO-EPP-CONFIRMATION">
  <div class="container">
    <!-- Add main content class as required for Button bottom alignment -->
    <div class="row">
      <div class="col-12 padding-top-xl main-content no-padding">
        <div class="padding-top-xl text-center padding-horizontal-large">
          <i class="validated_outline_magenta-72px d-inline-block"></i>
        </div>
        <p class="H3-heading padding-top-medium text-center padding-horizontal-large">{{details.title}}!</p>
        <p class="col-md-10 offset-md-1 body padding-top-small black text-center padding-horizontal-large">
          Your Visa ending in {{details.cardNo}} was charged ${{details.amount}} on {{details.month}} {{details.date}}, {{details.year}}
        </p>
        <p class="legal padding-top-xsmall text-center padding-horizontal-large">
          Allow up to two hours for this payment to post on your account.
        </p>
        <div class="body-link cursor text-center padding-top-medium padding-horizontal-large black">
          <a *ngIf="showDetails" (click)="clickFun()">Show details</a>
          <a *ngIf="!showDetails" (click)="clickFun()">Hide details</a>
        </div>
        <div class="col-md-8 offset-md-2 text-center padding-top-medium" *ngIf="!showDetails">
          <p class="body">Reference number:  {{details.referenceNumb}}</p>
          <p class="body">Authorization code:  {{details.authorizationCode}}</p>
          <p class="body">Zip code:  {{details.zipCode}}</p>
          <p class="body">Transaction type: {{details.transType}}</p>
          <p class="body">T-Mobile account number: {{details.tmoAcctNum}}</p>
          <p class="body">New balance: {{details.newBal}}</p>
          <p class="body">Payments remaining: {{details.paymentRemain}}</p>
          <p class="body">EIP Plan ID number: {{details.eipPlanIDNnum}}</p>
          <p class="body">IMEI: {{details.IMEI}}</p>
        </div>
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-top-medium padding-horizontal-small">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="col-md-4 offset-md-4 padding-top-large padding-bottom-large padding-bottom-small-xs padding-bottom-small-sm">
        <button appButtonripple class="PrimaryCTA full-btn-width w-100 txt-ellipsis">Back to installment plans</button>
      </div>
    </div>
  </div>
</div> 