<div class="TMO-PA-CONFIRM-PAGE">
    <div class="container">
        <div class="main-content">
            <app-header></app-header>
            <div class="">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 text-center padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl legal">
                        <span class="check-icon"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 Display3 text-center">
                        <p class="mb-0">Your Payment Arrangement has been scheduled</p>
                    </div>
                    <div class="col-12 col-md-10 offset-md-1 text-center">
                        <p class="mb-0 padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm body">Payments will be processed according to the schedule below. Any new bill must be paid by its due
                            date.</p>
                        <p class="mb-0 padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm legal">A receipt has been emailed to yourname@email.com Installment dates and amounts cannot be deleted
                            or changed</p>
                    </div>
                </div>

                <div class="row no-margin padding-top-small">
                    <div class="col-12 col-md-10 offset-md-1 no-padding">
                        <div class="inset-divider-1px"></div>
                    </div>
                </div>

                <div class="col-12 col-md-10 offset-md-1 no-padding" *ngFor="let paymentInfo of paymentInfo">
                    <app-payment-schedule-blade [arrowClass]='arrowClass' [topDivider]="topDivider" [topDividerClass]="'inset-divider-1px'"
                         [paymentInfo]="paymentInfo['paymentData']"></app-payment-schedule-blade>
            </div>

            <div class="row no-margin padding-top-large">
                <div class="col-12  col-md-10 offset-md-1 no-padding">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
            <div class="row no-margin">
                <div class="col-12 col-md-10 offset-md-1 body-bold padding-vertical-small no-padding pr-3" (click)="detailsPayment()">
                    <span class="pull-left black Display6" *ngIf="!showDetails">Show details</span>
                    <span class="pull-left black Display6" *ngIf="showDetails">Hide details</span>
                    <span class="pull-right cursor arrow-down" [ngClass]="{'arrow-down arrowdown_rotation':!showDetails, 'arrow-up arrowup_rotation':showDetails}"></span>
                </div>
            </div>
            <div class="accordion-content" [ngClass]="{'content-open':showDetails}">
                <div class="row body padding-top-medium">
                    <div class="col-12 col-md-10 offset-md-1" *ngFor="let dataPass of dataPassInfo">
                        <span class="pull-left ">{{dataPass.descTitle}}:</span>
                        <span class="pull-right ">{{dataPass.value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
        <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="col-12 col-md-7 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
                <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple (click)="gotopreviouspage()">Return home</button>
            </div>
        </div>
    </div>
</div>
</div>