<div class="TMO-REPLACE-CARD">
  <div class="container">
    <div class="row padding-top-xxl padding-bottom-xxl">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
        <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Card information</button>
      </div>
    </div>
    <div class="dialog-container">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
        <div class="row">
          <div class="col-8 offset-2 col-md-10 offset-md-1 text-center ">
            <div class="Display5 padding-bottom-medium padding-top-xsmall">Wait!</div>
            <div class="text-center black  body-bold padding-bottom-medium">Are you sure?</div>
            <span class=" Display6 d-inline-flex align-items-center">
              <span class="sprite visa-icon pull-left"></span>
              <span class="p-l-10 black">****1234</span>
            </span>
          </div>
        </div>
        <div class="row padding-top-medium  mx-0">
          <div class="col-9 offset-2 col-md-12 offset-md-0 p-l-0-xs p-l-0-sm text-center body no-padding">This card will replace your current Visa card on file.
          </div>
        </div>
        
        <div class="row mx-0 padding-top-medium text-center ">
          <div class="col-12 no-padding padding-horizontal-xsmall-md">
            <button class="PrimaryCTA-accent pull-right ml-2" appButtonripple (click)="close()">Continue</button>
            <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()">Cancel</button>
          </div>
        </div>
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
  </div>
</div>
