@import "src/assets/scss/global-variables.scss";
.TMO-REPLACE-CARD{
 .dialog{
        @media #{$tablets-md},
               #{$desktops-lg},
               #{$desktops-xl}{
                max-width: 450px;
        }
    }
    .p-l-10
    {
        padding-left: 10px;
    }
}