<div class="TMO-ERROR-1">
  <div class=" container">
    <div class = "main-content">
      <app-header></app-header>
    
    <div class="row padding-top-large-xs padding-top-large-sm padding-top-xl">
      <div class="col-12 text-center">
        <span class="Display3">Pay your bill</span>
      </div>
    </div>
    <div class="row  padding-top-xsmall-xs padding-top-xsmall-sm padding-top-medium">
      <p class="col-12 text-center body-bold black mb-0">{{paymentdue}} due on {{duedate}}</p>
    </div>
    <div class="row">
      <p class="col-12 text-center body mb-0 padding-bottom-small-xs padding-bottom-small-sm padding-bottom-xl  padding-top-xsmall">
        Last Payment {{paymentamount}} on {{Paymentdate}}</p>
    </div>
    <div class="row" *ngFor="let val of paybillvalues">
      <div class="col-12 col-md-10 offset-md-1" *ngIf="val.descTitle != 'Payment method'">
        <paymentblade [title]="val.descTitle" [titleClass]="'Display6'" [card]="val.value" [bottomDivider]="val.bottomDivider"></paymentblade>
      </div>
      <div class="col-12 col-md-10 offset-md-1" *ngIf="val.descTitle === 'Payment method'">
        <paymentblade [title]="val.descTitle" [titleClass]="'Display6'" [card]="val.value" [icon]="iconClass" [bottomDivider]="val.bottomDivider"></paymentblade>
      </div>
    </div>
    
    <div class="row  padding-top-small-xs padding-top-small-sm padding-top-medium">
      <p class="col-12 col-md-10 offset-md-1  pull-left body  mb-0 padding-bottom-xsmall-xs padding-bottom-xsmall-sm padding-bottom-small">Make a
        <span class="body-link cursor">payment arrangement</span> (pay in installments)</p>
      <p class="col-12 col-md-10 offset-md-1 legal">Make a payment arrangement online and it’s free. Payments made over the phone may incur a $8 Payment Support Fee.</p>
    </div>
    <div class="row">
      
      <div class="col-12 col-md-10 offset-md-1  pull-left body  mb-0 d-flex padding-top-medium" *ngFor="let errormessage of errormessages;let i = index" >
        <div class="d-inline d-table left-icons-padding" [ngClass]="{'exclamation-circle': i === 0, 'warning-icon': i === 1, 'tooltip-icon': i ===2 }"></div>
        <div >{{errormessage.message}}</div>
      </div>
    </div>
    <div class="row  padding-top-xl padding-top-large-sm padding-top-large-xs">
      <p class="col-12 text-center legal black mb-0">By submitting, you agree to <span class="legal-link cursor" routerLink="/termsAndCondition" routerLinkActive="active">Terms and Conditions</span></p>
    </div>
    </div>
    <div class="row no-padding  padding-top-large-xs padding-top-large-sm padding-vertical-xl padding-bottom-large-xs padding-bottom-large-sm">
      <div class="col-12 col-md-8  offset-md-2 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Agree and submit</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
        </div>
      </div>

    </div>
  </div>
</div>