//Importing  global variables
@import "src/assets/scss/global-variables.scss";

.TMO-ERROR-1{
    .tooltip-icon{
        filter:invert(0.5);
    }

    .left-icons-padding {
            padding-left:25px;
        
    }
}