<div class="TMO-EPP-SELECT-INSTALLMENT-PLAN">
  <div class=" container">
    <div class="main-content">
      <div class="row padding-top-large-xs padding-top-xl padding-bottom-medium ">
        <div class="col-12 text-center">
          <span class="Display3">Select installment plan</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1  no-padding-xs">
          <div class="full-bleed-divider"></div>
        </div>
      </div>
      <div class="row  black " *ngFor="let val of paymentValues;let i = index">
        <div  class="offset-md-1 col-md-10 radio-display">
          <div class=" mb-0 padding-top-small p-b-4 ">
            <div class="body radio-container mt-1">
              <input class="check pr-1" id="radio{{val.name}}" [value]='val.name' type="radio" name="radios"  [checked]="i==0">            
              <label class="labelClass mb-0" for="radio{{val.name}}"></label>
              <div class="check"></div>
            </div>
          </div>
          <div class="radio-padding">
            <div class="col-12   mb-0 p-t-20 p-b-4">
              <span class="pull-left Display6 ">{{val.name}}</span>
            </div>
            <div class="col-12   p-b-4">
              <span class="pull-left legal black p-t-8 m-t-4-xs" x-ms-format-detection="none">{{val.descTitle}}</span>
              <span class="pull-right body black  ">{{val.value}}</span>
            </div>
            <div class="col-12   p-b-4 ">
              <span class="pull-left body black">{{val.eipID}}</span>
              <span class="pull-right body black">{{val.eipvalue}}</span>
            </div>
            <div class="col-12   padding-bottom-xsmall ">
              <span class="pull-left body black">{{val.deviceBalance}}</span>
              <span class="pull-right body black">${{val.deviceBalancevalue}}</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      </div>
      <div class="row no-padding  padding-top-medium-xs padding-top-medium-sm padding-vertical-xl padding-bottom-large-xs padding-bottom-large-sm">
        <div class="col-12 col-md-8  offset-md-2 text-center  ">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
            <button tabindex="4" class="PrimaryCTA w-100 full-btn-width float-md-left float-lg-left float-xl-left"
              appButtonripple>Select</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
            <button tabindex="3" class="SecondaryCTA blackCTA w-100 full-btn-width float-md-right float-lg-right float-xl-right"
              appButtonripple (click)="visible = !visible">Cancel</button>
          </div>
        </div>
      </div>
    </div>
