@import "src/assets/scss/global-variables.scss";
.TMO-EPP-SELECT-INSTALLMENT-PLAN{
    .p-b-4
    {
    padding-bottom: 4px;
    }
    .p-t-8
    {
        padding-top: 8px;
    }
    .mobileview {
        display: none;
      }
      .noinmobileview{
          display: block;
      }
  
    @media #{$smartphones-sm},#{$smartphones-xs}
    {
    .main-content{
        min-height: calc(100vh - 170px);
    }
    .pull-right-xs{
        float: right;
    }    
    .m-t-30-xs{
        margin-top:-30px;
    }
    .m-t-4-xs{
        margin-top:-4px;
    }
    .mobileview {
        display: block;
      }
      .noinmobileview
      {
          display: none;
      }
     
    }
    @media #{$desktops-xl},#{$desktops-lg}{
        .m-t-48{
            margin-top:-66px;
        }
        .m-t-78{
            margin-top:-30px;
        }
    }
    .p-t-20 
    {
        padding-top:20px;
    }
    .radio-padding
    {
    display: flex;
    flex-wrap: wrap;    
    width: 98%;
    }
  
    .box1 {
        width: 20px;
        background-color: $gray40;
        color: $white;
        border-radius: 2px;
    }
    @media #{$smartphones-xxs}{
        .p-l-4-xxs{
            padding-left: 4px;
        }
    }
    .radio-container {
      width: 20px;
      height: 20px;
    }
    .p-l-36
    {
        padding-left: 36px;
    }    

    .no-padding-right-xs{
    @media #{$smartphones-xxs}{
        padding-right: 0px;
    }
}
.radio-container label {
    padding: 0px 0px 0px 36px;
}
.radio-container
{
    vertical-align: middle;
}
.pr-0{
padding-right: 0px !important; 
}

.radio-display{
display: flex;
padding-right: 0px;
}

}
