<div class="TMO-CONFIRMATION-ORDER">
    <div class="container">
        <div class="main-content">
            <app-header></app-header>
            <div class="row">
                <div class="col-12 text-center padding-top-large legal">
                    <p class="hidden">Thanks icon</p>
                    <img class="img-height" src="./assets/img/SVGs/Icons/Check.svg" 
                    tabindex="0" aria-label="thanks" alt="thanks">
                </div>
            </div>
            <div class="row padding-top-medium">
                <div class="col-12 Display3 text-center" tabindex="0" role="title" aria-label="Thanks! Your order is complete.">
                    <p class="mb-0">Thanks!</p>
                    <p class="mb-0">Your order is complete.</p>
                </div>
                <div class="col-12 padding-top-small padding-top-xsmall-xs padding-top-small-sm text-center" 
                     tabindex="0" aria-label="You pass begins immediately A receipt will be emailed to: name@email.com">
                    <p class="body">
                        You pass begins immediately </p>
                    <p class="body"> A receipt will be emailed to: name@email.com </p>
                </div>
            </div>

            <div class="col-md-10  offset-md-1 no-padding">
                <div class="row body padding-top-medium padding-top-small-xs padding-top-small-sm">
                    <div class="col-12" *ngFor="let detail of oderdetails" tabindex="0" [attr.aria-label]="detail.descTitle + detail.value">
                        <span class="pull-left ">{{detail.descTitle}}:</span>
                        <span class="pull-right ">{{detail.value}}</span>
                    </div>
                </div>
                <div class="row body padding-top-large padding-top-medium-xs padding-top-medium-sm">
                    <div class="col-12" tabindex="0" aria-label="International data pass $ 5.00">
                        <span class="pull-left Display6 ">International data pass</span>
                        <span class="pull-right H6-heading body gray60 ">$5.00</span>
                    </div>
                    <div class="col-12 padding-top-small">
                        <div class="inset-divider-1px"></div>
                    </div>
                </div>
                <div class="row body">
                    <div class="col-12 padding-vertical-small" tabindex="0" aria-label="Taxes and fees $ 1.00">
                        <span class="pull-left Display6 ">Taxes & fees</span>
                        <span class="pull-right H6-heading body gray60">$1.00</span>
                    </div>
                    <div class="col-12">
                        <div class="total-divider"></div>
                    </div>
                </div>

                <div class="row body padding-vertical-small">
                    <div class="col-12" tabindex="0" aria-label="total $ 6.00">
                        <span class="pull-left Display4 ">Total</span>
                        <span class="pull-right H6-heading ">$6.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-margin d-block text-sm-center">
            <div class="col-12  d-inline-block padding-top-medium-xs padding-top-xxl-sm padding-bottom-xxl
                 padding-bottom-small-xs padding-bottom-small-sm no-padding">
                <button class="PrimaryCTA full-btn-width" appButtonripple role="button" tabindex="0" aria-label="Return home">Return home</button>
            </div>
        </div>
    </div>
</div>