@import "src/assets/scss/global-variables.scss";
.TMO-CONFIRMATION-ORDER {
    .img-height {
        width: 120px;
        height: 120px;
      }
      .hidden {
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
     } 
      @media #{$smartphones-xs},#{$smartphones-sm} {
        .main-content {
          min-height: calc(100vh - 97px);
        }
        .img-height {
          width: 72px;
          height: 72px;
        }
      }
      .padding-r-6{
padding-right:6px;
      }
}