<div class="TMO-AUC-MESSAGES">
  <div class="container padding-bottom-xxl">
    <div class="main-content">
      <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-large">
        <div class="col-12 col-md-10 offset-md-1">
          <p class="Display3 text-center">Permissions</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 text-center padding-top-xl-xs padding-top-xl-sm padding-top-xl legal">
          <span class="" [ngClass]="{'exclamation-error-40px zoom-warning': !permConfirm, 'validated-outline-green zoom-validate':permConfirm}"></span>
        </div>
      </div>
      <div class="row padding-top-xl-xs padding-top-xl-sm padding-top-medium">
        <div class="col-12 col-md-8 offset-md-2">
          <p class="Display4 text-center" >{{headerMessage}}</p>
        
        </div>
      </div>
      <div class="row padding-top-small-xs padding-top-small-sm padding-top-medium">
        <div class="col-12 col-md-8 offset-md-2">
          <p class="body text-center">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas
            eget quam.</p>
        </div>
      </div>
    </div>
      <div class="row no-padding  padding-top-large" *ngIf="!permConfirm">
        <div class="col-12 col-md-8 offset-md-2 text-center  ">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
            <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Try again</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
            <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
          </div>
        </div>
      </div>
  </div>
</div>