@import "src/assets/scss/global-variables.scss";
.TMO-AUC-MESSAGES{
    .zoom-warning {
        zoom: 2.18;
        display: inline-block
    }
    .zoom-validate {
        zoom: 4.2;
        display: inline-block
    }
}