<div class="TMO-PAYMENT-HISTORY-PAGE">
  <div class="container d-md-block d-none">
    
    <div class="row padding-top-xl">
      <div class="col-3">
        <span class="tmo-logo"></span>
      </div>
      <div class="col-9 d-flex">
        <div class="col-4 offset-5 pl-0">
          <p class="legal">Account 1234567891</p>
        </div>
        <div class="col-3 text-right pr-0">
          <p class="legal" *ngIf="next && dataLength <= 26">Page 1 of 1</p>
          <p class="legal" *ngIf="next && dataLength > 26">Page 1 of 2</p>
          <p class="legal" *ngIf="!next && dataLength > 26">Page 2 of 2</p>
        </div>
      </div>
    </div>
    <div class="row padding-top-xsmall" *ngIf="next">
      <div class="col-3">
        <p class="legal">Business name</p>
        <p class="legal">Name Lastname</p>
        <p class="legal">Address line 1</p>
        <p class="legal">Address line 2</p>
        <p class="legal">City, State Zip Code</p>
      </div>
      <div class="col-9">
        <p class="Display6">Hi First name/business name, </p>
        <p class="body padding-bottom-base padding-top-base">Here is your requested list of payment records.</p>
      </div>
    </div>
    <div class="row padding-top-xsmall">
      <div class="col-3" *ngIf="next">
        <p class="Display6 padding-bottom-xsmall">Total paid</p>
        <div>
          <p class="Display6">
            <sup>$</sup>
            <span class="Display5">1885</span>
            <span class="Display6">
              <sup>.44</sup>
            </span>
          </p>
        </div>

        <p class="legal padding-top-xsmall">From MMM DD, YYYY</p>
        <p class="legal">to MMM DD, YYYY</p>
      </div>
      <div class="col-9" [ngClass]="{'offset-3':!next}">
        <div class="col-12 no-padding">
          <div class="d-flex">
            <div class="col-5 no-padding padding-bottom-base">
              <p class="legal black">Payment method</p>
            </div>
            <div class="col-5 pl-0">
              <p class="legal black">Payment date</p>
            </div>
            <div class="col-2 pr-0 text-right">
              <p class="legal black">Amount</p>
            </div>
          </div>
        </div>
        <div class="col-12 no-padding" *ngFor="let data of tempData|slice:sliceStart:sliceEnd;let i=index;let last = last">
          <div class="inset-divider-1px"></div>
          <div class="d-flex padding-bottom-base padding-top-base">
            <div class="col-5 no-padding">
              <p class="legal">{{data.PaymentMethod}}</p>
            </div>
            <div class="col-5 pl-0">
              <p class="legal">{{data.PaymentDate}}</p>
            </div>
            <div class="col-2 pr-0 text-right">
              <p class="legal">{{data.Amount}}</p>
            </div>
          </div>
          <div class="total-divider black" *ngIf="(i === tempData.length - 1 && tempData.length <= 26) ||(last && !next && tempData.length > 26)"></div>
          <div class="col-12 no-padding d-flex padding-top-base padding-bottom-small" *ngIf="(i === tempData.length - 1 && tempData.length <= 26) ||(last && !next && tempData.length > 26)">
            <div class="col-6 no-padding text-left">
              <p class="legal-bold black">Total</p>
            </div>
            <div class="col-6 no-padding text-right">
              <p class="legal-bold black">$1885.44</p>
            </div>
          </div>
          <div class="inset-divider-1px" *ngIf="last && tempData.length > 26 && next"></div>
          <div class="col-12 no-padding text-right padding-bottom-small" *ngIf="last &&  tempData.length > 26 && next">
            <p class="legal cursor" (click)="nextTable()">Continues…</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-md-none text-align-middle">
    <p class="red Display3 py-5 text-center">This page cannot be displayed in mobile resolution</p>
  </div>
</div>