<div class="TM0-PLAN-COMPARISON-DETAIL-PAGE">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center Display4 padding-top-medium-xs padding-top-medium-sm padding-top-xl" aria-label="Free Video Streaming" tabindex="0">
          Free Video Streaming
      </div>
      <div class="col-12 col-md-8  offset-md-2 padding-top-small padding-top-medium-xs padding-top-medium-sm body padding-bottom-xl"
      aria-label="With Binge On, streaming optimized video won't count against your data limit or speed threshold. Stream as much video as you want from approved services like YouTube, Netflix, Amazon Video, and dozens more" tabindex="0">
          With Binge On, streaming optimized video won't count against your data limit or speed threshold. Stream as much video as you want from approved services like YouTube, Netflix, Amazon Video, and dozens more.
      </div>
        <div class="col-12 col-md-8 offset-md-2 padding-bottom-xl">
          <p class="disclaimer-lineheight">
                <span class="legal" tabindex="0"  aria-label="During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds.">
                  During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds. </span> <span class="legal-link cursor" routerlink="/"  tabindex="0"  role="link" aria-label="See full terms" >See full terms</span>
                </p>
        </div>
    </div>
  </div>
</div>