<div class="TMO-STYLEGUIDE-PAGINATION">
  <div class="container">
    <div class="row no-margin">
      <div class="col-12 ">
        <div class="Display4  text-center padding-vertical-xl">Pagination</div>
      </div>
    </div>
    <div class="row">
      <span class="col-12 H6-heading padding-top-large">Pagination with Normal,Hover & Focus Behavior</span>
    </div>
    <div class="row">
      <div *ngFor="let item of pagedItemsChild" class="col-12">
        <div class="padding-top-large">
          {{item.name}}
        </div>
      </div>
    </div>
    <paginationblade [currentPage]="currentpage" [noofrecordsPerpage]="noofrecordsperpage" [noofPagelink]="5" (moveFirstpage)="moveFirstpage()"
      (moveLastpage)="moveLastPage()" (moveCurrentPage)="moveCurrentPage($event)" [totalRecords]="totalrecords">
    </paginationblade>
    <div class="col-12 no-padding">
        <a (click)="showClr1Code = !showClr1Code" class="legal-link"> {{showClr1Code ? '- Hide Code' : '+ Show Code'}}</a>
        <div *ngIf="showClr1Code">
          <div class="padding-top-small">
                <code class=" language-markup border brand-magenta d-block">
                        &lt;paginationblade [currentPage]="currentpage" [noofrecordsPerpage]="noofrecordsperpage" [noofPagelink]="5" (moveFirstpage)="moveFirstpage()"
        (moveLastpage)="moveLastPage()" (moveCurrentPage)="moveCurrentPage($event)" [totalRecords]="totalrecords">
        &lt;/paginationblade>  
                </code>
            
          </div>
        </div>
  </div>
  </div>
  
</div>