<div class="TMO-PROFILE-MULTIPLEDEVICES-NEW">
  <div class="container">
    <div class="row padding-vertical-xl padding-top-xxxl-xs padding-top-xxxl-sm">
      <div class="col-12">
        <p class="Display3 text-center">Multiple Devices</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
        <p class="legal pb-1">{{subTitle}}</p>
        <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
          <div id="model" class="dropdown-toggle" >
            <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
            <span class="arrow-down pull-right mt-1"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="model">
            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
              (click)="select(state.name)">
              <a> {{state.name}} </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="col-12 no-padding py-3 py-md-4" tabindex="0">
          <p class="Display6">Display
            <sup>&reg;</sup>
          </p>
          <p class="body pt-2 pt-md-3">Allows you to use DIGITS&reg; voice and messaging services on multiple devices.</p>
          <p class="pt-2 cursor body-link pt-md-3">
            <a>Manage Settings</a>
          </p>
        </div>
        <div class="col-12 no-padding">
          <div class="inset-divider-1px"></div>
        </div>
        <div class="col-12 d-flex no-padding  py-3 py-md-4" tabindex=0>
          <div class="col-10 no-padding">
            <p class="Display6">Device Status</p>
            <p class="body pt-2 pt-md-3">0 devices are using your DIGITS&reg; number in addition to your primary phone.</p>
            <p class="col-12 no-padding pt-2 pt-md-3 body d-inline-block" *ngIf="!showMore">It may take up to 2 hours for changes to take effect. It is recommended to restart any device using DIGITS&reg;
              after changing this setting.</p>
            <p class="pt-2 cursor body-link pt-md-3" *ngIf="showMore" (click)="showMore=!showMore">Show More</p>
            <p class="pt-2 cursor body-link pt-md-3" *ngIf="!showMore" (click)="showMore=!showMore">Show Less</p>
          </div>
          <div class="col-2 no-padding fa-lg">
            <span class="d-inline-block float-right">
              <label class="switch mt-1">
                <input type="checkbox" checked>
                <span class="slider round"> </span>
              </label>
            </span>
          </div>
        </div>
        <div class="col-12 no-padding">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
    </div>
  </div>
</div>