@import "src/assets/scss/global-variables.scss";
.TM0-MVP-CONFIRM-DETAILS-PAGE { 
    .legal-background{
        background-color: $gray10;
    }
    .padding-horizontal-15 {
        padding-right: 15px;
        padding-left: 15px;
    }
    @media #{$alldeviceexceptsmartphone}{
        .padding-bottom-110-md {
            padding-bottom: 110px;
        }
    }
    @media #{$alldeviceexceptsmartphone}{
        .btn-wd {
            width:288px;
        }
    }
    
}
