<div class="TMO-STATUS-UPLOAD">
  <div class="container">
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-10 offset-1">
        <p class="Display3 text-center">Military verification</p>
      </div>
      <div class="col-10 offset-1 padding-top-small padding-bottom-large">
        <p class="body text-center">Select the link below to verify your current military status.</p>
      </div>
    </div>
    <div class="row padding-bottom-xl">
      <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center justify-space-between cursor" (click)="redirtmessagedetials()"
        routerLinkActive="active">
        <div class="col-10 no-padding pull-left pb-3 pb-md-4">
          <p class="Display6">{{headermessge}}</p>
          <p class="body pt-2 pt-md-3 col-12 no-padding">{{headerdescription}}</p>
        </div>
        <div class="col-1 no-padding pr-0 fa-lg  pb-3 pb-md-4 float-right">
          <img *ngIf="status === 'upload'" class="checkCircle float-right" src="./assets/img/clock@2x.png">
          <span *ngIf="status === 'DocNotAccepted'"  class="exclamation-error-20px d-inline-block float-right"></span>
          <span *ngIf="status === 'InfoPrevious'"  class="exclamation-error-20px d-inline-block float-right"></span>
          <span *ngIf="status === 'TooManyFailed'"  class="warning-red-regular d-inline-block float-right"></span>
          <span *ngIf="status === 'verified'"  class="validated-outline-green d-inline-block float-right"></span>
        </div>
        
        <div class="col-1 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 pb-3 pb-md-4">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
  </div>
</div>