<div class="TMO-FAMILY-CONTROL-ALLOWANCE-COMPONENT">
    <div class="container">
      <div class="row">
        <div class="col-12 padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
          <p class="Display3 text-center padding-top-xl padding-top-large-xs padding-top-large-sm">Family Allowances</p>
          <div class="col-10 offset-1 col-md-8 offset-md-2 p5">
            <p class="body padding-top-medium-xs padding-top-medium-sm padding-top-large">Set allowances on minutes,messages,and downloads.</p>
          <span class="body-bold brand-magenta cursor">Manage</span>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-10 offset-1 col-md-8 offset-md-2 padding-top-medium padding-top-small-xs padding-top-small-sm">
            <p class="Display6">Parent line</p>
            <p class="body padding-top-small">This is the person authorized to create and modify allowances.</p>
          </div>
          <div class="col-10 offset-1 col-md-5 offset-md-2 padding-top-medium padding-bottom-medium">
            <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
            [dropdownId]="dropdownId"></app-dropdown-selector>
          </div>
          
      </div>
    </div>
</div>
