@import "src/assets/scss/global-variables.scss";
.TMO-DUPLICATE-PAYMENT{
    @media #{$smartphones-xs}, #{$smartphones-sm}{
    .main-content {
        min-height: calc(100vh - 161px);
    }
}
    .warning-error{
        width:31px;
    }
}
