<div class="TMO-DUPLICATE-PAYMENT">
 
    <div class="container">
      <!-- Add main content class as required for Button bottom alignment -->
      <div class="main-content">
        <div class="row">
          <div class="col-md-10 offset-md-1  Display3 text-center padding-top-large padding-bottom-small">
            <span tabindex="0" aria-label="Duplicate payment">Duplicate payment</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center padding-bottom-medium">
            <div class="warning-error d-inline-block" tabindex="0" aria-label="Duplicate payment icon"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 no-padding-xs">
              <div class="full-bleed-divider"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 body black padding-top-small">
            <span tabindex="0" aria-label="To protect you from being overcharged, we prevent payments of the same amount within 24 hours. To proceed with this payment please modify the amount.">To protect you from being overcharged, we prevent payments of the same amount within 24 hours. To proceed with this payment please modify the amount.</span>
          </div>
        </div>
      </div>
      <div class="row no-padding  padding-top-large padding-bottom-large">
        <div class="col-12 col-md-8  offset-md-2 text-center  ">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
            <button tabindex="0" role="button" class="PrimaryCTA full-btn-width w-100 float-md-left float-lg-left float-xl-left" appButtonripple tabindex="0" aria-label="Click to Edit payment amount">Edit payment amount</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
            <button tabindex="0" role="button" class="SecondaryCTA blackCTA w-100 full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple tabindex="0" aria-label="Click to go Back">Back</button>
          </div>
        </div>
      </div>
    </div>

</div>   
