@import "src/assets/scss/global-variables.scss";
.TMO-NOTIFICATION-COMPONENT {
    /*.right-icon {
        margin-top: 16px;
        margin-bottom: 16px;
    }*/
    .left-icon {
        width: 24px !important;
        height: 24px !important;
    }
    .bg-color-red {
        background-color: $red;
    }
    .bg-color-yellow {
        background-color: $yellow;
    }
    .bg-color-black {
        background-color: $black;
    }
}
.stickyTop {
    position: sticky;
    top: 0;
    z-index: 99;
  }



  @media #{$smartphones-xs}, #{$smartphones-sm} {
    
    .stickyTop .right-icon {
        padding-right: 24px;
    }

    .stickyTop .clear-icon {
        padding-right: 26px;
    }

    .alert-padding-right {
        padding-right: 5px;
    }
    
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .p-r-24 {
         padding-right: 24px;
    }
    .stickyTop {
        position: fixed;
        top: 0;
        padding-right: 30px;
    } 
   
}
@media #{$smartphones-xs} {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .stickyTop {
    position: sticky;
    }
}
}