<div #sticky class="TMO-NOTIFICATION-COMPONENT container no-padding" [ngClass]="{'stickyTop':stickTop}">
  <div class="row alert-in" [ngClass]="{'alert-out':!showNotification}">
    <div class="col-12 bg-color-black p-0 cursor d-inline-flex" (click)="resolveAlert()" (keydown.enter)="resolveAlert()">
      <div class="col-10 col-md-11 p-0">
        <span class="d-flex">
          <div class="bg-color-red d-flex align-items-center" [ngClass]="alertType == 'Warning' ? 'bg-color-yellow': 'bg-color-red'">
            <div class="m-2 m-md-3 left-icon p-r-24" [ngClass]="alertIcon" tabindex="0" [attr.aria-label]=" (alertIcon === 'error_filled_white') ? 'Critical alert icon' : 'Warning alert icon'"></div>
          </div>
          <div class="col-11 no-padding my-2 my-md-3 ml-3" [ngClass]="{'alert-padding-right':stickTop}">
            <span class="Display6 d-block d-md-inline-block white" tabindex="0" [attr.aria-label]="alertDesc + ':'"> {{alertDesc}}: </span>
            <span class="d-md-none body white" ><span tabindex="0" [attr.aria-label]="alertSubDescMobile !== isEmpty? alertSubDescMobile : alertSubDesc"> {{alertSubDescMobile !== isEmpty? alertSubDescMobile : alertSubDesc}} </span></span>
            <span class="d-none d-md-block body white"> <span tabindex="0" [attr.aria-label]="alertSubDesc"> {{alertSubDesc}} </span></span>
          </div>
        </span>
      </div>
      <div class="col-2 col-md-1 p-0 d-flex align-items-center justify-content-end">
        <div class="pull-right">
          <div class="mx-2 mx-md-3 right-icon" [ngClass]="alertNavIcon" tabindex="0" [attr.aria-label]="alertNavIcon==='clear-icon' ? 'Click here to close the notification' : (alertNavIcon === 'arrow-right-white'||alertNavIcon === 'arrow-right-yellow' ? 'Click here for more info': alertNavIcon)"></div>
        </div>
      </div>
    </div>
  </div>
</div>