@import "src/assets/scss/global-variables.scss";
.TMO-PROBLEM-IDENTIFIER {
  .img-height {
    width: 142px;
    height: 120px;
  }
  @media #{$smartphones-xs},#{$smartphones-sm} {
    /*.main-content {
      min-height: calc(100vh - 97px);
    }*/
    .img-height {
      width: 130px;
      height: 109px;
    }
  }

  .H3-heading {
    font-family: Tele-Ult;
  }
  .nowrap {
    white-space: nowrap;
  }
  .label-position {
    left: $S;
    margin-bottom: 4px;
  }
  .p-l-30 {
    padding-left: 30px;
  }
  .lineheight {
    line-height: 1.9rem;
  }
  @media #{$alldeviceexceptsmartphone} {
    .lineheight {
      line-height: 0.9rem;
    }
  }
  .p-l-10 {
    padding-left: 10px;
  }

  input[type="text"] {
    &:focus + label,
    &:valid + label {
      color: $gray60;
    }
  }
  input[type="text"]:valid + label{
    color:#e20074;
  }
}
