<div class="TMO-PROBLEM-IDENTIFIER">
  <div class="container">
    <div class="row">
      <form #myForm="ngForm" class="textfield">
        <div class="col-12 padding-top-large  no-padding">
          <div class="text-center padding-horizontal-large">
            <img src="./assets/img/port-in/error-icon.svg" class="img-height" tabindex="0" aria-label="We need a little help">
          </div>
          <div class="padding-top-medium padding-horizontal-small">
            <div class="Display3 text-center" tabindex="0" aria-label="We need a little help">We need a little help.</div>
          </div>
          <div class="col-md-10 offset-md-1" tabindex="0" aria-label="We hit a snag while trying to transfer your number to T-Mobile.Please re-enter the account number from your current wireless account below, and we’ll try again.">
            <div class="body padding-top-medium text-center text-left-sm text-left-xs">
              We hit a snag while trying to transfer your number to
              <span class="nowrap">T-Mobile.</span>
              Please re-enter the account number from your current wireless account below, and we’ll try again.
            </div>
          </div>
          <!-- <div class="col-md-4 offset-md-4 padding-top-medium" tabindex="0">
            <div class="body">
              The account number entered was:
            </div>
            <div class="body-bold padding-top-xsmall black">12345678901234567890</div>
          </div> -->
          <div  *ngIf="inputType.showAccountno" aria-live="assertive">
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 padding-top-small padding-top-medium-xs padding-top-medium-sm">
              <div class="floatingLabel no-padding textfield">
                <input type="text" role="text" aria-label="Re-enter your Account number" id="accountNumber" appClearInput appCustomformat minlength='16' maxlength='16' pattern="[0-9]*" name="accountNumber"
                  class="input body black " [(ngModel)]="inputType.accountNumber" required #accountNumber="ngModel" [ngClass]="{'border-red':accountNumber.invalid && !accountNumber.pristine && !accountNumber.errors?.required}">
                <label aria-hidden="true" for="accountNumber" class="labelpointer" [ngClass]="[(accountNumber.invalid && !accountNumber.pristine && !accountNumber.errors?.required) ? 'legal color-red redClass' : '',
                    (!accountNumber.invalid )   ? 'legal' : '',
                    ( accountNumber.errors?.required ) ? 'body' : '']">Re-enter your Account number</label>
                <div class="input-animation"></div>
              </div>
            </div>
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
              <div class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="accountNumber.errors?.required && accountNumber.touched"  tabindex="0">
                Please enter account number
              </div>
              <div class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="accountNumber.errors?.pattern || accountNumber.errors?.minlength" tabindex="0" aria-label="Please enter valid account number">
                Please enter valid account number
              </div>
              <span class="pull-right " *ngIf="accountNumber.invalid  && !accountNumber.pristine && !accountNumber.errors?.required  || accountNumber.errors?.required && accountNumber.touched">
                <i tabindex="0" aria-label="error icon" class="errormessageimg warning-red-outline-12 pull-right"></i>
              </span>
            </div>
          </div>
          <div *ngIf="inputType.showPincode" aria-live="assertive">
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 padding-top-large">
              <div class="floatingLabel no-padding textfield">
                <input type="text" role="text" autocomplete="off" id="pincode" appClearInput minlength='4' maxlength='4' pattern="[a-zA-Z0-9]*" name="pincode" class="input body black"
                  [(ngModel)]="inputType.pincode" required #pincode="ngModel" [ngClass]="{'border-red':pincode.invalid && !pincode.pristine && !pincode.errors?.required}" aria-label="Re-enter your PIN/Password">
                <label aria-hidden="true" for="pincode" class="labelpointer" [ngClass]="[(pincode.invalid && !pincode.pristine && !pincode.errors?.required) ? 'legal color-red redClass' : '',
                      (!pincode.invalid )   ? 'legal black' : '',
                      ( pincode.errors?.required ) ? 'body' : '']">Re-enter your PIN/Password</label>
                <div class="input-animation"></div>
              </div>
            </div>
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
              <div class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="pincode.errors?.required && pincode.touched" tabindex="0" id="error1">
                Please enter PIN/Password
              </div>
              <div class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="pincode.errors?.pattern || pincode.errors?.minlength" tabindex="0" aria-label="Please enter valid PIN/Password">
                Please enter valid PIN/Password
              </div>
              <span class="pull-right" *ngIf="pincode.invalid  && !pincode.pristine && !pincode.errors?.required  || pincode.errors?.required && pincode.touched">
                <i tabindex="0" aria-label="error icon" class="errormessageimg warning-red-outline-12 pull-right"></i>
              </span>
            </div>
          </div>
          <div  *ngIf="inputType.showZipcode" aria-live="assertive">
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 padding-top-large">
              <div class="floatingLabel no-padding textfield">
                <input type="tel" role="text" id="zipcode" aria-label="Re-enter your ZIP code" appClearInput appCustomformat minlength='5' maxlength='5' pattern="[0-9]*" name="zipcode" class="input body black "
                  [(ngModel)]="inputType.zipcode" required #zipcode="ngModel" [ngClass]="{'border-red':zipcode.invalid && !zipcode.pristine && !zipcode.errors?.required}">
                <label aria-hidden="true" for="zipcode" class="labelpointer" [ngClass]="[(zipcode.invalid && !zipcode.pristine && !zipcode.errors?.required) ? 'legal color-red redClass' : '',
                      (!zipcode.invalid )   ? 'legal' : '',
                      ( zipcode.errors?.required ) ? 'body' : '']">Re-enter your ZIP code</label>
                <div class="input-animation"></div>
              </div>
            </div>
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
              <div class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="zipcode.errors?.required && zipcode.touched" tabindex="0" aria-label="Please enter ZIP code">
                Please enter ZIP code
              </div>
              <div class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="zipcode.errors?.pattern || zipcode.errors?.minlength" tabindex="0" aria-label="Please enter valid ZIP code">
                Please enter valid ZIP code
              </div>
              <span class="pull-right " *ngIf="zipcode.invalid  && !zipcode.pristine && !zipcode.errors?.required  || zipcode.errors?.required && zipcode.touched">
                <i tabindex="0" aria-label="error icon" class="errormessageimg warning-red-outline-12 pull-right"></i>
              </span>
            </div>
          </div>
          <div class="col-md-8 offset-md-4 padding-top-xxl ">
            <div class="body-link text-black cursor" tabindex="0" role="link" aria-label="Help me find this information">Help me find this information</div>
          </div>
        </div>
        <div class="col-md-4 offset-md-4 text-center padding-vertical-xl padding-vertical-medium-sm padding-vertical-medium-xs">
          <button tabindex="0" [attr.aria-label]="!myForm.form.valid ? 'button is disabled till the valid input' : 'Click here to re-sumbit'" appButtonripple class="PrimaryCTA full-btn-width w-100" [disabled]="!myForm.form.valid">Re-submit</button>
      </div>
      </form>
    </div>
  </div>
</div>