<div class="TMO-PROMOTIONS-DETAILS-PAGE">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 ">
        <p class="text-center Display4 padding-vertical-small-xs  padding-vertical-small-sm padding-vertical-medium">Samsung Galaxy S8 BOGO</p>
      </div>
      <div class="col-12">
        <div class="col-12 col-md-10 offset-md-1 text-center body padding-bottom-medium no-padding">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc augue ipsum, feugiat quis elit nullam</div>
      </div>
    </div>
    <div class="col-12  col-md-10 offset-md-1 no-padding">
      <div class="inset-divider-1px"></div>
    </div>
    <div class="col-12 col-md-10 offset-md-1 padding-vertical-small no-padding">
      <div class="body">Enrolled: {{enrolled}}</div>
    </div>
    <div class="col-12  col-md-10 offset-md-1 no-padding">
      <div class="inset-divider-1px"></div>
    </div>
    <div class="col-12  col-md-10 offset-md-1 padding-vertical-small no-padding">
      <p class="body-bold black"> Promotion requirements</p>
    </div>
    <div *ngFor="let promotion of myPromotions;let k=index;">
      <div class="col-12 col-md-10 offset-md-1  d-inline-flex align-items-center padding-bottom-small no-padding">
        <div class="pr-2">
          <i class="padding-horizontal-medium pl-0 circle-padding" [ngClass]="{'check-circle': promotion.stepCompleted,
                          'circle-one': k == 0 && !promotion.stepCompleted,
                          'circle-two': k == 1 && !promotion.stepCompleted && promotion.offerStatus != notEnrolledText,
                          'check-circle-disable': k == 1 &&  !promotion.stepCompleted &&  promotion.offerStatus == notEnrolledText,
                          'circle-none': k == 1 && !promotion.stepCompleted}">
          </i>
        </div>
        <div>
          <p class="body">{{promotion.stepDesc}}</p>
        </div>
      </div>
    </div>
    <div class="row no-padding  padding-vertical-medium">
      <div class="col-12 col-md-8  offset-md-2 text-center align-items-center">
        <div class="padding-bottom-small-xs padding-bottom-small-sm  pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width " appButtonripple>Change plan</button>
        </div>
      </div>
    </div>
    <div class="col-12  col-md-10 offset-md-1 no-padding">
      <div class="inset-divider-1px"></div>
    </div>
    <div class="col-12  col-md-10 offset-md-1 padding-vertical-small no-padding">
      <p class="body-bold black"> Credit details</p>
    </div>
    <div class="col-12  col-md-10 offset-md-1 no-padding">
      <p class="body">{{creditdetails}} </p>
    </div>
    <div class="col-12  col-md-10 offset-md-1 padding-top-small no-padding">
      <div class="inset-divider-1px"></div>
    </div>


    <div class="col-12 col-md-10 offset-md-1 padding-top-small padding-top-xsmall-xs no-padding">
      <div class="legal">{{limited}}
        <a class="anchor legal-link black" href=""> See offer details</a>
      </div>
      <div class="legal padding-top-xsmall">{{termAndCondition}}</div>
    </div>
    <div class="col-12 col-md-10 offset-md-1 padding-top-base no-padding">
      <div class="legal-link cursor" routerLink="/termsAndCondition">Terms & Conditions</div>
    </div>
    <div class="col-12 col-md-10 offset-md-1  padding-top-small legal no-padding">
      <div>{{offerInfo}}</div>
      <div>{{offerValidity}}</div>
    </div>
    <div class="row no-padding  padding-vertical-xl">
      <div class="col-12 col-md-8  offset-md-2 text-center">
        <div class="pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA  full-btn-width blackCTA" routerLink="/myPromotions" routerLinkActive="active" appButtonripple>Go to my promotions</button>
        </div>
      </div>
    </div>
  </div>
</div>