<div class=" text-center">
  <img src="assets/img/header_preview.png" style="width:100%; margin-top:10px;" />
</div>
<div class="TMO-DRP-AGREEMENT-PAGE">
<div class="container pl-0 pr-0">
  <div class="padding-top-large">
    <div *ngFor="let deviceTerm of deviceRecoveryTerms">
      <div class="col-12">
        <p class="Display6">{{deviceTerm.title}}</p>
        <div class="inset-divider"></div>
      </div>
      <div class="col-12 no-padding d-md-inline-flex">
        <div *ngFor="let dataItem of deviceTerm['data']" class="col-12 d-inline-block" [ngClass]="{'col-md-2': dataItem.descTitle != ('Customer' || 'Billing address'),
        'col-md-3':dataItem.descTitle == 'Customer' || dataItem.descTitle == 'Billing address'}">
          <div class="body-bold black padding-top-medium">{{dataItem.descTitle}}</div>
          <div *ngIf="dataItem.descTitle !== billAddressTitle" class="body black">{{dataItem.value}}</div>
          <div *ngIf="dataItem.descTitle === billAddressTitle" class="body black">
            <div>{{dataItem.value[0]}}</div>
            <div>{{dataItem.value[1]}}</div>
            <div>{{dataItem.value[2]}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="padding-top-medium">
    <div *ngFor="let deviceProgram of deviceRecoveryProgram; let i=index;">
      <div class="col-12">
        <p class="body-bold black">{{deviceProgram.title}}</p>
        <div class="inset-divider"></div>
      </div>
      <div class="col-12 no-padding d-md-inline-flex">
        <div *ngFor="let dataItem of deviceProgram['data']; let k=index;" class="col-12 d-inline-block" [ngClass]="{'col-md-2': dataItem.descTitle === tMobileTitle,'col-md-4': dataItem.descTitle === makeModelTitle,'col-md-3':dataItem.descTitle !== tMobileTitle &&  makeModelTitle}">
          <div class="body-bold black padding-top-medium">{{dataItem.descTitle}}</div>
          <div class="body black" *ngIf="dataItem.descTitle != 'Serial #'">{{dataItem.value}}</div>
          <div class="body black wordWrap" *ngIf="dataItem.descTitle == 'Serial #'">{{dataItem.value}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 padding-top-xxl">
    <div class="full-bleed-divider"></div>
  </div>
  <div class="col-12 padding-top-large">
    <div class="Rectangle-1">
      <p class="text-center center legal-bold black">Agreement placeholder
        <p>
    </div>
  </div>
  <div class="col-12 d-md-flex ml-15 padding-top-large padding-bottom-xl">
    <div class="col-12 col-md-4 no-padding">
      <label class="body black">Signature:</label>
      <input type="text" class="inputbox inputbox-width p-r-0">
    </div>
    <div class="col-12 offset-md-1 ml-105 col-md-3 no-padding padding-top-xl-sm padding-top-xl-xs">
      <label class="body black">Date:</label>
      <input type="text" class="inputbox inputbox1-width">
    </div>
  </div>
</div>
</div>