@import "src/assets/scss/global-variables.scss";
.TMO-DRP-AGREEMENT-PAGE {
    .inputbox {
        border-left: 0px;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 1px solid;
        outline: none;
    }
    .inputbox-width {
        width: 197px;
    }
    .inputbox1-width {
        width: 165.2px;
    }
    .wordWrap {
        word-wrap: break-word
    }
    .Rectangle-1 {
        width: 100%;
        height: 355px;
        background-color: #efefef;
        border: 1px solid #979797;
    }
    .center {
        top: 50%;
        vertical-align: middle;
        text-align: center;
        position: relative;
    }
    @media #{$smartphones-xs} {
        .Rectangle-1 {
            width: 100%;
            height: 586px;
            background-color: #efefef;
            border: 1px solid #979797;
        }
        .inputbox-width {
            width: 167px;
        }
        .inputbox1-width {
            width: 160.2px;
        }
    }
    @media #{$tablets-md} {
        .inputbox-width {
            width: 64%;
        }
        .inputbox1-width {
            width: 73%;
        }
    }

    @media #{$alldeviceexceptsmartphone} {
    .ml-15{
        margin-left: 15px;
    }
    .ml-105{
        margin-left: 105px;
    }
    }
    
}