@import "src/assets/scss/global-variables.scss";
.TMO-REGISTRATION-VETERAN-DISABLED {
    .radio-container label{
        padding-right:0px;
    }
    .no-wrap{
      white-space: nowrap;
      overflow: hidden
    }
    .box-style{
        width: 25px;
        height: 25px;
        font-size: 25px;
        color: #9B9B9B;
    }
    .errormessageimg {
        right: 0px;
    }
    .dropdownnew .dropdown-toggle{
        width: 100%;
    }
    .f-italic {
        font-style: italic;
    }
    .dropdown-width{
      min-width: 85% !important;
    }
    
 
  @media #{$tablets-md}{
    .txt-ellipsis{
      width: 75px;
      overflow: hidden;
      text-overflow: ellipsis;
      position: absolute;
    }
}

.disabled {
  color: lightgray;
  cursor: default;
  pointer-events:$none;
  opacity: 0.7;
}
.top15{ top: 15%}
.bord-green {
  border-bottom: 1pt solid green !important;
  position: absolute;
  width: 100%;
  bottom: 0px;
  }
  input[type="text"]:disabled {
     opacity: 0.5;
}
@media #{$smartphones-xxs}{
    .dropdown-menu li.dropdown-option > a {
      padding: 4px 6px 0px 3px;
      }
    }
}