@import "src/assets/scss/global-variables.scss";
.TMO-STYLEGUIDE-TABS{
 .fa{
     font-size:24px;
 }
 .d-table-cell{
     @media #{$tablets-md},#{$desktops-xl}, #{$desktops-lg}{
                width: 100%;
        }
}
 .full-width{
    @media  #{$desktops-xl}, #{$desktops-lg}{
     width:100%;
    }
    @media #{$smartphones-xxs},#{$smartphones-xs},#{$smartphones-sm},#{$tablets-md}{
        width: 95px;
    }
 }
 .justify-content-around-sm{
    @media  #{smartphones-sm},#{$tablets-md},#{$desktops-xl}, #{$desktops-lg}{
        justify-content: space-around;
    }
 }
 .scrollClass{
    @media #{$smartphones-xxs},#{$smartphones-xs},#{$smartphones-sm}{
    max-width: 100%;
    overflow-x:scroll;
    overflow-y: hidden;
    -ms-overflow-style:none;  
 }

}
label{
    margin-bottom: 0px;
}
/*::-webkit-scrollbar {
    display:none;
}*/
.scrollClass1{
    width: 100%;
    max-width: 100%;
    overflow-x:scroll;
    overflow-y: hidden; 
}
.scrollClass1::-webkit-scrollbar {
    display: none !important;
    } 
.scrollClass1  {
    -ms-overflow-style:none;
    -moz-overflow-style:none;
}   
@media (max-width: 767px) {
    .scrollClass1 {
        overflow-x: scroll;
    }
   
}
@media (min-width: 768px) {
    .scrollClass1 {
        overflow-x: hidden;
    }
}
::-webkit-scrollbar {
    display: none;
    }
    .ms-no-scroll {
        -ms-overflow-style: none;
    }
    
.p-b-12-xs{
    @media #{$smartphones-xxs},#{$smartphones-xs},#{$smartphones-sm} {
        padding-bottom: 12px;
    }
}
.hidden{
    visibility:hidden;
}
}

