<div class="TMO-STYLEGUIDE-TABS">
  <div class="container">
    <div class="row padding-top-xl">
      <div class="col-12">
        <p class="Display6 pb-5">Text Tabs</p>
        <main class="d-flex scrollClass justify-content-around-sm align-items-baseline">
          <div class="d-table-cell d-md-block text-center pl-2 pr-2 pl-md-0 pr-md-0" *ngFor="let data of dataArray,let j = index">
            <input id='{{data.tabTitle}}Tab' type="radio" name="tabs" class="d-none" (click)="clickFun(j,'firstTab')">
            <label for='{{data.tabTitle}}Tab' class="pr-2 pl-2 ml-0 body pb-3 text-center cursor full-width" [ngClass]="{'black border-magenta body-bold':data.dataTabCheck}">{{data.tabTitle}}</label>
          </div>
        </main>
        <span *ngFor="let data of dataArray,let j = index">
          <div class="col-12 tab-content" *ngIf="data.dataTabCheck">
            <p class="padding-top-small">{{data.content}}</p>
          </div>
        </span>
      </div>
    </div>
    <div class="row padding-top-xl mt-3">
      <div class="col-12 padding-top-xl">
        <p class="Display6 pb-5">Icon Tabs</p>
        <main class="d-flex scrollClass justify-content-around-sm align-items-baseline">
          <div class="d-table-cell d-md-block text-center pl-2 pr-2 pl-md-0 pr-md-0" *ngFor="let data of iconArray,let j = index">
            <input id='tab{{j}}' type="radio" name="tabs" class="d-none" (click)="clickFun(j,'secondTab')">
            <label for='tab{{j}}' class="pr-2 pl-2 ml-0 body pb-3 text-center cursor full-width" [ngClass]="{'black border-magenta body-bold':data.iconTabCheck}">
              <i class="{{data.iconTabTitle}}"></i>
              <p class="">{{data.title}}</p>
            </label>
          </div>
        </main>
        <span *ngFor="let data of iconArray,let j = index">
          <div class="col-12 no-padding tab-content" *ngIf="data.iconTabCheck">
            <p class="padding-top-small">{{data.iconContent}}</p>
          </div>
        </span>
      </div>
    </div>
    <div class="row padding-top-xl mt-3 mb-5">
      <div class="col-12 padding-top-xl">
        <p class="Display6 pb-5">Icon + Text Tabs</p>
        <main class="d-flex scrollClass justify-content-around-sm align-items-baseline">
          <div class="d-table-cell d-md-block text-center pl-2 pr-2 pl-md-0 pr-md-0" *ngFor="let data of iconTextArray,let j = index">
            <input id='tab{{j}}{{j}}' type="radio" name="tabs" class="d-none" (click)="clickFun(j,'thirdTab')">
            <label for='tab{{j}}{{j}}' class="pr-2 pl-2 ml-0 body pb-3 text-center cursor full-width" [ngClass]="{'black border-magenta body-bold':data.iconTabCheck}">
              <i class="{{data.iconTabTitle}}"></i>
              <p class="">{{data.title}}</p>
            </label>
          </div>
        </main>
        <span *ngFor="let data of iconTextArray,let j = index">
          <div class="col-12 no-padding tab-content" *ngIf="data.iconTabCheck">
            <p class="padding-top-small">{{data.iconContent}}</p>
          </div>
        </span>
      </div>
    </div>
    <div class="row padding-top-xl mb-5">
      <div class="col-12">
        <p class="Display6 pb-5">Scrollable - Text Tabs</p>
        <main class="d-flex justify-content-around-sm">
          <i class="col-1 no-padding justify-content-center fa fa-angle-left cursor hidden align-items-center p-b-12-xs" (click)="leftArrowFunc($event)"></i>
          <div class="col-10 no-padding scrollClass1 d-flex align-items-baseline justify-content-around-md">
            <div class="d-table-cell d-md-block text-center pl-2 pr-2 pl-md-0 pr-md-0" *ngFor="let data of scrollDataArray,let j = index">
              <input id='{{data.tabTitle}}{{j}}Tab' type="radio" name="tabs" class="d-none" (click)="clickFun(j,'fourthTab')">
              <label for='{{data.tabTitle}}{{j}}Tab' class="pr-2 pl-2 ml-0 body pb-3 text-center cursor full-width" [ngClass]="{'black border-magenta body-bold':data.dataTabCheck}">{{data.tabTitle}}</label>
            </div>
          </div>
          <i class="col-1 no-padding justify-content-center fa fa-angle-right cursor d-flex align-items-center p-b-12-xs" (click)="rightArrowFunc($event)"></i>
        </main>
        <span *ngFor="let data of scrollDataArray,let j = index">
          <div class="col-12 tab-content" *ngIf="data.dataTabCheck">
            <p class="padding-top-small">{{data.content}}</p>
          </div>
        </span>
      </div>
    </div>
    <div class="row padding-top-xl mt-3 mb-5">
      <div class="col-12 padding-top-xl">
        <p class="Display6 pb-5">Scrollable - Icon + Text Tabs</p>
        <main class="d-flex justify-content-around-sm">
          <i class="col-1 no-padding justify-content-center  fa fa-angle-left cursor hidden align-items-center p-b-12-xs" (click)="leftArrowFunc($event)"></i>
          <div class="col-10 no-padding scrollClass1 d-flex align-items-baseline justify-content-around-md">
            <div class="d-table-cell d-md-block text-center pl-2 pr-2 pl-md-0 pr-md-0" *ngFor="let data of scrollIconTextArray,let j = index">
              <input id='tabs{{j}}' type="radio" name="tabs" class="d-none" (click)="clickFun(j,'fifthTab')">
              <label for='tabs{{j}}' class="pr-2 pl-2 ml-0 body pb-3 text-center cursor full-width" [ngClass]="{'black border-magenta body-bold':data.iconTabCheck}">
                <i class="{{data.iconTabTitle}}"></i>
                <p class="">{{data.title}}</p>
              </label>
            </div>
          </div>
          <i class="col-1 no-padding justify-content-center  fa fa-angle-right cursor d-flex align-items-center p-b-12-xs" (click)="rightArrowFunc($event)"></i>
        </main>
        <span *ngFor="let data of scrollIconTextArray,let j = index">
          <div class="col-12 no-padding tab-content" *ngIf="data.iconTabCheck">
            <p class="padding-top-small">{{data.iconContent}}</p>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>