<div class="TMO-DETAILS-BREAKDOWN">
  <div class="container" aria-live="assertive">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium padding-vertical-medium-xs 
           padding-vertical-medium-sm padding-horizontal-small"> 
        <span class="Display3" tabindex="0" aria-label="New monthly total charges">New monthly total charges</span>
        <div class="body padding-top-small" tabindex="0" aria-label="Here's how [Plan Name] applies to your account">Here's how [Plan Name] applies to your account.</div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs ">
        <div class="full-bleed-divider"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-inline-flex align-items-center padding-small-xs padding-vertical-medium cursor d-flex"
        *ngIf ="breakdownDetails?.monthlyDetails"  >
        <div class="no-padding w-100">
          <div class="Display5" >
            <div class="col-7 p-l-0 float-left" tabindex="0"  [attr.aria-label]="breakdownDetails.monthlyDetails.title"> {{breakdownDetails.monthlyDetails.title}}</div>
            
            <div class="col-5 p-r-0 black float-right text-right">
              <p class="Display5" tabindex="0" [attr.aria-label]="'$' + breakdownDetails.monthlyDetails.price">${{breakdownDetails.monthlyDetails.price}}</p>
              <p class="body" tabindex="0" aria-label="Taxes and fees included.">
                Taxes and fees included. </p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  ">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-medium padding-vertical-small-xs padding-vertical-small-xs" >
        <span class="H6-heading" aria-label="account" tabindex="0">Account </span>
        <span class="H6-heading black float-right">
          <span aria-label="$120.00" tabindex="0">$120.00</span>
        </span>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-xsmall-md">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 align-items-baseline justify-content-between">
        <div *ngFor="let data of breakdownDetails?.data; let datacount = index">
         <div *ngFor ="let section of data.section; let sectioncount = index">
            <div *ngFor= "let breakdowndata of section.data; let  breakdowndatacount = index;" >
            <div class="row" *ngIf ="breakdowndatacount == '0' && sectioncount !='0' ">
                <div class="col-12 col-md-12 padding-top-medium">
                    <p class="black Display6 float-left" tabindex="0" [attr.aria-label]="breakdowndata.ischangeplantitle">{{breakdowndata.ischangeplantitle}}</p>
                  </div>
                <div class="col-12 padding-top-medium ">
                    <div class="inset-divider-1px"></div>
                  </div>
            </div> 
          <div class="row" *ngIf ="breakdowndata.name" >
            <div class="col-12 col-md-12 padding-top-medium">
              <p class="black Display4 float-left"  tabindex="0" [attr.aria-label]="breakdowndata.name">{{breakdowndata.name}}</p>
            </div>
          </div>
          <div class="padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm" *ngIf ="breakdowndata.phone_number">
            <div class="row" > 
              <div class="col-8">
                <p class="H6-heading" tabindex="0" [attr.aria-label]="breakdowndata.phone_number"> {{breakdowndata.phone_number}}</p>
              </div>
              <div class="col-4">
                <p class="Display6 text-right" *ngIf ="breakdowndata.price" tabindex="0" [attr.aria-label]="'$' + breakdowndata.price">${{breakdowndata.price}}</p>
              </div>
            </div>
            <div class="col-12 padding-top-medium pl-0 pr-0">
              <div class="inset-divider-1px"></div>
            </div>
          </div>
          <div *ngFor= "let details of breakdowndata.PaymentDetails; let l = index;" >
            <div class="col-12 col-md-12 no-padding padding-top-small-xs  padding-top-small-sm
             padding-bottom-base-xs padding-bottom-base-sm padding-top-medium padding-bottom-small">
              <div class="Display6"  tabindex="0" [attr.aria-label]="details.title === 'Plan change—items will be removed' ? 'warning icon' + 'Plan change - items will be removed' : 'Plan change - items will be removed'">
                <span>
                  <!-- <p class="hidden" *ngIf ="details.title == 'Plan change—items will be removed'" aria-label="warning icon"> Warning icon</p> -->
                  <span class="warning-brown-regular pull-left mr-2 mt-md-1" 
                  *ngIf ="details.title == 'Plan change—items will be removed'" aria-label="warning"></span> {{details.title}}
                </span>
              </div>
            </div>
            <div class=""  *ngFor ="let data of details.data; let p = index;">
             <div class="row" >
              <div [ngClass] ="{'padding-top-base':!data.showBorder || (data.showBorder && data.subtitle), 'm-l-27':details.title=='Plan change—items will be removed','warning-alignment-sm':details.title == 'No longer applicable' && p ==0,
            'col-xl-8 col-lg-8 col-md-8 col-sm-10  col-xs-10': data.warning_description , 'col-9': !data.warning_description  }"
                class="d-flex">
                <span class="border-left-brown mr-1" [ngClass] ="{ 'margin-top-base-sm margin-top-xsmall': data.showBorder && data.subtitle , 'margin-bottom-base':data.showBorder && data.warning_description}"
                  *ngIf="data.showBorder"></span>
                <p class="body" [ngClass] ="{ 'body-bold black': data.showBorder && data.subtitle, 
                  'color-brown':data.showBorder && data.warning_description, 'padding-top-base-md padding-top-base-lg padding-top-base-xl padding-bottom-xsmall-md padding-bottom-xsmall-lg padding-bottom-xsmall-xl': (data.showBorder && data.subtitle)}">
                  <span *ngIf ="data.description" [ngClass]="{ 'padding-top-base-md padding-top-base-lg padding-top-base-xl': p==0 }" tabindex="0" [attr.aria-label]="data.description">{{data.description}} </span>
                  <span *ngIf ="data.subtitle"tabindex="0" [attr.aria-label]="data.subtitle">{{data.subtitle}} </span>
                  <span *ngIf ="data.warning_description"tabindex="0" [attr.aria-label]="data.warning_description">{{data.warning_description}} </span>
                </p>
              </div>
              <div class="col-3 body" *ngIf ="data.price || data.text">
                <p class="text-right" *ngIf ="data.price" >
                  <span *ngIf ="isNumber(data.price) < 0" tabindex="0" [attr.aria-label]="'minus $' + [data.price | slice:(1 - data.price.length)]"><span *ngIf ="isNumber(data.price) < 0">-</span> <span *ngIf="isNumber(data.price) < 0">${{data.price | slice:(1 - data.price.length)}}</span> </span>
                  <span *ngIf="isNumber(data.price) > 0" [attr.aria-label]="'$' + data.price" tabindex="0">${{data.price}}</span>
                </p>
                <p class="text-right" *ngIf ="data.text" [attr.aria-label]="data.text" tabindex="0">{{data.text}} </p>
              </div>
              </div>
            </div>
            <div class="col-12 no-padding padding-top-medium padding-top-small-sm padding-top-small-xs">
              <div [ngClass]="{'inset-divider-1px' : l !== breakdowndata.PaymentDetails.length-1}"></div>
            </div>
          </div>
          <div class="col-12 no-padding">
            <div class="full-bleed-divider no-padding-divider-xs"></div>
          </div>
        </div>
        </div>
        </div>  
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-inline-flex align-items-center padding-small-xs padding-vertical-medium" *ngIf="breakdownDetails?.taxDetails">
        <div class="no-padding w-100">
          <div class="Display5" >
            <div class="float-left col-7 p-l-0" tabindex="0"  [attr.aria-label]="breakdownDetails.taxDetails.title"> {{breakdownDetails.taxDetails.title}}</div>
            <div class="black float-right text-right col-5 p-r-0">
              <p class="Display5" tabindex="0" [attr.aria-label]="'$' + breakdownDetails.taxDetails.price">${{breakdownDetails.taxDetails.price}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 no-padding">
          <div class="col-12">
        <div class="full-bleed-divider no-padding-divider-xs"></div>
      </div>
    </div>
      <div class="col-12 col-md-10 offset-md-1 d-inline-flex align-items-center padding-small-xs padding-vertical-medium" *ngIf="breakdownDetails?.monthlyDetails">
        <div class="no-padding w-100">
          <div class="Display5" >
            <div class="float-left col-7 p-l-0" tabindex="0"  [attr.aria-label]="breakdownDetails.monthlyDetails.title"> {{breakdownDetails.monthlyDetails.title}}</div>
            <div class="black float-right text-right col-5 p-r-0">
              <p class="Display5" tabindex="0" [attr.aria-label]="'$' + breakdownDetails.monthlyDetails.price">${{breakdownDetails.monthlyDetails.price}}</p>
              <p class="body" tabindex="0" aria-label="Taxes and fees included.">
                Taxes and fees included. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs ">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-center padding-top-xl padding-top-medium-xs padding-top-medium-sm padding-bottom-xl 
        padding-bottom-medium-xs padding-bottom-medium-sm">
        <button appButtonripple class="SecondaryCTA blackCTA text-balck full-btn-width-xs" role="button" tabindex="0" aria-label="Click to go back to summary">
          Back to summary</button>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-xl">
        <p class="disclaimer-lineheight">
              <span class="legal" tabindex="0"  aria-label="During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds.">
                During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds. </span> <span class="legal-link cursor" routerlink="/"  tabindex="0"  role="link" aria-label="See full terms" >See full terms</span>
              </p>
      </div>
    </div>
  </div>
</div>
