@import "src/assets/scss/global-variables.scss";
.TMO-DETAILS-BREAKDOWN {
    $brown: #da4a01;
    .check-icon {
        width: 10px;
        height: 10px;
        font-size: 10px;
    }
    .border-left-brown { 
        border-left: 1px solid $brown; 
    }
    .color-brown { 
        color: $brown; 
    }
    .margin-top-xsmall { 
        margin-top: $XS; 
    }
    
    .margin-bottom-base { 
        margin-bottom: $Base; 
    } 
    .full-btn-width {
        width: 100%;
    }

    @media #{$smartphones-sm}, #{$smartphones-xs} { 
        .warning-alignment-sm { 
          margin-left: 14px; 
          padding-left: 0px; 
          padding-top: $XS; 
       } 
        .margin-top-base-sm { 
          margin-top: $Base; 
        }
        .no-padding-divider-xs
        {
            margin-right: -15px;
            margin-left: -15px;
        }
    }

    .hidden {
        position:absolute;
       left:-10000px;
       top:auto;
       width:1px;
       height:1px;
       overflow:hidden;
} 
@media #{$smartphones-xs}, #{$smartphones-sm}{
    .full-btn-width-xs {
        width: 100%;
        max-width: 100%;
    }    
}

.disclaimer-lineheight {
    line-height: 12px;
}
.p-l-0{padding-left: 0px;}
.p-r-0{padding-right: 0px;}
.m-l-27 {
    margin-left: 27px;
}
}