<div class="TMO-PLAN-COMPARISON-PAGE">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <p class="Display3 padding-top-small text-center"><span tabindex="0" aria-label="Compare plans ">Compare plans </span></p>
        <p class="body padding-top-xsmall-xs padding-top-xsmall-sm padding-top-medium text-center padding-bottom-medium">
          <span tabindex="0" aria-label="Use the down arrow to compare another plan.">Use the down arrow to compare another plan. </span></p>
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row padding-top-medium" aria-live="assertive">
      <div class="col-12 col-md-10 no-padding offset-md-1 d-flex">
        <div class="col-6 dropdownStyle d-inline-block p-r-48-md pr-0 padding-right-xsmall-xs padding-right-small-sm">
          <div class="col-12 no-padding">
            <div #sticky class="dropdown-left-width-xs" [ngClass]="{'col-6 pl-0 p-r-48 sticky-top':stickTop && mobileView, 'pr-0 left-0 ': stickTop, 'left-hidden': leftDropdown}">
              <div [ngClass]="{'p-r-8-xs padding-right-small-sm padding-left-small-xs sticky-width pull-right-sm':stickTop}">
                <app-dropdown-selector [subTitle]="subTitle1" [selectNames]="selectLine" [selectedVal]="selectedLine1" 
                  (callBackValue)='handleLine1($event)' textToRead="current plan dropdown" [dropdownId]="dropdownId1" [selectedValClass]="'body-bold text-ellipsis'"></app-dropdown-selector>
                <div class="col-12  no-padding padding-vertical-medium-xs padding-vertical-medium-sm padding-top-large">
                  <button class="SecondaryCTA  blackCTA full-btn-width disabled height-32 font-16" appButtonripple
                    tabindex="0" aria-label="Disabled Change plan" [ngClass]="{'button-hidden-xs': rightDropdown}">Change Plan</button>
                </div>
              </div>
            </div>
            <div *ngFor="let val of retreiveData1" [ngClass]="{'p-t-130':stickTop && mobileView}">
              <div class="col-12 text-center padding-top-medium-md padding-top-medium-lg padding-top-medium-xl no-padding ">
                <div  class="col-12 no-padding d-inline-block " >
                  <p class="Display4"><span tabindex="0" [attr.aria-label]="'$' + val.amountWithTaxes">${{val.amountWithTaxes}}</span></p>
                  <div id="taxesDiv" class="padding-top-xsmall" [style.height]="getheight()">
                    <span  class="body border-bottom-solid black word-break" tabindex="0" [attr.aria-label]="val.tcText" >{{val.tcText}}</span>
                  </div>
                </div>
                <div class="col-12 no-padding" >
                  <p class="Display6 padding-top-small "><span tabindex="0" [attr.aria-label]="val.talkText" >{{val.talkText}}</span></p>
                  <p class="padding-top-xsmall ">
                    <span class="body border-bottom-solid black" tabindex="0" aria-label="Talk & Text">Talk & Text</span>
                  </p>
                </div>
                <div class="col-12 no-padding" >
                  <p class="Display6 padding-top-small"><span tabindex="0" [attr.aria-label]="val.dataPlan ">{{val.dataPlan}}</span></p>
                  <p class="padding-top-xsmall">
                    <span class="body border-bottom-solid black" tabindex="0" aria-label="Data">Data</span>
                  </p>
                </div>
                <div class="col-12 no-padding padding-top-small" >
                  <p class="Display6"><span tabindex="0" [attr.aria-label]="val.hotspot">{{val.hotspot}}</span></p>
                </div>
                <div class="padding-top-xsmall col-12 no-padding">
                  <span class="body border-bottom-solid black" tabindex="0" aria-label="Mobile Hotspot">Mobile Hotspot</span>
                </div>
              </div>
            </div>
          </div>         
        </div>
        <div class="col-6 dropdownStyle d-inline-block pl-0">
          <div class="col-12 no-padding">
            <div #stickyTwo class="dropdown-right-width-xs" [ngClass]="{'col-6 sticky-top2 pl-0 p-r-14':stickTop && mobileView, 'right-hidden': rightDropdown}">
              <div [ngClass]="{'sticky-width1':stickTop}" aria-live="assertive"
              >
                <div class="p-l-48-md border-left-e8e8e8 col-12 padding-horizontal-xsmall-xs pr-0">
                  <app-dropdown-selector [subTitle]="subTitle2" [selectNames]="selectLine" [selectedVal]="selectedLine2"
                     (callBackValue)='handleLine2($event)'
                    [dropdownId]="dropdownId2" [selectedValClass]="'body-bold text-ellipsis'"></app-dropdown-selector>
                </div>
                <div class="col-12 padding-bottom-medium-xs padding-bottom-medium-sm 
                  margin-top-medium-xs margin-top-medium-sm margin-top-large p-l-48-md padding-horizontal-xsmall-xs pr-0">
                  <!-- [ngClass]="{' border-left-e8e8e8': !stickTop, 'p-l-16': stickTop}"> -->
                  <button class="PrimaryCTA full-btn-width height-32 font-16" appButtonripple (click)="modalInvoke()"
                    tabindex="0" aria-label="Select plan">Select Plan</button>
                </div>
 
              </div>
            </div>
            <div *ngFor="let val1 of retreiveData2" [ngClass]="{'p-t-130':stickTop && mobileView}">
              <div class="col-12 p-l-48-md no-padding border-left-e8e8e8 p-l-16-sm text-center padding-top-medium-md padding-top-medium-lg padding-top-medium-xl no-padding padding-horizontal-custom-xs">
                <div  class="col-12 no-padding  no-padding d-inline-block" 
                [attr.aria-label]="'$' + val1.amountWithTaxes + 'Monthly with autopay, taxes & fees included'" >
                  <p class="Display4"><span tabindex="0" [attr.aria-label]="'$' + val1.amountWithTaxes">${{val1.amountWithTaxes}}</span></p>
                  <div id="taxesDiv1" class="padding-top-xsmall" [style.height]="getheight1()">
                    <span  class="body border-bottom-solid black word-break" tabindex="0" aria-label="Monthly with autopay, taxes & fees
                    included">{{val1.tcText}}</span>
                  </div>
                </div>
                <div class="col-12 no-padding " >
                  <p class="Display6 padding-top-small"><span tabindex="0" [attr.aria-label]="val1.talkText">{{val1.talkText}}</span></p>
                  <p class="padding-top-xsmall ">
                    <span class="body border-bottom-solid black" tabindex="0" aria-label="Talk & Text">Talk & Text</span>
                  </p>
                </div>
                <div class="col-12 no-padding" >
                  <p class="Display6 padding-top-small"><span tabindex="0" [attr.aria-label]="val1.dataPlan">{{val1.dataPlan}}</span></p>
                  <p class="padding-top-xsmall">
                    <span class="body border-bottom-solid black" tabindex="0" aria-label="Data">Data</span>
                  </p>
                </div>
                <div class="col-12 no-padding padding-top-small" >
                  <p class="Display6"><span tabindex="0" [attr.aria-label]="val1.hotspot">{{val1.hotspot}}</span></p>
                  <p class="padding-top-xsmall">
                    <span class="body border-bottom-solid black" tabindex="0" aria-label="Mobile Hotspot">Mobile Hotspot</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row padding-top-medium">
      <div class="col-12 col-md-10 offset-md-1  text-center pr-md-0 pl-md-0">
        <p class="Display4 padding-bottom-small-xs padding-bottom-small-sm padding-bottom-medium" >
          <span tabindex="0" aria-label="more details">More details</span>
        </p>
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 no-padding" *ngFor="let val of additionalData1">
        <div class="col-12 no-padding text-center" *ngFor="let val1 of additionalData2">
          <p class="padding-top-small padding-bottom-small text-center d-inline-block" (click)="modalInvoke1()"
            (keydown.enter)="modalInvoke1()">
            <span class="d-flex align-items-center justify-content-center" >
              <span class="Display6 padding-bottom-xsmall cursor" tabindex="0" aria-label="Free Video Streaming">Free Video Streaming</span>
              <span>
                <i class="arrow-right-black-24 d-inline-block cursor mb-1" tabindex="0" aria-label="click for more details"></i>
              </span>
            </span>
          </p>

          <div class="col-12 d-flex no-padding padding-bottom-medium">
            <div class="col-6 no-padding text-center d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs  " tabindex="0" [attr.aria-label]="val.freeVideoStream ">{{val.freeVideoStream}}</p>
            </div>
            <div class="col-6 no-padding text-center border-left-e8e8e8 d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs  " tabindex="0" [attr.aria-label]="val1.freeVideoStream ">{{val1.freeVideoStream}}</p>
            </div>
          </div>
          <div class="col-12 pr-md-0 pl-md-0">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="col-12 no-padding text-center" *ngFor="let val1 of additionalData2">
          <p class="padding-top-small padding-bottom-small text-center d-inline-block text-center d-inline-block">
            <span class="d-flex align-items-center justify-content-center" >
              <span class="Display6 padding-bottom-xsmall cursor" tabindex="0" aria-label="Free Music Streaming">Free Music Streaming</span>
              <span>
                <i class="arrow-right-black-24 d-inline-block cursor mb-1 " tabindex="0" aria-label="click for more details"></i>
              </span>
            </span>
          </p>
          <div class="col-12 d-flex no-padding padding-bottom-medium">
            <div class="col-6 no-padding text-center d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs  " tabindex="0" [attr.aria-label]="val.freeMusicStream ">{{val.freeMusicStream}}</p>
            </div>
            <div class="col-6 no-padding text-center border-left-e8e8e8 d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs  " tabindex="0" [attr.aria-label]="val1.freeMusicStream ">{{val1.freeMusicStream}}</p>
            </div>
          </div>
          <div class="col-12 pr-md-0 pl-md-0">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="col-12 no-padding text-center" *ngFor="let val1 of additionalData2">
          <p class="padding-top-small text-center d-inline-block" tabindex="0" aria-label="Netflix TM on us">
            <span class="d-flex align-items-center justify-content-center"  >
              <span class="Display6 padding-bottom-xsmall cursor" >Netflix
                <sup>TM</sup> On Us</span>
              <span>
                <i class="arrow-right-black-24 d-inline-block cursor mb-1 " tabindex="0" aria-label="click for more details"></i>
              </span>
            </span>
          </p>
          <div class="col-12 d-flex no-padding padding-top-small padding-bottom-medium">
            <div class="col-6 no-padding text-center d-flex align-items-center justify-content-center">
              <p class="hidden" *ngIf="!val.netflixOnus" >not available</p>
              <p class="hidden" *ngIf="val.netflixOnus" >available</p>
              <i class="body  size-22 d-inline-block" tabindex="0"  [attr.aria-label]="val.netflixOnus ? 'available' : 'not available'" [ngClass]="{'check-icon':val.netflixOnus, 'clear-icon-nobg': !val.netflixOnus}"
                ></i>
            </div>
            <div class="col-6 no-padding text-center border-left-e8e8e8 d-flex align-items-center justify-content-center">
              <p class="hidden" *ngIf="!val1.netflixOnus" >not available</p>
              <p class="hidden" *ngIf="val1.netflixOnus"  >available</p>
              <i class="body size-22 d-inline-block" tabindex="0"  [attr.aria-label]="val1.netflixOnus ? 'available' : 'not available'" [ngClass]="{'check-icon':val1.netflixOnus, 'clear-icon-nobg': !val1.netflixOnus}"
                ></i>
            </div>
          </div>
          <div class="col-12 pr-md-0 pl-md-0">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="col-12 no-padding text-center" *ngFor="let val1 of additionalData2">
          <p class="padding-top-small padding-bottom-small text-center d-inline-block">
            <span class="d-flex align-items-center justify-content-center">
              <span class="Display6 padding-bottom-xsmall cursor" tabindex="0" aria-label="Texting & data abroad">Texting & data abroad</span>
              <span>
                <i class="arrow-right-black-24 d-inline-block cursor mb-1" tabindex="0" aria-label="click for more details"></i>
              </span>
            </span>
          </p>
          <div class="col-12 d-flex no-padding padding-bottom-medium">
            <div class="col-6 no-padding text-center d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs  " tabindex="0" [attr.aria-label]="val.textingDataAbroad ">{{val.textingDataAbroad}}</p>
            </div>
            <div class="col-6 no-padding  text-center border-left-e8e8e8 d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs  " tabindex="0" [attr.aria-label]="val1.textingDataAbroad ">{{val1.textingDataAbroad}}</p>
            </div>
          </div>
          <div class="col-12 pr-md-0 pl-md-0">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="col-12 no-padding text-center" *ngFor="let val1 of additionalData2">
          <p class="padding-top-small text-center d-inline-block">
            <span class="d-flex align-items-center justify-content-center" >
              <span class="Display6 padding-bottom-xsmall cursor" tabindex="0" aria-label="Overseas Voice">Overseas Voice</span>
              <span>
                <i class="arrow-right-black-24 d-inline-block cursor mb-1" tabindex="0" aria-label="click for more details"></i>
              </span>
            </span>
          </p>
          <div class="col-12 d-flex no-padding padding-top-small padding-bottom-medium">
            <div class="col-6 no-padding text-center d-flex align-items-center justify-content-center">
              <p class="hidden" *ngIf="!val.overseasVoice" >not available</p>
              <p class="hidden" *ngIf="val.overseasVoice">available</p>
              <i class="body size-22 d-inline-block" tabindex="0"  [attr.aria-label]="val.overseasVoice ? 'available' : 'not available'"[ngClass]="{'check-icon':val.overseasVoice, 'clear-icon-nobg': !val.overseasVoice}"
                ></i>
            </div>
            <div class="col-6 no-padding text-center border-left-e8e8e8 d-flex align-items-center justify-content-center">
              <p class="hidden" *ngIf="!val1.overseasVoice" >not available</p>
              <p class="hidden" *ngIf="val1.overseasVoice" >available</p>
              <i class="body size-22 d-inline-block" tabindex="0"  [attr.aria-label]="val1.overseasVoice ? 'available' : 'not available'" [ngClass]="{'check-icon':val1.overseasVoice, 'clear-icon-nobg': !val1.overseasVoice}"
               ></i>
            </div>
          </div>
          <div class="col-12 pr-md-0 pl-md-0">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="col-12 no-padding text-center" *ngFor="let val1 of additionalData2">
          <p class="padding-top-small text-center d-inline-block">
            <span class="d-flex align-items-center justify-content-center">
              <span class="Display6 padding-bottom-xsmall cursor" tabindex="0" aria-label="Use your device in Mexico & Canada">Use your device in Mexico & Canada
              </span>
              <span>
                <i class="arrow-right-black-24 d-inline-block cursor mb-1 " tabindex="0" aria-label="click for more details"></i>
              </span>
            </span>
          </p>
          <div class="col-12 d-flex no-padding  padding-top-small padding-bottom-medium">
            <div class="col-6 no-padding text-center d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs  " tabindex="0" [attr.aria-label]="val.useDeviceInMexico ">{{val.useDeviceInMexico}}</p>
            </div>
            <div class="col-6 no-padding text-center border-left-e8e8e8 d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs  " tabindex="0" [attr.aria-label]="val1.useDeviceInMexico ">{{val1.useDeviceInMexico}}</p>
            </div>
          </div>
          <div class="col-12 pr-md-0 pl-md-0">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="col-12 no-padding text-center" *ngFor="let val1 of additionalData2">
          <p class="padding-top-small text-center d-inline-block">
            <span class="d-flex align-items-center justify-content-center">
              <span class="Display6 padding-bottom-xsmall cursor" tabindex="0" aria-label="Tax-inclusive">Tax-inclusive</span>
              <span>
                <i class="arrow-right-black-24 d-inline-block cursor mb-1 " tabindex="0" aria-label="click for more details"></i>
              </span>
            </span>
          </p>
          <div class="col-12 d-flex no-padding padding-top-small padding-bottom-medium">
            <div class="col-6 no-padding text-center d-flex align-items-center justify-content-center">
              <p class="hidden" *ngIf="!val.taxInclusive">not available</p>
              <p class="hidden" *ngIf="val.taxInclusive" >available</p>
              <i class="body size-22 d-inline-block" tabindex="0"  [attr.aria-label]="val.taxInclusive ? 'available' : 'not available'" [ngClass]="{'check-icon':val.taxInclusive, 'clear-icon-nobg': !val.taxInclusive}"
                ></i>
            </div>
            <div class="col-6 no-padding text-center border-left-e8e8e8 d-flex align-items-center justify-content-center">
              <p class="hidden" *ngIf="!val1.taxInclusive" >not available</p>
              <p class="hidden" *ngIf="val1.taxInclusive">available</p>
              <i class="body size-22 d-inline-block" tabindex="0"  [attr.aria-label]="val1.taxInclusive ? 'available' : 'not available'" [ngClass]="{'check-icon':val1.taxInclusive, 'clear-icon-nobg': !val1.taxInclusive}"
                ></i>
            </div>
          </div>
          <div class="col-12 pr-md-0 pl-md-0">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="col-12 no-padding text-center" *ngFor="let val1 of additionalData2">
          <p class="padding-top-small text-center d-inline-block">
            <span class="d-flex align-items-center justify-content-center" >
              <span class="Display6 padding-bottom-xsmall cursor" tabindex="0" aria-label="Autopay Discount">Autopay Discount</span>
              <span>
                <i class="arrow-right-black-24 d-inline-block cursor mb-1 " tabindex="0" aria-label="click for more details"></i>
              </span>
            </span>
          </p>
          <div class="col-12 d-flex no-padding padding-top-small padding-bottom-medium">
            <div class="col-6 no-padding text-center d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs  " tabindex="0" [attr.aria-label]="val.autoPayDiscount ">{{val.autoPayDiscount}}</p>
            </div>
            <div class="col-5 col-md-4 no-padding text-center border-left-e8e8e8 d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs  pl-21" tabindex="0" [attr.aria-label]="val1.autoPayDiscount ">{{val1.autoPayDiscount}}</p>
            </div>
          </div>
          <div class="col-12 pr-md-0 pl-md-0">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="col-12 no-padding text-center" *ngFor="let val1 of additionalData2">
          <p class="padding-top-small padding-bottom-small text-center d-inline-block">
            <span class="d-flex align-items-center justify-content-center">
              <span class="Display6 padding-bottom-xsmall cursor"  tabindex="0" aria-label="Gogo in-flight benefits">Gogo in-flight benefits</span>
              <span>
                <i class="arrow-right-black-24 d-inline-block cursor mb-1 " tabindex="0" aria-label="click for more details"></i>
              </span>
            </span>
          </p>
          <div class="col-12 d-flex no-padding padding-bottom-medium">
            <div class="col-md-4 offset-1 col-5 no-padding text-center d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs pr-21" tabindex="0" [attr.aria-label]="val.gogoInFlightBenfits ">{{val.gogoInFlightBenfits}}</p>
            </div>
            <div class="col-5 col-md-4 offset-md-1 no-padding text-center border-left-e8e8e8 d-flex align-items-center justify-content-center">
              <p class="body padding-horizontal-medium-xs pl-21 " tabindex="0" [attr.aria-label]="val1.gogoInFlightBenfits ">{{val1.gogoInFlightBenfits}}</p>
            </div>
          </div>
          <div class="col-12 pr-md-0 pl-md-0">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="col-12 no-padding text-center" *ngFor="let val1 of additionalData2">
          <p class="padding-top-small text-center d-inline-block">
            <span class="d-flex align-items-center justify-content-center">
              <span class="Display6 padding-bottom-xsmall cursor" tabindex="0" aria-label="Family Allowance">Family Allowance</span>
              <span>
                <i class="arrow-right-black-24 d-inline-block cursor mb-1"  tabindex="0" aria-label="click for more details"></i>
              </span>
            </span>
          </p>
          <div class="col-12 d-flex no-padding padding-top-small padding-bottom-medium">
            <div class="col-6 no-padding text-center d-flex align-items-center justify-content-center" > 
              <p class="hidden" *ngIf="!val.familyAllowance" >not available</p>
              <p class="hidden" *ngIf="val.familyAllowance" >available</p>
              <i class="body size-22 d-inline-block" tabindex="0"  [attr.aria-label]="val.familyAllowance ? 'available' : 'not available'" [ngClass]="{'check-icon':val.familyAllowance, 'clear-icon-nobg': !val.familyAllowance}"
               ></i>
            </div>
            <div class="col-6 no-padding text-center border-left-e8e8e8 d-flex align-items-center justify-content-center">
              <p class="hidden" *ngIf="!val1.familyAllowance" >not available</p>
              <p class="hidden" *ngIf="val1.familyAllowance" >available</p>
              <i class="body size-22 d-inline-block" tabindex="0"  [attr.aria-label]="val1.familyAllowance ? 'available' : 'not available'" [ngClass]="{'check-icon':val1.familyAllowance, 'clear-icon-nobg': !val1.familyAllowance}"
                ></i>
            </div>
          </div>
          <div class="col-12 pr-md-0 pl-md-0">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="col-12 no-padding padding-bottom-xl text-center" *ngFor="let val1 of additionalData2">
          <p class="padding-top-small text-center d-inline-block text-center d-inline-block">
            <span class="d-flex align-items-center justify-content-center" >
              <span class="Display6 padding-bottom-xsmall cursor" tabindex="0" aria-label="T-Mobile Family Mode">T-Mobile Family Mode</span>
              <span>
                <i class="arrow-right-black-24 d-inline-block cursor mb-1" tabindex="0" aria-label="click for more details"></i>
              </span>
            </span>
          </p>
          <div class="col-12 d-flex no-padding padding-top-small padding-top-base-sm padding-top-base-xs padding-bottom-medium">
            <div class="col-6 no-padding text-center d-flex align-items-center justify-content-center">
              <p class="hidden" *ngIf="!val.tMobFamilyMode" >not available</p>
              <p class="hidden" *ngIf="val.tMobFamilyMode" >available</p>
              <i class="body size-22 d-inline-block" tabindex="0"  [attr.aria-label]="val.tMobFamilyMode ? 'available' : 'not available'" [ngClass]="{'check-icon':val.tMobFamilyMode, 'clear-icon-nobg': !val.tMobFamilyMode}"
                ></i>
            </div>
            <div class="col-6 no-padding text-center border-left-e8e8e8 d-flex align-items-center justify-content-center">
              <p class="hidden" *ngIf="!val1.tMobFamilyMode" >not available</p>
              <p class="hidden" *ngIf="val1.tMobFamilyMode" >available</p>
              <i class="body size-22 d-inline-block" tabindex="0"  [attr.aria-label]="val1.tMobFamilyMode ? 'available' : 'not available'" [ngClass]="{'check-icon':val1.tMobFamilyMode, 'clear-icon-nobg': !val1.tMobFamilyMode}"
                ></i>
            </div>
          </div>
          <div class="col-12 pr-md-0 pl-md-0">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
          <div class="col-12 padding-bottom-xl pr-md-0 pl-md-0">
              <p class="disclaimer-lineheight">
                  <span class="legal" tabindex="0"  aria-label="During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds.">
                    During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds. </span> <span class="legal-link cursor" routerlink="/"  tabindex="0"  role="link" aria-label="See full terms" >See full terms</span>
                  </p>
          </div>
      </div>
    </div> 
    
    <div class="dialog-container">
      <div class="dialog animation-out modal_landscapeht" aria-live="assertive" tabindex="-1" id="dialog"
        [ngClass]="{'animation-in':visible}">
        <div class="container" *ngIf="visible">
          <div class="row padding-top-small">
            <div class="col-12 no-padding text-center">
              <span class="icon-class">
                <i class="warning-regular-35 d-inline-block "></i>
              </span>
            </div>
            <div class="col-12 offset-md-1 col-md-10 no-padding padding-horizontal-small no-padding padding-horizontal-small">
              <p class="Display5 padding-top-small text-center"><span [tabindex]="visible?0:-1">Plan Update</span></p>
              <ul class="padding-top-medium padding-top-small-md mb-0">
                <li class="body" [tabindex]="visible?0:-1">Stateside International Talk is not available
                  with your new plan.</li>
                <li class="body padding-top-small padding-top-medium-md" [tabindex]="visible?0:-1">Your
                  existing Mobile Internet plan is not
                  compatible with the new plan. We selected the best match for you. </li>
              </ul>
              <p class="body padding-top-small padding-top-medium-md" [tabindex]="visible?0:-1">For
                details, continue,
                then tap the alert.</p>
            </div>
          </div>
          <div class="row padding-top-medium">
            <div class="col-12 d-flex no-padding justify-content-center justify-content-end-md">
              <div>
                <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()" 
                  [tabindex]="visible?0:-1">Cancel</button>
              </div>
              <div class="p-l-8">
                <button class="PrimaryCTA-accent pull-left" appButtonripple (click)="close()" [tabindex]="visible?0:-1"
                  (keydown.tab)="modelTab()">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div> 

    <div class="dialog-container">
      <div class="dialog dialog-width animation-out modal_landscapeht" aria-live="assertive" id="dialogVideoStream"
        tabindex="-1" [ngClass]="{'animation-in':visible1}">
        <div class="container" *ngIf="visible1">
          <div class="row">
            <div class="col-12 offset-md-1 col-md-10 no-padding padding-horizontal-small no-padding padding-horizontal-small">
              <p class="Display4 text-center padding-top-xsmall-md padding-top-xsmall-lg padding-top-xsmall-xl"><span
                  [tabindex]="visible1?0:-1"  aria-label="Free Video Streaming">Free Video Streaming</span></p>
              <p class="body padding-top-small" [tabindex]="visible1?0:-1" (keydown.escape)="close1()"
                aria-label=" With Binge On, streaming optimized video won't count against your data limit or speed threshold.
                Stream as much video as you want from approved services like YouTube, Netflix, Amazon Video, and
                dozens more.">
                With Binge On, streaming optimized video won't count against your data limit or speed threshold.
                Stream as much video as you want from approved services like YouTube, Netflix, Amazon Video, and
                dozens
                more.
              </p>
            </div>
          </div>
          <!-- <div class="row padding-top-medium">
            <div class="col-12 d-flex no-padding justify-content-center justify-content-end-md">
                <button class="PrimaryCTA-accent pull-left" appButtonripple (click)="close1()" (keydown.tab)="modelTabVideoStream()" [tabindex]="visible1?0:-1"  aria-label="Ok button">Ok</button>             
            </div>
          </div> -->
        </div>        
      </div>
      <div class="overlay" (click)="close1()" [ngClass]="{'overlay-in':visible1,'overlay-out':!visible1}"></div>
    </div>

  </div>
</div>
