@import "src/assets/scss/global-variables.scss";
.TMO-PLAN-COMPARISON-PAGE {
        .p-l-8{
            padding-left: 8px;
        }
        .p-l-16{
            padding-left: 16px !important;
        }
        .p-r-14{
            padding-right: 14px;
        }
    @media #{$tablets-md} { 
        .min-height-360 {
            min-height: 360px;
         }
    }
    @media #{$smartphones-sm} { 
        .min-height-360 {
            min-height: 335px;
         }
         .sticky-width {
            width:18.20em;
        }
        .sticky-width1{
            width: 18.20em;
        }
        .p-r-48 {
            padding-right: $XXL;
        }
    }

    @media #{$alldeviceexceptsmartphone}
    {
        .p-r-48-md {
            padding-right: $XXL !important;
        }
        .p-l-48-md {
            padding-left: $XXL;
        }
        .min-height-360 {
            min-height: 380px;
         }
        
    }
    .border-left-e8e8e8 {
        border-left: 1px solid #e8e8e8;
    }
    .border-left-30 {
        border-left: 1px solid #e8e8e8;
        height: 30px;
    }
    .full-btn-width {
        width: 100%;
    }
    .blackCTA.disabled {
        opacity: 0.25;
        pointer-events: none;
    } 
    .p-l-20 {
        padding-left: 20px;
    }
    .text-decoration-dash {
        text-decoration: underline;
        text-decoration-color: #5a5a5a;
        text-decoration-line: dashed;
    }
    .size-12 {
        width:12px;
        height: 12px;
    }
    .size-22 {
        width:22px;
        height: 22px;
    }
    .size-35 {
        width: 35px;
        height: 35px;
    }
    @media #{$smartphones-xs} {
        .PrimaryCTA {
            padding-right: 8px;
            padding-left: 8px;
        }
        .min-height-350 {
            min-height: 350px;
        }
         .sticky-width {
            width:100%;
        }
        .min-height-360-xs {
            min-height: 360px;
         }
    }
    .dialog {
        top: 85px ;
        min-width: 284px ;
        // @media #{$smartphones-xs}, #{$smartphones-sm}{
        //     top: 30px;
        // }
        @media #{$tablets-md}{
            min-width: 452px;
            max-width: min-content;
        }
        @media #{$desktops-xl}, #{$desktops-lg}{
            min-width: 620px;
            max-width: min-content;
        }
    }
    .dialog-width{
        @media #{$tablets-md}{
            min-width: 570px;
            max-width: min-content;
        }
        @media #{$desktops-xl}, #{$desktops-lg}{
            min-width: 768px;
            max-width: min-content;
        }
    }
    .icon-class {
        height: 77px;
        width: 77px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(216, 216, 216, 0.2);
        border-radius: 50%;
    }
    ul {
        padding-left: 17px;
    }
    .border-bottom-solid {
        border-bottom: 1px solid #000000;
    }
    .dropdown-menu.show {
        -webkit-transition: opacity 0.2s, visibility 0s;
        -moz-transition: opacity 0.2s, visibility 0s;
        -ms-transition: opacity 0.2s, visibility 0s;
        -o-transition: opacity 0.2s, visibility 0s;
        transition: opacity 0.2s, visibility 0s;
       /* max-height: 170px !important;*/
        opacity: 1;
        visibility: visible;
        overflow:auto;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        border-radius: 4px;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        
    }
    
    .sticky-top {
        position: fixed;
        top: $zero;
        width: 100%;
        z-index: 1;
        background: #fff;
        padding-top: 8px;
        // transition: padding-top 0.5s;
    }
    .sticky-top2 {
        position: fixed;
        top: $zero;
        width: 100%;
        z-index: 1;
        background: #fff;
        padding-top: 8px;
        // transition: padding-top 0.5s;
    }
    .pl-21 {
        padding-left: 21px;
    }
    .pr-21 {
        padding-right: 21px;
    }
    .dropdown-toggle{
        width:100%;
    }
    .justify-content-end-md{
        @media #{$tablets-md}, #{$desktops-lg}, #{$desktops-xl}{
            justify-content: flex-end !important;
        }
    }
    @media #{$smartphones-xs}, #{$smartphones-sm}{
    .height-32{
            height: 32px !important;
        }
    .font-16{
            font-size: 16px !important;
        }
    }
    .margin-top-medium{
        margin-top: 24px;
    }
    .hidden {
        position:absolute;
       left:-10000px;
       top:auto;
       width:1px;
       height:1px;
       overflow:hidden;
}
.margin-top-large{
    margin-top: 32px;
}
@media #{$smartphones-xs}, #{$smartphones-sm}{
    .margin-top-medium-xs, .margin-top-medium-sm{
        margin-top: 24px;
    }
    .left-0{
        left: 0px;
    }
	.p-r-8-xs{
        padding-right: 8px;
    } 
    
}
@media #{$smartphones-xs}{
    .padding-right-xsmall-xs{
        padding-right: 8px !important;
    }
    .padding-right-small-xs{
        padding-right: 15px !important;
    }
    .padding-left-small-xs{
        padding-left: 15px;
    }

    .padding-horizontal-custom-xs {
        padding-right: 0px;
        padding-left: 8px;
    }
}
@media #{$smartphones-sm}{
    .padding-right-small-sm{
        padding-right: 15px !important;
    }
    .pull-right-sm{
        float: right;
    }
}
.style1{
    line-height: 1.5rem;
    display: block;
}

.disclaimer-lineheight {
    line-height: 12px;
}

@media #{$smartphones-xxs}, #{$smartphones-xs}, #{$smartphones-sm} {
    ::ng-deep .dropdown-left-width-xs .TMO-DROPDOWN-COMPONENT .dropdown .dropdown-menu {
        width: 195%;
    }

    ::ng-deep .dropdown-right-width-xs .TMO-DROPDOWN-COMPONENT .dropdown .dropdown-menu {
        width: 195%;
        left: -95%;
    }

    .sticky-top2:focus-within {
        
        z-index: 2 !important;
    }
    
    .sticky-top:focus-within {
       
        z-index: 2 !important;
    }
}

@media #{$smartphones-xs} {
    ::ng-deep .dropdownStyle .dropdown-menu li.dropdown-option > a span, ::ng-deep .dropdownStyle .dropdown-toggle span {
        font-size: 15px;          
        line-height: 20px;
        font-family: Arial;
        letter-spacing: 0px;
    }
}

@media #{$smartphones-sm}, #{$alldeviceexceptsmartphone} {
    ::ng-deep .dropdownStyle .dropdown-menu li.dropdown-option > a span, ::ng-deep .dropdownStyle .dropdown-toggle span {
        font-size: 18px;
        line-height: 24px;
        font-family: Arial;
        letter-spacing: 0.5px;
    }
}
.word-break{
    word-break: break-word;
}
.p-t-130{
    padding-top: 130px;
}
 ::ng-deep .dropdown-option:active { background-color: #F2F2F2 !important;  }
 ::ng-deep .dropdown-option-active { background-color: #F2F2F2 !important;  }
 ::ng-deep .dropdownStyle .dropdown-menu li.dropdown-option:active > a span, 
 ::ng-deep .dropdownStyle .dropdown-menu li.dropdown-option.active > a span,
 //::ng-deep .dropdownStyle .dropdown-menu li.dropdown-option:hover > a span,
 ::ng-deep .dropdown-menu li.dropdownclass.dropdown-option-active:active > a
{
        font-weight: bold !important;
        color: black !important;
}
}
