<div class="TMO-OTP-PA-EDIT-METHOD">
  <div class="container">
    <div class="main-content">
      <app-header></app-header>
      <form #Enteramount="ngForm">
        <div class="row padding-top-large-xs padding-top-xl">
          <div class="col-12 text-center padding-bottom-large-xs padding-bottom-large-sm padding-bottom-xl">
            <span class="Display3">Edit payment method</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div *ngFor="let val of paybillvalues;let i=index;">
          <div>
            <radiobuttonpaymentblade [cardStatus]="val.cardStatus" [card]="val.cardNumber" [card]="val.descTitle" [icon]="val.iconClass"
              [icon]="''" [radioButtonId]="i" [radioButtonName]="'radioButtonName'" [selected]=0 [altText]=true [descData]="val.descData"></radiobuttonpaymentblade>
          </div>
        </div>
        <div class="row" *ngFor="let val of Addcard;let i=index;">
          <div class="col-12 col-md-10 offset-md-1">
            <paymentblade [title]="val.add" [titleClass]="displayClass" [card]="cardNumber" [icon]="iconwh" [topDividerClass]="''"></paymentblade>
          </div>
        </div>
      </form>
    </div>
    <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
        <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
            <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Continue</button>
          </div>
          <div class="col-12 col-md-6  float-md-left pl-md-0 ">
            <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple (click)="gotopreviouspage()">Cancel</button>
          </div>
        </div>
      </div>
  </div>
</div>