
@import "src/assets/scss/global-variables.scss";
.TMO-EDIT-AMOUNT{
.radio-container{
    width: 20px;
    height: 20px;
}

form {
    label {
    right: 0px;
    left: auto;   
    }
}
.error-margin{
    @media #{$smartphones-xs}{
       margin-top: -15px; 
       margin-bottom: 10px;
    }
    @media #{$smartphones-sm}{
        margin-top: -15px; 
        margin-bottom: 15px;
     }
    @media #{$alldeviceexceptsmartphone}{     
    margin-bottom: 0px;
   }
}
.p-t-5{
    @media #{$smartphones-xs}, #{$smartphones-sm} {
        padding-top: 5px;
    }
}
}

