<div class="TMO-EDIT-AMOUNT">
  <div class="container">
    <div class="main-content">
      <app-header></app-header>
      <form #Enteramount="ngForm">
        <div class="row padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl">
          <div class="col-12 text-center">
            <span class="Display3">Edit amount</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div *ngFor="let val of paybillvalues;let i=index;">
          <div *ngIf="val.descTitle != 'Other amount'">
            <radiobuttonpaymentblade [childClass]="displayClass" [cardStatus]="val.value" [card]="val.descTitle" [icon]="''" [radioButtonId]="i"
              [radioButtonName]="'radioButtonName'" [selected]=0></radiobuttonpaymentblade>
          </div>
        </div>
        <div class="row padding-top-medium">
          <div class="col-6 col-md-4 offset-md-1 p-r-0-xs">
            <div class="body radio-container mt-1">
              <input class="check pr-1" type="radio" id=2 name="radioButtonName">
              <label for=2></label>
              <div class="check"></div>
            </div>
            <div class="d-inline-block ml-3 p-t-5 pt-md-1 pt-lg-1">
              <span class="Display6 black d-inline-block align-top">Other amount</span>
            </div>
          </div>
          
          <div class="align-items-center col-md-3 offset-md-3 col-5 offset-1">
            <div class="floatingLabel textfield">
              <input tabindex="1" appRangevalidator="1-25000" type="text" id="enterAmount" minlength="1" maxlength="50" pattern="^\$?([1-9])+([0-9]*)+(.?)+([0-9]{0,2})?"
                class="input body black text-right" name="enterAmount" [(ngModel)]="enterAmount.enterAmount" appCurrencyformat
                required #enterAmount="ngModel" [ngClass]="{'border-red': (!enterAmount.errors?.appRangevalidator)  && !enterAmount.pristine && !enterAmount.errors?.required}">
              <label for="enterAmount" class="labelpointer" [ngClass]="[(!enterAmount.errors?.appRangevalidator  && !enterAmount.pristine  && !enterAmount.errors?.required) ? 'legal color-red redClass' : '',
                  (enterAmount.errors?.appRangevalidator )   ? 'legal' : '',
                  ( enterAmount.errors?.required ) ? 'body' : '']">Enter amount</label>
                  
              
              <div class="input-animation"></div>
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-6 offset-1 col-md-4 offset-md-2 col-lg-3 offset-lg-2 visibility-hidden">
            <div class="margin-left-errormsg body no-padding padding-bottom-xsmall-xs color-red padding-horizontal-xsmall error-margin">$X required to restore.</div>
          </div>
          <div class="col-5  col-md-3  offset-md-2 col-lg-3  offset-lg-3 ">

            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="enterAmount.errors?.minlength && !enterAmount.pristine">
              Enter an amount over $1.00
            </p>
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="enterAmount.errors?.pattern && !enterAmount.errors?.minlength && !enterAmount.errors?.appRangevalidator  && !enterAmount.pristine">

              Enter an amount over $1.00
            </p>
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="enterAmount.value && !enterAmount.errors?.appRangevalidator && !enterAmount.errors?.pattern &&  !enterAmount.pristine">
              Please Enter the Amount between 1 to 25000
            </p>
            <span class="pull-right padding-bottom-medium padding-bottom-small-xs" *ngIf="!enterAmount.errors?.appRangevalidator && !enterAmount.pristine && !enterAmount.errors?.required">
              <i class="errormessageimg exclamation-error pull-right"></i>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
        </div>

      </form>
    </div>
    <div class="row no-padding  padding-vertical-xl padding-top-xxl-xs padding-top-xxxl-sm">
      <div class="col-12 col-md-8  offset-md-2 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Continue</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>