@import "src/assets/scss/global-variables.scss";
.TM0-MVP-REVIEW-CHANGES-PAGE { 
    @media only screen and (max-width: 575px) and (min-width: 320px){
        .text-center-xsmall {
            text-align: center;
        }
    }

    .top{
        top: 10px;
        left: 15px;
    }
    @media #{$alldeviceexceptsmartphone}{
        .btn-wd{
            width:288px;
        }
        }
    .justify{
        justify-content:  flex-end;
    }
}
