<div class="TM0-MVP-REVIEW-CHANGES-PAGE">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-0 Display3 padding-top-large padding-bottom-medium padding-top-xxl-md  padding-top-xxl-lg  padding-top-xxl-xl">Review Changes</p>
      </div>
      <div class="col-12 text-center">
        <img src="./assets/img/TmobileOne.png" >
        <p class="mb-0 Display6 padding-bottom-medium">with Netflix On Us!</p>
      </div>
      <div class="col-10 offset-1 col-md-10 offset-md-1 body padding-bottom-large text-center">
        Here's the cost break down for migrating your existing lines and services to this plan.
      </div>
    </div>
    <div class="row" *ngFor="let detail of reviewDetails">
      <div class="col-12 col-md-10 offset-md-1">
        <paymentblade [title]="detail.descTitle" [titleClass]="'Display6'" [card]="detail.value" [cardNumberClass]="'H6-heading'"
          [topDivider]=false [bottomDivider]=false [url]="detail.url"></paymentblade>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center padding-top-small">
        <p class="H4-heading">Save $15/month with AutoPay</p>
      </div>
      <div class="col-10 offset-1 text-center checkbox padding-top-medium padding-top-large-md padding-top-large-lg padding-top-large-xl padding-bottom-xsmall inline">
        <span class="Display4">AutoPay</span>
        <label class="switch top">
          <input type="checkbox" [checked]="checkOpt" (change)="checkOpt = !checkOpt">
          <span class="slider round"></span>
        </label>
        <span class="legal pl-4" *ngIf="checkOpt">ON</span>
        <span class="legal pl-4" *ngIf="!checkOpt">OFF</span>
      </div>
      <div class="col-12 col-md-10  offset-md-1">
      <div class="col-10 offset-1 offset-xs-2 col-xs-8 offset-sm-2 col-sm-8 col-md-8 text-center padding-top-medium"  *ngIf="checkOpt">
        <p class="legal black">First AutoPay payment date:
          <span class="legal-bold black">Jun 14, 2018</span>
        </p>
        <p class="legal padding-top-xsmall padding-top-medium-sm padding-top-medium-xs  black">You're autopay discount will take affect beginning with your next bill on:
          <span class="legal-bold black">May 16, 2018</span>
        </p>
      </div>
      <div class="col-md-10 offset-md-1 padding-top-medium" *ngIf="checkOpt">
        <paymentblade [title]="paymentMethod" [card]="cardNumber" [icon]="iconClass" [titleClass]="titleClass" [disableClass] = "disableClass"></paymentblade>
      </div>
      <div class="col-md-10 offset-md-1 padding-top-small d-flex pr-0">
        <div class="col-6 no-padding Display6">Effective Date</div>
        <div class="text-right col-5 no-padding justify">
          <span class="H6-heading">May 24, 2018</span>
        </div>
      </div>
      <!-- <div class="col-12 text-center padding-top-large padding-top-medium-md padding-top-medium-lg padding-top-medium-xl">
        <span class="legal black">By submitting, you agree to</span>
        <span class="legal-bold-link cursor">Terms and Conditions</span>
      </div> -->
      </div>
      <div class="offset-md-1 col-md-10 col-12 padding-top-medium"  >
        <hr class="total-divider mb-0 mt-0">
      </div>
      <div class="col-12 col-md-10  offset-md-1">
        <div class="col-md-10 offset-md-1 padding-top-small d-flex pr-0"  >
          <div class="col-6 no-padding Display6">New Monthly Total</div>
          <div class="text-right col-5 no-padding justify">
            <span class="H6-heading">$XXX.XX/mo</span>
          </div>
        </div>
      </div>
      <div class="col-12 text-center padding-top-xxxl">
        <p class="H4-heading">Your next bill will increase</p>
        <p class="padding-top-large padding-top-medium-md padding-top-medium-lg padding-top-medium-xl Display3">$X.XX / mo</p>
      </div>
      <div class="col-12 text-center padding-top-medium padding-top-large-sm padding-top-large-xs">
        <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0 p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
                <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left btn-wd" appButtonripple>Agree & Submit</button>
            </div>
            <div class="col-12 col-md-6  float-md-left pl-md-0 p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
                <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right btn-wd" appButtonripple>Cancel</button>
            </div>
        </div>
    </div>
    <div class="offset-md-3 col-md-6 text-center-md text-center-lg text-center-xl padding-top-xxl">
      <span class="legal">
        By clicking Agree and Submit, I agree that (a) my Agreement with T-Mobile includes the Service Agreement, any terms specific
        to my Rate Plan, and T-Mobile's Terms & Conditions; (b) T-Mobile requires Arbitration of Disputes unless I previously
        opted out per T-Mobile's Terms & Conditions; and (c) I accept T-Mobile's Electronic Signature Terms.
      </span>
    </div>
    <div class="offset-md-3 col-md-6 text-center-md text-center-lg text-center-xl padding-top-small">
      <span class="legal">Your current plan may include promotions, that are not applicable to your a new plan.</span>
    </div>
      <div class="offset-md-3 col-md-6 text-center-md text-center-lg text-center-xl  padding-bottom-xl padding-top-small">
        <span class="legal">On all T-Mobile plans, during congestion, the small fraction of customers using >50GB/mo. may notice reduced speeds
          until next bill cycle due to data prioritization.</span>
      </div>
    </div>
  </div>
</div>