@import "src/assets/scss/global-variables.scss";
.TMO-FAMILY-CONTROL-COMPONENT{
    /*.cursor {
        &:focus {
            outline: none;
        }
    }*/
    .playstore-icon {
        width: 135px;
        height: 40px;
    }
    .Appstore-icon {
        width: 135px;
        height: 40px;
    }
    .pl-10 {
        padding-left: 10px;
    }

    .no-padding-viewlines {
        padding-left: 0px !important;
        padding-right: 0px !important;
        height:auto !important;
        line-height: 1.1;
      }

      .text-decoration-none {
        text-decoration: $none; 
      }
}
