<div class="TMO-FAMILY-CONTROL-COMPONENT">
  <div class="container">
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12">
        <p class="Display3 text-center">Family Controls</p>
        <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm no-padding">
          <!-- <p class="legal pb-1">{{subTitle}}</p> -->
          <app-search-reusable [inputArray]="lineData" [persistent]=true [elementId]=1 [placeholder]="dynamicplaceholder"
            (callBackValue)="selectedSearchValue($event)"></app-search-reusable>
          <!-- <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
            <div id="model"  class="dropdown-toggle">
              <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
              <span class="arrow-down pull-right mt-1"></span>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="model">
              <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
                (click)="select(state.name)">
                <a> {{state.name}} </a>
              </li>
            </ul>
          </div> -->
          <div class="padding-top-small">
            <p >
              <a routerLink="../fa-lines" routerLinkActive="active" class="TeritiaryCTA brand-magenta text-decoration-none height-auto no-padding-viewlines cursor">View list of all lines</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-spinner ></app-spinner>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-top-medium padding-top-small-xs padding-top-small-sm">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-10 offset-md-1 pt-3 pt-md-4">
        <span class="Display6 no-padding">Bearmode</span>
      </div>
      <div class="col-10 offset-md-1 pt-2">
        <span class="body no-padding">Bearmode description Lorem ipsum dolor sit amet, consectetur adipiscing elit
          ipsumdolor.</span>
      </div>
    </div>
    <div class=" display-flex pt-2 pt-md-3">
      <div class="col-6 no-padding pr-1">
        <a href="https://play.google.com/store?hl=en">
          <img class="playstore-icon pull-right" src="assets/img/google-play-badge.png">
        </a>
      </div>
      <div class="col-6 no-padding pl-1">
        <a href="https://www.appstore.com">
          <img class="Appstore-icon" src="assets/img/apple-play-badge.png">
        </a>
      </div>
    </div>
    <div class="row pt-3 pt-md-4">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center cursor" routerLink="/familyControlWebGaurdNew">
        <div class="col-10 no-padding pull-left py-3 py-md-4">
          <p class="Display6">Web Guard</p>
          <p class="body d-inline-block pt-2 pt-md-3 col-12 no-padding">Prevent access to adult web content.</p>
          <p class="body d-inline-block col-12 no-padding">No Restrictions.</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right">
          <span class="arrow-right d-inline-block pull-right"></span>
        </div>
      </div>

      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 d-flex align-items-center cursor" routerLink="/familyControlFamilyAllowancesNew">
        <div class="col-10 no-padding pull-left py-3 py-md-4">
          <p class="Display6">Family Allowances</p>
          <p class="body d-inline-block  col-12 no-padding padding-top-small padding-top-xsmall-xs">
            Set allowances on minutes, messages and downloads</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right">
          <span class="arrow-right d-inline-block pull-right"></span>
        </div>
      </div>

      <div class="col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 d-flex align-items-center cursor" tabindex="0">
        <div class="col-10 no-padding pull-left py-3 py-md-4">
          <p class="Display6">Family Where</p>
          <p class="body d-inline-block  col-12 no-padding padding-top-small padding-top-xsmall-xs">
            Locate your family member's devices on a map.</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right">
          <span class="arrow-right d-inline-block pull-right"></span>
        </div>
      </div>
      <div class="col-md-10 offset-md-1">
        <div class="inset-divider-1px pb-3 pb-md-4"></div>
      </div>
    </div>
  </div>
</div>