@import "src/assets/scss/global-variables.scss";
.TM0-MVP-REVIEW-PLANS-PAGE { 
    .bg-f2f2f2{
        background-color: #f2f2f2;
    }
    .pb-88{
        padding-bottom: 88px;
    }
    @media #{$alldeviceexceptsmartphone}{
        .btn-wd{
            width:288px;
        }
    }
}