@import "src/assets/scss/global-variables.scss";
.TMO-SHOP-PAGE-FG-IMAGE {
    .p-5per {
        @media #{$alldeviceexceptsmartphone} {
            padding-left: 5%;
            padding-right: 5%;
        }
    }
    @media #{$smartphones-xs},
    #{$smartphones-sm} {
        .imgsize-xs {
            width: 100px;
            height: 200px;
        }

        .p-b-72-xs {
            padding-bottom: 72px;
        }
    }
    @media #{$alldeviceexceptsmartphone} {
        .imgsize-sm {
            width: 141px;
            height: 291px;
        }
        .p-t-94-sm {
            padding-top: 94px !important;
        }
    }
    .h-px-xs {
        min-height: 68px;
        @media #{$smartphones-xs} {
            line-height: 18px;
        }
        @media #{$smartphones-xs1} {
            min-height: 80px;
        }
    }
    .h-px-sm {
        @media #{$smartphones-sm} {
            min-height: 62px;
        }
    }
    @media #{$tablets-md} {
        .h-px-md {
            min-height: 72px;
        }
    }
    @media #{$desktops-lg},
    #{$desktops-xl} {
        .h-px-md {
            min-height: 47px;
        }
    }
    .p-20-md{
        padding-top: 4px !important;
          @media #{$tablets-md},
        #{$desktops-lg},
        #{$desktops-xl}{
            padding-bottom: 4px !important;
        }
    }
    .tag {
        font-size: 16px;
    }
    .border-f2f2f2 {
        border-right: 1px solid #f2f2f2;
    }
    .divCursor {
        cursor: pointer;
    }
    .divShadow {

        @media #{$smartphones-sm}, #{$smartphones-xs} {
            box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
        }
        &:hover {
            @media #{$alldeviceexceptsmartphone} {
                box-shadow: 0 7px 15px 5px rgba(0, 0, 0, .18);
            }
        }
    }
    .border-gray {
        border-top: 1px solid #f2f2f2;
    }
    .stickStyle {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        left: 0;
        background-color: white;
        padding-left: 15px;
        padding-right: 15px;
    }
    .stickStyle-top {
        position: fixed;
        top: 0;
        z-index: 1000;
        left: 0;
        background-color: white;
        padding-left: 15px;
        padding-right: 15px;
        @media #{$smartphones-xs} {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
        }
    }
    .stickHideStyle {
        position: relative;
    }
    .stickshowStyle {
        display: none;
    }
    .verbiageText {
        &:hover {
            text-decoration: underline;
        }
    }
    .promo-code {
        line-height: 18px;
        @media #{$desktops-xl},
        #{$desktops-lg} {
            width: 25%;
            padding-left: 12px;
            position: relative;
            top: 52px;
        }
        @media #{$tablets-md},
        #{$smartphones-sm},
        #{$smartphones-xs} {
            width: 100%;
           // padding-left: 10px;
            line-height: 1.19;
            position: relative;
            top: 30px;
        }
    }
    .min-ht-trade-in {
        min-height: 26px;
        @media #{$smartphones-sm} {
            min-height: 21px;
        }
        @media #{$smartphones-xs} {
            min-height: 21px;
        }
    }
    .padding-top-20 {
        @media #{$alldeviceexceptsmartphone} {
            padding-top: 20px;
        }
    }
    .flex-column {
        flex-direction: column;
    }
    .nav-bar-styles {
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.14);
       // border: solid 1px #f1f1f1;
        @media #{$smartphones-sm},
        #{$smartphones-xs} {
            box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
        }
    }
    .nav-bar-styles1 {
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.14);
       // border: solid 1px #f1f1f1;
        @media #{$smartphones-sm},
        #{$smartphones-xs} {
            box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
        }
    }
    .ul-styles {
        list-style-type: none;
        text-align: center;
        margin-bottom: 0px;
        padding-left: 0px;
        &:hover {
            border-right: solid 0.5px #E20074;
            border-left: solid 0.5px #E20074;
        }
    }
    @media #{$smartphones-xs} {
        .border-bottom-xs {
            border-bottom: solid 0.5px #ebebeb;
            &:hover {
                border-bottom: solid 0.5px #E20074;
            }
        }
    }
    .word-break {
        word-wrap: break-word;
    }
    .hero_banner {
        min-height: 480px;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        display: flex;
        clear: both;
        position: relative;
      //  z-index: 4;
        @media #{$smartphones-xs} {
            min-height: 568px;
            height: 100%
        }
    }
    .cta-style {
        color: $white;
        border-color: $white;
        background-color: transparent ;
        &:hover,
        &:active,
        &:focus {
        border: 1px solid $white;
        outline: 1px solid $white;
    }
    }
    .nav-bar-bg {
        &:hover {
            background-color: #E20074;
            color: white;
        }
    }
    .bannerStyle {

        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        clear: both;
        position: relative;
        /*@media #{$desktops-xl}, #{$smartphones-sm} {
            height: 480px;
        }
     //   z-index: 4;
     @media  #{$tablets-md}, #{$desktops-lg}
      {
        height: 568px;
     }
        @media #{$smartphones-xs} {
            height: 568px;
        }*/
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .hero_banner {
            display: run-in;
        }

        .bannerStyle {
            display: inline-block;
        }
    }

    .bg-color {
        background-color: rgba(250, 250, 250, 0.7)
    }
    .bg-color-gray5 {
        background-color: $gray05
    }
    .nav-element {
        font-family: $Tele-Grotesk-Fet;
        font-size: 18px;
        line-height: 18px;
        @media #{$smartphones-sm},
        #{$smartphones-xs} {
            font-size: 14px;
            line-height: 14px;
        }
    }
    .p-l-30 {
        padding-left: 30px;
        @media #{$smartphones-sm},
        #{$smartphones-xs} {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .bg-white {
        background-color: white !important;
    }
    .legal-box {
        box-shadow: 0 -6px 17px 0 rgba(0, 0, 0, 0.14);
    }
    .pt-28-xs {
        @media #{$smartphones-sm},
        #{$smartphones-xs} {
            padding-top: 28px;
        }
    }
    .pl-m-lg {
        @media #{$desktops-lg} {
            padding-left: 24px;
        }
    }
    .dialog {
        width: fit-content;
        max-width: 83.34%;
        min-width: auto;
        min-height: auto;
        max-height: initial;
        padding: $M $zero $XS;
        @media #{$tablets-md},
        #{$desktops-lg},
        #{$desktops-xl} {
            max-width: 33.33%;
        }
        .text-left {
            text-align: left;
        }
    }
    .res-sec {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .content-wrap {
        padding: 24px 32px;
        margin: 0 auto;
        width: 100%;
        flex-direction: row-reverse;
        transform: translateY(0px);
        margin: 0 auto;
        display: flex;
        align-items: center;
        float: none;
      //  z-index: 3;
        max-width: 1280px;
        @media #{$smartphones-sm} {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        @media #{$smartphones-xs} {
            padding: 16px;
            flex-direction: inherit;
        }

    }
    .hero-max-wd {
        max-width: 1140px;
        @media #{$desktops-xl} {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    }
    .content-wrap-small {
        padding-left: 32px;
        padding-right: 32px;
        margin: 0 auto;
        width: 100%;
        flex-direction: row-reverse;
        transform: translateY(0px);
        margin: 0 auto;
        display: flex;
        align-items: center;
        float: none;
      //  z-index: 3;
        max-width: 636px;

        @media   #{$tablets-md}, #{$desktops-lg}  {
            padding-left: 32px;
            padding-right: 32px;
            flex-direction: inherit;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        @media #{$smartphones-xs}, #{$smartphones-sm} {
            padding-left: 16px;
            padding-right: 16px;
            flex-direction: inherit;
        }
        @media #{$desktops-xl} {
            height: 480px !important;
        }
    }
    .section-image {
        width: 33.33%;
        @media #{$smartphones-sm} {
            width: 50%;
            
        }
        @media #{$smartphones-xs} {
            width: 100%;
            max-width: 300px;
            max-height: 300px;
        }
    }
    .section-content {
        width: 66.67%;
        @media #{$smartphones-sm} {
            width: 50%;
        }
        @media #{$smartphones-xs} {
            width: 100%;
        }
    }
    .section-image-small {
        width: 50%;

        @media #{$smartphones-xs} {
            width: 100%;
            max-width: 275px;
            max-height: 275px;
        }
        @media  #{$smartphones-sm} {
            width: 66.67%;
            max-width: 300px;
            max-height: 300px;
        }
        @media  #{$tablets-md}  {
            width: 66.67%;
            max-width: 160px;
            max-height: 160px;
        }
        @media  #{$desktops-lg}  {
            width: 66.67%;
            max-width: 200px;
            max-height: 200px;
        }
    }
    .section-content-small {
        width: 50%;

        @media #{$smartphones-xs},#{$smartphones-sm}, #{$tablets-md}, #{$desktops-lg} {
            width: 100%;
        }
    }
    .bd-tp-gray-xs {
        @media #{$smartphones-sm}, #{$smartphones-xs} {
            border-top: 1px solid $gray20;
        }
    }
    .SecondaryCTA,
    .PrimaryCTA {

        @media #{$smartphones-xs} {
            height: 32px;
         //   min-width: 150px;
        }
    }
    .bannerStyle {
        .SecondaryCTA,
        .PrimaryCTA {
            margin-left: 8px;
            margin-right: 8px;
            @media #{$desktops-xl} {
                margin-left: 0px;
                margin-right: 0px;
            }
           
                height: 32px;
            
        }
        .margin-left-small {
            @media  #{$desktops-xl} {
                margin-top: $S;
            }
            @media #{$desktops-lg}, #{$tablets-md}, #{$smartphones-xs} {
                margin-top:$XS;
            }

        }
    }
    .text-xs-center {
        @media #{$smartphones-xs} {
            text-align: center !important;
        }
    }

    .tmo-modal-link {
        text-decoration: underline;
    }
    .margin-left-small {
        margin-left: $S;
        @media  #{$desktops-xl} {
            margin-left: $zero;
            margin-top: $XS;
        }
    }
    .margin-left-small-m1 {
        @media  #{$smartphones-sm}, #{$smartphones-xs} {
            margin-left: $zero;
            margin-top: $XS;
        }
        @media  #{$desktops-xl} {
            margin-left: $S;
            margin-top: $zero;
        }
    }
    @media #{$smartphones-xs} {
        .wd-xs-h1 {
            width: 75%;
            margin: auto;
        }
    }
    @media #{$desktops-lg}, #{$desktops-xl} {
        .pd-rt-16 {
            padding-right: 16px;
        }
        .pd-lt-16 {
            padding-left: 16px;
        }
    }
    .mg-neg-phones {
        margin-top: -16px;
        @media #{$alldeviceexceptsmartphone} {
            margin-top: -40px;
        }
    }
    .PrimaryCTA {
        border: 1px solid #E20074;
    }

    .cta-width-hero {
        @media #{$tablets-md}{
            max-width: 125%;
            width: 125%;
        }
    }
    .cta-width {
        @media #{$desktops-lg} {
            width: 75%;
            margin: auto;
        }
    }

    .legal-width-half {
        @media #{$desktops-xl}{
            max-width: 200%;
            width: 200%;
        }
    }
    .Display5-xs-24 {
        @media #{$smartphones-sm}, #{$smartphones-xs} {
            font-size: 24px;
            line-height: 22px;
        }
    }
    .var-height{
        height:18px !important;
        @media #{$desktops-xl},#{$desktops-lg}{
            height:36px !important;
        }
    }
    .flex-prop{
        display: flex;
        align-items: last baseline;
        flex-wrap: wrap;
    }
    .no-padding-lr{
        padding-left: 0px;
        padding-right: 0px;
    }
    .TeritiaryCTA{
        color: $white;
        background: none !important;
        &:hover,
        &:active,
        &:focus {
            transform: translateY(-0.05em) !important;
            -webkit-transform: translateY(-0.05em) !important;
            transition-duration: 0.2s !important;
            -webkit-transition-duration: 0.2s !important;
        }
        @media only screen and (max-width : 355px) {
            font-size: 15px;
        }
        @media only screen and (min-width : 576px) and (max-width : 661px) {
            font-size: 15px;
        }
        //add for small banner for text wrap in one line
        @media only screen and (min-width : 768px) and (max-width : 812px) {
            font-size: 15px;
        }
    }
    .margin-left-small{
        @media only screen and (min-width : 767px) and (max-width : 785px) {
        margin-left: 6px;
     }
   }
// Begin of theme related CTA styling
.filledCTA_White{
    color: #e20074;
    background:white;
    border: 1px solid white;
}
.filledCTA_Black{
 color: white;
 background:black;
 border: 1px solid black;
}
.filledCTA_Magenta{
 color: white;
 background:#e20074;
 border: 1px solid #e20074;
}
.translucentCTA_White{
 color: white;
 border: 1px solid white;
}
.translucentCTA_Black{
 color: black;
 border: 1px solid black;
 &:hover{
     border: 1px solid black;
     outline: 1px solid black;
 }
 &:active{
     border: 1px solid black;
     outline: 1px solid black;
 }
 &:focus{
     border: 1px solid black;
     outline: 1px solid black;
 }
}
.translucentCTA_Magenta{
 color: #e20074;
 border: 1px solid #e20074;
 &:hover{
     border: 1px solid #e20074;
     outline: 1px solid #e20074;
 }
 &:active{
     border: 1px solid #e20074;
     outline: 1px solid #e20074;
 }
 &:focus{
     border: 1px solid #e20074;
     outline: 1px solid #e20074;
 }
}
.textCTA_Magenta{
    color: #e20074 !important;
}
.textCTA_White{
    color: white !important;
}
// End of theme related CTA styling
}
