<div class="TMO-STYLEGUIDE-TYPOGRAPHY">
  <div class="container">
    <div class="col-12 no-padding">
      <div class="Display4 text-center padding-vertical-xl"> Typography</div>
      <div class="Display1 p-t-20 padding-top-large padding-bottom-small">Display1</div>
      <a (click)="showDisplay1Code = !showDisplay1Code" class="legal-link"> {{showDisplay1Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay1Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="Display1"> Display1 &lt;div>
          </code>
        </div>
      </div>

      <div class="Display2 p-t-20 padding-top-large padding-bottom-small">Display2</div>
      <a (click)="showDisplay2Code = !showDisplay2Code" class="legal-link"> {{showDisplay2Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay2Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="Display2"> Display2 &lt;div>
          </code>
        </div>
      </div>

      <div class="Display3 p-t-20 padding-top-large padding-bottom-small">Display3</div>
      <a (click)="showDisplay3Code = !showDisplay3Code" class="legal-link"> {{showDisplay3Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay3Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="Display3"> Display3 &lt;div>
          </code>
        </div>
      </div>

      <div class="Display4 p-t-20 padding-top-large padding-bottom-small">Display4</div>
      <a (click)="showDisplay4Code = !showDisplay4Code" class="legal-link"> {{showDisplay4Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay4Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="Display4"> Display4 &lt;div>
          </code>
        </div>
      </div>

      <div class="Display5 p-t-20 padding-top-large padding-bottom-small">Display5</div>
      <a (click)="showDisplay5Code = !showDisplay5Code" class="legal-link"> {{showDisplay5Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay5Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="Display5"> Display5 &lt;div>
          </code>
        </div>
      </div>

      <div class="Display6 p-t-20 padding-top-large padding-bottom-small">Display6</div>
      <a (click)="showDisplay6Code = !showDisplay6Code" class="legal-link"> {{showDisplay6Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showDisplay6Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="Display6"> Display6 &lt;div>
          </code>
        </div>
      </div>

      <div class="H1-heading p-t-20 padding-top-large padding-bottom-small">H1-heading</div>
      <a (click)="showH1Code = !showH1Code" class="legal-link"> {{showH1Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showH1Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="H1-heading"> H1-heading &lt;div>
          </code>
        </div>
      </div>

      <div class="H2-heading p-t-20 padding-top-large padding-bottom-small">H2-heading</div>
      <a (click)="showH2Code = !showH2Code" class="legal-link"> {{showH2Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showH2Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="H2-heading"> H2-heading &lt;div>
          </code>
        </div>
      </div>

      <div class="H3-heading p-t-20 padding-top-large padding-bottom-small">H3-heading</div>
      <a (click)="showH3Code = !showH3Code" class="legal-link"> {{showH3Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showH3Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="H3-heading"> H3-heading &lt;div>
          </code>
        </div>
      </div>

      <div class="H4-heading p-t-20 padding-top-large padding-bottom-small">H4-heading</div>
      <a (click)="showH4Code = !showH4Code" class="legal-link"> {{showH4Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showH4Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="H4-heading"> H4-heading &lt;div>
          </code>
        </div>
      </div>

      <div class="H5-heading p-t-20 padding-top-large padding-bottom-small">H5-heading</div>
      <a (click)="showH5Code = !showH5Code" class="legal-link"> {{showH5Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showH5Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="H5-heading"> H5-heading &lt;div>
          </code>
        </div>
      </div>

      <div class="H6-heading p-t-20 padding-top-large padding-bottom-small">H6-heading</div>
      <a (click)="showH6Code = !showH6Code" class="legal-link"> {{showH6Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showH6Code">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="H6-heading"> H6-heading &lt;div>
          </code>
        </div>
      </div>

      <div class="eyebrow p-t-20 padding-top-large padding-bottom-small">eyebrow</div>
      <a (click)="showEyebrowCode = !showEyebrowCode" class="legal-link"> {{showEyebrowCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showEyebrowCode">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="eyebrow"> eyebrow &lt;div>
          </code>
        </div>
      </div>
      <div class="body p-t-20 padding-top-large padding-bottom-small">body</div>
      <a (click)="showbodyCode = !showbodyCode" class="legal-link"> {{showbodyCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showbodyCode">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="body"> body &lt;div>
          </code>
        </div>
      </div>
      <div class="body-bold p-t-20 padding-top-large padding-bottom-small">body-bold</div>
      <a (click)="showbodyBoldCode = !showbodyBoldCode" class="legal-link"> {{showbodyBoldCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showbodyBoldCode">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="body-bold"> body-bold &lt;div>
          </code>
        </div>
      </div>
      <div class="body-link p-t-20 padding-top-large padding-bottom-small">body-link</div>
      <a (click)="showbodyLinkCode = !showbodyLinkCode" class="legal-link"> {{showbodyLinkCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showbodyLinkCode">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="body-link"> body-link &lt;div>
          </code>
        </div>
      </div>
      <div class="body-bold-link p-t-20 padding-top-large padding-bottom-small">body-bold-link</div>
      <a (click)="showbodyBLCode = !showbodyBLCode" class="legal-link"> {{showbodyBLCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showbodyBLCode">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="body-bold-link"> body-bold-link &lt;div>
          </code>
        </div>
      </div>
      <div class="legal p-t-20 padding-top-large padding-bottom-small">legal</div>
      <a (click)="showLegalCode = !showLegalCode" class="legal-link"> {{showLegalCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showLegalCode">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="legal"> legal &lt;div>
          </code>
        </div>
      </div>
      <div class="legal-bold p-t-20 padding-top-large padding-bottom-small">legal-bold</div>
      <a (click)="showLegalBoldCode = !showLegalBoldCode" class="legal-link"> {{showLegalBoldCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showLegalBoldCode">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="legal-bold"> legal-bold &lt;div>
          </code>
        </div>
      </div>
      <div class="legal-link p-t-20 padding-top-large padding-bottom-small">legal-link</div>
      <a (click)="showLegalLinkCode = !showLegalLinkCode" class="legal-link padding-bottom-large"> {{showLegalLinkCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showLegalLinkCode">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="legal-link"> legal-link &lt;div>
          </code>
        </div>
      </div>
      <div class="legal-bold-link p-t-20 padding-top-large padding-bottom-small">legal-bold-link</div>
      <a class="padding-bottom-large" (click)="showLegalBLCode = !showLegalBLCode" class="legal-link"> {{showLegalBLCode ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showLegalBLCode" class="padding-bottom-large">
        <div class="padding-top-small">
          <code class=" language-markup border brand-magenta d-block">
            &lt;div class="legal-bold-link"> legal-bold-link &lt;div>
          </code>
        </div>
      </div>
    </div>
  </div>
</div>
