<div class="TMO-JOD-ENDING-SOON">
  <div class="container">
    <div class="row">
      <div class="col-12 Display3 text-center padding-vertical-medium">
        <div>Equipment installment</div>
        <div>plans & leases</div>
      </div>
    </div>
    <div class="row no-margin" *ngIf="balanceArray?.length > 0">
      <div class="col-12 col-md-10 offset-md-1 no-padding padding-vertical-xsmall bg-gray05">
        <div class="col-12 padding-vertical-xsmall">
          <span class="body-bold black">{{paymentTitle}}</span>
          <span class="body-bold black float-right">{{paymentAmt}}</span>
        </div>
        <div class="col-12" *ngFor="let balance of balanceArray;index as j">
          <div class="col-12 inset-divider-1px"></div>
          <div class="col-12 no-padding padding-vertical-xsmall">
            <a class="body-bold black text-decoration-underline" (click)="goTo(j)">{{balance.title}}</a>
            <div class="d-none d-md-inline-block pl-2">
              <span class="body black">{{balance.lease}}</span> |
              <span class="body black">{{balance.perMonth}}</span>
            </div>
            <span class="body-bold black float-right">{{balance.amount}}</span>
            <div class="col-12 no-padding d-md-none">
              <span class="body black">{{balance.lease}}</span> |
              <span class="body black">{{balance.perMonth}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-md-0 padding-top-medium">
    <div class="container">
      <main class="d-flex col-md-10 offset-md-1 px-0 justify-content-around-sm align-items-baseline">
        <div class="col-6 d-table-cell d-md-block text-center pl-2 pr-2 pl-md-0 pr-md-0 cursor" *ngFor="let status of statusArray,let i = index"
          [ngClass]="{'border-magenta':status.statusTabCheck}" (click)="activeTab(i)">
          <input id='{{status.tabTitle}}Tab' type="radio" name="tabs" class="d-none">
          <label for='{{status.tabTitle}}Tab' class="pr-2 pl-2 ml-0 body pb-3 text-center full-width cursor" [ngClass]="{'black body-bold':status.statusTabCheck}">{{status.tabTitle}}</label>
        </div>
      </main>
    </div>
    <span class="col-12 no-padding" *ngFor="let status of statusArray">
      <div *ngIf="status.statusTabCheck && status.tabTitle==='Active'">
        <!-- Active accordon code strts -->
        <span *ngIf="balanceArray?.length > 0">
          <div *ngFor="let item of JOD_Array; index as i;">
            <div class="bg-gray05">
              <div class="container">
                <div class="col-12 padding-top-small padding-bottom-small  no-padding" id={{i}}>
                  <p class="H6-heading col-md-10 offset-md-1 padding-horizontal-large-xs">{{item.heading}}</p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="col-12 col-md-10 offset-md-1 no-padding badge-height" *ngIf="item.badge_status==true">
                <div class="Rectangle d-flex" [ngClass]="{'badge-in':item.badge_status}">
                  <div class="padding-xsmall">
                    <div class="d-inline-block">
                      <div class="warning-white-outline"></div>
                    </div>
                    <div class="body white d-inline-block padding-horizontal-xsmall">{{item.badge_text}}</div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-10 offset-md-1 px-md-0">
                <app-eip-jod-blade [JOD_Array_Details]="item.details" [badge_status]="item.badge_status"></app-eip-jod-blade>
              </div>
            </div>
            <div class="col-12 no-padding">
              <div [ngClass]="{'inset-divider-4px': i != (JOD_Array.length - 1)}"></div>
            </div>
          </div>
        </span>
        <div class="col-12 col-md-8 offset-md-2 no-padding body text-center padding-top-medium padding-bottom-large" *ngIf="JOD_Array.length == 0">You don't currently have an active installment plan or lease. Check out all the latest phones and accessories</div>
        <div class="col-12 col-md-4 offset-md-4 no-padding px-md-1 text-center padding-bottom-small" *ngIf="JOD_Array.length == 0">
          <button class="PrimaryCTA full-btn-width w-100" appButtonripple>Shop now</button>
        </div>
      </div>
      <!-- Active accordon code ends -->
      <!-- Completed accordion starts -->
      <div *ngIf="status.statusTabCheck && status.tabTitle==='Completed'">
        <div *ngFor="let item of  JOD_Array_Completed; index as i;">
          <div class="bg-gray05">
            <div class="container">
              <div class="col-12 padding-top-small padding-bottom-small bg-gray05 no-padding" id={{i}}>
                <p class="H6-heading col-md-10 offset-md-1 padding-horizontal-large-xs">{{item.heading}}</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="col-12 col-md-10 offset-md-1 no-padding" *ngIf="item.badge_status==true">
              <div class="Rectangle d-flex padding-xsmall">
                <div class="warning-white-outline mt-1"></div>
                <div class="body white padding-horizontal-xsmall">{{item.badge_text}}</div>
              </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 px-md-0">
              <app-eip-jod-blade [JOD_Array_Details]="item.details"></app-eip-jod-blade>
            </div>
          </div>
          <div class="col-12 no-padding">
            <div [ngClass]="{'inset-divider-4px': i != (JOD_Array.length - 1)}"></div>
          </div>
        </div>
        
      </div>
      <!-- Completed accordion ends -->
    </span>
  </div>
  <div class="padding-bottom-medium">
  <div class="bg-gray10">
    <div class="container">
      <div class="row no-margin no-margin-xs padding-vertical-medium no-padding-xs">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="H6-heading px-lg-2">{{docTitle}}</div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-top-xsmall">
          <div class="body px-lg-2">{{docDetails}}
            <a class="body black text-decoration-underline cursor" href="">{{docLink}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>