@import "src/assets/scss/global-variables.scss";
.TMO-JOD-ENDING-SOON {
    .bg-gray05 {
        background-color: $gray05;
    }	    
	.Rectangle {
        width: 154px;
        background-image: linear-gradient( 125deg, #e8200d 85%,white 86%);
        background-image: -webkit-linear-gradient( -35deg, #e8200d 85%,white 86%);
        background: -ms-linear-gradient(right bottom, white  10%, #e8200d 11%);
       
      }
      @media #{$smartphones-sm},#{$smartphones-xs}
      {
      .no-margin-xs
      {
        margin-right: -15px;
        margin-left: -15px;
      }
      .badge-height{
        height: 36px;
        }
     }
     .badge-height{
        height: 41px;
     }
     .warning-white-outline{
        position: relative;
        top: 2px;
     }
}