<div class="TMO-PAYMENT-SYSTEM-ERROR">
  <div class="container">
    <!-- Add main content class as required for Button bottom alignment -->
    <div class="main">
      <div class="row">
        <div class="col-md-10 offset-md-1  Display3 text-center padding-top-large padding-bottom-small">
          <span tabindex="0" aria-label="System error">System error</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center padding-bottom-medium">
          <div class="warning-error d-inline-block" tabindex="0" aria-label="System error icon"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 no-padding-xs">
            <div class="full-bleed-divider"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 body black padding-top-small">
           <span tabindex="0" aria-label="We experienced a technical problem while processing your payment. Please wait a few moments and try again."> We experienced a technical problem while processing your payment. Please wait a few moments and try again.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-4 padding-top-xxl padding-bottom-xxl text-center">
        <button tabindex ="0" role="button" class="PrimaryCTA full-btn-width  w-288" appButtonripple aria-label="Click here to go back">Back</button> 
      </div>
    </div>  
  </div>
</div>  
