@import "src/assets/scss/global-variables.scss";
.TMO-PAYMENT-SYSTEM-ERROR{
    .w-288{
        width: 100%;
    }
    @media #{$smartphones-xs}, #{$smartphones-sm} {
        .main{
            min-height: calc(100vh - 112px);
        }
    }
   
}