<div class="TMO-LINE-DETAIL-NEW-PAGE">
  <div class=" container">
    <div class="row">
      <div class="col-12">
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-vertical-small-xs padding-vertical-small-sm padding-vertical-large">
          <div class="row align-items-center">
            <div class="col-7 col-md-8 p-l-0 Display4 text-wrap">
              <span tabindex="0" [attr.aria-label]="lineDetails.name" >
                {{lineDetails.name}}
              </span>
              <span>
                <img src="{{pencilImg}}" alt="" id="name" class="imgopacity ml-1 mb-1 mb-md-0 cursor" tabindex="0" (keydown.enter)="openEditModal()" (click)="openEditModal()" aria-label="Edit icon press enter to edit">
              </span>
                
            </div>
            <p class="col-5 col-md-4 body pt-md-3" x-ms-format-detection="none"> 
              <span class="float-right" tabindex="0" [attr.aria-label]="lineDetails.phone_number"> {{lineDetails.phone_number}}</span></p>
          </div>
          </div>

      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
      <!--- Title Section Ends -->

      <!--- Plan Section Starts -->
      <div class="col-12">
        <div class="col-10 offset-md-1 no-padding padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm Display5">
            <span tabindex="0"aria-label="Plan"> Plan </span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-md-10 offset-md-1 cursor" tabindex="0" aria-label="click to go to T-mobile One Tm">
        <div tabindex="-1"> 
          <span class="H6-heading float-left black no-padding padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm" 
          >T-Mobile
            <span class="brand-magenta"> One
              <sup class="legal brand-magenta font-10-sm">TM</sup>
            </span>
          </span>
          <span class="float-right Display6 d-inline-flex padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm align-items-center">
            <div class="pr-0 fa-lg">
              <span class="d-inline-block arrow-right"></span>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <!--- Plan Section Ends -->
    <!-- Device and Line usage starts -->
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 Display5 padding-vertical-small-xs
       padding-vertical-small-sm padding-vertical-medium"><span tabindex="0" aria-label="device">
          Device
       </span></div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row padding-top-medium"
     [ngClass]="{'padding-bottom-xl-md padding-bottom-xl-lg padding-bottom-xl-xl ': !deviceRestrictedDetails || deviceDetails, 'padding-bottom-medium-md padding-bottom-medium-lg padding-bottom-medium-xl ': deviceRestrictedDetails && !deviceDetails}"> 
      <div class="col-12 col-md-6 offset-md-1">       
        <div class="row">
            <div class="col-3 col-md-4 pull-left text-center text-left-sm text-left-xs padding-left-medium no-padding-sm">
                <img class="phone-icon" alt="" tabindex="0" src="assets/img/phone-image.png" aria-label="image">
              </div>
          <div class="col-7">
                 <div class="legal">
                <span tabindex="0" aria-label="IMEI # 2938472938472">IMEI # 2938472938472</span></div>
              <div class="Display5 padding-top-base"><span tabindex="0" aria-label="iPhone XS Max">iPhone XS Max</span></div>
              <div class="body"> 
                <span tabindex="0" aria-label="64GB Space Grey">
                  64GB • Space Grey
              </span></div>
              <div class="padding-top-medium">
                <p tabindex="0" aria-label="click here to go to Upgrade my device">
                  <span class="body brand-magenta cursor" >Upgrade my device </span>
                   <span class="arrow-right-magenta d-inline-block active margin-bottom-3"></span>
                  </p>                   
                </div>
          </div>         
        </div>
        <div class="row padding-top-medium visible-xs hidden-md">
            <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
                <div class="inset-divider-1px"></div>
              </div>
        </div>
      </div>
      <div class="col-12 col-md-5 pr-md-3 divider-left padding-top-medium-sm padding-top-medium-xs">
       <div class="">
          <div class="Display6"><span tabindex="0" aria-label="Device protection">Device protection</span></div>
          <div class="body padding-top-base"><span tabindex="0" aria-label="Protection 360">Protection &lt;360&gt; </span></div>
       </div>
       <div class="padding-top-small padding-bottom-medium-xs padding-bottom-medium-sm">
          <div class="Display6"><span tabindex="0" aria-label="Remaining balance">Remaining balance</span></div>
          <div class="body padding-top-base"><span tabindex="0" aria-label="$788.29 ($34.28/month)">$788.29 ($34.28/month) </span></div>
       </div>
   
      </div>
    </div>
     <!---lost or stolen Starts -->
     <div class="row" *ngIf="deviceDetails">
        <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
            <div class="inset-divider-1px"></div>
          </div>
    </div>
    <div class="row" *ngFor="let details of deviceDetails; let i= index;">       
      <div class="col-md-10 offset-md-1 cursor">
        <div class="row">
            
        <div class="col-10 col-md-11 d-flex"> 
            <span class="d-inline-block exclamation-error margin-auto cust-margin" tabindex="0" aria-label="warning icon"></span>          
              <div class="">
                <div class="legal padding-top-small padding-top-xsmall-sm padding-top-xsmall-xs"> 
                  <span tabindex="0" [attr.aria-label]="details.deviceStatus" >
                         {{details.deviceStatus}}</span></div>
                <div class="H6-heading  padding-top-base-md padding-top-base-lg padding-bottom-small padding-bottom-xsmall-xs padding-bottom-xsmall-sm">
                    <span tabindex="0" [attr.aria-label]="details.deviceResponse" >{{details.deviceResponse}}</span></div>
              </div>           
        </div>
        <div class="col-2 col-md-1">                          
                  <span class="float-right d-inline-flex padding-vertical-medium padding-vertical-small-sm padding-vertical-small-xs align-items-center">
                    <div class="pr-0 fa-lg">
                      <span class="d-inline-block arrow-right" tabindex="0" aria-label="right arrow"></span>
                    </div>
                  </span>               
          </div>
        </div>      
          
      </div>
      <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs" *ngIf="i< deviceDetails.length - 1">
        <div class="inset-divider-1px "></div>
      </div>
    </div> 
    <!--- lost or stolen Ends -->
<!-- Restricted starts -->
<div class="row" [ngClass]="{'padding-top-small': deviceRestrictedDetails}" *ngFor="let details of deviceRestrictedDetails">              
    <div class="col-md-10 offset-md-1 d-flex"> 
        <span class="d-inline-block warning-magenta-regular margin-auto cust-margin" tabindex="0" aria-label="warning icon"></span>                       
        <div class="Display6">
            <span tabindex="0" [attr.aria-label]="details.title" >{{details.title}}</span>
        </div>
    </div>     
    <div class="col-md-10 offset-md-1 ">
        <div class="body gray85 padding-top-medium padding-top-small-sm padding-top-small-xs padding-left-small-md">
          <span tabindex="0" [attr.aria-label]="details.description" >{{details.description}} </span>
        </div>
        <div>
            <div class="body gray85 padding-top-small padding-left-small-md">
                <span tabindex="0" [attr.aria-label]="details.subtitle" >{{details.subtitle}} </span>
              </div>
          <ul class="padding-top-xsmall padding-bottom-small-xs padding-bottom-small-sm padding-bottom-xl">               
            <li class="body gray85" *ngFor="let desc of details.list"><span tabindex="0" [attr.aria-label]="desc.content">
                {{desc.content}}
            </span></li>
          </ul>
        </div>
    </div>

</div>
<!-- ends -->
      <!--- Device Blade Section Starts -->
      <div class="row">
          <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
              <div class="inset-divider-1px"></div>
            </div>
      </div>
        <div class="row" *ngFor="let desc of deviceBlade; let i= index;">       
        <div class="col-md-10 offset-md-1 cursor" tabindex="0" [attr.aria-label]="'click here to go to' + desc.description">
          <span class="H6-heading float-left padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm">{{desc.description}}</span>
          <span class="float-right Display6 d-inline-flex padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm align-items-center">
            <div class="pr-0 fa-lg">
              <span class="d-inline-block arrow-right"></span>
            </div>
          </span>
        </div>
        <div class="col-12 col-md-10 offset-md-1 p-r-0-xs p-l-0-xs" *ngIf="i< deviceBlade.length - 1">
          <div class="inset-divider-1px "></div>
        </div>
      </div> 
      <!--- Device Blade Section Ends -->
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <div class="row" *ngFor="let val of usage">
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium cursor" 
      >
        <img class="signal-icon m-l-20-lg" alt="" tabindex="0" aria-label="signal icon" src="{{signalImg}}" />
        <span class="pl-3 pl-md-3 H6-heading" tabindex="0" [attr.aria-label]="val.title">{{val.title}}</span>
        <span class="float-right d-inline-flex align-items-center"  tabindex="0" [attr.aria-label]="val.val1 +val.unit1 + val.val2 +val.unit2 + val.val3 +val.unit3">
          <span class="pl-2 pl-md-3 body-bold black">{{val.val1}}</span>
          <span class="legal black m-t-3">{{val.unit1}}</span>
          <span class="pl-2 pl-md-3 body-bold black">{{val.val2}}</span>
          <span class="legal black m-t-3">{{val.unit2}}</span>
          <span class="pl-2 pl-md-3 body-bold black">{{val.val3}}</span>
          <span class="legal black m-t-3 p-r-8">{{val.unit3}}</span>
          <div class="pr-0 fa-lg">
            <span class="d-inline-block arrow-right "></span>
          </div>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <!-- Device and Line usage ends -->
    <!--Equipment financing and active add ons- start : Rajani-->
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="float-left Display5 padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium"
        ><span tabindex="0" [attr.aria-label]="eqFinancing">{{eqFinancing}} </span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center cursor">
        <div class="col-10 no-padding float-left padding-vertical-small-xs padding-vertical-small-sm py-md-4">
          <p class="H6-heading">
            <span tabindex="0" [attr.aria-label]="eqFinancingValues.mnthlyCharges">{{eqFinancingValues.mnthlyCharges}}</span></p>
          <p class="body black bold padding-top-xsmall-xs padding-top-xsmall-sm
           padding-top-small d-inline-block  col-12 no-padding">
           <span tabindex="0" [attr.aria-label]="eqFinancingValues.includes">{{eqFinancingValues.includes}}</span></p>
          <ul class="no-margin padding-top-xsmall padding-top-base-xs padding-top-base-sm m-l-li" *ngFor="let val of eqFinancingValues.includeValueList">
            <li class="body"><span tabindex="0" [attr.aria-label]="val">{{val}}</span></li>
          </ul>
        </div>
        <div class="col-2 no-padding">
          <span class="float-right Display6 d-inline-flex align-items-center" tabindex="0" aria-label="$30.00 right arrow">
            <span class="body-bold black p-l-16 p-r-8">$30.00</span>
            <div class="pr-0 fa-lg">
              <span class="arrow-right d-inline-block float-right "></span>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <div class="float-left Display5 padding-vertical-small-xs padding-vertical-small-sm 
        padding-vertical-medium">
        <span tabindex="0" [attr.aria-label]="addon"> {{addon}} </span></div>
      </div>
      <div class="col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row" *ngFor="let val of addonValues">
      <div class="col-12 col-md-10 no-padding offset-md-1 padding-xs">
        <div class="row no-margin">
          <div class="col-12 px-md-0 padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium cursor"
           tabindex="0" [attr.aria-label]="'click here to go to' + val.descTitle + val.value">
            <span class="float-left H6-heading">{{val.descTitle}}</span>
            <span class="float-right d-inline-flex align-items-center">
              <span class="body-bold black p-l-16 p-r-8">{{val.value}}</span>
              <div class="pr-0 fa-lg">
                <span class="d-inline-block arrow-right"></span>
              </div>
            </span>
          </div>
        </div>
        <!--<paymentblade [title]="val.descTitle" [titleClass]="'H6-heading padding-bottom-base-xs padding-bottom-base-sm 
        padding-vertical-xsmall-md padding-vertical-xsmall-lg padding-vertical-xsmall-xl'" [showArrow]=true [invertColor]=true [card]="val.value" [topDivider]="val.topDivider"
          [cardNumberClass]="'body-bold padding-top-base-xs padding-bottom-base-xs padding-top-base-sm
           padding-bottom-base-sm padding-vertical-xsmall-md padding-vertical-xsmall-lg padding-vertical-xsmall-xl'" [bottomDivider]="val.bottomDivider"></paymentblade>-->

      </div>
      <div class="col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 padding-vertical-medium-xs padding-vertical-medium-sm padding-vertical-xl text-center">
        <button class="SecondaryCTA blackCTA full-btn-width" appButtonripple>Manage add-ons</button>
      </div>
      <div class="col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <!--equipment financing and active add ons- end : Rajani -->
    <!-- settings starts -->
    <div class="row">
      <div class="col-12">
        <div class="col-10 offset-md-1 no-padding padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm Display5">
          <span tabindex="0" aria-label="Settings">Settings</span></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="padding-top-medium padding-top-small-xs padding-top-small-sm col-md-10 offset-md-1 d-flex align-items-center cursor outline "
        routerLink='' routerLinkActive="active" tabindex="-1">
        <div class="col-10 no-padding float-left padding-bottom-medium padding-bottom-small-xs padding-bottom-small-sm">
          <p class="Display6">  <span tabindex="0" [attr.aria-label]="settings.title">{{settings.title}}</span></p>
          <p class="legal padding-top-xsmall col-12 no-padding d-md-none"> <span tabindex="0" [attr.aria-label]="settings.desc">{{settings.desc}}</span></p>
          <p class="body padding-top-xsmall col-12 no-padding d-none d-md-block"> <span tabindex="0" [attr.aria-label]="settings.desc">{{settings.desc}}</span></p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right" tabindex="0" aria-label="right arrow"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <!--- Settings Section Ends -->

    <!--- "Do you need help?" Section Starts -->
    <div class="row">
      <div class="col-12">
        <div class="col-10 offset-md-1 no-padding padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm Display5">
         <span tabindex="0" aria-label="Do you need help?">Do you need help?</span></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-md-10 offset-md-1 cursor" tabindex="0" aria-label="click to go to contact us">
        <span class="Display6 float-left black padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm">Contact us</span>
        <span class="float-right Display6 d-inline-flex padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm align-items-center">
          <div class="pr-0 fa-lg">
            <span class="d-inline-block arrow-right"></span>
          </div>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3 p-b-80">
        <div class="inset-divider-1px "></div>
      </div>
    </div>
    <!--- "Do you need help?" Section Ends -->

    <div class="dialog-container">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}" [tabindex]="visible?0:-1"
      id="editNameModal" (keydown)="backTabEvent($event,'editNameModal','editModalCancelBtn')" (keydown.escape)="close()">
        <div class="col-12 no-padding d-flex justify-content-between padding-bottom-large padding-bottom-small-sm padding-bottom-small-xs">
          <p class="Display4"> <span [tabindex]="visible?0:-1" aria-label="Edit name">Edit name</span></p>
          <p class="body pt-md-3" x-ms-format-detection="none"><span [tabindex]="visible?0:-1" [attr.aria-label]="lineDetails.phone_number">{{lineDetails.phone_number}}</span></p>

        </div>
        <form #EditForm="ngForm">

          <div class="padding-bottom-medium">
            <div class="col-12 no-padding ">
              <div class="floatingLabel no-padding">
                <input [tabindex]="visible?0:-1" type="text" id="firstName" appClearInput minlength="3" maxlength="50" pattern="[a-zA-Z\s\-\.]*" name="firstName"
                  class="input body black " [(ngModel)]="editName.firstName" required #firstName="ngModel" [ngClass]="{'border-red':firstName.invalid && !firstName.pristine && !firstName.errors?.required}">
                <label for="firstName" class="labelpointer" [ngClass]="[(firstName.invalid && !firstName.pristine && !firstName.errors?.required) ? 'legal color-red redClass' : '',
                    (!firstName.invalid )   ? 'legal ' : '',
                    ( firstName.errors?.required ) ? 'legal' : '']">First name</label>
                <div class="input-animation"></div>
              </div>
            </div>
            <div class="col-12 no-padding pull-left">
              <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="firstName.errors?.required && firstName.touched">
                Please enter first name
              </p>
              <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="firstName.errors?.pattern || firstName.errors?.minlength">
                Enter a valid name
              </p>
              <span class="pull-right " *ngIf="firstName.invalid  && !firstName.pristine && !firstName.errors?.required  || firstName.errors?.required && firstName.touched">
                <i class="errormessageimg warning-red-outline-12 pull-right"></i>
              </span>
            </div>
          </div>
          <div class="padding-bottom-medium">
          <div class="col-12 no-padding">
            <div class="floatingLabel no-padding">
              <input [tabindex]="visible?0:-1" type="text" id="lastName" appClearInput minlength="3" maxlength="50" pattern="[a-zA-Z\s\-\.]*" 
              name="lastName" class="input body black " [(ngModel)]="editName.lastName" required #lastName="ngModel" [ngClass]="{'border-red':lastName.invalid && !lastName.pristine && !lastName.errors?.required}">
            <label for="lastName" class="labelpointer" [ngClass]="[(lastName.invalid && !lastName.pristine && !lastName.errors?.required) ? 'legal color-red redClass' : '',
                (!lastName.invalid )   ? 'legal' : '',
                ( lastName.errors?.required ) ? 'legal' : '']">Last name</label>
            <div class="input-animation"></div>
            </div>
          </div>
          <div class="col-12 no-padding pull-left">
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="lastName.errors?.required && lastName.touched">
              Please enter Last name
            </p>
            <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="lastName.errors?.pattern || lastName.errors?.minlength">
              Enter a valid name
            </p>
            <span class="pull-right " *ngIf="lastName.invalid  && !lastName.pristine && !lastName.errors?.required  || lastName.errors?.required && lastName.touched">
              <i class="errormessageimg warning-red-outline-12 pull-right"></i>
            </span>
          </div>
          </div>
          <div class="mx-md-0 text-right">
            <div class="col-12 no-padding padding-left-xsmall ">
              <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple [disabled]="EditForm.form.invalid" (click)="save()" [tabindex]="visible?0:-1" aria-label="click to go to save"> Save</button>
              <button class="SecondaryCTA-accent blackCTA pull-right" id="editModalCancelBtn" appButtonripple (click)="close()" [tabindex]="visible?0:-1" aria-label="click to go to Cancel">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
  </div>
</div>
