@import "src/assets/scss/global-variables.scss";
.TMO-LINE-DETAIL-NEW-PAGE {
// Device and Line usage starts
.phone-icon{
    width: 93px;
}
.margin-bottom-3 {
    margin-bottom: -3px;
}
.hidden-md {
    display: none;
}
.cust-margin {
    margin-right: 18px;
    margin-left: 18px;
}

@media  #{$smartphones-sm} {
        .m-r-15-xs
        {
margin-right: 15px;
        }
        .m-l-15-xs
        {
margin-left: 15px;
        }
    }
@media #{$smartphones-xs},
    #{$smartphones-sm} {
       
    .phone-icon{
        width:68px;
    }
    .text-center-xs{
        text-align: center;
    }
    .font-10-sm{
        font-size:6px;
    }
    .visible-xs {
        display: block;
    }
    .cust-margin {
        margin-left: 0px;      
    }
   
    }
    /*.arrow-right{
        filter: invert(1);
    }*/
    .m-t-3{
        margin-top:3px;
    }
    .signal-icon{
        width: 13px;
        height: 14px;
        margin-bottom:6px;
    }
    .p-b-80{
        padding-bottom:80px;
    }
    @media #{$alldeviceexceptsmartphone} {
        .no-margin-xs
    {
        margin: 0;
    }
    .font-10-sm {
        font-size: 10px;
    }

    .padding-xs {
        padding-left: 15px;
        padding-right: 15px;
    }
    .m-l-20-lg{
        margin-left:20px;
    }
    .divider-left{
            border-left: 1px solid $gray20;
    }
    .pull-right-md {
        float: right;
    }
    .padding-left-small-md {
        padding-left: 16px;
    }
    }
    .bold{
        font-weight: bold;
    }
    .m-l-li{
        margin-left: -16px;
    } 
    .dialog { 
        @media #{$tablets-md},#{$desktops-lg},
            #{$desktops-xl}{
                max-width: 450px;
        }
    }
    .text-wrap {
        word-wrap: break-word;
    }
    .f-size24 { 
        font-size: 24px;
    }

    form input[type="text"]:valid + label 
    {
        top: 35%;
        margin-top: -16px;
        color: #6a6a6a;
    }
    form input[type="text"]:focus + label
    {
        top: 35%;
        margin-top: -16px;
        color:#e20074 !important;
    }
    @media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) { 
        .dialog { 
            top: 25%; 
        } 
    } 
    .exclamation-error{
        margin-top: auto;
        margin-left:0px;
    }
    .imgopacity
    {
        opacity: 0.2;
    }
    .input {
        caret-color: $brand-magenta;
        letter-spacing: $zero;
      }
      .errormessageimg {
          right: 0px;
      }
} 
