<div class="TMO-LINE-SETTINGS-PERMISSIONS">
  <div class="container">
    <div class="row padding-top-large-xs padding-top-large-sm padding-top-xl">
      <div class="col-12 ">
        <p class="Display3 text-center">Permissions</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
        <p class="legal pb-1">{{subTitle}}</p>
        <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
          <div id="model" class="dropdown-toggle" >
            <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
            <span class="arrow-down pull-right mt-1"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="model">
            <li role="menuitem" class="dropdown-option body mx-1">
              <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
                (click)="select(state.name)">
                <a> {{state.name}} </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-large padding-bottom-medium-xs padding-bottom-medium-sm">
        <p class="padding-top-xsmall Display6">Set the level of account access for this user:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 verticalAlign padding-top-xsmall" tabindex=0>
        <div class="body radio-container">
          <input type="radio" id="Full Access" name="selector">
          <label for="Full Access">Full Access</label>
          <div class="check"></div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 verticalAlign padding-top-xsmall" tabindex=0>
        <div class="body radio-container">
          <input type="radio" id="Standard Access" name="selector">
          <label for='Standard Access'>Standard Access</label>
          <div class="check"></div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 verticalAlign padding-top-xsmall" tabindex=0>
        <div class="body radio-container">
          <input type="radio" id="Restricted Access" name="selector">
          <label for="Restricted Access">Restricted Access</label>
          <div class="check"></div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 verticalAlign padding-top-xsmall" tabindex=0>
        <div class="body radio-container">
          <input type="radio" id="No Access" name="selector" checked>
          <label for="No Access">No Access</label>
          <div class="check"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-top-medium" tabindex=0>
        <p class="body-link cursor padding-bottom-small" *ngIf="!showPermissions" (click)="showPermissions = !showPermissions">Show Permission Levels</p>
        <p class="body-link cursor padding-bottom-medium" *ngIf="showPermissions" (click)="showPermissions = !showPermissions">Hide Permission Levels</p>
      </div>
    </div>
    <div class="row" *ngIf="showPermissions">
      <div class="col-12 col-md-10 offset-md-1">
        <p class="Display6 black">What are permissions?</p>
        <p class="body padding-top-small">Permissions control activities such as viewing billing information, changing services, or making purchases.</p>
        <p class="Display6 black padding-vertical-small">Permission Levels</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
        <p class="body black">Primary Account Holder</p>
        <p class="body padding-top-xsmall">You can manage the account and all lines on the account. You are able to use stored payment methods. You can also
          set permissions for other people on the account.</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
        <p class="body black">Full Access</p>
        <p class="body padding-top-xsmall">You can manage the account and all lines on the account. You are able to use stored payment methods</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
        <p class="body black">Standard Access</p>
        <p class="body padding-top-xsmall">You can see basic account information and details about your own line. You are not able to use stored payment methods.
          You cannot make account changes or changes to any line (including your own).</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
        <p class="body black">Restricted Access</p>
        <p class="body padding-top-xsmall">You can see basic account information and a usage summary for your own line. You are not able to use stored payment
          methods. You cannot make account changes or changes to any line (including your own).</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-small">
        <p class="body black">No Access</p>
        <p class="body padding-top-xsmall">You don’t have access to My T-Mobile.</p>
      </div>
    </div>
    <div class="row no-padding  padding-vertical-xl padding-vertical-large-xs padding-vertical-large-sm">
      <div class="col-12 col-md-10 offset-md-1 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Save changes</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple (click)="gotopreviouspage()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>