@import "src/assets/scss/global-variables.scss";
.TM0-REVIEW-AUTOPAY-ALREADY-ON-PAGE { 
    @media only screen and (max-width: 575px) and (min-width: 320px){
        .text-center-xsmall {
            text-align: center;
        }
    }
    @media #{$alldeviceexceptsmartphone}{
        .btn-wd{
            width:288px;
        }
    }
}
