<div class="TM0-REVIEW-AUTOPAY-ALREADY-ON-PAGE">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-0 Display3 padding-top-large padding-bottom-medium padding-top-xxl-md padding-bottom-small-md padding-top-xxl-lg padding-bottom-small-lg padding-top-xxl-xl padding-bottom-small-xl">Review</p>
      </div>
      <div class="col-10 offset-1 col-md-10 offset-md-1 body padding-bottom-xsmall-sm padding-bottom-xsmall-xs text-center-xs text-center-xsmall">
        Here’s the breakdown for migrating your existing lines and services to this plan.
      </div>
    </div>
    <app-plan-comparision-blade [reviewDetails]=reviewDetails></app-plan-comparision-blade>
    <div class="row">
      <div class="col-12 text-center padding-top-large">
        <p class="H4-heading">Your next bill will increase</p>
        <p class="padding-top-medium Display3">$X.XX / mo</p>
        <p class="padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm legal-bold black">with AutoPay</p>
      </div>
      <div class="offset-md-3 col-md-6 text-center-md text-center-lg text-center-xl padding-top-large">
        <span class="legal">Your current plan may include promotions, that are not applicable to your a new plan.</span>
      </div>
      <div class="offset-md-3 col-md-6 text-center-md text-center-lg text-center-xl padding-top-small-xs padding-top-small-sm padding-top-medium">
        <span class="legal">
            By clicking Agree and Submit, I agree that (a) my Agreement with T-Mobile includes the Service Agreement, any terms specific
            to my Rate Plan, and T-Mobile's Terms & Conditions; (b) T-Mobile requires Arbitration of Disputes unless I previously
            opted out per T-Mobile's Terms & Conditions; and (c) I accept T-Mobile's Electronic Signature Terms.
          </span>
      </div>
      <div class="col-12 text-center padding-top-medium padding-top-large-sm padding-top-large-xs">
        <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
                <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left btn-wd" appButtonripple>Agree & Submit</button>
            </div>
            <div class="col-12 col-md-6  float-md-left pl-md-0 ">
                <button class="SecondaryCTA blackCTA button-wd full-btn-width float-md-right float-lg-right float-xl-right btn-wd" appButtonripple>Cancel</button>
            </div>
        </div>
    </div>
    
      <div class="offset-md-3 col-md-6 text-center-md text-center-lg text-center-xl padding-top-xxl padding-bottom-xl">
        <span class="legal">On all T-Mobile plans, during congestion, the small fraction of customers using >50GB/mo. may notice reduced speeds
            until next bill cycle due to data prioritization.</span>
      </div>
    </div>
  </div>
</div>