<div class="TMO-P360-SCARY-MODAL-PAGE">
  <div class="container" id="conflictModalPage">
    <div class="row padding-vertical-xxl">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
        <button class="SecondaryCTA" appButtonripple  tabindex="0" (click)="openEditModal()">P360 Scary Modal</button>
      </div>
    </div>
    <div class="dialog-container">
      <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}" id="editScaryModal" (keydown)="backTabEvent($event,'editScaryModal','scaryModalBtnId')" (keydown.escape)="close()" tabindex="-1">
        <div class="row no-margin text-center padding-horizontal-medium">
          <span mat-dialog-title class="col-12 no-padding black Display5"  [tabindex]="visible ? 0 : -1" aria-label="Are you sure? Protection<360> covers loss, theft, accidental damage, and hardware service issues">Are you sure? Protection<360> covers loss, theft, accidental damage, and hardware service issues.</span>
        </div>
        <div class="row no-margin padding-top-small">
          <div class="col-12 no-padding text-center body gray85" [tabindex]="visible ? 0 : -1" aria-label="Protection<360> gives you peace of mind by protecting your device against these common occurrences. Without it, you may have to pay full price for a new device.">Protection<360> gives you peace of mind by protecting your device against these common occurrences. Without it, you may have to pay full price for a new device.</div>
        </div>
        <div class="row no-margin padding-top-medium">
          <div class="col-12 d-flex boxStyle padding-vertical-small padding-horizontal-medium padding-horizontal-small-sm padding-horizontal-small-xs">
              <div class="p-r-24">
                  <span class="phoneImg d-inline-block" aria-label="phone image" [tabindex]="visible ? 0 : -1"></span>
              </div>
              <div class="">
                  <div class="body-bold brand-magenta"><span [tabindex]="visible ? 0 : -1" aria-label="Did you know…">Did you know…</span></div>
                  <div class="body gray85"><span [tabindex]="visible ? 0 : -1" aria-label="Two out of three T-Mobile customers have damaged, lost, or broken a device.">Two out of three T-Mobile customers have damaged, lost, or broken a device.</span></div>
                    <div class="legal gray85"><span [tabindex]="visible ? 0 : -1" aria-label="Source: Assurant wireless benchmarking research, July 2017.">Source: Assurant wireless benchmarking research, July 2017.</span></div>
                  </div>
          </div>   
          </div>
        <div class="row mx-0 padding-top-xl">
          <div class="col-12 no-padding">
                <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" [tabindex]="visible ? 0 : -1" appButtonripple (click)="close()" aria-label="Protect my device" id="scaryModalBtnId">Protect my device</button>
                <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple [tabindex]="visible ? 0 : -1" (click)="close()" aria-label="No thanks">No thanks</button>
          </div>
        </div>
      
        </div>
    </div>
    <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
  </div>
  </div>