@import "src/assets/scss/global-variables.scss";
.TMO-P360-SCARY-MODAL-PAGE{
    .phoneImg {
        background: url('../../../../assets/img/SVGs/Icons/cracked-phone.svg') no-repeat;
        width: 40px;
        height: 69px;
    } 
    .boxStyle{
        border:1px solid #e8e8e8;
        border-left: 4px solid #e20074;
    }
    .p-r-24{
        padding-right: 24px;
    }
    .dialog{
        
        @media #{$minismartphones-xs} {
           left:5px;
           right:5px;
        }
    }
}
