@import "src/assets/scss/global-variables.scss";
.TMO-PAYMENT-RECEIPT{
@media #{$smartphones-xs}, #{$smartphones-sm} {
    .payment-align-xs {
      width: 290px;
      margin: auto;
    }
  }
  .textalign{
  @media #{$tablets-md} {
        width: 780px;
        padding-left: 40px;
    }
    @media #{$desktops-lg}{
      width: 930px;
      padding-left: 140px;
    }
    @media #{$desktops-xl} {
      width: 1082px;
      padding-left: 220px;
    }
  }
  @media #{$alldeviceexceptsmartphone} {
    .display-flex-md{
      display: flex;
    }
  }

  
}