<div class="TMO-PAYMENT-RECEIPT">
<div class="bg-white">
    <div class="container">
        <app-header></app-header>
          <div class="col-12 padding-top-xl  text-center ">
            <div class="Display3"> Payment Receipt </div>
          </div>
          <div class="col-12 padding-top-large padding-bottom-xl  text-center ">
            <div class="Display5"> Thanks for your payment!</div>
          </div>
          
          <div class="no-padding  payment-align-xs textalign display-flex-md">
            <div class=" col-md-6 no-padding ">
              <p class="body-bold black"> New payment posted:<span class="body black"> $147.10 </span></p>
              <p class="body-bold black"> Date:<span class="body black"> 12/21/17 </span></p>
              <p  class="body-bold black">Paid with: <span class="visa-icon vertical-align-middle"></span><span class="body black padding-horizontal-xsmall">****1234</span> </p>
            </div>

            <div class=" col-md-6 no-padding padding-top-large-xs padding-top-large-sm padding-bottom-large">
                <p class="body-bold black"> Reference number:<span class="body black"> 12345678910 </span></p>
                <p class="body-bold black"> Transaction type:<span class="body black"> Bill Payment </span></p>
                <p class="body-bold black"> T-Mobile account #:<span class="body black"> 12345678910 </span></p>
            </div>
            
          </div>
          <div class="no-padding  payment-align-xs textalign padding-bottom-large">
              <div class=" col-md-6 no-padding ">
                <p class="body black">Equipment installment description</p>
                <p class="body-bold black">EIP Plan ID:<span class="body black"> 1234567 </span></p>
                <p class="body black">Samsung Galaxy S 6 - Black Sapphire - 64GB </p>
                <p class="body black ">IMEI: XXXXXXXXXXXXXXX</p>
              </div>  
          </div>
          <div class="no-padding  textalign padding-bottom-large hidden-sm-down">
              <div class=" col-12 no-padding">
                <p class="body-bold brand-magenta">T-mobile Customer Care 123-456-7890 </p>
              </div>  
          </div>
          <div class="no-padding  payment-align-xs  padding-bottom-large hidden-sm-up">
              <div class=" col-12 no-padding">
                <p class="body-bold brand-magenta">T-mobile Customer Care 123-456-7890 </p>
                
              </div>  
          </div>
          
    </div>
    </div>
  </div>
    
    