<div class="TMO-REVIEW-NOPAYMENT">
  <div class=" container">
    <app-header></app-header>
      <div class="row padding-top-large-xs padding-top-large-sm padding-vertical-xl">
        <div class="col-12 col-md-10 offset-md-1 text-center">
          <p class="Display3 mb-0">Review</p>
        </div>
      </div>
      <div class="row padding-bottom-xsmall-xs padding-bottom-xsmall-sm padding-bottom-small">
        <div class="col-12 col-md-10 offset-md-1">
          <p class="pull-left H6-heading pull-left mb-0 ">Starts immediately</p>
        </div>
      </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
          <div class="inset-divider-1px"></div>
      </div>
      </div>
      <div class="row padding-top-small" *ngFor="let noPaymentValue of noPaymentValues">
        <div class="col-12 col-md-10 offset-md-1">
          <span class="pull-left Display6">{{noPaymentValue.descTitle}}</span>
          <span class="pull-right  H6-heading">{{noPaymentValue.value}}</span>
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-top-xsmall padding-bottom-small">
          <span class="pull-left  body">{{noPaymentValue.perMonth}}</span>
          <span class="pull-right  legal">{{noPaymentValue.tax}}</span>
        </div>
            <div class="col-12 col-md-10 offset-md-1">
          <div class="inset-divider-1px"></div>
      </div>
      </div>
      <div class="row padding-vertical-small">
        <p class="col-12 col-md-10 offset-md-1 body mb-0">Your monthly bill will increase by {{incVal}}. Charges for the current month will also be applied to your next bill.</p>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <span class="legal d-inline-block">
            By clicking Agree and Submit, I gree that (a) my Agreement with T-Mobile includes the Service Agreement, any terms specific
            to my Rate Plan, and T-Mobile's Terms & Conditions; (b) T-Mobile requires Arbitration of Disputes unless I previously
            opted per T-Mobile's Term & Conditions; and (c) I accept T-Mobile's Electronic Signature Terms.
          </span>
        </div>
      </div>
      <div class="row padding-top-small-xs padding-top-small-sm padding-top-xl padding-bottom-large">
        <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-md-0">
            <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Agree and submit</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-md-0">
            <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
          </div>
        </div>
    </div>
  </div>
</div>