@import "src/assets/scss/global-variables.scss";
.TMO-REVIEW-ORDER-PAGE{
    .bold{
        font-weight: bold;
    }
    @media #{$smartphones-xs} {
            .p-t-0-xs {
                padding-top: 0px;
            }        
                
            }

            @media #{$smartphones-xs}, #{$smartphones-sm}{
                .full-btn-width-xs {
                    width: 100%;
                    max-width: 100%;
                }  
            }

            .disclaimer-lineheight {
                line-height: 12px;
            }
}