<div class="TMO-REVIEW-ORDER-PAGE">
  <div class=" container">
    <app-header></app-header>
    <div class="col-md-10 offset-md-1 no-padding unset">
      <div class="row padding-top-large">
        <div class="col-12 text-center">
          <span class="Display3" tabindex="0" aria-label="Review your order">Review your order</span>
        </div>
        <div class="col-12 text-center padding-top-xsmall">
          <span class="body" tabindex="0" aria-label="for (206) 354-4149">For
            <a class="body">(206) 354-4149</a>
          </span>
        </div>
      </div>
      <div class="row">
        <span class="col-12 padding-vertical-medium">
          <span class="pull-left H6-heading pull-left" tabindex="0" aria-label="New add-ons">New add-ons</span>
        </span>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="padding-top-small">
        <div class="row black">
          <div class="col-12 no-padding d-flex" (click)="detailsPayment()">
            <div class="col-8 col-sm-9 col-lg-10 pr-0 d-inline-flex align-items-baseline">
              <span class="pull-left Display6" tabindex="0" aria-label="On-Network Data 1 Day-500MB">On-Network Data 1 Day-500MB</span>
            </div>
            <div class="col-3 col-sm-2 col-lg-1" tabindex="0" aria-label="$5.00 plus Tax">
              <div><p class="H6-heading">$5.00</p></div>
              <div><p class="legal black padding-top-xsmall">+ Tax</p></div>
            </div>
            <div class="col-1  pl-0" >
              <span class="pull-right cursor arrow-down" aria-label="click for more details" (keydown.enter)="detailsPayment()" tabindex="0" [ngClass]="{'arrow-down arrowdown_rotation':!showDetails, 'arrow-up arrowup_rotation':showDetails}"></span>
            </div>
          </div>        
        </div>
        <div class="accordion-content" [ngClass]="{'content-open':showDetails}" aria-live="assertive">
          <div class="row body padding-bottom-medium padding-top-small" [attr.aria-hidden]="!showDetails">
            <div class="col-8">
              <span class="body pull-left" [tabindex]="showDetails ? 0 : -1" aria-label="Provides up to 500MB of high speed data for 24 hours. Smartphone Mobile Hotspot included. Additional passes can be purchased as needed once this single use pass expires.">Provides up to 500MB of high speed data for 24 hours. Smartphone Mobile Hotspot included. Additional passes can be purchased as needed once this single use pass expires.
              </span>
            </div>
          </div>
        </div>
        <div class="row no-padding">
          <div class="col-12">
            <span class="body" tabindex="0" aria-label="Immediately">Immediately </span>
            <a class="body-link cursor text-decoration-underline" (keydown.enter)="viewDatePicker()" (click)="viewDatePicker()" tabindex="0" aria-label="Change date">Change date</a>
            <div class="date-picker" aria-hidden="true"><app-datepicker class="datepick" tabindex="0" [parentTitle]="'Pick a Date'" [parentShowSubTitle]=false  
            (callBackValue)='handleCallBack($event)' [visible]="datePicker" [parentColumn]=false *ngIf="datePicker"></app-datepicker>
          </div>
          </div>
          <div class="col-12 padding-top-small">
            <div class="inset-divider-4px"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 padding-top-small">
          <span class="legal d-inline-block" tabindex="0" aria-label="By clicking Agree and Submit, I agree that (a) my Agreement with T-Mobile includes the Service Agreement, any terms specific
          to my Rate Plan, and T-Mobile's Terms & Conditions; (b) T-Mobile requires Arbitration of Disputes unless I previously
          opted out per T-Mobile's Terms & Conditions; and (c) I accept T-Mobile's Electronic Signature Terms; (d) I agree to receive SMS messages 
          from T-Mobile about my add-on purchase, including re-order information.">
            By clicking Agree and Submit, I agree that (a) my Agreement with T-Mobile includes the Service Agreement, any terms specific
            to my Rate Plan, and T-Mobile's Terms & Conditions; (b) T-Mobile requires Arbitration of Disputes unless I previously
            opted out per T-Mobile's Terms & Conditions; and (c) I accept T-Mobile's Electronic Signature Terms; (d) I agree to receive SMS messages 
            from T-Mobile about my add-on purchase, including re-order information.
          </span>
        </div>
      </div>
      <div class="row padding-top-large">
        <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-md-0">
            <button class="PrimaryCTA float-md-left float-lg-left full-btn-width-xs float-xl-left" appButtonripple routerLink="/"
              routerLinkActive="active" tabindex="0" role="button" aria-label="click to Agree and submit">Agree & submit</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-md-0">
            <button tabindex="0" class="SecondaryCTA blackCTA float-md-right full-btn-width-xs float-lg-right float-xl-right" aria-label="click  to cancel" role="button" appButtonripple>Cancel</button>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-12 padding-vertical-xl">
            <p class="disclaimer-lineheight">
                  <span class="legal" tabindex="0"  aria-label="During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds.">
                    During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds. </span> <span class="legal-link cursor" routerlink="/"  tabindex="0"  role="link" aria-label="See full terms" >See full terms</span>
                  </p>
          </div>
        </div>
    </div>
  </div>
</div>