.TMO-ALERTS-AND-NOTIFICATIONS-COMPONENT{
    .z-index-0 {
        z-index: 0;
    }
    @-webkit-keyframes slideToTop {
        0% {top: 1px;
            top: 0px;
            -webkit-animate-timing-function: ease-in;
            -webkit-animation-iteration-count: 1;
        }
    }
    @keyframes slideToTop {
        from  {
            transform: translateY(1%);
            -ms-transform: translateY(1%);
            -webkit-transform: translateY(1%);
        }
        to {
            transform: translateY(0%);
            -ms-transform: translateY(0%);
            -webkit-transform: translateY(0%);
        }
        }
        .slide-main-content{
            -webkit-animation-name: slideToTop;
            -webkit-animation-duration: 1s;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: 1;
            animation: 260ms ease-out 0s 1 slideToTop;	
        }
}