.TMO-LOADER-SPINNER-V2 {
    @import "src/assets/scss/global-variables.scss";
   
.spinner2 {
  display: inline-block;
  position: relative;
  width: 58px;
  height: 58px;
 
}
.spinner2 div {
  position: absolute;
 width:7px;
          height:7px;
          border-radius:50%;
  background: #e20074;

animation: spinner2 .9s  infinite;
}
.spinner2 div:nth-child(1) {
  animation-delay: 0s;
  left:9px;
  top:20px;
}
.spinner2 div:nth-child(2) {
  animation-delay: -0.7s;
  left:15px; 
   top:6px;
}
.spinner2 div:nth-child(3) {
  animation-delay: -0.6s;
  top:0px;
  left:28px;
}
.spinner2 div:nth-child(4) {
  animation-delay: -0.5s;
  right:11px;
                top:6px;
}
.spinner2 div:nth-child(5) {
  animation-delay: -0.4s;
  right:5px;
  
                top:19px;
}
.spinner2 div:nth-child(6) {
  animation-delay: -0.3s;
  right:8px;
  bottom:18px;
}
.spinner2 div:nth-child(7) {
  animation-delay: -0.2s;
  left:28px;
  bottom:11px;
}
.spinner2 div:nth-child(8) {
  animation-delay: -0.1s;
  left:14px;
  bottom:17px;
}


@keyframes spinner2 {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
} 
}    