<div class="TMO-LOADER-SPINNER-V2">
  <div *ngIf="showLoaderV2" [ngClass]="{'spinner-loader-background': noOverlayV2,'spinner-loader-background-none': !noOverlayV2}" >
    <div class="drg-spinner-large">
        <div class="spinner2"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>