<div class="TM0-PLAN-CONFIRMATION-UPDATED-PAGE">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 no-padding">
          <div class="col-12 text-center padding-top-xxl padding-top-xl-sm padding-top-xl-xs">
            <img class="img-height" src="./assets/img/SVGs/Icons/Check.svg" tabindex="0" aria-label="Check mark image">
          </div>
        <div class="padding-top-xxl padding-top-xl-sm padding-top-medium-xs">
          <div class="col-12 Display3 text-center" tabindex="0" role="title" [attr.aria-label]="'Thanks,'+ planConfirmationData?.userName + 'Your plan change is in progress.'">
            <p>Thanks, {{planConfirmationData?.userName}}</p>
            <p>Your plan change is in progress.</p>
          </div>

        </div>
        <div class="padding-top-medium-xs padding-top-medium-sm padding-top-xxl">
          <div class="col-12 no-padding-xs">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row no-margin" tabindex="-1">
          <div  role="application" aria-live="assertive" tabindex="-1" class="col-12 body-bold cursor padding-vertical-medium padding-vertical-small-sm padding-vertical-small-xs  d-flex align-items-center justify-content-between"
            (click)="detailsPayment()" (keydown.enter)="detailsPayment()">
            <span class="pull-left black Display6" tabindex="0"  aria-label="Change plan details">Change plan details </span>
            <span class="pull-right arrow-down" tabindex="0" [ngClass]="{'arrow-down arrowdown_rotation':!showDetails, 'arrow-up arrowup_rotation':showDetails}"
              aria-label="click for more details"></span>
          </div>
        </div>
        <div class="accordion-content" [ngClass]="{'content-open max-height-600':showDetails}" role="region" aria-live="assertive">
          <div>
            

              <div class="row no-margin body" *ngFor="let addOns of planConfirmationData?.addOnItems; let i = index;">
                  <div class="col-12" >
                    <div class="inset-divider-1px"></div>
                  </div>
                  <div class="col-12 padding-top-medium padding-top-small-sm padding-top-small-xs" [attr.aria-hidden]="!showDetails">
                    <span class="pull-left Display6" [tabindex]="showDetails? 0 : -1" [attr.aria-label]="addOns.descTitle">{{addOns.descTitle}}</span>
                  </div>
                  <div class="col-12 d-flex align-items-center justify-content-between padding-top-xsmall padding-bottom-medium padding-bottom-small-sm padding-bottom-small-xs" [attr.aria-hidden]="!showDetails">
                    <span class="black body" [tabindex]="showDetails? 0 : -1" [attr.aria-label]="addOns.value">{{addOns.value}}</span>
                    <span class="body" [tabindex]="showDetails? 0 : -1 " [attr.aria-label]="addOns.effectTitle">{{addOns.effectTitle}}</span>
                  </div>                 
                </div>

                <div class="row no-margin body" *ngFor="let autopay of planConfirmationData?.autopayDetails; let i = index;">
                    <div class="col-12" >
                      <div class="inset-divider-1px"></div>
                    </div>
                    <div [attr.aria-hidden]="!showDetails" class="col-12 d-flex align-items-center justify-content-between padding-top-medium padding-top-small-sm padding-top-small-xs" [attr.aria-hidden]="!showDetails">
                        <span class="Display6 d-flex" [tabindex]="showDetails? 0 : -1" [attr.aria-label]="'warning' + autopay.descTitle"><span class="warning-error-24 display-flex m-r-8"></span>{{autopay.descTitle}}</span>
                        <span class="body" [tabindex]="showDetails? 0 : -1 " [attr.aria-label]="autopay.value">{{autopay.value}}</span>
                      </div>      
                    <div class="col-12 padding-top-xsmall padding-bottom-medium padding-bottom-small-sm padding-bottom-small-xs" [attr.aria-hidden]="!showDetails">
                      <span class="pull-left body" [tabindex]="showDetails? 0 : -1" [attr.aria-label]="autopay.details">{{autopay.details}} <span class="cursor body-link color-black" role="link"  [tabindex]="showDetails? 0 : -1"  [attr.aria-label]="autopay.detailslink">{{autopay.detailslink}}</span>.</span>
                    </div>                             
                  </div>


            <div *ngFor="let data of planConfirmationData?.orderDetails; let i= index">
              <div class="col-12" *ngIf="i==0">
                <div class="inset-divider-1px"></div>
              </div>
              <div  [attr.aria-hidden]="!showDetails" class="col-12 d-flex align-items-center justify-content-between padding-vertical-small padding-vertical-xsmall-sm padding-vertical-xsmall-xs">
                <span [tabindex]="showDetails ? 0 : -1" [attr.aria-label]="data.descTitle" class="black body">{{data.descTitle}}:</span>
                <span [tabindex]="showDetails ? 0 : -1" [attr.aria-label]="data.value" class="body">{{data.value}}</span>
              </div>
              <div class="col-12">
                <div class="inset-divider-1px"></div>
              </div>
            </div>
          </div>

          <div>
          
          <!-- </div> -->
          <div class="row no-margin body" *ngFor="let total of planConfirmationData?.totalItems">
            <div class="col-12">
              <div class="total-divider"></div>
            </div>
            <div class="col-12 cursor d-flex align-items-center justify-content-between padding-vertical-medium padding-vertical-small-sm padding-vertical-small-xs"
              routerLink='/detailbreakdown' routerLinkActive="active" tabindex="-1" [queryParams]="{ fromPlanConfirmation:true}">
              <span class="Display5" [tabindex]="showDetails? 0 : -1 " [attr.aria-label]="total.descTitle">{{total.descTitle}}</span>
              <p>
                <span class="Display5" [tabindex]="showDetails? 0 : -1 " [attr.aria-label]="'$' + total.totalAmount + 'per month'">${{total.totalAmount}}/mo</span>
                <span class="d-inline-block arrow-right-black-24 cursor" [tabindex]="showDetails? 0 : -1 " aria-label="click for more details"></span>
              </p>

            </div>
          </div>
          </div>
        </div>
        <div>
          <div class="col-12 no-padding-xs accordion-content content-open">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="row">
          <div class="col-12 padding-top-medium">
            <span class="Display6" tabindex="0" role="rowheader" aria-label="Next Steps">Next Steps:</span>
          </div>
          <div class="col-12 padding-bottom-xsmall padding-top-small">
            <span class="body-bold black" tabindex="0" aria-label="Start enjoying Netflix at no extra charge">Start enjoying Netflix at no extra charge.</span>
          </div>
          <div class="col-12 ">
            <span class="body" tabindex="0" aria-label="We’ll cover a standard 2-screen subscription for almost any device, even TV. Simply add Netflix with Family Allowance
			to your account and connect to netflix.">We’ll cover a standard 2-screen subscription for almost any device, even TV. Simply add Netflix with Family Allowance
              to your account and connect to netflix.
            </span>
          </div>
        </div>
      </div>
          <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm padding-top-large ">
            <!-- <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-md-0">
              <button class="PrimaryCTA float-md-left float-lg-left full-btn-width-xs float-xl-left" appButtonripple routerLink="/"
                routerLinkActive="active" tabindex="0" role="button" aria-label="Manage Netflix">Manage Netflix</button>
            </div> -->
            <!-- <div class="col-12 col-md-6 float-md-left pl-md-0">
              <button tabindex="0" class="SecondaryCTA blackCTA float-md-right full-btn-width-xs float-lg-right float-xl-right" aria-label=" Go to my account home" role="button" appButtonripple> Go to my account home</button>
            </div> -->
            <div class="col-12">
                <button tabindex="0" class="SecondaryCTA blackCTA full-btn-width-xs" aria-label=" Go to my account home" role="button" appButtonripple> Go to my account home</button>
          </div>
        </div>
    <div class="col-12 col-md-8 offset-md-2 padding-vertical-xl ">
      <p class="disclaimer-lineheight">
            <span class="legal" tabindex="0"  aria-label="During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds.">
              During congestion, customers using>50GB/mo. may notice reduced speeds; Essentials customers may notice speeds lower than other customers. Video typically streams on smartphone/tablet at DVD quality (480p). Tethering at max 3G speeds. </span> <span class="legal-link cursor" routerlink="/"  tabindex="0"  role="link" aria-label="See full terms" >See full terms</span>
            </p>
    </div>  
    </div>   
    </div>    
    </div> 
   
