@import "src/assets/scss/global-variables.scss";
.TM0-PLAN-CONFIRMATION-UPDATED-PAGE { 
    .img-height {
        width: 120px;
        height: 120px;
      }
    .width-8{
        width: $XS;
    }
    .max-height-600 {
        max-height: 600px;
    }
    .full-btn-width {
        width: 100%;
    }
    @media #{$alldeviceexceptsmartphone}{
        .padding-bottom-110-md {
            padding-bottom: 110px;
        }
       
    }

    @media #{$alldeviceexceptsmartphone}{
        .btn-wd {
            width:288px;
            @media #{$tablets-md}{
                width: 100%;
            }
        }
    }
    @media #{$smartphones-xs}, #{$smartphones-sm}{
        .full-btn-width-xs {
            width: 100%;
            max-width: 100%;
        }    
        .img-height {
            width: 72px;
            height: 72px;
          }
    }

    .disclaimer-lineheight {
        line-height: 12px;
    }
    
    .body-link{
        color: $gray60;
    }
    .body-link:hover{
        color: $brand-magenta;
        text-decoration:underline;
    }
    .m-r-8{margin-right: 8px;}
    .warning-error-24{width: 20px;    background-size: 20px;}
    .color-black{color: black;}
}