 @import "src/assets/scss/global-variables.scss";
.TMO-UPGRADE-SERVICES-PAGE {

    @media #{$alldeviceexceptsmartphone}{
        .mt-md-1{
        margin-top:0.5rem !important;
        }
        }
        @media #{$smartphones-xs},#{$smartphones-sm}{
        .mt-md-1{
        margin-top:0.35rem !important;
        }
        }

} 
