@import "src/assets/scss/global-variables.scss";
.TMO-ON-US {
  background-color: #f8f8f8;
  .m-l-5 {
    margin-left: 5px;
  }
  .position-top {
    background-color: #f2f2f2;
    float: right;
    padding: 8px;
  }

  .font-wt-700 {
    font-weight: 700;
  }
  .margin-bottom-base {
    margin-bottom: -3px;
  }
  .link-style {
    font-size: 14px;
    line-height: 24px;
  }
  .div_shadow_box {
    border: solid 1px #cccccc;
    margin: auto;
    background-color: #ffffff;
    padding-bottom: 16px;
  }

  @media #{$tablets-md}, #{$desktops-lg}, #{$desktops-xl} {
    .f-height {
      height: 178px;
    }
  }
  @media #{$smartphones-xs}, #{$smartphones-sm} {
    .margin-bottom-base {
      margin-bottom: -7px;
    }
  }

}
