<div class="TMO-ON-US">
  <div class="container" *ngFor="let data of onUsOptions">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
        <h1 class="Display4 padding-top-xxxl">
          {{ data.title }}
        </h1>
        <p class="padding-top-xsmall">
          {{ data.description1 }}
        </p>

        <div class="row">
          <div
            class="col-12 col-md-6 p-l-0-md"
            *ngFor="let option of data.details"
          >
            <div class="padding-top-medium display-flex">
              <div class="div_shadow_box">
                <ul class="list-unstyled f-height">
                  <li class="margin-left-0">
                    <img
                      src="{{ option.imgUrl }}"
                      class="valid_img p-l-16 padding-top-small"
                      alt="{{ option.title }} Logo"
                    />
                    <span
                      class="position-top padding-3xs text-right"
                      *ngIf="option.accountAdded"
                    >
                      <p class="font-wt-700 display-flex">
                        Added to your account
                        <i aria-hidden="true" class="check-full-green m-l-5">
                        </i>
                      </p>
                    </span>
                    <p
                      class="Display6 padding-horizontal-small padding-top-small"
                    >
                      {{ option.title }}
                    </p>
                    <p class="padding-horizontal-small padding-vertical-xsmall">
                      {{ option.desc }}
                    </p>
                  </li>
                </ul>
                <hr />
                <div class="p-l-16 link-style font-wt-700">
                  <a routerLink="/">
                    {{ option.linktext }}
                    <i
                      aria-hidden="true"
                      class="arrow-right-magenta-20 d-inline-block margin-bottom-base"
                    >
                    </i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
