<div class="TMO-FAMILY-CONTROL-WEBGAURD-COMPONENT">
    <div class="container">
        <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
            <div class="col-12 ">
                <p class="Display3 text-center">Web Guard</p>
                <div class="col-10 col-md-6 col-lg-4 offset-1 offset-md-3 offset-lg-4 padding-horizontal-xsmall  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
                    <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
                        [dropdownId]="dropdownId"></app-dropdown-selector>
                </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 padding-top-medium padding-top-small-xs padding-top-small-sm">
                <p class=" Display6 ">Permissions</p>
                <p class="body padding-top-xsmall">Does not restrict content when browsing over Wi-Fi or accessing content via any application.</p>
            </div>
        </div>
        <div class="row padding-top-small">
            <div class="col-12 col-md-10 offset-md-1 verticalAlign" *ngFor="let radioVal of radioArray">
                <div  class="body radio-container">
                        <input type="radio" id={{radioVal}} name="selector" checked>
                        <label for={{radioVal}}>{{radioVal}}</label>
                        <div class="check"></div>
                </div>
            </div>
        </div>
        <div class="row padding-top-xsmall">
            <div class="col-12 col-md-10 offset-md-1 ">
                <span class="body brand-magenta cursor" *ngIf=!showDetails (click)="detailsPayment()">Show filter details</span>
                <span class="body brand-magenta cursor" *ngIf=showDetails (click)="detailsPayment()">Hide filter details</span>
            </div>
        </div>
        <div class="row padding-top-xl padding-bottom-xl" *ngIf=showDetails>
            <div class="col-12 col-md-10 offset-md-1">
             <span *ngFor="let permission of familyArray">
                <p class="Display6 black">{{permission.mainTitle}}</p>
                <p class="body padding-top-small">{{permission.content}}</p>
                <p class="Display6 black padding-top-small">{{permission.title}}</p>
             </span>
            <span *ngFor="let level of levelArray">
                <p class="body black padding-top-small">{{level.title}}</p>
                <p class="body padding-top-small">{{level.content}}</p>
            </span>
            </div>
        </div>
        <div class="row padding-top-xl padding-bottom-xl">
            <div class="col-12 no-padding">
                <hr class="full-bleed-divider m-0">
            </div>
        </div>
        <div class="row no-padding  padding-top-medium-xs padding-top-medium-sm padding-vertical-xl padding-bottom-large-xs padding-bottom-large-sm">
            <div class="col-12 col-md-8  offset-md-2 text-center  ">
              <div class="col-12 col-md-12 text-center padding-bottom-small-xs padding-bottom-small-sm  pr-0 p-l-0-xs p-l-0-sm">
                <button class="PrimaryCTA full-btn-width " appButtonripple>Back</button>
              </div>
            </div>
          </div>
    </div>
</div>