<div class="TMO-AUTOPAY-CONFIRMATION">
    <div class="container">
        <div class="main-content-singlerow">
            <app-header></app-header>
            <div class="row">
                <div class="col-12 text-center padding-top-large-xs padding-top-large-sm padding-top-xl legal">
                    <span class="check-icon" tabindex="0" aria-label="Autopay on icon"></span>
                </div>
            </div>
            <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-xl">
                <div class="col-12  text-center">
                    <p class="mb-0 Display3">
                        <span tabindex="0" aria-label="AutoPay is now ON">AutoPay is now ON</span></p>
                    <p class="mb-0 body-bold black padding-top-small padding-top-medium-md">
                        <span tabindex="0" aria-label="Your monthly $40.00 AutoPay Discount will first appear on your Dec bill.">Your monthly $40.00 AutoPay Discount will first appear on your Dec bill.</span>
                     </p>
                    <p class="mb-0 body-bold black padding-top-small">
                        <span tabindex="0" aria-label="First AutoPay payment: Dec 18th">First AutoPay payment: Dec 18th</span>
                    </p>
                    <p class="mb-0 body padding-top-small">
                        <span tabindex="0" aria-label="AutoPay will charge your full balance to Visa ****1234">AutoPay will charge your full balance to Visa ****1234</span>
                    </p>
                </div>
            </div>
            <div class="row padding-top-small-xs padding-top-small-sm padding-top-large">
                <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 p-l-0-xs p-r-0-xs">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 body-bold padding-top-small" (click)="detailsPayment()" (keydown.enter)= "detailsPayment()">
                    <span class="pull-left black Display6" *ngIf=!showDetails tabindex="0" aria-label="Show details">Show details</span>
                    <span class="pull-left black Display6" *ngIf=showDetails tabindex="0" aria-label="Hide details">Hide details</span>
                    <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!showDetails,'arrow-up arrowup_rotation':showDetails}" tabindex="0"  aria-label="click for more details">

                    </span>
                </div>


            </div>
            <div class="accordion-content" [ngClass]="{'content-open': showDetails}" aria-live="assertive" >
                <div class="row body padding-top-small"  [attr.aria-hidden]="!showDetails">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" *ngFor="let dataPass of dataPassInfo">
                        <span class="pull-left" [tabindex]="showDetails ? 0 : -1"  [attr.aria-label]="dataPass.descTitle">{{dataPass.descTitle}}:</span>
                        <span class="pull-right" [tabindex]="showDetails ? 0 : -1"  [attr.aria-label]="dataPass.value">{{dataPass.value}}</span>
                    </div>
                </div>

            </div>
            <div class="row padding-top-small-xs padding-top-small-sm padding-top-small">
                <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 p-l-0-xs p-r-0-xs">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 padding-top-small col-md-10 offset-md-1 d-flex justify-content-center">
                    <div class="exclamation-circle d-table mt-1" tabindex="0" aria-label="exclamation icon"></div>
                    <p class="pl-2 gray60">
                        <span tabindex="0" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque erat orci, pulvinar id diam.">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque erat orci, pulvinar id diam.</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
            <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
                <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
                    <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" role="button" appButtonripple tabindex="0" aria-label="Click here to Make a One-time Payment">Make a One-time Payment</button>
                </div>
                <div class="col-12 col-md-6  float-md-left pl-md-0 ">
                    <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" role="button" appButtonripple (click)="gotopreviouspage()" tabindex="0" aria-label="Click here to go back home">Back home</button>
                </div>
            </div>
        </div>
    </div>

</div>
