<div class="TMO-SHOP-PAGE">
  
  <div class="hero_banner " id="bannerDiv"  
  [ngStyle]="{ 'background-position' : mobileView ? banner_pos_Mobile : tabletView ? banner_pos_Tablet : banner_pos_Desktop , 'background-image' : mobileView ? 'url(' + heroBackgroundMobileSrc + ')' : tabletView ? 'url(' + heroBackgroundTabletSrc + ')' : 'url(' + heroBackgroundDesktopSrc + ')'}">
  <div class="top-text " [ngClass]="{'top-46': (!stickNav && stickNavHeader && !noStick) || (stickNav1 && stickNavHeader1)}">
    <div class="col-12 top-text-wrap hero-max-wd">
      <p class="legal text-white">DO YOU KNOW?</p>
      <p class=""><span class="body-bold text-white">You can save $20 by upgrading your phone using our T-Mobile app</span>
      <a href="#" class="text-white legal text-decoration-underline pl-1">See details</a></p>
    </div>
  </div>
    <div class="content-wrap hero-max-wd">
      <div class="section-image no-padding  padding-top-xsmall-xs">
        <img src="assets/img/ssu/iWatch.png" class=" res-sec" />
      </div>
      <div class="section-content p-t-0-xs text-left no-padding text-xs-center">
        <div class="col-sm-3 col-12 no-padding padding-top-small d-sm-block">
          <img [src]="darkTheme ? eyebrowImgInverted : eyebrowImgBlock" class="text-white" style="height: 30px;">
        </div>
        <div class=" col-sm-12 col-12 no-padding">
          <p class=" eyebrow padding-top-small mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Limited-time offerxxxxxxx</p>
        </div>
        <div class=" col-sm-12 col-12  no-padding ">
          <p class="Display3 mb-0 padding-top-small padding-bottom-small" [ngStyle]="{ color: darkTheme ? dark_headLine : light_headLine}">Save up to $150 on one of the latest LG, iphone smartphones.</p>
        </div>
        <div class=" col-sm-12 col-12 no-padding">
          <p class=" body mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">After rebate and qualifying trade-in. Plus, get a bill credit for the trade-in value of your old phone After rebate
            and qualifying trade-in. Plus, get a bill credit for the trade-in value of your old.</p>
        </div>
        <div class="col-sm-12 col-12  padding-top-small no-padding d-sm-block d-md-block d-lg-block d-xl-block d-block wd-xs-h1">
          <div class=" pb-xl-0 d-xl-flex">
            <button class="PrimaryCTA full-width-md" [ngClass]="{ filledCTA_White : darkCTATheme, filledCTA_Black : lightCTATheme }"
              appButtonripple>
              Lorem ipsum ipsumips</button>
            <button class="SecondaryCTA cta-style margin-left-small margin-left-small-m1" [ngClass]="{ translucentCTA_Magenta : darkCTATheme , translucentCTA_Black : lightCTATheme }"
              appButtonripple>Lorem ipsum ipsumips</button>
          </div>
        </div>
        <div>
          <button class="TeritiaryCTA margin-left-small  ml-sm-0 no-padding-lr" [ngClass]="{ textCTA_White : darkCTATheme , textCTA_Magenta : lightCTATheme}"
            appButtonripple>
            <i class="fa fa-mobile"></i> Ready to Switch? Call 1-800-T-MOBILE</button>
        </div>
        <div class="col-12 col-sm-12 no-padding padding-top-small">
          <p class="mb-0 legal " [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Via 24 monthly bill credit with finance agreement and eligible agreement and eligible.
            <a class="tmo-modal-link legal" aria-label="See full terms" tabindex="0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">See full terms</a>
          </p>
        </div>
      </div>

    </div>

  </div>
  <div class="nav-height bg-color">
    <div class="nav-bar-styles no-padding-xs" [ngClass]="{ 'stickStyle' : (stickNav && !stickNavHeader ) , 'stickHideStyle' : (!stickNav && !stickNavHeader && noStick), 'stickStyle-top': (!stickNav && stickNavHeader && !noStick) }">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 no-padding">
            <div class="col-4 col-sm-2 no-padding d-inline-block center-content divCursor nav-bar-bg" *ngFor="let item of navObj;let i = index">
              <li class=" ul-styles padding-vertical-small" [ngClass]="{'border-bottom-xs': item.id < 4 }" (click)=" item.name == 'Latest deals' ? firstDiv() : (item.name == 'Add a line' ? modalDiv(): (item.name == 'All phones' ? normalDiv() : doNothing())) ">
                <p class="mb-0 nav-element">{{item.name}}</p>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-block d-sm-none">
      <div class="nav-bar-styles1 " [ngClass]="{ 'stickStyle' : (stickNav1 && !stickNavHeader1) , 'stickshowStyle' : (!stickNav1 && !stickNavHeader1), 'stickStyle-top': (stickNav1 && stickNavHeader1), 'stickHideStyle':(!stickNav1 && !stickNavHeader1) }">
        <div class="container">
          <div class="row">
            <div class="col-12 no-padding">
              <div class="col-3 no-padding d-inline-block center-content word-break divCursor nav-bar-bg" *ngFor="let item of navObj1">
                <li class=" ul-styles padding-vertical-small" (click)=" item.name == 'Latest deals' ? firstDiv() : (item.name == 'Add a line' ? modalDiv(): (item.name == 'All phones' ? normalDiv() : doNothing()))">
                  <p class="mb-0 nav-element">{{item.name}}</p>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="padding-bottom-xxxl padding-bottom-xxl-xs bg-color-gray5" id="holidayDiv">
    <div class="container valentineDiv">
      <div class="row">
        <div class="col-12 padding-top-xl-xs padding-bottom-medium-xs padding-top-xxxl padding-bottom-large text-center title1">
          <p class=" mb-0 Display4">Valentine's day deals</p>
        </div>
        <div class="col-12 col-lg-6 d-inline-block text-center padding-horizontal-xsmall-xs padding-bottom-small-sm padding-bottom-small-md padding-bottom-small-lg padding-bottom-small-xl padding-bottom-xsmall-xs  no-padding  margin-horizontal-small  "
          [ngClass]="{'pd-rt-16': (i%2 == 0), 'pd-lt-16':(i%2 == 1)}" *ngFor="let val of holArray; let i = index">
          <div class="divShadow leftText{{i}}">
            <div class=" col-12 no-padding  divCursor padding-vertical-medium bg-white" (click)="allPhonesDiv()">
              <div class="row no-margin ">
                <div class="col-4 no-padding pr-0  p-l-30 ">
                  <img src={{val.imageLink}} class="imgsize-xs imgsize-sm">
                </div>
                <div style="text-align: left" class="col-8 no-padding flex-column d-flex justify-content-center pl-m-lg align-middle ">
                  <div class=" padding-horizontal-medium  padding-bottom-xsmall  promoTitle{{i}}">
                    <p class="Display6 mb-0 text-uppercase brand-magenta">{{val.promoTitle}}</p>
                  </div>
                  <div class=" padding-horizontal-medium padding-bottom-medium phoneTitle{{i}}">
                    <p class="H6-heading mb-0">{{val.title}}</p>
                  </div>
                  <div class="priceDiv1">
                    <div class="  d-flex padding-horizontal-medium  no-padding padding-bottom-xsmall ">
                      <div class="border-f2f2f2 pr-3">
                        <p class="legal mb-0 ">TODAY</p>
                        <p class="body-bold mb-0 black">{{val.todayMoney}}</p>
                        <p class="mb-0 legal">{{val.tax}}

                        </p>
                      </div>
                      <div cLass=" pl-3">
                        <p class="legal mb-0">MONTHLY</p>
                        <p class="body-bold mb-0 black">{{val.monthlyMoney}}</p>
                        <p class="mb-0 legal">{{val.mos}}</p>
                      </div>
                    </div>
                    <div class="  padding-horizontal-medium pt-1 pb-1">
                      <p class="mb-0 legal ">Full retail:
                        <s class="">$999.99</s> 799.99</p>
                    </div>
                    <div class="  padding-horizontal-medium padding-top-xsmall">
                      <p class="mb-0 legal ">Discount shown in cart</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row padding-top-medium padding-top-xsmall-xs">
        <div class="col-12  text-center">
          <div id="myID" id="stickyfooter">
            <div class="col-12  padding-vertical-small padding-vertical-small-xs no-padding legal-box" [ngClass]="{ 'stickStyle' : stickShow , 'stickHideStyle' : !stickShow }"
              *ngIf="stickShow">
              <p class="mb-0 legal">IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. 0% APR O.A.C. for well-qualified customer.</p>
            </div>
          </div>
          <div class="fixedDiv2 col-12  padding-bottom-medium padding-top-xsmall-xs padding-bottom-large-xs no-padding footer-sticky">
            <p class="mb-0 legal">IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. 0% APR O.A.C. for well-qualified customer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-5per text-center padding-top-large padding-top-small-xs  no-padding">
      <div class="hero_banner align-items-center-md" [ngStyle]="{ 'background-position' : mobileView ? banner_pos_Mobile : tabletView ? banner_pos_Tablet : banner_pos_Desktop, 'background-image' : mobileView ? 'url(' + heroBackgroundMobileSrc + ')' : tabletView ? 'url(' + heroBackgroundTabletSrc + ')' : 'url(' + heroBackgroundDesktopSrc + ')'}">
        <div class="content-wrap  ">
          <div class="section-image no-padding  padding-top-xsmall-xs">
            <img src="assets/img/ssu/iWatch.png" class=" res-sec" />
          </div>
          <div class="section-content p-t-0-xs text-left no-padding text-xs-center">
            <div class="col-sm-3 col-12 no-padding padding-top-small d-sm-block">
              <img [src]="darkTheme ? eyebrowImgInverted : eyebrowImgBlock" class="text-white" style="height: 30px;">
            </div>
            <div class=" col-sm-12 col-12 no-padding">
              <p class=" eyebrow  padding-top-small mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Limited-time offerxxxxxxx</p>
            </div>
            <div class=" col-sm-12 col-12  no-padding ">
              <p class="Display3  mb-0 padding-top-small padding-bottom-small" [ngStyle]="{ color: darkTheme ? dark_headLine : light_headLine}">Save up to $150 on one of the latest LG, iphone smartphones.</p>
            </div>
            <div class=" col-sm-12 col-12 no-padding">
              <p class=" body  mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">After rebate and qualifying trade-in. Plus, get a bill credit for the trade-in value of your old phone After
                rebate and qualifying trade-in. Plus, get a bill credit for the trade-in value of your old.</p>
            </div>
            <div class="col-sm-12 col-12  padding-top-small no-padding d-sm-block d-md-block d-lg-block d-xl-block d-block wd-xs-h1">
              <div class=" pb-xl-0 d-xl-flex">
                <button class="PrimaryCTA  full-width-md " [ngClass]="{ filledCTA_White : darkCTATheme, filledCTA_Black : lightCTATheme }"
                  appButtonripple>
                  Lorem ipsum ipsumips</button>
                <button class="SecondaryCTA cta-style margin-left-small margin-left-small-m1" [ngClass]="{ translucentCTA_Magenta : darkCTATheme , translucentCTA_Black : lightCTATheme }"
                  appButtonripple>Lorem ipsum ipsumips</button>
              </div>
            </div>
            <div>
              <button class="TeritiaryCTA margin-left-small  ml-sm-0 no-padding-lr" [ngClass]="{ textCTA_White : darkCTATheme , textCTA_Magenta : lightCTATheme}"
                appButtonripple>
                <i class="fa fa-mobile"></i> Ready to Switch? Call 1-800-T-MOBILE</button>
            </div>

            <div class="col-12 col-sm-12 no-padding padding-top-small">
              <p class="mb-0 legal " [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Via 24 monthly bill credit with finance agreement and eligible agreement and eligible.
                <a class="tmo-modal-link legal " aria-label="See full terms" tabindex="0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">See full terms</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 p-5per padding-top-xsmall padding-top-xsmall-xs d-md-flex text-center no-padding">
      <div class="col-12 col-md-6 no-padding pr-md-1">
        <div class="bannerStyle padding-bottom-small" [ngStyle]="{ 'background-position' : mobileView ? half_banner_pos_Mobile : tabletView ? half_banner_pos_Tablet : half_banner_pos_Desktop, 'background-image' : mobileView ? 'url(' + halfbanner_heroBackgroundMobileSrc + ')' : tabletView ? 'url(' + halfbanner_heroBackgroundTabletSrc + ')' : 'url(' + halfbanner_BackgroundDesktopSrc + ')'}">
          <div class="content-wrap-small">
            <div class="section-image-small no-padding  padding-top-xsmall-xs">
              <img src="assets/img/ssu/iWatch.png" class=" res-sec" />
            </div>
            <div class="section-content-small p-t-0-xs text-left no-padding text-xs-center text-sm-center text-md-center text-lg-center text-xl-left ">
              <div class="col-12 no-padding padding-top-xsmall d-xl-block">
                <img [src]="darkTheme ? eyebrowImgInverted : eyebrowImgBlock" class="text-white" style="height: 30px;">
              </div>
              <div class=" col-sm-12 col-12 no-padding">
                <p class=" eyebrow  padding-top-small mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Limited-time offerxxxxxxx</p>
              </div>
              <div class=" col-sm-12 col-12  no-padding ">
                <p class="Display5 Display5-xs-24  mb-0 padding-top-small padding-bottom-small" [ngStyle]="{ color: darkTheme ? dark_headLine : light_headLine}">Save up to $150 on one of the latest LG, iphone smartphones.</p>
              </div>
              <div class=" col-sm-12 col-12 no-padding padding-bottom-small-sm">
                <p class=" body  mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">After rebate and qualifying trade-in. Plus, get a bill credit for the trade-in value of your old phone After
                  rebate and.</p>
              </div>
              <div class="col-sm-6 col-md-12 col-12  padding-top-small no-padding d-sm-inline d-md-block d-lg-block d-xl-block cta-width wd-xs-h1">
                <button class="PrimaryCTA  btn-ht-half " [ngClass]="{ filledCTA_White : darkCTATheme, filledCTA_Black : lightCTATheme }"
                  appButtonripple>Lorem ipsum ipsumips</button>
              </div>
              <div class="col-sm-6 col-md-12 col-12 no-padding padding-top-small-sm  d-sm-inline d-md-block d-lg-block d-xl-block cta-width wd-xs-h1">
                <button class="SecondaryCTA btn-ht-half cta-style margin-left-small " [ngClass]="{ translucentCTA_Magenta : darkCTATheme , translucentCTA_Black : lightCTATheme }"
                  appButtonripple>Lorem ipsum ipsumips</button>
              </div>
              <div class="legal-width-half">
                <button class="TeritiaryCTA  btn-ht-half  no-padding-lr" [ngClass]="{ textCTA_White : darkCTATheme , textCTA_Magenta : lightCTATheme}"
                  appButtonripple>
                  <i class="fa fa-mobile"></i> Ready to Switch? Call 1-800-T-MOBILE</button>
              </div>

              <div class="col-12 col-sm-12 no-padding padding-top-small legal-width-half padding-bottom-large-xl">
                <p class="mb-0 legal " [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Via 24 monthly bill credit with finance agreement and eligible agreement and eligible.
                  <a class="tmo-modal-link legal " aria-label="See full terms" tabindex="0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">See full terms</a>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 no-padding pl-md-1 padding-top-xsmall-xs padding-top-xsmall-sm">
        <div class="bannerStyle padding-bottom-small" [ngStyle]="{ 'background-position' : mobileView ? half_banner_pos_Mobile : tabletView ? half_banner_pos_Tablet : half_banner_pos_Desktop, 'background-image' : mobileView ? 'url(' + halfbanner_heroBackgroundMobileSrc + ')' : tabletView ? 'url(' + halfbanner_heroBackgroundTabletSrc + ')' : 'url(' + halfbanner_BackgroundDesktopSrc + ')'}">
          <div class="content-wrap-small">
            <div class="section-image-small no-padding  padding-top-xsmall-xs">
              <img src="assets/img/ssu/iWatch.png" class=" res-sec" />
            </div>
            <div class="section-content-small p-t-0-xs text-left no-padding text-xs-center text-sm-center text-md-center text-lg-center text-xl-left">
              <div class="col-12 no-padding padding-top-xsmall d-xl-block">
                <img [src]="darkTheme ? eyebrowImgInverted : eyebrowImgBlock" class="text-white" style="height: 30px;">
              </div>
              <div class=" col-sm-12 col-12 no-padding">
                <p class=" eyebrow  padding-top-small mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Limited-time offerxxxxxxx</p>
              </div>
              <div class=" col-sm-12 col-12  no-padding ">
                <p class="Display5 Display5-xs-24  mb-0 padding-top-small padding-bottom-small" [ngStyle]="{ color: darkTheme ? dark_headLine : light_headLine}">Save up to $150 on one of the latest LG, iphone smartphones.</p>
              </div>
              <div class=" col-sm-12 col-12 no-padding padding-bottom-small-sm">
                <p class=" body  mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">After rebate and qualifying trade-in. Plus, get a bill credit for the trade-in value of your old phone After
                  rebate and.</p>
              </div>
              <div class="col-sm-6 col-md-12 col-12  padding-top-small no-padding d-sm-inline d-md-block d-lg-block d-xl-block cta-width wd-xs-h1">
                <button class="PrimaryCTA  btn-ht-half " [ngClass]="{ filledCTA_White : darkCTATheme, filledCTA_Black : lightCTATheme }"
                  appButtonripple>Lorem ipsum ipsumips</button>
              </div>
              <div class="col-sm-6 col-md-12 col-12  padding-top-small-sm no-padding d-sm-inline d-md-block d-lg-block d-xl-block cta-width wd-xs-h1">
                <button class="SecondaryCTA btn-ht-half cta-style margin-left-small " [ngClass]="{ translucentCTA_Magenta : darkCTATheme , translucentCTA_Black : lightCTATheme }"
                  appButtonripple>Lorem ipsum ipsumips</button>
              </div>
              <div class="legal-width-half">
                <button class="TeritiaryCTA  btn-ht-half  no-padding-lr" [ngClass]="{ textCTA_White : darkCTATheme , textCTA_Magenta : lightCTATheme}"
                  appButtonripple>
                  <i class="fa fa-mobile"></i> Ready to Switch? Call 1-800-T-MOBILE</button>
              </div>

              <div class="col-12 col-sm-12 no-padding padding-top-small legal-width-half padding-bottom-large-xl">
                <p class="mb-0 legal " [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Via 24 monthly bill credit with finance agreement and eligible agreement and eligible.
                  <a class="tmo-modal-link legal " aria-label="See full terms" tabindex="0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">See full terms</a>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="text-center padding-top-large">
      <button class="SecondaryCTA blackCTA divCursor" [ngClass]="{ translucentCTA_Magenta : darkCTATheme , translucentCTA_Black : lightCTATheme }"
        appButtonripple>Load more</button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 padding-bottom-large padding-bottom-small-xs no-padding padding-top-small-xs padding-top-xl mg-neg-phones "
        id="imgDiv">
        <div class="col-12  padding-top-xl-xs padding-top-xxxl padding-bottom-xsmall-xs  text-center title2">
          <p class="Display4 mb-0 ">Popular phones</p>
        </div>
        <div class="col-12 no-padding flex-prop">
          <div class="col-6 col-md-4 d-inline-block  d-inline-grid-ms text-center padding-horizontal-xxsmall  no-padding  margin-horizontal-small  leftText{{i}}{{i}}"
            *ngFor="let val of dataArray; let i=index">
            <div class="promo-code var-height">
              <span class="eyebrow brand-magenta ">{{val.promo}}</span>
            </div>
            <div class="divShadow bd-tp-gray-xs">
              <div class="col-12 no-padding  divCursor padding-top-small  padding-top-large-md padding-top-large-sm pt-28-xs padding-horizontal-xsmall-xs "
                (click)="allPhonesDiv()">
                <img src={{val.imageLink}} class="imgsize-xs imgsize-sm img{{i}}">
                <div class="col-12 no-padding  phoneTitle{{i}}{{i}}">
                  <p class="H6-heading mb-0 h-px-xs h-px-sm h-px-md h-px-lg padding-horizontal-medium flex-column d-flex justify-content-center align-middle">{{val.title}}</p>
                </div>
                <div class="priceDiv2">
                  <div class="col-12 d-flex align-items-center justify-content-center padding-top-20  no-padding ">
                    <div class="border-f2f2f2 pr-3">
                      <p class="legal mb-0 ">TODAY</p>
                      <p class="body-bold black mb-0 ">{{val.todayMoney}}</p>
                      <p class="mb-0 legal ">{{val.tax}}
                      </p>
                    </div>
                    <div cLass=" pl-3">
                      <p class="legal mb-0 ">MONTHLY</p>
                      <p class="body-bold black mb-0 ">{{val.monthlyMoney}}</p>
                      <p class="mb-0 legal ">{{val.mos}}</p>
                    </div>
                  </div>
                  <div class="col-12 padding-top-xsmall padding-bottom-small no-padding">
                    <p style="line-height: 16px" class="mb-0 ">
                      <span class="eyebrow brand-magenta d-block d-md-inline-block">{{val.off}} OFF</span>
                      <span class="legal"> &nbsp; Full retail:
                        <s class="">$999.99</s> 799.99</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 no-padding padding-horizontal-large p-r-0-xs p-l-0-xs pt-xs-1 padding-top-xsmall-sm padding-top-xsmall-md p-20-md d-flex divCursor min-ht-trade-in ">

              <span *ngIf="val.verbiage!=''" class=" body-link d-inline-block verbiageText padding-horizontal-xsmall-xs" (click)="secondDiv()">
                <i *ngIf="val.verbiage!=''" class="fa fa-tag brand-magenta tag pt-1 "></i>&nbsp; {{val.verbiage }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12  text-center">
        <div id="myID" id="stickyfooter">
          <div class="col-12  padding-vertical-small padding-vertical-small-xs no-padding legal-box" [ngClass]="{ 'stickStyle' : stickShow1 , 'stickHideStyle' : !stickShow1 }"
            *ngIf="stickShow1">
            <p class="mb-0 legal">IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. 0% APR O.A.C. for well-qualified customer.</p>
          </div>
        </div>
        <div class="fixedDiv1 col-12  padding-bottom-medium padding-top-xsmall-xs padding-bottom-large-xs no-padding footer-sticky">
          <p class="mb-0 legal">IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. 0% APR O.A.C. for well-qualified customer.</p>
        </div>
      </div>
      <div class="col-12 text-center">
        <button class="SecondaryCTA blackCTA divCursor" [ngClass]="{ translucentCTA_Magenta : darkCTATheme , translucentCTA_Black : lightCTATheme }"
          appButtonripple>See all phones</button>
      </div>
    </div>
  </div>
  <div class="row no-margin">
    <div class="col-12   text-center no-padding" id="latestDeals">
      <div class="col-12  no-padding">
        <div class="col-12  padding-top-xxl-xs padding-top-xxxl   text-center">
          <p class="Display4 mb-0   ">Latest deals</p>
        </div>

        <div class="col-12 p-5per text-center padding-top-large padding-top-medium-xs no-padding">
          <div class="hero_banner align-items-center-md" [ngStyle]="{ 'background-position' : mobileView ? banner_pos_Mobile : tabletView ? banner_pos_Tablet : banner_pos_Desktop, 'background-image' : mobileView ? 'url(' + heroBackgroundMobileSrc + ')' : tabletView ? 'url(' + heroBackgroundTabletSrc + ')' : 'url(' + heroBackgroundDesktopSrc + ')'}">
            <div class="content-wrap  ">
              <div class="section-image no-padding  padding-top-xsmall-xs">
                <img src="assets/img/ssu/iWatch.png" class=" res-sec" />
              </div>
              <div class="section-content p-t-0-xs text-left no-padding text-xs-center">
                <div class="col-sm-3 col-12 no-padding padding-top-small d-sm-block">
                  <img [src]="darkTheme ? eyebrowImgInverted : eyebrowImgBlock" class="text-white" style="height: 30px;">
                </div>
                <div class=" col-sm-12 col-12 no-padding">
                  <p class=" eyebrow  padding-top-small mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Limited-time offerxxxxxxx</p>
                </div>
                <div class=" col-sm-12 col-12  no-padding ">
                  <p class="Display3  mb-0 padding-top-small padding-bottom-small" [ngStyle]="{ color: darkTheme ? dark_headLine : light_headLine}">Save up to $150 on one of the latest LG, iphone smartphones.</p>
                </div>
                <div class=" col-sm-12 col-12 no-padding">
                  <p class=" body  mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">After rebate and qualifying trade-in. Plus, get a bill credit for the trade-in value of your old phone
                    After rebate and qualifying trade-in. Plus, get a bill credit for the trade-in value of your old.</p>
                </div>
                <div class="col-sm-12 col-12  padding-top-small no-padding d-sm-block d-md-block d-lg-block d-xl-block d-block wd-xs-h1">
                  <div class=" pb-xl-0 d-xl-flex">
                    <button class="PrimaryCTA  full-width-md " [ngClass]="{ filledCTA_White : darkCTATheme, filledCTA_Black : lightCTATheme }"
                      appButtonripple>
                      Lorem ipsum ipsumips</button>
                    <button class="SecondaryCTA cta-style margin-left-small margin-left-small-m1" [ngClass]="{ translucentCTA_Magenta : darkCTATheme , translucentCTA_Black : lightCTATheme }"
                      appButtonripple>Lorem ipsum ipsumips</button>
                  </div>
                </div>
                <div>
                  <button class="TeritiaryCTA margin-left-small  ml-sm-0 no-padding-lr" [ngClass]="{ textCTA_White : darkCTATheme , textCTA_Magenta : lightCTATheme}"
                    appButtonripple>
                    <i class="fa fa-mobile"></i> Ready to Switch? Call 1-800-T-MOBILE</button>
                </div>

                <div class="col-12 col-sm-12 no-padding padding-top-small">
                  <p class="mb-0 legal " [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Via 24 monthly bill credit with finance agreement and eligible agreement and eligible.
                    <a class="tmo-modal-link legal " aria-label="See full terms" tabindex="0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">See full terms</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 p-5per padding-top-xsmall padding-top-xsmall-xs d-md-flex text-center no-padding">
          <div class="col-12 col-md-6 no-padding pr-md-1">
            <div class="bannerStyle padding-bottom-small" [ngStyle]="{ 'background-position' : mobileView ? half_banner_pos_Mobile : tabletView ? half_banner_pos_Tablet : half_banner_pos_Desktop, 'background-image' : mobileView ? 'url(' + halfbanner_heroBackgroundMobileSrc + ')' : tabletView ? 'url(' + halfbanner_heroBackgroundTabletSrc + ')' : 'url(' + halfbanner_BackgroundDesktopSrc + ')'}">
              <div class="content-wrap-small">
                <div class="section-image-small no-padding  padding-top-xsmall-xs">
                  <img src="assets/img/ssu/iWatch.png" class=" res-sec" />
                </div>
                <div class="section-content-small p-t-0-xs text-left no-padding text-xs-center text-sm-center text-md-center text-lg-center text-xl-left">
                  <div class="col-12 no-padding padding-top-xsmall d-xl-block">
                    <img [src]="darkTheme ? eyebrowImgInverted : eyebrowImgBlock" class="text-white" style="height: 30px;">
                  </div>
                  <div class=" col-sm-12 col-12 no-padding">
                    <p class=" eyebrow  padding-top-small mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Limited-time offerxxxxxxx</p>
                  </div>
                  <div class=" col-sm-12 col-12  no-padding ">
                    <p class="Display5 Display5-xs-24  mb-0 padding-top-small padding-bottom-small" [ngStyle]="{ color: darkTheme ? dark_headLine : light_headLine}">Save up to $150 on one of the latest LG, iphone smartphones.</p>
                  </div>
                  <div class=" col-sm-12 col-12 no-padding padding-bottom-small-sm">
                    <p class=" body  mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">After rebate and qualifying trade-in. Plus, get a bill credit for the trade-in value of your old phone
                      After rebate and.</p>
                  </div>
                  <div class="col-sm-6 col-md-12 col-12  padding-top-small no-padding d-sm-inline d-md-block d-lg-block d-xl-block cta-width wd-xs-h1">
                    <button class="PrimaryCTA  btn-ht-half " [ngClass]="{ filledCTA_White : darkCTATheme, filledCTA_Black : lightCTATheme }"
                      appButtonripple>Lorem ipsum ipsumips</button>
                  </div>
                  <div class="col-sm-6 col-md-12 col-12 no-padding padding-top-small-sm d-sm-inline d-md-block d-lg-block d-xl-block cta-width wd-xs-h1">
                    <button class="SecondaryCTA btn-ht-half cta-style margin-left-small " [ngClass]="{ translucentCTA_Magenta : darkCTATheme , translucentCTA_Black : lightCTATheme }"
                      appButtonripple>Lorem ipsum ipsumips</button>
                  </div>
                  <div class="legal-width-half">
                    <button class="TeritiaryCTA  btn-ht-half  no-padding-lr" [ngClass]="{ textCTA_White : darkCTATheme , textCTA_Magenta : lightCTATheme}"
                      appButtonripple>
                      <i class="fa fa-mobile"></i> Ready to Switch? Call 1-800-T-MOBILE</button>
                  </div>

                  <div class="col-12 col-sm-12 no-padding padding-top-small legal-width-half padding-bottom-large-xl">
                    <p class="mb-0 legal " [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Via 24 monthly bill credit with finance agreement and eligible agreement and eligible.
                      <a class="tmo-modal-link legal " aria-label="See full terms" tabindex="0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">See full terms</a>
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 no-padding pl-md-1 padding-top-xsmall-xs padding-top-xsmall-sm">
            <div class="bannerStyle padding-bottom-small" [ngStyle]="{ 'background-position' : mobileView ? half_banner_pos_Mobile : tabletView ? half_banner_pos_Tablet : half_banner_pos_Desktop, 'background-image' : mobileView ? 'url(' + halfbanner_heroBackgroundMobileSrc + ')' : tabletView ? 'url(' + halfbanner_heroBackgroundTabletSrc + ')' : 'url(' + halfbanner_BackgroundDesktopSrc + ')'}">
              <div class="content-wrap-small">
                <div class="section-image-small no-padding  padding-top-xsmall-xs">
                  <img src="assets/img/ssu/iWatch.png" class=" res-sec" />
                </div>
                <div class="section-content-small p-t-0-xs text-left no-padding text-xs-center text-sm-center text-md-center text-lg-center text-xl-left">
                  <div class="col-12 no-padding padding-top-xsmall d-xl-block">
                    <img [src]="darkTheme ? eyebrowImgInverted : eyebrowImgBlock" class="text-white" style="height: 30px;">
                  </div>
                  <div class=" col-sm-12 col-12 no-padding">
                    <p class=" eyebrow  padding-top-small mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Limited-time offerxxxxxxx</p>
                  </div>
                  <div class=" col-sm-12 col-12  no-padding ">
                    <p class="Display5 Display5-xs-24  mb-0 padding-top-small padding-bottom-small" [ngStyle]="{ color: darkTheme ? dark_headLine : light_headLine}">Save up to $150 on one of the latest LG, iphone smartphones.</p>
                  </div>
                  <div class=" col-sm-12 col-12 no-padding padding-bottom-small-sm">
                    <p class=" body  mb-0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">After rebate and qualifying trade-in. Plus, get a bill credit for the trade-in value of your old phone
                      After rebate and.</p>
                  </div>
                  <div class="col-sm-6 col-md-12 col-12  padding-top-small no-padding d-sm-inline d-md-block d-lg-block d-xl-block cta-width wd-xs-h1">
                    <button class="PrimaryCTA  btn-ht-half " [ngClass]="{ filledCTA_White : darkCTATheme, filledCTA_Black : lightCTATheme }"
                      appButtonripple>Lorem ipsum ipsumips</button>
                  </div>
                  <div class="col-sm-6 col-md-12 col-12  padding-top-small-sm no-padding d-sm-inline d-md-block d-lg-block d-xl-block cta-width wd-xs-h1">
                    <button class="SecondaryCTA btn-ht-half cta-style margin-left-small " [ngClass]="{ translucentCTA_Magenta : darkCTATheme , translucentCTA_Black : lightCTATheme }"
                      appButtonripple>Lorem ipsum ipsumips</button>
                  </div>
                  <div class="legal-width-half">
                    <button class="TeritiaryCTA  btn-ht-half  no-padding-lr" [ngClass]="{ textCTA_White : darkCTATheme , textCTA_Magenta : lightCTATheme}"
                      appButtonripple>
                      <i class="fa fa-mobile"></i> Ready to Switch? Call 1-800-T-MOBILE</button>
                  </div>

                  <div class="col-12 col-sm-12 no-padding padding-top-small legal-width-half padding-bottom-large-xl">
                    <p class="mb-0 legal " [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">Via 24 monthly bill credit with finance agreement and eligible agreement and eligible.
                      <a class="tmo-modal-link legal " aria-label="See full terms" tabindex="0" [ngStyle]="{ color: darkTheme ? dark_textColor : light_textColor}">See full terms</a>
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="text-center padding-top-large padding-top-large-xs padding-bottom-xxl-xs p-b-94-sm padding-bottom-xxxl">
          <button class="SecondaryCTA blackCTA divCursor" [ngClass]="{ translucentCTA_Magenta : darkCTATheme , translucentCTA_Black : lightCTATheme }"
            appButtonripple>Load more</button>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-container">
    <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
      <div class="row no-margin padding-horizontal-medium">
        <span mat-dialog-title class="col-12 no-padding black padding-below-medium Display5 text-center">Header</span>
        <span class="col-12 no-padding pull-left body padding-vertical-medium">Place holder copy for content Place holder copy for content Place holder copy for content Place holder copy for content
          Place holder copy for content</span>
      </div>
      <div class="row no-margin  ">
        <div class="col-12 col-sm-10  col-md-12  no-padding padding-horizontal-xsmall">

          <button class="PrimaryCTA-accent pull-right  " [ngClass]="{ filledCTA_White : darkCTATheme, filledCTA_Black : lightCTATheme }"
            (click)="close();" appButtonripple>Got it</button>

        </div>
      </div>
    </div>
  </div>
  <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
  <div class="dialog-container">
    <div class="dialog animation-out" [ngClass]="{'animation-in':visible1}">
      <div class="row no-margin padding-horizontal-medium">
        <span mat-dialog-title class="col-12 no-padding black padding-below-medium Display5 text-center">Header</span>
        <span class="col-12 no-padding pull-left body padding-vertical-medium">Place holder copy for content Place holder copy for content Place holder copy for content Place holder copy for content
          Place holder copy for content</span>
      </div>
      <div class="row no-margin  ">
        <div class="col-12 col-sm-10  col-md-12  no-padding padding-horizontal-xsmall">

          <button class="PrimaryCTA-accent pull-right  " [ngClass]="{ filledCTA_White : darkCTATheme, filledCTA_Black : lightCTATheme }"
            (click)="close();" appButtonripple>Got it</button>

        </div>
      </div>
    </div>
  </div>
  <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible1,'overlay-out':!visible1}"></div>
</div>