<div class="TMO-LINE-SELECTLINE">
    <div class="container">
        <div class="row padding-bottom-medium-xs padding-bottom-medium-sm padding-top-large-xs padding-top-large-sm padding-top-xl padding-bottom-large">
            <div class="col-12 padding-bottom-small-xs padding-bottom-small-sm padding-bottom-medium">
              <p class="Display3 text-center">Line Settings</p>
              <div class="col-10 col-md-6 col-lg-4 offset-1 offset-md-3 offset-lg-4 padding-horizontal-xsmall  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm">
                <app-dropdown-selector [subTitle]="subTitle" [selectedVal]="selectedLine" [selectNames]="selectLine" (callBackValue)='handleLine($event)'
                  [dropdownId]="dropdownId"></app-dropdown-selector>
              </div>
            </div>
        
        <div *ngFor="let val of  bladeInfo; let i = index" class="col-10 offset-1 col-md-8 offset-md-2" >
            <app-profile-blade *ngIf="i < (bladeInfo.length-1); else bottomDivider" [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]='val.desc2' [url]="val.url"></app-profile-blade>
            <ng-template #bottomDivider>
              <app-profile-blade [bottomDividerClass]="'inset-divider-1px pb-3'" [titleText]='val.title' [titleDesc]='val.desc' [titleDesc2]= 'val.desc2' [url]="val.url"
                [bottomDivider]=true [icon]="val.icon" [switch]="val.switch" [checkOpt]="val.checkOpt"></app-profile-blade>
            </ng-template>
          </div>
        </div>
    </div>
</div>
