@import "src/assets/scss/global-variables.scss";
.TMO-DELETE-CARD-MODAL{
    .dialog{
        @media #{$tablets-md},#{$desktops-lg},
            #{$desktops-xl}{
                max-width: 450px;
        }
    }
}