<div class="TMO-DELETE-CARD-MODAL">
<div class="container">
    <div class="row padding-top-xxl padding-bottom-xxl">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
        <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Delete Card Modal</button>
      </div>
    </div>
    <div class="dialog-container">
      <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
        <div class="row no-margin text-center">
          <span  class="col-12 no-padding black Display5 ">Delete this card?</span>
        </div>
        <div class="row no-margin padding-top-medium text-center">
          <div class="col-12 body">Are you sure you want to delete</div>
        </div>

        <div class="text-center padding-top-small">
          <span class=" Display6 d-inline-flex align-items-center">
            <span class="sprite visa-icon pull-left"></span>
            <span class="p-l-10 black">****1234</span>
          </span>
        </div>

        <div class=" mx-md-0 padding-top-medium text-right ">
            <div class="col-12 no-padding padding-left-xsmall ">
                    <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="close()">Yes, delete</button>
                    <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()">No thanks</button>
            </div>
        </div>
      </div>
    </div>
    <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
</div>
</div>