@import "src/assets/scss/global-variables.scss";
.TMO-TEAM-DESCRIPTION-PAGE{
    .img-height{
        height: 294px;
    }
    @media #{$smartphones-xxs}, #{$smartphones-xs} {
        .img-height{
            height: 246px;
        }
    }
    
    .d-block-xxs {
        display:none;
    }

    @media #{$smartphones-xxs} {
        .modal-font-size{
            font-size: 14px;
        }

        .d-block-xxs {
            display:block;
        }

        .d-none-xxs {
            display:none;
        } 
    }
    @media #{$smartphones-xxs}, #{$smartphones-xs}, #{$smartphones-sm} {
    .border-bottom-xs{
        border-bottom: 1px solid #e8e8e8;
    }
    .p-l-0-xs{
        padding-left: 0px;
    }
    .p-r-0-xs{
        padding-right: 0px;
    }
    }
    @media #{$tablets-md}, #{$desktops-lg}, #{$desktops-xl}{
        .border-right-md{
            border-right: 1px solid #e8e8e8;
        }
    }
    .imgSize{
        font-size: 24px; 
    }
// Call us Css
.bg-f2f2f2 {
    background-color: $gray10;
}
input::placeholder{
    color:$gray60;
    opacity: 1;
}
@media #{$smartphones-xs},
    #{$smartphones-sm} {
        .call-content{
            min-height: calc(100vh - 185px);
        }
    }
// Schedule call Css
.header-height{
    height: 24px;
}
.btn-content{
    padding-left: 5px;
    padding-right: 6px;
    font-size: 14px;
    height: 48px;
    line-height: 20px;
}
.input{
    padding-top: 0px;
}
@media #{$alldeviceexceptsmartphone} {
    .width-100-sm{
        width: 100%;
    }
    .input{
        font-size:16px;
        line-height: 24px;
    }
    .btn-content{
        height: 64px;
        line-height: 14px;
    }
}
.scroll{
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    @media #{$desktops-xl}, #{$desktops-lg} 
    {
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            max-height: 75%;
        }
        max-height: 95%;
    } 
}
.dropdown-toggle{
    outline: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .transform-IE {
    transform: translate(0%, 5%);
    }
}
/*dialog as per redline grid starts*/
.dialog-fluid3{
    @media #{$tablets-md}{
        max-width: 454px;
    }
    @media #{$desktops-lg}{
         max-width: 607px;
    }
    @media #{$desktops-xl}{
        max-width: 732px;
   }
}
/*dialog as per redline grid ends*/
.gray-9b{
    color: $gray40;
}
.blackCTA.disabled{
    border-color: $gray40;
}
.margin-wrap
{
    margin: -2px;
}

}