<div class="TMO-TEAM-DESCRIPTION-PAGE">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 padding-top-large no-padding px-sm-3">
        <img src="assets/img/contact-us/product-launch-copy-2.png" class="d-block d-lg-none w-100 img-height">
        <img src="assets/img/contact-us/product-launch-copy-2@2x.png" class="d-lg-block d-none w-100 img-height">
      </div>
      <div class="col-12 col-md-6">
        <p class="Display3 padding-top-medium">Meet your team</p>
        <p class="H6-heading padding-top-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
        <p class="body padding-top-small">
          Your team of experts is available from
          <br> 7 am - 9 pm PT, Monday - Friday and
          <br> 9 am - 8 pm, Saturday - Sunday.
        </p>
        <div class="col-12 col-md-12 d-md-flex no-padding padding-top-small padding-top-large-xs padding-top-large-sm ">
          <div class="col-12 col-md-6 no-padding pr-md-2">
            <button appButtonripple class="PrimaryCTA w-100">Message Team</button>
          </div>
          <div class="col-12 col-md-6 no-padding padding-top-medium-xs padding-top-medium-sm">
            <button appButtonripple class="SecondaryCTA blackCTA w-100" (click)="change()">Call Team</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-top-xl no-padding px-sm-3">
        <div class="full-bleed-divider  d-block d-sm-none d-md-none d-lg-none d-xl-none"></div>
        <div class="inset-divider-1px d-none d-sm-block d-md-block d-lg-block d-xl-block"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-top-large padding-bottom-medium">
        <p class="Display4">Top tasks</p>
      </div>
    </div>
    <div class="row px-3 px-md-0">
      <div class="col-12 col-md-3 p-l-0-xs p-r-0-xs" *ngFor="let val of topTasks; let i = index" [ngClass]="{'border-right-md border-bottom-xs p-r-0 ': i != topTasks.length - 1, ' padding-top-medium-xs padding-top-medium-sm' : i != 0, 'padding-bottom-small': !(hideVar === i) && !isDesktop}">
        <p class="d-flex cursor justify-content-between" (click)="showFunc(i) && isDesktop">
          <span class="Display6">{{val.title}}</span>
          <span class="d-block d-md-none d-lg-none d-xl-none" [ngClass]="{'arrow-down arrowdown_rotation':!(hideVar === i),'arrow-up arrowup_rotation':(hideVar === i)}"></span>
        </p>
        <span *ngFor="let detail of val.data; let j = index">
          <p class="padding-top-small body brand-magenta cursor" *ngIf="(hideVar === i) && !isDesktop" [ngClass]="{'pb-2 pb-md-0': j == val.data.length - 1}">{{detail.name}}</p>
          <p class="padding-top-small body brand-magenta cursor" *ngIf="isDesktop" [ngClass]="{'pb-2 pb-md-0': j == val.data.length - 1}">{{detail.name}}</p>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-top-xl-md padding-top-xl-lg padding-top-xl-xl no-padding px-sm-3">
        <div class="full-bleed-divider  d-block d-sm-none d-md-none d-lg-none d-xl-none"></div>
        <div class="inset-divider-1px d-none d-sm-block d-md-block d-lg-block d-xl-block"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-top-large">
        <p class="Display4">Ask on the go</p>
        <p class="body padding-top-small-xs padding-top-medium">Enter one of the short codes, hit "send" and get the account information you need.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-bottom-xl">
        <div class="col-6 col-md-3 d-inline-block padding-top-large-xs padding-top-large-sm padding-top-small pr-0" *ngFor="let detail of askOnTheGo; let i = index"
          [ngClass]="{'pl-0': i == 0, 'p-l-0-xs p-l-0-sm': i == 2}">
          <p class="body font-weight-bold">{{detail.title}}</p>
          <p class="pt-1 d-flex align-items-start">
            <span class="pr-2">
              <i class="{{detail.iconClass}} d-inline-block"></i>
            </span>
            <span class="body">{{detail.code}}</span>
          </p>
        </div>
      </div>
      <div class="col-12 no-padding px-sm-3">
        <div class="full-bleed-divider  d-block d-sm-none d-md-none d-lg-none d-xl-none"></div>
        <div class="inset-divider-1px d-none d-sm-block d-md-block d-lg-block d-xl-block"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-top-large">
        <p class="Display4">Social support</p>
        <p class="body padding-top-small-xs padding-top-medium">Get help from T-Force on social networks</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-bottom-xl">
        <a class="col-3 d-inline-block text-center padding-top-large-xs padding-top-large-sm padding-top-small pr-0 cursor" *ngFor="let detail of socialSupport; let i = index"
          [ngClass]="{'pl-0': i == 0}" href={{detail.url}}>
          <i class="imgSize" [ngClass]="detail.iconClass" aria-hidden="true"></i>
          <p class="legal font-weight-bold padding-top-xsmall">{{detail.title}}</p>
        </a>
      </div>
      <div class="col-12 no-padding px-sm-3">
        <div class="full-bleed-divider d-block d-sm-none d-md-none d-lg-none d-xl-none"></div>
        <div class="inset-divider-1px d-none d-sm-block d-md-block d-lg-block d-xl-block"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 padding-top-large padding-bottom-xl">
        <p class="Display4">Reach us</p>
        <p class="body padding-top-small-xs padding-top-medium">Send your questions and comments to:</p>
        <p class="body padding-top-xsmall font-weight-bold">T-Mobile Customer Relations
          <br> P.O. Box 37380
          <br> Albuquerque, NM 87176-7380</p>
        <p class="body padding-top-xsmall">Note: Please don't send payments to this address.</p>
        <p class="body padding-top-xsmall">For general care call
          <a class="brand-magenta" href="#">(800) 937 - 8997</a> or
          <a class="brand-magenta" href="#">611</a>
        </p>
      </div>
    </div>
    <!-- Call us page starts -->
    <div class="dialog-container">
      <div class="dialog-fluid animation-out transform-IE" [ngClass]="{'animation-in':visible}">
        <div class="row no-margin text-center">
          <div class="col-12 Display3 text-center no-padding d-md-none padding-bottom-xsmall">Headline here.</div>
          <div class="col-12 Display4 text-center no-padding d-none d-md-block padding-bottom-xsmall">Headline here.</div>
        </div>
        <div class="row no-margin">
          <div class="col-12 col-md-11 offset-md-1 no-padding text-center H6-heading pr-md-5">
            <div class="pr-md-0 pr-lg-2 pr-xl-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </div>
          </div>
        </div>
        <form class="d-none d-md-block">
          <div class="row padding-top-large">
            <div class="col-6 offset-3 px-2 px-md-3 px-xl-4">
              <input tabindex="1" type="text" id="inputText" appClearInput minlength="8" maxlength="50" pattern="[a-zA-Z0-9]*" name="inputText"
                class="input" [(ngModel)]="inputtextfield.inputText" required #inputText="ngModel" placeholder="What phone number should we call you at?"
                [ngClass]="{'border-red':inputText.invalid && !inputText.pristine && !inputText.errors?.required}">
              <div class="input-animation"></div>
            </div>
          </div>
        </form>
        <div class="padding-top-xl-md padding-top-xl-lg padding-top-xl-xl">
          <div class="row mx-0 padding-top-medium">
            <div class="col-12 no-padding">
              <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2 modal-font-size" appButtonripple (click)="scheduleCall()">Schedule a call back</button>
              <button class="SecondaryCTA-accent blackCTA pull-right modal-font-size" appButtonripple>Call me</button>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
    <!-- Call us page ends -->
    <!-- Schedule Call page starts -->
    <div class="dialog-container">
      <div class="dialog-fluid dialog-fluid3 modal_landscapeht scroll transform-IE" [ngClass]="{'animation-out':!callBackVisible,'animation-in':callBackVisible}">
        <div class="row no-margin">
          <div class="col-12 Display4 text-center no-padding">Where can we reach you?</div>
        </div>
        <form>
          <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-large">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 px-4 px-md-1 px-lg-0 px-xl-1">
              <div class="floatingLabel no-padding">
                <input tabindex=0 type="text" id="numberVal" appClearInput minlength="10" maxlength="50" pattern="[0-9\s\-\.]*" name="numberVal"
                  class="body input" [(ngModel)]="number" required #numberVal="ngModel" placeholder="(123) 456-7890" [ngClass]="{'border-red':numberVal.invalid && !numberVal.pristine && !numberVal.errors?.required}">
                <label for="numberVal" class="labelpointer no-padding" [ngClass]="[(numberVal.invalid && !numberVal.pristine && !numberVal.errors?.required) ? 'legal color-red redClass' : '',
           (!numberVal.invalid )   ? 'legal' : '',
          ( numberVal.errors?.required ) ? 'body' : '']"></label>
                <div class="input-animation"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-4 offset-md-2 col-lg-3 offset-lg-3 pl-4 pr-1 pl-md-1 pl-lg-0 pl-xl-1 d-inline-block padding-top-medium-xs padding-top-medium-sm padding-top-small">
              <div class="dropdown" tabindex=1 id="test1" appDropdown dropdownid="test1" x-ms-format-detection="none">
                <div id="model1" class="dropdown-toggle">
                  <span class="body gray-9b" ng-model="selectedLine1">{{selectedLine1}}</span>
                  <span class="arrow-down pull-right mt-1"></span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="model1">
                  <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let dateObj of dateDetails" [ngClass]="{'active':dateObj.date === selectedLine1}"
                    (click)="select(dateObj.date,'date')">
                    <a> {{dateObj.date}} </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 pl-1 pr-4 pr-md-1 pr-lg-0 pr-xl-1 d-inline-block padding-top-medium-xs padding-top-medium-sm padding-top-small">
              <div class="dropdown" tabindex=2 id="test2" appDropdown dropdownid="test2" x-ms-format-detection="none">
                <div id="model2" class="dropdown-toggle">
                  <span class="body gray-9b" ng-model="selectedLine2">{{selectedLine2}}</span>
                  <span class="arrow-down pull-right mt-1"></span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="model2">
                  <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let timeObj of timeDetails" [ngClass]="{'active':timeObj.time === selectedLine2}"
                    (click)="select(timeObj.time, 'time')">
                    <a> {{timeObj.time}} </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 px-4 px-md-1 px-lg-0 px-xl-1 padding-top-medium-xs padding-top-medium-sm padding-top-small">
              <div class="dropdown" tabindex=3 id="test3" appDropdown dropdownid="test3" x-ms-format-detection="none">
                <div id="model3" class="dropdown-toggle">
                  <span class="body gray-9b" ng-model="selectedLine3">{{selectedLine3}}</span>
                  <span class="arrow-down pull-right mt-1"></span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="model3">
                  <li class="inset-divider-1px mx-1"></li>
                  <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let zoneObj of timeZone" [ngClass]="{'active':zoneObj.zone === selectedLine3}"
                    (click)="select(zoneObj.zone, 'zone')">
                    <a> {{zoneObj.zone}} </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
        <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-small">
          <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 px-4 px-md-1 px-lg-0 px-xl-1">
            <button appButtonripple class="SecondaryCTA blackCTA disabled full-btn-width width-100-sm gray-9b d-md-none">Find a time</button>
            <button appButtonripple class="SecondaryCTA blackCTA full-btn-width width-100-sm d-none d-md-block">Find a time</button>
          </div>
        </div>
        <div class="row padding-top-small d-none d-md-block">
          <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 px-4 px-md-1 px-lg-0 px-xl-1 body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
          </div>
        </div>
        <div class="row padding-top-small">
          <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 px-4 px-md-1 px-lg-0 px-xl-1">
            <div class="no-padding d-inline-block pr-1" *ngFor="let obj of dateTimeDetails; let i=index" [ngClass]="{'col-12': (dateTimeDetails.length) == 1,'col-6': (dateTimeDetails.length) == 2 || (dateTimeDetails.length) == 4,'col-4': (dateTimeDetails.length) == 3 ,'col-md-6': (dateTimeDetails.length) == 2,'col-md-4 ': (dateTimeDetails.length) == 3,'col-md-3 ': (dateTimeDetails.length) == 4,'padding-top-xsmall-xs padding-top-xsmall-sm': i == 3}">
              <button appButtonripple class="SecondaryCTA blackCTA full-btn-width width-100-sm btn-content">{{obj.time}}
                <p class="legal">{{obj.date}}</p>
              </button>
            </div>
          </div>
        </div>
        <div class="row no-margin padding-top-medium-xs padding-top-medium-sm padding-top-xl">
          <div class="col-12 no-padding">
            <button appButtonripple class="PrimaryCTA-accent float-right" (click)="confirm()">Confirm</button>
            <button appButtonripple class="SecondaryCTA-accent blackCTA float-right mr-2" (click)="close()">Cancel</button>
          </div>
        </div>
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':callBackVisible,'overlay-out':!callBackVisible}"></div>
    </div>
    <!-- Schedule Call page ends -->
    <!-- confirmation starts -->
    <div class="dialog-container">
      <div class="dialog-fluid modal_landscapeht scroll transform-IE" [ngClass]="{'animation-out':!confrmnVisible,'animation-in':confrmnVisible}">
        <div class="row no-margin">
            <div class="col-12 Display3 text-center no-padding d-md-none">Thanks!</div>
            <div class="col-12 Display4 text-center no-padding d-none d-md-block">Thanks!</div>
        </div>
        <div class="row no-margin padding-top-small-xs padding-top-small-sm padding-top-xsmall">
          <div class="col-12 padding-horizontal-xsmall body d-md-none">We'll call (000) 00-0000 around 0:00 PM on July 10, 2018. If we can't reach you, we will try again two more times.</div>
          <div class="col-md-11 offset-md-1 no-padding text-center H6-heading d-none d-md-block pr-md-5">
            <div class="pr-md-0 pr-lg-2 pr-xl-4">
              We'll call (000) 00-0000 around 0:00 PM on July 10, 2018. If we can't reach you, we will try again two more times.
            </div>
          </div>
        </div>
        <div class="row no-margin padding-top-medium">
          <div class="col-12 no-padding">
            <button appButtonripple class="PrimaryCTA-accent float-right" (click)="done()">Done</button>
          </div>
        </div>
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':confrmnVisible,'overlay-out':!confrmnVisible}"></div>
    </div>
    <!-- confirmation ends -->
    <!-- confirmation schedule call starts -->
    <div class="dialog-container">
      <div class="dialog-fluid modal_landscapeht scroll transform-IE" [ngClass]="{'animation-out':!scheduleConfrmnVisible,'animation-in':scheduleConfrmnVisible}">
        <div class="row no-margin">
          <div class="col-12 Display3 text-center no-padding d-md-none">You have scheduled a callback</div>
          <div class="col-12 Display4 text-center no-padding d-none d-md-block">You have scheduled a callback</div>
        </div>
        <div class="row no-margin padding-top-medium-xs padding-top-medium-sm padding-top-xsmall">
          <div class="col-12 padding-horizontal-xsmall body d-md-none">We'll call (000) 00-0000 around 0:00 PM on July 10, 2018. If we can't reach you, we will try again two more times.</div>
          <div class="col-md-11 offset-md-1 no-padding text-center H6-heading d-none d-md-block pr-md-5">
            <div class="pr-md-0 pr-lg-2 pr-xl-4">
              We'll call (000) 00-0000 around 0:00 PM on July 10, 2018. If we can't reach you, we will try again two more times.
            </div>
          </div>
        </div>
        <div class="row no-margin padding-top-medium margin-wrap">
          <div class="col-12 no-padding">
            <button appButtonripple class="PrimaryCTA-accent float-right" (click)="scheduleCall()">Make a change</button>
            <button appButtonripple class="SecondaryCTA-accent blackCTA float-right mr-2 d-block-xxs" (click)="close()">Cancel</button>
            <button appButtonripple class="SecondaryCTA-accent blackCTA float-right mr-2 d-none-xxs" (click)="close()">Cancel callback</button>
          </div>
        </div>
      </div>
      <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':scheduleConfrmnVisible,'overlay-out':!scheduleConfrmnVisible}"></div>
    </div>
    <!--confirmation schedule ends -->
  </div>
</div>