<div class="TMO-SUZY-PITCH-PAGE " *ngIf="pitchPageData">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 no-padding">
        <div class="imagecontainer">
        <img class="w-100 cursor" src="{{pitchPageData.title[0].image}}" tabindex="0" aria-label="suzy sheep image">
      </div>
      </div>
      
      <div class="col-12 col-md-8 bg-white pos-suzy-title-md title-top bg-white visible-xs">
          <div class="container no-padding-xs">
            <div class="">
                <p class="Display2 gray85 padding-vertical-medium-xs padding-vertical-medium-sm padding-top-xl-md padding-top-xl-lg padding-top-xl-xl padding-bottom-xxl-md padding-bottom-xxl-lg padding-bottom-xxl-xl">
                  <span tabindex="0" [attr.aria-label]="pitchPageData.title[0].name">{{pitchPageData.title[0].name}}</span></p>  
            </div>
          </div>
      </div>

      <div class="container no-padding-xs hidden-xs">
          <div class="col-12 col-md-8 bg-white pos-suzy-title-md title-top bg-white">
                <p class="Display2 gray85 padding-vertical-medium-xs padding-vertical-medium-sm padding-top-xl-md padding-top-xl-lg padding-top-xl-xl padding-bottom-xxl-md padding-bottom-xxl-lg padding-bottom-xxl-xl">
                  <span tabindex="0" [attr.aria-label]="pitchPageData.title[0].name">{{pitchPageData.title[0].name}}</span></p>  
            </div>
      </div>

    </div>
  </div>
  <div class = "container-fluid no-padding banner-position">
  <div class="container p-b-80-md padding-bottom-xl-xs padding-bottom-xl-sm">
    <div class="row">      
        <div class="col-12 col-md-10 offset-md-1 text-center padding-top-xl-xs padding-top-xl-sm">
            <span class="Display4 gray85" tabindex="0" [attr.aria-label]="pitchPageData.title[0].description">{{pitchPageData.title[0].description}}</span>
        </div>
    </div>
    <div class="row p-t-80-md padding-top-xl-xs padding-top-xl-sm align-self-center" [ngClass]="{'row-reverse padding-top-xxxl-xs padding-top-xxxl-sm':(data.bannerPosition==='right')}" *ngFor="let data of pitchPageData.data">
      <div class="col-12 align-self-center" [ngClass]="{'col-md-5 col-lg-4':(data.bannerPosition!=='center')}" >
        <img class="w-100 cursor image-h" [src]="(data.bannerPosition==='center' && isDesktop===true)? data.bigImage : data.image " tabindex="0" [attr.aria-label]="data.name+' image'">
      </div>
      <div [ngClass]="{'col-md-1':(data.bannerPosition!=='center')}"></div>
      <div class="col-12  align-self-center" [ngClass]="{'col-md-6 col-lg-7':(data.bannerPosition!=='center'), 'col-sm-8 col-md-8 col-lg-6':(data.bannerPosition==='center' && isDesktop===true), 'padding-top-xl':(data.bannerPosition ==='center' && isDesktop===true) }">
        <p class="Display4 gray85 padding-top-medium-sm padding-top-medium-xs"><span tabindex="0" [attr.aria-label]="data.name">{{data.name}}</span></p>
        <p class="body font-sf-pro gray85 padding-top-small"><span tabindex="0" [attr.aria-label]="data.desc">{{data.desc}}</span></p>
        <div *ngIf="data.appDownload.length>0" class="d-flex padding-top-xl content-center-sm">
          <p *ngFor="let dwnldInfo of data.appDownload; let i= index" [ngClass]="{'padding-left-12 p-l-32-sm':i>0}">
            <img class="playstore-img-size cursor" src="{{dwnldInfo.appstoreImage}}" tabindex="0" [attr.aria-label]="dwnldInfo.appStoreName">
          </p>
        </div>
        <p class="padding-top-xl" *ngIf="data.moreInfo.length>0">
          <span class="body-bold font-sf-pro-bold brand-magenta cursor" tabindex="0" [attr.aria-label]="data.moreInfo[0].displayText">{{data.moreInfo[0].displayText}}<span class="arrow-right-magenta d-inline-block active margin-bottom-base"></span></span>
        </p>
      </div>
      
    </div>
  </div>
</div>
</div>  
  