@import "src/assets/scss/global-variables.scss";

.TMO-SUZY-PITCH-PAGE {
    .container-fluid {
        background-color: $gray05;
    }
    .body{
    font-size: 16px;
    line-height: 24px;
    font-family: $SFProText-Regular;
    font-weight: normal;
    }

    .margin-bottom-base{
        margin-bottom:-4px;
    }

    @media #{$alldeviceexceptsmartphone} {
        .row-reverse {
            flex-direction: row-reverse;
        }
        .pos-suzy-title-md {
            position: relative; 
            top: -62px;
            left: -1px;
        }
        .p-l-60-md {
            padding-left: 60px;
        }
        .p-t-80-md {
            padding-top: 80px;
        }
        .p-b-80-md {
            padding-bottom: 80px;
        }
        .playstore-img-size {
            width: 153px;
            height: 46px;
        }
        .Display2{
            line-height: 72px;
        }

        .imagecontainer{
            position: absolute;
            width: 100%;
            clip: rect(0,auto,400px,0);
        }

        .banner-position {
            padding-top: 400px;
        }

        .title-top {
            top:322px;
        }

        .visible-xs {
            display: none;
        }

        .hidden-xs {
            display: block;
        }
    }
    .playstore-img-size {
        width: 139px;
        height: 46px;
    }
    .bg-white {
        background-color: $white;
    }
    .padding-left-12 {
        padding-left: 12px;
    }
    .font-sf-pro {
        font-family: $SFProText-Regular;
    }
    .font-sf-pro-bold{
        font-family: $SFProText-Bold;
    }
    .title-position{
        margin-top:-197px;
        position: absolute;
        z-index: 100;
    }
    .titlecontainer{
        height:120px;
    }
    @media #{$smartphones-xs},#{$smartphones-sm} {
        .image-h{
            height: auto;
        }
        .content-center-sm{
            justify-content: center;
            align-items: center;
        }
        .p-l-32-sm{
            padding-left:32px;
        }
        .Display2{
            font-size: 48px;
            line-height: 52px;
        }
        .titlecontainer{
            height:100px;
        }
        .title-position{
            margin-top:-95px;
            position: absolute;
            z-index: 100;
        }

        .visible-xs {
            display: block;
        }

        .hidden-xs {
            display: none;
        }
    }
    @media #{$smartphones-xxs}{
        .p-l-32-sm{
            padding-left:12px;
        }
    }
   
}