@import "src/assets/scss/global-variables.scss";
#TMO-STYLEGUIDE-FILTERS{
    .detailsDivShadow{
        /*box-shadow: 0 7px 15px 5px rgba(0, 0, 0, 0.18) !important;*/
        padding: 20px;
        border:1px solid #eeeeee;
    }
    .m-r-16{
        margin-right: 16px;
    }
    .m-t-16{
        margin-top: 16px;
    }
    .card-height {
                height: 350px;
            }
    @media #{$smartphones-xxs}, #{$smartphones-xs}{
        .card-height {
                 height: 320px;
            }
    }
    @media #{$tablets-md}{
        .card-height {
            height: 320px;
       }
    }
    .colorBox{
        width:30px; 
        height:30px;
        border:1px solid lightgrey
    }
    .d-contents{
        display:contents;
    }
    .word-break{
        word-break: break-word;
    }
    .pr-0-xs{
        @media #{$smartphones-xxs}, #{$smartphones-xs}{
                padding-right: 0px;
        } 
    }
    .pl-0-xs{
        @media #{$smartphones-xxs}, #{$smartphones-xs}{
                padding-left: 0px;
        } 
    }
    .img-dim{
        @media #{$smartphones-xxs},#{$smartphones-xs},#{$smartphones-sm}{
            width: 95px;
            height: 120px;
        }
        @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
            width: 150px;
            height: 160px;
        }
    }
}