<div class="container">
  <div id="TMO-STYLEGUIDE-FILTERS">

    <app-filters-reusable [filterMainData]="filterMainData" [sortKeys]="sortKeys" [filterKeys]="filterKeys" [showFilterValues]="showFilterValues"
      [filterTitleArray]="filterTitleArray" (itemsDivEmit)="itemsDivEmit($event)"></app-filters-reusable>

    <div class="row no-padding">
      <div class="col-12 d-flex flex-wrap padding-bottom-xl pr-0">
        <div class="col-lg-3 col-6 no-padding " 
          *ngFor="let val of filterMainData; let i = index" [hidden]="!visibleDiv(val.id)">
          <div class="divShadow m-r-16 m-t-16 no-padding divCursor padding-vertical-medium bg-white detailsDivShadow card-height"  id="itemsDiv{{val.id}}" >
            <img src={{val.imageLink}} class="mx-auto d-block img-thumbnail border-0 img-dim">
            <div class="d-inline-block word-break">
              <p class="body"><strong>Manufacture:</strong>
                <span class="body"> {{val.Manufacture}}</span>
              </p>
              <p class="body"><strong>Condition:</strong>
                <span class="body"> {{val.Condition}}</span>
              </p>
              <p class="body"><strong>Price:</strong>
                <span class="body"> {{val.Price}}</span>
              </p>
              <p class="body"><strong>Review:</strong>
                <span class="body"> {{val.Review}}</span>
              </p>
              <p class="body d-flex align-items-center"><strong>Color:</strong>
                <span class="body m-2 colorBox" [style.backgroundColor]="val.Color" ></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
