<div class="TMO-EDIT-MODAL6-PAGE">
  <div class="container">
    <app-header></app-header>
    <div class="padding-top-xxl">
      <app-datepicker [parentTitle]="title" [parentShowSubTitle]="showSubTitle">parentDueDate</app-datepicker>
    </div>
    </div>
  </div>