<div class="container">
  <div class="row">
    <div class="col-12 Display3 text-center padding-top-large padding-bottom-medium">
      <span tabindex="0" [attr.aria-label]="title">{{title}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 no-padding-xs">
      <div class="inset-divider-1px"></div>
    </div>
  </div>
  <div class="row" *ngFor="let option of paymentArray; let i=index">
    <div class="col-12 col-md-10 offset-md-1 no-padding padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium align-items-center cursor"
      tabindex="-1" routerLink={{option.url}} routerLinkActive="active">
      <div class="col-12 Display6">
        <span tabindex="0" [attr.aria-label]="option.title">{{option.title}}</span>
      </div>
      <div class="col-12 padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">
        <div class="col-10 no-padding d-inline-block body">
          <span tabindex="0" [attr.aria-label]="option.content">{{option.content}}</span>
        </div>
        <a class="arrow-right d-inline-block pull-right" tabindex="0" aria-label="click to view details" routerLink={{option.url}}
          routerLinkActive="active"></a>
      </div>
    </div>
    <div class="col-12 col-md-10 offset-md-1 no-padding-xs">
      <div class="inset-divider-1px"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 offset-md-4 padding-vertical-medium padding-bottom-xl-xs padding-bottom-xl-sm">
      <div class="col-12 no-padding">
        <button class="SecondaryCTA blackCTA w-100 full-btn-width float-md-right float-lg-right float-xl-right"
          appButtonripple role="button" tabindex="0" aria-label="click here to go back to your bill">Back to your bill</button>
      </div>
    </div>
  </div>
</div>
