<div class="TMO-PAYMENT-SCHEDULE-BLADE">
  <div class="row padding-top-small" *ngIf='topDivider'>
    <div class="col-12">
      <div class="{{topDividerClass}}"></div>
    </div>
  </div>
  <div *ngFor="let payInfo of paymentInfo,let i=index">
    <div class="row">
      <div class="col-12 padding-top-small d-flex">
        <div class="d-inline-flex no-padding col-8">
          <div class="Display6">{{payInfo.title}}</div>
        </div>
        <div class="col-4 d-flex justify-content-end no-padding align-items-end align-items-md-center" >
          <span class="Display6 padding-horizontal-xsmall">${{payInfo.total}}</span>
          <div class="fa-lg text-right" *ngIf="!payInfo.status">
            <span *ngIf="url" class="{{arrowClass}}" routerLink={{url}} routerLinkActive="active" class="arrowDiv d-inline-block"></span>
            <span *ngIf="!url" class="{{arrowClass}}" class="arrowDiv d-inline-block"></span>
          </div>
        </div>
        
      </div>
    </div>
    <div *ngFor="let val of payInfo['paymentDetails'],let k = index">
      <div class="row">
        <div class="col-12 padding-top-small d-flex">
          <div class="d-inline-flex no-padding" [ngClass]="{'col-8': val.status === '', 'col-5' : val.status !== ''}">
            <div class="box1 text-center" *ngIf="val.id">{{val.id}}</div>
            <div class="{{textClass}} " [ngClass]="{'pl-2 pl-sm-2 pl-md-3 pl-xl-3 pl-lg-3': val.id}" *ngIf="val.date">{{val.date}}</div>
          </div>
          <div class="col-4 no-padding d-flex" *ngIf='val.status'>
            <div [ngClass]="{'fa fa-check-circle green': val.status == 'Paid','exclamation-circle': val.status== 'Missed'}"></div>
            <span class="body ml-1">{{val.status}}</span>
          </div>
          <div  class="no-padding d-flex justify-content-end align-items-end align-items-md-center" [ngClass]="{'col-4':val.status === '', 'col-3' : val.status !== ''}">
            <span class="{{amountClass}} padding-horizontal-xsmall">${{val.amount}}</span>
            <div class="fa-lg text-right" *ngIf="!payInfo.status" >
              <span *ngIf="url" [ngClass]="{'arrowClass':val.status}" routerLink={{url}} routerLinkActive="active" class="arrowDiv d-inline-block"></span>
              <span *ngIf="!url" [ngClass]="{'arrowClass':val.status}" class="arrowDiv d-inline-block"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row padding-bottom-small" *ngIf='bottomDivider'>
    <div class="col-12">
      <div class="{{bottomDividerClass}}"></div>
    </div>
  </div>
</div>