@import "src/assets/scss/global-variables.scss";
.TMO-PAYMENT-SCHEDULE-BLADE{
.box1{
    width:20px;
    background-color: $gray60;
    color: azure;
}
.fa-check-circle{
    width:24px;
    height:24px;
    font-size:24px;
}
.arrowDiv{
    width: 20px;
    height: 20px;
}
}