@import "src/assets/scss/global-variables.scss";
.TMO-SUCCESS-VERIFIED {
    .m-b-8{
        margin-bottom:8px;
    }
    @media #{$smartphones-xs}, #{$smartphones-sm} {
        .main-content{
            min-height: calc(100vh - 96px);
         }
        }
        @media #{$alldeviceexceptsmartphone}{
        .txtcenter
        {
            text-align: center;
        }
    }
    
}