<div class="TMO-SUCCESS-VERIFIED">
  <div class="container">
      <div class="main-content">
    <div class="row">
        <div class="col-10 offset-1 text-center padding-top-medium-xs padding-top-medium-sm padding-top-large padding-bottom-xsmall">
            <i class="validated_outline_green-48px d-inline-block d-md-none"></i>
            <i class="validated_outline_green-64px d-none d-md-inline-block"></i>
         </div>
      <div class="col-md-8 offset-md-2 ">
        <p class="Display3 text-center">Military verification</p>
      </div>
      
      <div class="col-md-8 offset-md-2 padding-vertical-xsmall">
        <p class="H5-heading text-center">Verified</p>
      </div>
      <div class="col-md-8 offset-md-2">
        <p class="body text-center">Thank you for completing your military verification. You may now qualify for discounted prices.</p>
      </div>
      <div class="col-md-8 offset-md-2 padding-top-medium">
        <p class="body text-center">Thank you for your service.</p>
      </div>
    </div>
    <div class="row txtcenter">
      <div class="col-12 col-md-8 offset-md-2 padding-vertical-small-xs padding-vertical-small-sm padding-top-medium padding-bottom-medium">
        <p class="Display6">Name</p>
        <p class="body padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">{{firstName}} {{lastName}}</p>
      </div>
      <div class="col-12 col-md-8 offset-md-2 padding-vertical-small-xs padding-vertical-small-sm padding-top-medium padding-bottom-medium">
        <p class="Display6">Email address</p>
        <p class="body padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">{{emailId}}</p>
      </div>
      <div class="col-12 col-md-8 offset-md-2 padding-vertical-small-xs padding-vertical-small-sm padding-top-medium padding-bottom-medium">
        <p class="Display6">Approval date</p>
        <p class="body padding-top-xsmall-xs padding-top-xsmall-sm padding-top-small">{{approvalDate}}</p>
      </div>
    </div>
    <div class="col-12 padding-top-medium no-padding padding-bottom-xl m-b-8 d-md-none">
      <a class="black text-decoration-underline legal" routerLink="/fidTermsAndCondition">Terms & Conditions</a>
     </div>
    </div>
    <div class = "row">
        <div class = "col-12 text-center padding-bottom-small-xs padding-bottom-small-sm">
            <button class="PrimaryCTA full-btn-width text-center" appButtonripple>
              Done
            </button>
          </div>
           <div class="col-12 padding-top-xl padding-bottom-xl m-b-8 text-center d-none d-md-block ">
             <a class="black text-decoration-underline legal" routerLink="/fidTermsAndCondition">Terms & Conditions</a>
            </div>
      <!-- <div class="col-12 col-md-10 offset-md-1 padding-top-large padding-bottom-xxxl m-b-8">
          <p class="legal"><a class="black text-decoration-underline" routerLink="/fidPrivacyPolicy">Privacy Policy</a></p>
      </div> -->
    </div>
  </div>
</div>