.TMO-GLOBAL-HEADER-COMPONENT {
  $smartphones-xxs: "only screen  and (max-width: 374px)";
  $smartphones-xs: "only screen  and (max-width: 575px)";
  $smartphones-sm: "only screen and (min-width: 576px) and (max-width: 767px)";
  $tablets-md: "only screen and (min-width: 768px) and (max-width: 991px)";
  $desktops-lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
  $desktops-xl: "only screen and (min-width: 1200px)";
  $alldeviceexceptsmartphone: "only screen and (min-width: 768px)";

  $small-tablets: "only screen and (min-width: 768px) and (max-width: 800px)";
  $tele-grotesk-ultr: Tele-Ult;
  $tele-grotesk-fet: Tele-Fet;
  $tele-grotesk-norm: Tele-Nor;
  $tele-grotesk-hal: Tele-Hal;
  $arial: Arial;
  $absolute: absolute;
  $bold: bold;
  $normal: normal;
  $pointer: pointer;
  $hidden: hidden;
  $none: none;
  $block: block;
  $auto: auto;
  $right: right;
  $brand-magenta: #e20074;
  $gray20: #e8e8e8;
  $gray30: #cccccc;
  $gray60: #6a6a6a;
  $gray70: #4c4c4c;
  $black: #000000;
  $white: #ffffff;
  $zero: 0;
  $base: 4px;
  $xs: 8px;
  $s: 16px;
  $m: 24px;
  $l: 32px;
  $xl: 40px;
  $xxl: 48px;
  $xxxl: 56px;
  $gray80: #333333;
  $gray85: #262626;

  @mixin gh-txt-styles(
    $font-family: $arial,
    $font-size: 5px,
    $font-weight: $normal,
    $letter-spacing: 5px,
    $line-height: 5px
  ) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
  }

  
  
  .gh-header {
    box-sizing: border-box;
  }

  .gh-h5-heading {
    @include gh-txt-styles($tele-grotesk-ultr, $m, $normal, -0.3px, 22px);
  }

  .gh-h6-heading {
    @include gh-txt-styles($tele-grotesk-ultr, $s, $normal, -0.1px, 20px);
  }

  .gh-title-heading {
    @include gh-txt-styles($tele-grotesk-norm, 20px, $normal, -0.15px, 20px);
  }

  .gh-lang-font {
    @include gh-txt-styles($tele-grotesk-norm, 14px, $bold, 0.8px, $s);
  }

  .gh-header-title {
    @include gh-txt-styles($tele-grotesk-ultr, 18px, $normal, $zero, $m);
    color: $white;

    @media #{$smartphones-xxs} {
      font-size: 16px;
    }
  }

  @media #{$smartphones-xs}, #{$smartphones-sm} {
    .gh-body-copy {
      @include gh-txt-styles($arial, 14px, $normal, $zero, 20px);
    }
  }

  @media #{$smartphones-xxs} {
    .gh-body-copy {
      @include gh-txt-styles($arial, 12px, $normal, $zero, 20px);
    }
  }

  @media #{$alldeviceexceptsmartphone} {
    .gh-body-copy {
      @include gh-txt-styles($arial, $s, $normal, 0.5px, $m);
    }

    .gh-link-tele-ultr {
      @include gh-txt-styles($tele-grotesk-ultr, $s, $normal, 0.5px, $normal);
    }

    .gh-menu-tele-ultr {
      @include gh-txt-styles($tele-grotesk-ultr, $s, $normal, $zero, 22px);
    }

    .gh-tele-next-medium {
      @include gh-txt-styles($tele-grotesk-norm, $s, $normal, 0.5px, $normal);
    }
  }

  /* global styles starts */

  input::-ms-clear {
    display: none;
  }

  .gh-black {
    color: $black;
  }

  .gh-d-flex {
    display: flex;
  }

  .gh-d-inline-flex {
    display: inline-flex;
  }

  .gh-d-block {
    display: block;
  }

  .gh-d-inline-block {
    display: inline-block;
  }

  .gh-absolute-position {
    position: $absolute;
  }
  .gh-fixed-position {
    position: fixed;
  }
  .gh-relative-position {
    position: relative;
  }

  .gh-justify-content-between {
    justify-content: space-between;
  }

  .gh-align-items-center {
    align-items: center;
  }

  @media #{$smartphones-xs}, #{$smartphones-sm} {
    .gh-align-items-center-xs {
      align-items: center;
    }
  }
  .gh-justify-content-end {
    justify-content: flex-end;
  }

  .gh-inline-block {
    display: inline-block;
  }

  .gh-float-left {
    float: left;
  }

  .gh-float-right {
    float: right;
  }

  .gh-cursor {
    cursor: $pointer;
  }

  .gh-text-decoration-none {
    text-decoration: none;
  }

  /* global styles ends */

  // header icons starts
  @mixin icons($background) {
    background: $background no-repeat;
  }

  @mixin icon-height-width($height, $width) {
    height: $height;
    width: $width;
  }

  .gh-tmo-icon {
    @include icons(url("../../../../assets/img/header-footer/logo-pink.svg"));
    @include icon-height-width($l, 30px);
  }

  .gh-person-white {
    @include icons(url("../../../../assets/img/header-footer/baseline-person-24px-white.svg"));
    @include icon-height-width(20px, 20px);
  }

  .gh-person-magenta {
    @include icons(url("../../../../assets/img/header-footer/person-magenta.svg"));
    @include icon-height-width(20px, 20px);
  }

  .gh-arrow-down-gray {
    @include icons(url("../../../../assets/img/header-footer/arrow-down-gray.svg"));
    @include icon-height-width(20px, 20px);
  }

  .gh-arrow-up-white {
    @include icons(url("../../../../assets/img/header-footer/arrow-up-white.svg"));
    @include icon-height-width($s, $s);
  }

  .gh-call-white {
    @include icons(url("../../../../assets/img/header-footer/baseline-call-24px-white.svg"));
    @include icon-height-width($m, $m);
  }

  .gh-call-magenta {
    @include icons(url("../../../../assets/img/header-footer/call-magenta.svg"));
    @include icon-height-width($m, $m);
  }

  .gh-comments-white {
    @include icons(url("../../../../assets/img/header-footer/round-question_answer-24px-white.svg"));
    @include icon-height-width($m, $m);
  }

  .gh-comments-magenta {
    @include icons(url("../../../../assets/img/header-footer/comments-magenta.svg"));
    @include icon-height-width($m, $m);
  }

  .gh-search-white {
    @include icons(url("../../../../assets/img/header-footer/baseline-search-24px-white.svg"));
    @include icon-height-width($m, $m);
  }

  .gh-search-gray {
    @include icons(url("../../../../assets/img/header-footer/baseline-search-gray.svg"));
    @include icon-height-width($m, $m);
  }

  .gh-search-magenta {
    @include icons(url("../../../../assets/img/header-footer/baseline-search-magenta.svg"));
    @include icon-height-width($m, $m);
  }

  .gh-menu-white {
    @include icons(url("../../../../assets/img/header-footer/baseline-menu-24px-white.svg"));
    @include icon-height-width($m, $m);
  }

  .gh-close-black {
    @include icons(url("../../../../assets/img/header-footer/close-black.svg"));
    @include icon-height-width(20px, 20px);
    right: 19px;
    top: 4px;
  }

  .gh-close-white {
    @include icons(url("../../../../assets/img/header-footer/close-white.svg"));
    @include icon-height-width(20px, 20px);
  }

  .gh-magenta-search-position {
    right: 0;
    margin-right: $xs;
    top: 30px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-left: -34px;
    }
    @media #{$smartphones-xs}, #{$smartphones-sm} {
      top: 0px;
      right: 20px;
      margin-right: 12.7px;
      height: 23.3px;
      width: 23.3px;
    }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px),
    only screen and (max-width: 1199px) and (min-width: 992px) {
    .gh-magenta-search-position {
      right: 0;
      margin-right: 8px;
    }
  }

  // header icons ends

  .gh-header {
    background-color: $black;
    height: 72px;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: $s;
    padding-right: 18px;
    @media #{$alldeviceexceptsmartphone} {
      height: 113px;
      padding-top: $s;
      padding-bottom: $s;
      padding-left: $l;
      padding-right: $l;
    }
  }

  .gh-border-right {
    border-right: 1px solid $white;
    height: 31px;
  }

  .gh-border-left {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 20px;
  }

  .gh-sidenav {
    width: $zero;
    z-index: 100;
    top: $zero;
    right: $zero;
    box-shadow: -5px $zero $m $zero rgba($zero, $zero, $zero, 0.25);
    background-color: $gray80;
    overflow: $hidden;
    padding-top: $xxxl;
    transition: width 0.5s;
  }

  .gh-gray85 {
    background: $gray85;
  }

  .gh-dropdown-toggle {
    border-bottom: solid 1px $gray70;
    height: 25px;
    padding-bottom: 3px;
    /*width: 135px;*/
    min-width: 135px;

    &::after {
      border-top: $none;
      border-right: $none;
      border-left: $none;
    }

    // &:focus {
    //   outline: $none;
    // }

    &:hover {
      .gh-dropdown-name {
        color: $brand-magenta;
      }
    }
  }

  .gh-dropdown-menu {
    background-color: $gray80;
    background-clip: padding-box;
    border-top: 4px solid $brand-magenta;
    display: $block;
    float: left;
    font-size: 1rem;
    list-style: $none;
    max-height: $zero;
    opacity: $zero;
    overflow: $hidden;
    padding: $zero;
    right: -13px;
    left: -$s;
    transition: max-height 0.3s, opacity 0.2s 0.2s, visibility 0s 0.3s;
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.2s, visibility 0s 0.3s;
    -moz-transition: max-height 0.3s, opacity 0.2s 0.2s, visibility 0s 0.3s;
    -ms-transition: max-height 0.3s, opacity 0.2s 0.2s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.2s, visibility 0s 0.3s;
    visibility: $hidden;
    min-width: 135px;
    position: absolute;
    /*min-width: 152px;
    margin: 0.125rem 21px 0 0;*/
    text-align: left;
    z-index: 5001;

    li.gh-dropdown-option:hover > a,
    li.gh-dropdown-option:active > a,
    .gh-dropdown-option-active-a,
    .gh-dropdown-hover > a {
      color: $brand-magenta;
    }
  }

  .gh-dropdown-menu.show {
    max-height: 220px;
    opacity: 1;
    transition: max-height 0.5s, opacity 0.2s, visibility 0s;
    -webkit-transition: max-height 0.5s, opacity 0.2s, visibility 0s;
    -moz-transition: max-height 0.5s, opacity 0.2s, visibility 0s;
    -ms-transition: max-height 0.5s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.5s, opacity 0.2s, visibility 0s;
    visibility: visible;
  }

  .gh-dropdown-toggle-height {
    height: 227px;
  }

  .gh-dropdown {
    position: relative;

    &:focus {
      outline: $none;

      .gh-dropdown-toggle {
        outline: 1px dotted $white;
        outline: -webkit-focus-ring-color $auto 5px;

        &.outline-none {
          outline: $none;
        }
      }
    }
  }

  .gh-container-xl {
    @media #{$desktops-xl} {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      max-width: 1140px;
    }
  }

  .gh-search-gray {
    @media #{$smartphones-xs}, #{$smartphones-sm} {
      width: 23.3px;
      height: 23.3px;
      margin-right: 12.7px;
      right: 20px;
    }
    @media #{$alldeviceexceptsmartphone} {
      top: 30px;
    }

    @media #{$tablets-md}, #{$desktops-lg} {
      right: 0;
      margin-right: $xs;
    }

    @media #{$desktops-xl} {
      right: 0;
      margin-right: $xs;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        margin-left: -34px;
        margin-right: $xs;
      }
    }
  }

  .gh-inputMobile {
    animation: $none;
    top: $zero;
    left: $zero;
    width: 100%;
    height: 72px;
    right: $zero;
    padding: 26px 100px 26px $s;
  }

  .gh-box-sizing-border-box {
    box-sizing: border-box;
  }

  .gh-dialog-container {
    align-items: baseline;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
  }

  .gh-dialog {
    height: 72px;
    left: $zero;
    max-height: 72px;
    min-width: 100%;
    width: 100%;
    position: fixed;
    background-color: $white;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
    right: 15px;
    padding: $m $m $m $m;
    max-width: 343px;
        @media #{$tablets-md} {
          min-width: 320px;
          max-width: 570px;
        }
        @media #{$desktops-lg},
           #{$desktops-xl} {
          min-width: 320px;
          max-width: 607px;
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          top: 10%;
          left: 0px;
          right: 0px;
          width: 100%;
          @media #{$smartphones-xs}, #{$smartphones-sm}, #{$smartphones-xxs} {
            top: 0px;
          }
          @media #{$smartphones-xxs} {
            max-width: 310px;
          }
      }
  }

  .gh-border-left-black {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    height: 20px;
    right: 20px;
    margin-right: 15px;
    opacity: 0.5;
    top: 2px;
  }

  .gh-overlay {
    position: absolute;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    bottom: 0px;
  }

  .gh-overlay-in {
    z-index: 5;
  }

  .gh-overlay-out {
    opacity: 0;
    z-index: -999;
  }

  .gh-input {
    caret-color: $brand-magenta;
    letter-spacing: $zero;
  }

  .gh-person-white {
    right: 4px;
    top: -2px;
  }

  .gh-arrow-down-gray {
    width: $s;
    height: $s;
    margin-top: 5px;
    margin-left: 5px;
  }

  .gh-arrow-up-white {
    width: $s;
    height: $s;
    top: 5px;
    left: 5px;
  }

  .gh-menu-close-position {
    right: 19px;
    top: 26px;
  }

  .gh-search-out {
    height: $zero;
    opacity: $zero;
    padding: $zero;
    width: $zero;
  }

  @media #{$alldeviceexceptsmartphone} {
    .gh-search-in {
      width: 260px;
      height: 40px;
      opacity: 1;
      padding: $xs 45px $xs $s;
      box-sizing: border-box;
    }
  }

  .gh-search-position {
    top: $m;
    display: flex;
    right: $zero;
  }

  .gh-ellipsis {
    display: inline-block;
    overflow: hidden;
    /*text-overflow: ellipsis;
    width: 70%;*/
    white-space: nowrap;
  }
  /* paddings starts */

  .gh-p-t-4 {
    padding-top: $base;
  }

  .gh-p-l-4 {
    padding-left: $base;
  }

  .gh-padding-left-xsmall {
    padding-left: $xs;
  }

  .gh-padding-right-xsmall {
    padding-right: $xs;
  }

  .gh-padding-top-xsmall {
    padding-top: $xs;
  }

  .gh-p-t-12 {
    padding-top: 12px;
  }

  .gh-padding-right-small {
    padding-right: $s;
  }

  .gh-padding-bottom-small {
    padding-bottom: $s;
  }

  .gh-padding-top-small {
    padding-top: $s;
  }

  .gh-padding-left-small {
    padding-left: $s;
  }

  .gh-padding-bottom-medium {
    padding-bottom: $m;
  }

  .gh-padding-vertical-small {
    padding-top: $s;
    padding-bottom: $s;
  }

  .p-l-30 {
    padding-left: 30px;
  }

  .p-b-30 {
    padding-bottom: 30px;
  }

  .gh-padding-left-large {
    padding-left: $l;
  }

  .gh-padding-right-large {
    padding-right: $l;
  }

  .gh-padding-right-xxl {
    padding-right: $xxl;
  }

  @media #{$alldeviceexceptsmartphone} {
    .gh-p-t-20-md {
      padding-top: 20px;
    }

    .gh-padding-top-medium-md {
      padding-top: $m;
    }
    .gh-m-t-20-md {
      margin-top: 20px;
    }
    .gh-m-t-28-md {
      margin-top: 28px;
    }

    .gh-padding-top-large-md {
      padding-top: $l;
    }

    .gh-search-out {
      transition: all 0.3s ease-in-out;
    }
  }

  @media #{$tablets-md} {
    .gh-padding-right-small-sm {
      padding-right: $s;
    }
  }
  @media #{$smartphones-xxs} {
    .gh-padding-right-xsmall-xxs {
      padding-right: 8px;
    }
  } /* paddings ends */

  .gh-border-bottom-gray70 {
    border-bottom: 1px solid $gray70;
  }

  .gh-show-dialog {
    opacity: 1;
    z-index: 6;
  }

  @media #{$smartphones-xs}, #{$smartphones-sm} {
    .gh-hidden-xs {
      display: $none;
    }
  }

  .gh-call-white:focus,
  .gh-comments-white:focus,
  .gh-search-white:focus {
    outline: 1px dotted $white;
    outline: -webkit-focus-ring-color $auto 5px;
  }

  @supports (-ms-ime-align: auto) {
    .gh-dropdown-menu {
      min-width: 135px;
    }
  }

  @supports (-moz-appearance: none) {
    .gh-dropdown-menu {
      min-width: 135px;
    }
  }

  .gh-column-12 {
    width: 100%;
  }

  .gh-column-6 {
    width: 50%;
    float: left;
  }

  .column-3 {
    width: 25%;
    float: left;
  }

  @media #{$alldeviceexceptsmartphone} {
    .gh-column-2-md {
      width: 20%;
      float: left;
    }

    .gh-column-10-md {
      width: 80%;
      float: left;
    }

    .gh-hide-md {
      display: none !important;
    }
  }

  @media #{$small-tablets} {
    .gh-column-2-md {
      width: 25%;
      float: left;
    }

    .gh-column-10-md {
      width: 75%;
      float: left;
    }
  }

  .gh-white {
    color: $white;
  }

  .gh-title-position {
    top: $m;
    position: absolute;
    padding-left: $l;
  }

  .gh-title-top-border {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: $l;
    margin-right: $xxxl;
  }

  .gh-link-top-border {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .gh-align-middle {
    vertical-align: middle;
  }

  a:hover {
    color: $brand-magenta;
    text-decoration: none;
  }

  .gh-name-position {
    top: 5px;
  }

  .gh-width-24 {
    height: $m;
    width: $m;
  }

  @media screen and (min-width: 768px) and (max-width: 910px) {
    .gh-search-in {
      width: 140px;
    }
    // .gh-overlap {
    //   width: 140px !important;
    // }
    .gh-li-style-search,
    .gh-li-style-suggestions {
      font-size: 14px !important;
    }
  }
  .gh-overlap {
    position: absolute; //changed absolute to fixed for flickering
    z-index: 1000;
    display: block;
    top: 105px;
    // width: 260px;

    @media #{$tablets-md}, #{$desktops-lg} {
       right: $l;
       }
  }

  @media #{$smartphones-xs}, #{$smartphones-sm} {
    .gh-overlap {
      width: 100%;
      top: 75px;
      left: 0px;
    }
    .gh-li-style-suggestions {
      padding: 8px 8px 8px 20px !important;
    }
  }
  .gh-suggestions {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
    transition: all 300ms;
    z-index: -1;
  }
  .gh-show-suggestions {
    background: $white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    min-height: 55px;
    max-height: 146px;
    opacity: 1;
    overflow-y: auto;
    padding-top: $xs;
    padding-bottom: $xs;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    z-index: 1;

    @media #{$alldeviceexceptsmartphone} {
      width: 260px;
    }

    @media screen and (min-width: 768px) and (max-width: 910px) {
      width: 140px !important;
    }
  }

  .gh-recent-search {
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: all 300ms;

    @media #{$alldeviceexceptsmartphone} {
      transform: scaleX(0);
      transform-origin: right;
      width: $zero;
    }
  }
  .gh-show-recent-search {
    background: $white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    min-height: 55px;
    max-height: 146px;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    padding-top: $xs;
    padding-bottom: $xs;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    width: 100%;

    @media #{$alldeviceexceptsmartphone} {
      transform: scaleX(1);
      width: 260px;
    }

    @media screen and (min-width: 768px) and (max-width: 910px) {
      width: 140px !important;
    }
  }
  .gh-ul-style-none {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
  .gh-li-style-search {
    color: #6a6a6a;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    margin-right: 8px;
    font-family: $arial;
    letter-spacing: $zero;
    overflow-x: hidden;
    @media #{$smartphones-xs}, #{$smartphones-sm} {
      font-size: 14px;
      line-height: $m;
      letter-spacing: 0.5px;
    }
    @media #{$alldeviceexceptsmartphone} {
      font-size: $s;
      line-height: $m;
      letter-spacing: 0.5px;
    }
    @media #{$tablets-md} {
    }
  }
  .gh-li-style-search:hover {
    background-color: $gray20;
    color: $brand-magenta;
  }
  .gh-li-style-searchhover {
    background-color: $gray20;
    color: $brand-magenta;
  }
  .gh-li-style-search:active {
    background-color: $brand-magenta;
    color: $white;
  }
  .gh-li-style-suggestions {
    padding: 8px 8px 8px 8px;
    margin-left: 8px;
    margin-right: 8px;
    font-family: $arial;
    letter-spacing: $zero;
    overflow-x: hidden;
    @media #{$smartphones-xs}, #{$smartphones-sm} {
      margin-left: -4px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.5px;
    }
    @media #{$alldeviceexceptsmartphone} {
      font-size: 14px;
      line-height: $m;
      letter-spacing: 0.5px;
    }
    @media #{$tablets-md} {
      line-height: $s;
    }
  }
  .gh-li-style-suggestions:hover {
    background-color: $gray20;
    color: $brand-magenta;
  }
  .gh-li-style-suggestions:active {
    background-color: $brand-magenta;
    color: $white;
  }
  .gh-scroll-style::-webkit-scrollbar {
    width: 7px;
  }
  .gh-scroll-style::-webkit-scrollbar-thumb {
    border-radius: 4.5px;
    background-color: $gray30;
  }
  .gh-clock-icon {
    padding-right: 13px;
    font-size: 23px;
  }

  ::placeholder {
    color: $gray60;
    opacity: 1;
  }

  .gh-border:hover,
  .gh-border:focus,
  .gh-border:active {
    @media #{$alldeviceexceptsmartphone} {
      border-bottom: $base solid $brand-magenta;
      height: 40px;
    }

    @media #{$smartphones-xs}, #{$smartphones-sm} {
      padding-left: 27px;
      border-left: $base solid $brand-magenta;
    }
  }

  

}



