<div class="TMO-PA-EDIT-V3-1">
  <div class="container">
    <div class="main-content">
      <app-header></app-header>
      <form #Enteramount="ngForm">
        <div class="row padding-top-large-xs padding-top-large-sm padding-top-xl">
          <div class="col-12 text-center padding-bottom-large-xs padding-bottom-large-sm padding-bottom-large">
            <span class="Display3">Edit arrangement details</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="full-bleed-divider"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 body padding-top-small padding-bottom-small  d-flex">
            <div class="body black">Choose an amount</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div *ngFor="let val of paybillvalues;let i=index;">
          <div *ngIf="val.descTitle != 'Other amount'">
            <radiobuttonpaymentblade [childClass]="displayClass" [cardStatus]="val.value" [card]="val.descTitle" [icon]="''"
              [radioButtonId]="i" [showLegal]="true" [radioButtonName]="'radioButtonName'" [selected]=0 [altText]=true
              [descData]="val.descData" [descDetails]="val.descDetails" (callBackValue)="change($event)"></radiobuttonpaymentblade>
          </div>

        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="full-bleed-divider"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 body padding-top-small padding-bottom-small  d-flex">
            <div class="body black">Choose the number of scheduled payments</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row padding-vertical-small">
          <div class="col-6 col-sm-6 col-md-5 offset-md-1 d-inline-flex">
            <div class="body radio-container">
              <input type="radio" id="yes" name="selector" (change)="showPayment2 = !showPayment2; checkOpt = !checkOpt"
                [checked]="showPayment2 == showPayment2">
              <label for="yes" class="offset-md-2 Display6"></label>
              <div class="check"></div>
            </div>

            <div class="d-inline-flex ml-3">
              <span class="Display6">1 payment</span>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 d-inline-flex">
            <div class="body radio-container">
              <input type="radio" id="no" name="selector" (change)="showPayment2 = !showPayment2; checkOpt = !checkOpt"
                [checked]="showPayment2 == !showPayment2">
              <label for="no" class="offset-md-2 Display6"></label>
              <div class="check"></div>
            </div>

            <div class="d-inline-flex ml-3">
              <span class="Display6">2 payments</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row padding-top-medium">
          <!-- <div class="col-1 col-md-1 offset-md-1">
            <div class="box1 text-center mt-4">1</div>
          </div> -->
          <div class="offset-md-1 col-6 col-md-4 unset d-flex top-padding no-padding-right-xs">
            <div class="padding-top-large">
              <div class="box1 text-center">1</div>
            </div>
            <div class="p-l-16 w-100 ">
              <app-datepicker-new-modal [parentColumn]=true [parentColumn1]=false [parentColumn2]=true [parentTitle]="startDateTitle" [isInputDisabled]=false >parentDueDate</app-datepicker-new-modal>
            </div>
          </div>
          <div class="offset-md-1 col-6 col-md-4">
            <div class="floatingLabel textfield">
              <input tabindex="1" type="text" id="enterAmount" minlength="1" maxlength="50" pattern="^\$?([1-9])+([0-9]*)+(.?)+([0-9]{0,2})?"
                class="input body black text-left mt-2 " name="enterAmount" [(ngModel)]="enterAmount.enterAmount"
                appCurrencyformat required #enterAmount="ngModel" [ngClass]="{'border-red': enterAmount.invalid && !enterAmount.pristine && !enterAmount.errors?.required}">
              <label for="enterAmount" class="labelpointer" [ngClass]="[(enterAmount.invalid  && !enterAmount.pristine  && !enterAmount.errors?.required) ? 'legal color-red redClass' : '',
              (!enterAmount.invalid )   ? 'legal' : '',
              ( enterAmount.errors?.required ) ? 'body' : '']">Payment
                amount</label>
              <div class="input-animation"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-1 col-6 col-md-5">
            <p class="legal text-left padding-top-xsmall mb-0 p-l-4-xxs p-l-36">
              <!-- Select date -->
            </p>
          </div>
          <div class="col-5 col-md-4">
            <p class="legal text-left padding-top-xsmall mb-0 p-l-4-xxs">
              Min $36.00
            </p>
          </div>
        </div>
        <div class="row" [ngClass]="{'padding-top-medium toggle-in':checkOpt, 'toggle-out visibility-hidden':!checkOpt}">

          <!-- <div class="col-1 col-md-1 offset-md-1">
            <div class="box1 text-center mt-4">2</div>
          </div> -->
          <div class="offset-md-1 col-6 col-md-4 unset d-flex no-padding-right-xs">
            <div class="padding-top-large">
              <div class="box1 text-center">2</div>
            </div>
            <div class="p-l-16 w-100 ">
              <app-datepicker-new-modal [parentColumn]=true [parentColumn1]=false [parentColumn2]=true [parentTitle]="startDateTitle"  [isInputDisabled]=false >parentDueDate</app-datepicker-new-modal>
            </div>
          </div>
          <div class="offset-md-1 col-6 col-md-4">
            <div class="floatingLabel textfield">
              <input tabindex="2" type="text" id="enterAmount2" minlength="1" maxlength="50" pattern="^\$?([1-9])+([0-9]*)+(.?)+([0-9]{0,2})?"
                class="input body black text-left mt-2" name="enterAmount2" [(ngModel)]="enterAmount2.enterAmount2"
                appCurrencyformat required #enterAmount2="ngModel" [ngClass]="{'border-red': enterAmount2.invalid && !enterAmount2.pristine && !enterAmount2.errors?.required}">
              <label for="enterAmount2" class="labelpointer" [ngClass]="[(enterAmount2.invalid  && !enterAmount2.pristine  && !enterAmount2.errors?.required) ? 'legal color-red redClass' : '',
                      (!enterAmount2.invalid )   ? 'legal' : '',
                      ( enterAmount2.errors?.required ) ? 'body' : '']">Payment
                amount</label>
              <div class="input-animation"></div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="showPayment2">
          <div class="offset-md-1 col-6 col-md-5">
            <!--<p class="legal text-left padding-top-xsmall mb-0 p-l-4-xxs p-l-36">
              Select date
            </p>-->
          </div>
          <div class="col-5 col-md-4">
            <p class="legal text-left padding-top-xsmall mb-0 p-l-4-xxs">
              Total of $210.00
            </p>
          </div>

        </div>
      </form>
    </div>

    <div class="row padding-top-xxl-xs padding-top-medium-sm padding-vertical-xl padding-bottom-xxl-xs padding-bottom-large-sm">
      <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple> Update</button>
        </div>
        <div class="col-12 col-md-6  float-md-left pl-md-0 ">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right"
            appButtonripple (click)="gotopreviouspage()">Back</button>
        </div>
      </div>

      <div class="dialog-container" id="effectiveDatePage">
        <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
          <div class="row no-margin text-center padding-bottom-medium padding-horizontal-medium">
            <span mat-dialog-title class="col-12 no-padding black Display5 ">Breakdowns</span>
          </div>
          <div class="row no-margin  padding-horizontal-medium">
            <div class="col-12 no-padding body" *ngFor="let value of BreakDownValues">
              <span class="pull-left">{{value.desc}}</span>
              <span class="pull-right">{{value.amount}}</span>
            </div>
            <div class="col-12 no-padding body  padding-vertical-small">
              <div class="total-divider"></div>
            </div>
            <div class="col-12 no-padding body  padding-bottom-medium">
              <span class="pull-left body-bold black">Total</span>
              <span class="pull-right body-bold black">$123.26</span>
            </div>
          </div>
          <div class="row no-margin   text-center padding-horizontal-xsmall">
            <div class="col-12 no-padding">
              <button class="PrimaryCTA-accent pull-right ml-2" appButtonripple (click)="close()">Got it, thanks</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="visible" class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
  </div>