@import "src/assets/scss/global-variables.scss";
.TMO-PA-EDIT-V3-1{
    .box1 {
        width: 20px;
        background-color: $gray40;
        color: $white;
        border-radius: 2px;
    }
    @media #{$smartphones-xxs}{
        .p-l-4-xxs{
            padding-left: 4px;
        }
    }
    .radio-container {
      width: 20px;
      height: 20px;
    }
    .p-l-36
    {
        padding-left: 36px;
    }    

    .no-padding-right-xs{
    @media #{$smartphones-xxs}{
        padding-right: 0px;
    }
}
}