<div class="TMO-OTP-CONFIRMATION">
  <div class="container">
        <div class="main-content-singlerow">
      <app-header></app-header>
      <div class="row">
          <div class="col-12 text-center padding-top-large-xs padding-top-large-sm padding-top-xl legal">
              <span class="check-icon"></span>
          </div>
      </div>
      <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-xl">
          <div class="col-12  text-center">
              <p class="mb-0 Display3">Thank you.</p>
              <p class="mb-0 body-bold padding-top-medium black">Your Visa ending in 1234 was charged $1.01 on Dec 18, 2017.</p>
              <p class="mb-0 legal padding-top-xsmall">Allow up to two hours for this payment to post to your account.</p>
          </div>
      </div>
      <div class="row padding-top-small-xs padding-top-small-sm padding-top-large">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 p-l-0-xs p-r-0-xs">
              <div class="inset-divider-1px"></div>
          </div>
      </div>     
      <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 body-bold padding-top-small" (click)="detailsPayment()">
              <span class="pull-left black Display6" *ngIf=!showDetails>Show details</span>
              <span class="pull-left black Display6" *ngIf=showDetails>Hide details</span>
              <span class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation':!showDetails,'arrow-up arrowup_rotation':showDetails}"></span>
          </div>
       
       
      </div>
      <div class="accordion-content"  [ngClass]="{'content-open': showDetails}">
          <div class="row body padding-top-small">
              <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1" *ngFor="let dataPass of dataPassInfo">
                  <span class="pull-left ">{{dataPass.descTitle}}:</span>
                  <span class="pull-right ">{{dataPass.value}}</span>
              </div>
          </div>
         
      </div>
      <div class="row padding-top-small">
        <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 p-l-0-xs p-r-0-xs">
            <div class="inset-divider-1px"></div>
        </div>
    </div>    
     
      </div>
      <div class="row no-margin d-block text-sm-center" >
            <div class="col-12  d-inline-block padding-top-xxxl-xs padding-vertical-xl no-padding">
                <button class="PrimaryCTA full-btn-width" appButtonripple >Return home</button>
            </div>
          
        </div>
  </div>
</div>