@import "src/assets/scss/global-variables.scss";
.TMO-ALERTS-COMPONENT{
    @media #{$alldeviceexceptsmartphone}{
        .alerts-scroll{
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 260px;
        }
    }
    .center-content {
        flex-direction:column;
    }
    .exclamation-size {
        padding-top: 2px;
        font-size: 18px;
    }
    .arrow-padding-left
    {
        padding-left:10px;
    }
    @media #{$smartphones-xxs}, #{$smartphones-xs}{
       .arrow-padding-left
    {
        padding-left:55%;
    } 
    }
    .d-inline-table{
        display:inline-table;
    }
    .min-width{
        min-width:80%;
        @media #{$smartphones-xs},#{$smartphones-sm}{
            min-width:85%;
        }
    }
}
    

