<div class="TMO-ALERTS-COMPONENT">
  <div *ngFor="let alertData of alertsData;let i=index;">
    <!--Alerts: Begin -->
      <div class="Display4">{{alertData.headingTitle}}</div>
      <div *ngFor="let alertDataItem of alertData['data'];let k=index"  [ngClass]="{'padding-top-large':k==0,'padding-top-medium':k>0}">
        <div class="col-12 no-padding d-flex">
          <p class="col-1 no-padding text-magenta d-inline-table mt-1" [ngClass]='alertDataItem.img'></p>
          <div class="col-10 pl-2 pr-3 min-width">
            <span class="body-bold">{{alertDataItem.title}}</span>
            <span class="body">: {{alertDataItem.desc}}</span>
            <a [href]="alertDataItem.viewDetailsLink" class="body-link black">View details</a>
          </div>
          <div class="col-1 center-content d-flex justify-content-center align-middle align-items-end pl-0 cursor">
              <i class="arrow-right gray60 arrow-padding-left" aria-hidden="true"></i>
           </div>
          </div>
          <div class="col-12 no-padding padding-top-medium">
              <div *ngIf="k < (alertData['data'].length-1); else showMore" class="inset-divider-1px"></div>
        </div>
        
      </div>
      

    <!--Alerts Logic: End -->
</div>
</div>