<div class="TMO-MANAGE-DATA">
    <div class="container">
        <div class = "main-content">
            <app-header></app-header>
            <div class="row padding-medium-xs padding-large ">
                <div class="col-12 Display3 text-center">
                    <p class="mb-0">
                        <span tabindex="0" aria-label="Manage data & add-ons">
                            Manage data & add-ons
                        </span>
                    </p>
                </div>
            </div>
            <div class="row no-margin">
                <div class="col-md-8  offset-md-2 padding-top-small  bg-f8f8f8" x-ms-format-detection="none">
                    <p class="mb-0 body-bold black padding-bottom-base"   *ngFor="let info of UserInfo">
                        <span  tabindex="0" [attr.aria-label]="info.name + info.value">
                            {{info.name}} {{info.value}}
                        </span>
                    </p>
                    <p class="mb-0 cursor padding-bottom-small">
                        <span tabindex="0" class="body-link" aria-label="click here to Select a different line">Select a different line</span>
                    </p>
                </div>
            </div>
        </div>   
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4 d-inline-block padding-vertical-xxl text-center">
                <button class="PrimaryCTA full-btn-width" appButtonripple tabindex="0" role="button" [disabled]="!enabled" aria-label="Continue" >Continue</button>
            </div>
                     
    </div>
</div>