@import "src/assets/scss/global-variables.scss";
.TMO-MANAGE-DATA {   
    .PrimaryCTA{
        min-width: 120px;
    }
    .bg-f8f8f8{
        background-color:#f8f8f8;
    } 
    
    @media #{$smartphones-xs},
#{$smartphones-sm} {
    .main-content {
        min-height: calc(100vh - 275px);
    }
}
}