@import "src/assets/scss/global-variables.scss";
.TMO-COVERAGE-DEVICE-VERIFY-ADDRESS-MODAL{
    .dialog{
        @media #{$desktops-lg},
            #{$desktops-xl}{
                max-width: 650px;
        }
        @media #{$tablets-md}{
                max-width: 500px;
        }
    } 
    .content-width{
         @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
              width: 300px;
            }
         @media #{$smartphones-xs},#{$smartphones-sm}{
              width: 100%;
           }
     }
     @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .margin-top-ms{
           margin-top:-8%;
        }
    }
}