<div class="TMO-OFFER-MODAL1">
<div class="container">
    <div class="row padding-top-xxl padding-bottom-xxl">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
            <button class="SecondaryCTA" appButtonripple (click)="visible = !visible">Offer Modal1</button>
        </div>
    </div>
    <div class="dialog-container">
        <div class="dialog  animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
            <div class="row no-margin text-center">
                <div class="col-12 no-padding">
                    <span class="price-tag d-inline-block"></span>
                </div>
            </div>
            <div class="row no-margin padding-top-small text-center">
                <span class="col-12 Display5 no-padding">Offer - BOGO Samsung Galaxy S8</span>
            </div>
            <div class="row no-margin padding-top-xl">
                <span class="col-12 body d-xs-block d-sm-block d-md-none no-padding">Offer details dolor sit amet, cons ecte adipiscing elit, sed d eiusmod tempor incididunt ut labore</span>
                <span class="col-12 body d-none d-sm-none d-md-block no-padding">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
            </div>

            <div class="row d-md-block    padding-top-medium  text-center">
                <div class="col-12  text-center">
                   
                        <button class="PrimaryCTA-accent pull-right btnHeight" appButtonripple (click)="close()">CTA goes here</button>
                   
                </div>
            </div>
        </div>
        <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
</div>
</div>
