<div class="TMO-AUC-PERMISSIONS">
  <div class="container">
    <div class = "main-content">
    <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-large">
      <div class="col-12 ">
        <p class="Display3 text-center">Permissions</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-large padding-bottom-medium-xs padding-bottom-medium-sm">
        <p class="padding-top-large-xs padding-top-large-sm padding-top-small-md 
          padding-top-small-lg padding-top-small-xl  Display6">Set the level of account access for this user:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 verticalAlign outline-none" tabindex=0>
        <div class="body radio-container">
          <input type="radio" id="Full Access" name="selector">
          <label for="Full Access" class="mb-0 p-r-10">Full Access</label>
          <div class="check"></div>
          <span tooltip-text="Selecting Full Access…" tooltip-position="top" class="zoom-icon">
            <i class="fa fa-question-circle"></i>
           </span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 verticalAlign outline-none padding-top-large-xs padding-top-large-sm
      padding-top-medium-md  padding-top-medium-lg  padding-top-medium-xl" tabindex=0>
        <div class="body radio-container">
          <input type="radio" id="Standard Access" name="selector">
          <label for='Standard Access' class="mb-0">Standard Access</label>
          <div class="check"></div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 verticalAlign outline-none padding-top-large-xs padding-top-large-sm
      padding-top-medium-md  padding-top-medium-lg  padding-top-medium-xl" tabindex=0>
        <div class="body radio-container">
          <input type="radio" id="Restricted Access" name="selector">
          <label for="Restricted Access" class="mb-0">Restricted Access</label>
          <div class="check"></div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 verticalAlign outline-none padding-top-large-xs padding-top-large-sm
      padding-top-medium-md  padding-top-medium-lg  padding-top-medium-xl" tabindex=0>
        <div class="body radio-container">
          <input type="radio" id="No Access" name="selector" checked>
          <label for="No Access" class="mb-0">No Access</label>
          <div class="check"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 outline-none padding-top-large-md padding-top-large-lg
      padding-top-large-xl padding-top-medium-xs padding-top-medium-sm" tabindex=0>
        <a class="body-link cursor" href="#">Show permission levels</a>
      </div>
    </div>
  </div>
    <div class="row no-padding  padding-top-large padding-bottom-xxl">
      <div class="col-12 col-md-10 offset-md-1 text-center  ">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Next</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>