@import "src/assets/scss/global-variables.scss";
.TMO-AUC-PERMISSIONS{
    .zoom-icon {
        zoom: 1.2;
    }
    .p-r-10 {
        padding-right: 10px !important;
    }
    [tooltip-text]::after {
        min-width: 160px;
    }
}