@import "src/assets/scss/global-variables.scss";
.TMO-CREDIT-CARD-PAGE{
    .dialog{
     @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
         max-width: 450px;
     }
  
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        
         top: 7%;
     }
    }
}
