
<div class="TMO-REUSABLE-MODAL-PAGE">
        <div class="row no-margin text-center padding-horizontal-medium">
          <span mat-dialog-title class="col-12 no-padding black Display5 ">{{title}}</span>
        </div>
        <div class="row no-margin text-center padding-horizontal-medium padding-top-xsmall">
          <span mat-dialog-title class="col-12 no-padding black Display6 ">{{subTitle}}</span>
        </div>
        <div class="row no-margin padding-top-medium">
          <div class="col-12 no-padding text-center body">{{content}}</div>
        </div>
        <div class="row mx-0 padding-top-medium" *ngIf="!(primaryButton === '' && secondaryButton === '')">
          <div class="col-12 no-padding">
            <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="close()" *ngIf="primaryButton !== ''">{{primaryButton}}</button>
            <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()" *ngIf="secondaryButton !== ''">{{secondaryButton}}</button>
          </div>
        </div>
</div>