@import "src/assets/scss/global-variables.scss";
.TMO-UNLOCK-YOUR-DEVICE-PAGE{

// .input{ border-bottom: 2px solid #6a6a6a;}
.full-btn-width {
    width: 100%;
    max-width: 100%;
}
.f-size18 {
    font-size: 18px;
}
.image-width {
    width: 88px;
    height: 68px;
}
@media #{$smartphones-xs},#{$smartphones-sm}{
    .col-12-xs {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.main-content {
    min-height: calc(100vh - 121px);
}
}
input[type="tel"]:valid + label{
    color:#6a6a6a;
    line-height: 20px;
  }
.posRelative {
    position: relative;
}

.errormessageimg {
    right: 0;
}

}