<div class="TMO-UNLOCK-YOUR-DEVICE-PAGE">
  <div class="container">
          <div class="main-content">
      <app-header></app-header>
      <div class="row padding-top-medium">
          <div class="col-8 offset-2 text-center">
              <span class="Display4" tabindex="0"  aria-label="Unlock your device">Unlock your device</span>
          </div>
      </div>
      <div class="row padding-top-large padding-top-xl-xs padding-top-xl-sm">
          <div class="col-xs-12 col-sm-12 text-center">
              <img class="image-width" src="./assets/img/deviceunlocked/Device_cut.png" tabindex="0" aria-label="phone image"/>
          </div>
      </div>       
      <div class="row padding-top-xsmall">
          <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-center">
              <p class="legal">
                <span  tabindex="0" aria-label="Have your device’s phone number and IMEI number handy. Don’t know your IMEI number? Dial
                *#06# or choose Settings > About on your device.">            
                  Have your device’s phone number and IMEI number handy. Don’t know your IMEI number? Dial *#06# or choose Settings > About on your device.
                  </span>
              </p>
            </div>  
      </div>
      <div class="row">
          <div class="col-12 text-center padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm">
              <span routerLink="" class="legal-bold-link black cursor" tabindex="0" aria-label="T-Mobile's unlock policy">
                T-Mobile's unlock policy
              </span>
          </div>
      </div>
      <div class="row padding-top-medium">
          <form class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 posRelative">
              <div class="col-8 offset-2
              col-md-8 offset-md-2 col-lg-6 offset-lg-3 no-padding">
                <div class="floatingLabel no-padding textfield">
                  <input (keyup)="onKey($event)" tabindex="0" type="tel" id="inputText"   minlength='15' maxlength='15'appClearInput appCustomformat name="inputText"
                              class="input body black " [(ngModel)]="inputType.inputText" required #inputText="ngModel" [ngClass]="{'border-red':(inputText.invalid && !inputText.pristine && !inputText.errors?.required) || !imeiValid }">
                    <label for="inputText" class="labelpointer" [ngClass]="[(inputText.invalid && !inputText.pristine && !inputText.errors?.required) ? 'legal color-red redClass' : '',                                  (!inputText.invalid )   ? 'legal' : '',
                    ( inputText.errors?.required ) ? '' : '']">
                      IMEI number
                    </label>
                    <div class="input-animation"></div>
                </div>                          
                <div class="col-12 no-padding">
                  <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="(inputText.errors?.required && inputText.touched)">
                    <span  tabindex="0" aria-label="Please enter IMEI number">Please enter IMEI number</span>
                  </p>
                  <p class="legal color-red text-left errormessage  padding-top-xsmall mb-0" *ngIf="(inputText.errors?.pattern || inputText.errors?.minlength) || (!imeiValid && !(inputText.errors?.required && inputText.touched))">
                          <span tabindex="0" aria-label="Please enter IMEI number">
                            Please enter valid IMEI number    
                          </span>  
                  </p>
                  <span class="pull-right " *ngIf="(inputText.invalid  && !inputText.pristine && !inputText.errors?.required  || inputText.errors?.required && inputText.touched)  || (!imeiValid && !(inputText.errors?.required && inputText.touched))">
                    <i class="errormessageimg warning-red-outline-12 pull-right"></i>
                  </span>
                </div>
              </div>
          </form>
      </div>
      </div>
      <div class="row padding-vertical-xxxl" >
        <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-center">
          <button class="PrimaryCTA full-btn-width" appButtonripple (click)="checkImei(inputType.inputText)" role="button" aria-label="Check device">Check device</button>
        </div>  
        <div class="col-12 padding-top-small text-center">
          <button class="TeritiaryCTA " appButtonripple  role="button" tabindex="0" aria-label="Check a device not on your account">
                    Check a device not on your account
          </button>
        </div>         
      </div>
 
  </div>
</div>
