@import "src/assets/scss/global-variables.scss";
.TMO-SUCCESS-UPLOAD-RECEIVED {
    @media #{$smartphones-xs}, #{$smartphones-sm} {
        .main-content{
           min-height: calc(100vh - 96px);
        }
    }
    @media #{$alldeviceexceptsmartphone}{
        .txtcenter
        {
            text-align: center;
        }
    }
}