@import "src/assets/scss/global-variables.scss";
.TMO-CVV-MODAL-AMEX{
    .dialog{
        max-width:251px;
        min-width:251px;
        @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
            max-width: 450px;
        }
       }
    .cardSize 
    {
        width:100%;
    }
    .image{
        width: 46pt;
        height: 28pt;
    }
}