<div class="TMO-PROMOTIONS-PAGE">
<div  class="col-12 no-padding">
  <div *ngFor="let promotion of promotionsData,let i=index">
    <div class="col-12 col-md-10 offset-md-1 d-inline-flex align-items-center align-items-baseline-md padding-top-medium padding-top-small-xs">
      <div class="col-11 pl-0">
        <p class="Display6 ">{{promotion.offerTitle}} </p>
        <p *ngIf="promotion.multiLinesText == isEmptyValue" class="body pt-2">{{promotion.userInfo}}</p>
        <p *ngIf="promotion.multiLinesText != isEmptyValue" class="body-link cursor">{{promotion.multiLinesText}}</p>
        <p class="body ">{{promotion.offerStatus}}: {{promotion.offerStatusDesc}}</p>
      </div>
      <div class="col-1 pr-0">
        <i class="cursor pull-right" [ngClass]="{'arrow-down arrowdown_rotation': !promotionsDataAccordion[i], 'arrow-up arrowup_rotation': promotionsDataAccordion[i]}"
          (click)="promotionsDataAccordion[i]= !promotionsDataAccordion[i]"></i>
      </div>
    </div>
    
    <div class="col-12 no-padding accordion-content" [ngClass]="{'content-open':promotionsDataAccordion[i] }">
      
      <div class="col-12  col-md-10 offset-md-1 padding-top-xsmall">
          <div class="inset-divider-1px"></div>
        </div>
      <div class="col-12 col-md-10 offset-md-1 padding-top-small">
        <div class="H6-heading">{{promotion.completionTitle}}</div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-top-small d-inline-flex align-items-center" *ngFor="let completionStep of promotion['completionSteps'];let k=index">
        <div class="pr-2">
          <i class="padding-horizontal-medium pl-0 circle-padding" [ngClass]="{'check-circle': completionStep.stepCompleted,
                                'circle-one': k == 0 && !completionStep.stepCompleted,
                                'circle-two': k == 1 && !completionStep.stepCompleted && promotion.offerStatus != notEnrolledText,
                                'check-circle-disable': k == 1 &&  !completionStep.stepCompleted &&  promotion.offerStatus == notEnrolledText,
                                'circle-three': k == 2 && !completionStep.stepCompleted}">
          </i>
        </div>
        <div>
          <p class="body">{{completionStep.stepDesc}}</p>
          <p *ngIf="promotion.enrollType == manualEnrollText &&  !completionStep.stepCompleted" class="body">({{promotion.offerStatus}})</p>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-top-medium">
        <div class="H6-heading ">{{promotion.benefitsTitle}}</div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-top-xsmall">
        <div class="body">{{promotion.benefitsDesc}}</div>
      </div>
      <div class="col-12  col-md-10 offset-md-1 padding-top-medium">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  padding-top-small legal">
        <div>{{promotion.offerInfo}}</div>
        <div>{{promotion.offerValidity}}</div>
        <div>{{promotion.limited}}
          <a class="legal-link cursor text-decoration-underline"> See offer details</a>
        </div>
      </div>
      <div class="col-12  col-md-10 offset-md-1 padding-top-small">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-top-small">
        <div class="legal">{{promotion.termAndCondition}}</div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-top-base padding-bottom-large">
        <div class="legal-link cursor" routerLink="/termsAndCondition">Terms & Conditions</div>
      </div>
    </div>
    <div class="col-12  col-md-10 offset-md-1 padding-top-xsmall">
      <div class="inset-divider"></div>
    </div>
  </div>
</div>
</div>
