@import "src/assets/scss/global-variables.scss";
.TMO-PROMOTIONS-PAGE {
    .content-open {
        max-height: 600px;
    }
    @media #{$alldeviceexceptsmartphone} {
        .align-items-baseline-md {
            align-items: baseline !important;
        }
        .no-padding-md {
            padding: 0px !important;
        }

        .circle-padding {
            padding-bottom: 3px;
            padding-top: 0px;
        }
    }
    @media #{$smartphones-xs},
    #{$smartphones-sm} {
        .circle-padding {
            padding-bottom: 5px;
            padding-top: 3px;
        }
    }
}