 @import "src/assets/scss/global-variables.scss";
.TM0-REVIEW-LINE-DETAILS-PAGE{
    .strike{
        text-decoration: line-through;
    }
    .bg-gray10{
        background-color: $gray10;
    }
    .pb-88{
        padding-bottom: 88px;
    }
    .position-content {
        min-height: calc(100vh - 225px);
    }
    @media #{$alldeviceexceptsmartphone}{
        .mt-md-1{
            margin-top:0.5rem !important;
        }
        .btn-wd{
            width:288px;
        }
    }
    @media #{$smartphones-xs},#{$smartphones-sm}{
        .mt-md-1{
            margin-top:0.35rem !important;
        }
    }
    
}