<div class="TM0-REVIEW-LINE-DETAILS-PAGE">
  <div class="container">
    <div class="position-content">
      <app-header></app-header>
      <div class="row">
        <div class="col-12 text-center">
          <p class="mb-0 Display3 padding-top-large-xs padding-top-large-sm padding-top-xxl">Line Details</p>
        </div>
        <div class="col-12 text-center padding-top-xsmall-sm padding-top-xsmall-xs padding-top-small padding-bottom-medium-xs padding-bottom-medium-sm padding-bottom-xl">
          <p x-ms-format-detection="none" class="mb-0 body">Will (206) 861-9123</p>
        </div>
      </div>
      <div class="row padding-bottom-xsmall-xs padding-bottom-xsmall-sm" *ngFor="let lineDetail of lineDetails;let i=index;">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="inset-divider-1px "></div>
        </div>
        <div class="col-12 " *ngFor="let dataItem of lineDetail['data'];let k=index">
          <div class="d-flex padding-top-small-xs padding-top-xsmall-sm padding-top-medium">
            <div class="col-1 col-md-1 offset-md-1 no-padding pl-md-1 mt-md-1 d-flex">
              <div class="body radio-container">
                <input class="check pr-1" type="radio" id={{dataItem.name}}{{k}} name={{i}} [checked]="k===0">
                <label class="mb-0" for={{dataItem.name}}{{k}}></label>
                <div class="check"></div>
              </div>
            </div>
            <div class="col-7  col-md-6 no-padding pl-1 d-flex align-items-center">
              <p class="Display6 black mb-0">{{dataItem.name}}</p>
            </div>
            <div class="col-3  col-md-2 no-padding pr-1 d-flex align-items-center justify-content-flex-end">
              <span class="H6-heading black pull-right">{{dataItem.price}}</span>
            </div>
            <div class="col-1 no-padding pr-md-1 d-flex align-items-center justify-content-flex-end">
              <i class="pull-right cursor" [ngClass]="{'arrow-down arrowdown_rotation': !lineDetailAccordion[i][k], 'arrow-up arrowup_rotation': lineDetailAccordion[i][k]}"
                (click)="this.lineDetailAccordion[i][k] = !this.lineDetailAccordion[i][k]"></i>
            </div>
          </div>
          <div *ngIf="dataItem.defaultInfo !== isEmpty" class="col-12 padding-top-small no-padding">
            <div class="col-10 offset-1 col-md-8 offset-md-2 pl-1 pr-0 ">
              <p class="mb-0 body">{{dataItem.defaultInfo}}</p>
            </div>
          </div>
          <div class="accordion-content" [ngClass]="{'content-open':lineDetailAccordion[i][k]}">
            <div class="col-12 padding-top-small no-padding">
              <div class="padding-bottom-small col-10 offset-1 col-md-8 offset-md-2 pl-1 pr-0 ">
                <p class="mb-0 body">{{dataItem.description}}</p>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-12 col-md-10 offset-md-1" [ngClass]="{'padding-top-small-xs padding-top-xsmall-sm padding-top-medium':!lineDetailAccordion[i][k], 'p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm': k === (lineDetail['data'].length-1)}">
            <div [ngClass]="{'inset-divider-1px': k < (lineDetail['data'].length-1), 'inset-divider-4px': k === (lineDetail['data'].length-1) }"></div>
          </div>
          </div>
        </div>
      </div>
      <div class="row no-margin" *ngFor="let plan of planDetails;let i=index">
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium d-flex">
          <div class="d-inline-flex no-padding">
            <div class="H5-heading">{{plan.title}}</div>
          </div>
        </div>
        <div *ngFor="let detail of plan['data'];let k=index" class="col-12 col-md-10 offset-md-1 no-padding pb-2
             d-flex">
          <div class="col-8 d-inline-flex no-padding body" [ngClass]="{'strike':!detail.applicable}">
            {{detail.name}}
          </div>
          <div class="col-4 text-right pr-1 body" [ngClass]="{'strike':!detail.applicable}">
            {{detail.price}}
          </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-top-small" *ngIf="i < (planDetails.length-1)">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-top-small">
          <div class="total-divider"></div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-top-small-xs padding-top-small-sm padding-top-medium d-flex">
          <div class="col-7 d-inline-flex no-padding Display6">
            {{total.title}}
          </div>
          <div class="col-5 text-right pr-1 H6-heading">
            {{total.price}}
          </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 no-padding text-center padding-top-large-xs padding-top-large-sm padding-vertical-xxl">
          <div class="col-12 col-md-12 no-padding">
            <button class="PrimaryCTA full-btn-width btn-wd"  appButtonripple>Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-gray10 no-margin">
    <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 no-padding px-md-3 pt-5 pb-88 legal">
      <div class="mx-4">{{belowContent}}</div>
    </div>
  </div>
</div>
