<div class="TMO-STYLEGUIDE-SAMPLEPAGE">

  <div class="container ">
    <div class="Display4 text-center padding-vertical-xl">
      <span tabindex="0" aria-label="Sample Page - HTML">Sample Page - HTML </span></div>

    <div *ngFor="let data of repeatData" class="body" tabindex="0" aria-label="Lorem ipsum dolor sit amet, per ea aeterno habemus, duo eius aeque an, quo sumo nonumy facilisis ne. Nullam mollis in
    nec, no posse verterem nam. At veri persecuti necessitatibus nam, mutat utinam tibique qui et. Sea et ipsum graece
    eleifend, expetendis mnesarchum nam ad. Ut iisque philosophia his. Error labores sit et, ne sit possim aperiam, vel
    ut erat augue ridens." > Lorem ipsum dolor sit amet, per ea aeterno habemus, duo eius aeque an, quo sumo nonumy facilisis ne. Nullam mollis in
      nec, no posse verterem nam. At veri persecuti necessitatibus nam, mutat utinam tibique qui et. Sea et ipsum graece
      eleifend, expetendis mnesarchum nam ad. Ut iisque philosophia his. Error labores sit et, ne sit possim aperiam, vel
      ut erat augue ridens.</div>

    <div id="solveError" class="padding-top-large padding-bottom-xl">
      <div class="Display6 red" tabindex="0" aria-label="Resolve Critical Alert:">Resolve Critical Alert: </div>
      <div class="body red" tabindex="0" aria-label="Lorem ipsum dolor sit amet, per ea aeterno habemus, duo eius aeque an, quo sumo nonumy facilisis ne. Nullam mollis in nec,
      no posse verterem nam. At veri persecuti necessitatibus nam, mutat utinam tibique qui et. Sea et ipsum graece eleifend,
      expetendis mnesarchum nam ad. Ut iisque philosophia his. Error labores sit et, ne sit possim aperiam, vel ut erat augue
      ridens.">Lorem ipsum dolor sit amet, per ea aeterno habemus, duo eius aeque an, quo sumo nonumy facilisis ne. Nullam mollis in nec,
      no posse verterem nam. At veri persecuti necessitatibus nam, mutat utinam tibique qui et. Sea et ipsum graece eleifend,
      expetendis mnesarchum nam ad. Ut iisque philosophia his. Error labores sit et, ne sit possim aperiam, vel ut erat augue
      ridens.
    </div>
    </div>

  </div>

</div>