@import "src/assets/scss/global-variables.scss";
.TMO-ALERT-MESSAGE{
    @media #{$smartphones-xs},#{$smartphones-sm} {
        .main-content-singlerow{
            min-height: calc(100vh - 129px);
        }
        .main-content{
            min-height: calc(100vh - 193px);
        }
        .main-content1{
            min-height: calc(100vh - 129px);
        }
    }
    // .warning-error-icon{
    //     background: url('../../../../assets/img/warning-error-icon.PNG') no-repeat;
    //     width: 48px;
    //     height: 48px;
    //  }
    // @media #{$alldeviceexceptsmartphone}{
    //     .warning-error-icon{
    //         background: url('../../../../assets/img/warning-error-icon-64.PNG') no-repeat;
    //         width: 64px;
    //         height: 64px;
    //     }
    // }
}