<div class="TMO-ALERT-MESSAGE">
  <div class="container">
    <div [ngClass]="{'main-content': title2 !== 'Document not accepted', 'main-content-singlerow': title2 === 'Document not accepted', 'main-content1': title2 === '' }">
      <div class="row">
        <div class="col-12 text-center padding-top-medium-xs padding-top-medium-sm padding-top-large padding-bottom-xsmall">
          <p>
            <i class="{{iconClass}} d-inline-block"></i>
          </p>
        </div>
        <div class="col-12 col-md-8 offset-md-2 text-center">
          <p class="Display3 padding-bottom-small">{{title}}</p>
        </div>
        <div class="col-12 text-center">
          <div *ngIf="title2 !== ''">
            <p class="H5-heading">{{title2}}</p>
          </div>
        </div>
        <div class="col-12 text-center" [ngClass]="(title2 === 'Too many failed attempts' || title2 === '' ) ? ['col-md-8 offset-md-2'] : ['col-md-10 offset-md-1']">
          <p class="body padding-top-xsmall">{{mainText}}</p>
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-top-medium text-center" *ngIf="title2 == 'Document not accepted'">
          <p class="body">If you feel the military status confirmation failure is due to an error, please
            <a class="body-link" href="#">contact SheerID</a>
            for assistance.
          </p>
        </div>
        <div class="col-12 col-md-10 offset-md-1 text-center" *ngIf="mainText2">
          <p class="body padding-top-medium">{{mainText2}}</p>
        </div>
      </div>
    </div>
    <div class="row no-padding padding-top-large-xs padding-top-large-sm padding-bottom-small-xs padding-bottom-small-sm padding-vertical-xl">
      <div class="col-12 col-md-8 offset-md-2" [ngClass]="(btnText2) ? ['text-center']:['d-md-flex justify-content-center']">
        <div class="col-12 col-md-6 pr-0 p-l-0-xs p-l-0-sm float-md-right text-center" *ngIf="btnText1">
          <button class="PrimaryCTA full-btn-width" [ngClass]="(btnText2) ? ['float-md-left']:['float-md-none']" appButtonripple>{{btnText1}}</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs" *ngIf="btnText2" [ngClass]="(btnText2 !== '' && title2 === '' ) ? [' padding-top-large'] : ['padding-top-small-xs padding-top-small-sm']">
          <button class="SecondaryCTA full-btn-width float-md-right float-lg-right float-xl-right blackCTA" appButtonripple>{{btnText2}}</button>
        </div>
      </div>
    </div>
  </div>
</div>