<div class="TMO-PAYMENT-BLADE-PAGE">
  <div *ngIf="topDivider" class="row">
    <div class="col-12">
      <div class={{topDividerClass}}></div>
    </div>
  </div>
  <div class="row ">
    <div class="col-12 padding-vertical-small cursor" (click)="goToUrl($event)" (keydown.enter)="goToUrl($event)" routerLinkActive="active" 
    tabindex="0" [attr.aria-label]="titleText +''+ iconImage+''+cardNumber">
      <span class="pading-blade-top-xxs pull-left {{titleTextClass}} {{disableClass}}">{{titleText}}</span>
      <span class="pull-right Display6 p-l-10 d-inline-flex align-items-center">
        <span class="padding-horizontal-xsmall black p-l-16-md p-l-16-lg p-l-16-xl {{disableClass}} {{cardNumberClass}}">{{cardNumber}}</span>
        <div class="pr-0">
          <span *ngIf="url" class="arrow-right d-inline-block" routerLink={{url}} routerLinkActive="active" tabindex="-1"></span>
          <span *ngIf="!url" class=" d-inline-block" [ngClass]="{'arrow-right':showArrow,'arrow-right-invert':invertColor}" ></span>
        </div>
      </span>
      <span *ngIf="iconImage != emptyValue" class={{iconImage}} [ngClass]="{'pull-right':true}"></span>
      <div *ngIf="displaySecondLine" class="col-12 no-padding d-flex justify-content-between padding-top-xsmall-xs padding-top-xsmall-sm padding-top-xsmall">
        <span class="legal">{{secondLineDesc}}</span>
        <span class="legal-bold-link pull-right black d-table" (click)="OpenPopUp()">{{secondLineUrl}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="bottomDivider" class="row">
    <div class="col-12">
      <div class={{bottomDividerClass}}></div>
    </div>
  </div>
</div>
