@import "src/assets/scss/global-variables.scss";
.TMO-PAYMENT-BLADE-PAGE{

    @media #{$smartphones-xs},#{$smartphones-sm} {
        .pading-blade-top-xxs {
            padding-top: 4px;
        }
    }

    .arrow-right-invert {
        -webkit-filter: invert(1) !important;
        filter: invert(1) !important;
    }
}