<div class="TMO-TMO-BILLING-ADDRESS-CONFIRMATION">
  <div class="container">
    <app-header></app-header>
    <div class="main-content-singlerow">
      <div class="row">
        <div class="col-12 text-center padding-top-large padding-bottom-medium">
          <span class="check-icon"></span>
        </div>
      </div>
      <div class="col-12 text-center">
        <p class="Display4">You are now enrolled in paperless billing.</p>
      </div>
    </div>
  
  <div class="row padding-top-xl-md padding-top-xl-lg padding-top-xl-xl padding-bottom-xxl">
    <div class="col-12 col-md-10 offset-md-1 text-center  ">
        <button class="PrimaryCTA full-btn-width" appButtonripple>CTA</button>
    </div>
  </div>
  </div>
</div>