<div class="TMO-TERMS-AND-CONDITIONS-MODAL-PAGE">
  <div class="container" id="termsAndConditionModalPage">
        <app-header></app-header>
        <div class="row no-margin padding-top-large-xs padding-top-large-sm padding-top-xl">
          <div class="col-12 text-center">
            <span class="Display3">Terms & Conditions</span>
          </div>
        </div>
        <div class="row padding-top-medium">
          <div class="col-12 col-md-10 offset-md-1">
            <span class="body-bold black">Payment Terms</span>
            <p class="padding-top-xsmall body">By submitting a payment, you authorize T-Mobile to debit your bank account/debit card or charge your credit card for the total amount and date shown.</p>
            <p class="body-bold black padding-top-medium">AutoPay Terms and Conditions</p>
            <p class="padding-top-xsmall body">Please read the following AutoPay (“AutoPay”) Terms and Conditions. They describe the terms you agree to with regard to recurring payments you make to T-Mobile. These AutoPay Terms and Conditions may be updated at any time, and changes become binding once posted to the T-Mobile website.</p>
            <p class="padding-top-xsmall body">If you have elected to enroll in AutoPay, you authorize T-Mobile to automatically debit your bank account/debit card or charge your credit card, on a recurring basis no earlier than 2 days before your statement due date until you terminate your authorization online at <u class="body-link black underline cursor">my.T-Mobile.com</u> or by calling 1-877-453-1304. You authorize T-Mobile to store your payment method for future payments by you and any verified users on the account. The amount of each monthly recurring payment will be the full monthly price reflected on your monthly statement for wireless service, plus any additional services, equipment, taxes, fees and other charges applicable to your T-Mobile purchase(s). If you find a billing error and notify T-Mobile at least 4 days before your monthly statement is due, we will attempt to correct the error before the next recurring payment. Also, if you sign up for, cancel or make changes to AutoPay 2 days or less before the payment due date, the change may not take effect until the following payment cycle. Otherwise, we will automatically debit/charge the amount reflected on your monthly statement. After terminating your authorization, you will be responsible for scheduling payments for subsequent monthly charges. You also authorize T-Mobile to credit your bank account/card in the appropriate amount for any refunds or other billing adjustments.</p>
            <p class="body-bold black padding-top-medium">Additional Payment Terms and Conditions.</p>
            <p class="padding-top-xsmall body">If you are signing on behalf of a corporate, organizational or governmental entity, you represent and warrant that (1) you are authorized to sign on behalf of such entity and (2) the credit card you are using was established for business purposes and that it is not a debit card. </p>
            <p class="padding-top-xsmall body">T-MOBILE SHALL BEAR NO LIABILITY OR RESPONSIBILITY FOR ANY LOSSES OF ANY KIND THAT YOU MAY INCUR AS A RESULT OF AN ERRONEOUS STATEMENT, ANY DELAY IN THE ACTUAL DATE ON WHICH YOUR ACCOUNT IS DEBITED OR YOUR FAILURE TO PROVIDE ACCURATE AND/OR VALID PAYMENT INFORMATION.</p>
          </div>
        </div>
        <div class="row ">
            <div class="col-12   padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl text-center">
                  <button class="PrimaryCTA full-btn-width" appButtonripple (click)="gotopreviouspage()">Back</button>
            </div>
        </div>
    </div>
</div>