@import "src/assets/scss/global-variables.scss";
.TMO-ODF-REVIEW {
    @media #{$smartphones-xs},
    #{$smartphones-sm} {
        .mv-change {
            margin-top: -5px;
            margin-bottom: -5px;
        }
    }
    @media #{$alldeviceexceptsmartphone} {
        .mv-change {
            margin-top: -10px;
            margin-bottom: -10px;
        }
       
    }
    .radio-container label {
        padding-right: 0px;
    }
    .overlay {
        background-color: rgba(50, 50, 50, 0.5);
    }
    .dialog {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        max-width: 400px;
    }
    .checkbox, .checkbox .indicator > span{
        width:18px;
        height:18px;
    }
    .checkbox .indicator > span{
         border:1px solid #9B9B9B;
     }
     .checkbox > label input:checked ~ .indicator > span{
        border:1px solid #e20074;
     }
}