<div class="TMO-ODF-REVIEW">
    <div class=" container">
        <app-header></app-header>
        <div class="col-md-10 offset-md-1 no-padding unset">
            <div class="row padding-top-large">
                <div class="col-12 text-center">
                    <span class="Display3">Review</span>
                </div>
                <div class="col-12 text-center">
                    <span class="body">For (425)111-1111</span>
                </div>
            </div>
            <div class="row">
                <span class="col-12 padding-vertical-medium">
                    <span class="H6-heading pull-left">New add-ons</span>
                </span>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
            <div class="padding-top-small" *ngFor="let val of addOnItems;let i = index">
                <div class="row black">
                    <div class="col-12 no-padding">
                        <div class="col-8 pr-0 d-inline-flex align-items-baseline">
                            <span class="pull-left Display6">{{val.descTitle}}</span>
                        </div>
                        <div class="col-4 pull-right">
                            <span class="pull-right H6-heading ">${{val.value}}</span>
                        </div>
                    </div>
                </div>
                <div class="padding-top-xsmall">
                    <span class="body">Effective {{val.date}}</span>
                    <a class="body-link cursor text-decoration-underline"
                        (click)="viewDatePicker(val.date,i,datepicker.ADD_ON_ITEM)">{{val.text}}</a>
                    <app-datepicker [parentTitle]="'Pick a Date'" [parentShowSubTitle]=false
                        (callBackValue)='handleCallBack($event)' [visible]="datePicker1" [parentColumn]=false>
                    </app-datepicker>
                </div>
                <div class="row padding-top-small no-padding">
                    <div class="col-12">
                        <div [ngClass]="{'inset-divider-1px':(i!=addOnItems.length-1),
                            'inset-divider-4px':( i == addOnItems.length-1)}"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="col-12 padding-vertical-medium ">
                    <span class="H6-heading pull-left">Removed items</span>
                </span>
                <div class="col-12">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
            <div class="padding-top-small" *ngFor="let val of removedItems;let i = index">
                <div class="row  black">
                    <div class="col-12 no-padding">
                        <div class="col-8 pr-0 d-inline-flex align-items-baseline">
                            <span class="pull-left Display6">{{val.descTitle}}</span>
                        </div>
                        <div class="col-4 pull-right">
                            <span class="pull-right H6-heading ">${{val.value}}</span>
                        </div>
                    </div>
                </div>
                <div class="padding-top-xsmall">
                    <span class="body">Effective {{val.date}}</span>
                    <a class="body-link cursor text-decoration-underline"
                        (click)="viewDatePicker(val.date,i,datepicker.REMOVE_ITEM);">{{val.text}}</a>
                    <app-datepicker [parentTitle]="'Pick a Date'" [parentShowSubTitle]=false
                        (callBackValue)='handleCallBack($event)' [visible]="datePicker2" [parentColumn]=false>
                    </app-datepicker>
                </div>
                <div class="row padding-top-small no-padding">
                    <div class="col-12">
                        <div [ngClass]="{'inset-divider-1px':(i!=removedItems.length-1),
                            'inset-divider-4px':( i == removedItems.length-1)}"></div>
                    </div>
                </div>
            </div>
            <div class="row  padding-vertical-medium">

                <div class="col-12 text-center">
                    <span class="H6-heading">Your monthly bill will increase by</span>
                </div>
                <div class="col-12 text-center padding-top-xsmall">
                    <span class="Display3">$17.00</span>
                </div>
            </div>
            <paymentblade [title]="paymentMethod" [card]="cardNumber" [icon]="iconClass"></paymentblade>


            <div class="row padding-top-small">
                <span class="col-12">
                    <div class="pull-left Display6 pull-left">Effective date</div>
                </span>
            </div>
            <div class="row mv-change">
                <span class="col-12">
                    <span class="pull-right Display6 brand-magenta cursor" (click)="change()">Change</span>
                </span>
            </div>
            <div class="row padding-bottom-small">
                <span class="col-12">
                    <div class="pull-left body pull-left">{{showValue}}</div>
                </span>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 padding-top-small">
                    <span class="legal d-inline-block black">
                        By clicking Agree and Submit, I agree that (a) my Agreement with T-Mobile includes the Service
                        Agreement, any terms specific
                        to my Rate Plan, and T-Mobile's Terms & Conditions; (b) T-Mobile requires Arbitration of
                        Disputes
                        unless I previously opted out per T-Mobile's Terms & Conditions; and (c) I accept T-Mobile's
                        Electronic
                        Signature Terms.
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 padding-top-small">
                    <span class="Display6 pull-left">TVision Terms & Conditions</span>
                </div>
                <div class="col-12 padding-vertical-small">
                    <span class="legal black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                        <a class="legal cursor text-decoration-underline">Ut enim ad minim venaim.</a>
                    </span>
                </div>
                <div class="col-12 padding-bottom-small">
                    <div class="d-flex">
                        <div class="body checkbox">
                            <label for="terms">
                                <input class="legal" type="checkbox" id="terms" name="term">
                                <div class="legal indicator">
                                    <span class="legal check1"></span>
                                </div>

                            </label>
                        </div>
                        <p class="H6-heading ml-3 mb-0">I agree to the terms
                            & conditions
                        </p>
                    </div>
                </div>
                <div class="col-12 padding-bottom-small">
                    <div class="inset-divider-4px"></div>
                </div>

            </div>
            <div class="row padding-top-large">
                <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
                    <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-md-0">
                        <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left"
                            appButtonripple routerLink="/OdfConfirmation" routerLinkActive="active">Agree and
                            submit</button>
                    </div>
                    <div class="col-12 col-md-6 float-md-left pl-md-0 padding-bottom-medium">
                        <button
                            class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right"
                            appButtonripple>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-container" id="effectiveDatePage">
            <div class="dialog animation-out" [ngClass]="{'animation-in':visible}">
                <div
                    class="row no-margin text-center padding-bottom-xsmall-xs padding-bottom-xsmall-sm padding-bottom-small padding-horizontal-medium">
                    <span mat-dialog-title class="col-12 no-padding black Display3 ">Effective date</span>
                </div>
                <div class="row no-margin padding-top-small padding-horizontal-medium"
                    *ngFor="let effectiveDate of effectiveDates">
                    <div class="col-12 no-padding body radio-container">
                        <div class="pull-left">
                            <div class="radio-container">
                                <input class="check pr-1" type="radio" id="{{effectiveDate.id}}" name="effective"
                                    [checked]="effectiveDate.descTitle == selectedValue"
                                    (change)="radioChange(effectiveDate.descTitle)">
                                <label for={{effectiveDate.id}}></label>
                                <div class="check"></div>
                            </div>
                        </div>
                        <div class="col-10 pull-left pt-1 pt-md-0 padding-horizontal-xsmall pr-0">
                            <div class="Display6 black mb-0 pull-left">{{effectiveDate.descTitle}}</div>
                        </div>
                    </div>
                    <div class="col-11 offset-1 pr-0 pl-2 body ml-md-4 pt-2">
                        {{effectiveDate.value}}
                    </div>
                </div>
                <div
                    class="row no-margin padding-top-xxxl-xs padding-top-xxxl-sm padding-top-large  text-center padding-horizontal-xsmall">
                    <div class="col-12 no-padding">
                        <button class="PrimaryCTA-accent pull-right ml-2" appButtonripple
                            (click)="select()">Select</button>
                        <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple
                            (click)="close()">Cancel</button>

                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="visible" class="overlay" (click)="close()"
            [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
</div>