<div class="TMO-HOME">
    <div class="container">
        <div class="col-12 padding-bottom-small no-padding">
            <div class="H5-heading text-center padding-vertical-xl">
                ANGULAR 4 PAGES - NEW STYLES
            </div>

            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle()">
                    Style Guide
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed, 'fa-chevron-down': isCollapsed}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/StyleGuideHome" routerLinkActive="active">New Glue Style guide (In Progress)</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle19()">
                    Style Guide- Alerts & Notification
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed19, 'fa-chevron-down': isCollapsed19}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed19}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/alertsCriticalNavigation" routerLinkActive="active">Alert Critical: Navigation to Page Anchor </a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/alertsCriticalClose" routerLinkActive="active">Alert Critical: Close</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/alertsWarningNavigation" routerLinkActive="active">Alert Warning: Navigation to Page</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/alertsWarningClose" routerLinkActive="active">Alert Warning: Close</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/alertsAndNotification" routerLinkActive="active">Alert Customization: Yellow Caret, More Data, Resolve</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle2()">
                    ODF Pages
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed2, 'fa-chevron-down': isCollapsed2}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed2}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/confirmationPayment" routerLinkActive="active">Confirmation Payment</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/ReviewPayment" routerLinkActive="active">Review Payment</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/ReviewNoPayment" routerLinkActive="active">Review No Payment</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/ConflictModal" routerLinkActive="active">Conflict Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/TaxModal" routerLinkActive="active">Tax Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/upgradeServices" routerLinkActive="active">Upgrade Your Services</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/upgradeServicesError" routerLinkActive="active">Upgrade Your Services: Error</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/termsAndCondition" routerLinkActive="active">Terms and Conditions</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/ServiceAgreement" routerLinkActive="active">Service Agreement</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/ElectronicSignatureTerms" routerLinkActive="active">Electronic Signature Terms</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/errorPage" routerLinkActive="active">Error Page</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle7()">
                    ODF add-ons
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed7, 'fa-chevron-down': isCollapsed7}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed7}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/Odflanding" routerLinkActive="active">ODF Landing Page</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/OdfReviwPayment" routerLinkActive="active">ODF Review payment</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/OdfConfirmation" routerLinkActive="active">ODF Confirmation Page</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/HeadlineModal" routerLinkActive="active">Headline Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/MultilineModal" routerLinkActive="active">Multiline Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/EmptyModal" routerLinkActive="active">Empty Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/OdfConfirmationBearmode" routerLinkActive="active">Odf Confirmation Bearmode</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/OdflandingNew" routerLinkActive="active">ODF Landing New Page</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/OdfReviewPaymentNew" routerLinkActive="active">ODF Review payment New</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle3()">
                    Family allowance Pages
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed3, 'fa-chevron-down': isCollapsed3}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed3}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/Benefit" routerLinkActive="active">Benefit</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/NetflixModal" routerLinkActive="active">Netflix modal</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle4()">
                    OTP - Part 1
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed4, 'fa-chevron-down': isCollapsed4}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed4}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/payYourBill" routerLinkActive="active">Pay Your Bill</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/payYourBillAddPay" routerLinkActive="active">Pay Your Bill - Add Pay</a>
                        </li>                        
                        <!--<li>
                            <a class="home-link" routerLink="/creditCard" routerLinkActive="active">Card Information</a>
                        </li>-->
                        <li>
                            <a class="home-link" routerLink="/cvvModal" routerLinkActive="active">CVV Modal all others</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/ReplacecardModal" routerLinkActive="active">Replace Card Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/bankModal" routerLinkActive="active">Bank Modal</a>
                        </li>
                        <!--<li>
	                        <a class="home-link" routerLink="/BankInfo" routerLinkActive="active">Bank Information</a>
                        </li>-->
                        <li>
                            <a class="home-link" routerLink="/Confirmation" routerLinkActive="active">Confirmation page</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/Confirmationpitch" routerLinkActive="active">Confirmation pitch page</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/editPaymentMethod" routerLinkActive="active">Edit Payment Method</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/editAmount" routerLinkActive="active">Edit Amount</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/error1" routerLinkActive="active">Error 1</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/blade" routerLinkActive="active">Payment blade_01</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/blade02" routerLinkActive="active">Payment blade_02</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/creditCardUpdated" routerLinkActive="active">Card Information Updated</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/bankInformationUpdated" routerLinkActive="active">Bank Information Updated</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/OTPTermsAndConditions" routerLinkActive="active">OTP Terms And Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle13()">
                    OTP - Part 2
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed13, 'fa-chevron-down': isCollapsed13}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed13}">
                    <ul>

                        <!-- <li>
                            <a class="home-link" routerLink="/OTPModal1" routerLinkActive="active">OTPModal1</a>
                        </li> -->
                        <li>
                            <a class="home-link" routerLink="/cvvModalAmex" routerLinkActive="active">CVV Modal Amex</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/DeleteCard" routerLinkActive="active"> Delete Card Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/DeleteBank" routerLinkActive="active"> Delete Bank Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/editPaymentMethodDisable" routerLinkActive="active">Edit Payment Method Disable</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/editAmountAlt" routerLinkActive="active">Edit Amount Alternate</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/otpbreakdown" routerLinkActive="active">OTP Breakdown Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/otpModal" routerLinkActive="active">OTP Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/creditCardWithAddress" routerLinkActive="active">Credit Card-With Address</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/error2" routerLinkActive="active">OTP Error2</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/OtpPaEdit" routerLinkActive="active">OTP PA Edit Method</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle5()">
                    SSU
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed5, 'fa-chevron-down': isCollapsed5}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed5}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/shopPage" routerLinkActive="active">Shop Page</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/shopPageUpdated" routerLinkActive="active">Shop Page Updated</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/shopPageSwapBannerContent" routerLinkActive="active">Shop Page - Desktop: FG - Left</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/ShopPageSwapBannerContentInMobile" routerLinkActive="active">Shop Page - Mobile: FG - Bottom</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/shopPageCenterBannerContent" routerLinkActive="active">Shop Page - Banner Content Center</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/shopPageFgImage" routerLinkActive="active">Shop Page - FG - Transparent</a>
                        </li>

                        <li>
                            <a class="home-link" routerLink="/shopPageModal" routerLinkActive="active">Shop Page Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/OrderStatus" routerLinkActive="active">Order Status</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/DeleteCard" routerLinkActive="active"> Delete Card Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/shopTermsConditions" routerLinkActive="active">Terms & Conditions</a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- this is in angular 1.5  so commented this section-->
            <!--   <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle6()">
                    DRP agreement
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed6, 'fa-chevron-down': isCollapsed6}"></i>
                </div>
                <div *ngIf="isCollapsed6">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/Drpagreement" routerLinkActive="active">DRP Agreement</a>
                        </li>
                    </ul>
                </div>
            </div> -->

            <!--   <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle8()">
                    Order Status
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed8, 'fa-chevron-down': isCollapsed8}"></i>
                </div>
                <div *ngIf="isCollapsed8">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/OrderStatus" routerLinkActive="active">Order Status</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- this is in jquery so commented this section -->
            <!--   <div>
            <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle9()">
                Crazy Legs Pages
                <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed9, 'fa-chevron-down': isCollapsed9}"></i>
     
        <div *ngIf="isCollapsed9">
                <ul>
                    <li>
                        <a class="home-link" routerLink="/Crazy" routerLinkActive="active">Crazy Legs</a>
                    </li>
                    <li>
                        <a class="home-link" routerLink="/Grid" routerLinkActive="active">Grid</a>
                    </li>
                    <li>
                        <a class="home-link" routerLink="/PlanDetail" routerLinkActive="active">Plan Detail</a>
                    </li>
                </ul>
            </div>  
        </div>
    </div> -->
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle8()">
                    PDE
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed8, 'fa-chevron-down': isCollapsed8}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed8}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/myPromotions" routerLinkActive="active">My Promotions</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/OfferModel1" routerLinkActive="active">Offer Modal1</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/OfferModel" routerLinkActive="active">Offer Modal2</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/termsAndCondition" routerLinkActive="active">Terms and Conditions</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/PromotionNoPending" routerLinkActive="active">My-Promotions-No-Pending</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/PromotionPending" routerLinkActive="active">My-Promotions-Pending</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/PastPromotions" routerLinkActive="active">Past Promotions</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/PromotionsDetails" routerLinkActive="active">Promotions Details</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle10()">
                    Error Handling
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed10, 'fa-chevron-down': isCollapsed10}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed10}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/SystemError" routerLinkActive="active">System Error</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/PaymentDeclined" routerLinkActive="active">Payment Declined</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/ErrorState" routerLinkActive="active">Error State Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/ServerError" routerLinkActive="active">Server Error</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle11()">
                    Account History
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed11, 'fa-chevron-down': isCollapsed11}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed11}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/currentActivity" routerLinkActive="active">Current Activity</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/conversationHistory" routerLinkActive="active">Conversation History</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/BillHistory" routerLinkActive="active">Bill History</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/PaymentReceipt" routerLinkActive="active">Payment Receipt</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/CancelModal" routerLinkActive="active">Cancel Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/usageOverview" routerLinkActive="active">Usage Overview</a>
                        </li>
                        <!--<li>
                            <a class="home-link" routerLink="/usageDetails1" routerLinkActive="active">Usage Details 1</a>
                        </li>-->
                        <li>
                            <a class="home-link" routerLink="/PaymentHistory" routerLinkActive="active">Payment History</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/HistoricalBillsModal" routerLinkActive="active">Historical Bills Modal</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle22()">
                    Account Overview
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed22, 'fa-chevron-down': isCollapsed22}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed22}">
                    <ul>
                            <li>
                                    <a class="home-link" routerLink="/landingPage" routerLinkActive="active">Landing Page</a>
                                  </li>
                                  <li>
                                    <a class="home-link" routerLink="/lineDetail" routerLinkActive="active">Line Detail</a>
                                  </li>
                                   <li><a class="home-link" routerLink="/planDetails" routerLinkActive="active">Plan Details</a></li>
                                   <li><a class="home-link" routerLink="/costDetails" routerLinkActive="active">Cost Details</a></li>
                                   <li><a class="home-link" routerLink="/featureDetails" routerLinkActive="active">Feature Details</a></li>
                        </ul>
                        </div>
            </div>
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle12()">
                    Device Unlocked
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed12, 'fa-chevron-down': isCollapsed12}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed12}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/StatusUnknown" routerLinkActive="active">Status Unknown</a>
                        </li>
                        <!-- <li>
                        <a class="home-link" routerLink="/UnlockYourDevice" routerLinkActive="active">Unlock Your Device</a>
                    </li> -->
                    </ul>
                </div>
            </div>
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle14()">
                    Profile
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed14, 'fa-chevron-down': isCollapsed14}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed14}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/profileHome" routerLinkActive="active">Home Page</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/billingAndPayments" routerLinkActive="active">Billing And Payments</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/billingAndPaymentsOn" routerLinkActive="active">Billing And Payments On</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/billingAndPaymentsPaperlessBilling" routerLinkActive="active">Billing And Payments - Paperless Billing</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/tMobileID" routerLinkActive="active">T-Mobile ID</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/tMobileIDNickname" routerLinkActive="active">T-Mobile ID - Nickname</a>
                        </li>
                        <!-- <li><a class="home-link" routerLink="/tMobileIDPassword" routerLinkActive="active">T-Mobile ID - Password</a></li>
                    <li><a class="home-link" routerLink="/tMobileIDSecurityQuestion" routerLinkActive="active">T-Mobile ID - Security Question</a></li>
                    <li><a class="home-link" routerLink="/tmobileIDPhoneNumber" routerLinkActive="active">T-Mobile ID - Phone Number</a></li> -->
                        <li>
                            <a class="home-link" routerLink="/mediaSettings" routerLinkActive="active">Media Settings</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/lineSettings" routerLinkActive="active">Line Settings</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/lineSettingsNickname" routerLinkActive="active">Line Settings Nickname</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/lineSettingsSelectLine" routerLinkActive="active">Line Settings SelectLine</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/lineSettingsLineChanged" routerLinkActive="active">Line Settings Permissions</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/blocking" routerLinkActive="active">Blocking</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/privacyNotification" routerLinkActive="active">Privacy And Notification</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/privacyNotificationMarketingCommunications" routerLinkActive="active">Privacy And Notification - Marketing Communications</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/privacyNotificationNotifications" routerLinkActive="active">Privacy And Notification - Notifications</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/privacyNotificationAdvertising" routerLinkActive="active">Privacy And Notification - Advertising</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/privacyNotificationInterestBasedAds" routerLinkActive="active">Privacy And Notification - InterestBased Ads</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/multipleDevices" routerLinkActive="active">Multiple Devices</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/employeeDesignationCurrentLines" routerLinkActive="active">EmployeeDesignation - CurrentLines</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/employeeDesignationEdit" routerLinkActive="active">EmployeeDesignation - Edit</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/coverageDevice" routerLinkActive="active">Coverage Device</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/coverageDeviceDeviceAddress" routerLinkActive="active">Coverage Device - Device Address</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/coverageDeviceAssignedNumber" routerLinkActive="active">Coverage Device - Assigned Number</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/familyControl" routerLinkActive="active">Family Controls</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/familyControlWebGaurd" routerLinkActive="active">Family Controls - Web Guards</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/familyControlFamilyAllowances" routerLinkActive="active">Family Controls - Family Allowances</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/coverageDeviceVerifyAddress" routerLinkActive="active">Coverage Device - VerifyAddress</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle17()">
                    Profile New
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed17, 'fa-chevron-down': isCollapsed17}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed17}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/profileNewHome" routerLinkActive="active">Home Page</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/privacyNotificationNew" routerLinkActive="active">Privacy And Notification</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/privacyNotificationInterestBasedAdsNew" routerLinkActive="active">Privacy And Notification - InterestBased Ads</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/privacyNotificationAdvertisingNew" routerLinkActive="active">Privacy And Notification - Advertising</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/privacyNotificationMarketingCommunicationsNew" routerLinkActive="active">Privacy And Notification - Marketing Communications</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/privacyNotificationNotificationsNew" routerLinkActive="active">Privacy And Notification - Notifications</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/employeeDesignationCurrentLinesNew" routerLinkActive="active">EmployeeDesignation - CurrentLines</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/employeeDesignationEditNew" routerLinkActive="active">EmployeeDesignation - Edit</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/billingAndPaymentsNew" routerLinkActive="active">Billing And Payments</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/billingAndPaymentsOnNew" routerLinkActive="active">Billing And Payments On</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/billingAndPaymentsPaperlessBillingNew" routerLinkActive="active">Billing And Payments - Paperless Billing</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/lineSettingsNew" routerLinkActive="active">Line Settings</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/lineSettingsNicknameNew" routerLinkActive="active">Line Settings Nickname</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/lineSettingsSelectLineNew" routerLinkActive="active">Line Settings SelectLine</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/lineSettingsLineChangedNew" routerLinkActive="active">Line Settings Permissions</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/blockingNew" routerLinkActive="active">Blocking</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/coverageDeviceNew" routerLinkActive="active">Coverage Device</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/coverageDeviceDeviceAddressNew" routerLinkActive="active">Coverage Device - Device Address</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/coverageDeviceAssignedNumberNew" routerLinkActive="active">Coverage Device - Assigned Number</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/coverageDeviceVerifyAddressModalNew" routerLinkActive="active">Coverage Device - Verify Address Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/multipleSettingsNew" routerLinkActive="active">Multiple Settings</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/mediaSettingsNew" routerLinkActive="active">Media Settings</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/familyControlNew" routerLinkActive="active">Family Controls</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/familyControlWebGaurdNew" routerLinkActive="active">Family Controls - Web Guards</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/familyControlFamilyAllowancesNew" routerLinkActive="active">Family Controls - Family Allowances</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/TmobileIdNew" routerLinkActive="active">T-Mobile-Id</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/TmobileIdNicknameNew" routerLinkActive="active">T-Mobile-Id-NickName</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/billingAddress" routerLinkActive="active">Billing Address</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/E911Address" routerLinkActive="active">E911 Address</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/billingAndPaymentsPaperlessUAT" routerLinkActive="active">Billing And Payments - Paperless Billing UAT</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/billingAndPaymentsPaperlessUATUpdated" routerLinkActive="active">Billing And Payments - Paperless Billing UAT Updated</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/PaperlessTermsAndCondition" routerLinkActive="active">Paperless Terms And Condition</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/billingAndPaymentsConfirmation" routerLinkActive="active">Billing And Payments - Confirmation
                            </a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/militaryStatusDetail" routerLinkActive="active">Military Status Detail</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/registrationVeteran" routerLinkActive="active">Registration Veteran</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/confirmInfo" routerLinkActive="active">Registration: Confirm Info</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/successVerified" routerLinkActive="active">Success Verified</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/successUploadReceived" routerLinkActive="active">Success Upload Received</a>
                        </li>
                        <!-- <li>
                            <a class="home-link" routerLink="/alertMessage" routerLinkActive="active">Alert/Error</a>
                          </li> -->
                        <li>
                            <a class="home-link" routerLink="/uploadDoc" routerLinkActive="active">Upload Doc</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/fidTermsAndCondition" routerLinkActive="active">Terms and Conditions</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/fidPrivacyPolicy" routerLinkActive="active">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/statusUpload/DocNotAccepted" routerLinkActive="active">Status blade: Documents Not Accepted</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/statusUpload/FinishVerification" routerLinkActive="active">Status blade: Finish Verification</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/statusUpload/upload" routerLinkActive="active">Status blade: Upload</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/statusUpload/InfoPrevious" routerLinkActive="active">Status blade: Information previously submitted</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/statusUpload/TooManyFailed" routerLinkActive="active">Status blade: Too many failed attempts</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/statusUpload/verified" routerLinkActive="active">Status blade: Verified</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/alertMessage/DocNotAccepted" routerLinkActive="active">Alert:Documents not accepted</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/alertMessage/TooManyFailed" routerLinkActive="active">Alert:Too many failed attempts</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/alertMessage/InfoPrevious" routerLinkActive="active">Alert:Information previously submitted</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/alertMessage/Generic" routerLinkActive="active">Alert:Generic</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/aucPermissions" routerLinkActive="active">AUC: Permissions</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/aucTermsAndCondition" routerLinkActive="active">AUC: Change Permissions T & C </a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/aucMessages" routerLinkActive="active">AUC: Messages</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/aucMessagesConfirmation" routerLinkActive="active">AUC: Messages - Confirmation</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle15()">
                    Autopay
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed15, 'fa-chevron-down': isCollapsed15}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed15}">
                    <ul>
                        
                       
                        <li>
                            <a class="home-link" routerLink="/autoPayOff2" routerLinkActive="active">Auto_Pay_Off-2</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/autoPayOff3" routerLinkActive="active">Auto_Pay_Off-3</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/autoPayOff2Error" routerLinkActive="active">Auto_Pay_Off-2-Error</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/confirmation-3" routerLinkActive="active">Confirmation-3</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/AutopayConfirmation" routerLinkActive="active">Autopay Confirmation page</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/faq" routerLinkActive="active">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle16()">
                    PA
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed16, 'fa-chevron-down': isCollapsed16}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed16}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/paLanding1" routerLinkActive="active">PA Landing 1</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/paLanding2" routerLinkActive="active">PA Landing 2</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/paLanding3" routerLinkActive="active">PA Landing 3</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/paLanding4" routerLinkActive="active">PA Landing 4</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/paLanding5" routerLinkActive="active">PA Landing 5</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/paLandingNoPayment" routerLinkActive="active">PA Landing : No Payment</a>
                        </li>

                        <li>
                            <a class="home-link" routerLink="/PAotpModal" routerLinkActive="active">PA OTP Modal</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/PAeditV31" routerLinkActive="active">PA Edit V3_1 </a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/PaEditV32" routerLinkActive="active">PA Edit V3_2</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/PAeditModal" routerLinkActive="active">PA Edit Modal</a>
                        </li>
                       
                        <li>
                            <a class="home-link" routerLink="/PAmodal5" routerLinkActive="active">PA Edit Modal 5</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/PAmodal6" routerLinkActive="active">PA Edit Modal 6</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/paOtpEditMethod" routerLinkActive="active">PA Otp Edit Method</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/paConfirm" routerLinkActive="active">PA Confirm</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/paOtpHome" routerLinkActive="active">PA OTP Home</a>
                        </li>

                    </ul>
                </div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle18()">
                    Plan Comparison
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed18, 'fa-chevron-down': isCollapsed18}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed18}">
                    <ul>
                        <!--<li>
                            <a class="home-link" routerLink="/Crazy" routerLinkActive="active">Crazy</a>
                          </li>
                          <li>
                            <a class="home-link" routerLink="/Grid" routerLinkActive="active">Grid</a>
                          </li>
                          <li>
                            <a class="home-link" routerLink="/PlanDetail" routerLinkActive="active">Plan-detail</a>
                          </li>
                          <li>
                                <a class="home-link" routerLink="/Mconfirmation" routerLinkActive="active">M-Confirmation</a>
                          </li>-->
                        <li>
                            <a class="home-link" routerLink="/mvpReviewChanges" routerLinkActive="active">MVP: Review Changes</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/mvpReviewPlans" routerLinkActive="active">MVP: Review Plans</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/mvpReviewAddOns" routerLinkActive="active">MVP: Review Add Ons</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/mvpReviewEquipment" routerLinkActive="active">MVP: Review Equipment</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/mvpConfirmDetails" routerLinkActive="active">MVP: Confirmation Details</a>
                        </li>
                        <li>
                            <a class="home-link" routerLink="/mvpSelectPlan" routerLinkActive="active">MVP: Select Plan</a>
                        </li>

                    </ul>
                </div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle20()">
                    Contact Us
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed20, 'fa-chevron-down': isCollapsed20}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed20}">
                    <ul>
                        <li>
                            <a class="home-link" routerLink="/teamDescription" routerLinkActive="active">Team Description</a>
                        </li>
                    </ul>
                </div>
                <div class="H5-heading padding-vertical-small cursorAccordion" (click)="clickToggle21()">
                    EIP JOD
                    <i class="pull-right float-xs-right fa arrow_size" [ngClass]="{'fa-chevron-up': !isCollapsed21, 'fa-chevron-down': isCollapsed21}"></i>
                </div>
                <div class="accordion-content" [ngClass]="{'content-open':isCollapsed21}">
                    <ul>
                            <li><a class="home-link" routerLink="/jodEndingSoon" routerLinkActive="active">JOD Ending Soon</a></li>
                            <li><a class="home-link" routerLink="/jodEndingSoonOptions" routerLinkActive="active">JOD Ending Soon Options</a></li>
                            <li><a class="home-link" routerLink="/jodPoipPayment" routerLinkActive="active">JOD POIP Payment </a></li>
                            <li><a class="home-link" routerLink="/docuSignFlow" routerLinkActive="active">Docu Sign Flow </a></li>
                            <li><a class="home-link" routerLink="/docuSignThankYou" routerLinkActive="active">Docu Sign Thank You </a></li>
                            <li><a class="home-link" routerLink="/eppExistingPaymentMethod" routerLinkActive="active">EPP: Existing Payment Method </a></li>
                            <li><a class="home-link" routerLink="/eppTermsAndCondition" routerLinkActive="active">EPP: Terms and Condition </a></li>
                            <li><a class="home-link" routerLink="/selectPaymentMethod" routerLinkActive="active">EPP/JOD: Select Payment method </a></li>
                            <li><a class="home-link" routerLink="/addCard" routerLinkActive="active">EPP: Add Card</a></li>
                            <li><a class="home-link" routerLink="/paymentAmount" routerLinkActive="active">EPP: Payment Amount </a></li>
                            <li><a class="home-link" routerLink="/eppConfirmation" routerLinkActive="active">EPP: Confirmation </a></li>
                            <li><a class="home-link" routerLink="/duplicatePayment" routerLinkActive="active">Payment Failure: Duplicate Payment </a></li>
                            <li><a class="home-link" routerLink="/paymentSystemError" routerLinkActive="active">Payment Failure: System Error</a></li>
                            <li><a class="home-link" routerLink="/paymentEstimator" routerLinkActive="active">Payment Estimator</a></li>
                            <li><a class="home-link" routerLink="/balanceSummaryVariants" routerLinkActive="active">Balance Summary Variants </a></li>
                            <li><a class="home-link" routerLink="/noActivePlanLease" routerLinkActive="active">No Active Plans & Leases </a></li>
                            <li><a class="home-link" routerLink="/jodLeaseVariants" routerLinkActive="active">JOD Lease Variants</a></li>
                            <li><a class="home-link" routerLink="/eipVariants" routerLinkActive="active">Equipment Installment Plan Variants </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
