.TMO-HOME {
    //colors
    $white: #fff;
    $color_mine_shaft_approx: #333;
    $black: #000;
    $value_0: 0;
    $value_0px: 0px;
    .li_comp {
        display: inline;
    }
    .panel {
        margin-bottom: $value_0;
        background-color: $white;
        border: none;
        border-radius: $value_0;
        box-shadow: none;
    }
    .panel-group {
        margin-bottom: $value_0;
    }
    .panel-heading {
        padding: $value_0;
    }
    .panel-body {
        padding: $value_0;
        border-top: none !important;
    }
    .arrow_size {
        font-size: large !important;
        color: $black;
    }
    .panel-default>.panel-heading {
        color: $color_mine_shaft_approx;
        background-color: $white;
        border-color: $white;
    }
    .home-link {
        font-size: 16px;
        line-height: 24px;
        font-family: Arial;
        letter-spacing: -.01em;
        font-weight: normal;
        color: magenta;
    }
    a.home-link:hover {
        text-decoration: underline;
    }
    .cursorAccordion {
        cursor: pointer;
    }
    .content-open {
        max-height:1300px;
        opacity: 1;
    }
    
}