@import "src/assets/scss/global-variables.scss";
.TMO-BILLING-AND-PAYMENTS-PAPERLESS-UAT-NEW{
    .divHeight{
            height: 207px;
            overflow-y: scroll;
        @media #{$alldeviceexceptsmartphone}{
            height: 279px;
        }
    }
    .divHeight::-webkit-scrollbar {
        width: 4px;
        height: 6px;
    }
    .divHeight::-webkit-scrollbar-thumb:vertical {
        background-color: $gray30;
    }
    .radio-container label {
        margin-left: -30px
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @media #{$landscape} {
        .mspb-8{
        padding-bottom: 8px;
        }
    }
    }
}