<div class="TMO-BILLING-AND-PAYMENTS-PAPERLESS-UAT-NEW">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="Display3 text-center padding-top-large-xs padding-top-large-sm padding-bottom-medium-xs padding-bottom-medium-sm padding-top-xl padding-bottom-large">Paperless Billing</p>
        <p class="col-10 offset-1 body text-center">Please note that changes apply to all lines on your account.</p>
      </div>
    </div>
    <div class="row padding-top-xl padding-top-large-xs padding-top-large-sm">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="inset-divider-1px"></div>
          </div>
      <div class="col-12 offset-md-1 col-md-10 padding-top-small">
        <p class="Display6">Select the type of bill you would like to receive:</p>
      </div>

      <div class="col-12">
        <div class="d-flex padding-top-medium padding-top-small-xs padding-top-small-sm">
          <div class="body radio-container mt-md-1 col-1 col-md-1 offset-md-1">
            <input class="check pr-1" type="radio" id=1 name=1 (click)="change()">
            <label for=1></label>
            <div class="check" ></div>
          </div>
          <div class="col-11 col-md-9 no-padding">
            <span class="Display6 pl-1 cursor" >Paperless Bill</span>
            <p class="body pl-1 padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm">Save trees and get a friendly reminder when your bill is ready.</p>
          </div>
        </div>
        <div class="col-12 padding-top-medium col-md-10 offset-md-1 no-padding d-md-block d-none">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex padding-top-medium padding-top-small-xs padding-top-small-sm">
          <div class="body radio-container mt-md-1 col-1 col-md-1 offset-md-1">
            <input class="check pr-1" type="radio" id=2 name=1 checked>
            <label for=2></label>
            <div class="check"></div>
          </div>
          <div class="col-11 col-md-9 no-padding">
            <span class="Display6 pl-1">Paper bill </span>
            <p class="body padding-top-small padding-top-xsmall-xs padding-top-xsmall-sm pl-1">Use this billing address:</p>
            <p class="legal pt-1 pl-1">1234 Main St</p>
            <p class="legal pl-1">Suite 001</p>
            <p class="legal pl-1">Bellevue, WA 98111</p>
            <p class="legal-bold-link black pl-1 padding-top-xsmall cursor">Change my billing address</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-top-small-xs padding-top-small-sm padding-top-medium">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-2 col-md-10">
        <p class="Display6 padding-top-medium padding-top-small-xs padding-top-small-sm">Select the level of detail you would like on your bill:</p>
      </div>

      <div class="col-12">
        <div class="d-flex padding-top-medium padding-top-small-xs padding-top-small-sm">
          <div class="body radio-container mt-md-1 col-1 col-md-1 offset-md-1">
            <input class="check pr-1" type="radio" id=3 name=2>
            <label for=3></label>
            <div class="check"></div>
          </div>
          <div class="col-11 col-md-9 no-padding">
            <span class="Display6 pl-1">Email to: dev360uat@gmail.com</span>
          </div>
        </div>
        <div class="col-12 padding-top-medium col-md-10 offset-md-1 no-padding d-md-block d-none">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex padding-top-medium padding-top-small-xs padding-top-small-sm">
          <div class="body radio-container mt-md-1 col-1 col-md-1 offset-md-1">
            <input class="check pr-1" type="radio" id=4 name=2 checked>
            <label for=4></label>
            <div class="check"></div>
          </div>
          <div class="col-11 col-md-9 no-padding">
            <span class="Display6 pl-1">Text message to: 7194339923</span>
          </div>
        </div>
        <div class="col-12 padding-top-medium col-md-10 offset-md-1 no-padding d-md-block d-none">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
    </div>
    <div class="row no-padding padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl">
      <div class="col-12 col-md-8 offset-md-2 text-center">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
          <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Save changes</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
          <button class="SecondaryCTA  full-btn-width float-md-right float-lg-right float-xl-right blackCTA" appButtonripple>Cancel</button>
        </div>
      </div>
    </div>
    <div class="dialog-container" id="effectiveDatePage">
      <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
        <div class="row no-margin text-center padding-bottom-medium ">
          <span mat-dialog-title class="col-8 offset-2 col-md-12 offset-md-0 no-padding black Display5 ">One step away from saving trees.</span>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
        <div class="row no-margin ">
          <div class="col-10 offset-1 col-md-12 offset-md-0 no-padding body-bold black text-center padding-vertical-small">
            Paperless Billing Terms and Conditions
          </div>
          <div class="col-10 offset-1  divHeight no-padding pl-1 pl-sm-1 pl-md-0 pl-lg-2 pl-xl-3">
            <p class="legal padding-bottom-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam sem, vehicula convallis mi sed, tincidunt dignissim erat. Mauris ultricies eros sed ligula tincidunt, vel feugiat libero sollicitudin. Etiam sem elit, aliquet vel imperdiet ut, mattis a arcu. Etiam at posuere quam. Vivamus et odio erat. Nulla malesuada rutrum eleifend. Aenean nibh eros, rutrum ac commodo sit amet, accumsan vitae dui. In vehicula posuere sem.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">1. Lorem ipsum dolor sit amet,</span> consectetur adipiscing elit. Vivamus quam sem, vehicula convallis mi sed, tincidunt dignissim erat. Mauris ultricies eros sed ligula tincidunt, vel feugiat libero sollicitudin.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">2. Donec ultricies,</span> ligula at blandit commodo, risus velit vestibulum eros, a ultrices arcu enim placerat orci. Vestibulum commodo pulvinar ligula, in blandit ex tempor at. Duis vel fermentum orci, ac luctus erat.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">3. Quisque vestibulum,</span> justo a malesuada finibus, lorem justo porttitor massa, in mattis massa tellus ac felis. Nam justo tellus, tempus non ultricies eget, lacinia nec risus. Integer pulvinar blandit finibus. Mauris neque nisi, dictum ut pellentesque nec, tempor id urna. Donec vestibulum faucibus ornare. Duis efficitur vel mauris ac sollicitudin.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">4. Morbi et luctus ante.</span> Phasellus rutrum enim mauris, et feugiat tellus pulvinar viverra. Pellentesque sed tortor vitae quam bibendum viverra.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">5. Quisque luctus scelerisque vulputate.</span> Morbi porta eget mi ac aliquet. Vivamus sit amet felis eleifend, placerat arcu vel, tincidunt mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed condimentum diam a bibendum congue. Praesent et lectus ut ligula rutrum convallis. Integer ac ante mauris.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">6. Morbi at neque facilisis,</span> dignissim massa eu, ultricies arcu. Curabitur in rutrum turpis. Suspendisse est mauris, luctus vitae est eget, sollicitudin feugiat nibh. Nulla molestie interdum tortor, nec gravida dui consectetur eu.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">7. Quisque ac mi eget sem porttitor efficitur.</span> Phasellus vel viverra sem, quis tristique massa. Morbi porttitor massa nec quam iaculis tristique ut et tellus. Cras ornare sodales ipsum id molestie. Nunc accumsan sem iaculis augue blandit ultricies. Nunc vitae lorem arcu. Suspendisse sodales et urna quis placerat.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">8. Lorem ipsum dolor sit amet,</span> consectetur adipiscing elit. Vivamus quam sem, vehicula convallis mi sed, tincidunt dignissim erat. Mauris ultricies eros sed ligula tincidunt, vel feugiat libero sollicitudin. Etiam sem elit, aliquet vel imperdiet ut, mattis a arcu.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">9. Etiam at posuere quam.</span> Vivamus et odio erat. Nulla malesuada rutrum eleifend. Aenean nibh eros, rutrum ac commodo sit amet, accumsan vitae dui. In vehicula posuere sem.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">10. Donec ultricies,</span> ligula at blandit commodo, risus velit vestibulum eros, a ultrices arcu enim placerat orci. Vestibulum commodo pulvinar ligula, in blandit ex tempor at.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">11. Duis vel fermentum orci,</span> ac luctus erat. Sed et tincidunt orci, vel ultricies ipsum. Etiam quis libero rhoncus, semper odio sed, fringilla augue. Aliquam erat volutpat. Proin quis efficitur mi. Integer tortor metus, aliquet at diam ut, consectetur blandit risus. Maecenas vestibulum odio libero, non lobortis ligula consectetur in.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">12. Quisque vestibulum,</span> justo a malesuada finibus, lorem justo porttitor massa, in mattis massa tellus ac felis. Nam justo tellus, tempus non ultricies eget, lacinia nec risus. Integer pulvinar blandit finibus. Mauris neque nisi, dictum ut pellentesque nec, tempor id urna.</p>
            <p class="legal padding-bottom-small"><span class="legal-bold black">13. Donec vestibulum faucibus ornare.</span> Duis efficitur vel mauris ac sollicitudin. Nulla ac ullamcorper nulla. Maecenas ullamcorper sem erat, vel dignissim lorem malesuada ut.</p>
            <p class="legal"><span class="legal-bold black">14. Donec a sem ullamcorper,</span> dictum nulla et, aliquet lectus. Sed quis mi non turpis facilisis vulputate eu ut nunc. Proin sagittis purus ac odio tempor, nec rutrum augue hendrerit. Nam tempus efficitur risus nec blandit.</p>
          </div>
          <div class="col-10 offset-1  padding-top-small no-padding pl-1 pl-sm-1 pl-md-0 pl-lg-2">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
            <div class="row no-margin  padding-top-large  text-center padding-left-xsmall">
              <div class="col-12 no-padding mspb-8">
                <button class="PrimaryCTA-accent pull-right ml-2" appButtonripple (click)="close()">Agree & submit</button>
                <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple (click)="close()">Back</button>
              </div>
            </div>
      </div>
      <div *ngIf="visible" class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
  </div>