<div class="TMO-ODF-REVIEW-NEW">
    <div class=" container">
        <app-header></app-header>
        <div class="col-md-10 offset-md-1 no-padding unset">
            <div class="row padding-top-large">
                <div class="col-12 text-center">
                    <span class="Display3" tabindex="0" aria-label="Review">Review</span>
                </div>
                <div class="col-12 text-center" x-ms-format-detection="none">
                    <span class="body" tabindex="0" aria-label="For (425)111-1111">For (425)111-1111</span>
                </div>
            </div>
            <div class="row">
                <span class="col-12 padding-vertical-medium">
                    <span class="H6-heading pull-left" tabindex="0" aria-label="New add-ons">New add-ons</span>
                </span>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
            <div class="padding-top-small" *ngFor="let val of addOnItems;let i = index">
                <div class="row black">
                    <div class="col-12 no-padding">
                        <div class="col-8 pr-0 d-inline-flex align-items-baseline">
                            <span class="pull-left Display6" tabindex="0"
                                [attr.aria-label]="val.descTitle">{{val.descTitle}}</span>
                        </div>
                        <div class="col-4 pull-right">
                            <span class="pull-right H6-heading" tabindex="0"
                                [attr.aria-label]="val.value">{{val.value}}</span>
                        </div>
                    </div>
                </div>
                <div class="padding-top-xsmall">
                    <span class="body" tabindex="0" [attr.aria-label]="'Effective ' + val.date">Effective
                        {{val.date}}</span>
                    <a class="body-link cursor text-decoration-underline"
                         tabindex="0"
                        [attr.aria-label]="val.text">{{val.text}}</a>

                    <app-datepicker #calendar1 [parentTitle]="'Pick a Date'" [parentShowSubTitle]=false
                        (callBackValue)='handleCallBack($event)' [visible]="datePicker1" [parentColumn]=false>
                    </app-datepicker>

                </div>
                <div class="row padding-top-small no-padding">
                    <div class="col-12">
                        <div [ngClass]="{'inset-divider-1px':(i!=addOnItems.length-1),
                            'inset-divider-4px':( i == addOnItems.length-1)}"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="col-12 padding-vertical-medium ">
                    <span class="H6-heading pull-left" tabindex="0" aria-label="Removed items">Removed items</span>
                </span>
                <div class="col-12">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
            <div class="padding-top-small" *ngFor="let val of removedItems;let i = index">
                <div class="row  black">
                    <div class="col-12 no-padding">
                        <div class="col-8 pr-0 d-inline-flex align-items-baseline">
                            <span class="pull-left Display6" tabindex="0"
                                [attr.aria-label]="val.descTitle">{{val.descTitle}}</span>
                        </div>
                        <div class="col-4 pull-right">
                            <span class="pull-right H6-heading" tabindex="0"
                                [attr.aria-label]="val.value">{{val.value}}</span>
                        </div>
                    </div>
                </div>
                <div class="padding-top-xsmall">
                    <span class="body" tabindex="0" [attr.aria-label]="'Effective ' + val.date">Effective {{val.date}}</span>
                    <a class="body-link cursor text-decoration-underline"
                         tabindex="0"
                        [attr.aria-label]="val.text">{{val.text}}</a>
                    <app-datepicker #calendar2 [parentTitle]="'Pick a Date'" [parentShowSubTitle]=false
                        (callBackValue)='handleCallBack($event)' [visible]="datePicker2" [parentColumn]=false>
                    </app-datepicker>
                </div>
                <div class="row padding-top-small no-padding">
                    <div class="col-12">
                        <div [ngClass]="{'inset-divider-1px':(i!=removedItems.length-1),
                            'inset-divider-4px':( i == removedItems.length-1)}"></div>
                    </div>
                </div>
            </div>
            <div class="row  padding-vertical-medium">
                <div class="col-12 text-center">
                    <span class="H6-heading" tabindex="0" aria-label="Your monthly bill will increase by">Your monthly
                        bill will increase by</span>
                </div>
                <div class="col-12 text-center padding-top-xsmall">
                    <span class="Display3" tabindex="0" aria-label="$17.00">$17.00</span>
                </div>
            </div>
            <paymentblade [title]="paymentMethod" [card]="cardNumber" [icon]="iconClass"></paymentblade>


            <div class="row padding-top-small">
                <span class="col-12">
                    <div class="pull-left Display6 pull-left" tabindex="0" aria-label="Effective date">Effective date
                    </div>
                </span>
            </div>
            <div class="row mv-change">
                <span class="col-12">
                    <span class="pull-right Display6 brand-magenta cursor" id="changeId" (click)="change()" (keydown.enter)="change()"
                        tabindex="0" aria-label="click here to change">Change</span>
                </span>
            </div>
            <div class="row padding-bottom-small">
                <span class="col-12">
                    <div class="pull-left body pull-left" tabindex="0" [attr.aria-label]="showValue">{{showValue}}</div>
                </span>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="inset-divider-1px"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 padding-top-small">
                    <span class="legal d-inline-block black" tabindex="0" aria-label="By clicking Agree and Submit, I agree that (a) my Agreement with T-Mobile includes the Service
                    Agreement, any terms specific
                    to my Rate Plan, and T-Mobile's Terms & Conditions; (b) T-Mobile requires Arbitration of
                    Disputes
                    unless I previously opted out per T-Mobile's Terms & Conditions; and (c) I accept T-Mobile's
                    Electronic
                    Signature Terms.">
                        By clicking Agree and Submit, I agree that (a) my Agreement with T-Mobile includes the Service
                        Agreement, any terms specific
                        to my Rate Plan, and T-Mobile's Terms & Conditions; (b) T-Mobile requires Arbitration of
                        Disputes
                        unless I previously opted out per T-Mobile's Terms & Conditions; and (c) I accept T-Mobile's
                        Electronic
                        Signature Terms.
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 padding-top-small">
                    <span class="Display6 pull-left" tabindex="0" aria-label="TVision Terms & Conditions">TVision Terms
                        & Conditions</span>
                </div>
                <div class="col-12 padding-vertical-small">
                    <span class="legal black d-block" tabindex="0" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venaim.">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                        <a class="legal black cursor text-decoration-underline" tabindex="-1">Ut enim ad minim
                            venaim.</a>
                    </span>
                </div>
                <div class="col-12 padding-bottom-small">
                    <div class="d-flex align-items-center">
                        <div class="body checkbox">
                            <label for="terms">
                                <input class="legal" type="checkbox" id="terms" name="term" tabindex="0"
                                    (keydown.enter)="isChecked = !isChecked;" aria-label="click to select checkbox"
                                    [checked]="isChecked">
                                <div class="legal indicator">
                                    <span class="legal check1"></span>
                                </div>

                            </label>
                        </div>
                        <p class="H6-heading ml-3 mb-0">
                            <span tabindex="0" aria-label="I agree to the terms & conditions">I agree to the terms
                                & conditions</span>
                        </p>
                    </div>
                </div>
                <div class="col-12 padding-bottom-small">
                    <div class="inset-divider-4px"></div>
                </div>

            </div>
            <div class="row padding-top-large">
                <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
                    <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-md-0">
                        <button class="btn-tab PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left"
                            appButtonripple routerLink="/OdfConfirmation" routerLinkActive="active" tabindex="0"
                            aria-label="Agree and submit">Agree and
                            submit</button>
                    </div>
                    <div class="col-12 col-md-6 float-md-left pl-md-0 padding-bottom-medium">
                        <button
                            class="btn-tab SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right"
                            appButtonripple tabindex="0" aria-label="Cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-container" id="effectiveDatePage">
            <div class="dialog animation-out" [ngClass]="{'animation-in':visible}" id="editEffectiveModal" (keydown)="backTabEvent($event,'editEffectiveModal','editModalContinueBtn')" (keydown.escape)="close()" tabindex="-1">
                <div
                    class="row no-margin text-center padding-bottom-xsmall-xs padding-bottom-xsmall-sm padding-bottom-small padding-horizontal-medium">
                    <div mat-dialog-title class="col-12 no-padding black Display3">
                        <span tabindex="0" aria-label="Effective date" id="effectiveDateTitle">Effective date</span></div>
                </div>
                <div class="row no-margin padding-top-small padding-horizontal-medium"
                    *ngFor="let effectiveDate of effectiveDates">
                    <div class="col-12 no-padding">
                        <span [tabindex]="visible ? 0: -1" 
                        [attr.aria-label]="'click to select the radiobutton ' + effectiveDate.descTitle" (change)="radioChange(effectiveDate.id)" (keydown.enter)="radioChange(effectiveDate.id)">
                        <div class="pull-left">
                            <div class="body radio-container mt-1">
                                <input class="pr-1" type="radio" id="{{effectiveDate.id}}" name="effective"
                                    [checked]="effectiveDate.descTitle == selectedValue"
                                     tabindex="-1"
                                    >
                                <label for={{effectiveDate.id}}></label>
                                <div class="check"></div>
                            </div>

                        </div>
                        <div class="col-10 pull-left pt-1 pt-md-0 padding-horizontal-xsmall pr-0">
                            <div class="Display6 black mb-0 pull-left" tabindex="-1"
                                >{{effectiveDate.descTitle}}</div>
                        </div>
                        </span>
                    </div>
                </div>
                <div
                    class="row no-margin padding-top-xxxl-xs padding-top-xxxl-sm padding-top-large  text-center padding-horizontal-xsmall">
                    <div class="col-12 no-padding">
                        <button class="PrimaryCTA-accent pull-right ml-2" appButtonripple (click)="select()"
                            [attr.tabindex]="visible ? 0: -1" aria-label="Select">Select</button>
                        <button class="SecondaryCTA-accent blackCTA pull-right" appButtonripple
                            (click)="close()" [attr.tabindex]="visible ? 0: -1" aria-label="Cancel" id="editModalContinueBtn">Cancel</button>

                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="visible" class="overlay" (click)="close()"
            [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
</div>
