<div class="TMO-PAY-YOUR-BILL-ADD-PAY">
  <div class=" container">
    <div class = "main-content">
    <app-header></app-header>
   
      <div class="row padding-top-large-xs padding-top-xl">
        <div class="col-12 text-center">
          <span class="Display3">Pay your bill</span>
        </div>
      </div> 
         <div class="row  padding-top-small">
          <p class="col-12 text-center body-bold black mb-0">{{paymentdue}} due on {{duedate}}</p>
        </div>
        <div class="row">
            <p class="col-12 text-center body  mb-0 padding-bottom-large padding-top-base">
              Last payment {{paymentamount}}  on {{Paymentdate}}</p>
          </div>
         
          <div class="row"  *ngFor="let val of paybillvalues">
            <div class="col-12 col-md-10 offset-md-1">
              <paymentblade [title]="val.descTitle" [titleClass]="'Display6'"[card]="val.value"  [bottomDivider]="val.bottomDivider"></paymentblade>
            </div>
          </div>
          <div class="col-12 col-md-10 offset-md-1 inset-divider"></div>
          <div class="row  padding-top-medium">
            <p class="col-12 col-md-10 offset-md-1  pull-left body  mb-0 padding-bottom-xl-xs padding-bottom-xxl-sm">Make a <span class="body-link cursor">payment arrangement</span> (pay in installments)</p>
          </div>
          <div class="row  padding-top-xl">
            <p class="col-12 text-center legal black mb-0">By submitting, you agree to <span class="legal-link cursor" routerLink="/termsAndCondition" routerLinkActive="active">Terms and Conditions</span></p>
          </div>
        </div> 
          <div class="row no-padding  padding-top-medium-xs padding-top-medium-sm padding-vertical-xl padding-bottom-large-xs padding-bottom-large-sm">
            <div class="col-12 col-md-8  offset-md-2 text-center  ">
              <div class="col-12 col-md-6  padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
                <button class="PrimaryCTA  full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple disabled>Agree and submit</button>
              </div>
              <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
                <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
              </div>
            </div>
          </div>
        </div>
</div>  