<div class="TMO-LINE-DETAIL-PAGE">
  <div class=" container">
    <div class="row">
      <div class="col-12">
        <div class="col-10 offset-md-1 no-padding padding-vertical-medium-xs padding-vertical-medium-sm padding-vertical-xl Display3">
          Natasha's line
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
      <!--- Title Section Ends -->

      <!--- Plan Section Starts -->
      <div class="col-12">
        <div class="col-10 offset-md-1 no-padding padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm Display5">
          Plan
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 cursor">
        <div class="col-md-10 offset-md-1 no-padding">
          <span class="H6-heading float-left black no-padding padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm">T-Mobile
            <span class="brand-magenta"> One
              <sup class="legal brand-magenta font-10-sm">TM</sup>
            </span>
          </span>
          <span class="float-right Display6 d-inline-flex padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm align-items-center">
            <div class="pr-0 fa-lg">
              <span class="d-inline-block arrow-right"></span>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <!--- Plan Section Ends -->
    <!-- Device and Line usage starts -->
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 Display5 padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium">Device</div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row padding-top-large-xs padding-top-large-sm padding-top-xl padding-bottom-xl-md padding-bottom-xl-lg padding-bottom-xl-xl">
      <div class="col-12 col-md-3 offset-md-1 text-center">
        <img src="{{phoneImg}}" class="phone-icon" />
      </div>
      <div class="col-12 col-md-7 no-padding pr-md-3 padding-top-medium">
        <div class="body padding-bottom-large-xs padding-bottom-large-sm padding-bottom-small text-center-xs">{{phoneTitle}}</div>
        <div *ngFor="let detail of deviceDetails1">
          <div class="inset-divider-1px m-r-15-xs m-l-15-xs"></div>
          <div class="row no-margin">
            <div class="col-12 px-md-0 padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium cursor">
              <span class="float-left H6-heading">{{detail.descTitle}}</span>
              <span class="float-right d-inline-flex align-items-center">
                <span class="body-bold black p-l-16 p-r-8">{{detail.value}}</span>
                <span class="legal black m-t-3 p-r-8" *ngIf="detail.unit">{{detail.unit}}</span>
                <div class="pr-0 fa-lg">
                  <span class="d-inline-block arrow-right"></span>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="row d-none d-md-block">
          <div class="col-12">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <div class="row" *ngFor="let val of usage">
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium cursor">
        <img class="signal-icon m-l-20-lg" src="{{signalImg}}" />
        <span class="pl-3 pl-md-3 H6-heading">{{val.title}}</span>
        <span class="float-right d-inline-flex align-items-center">
          <span class="pl-2 pl-md-3 body-bold black">{{val.val1}}</span>
          <span class="legal black m-t-3">{{val.unit1}}</span>
          <span class="pl-2 pl-md-3 body-bold black">{{val.val2}}</span>
          <span class="legal black m-t-3">{{val.unit2}}</span>
          <span class="pl-2 pl-md-3 body-bold black">{{val.val3}}</span>
          <span class="legal black m-t-3 p-r-8">{{val.unit3}}</span>
          <div class="pr-0 fa-lg">
            <span class="d-inline-block arrow-right "></span>
          </div>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <!-- Device and Line usage ends -->
    <!--Equipment financing and active add ons- start : Rajani-->
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <span class="float-left Display5 padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium">{{eqFinancing}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 d-flex align-items-center cursor">
        <div class="col-10 no-padding float-left padding-vertical-small-xs padding-vertical-small-sm py-md-4">
          <p class="H6-heading">{{eqFinancingValues.mnthlyCharges}}</p>
          <p class="body black bold padding-top-xsmall-xs padding-top-xsmall-sm
           padding-top-small d-inline-block  col-12 no-padding">
            {{eqFinancingValues.includes}}</p>
          <ul class="no-margin padding-top-xsmall padding-top-base-xs padding-top-base-sm m-l-li" *ngFor="let val of eqFinancingValues.includeValueList">
            <li class="body">{{val}}</li>
          </ul>
        </div>
        <div class="col-2 no-padding">
          <span class="float-right Display6 d-inline-flex align-items-center">
            <span class="body-bold black p-l-16 p-r-8">$30.00</span>
            <div class="pr-0 fa-lg">
              <span class="arrow-right d-inline-block float-right "></span>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <span class="float-left Display5 padding-vertical-small-xs padding-vertical-small-sm 
        padding-vertical-medium">{{addon}}</span>
      </div>
      <div class="col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row" *ngFor="let val of addonValues">
      <div class="col-12 col-md-10 no-padding offset-md-1 padding-xs">
          <div class="row no-margin">
              <div class="col-12 px-md-0 padding-vertical-small-xs padding-vertical-small-sm padding-vertical-medium cursor">
                <span class="float-left H6-heading">{{val.descTitle}}</span>
                <span class="float-right d-inline-flex align-items-center">
                  <span class="body-bold black p-l-16 p-r-8">{{val.value}}</span>
                  <div class="pr-0 fa-lg">
                    <span class="d-inline-block arrow-right"></span>
                  </div>
                </span>
              </div>
            </div>
        <!--<paymentblade [title]="val.descTitle" [titleClass]="'H6-heading padding-bottom-base-xs padding-bottom-base-sm 
        padding-vertical-xsmall-md padding-vertical-xsmall-lg padding-vertical-xsmall-xl'" [showArrow]=true [invertColor]=true [card]="val.value" [topDivider]="val.topDivider"
          [cardNumberClass]="'body-bold padding-top-base-xs padding-bottom-base-xs padding-top-base-sm
           padding-bottom-base-sm padding-vertical-xsmall-md padding-vertical-xsmall-lg padding-vertical-xsmall-xl'" [bottomDivider]="val.bottomDivider"></paymentblade>-->

      </div>
      <div class="col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 padding-vertical-medium-xs padding-vertical-medium-sm padding-vertical-xl text-center">
        <button class="SecondaryCTA blackCTA full-btn-width" appButtonripple>Manage add-ons</button>
      </div>
      <div class="col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <!--equipment financing and active add ons- end : Rajani -->
    <!-- settings starts -->
    <div class="row">
      <div class="col-12">
        <div class="col-10 offset-md-1 no-padding padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm Display5">Settings</div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="padding-top-medium padding-top-small-xs padding-top-small-sm col-md-10 offset-md-1 d-flex align-items-center cursor outline "
        routerLink='' routerLinkActive="active">
        <div class="col-10 no-padding float-left padding-bottom-medium padding-bottom-small-xs padding-bottom-small-sm">
          <p class="Display6">{{settings.title}}</p>
          <p class="legal padding-top-xsmall col-12 no-padding d-md-none">{{settings.desc}}</p>
          <p class="body padding-top-xsmall col-12 no-padding d-none d-md-block">{{settings.desc}}</p>
        </div>
        <div class="col-2 no-padding pr-0 fa-lg float-right pb-3 pb-md-4">
          <span class="arrow-right d-inline-block float-right"></span>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <!--- Settings Section Ends -->

    <!--- "Do you need help?" Section Starts -->
    <div class="row">
      <div class="col-12">
        <div class="col-10 offset-md-1 no-padding padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm Display5">Do you need help?</div>
      </div>
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-md-10 offset-md-1 cursor">
        <span class="Display6 float-left black padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm">Contact us</span>
        <span class="float-right Display6 d-inline-flex padding-vertical-medium padding-vertical-small-xs padding-vertical-small-sm align-items-center">
          <div class="pr-0 fa-lg">
            <span class="d-inline-block arrow-right"></span>
          </div>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1  p-r-0-xs p-l-0-xs px-md-3 p-b-80">
        <div class="inset-divider-1px "></div>
      </div>
    </div>
    <!--- "Do you need help?" Section Ends -->
  </div>
</div>