@import "src/assets/scss/global-variables.scss";
.TMO-LINE-DETAIL-PAGE {
// Device and Line usage starts
@media  #{$smartphones-sm} {
        .m-r-15-xs
        {
margin-right: 15px;
        }
        .m-l-15-xs
        {
margin-left: 15px;
        }
    }
@media #{$smartphones-xs},
    #{$smartphones-sm} {
       
    .phone-icon{
        //background: url('../../assets/img/line-detail/mobile.png') no-repeat;
        //width: 118px;
        height: 191px;
    }
    .text-center-xs{
        text-align: center;
    }
    .font-10-sm{
        font-size:6px;
    }
    
    }
    /*.arrow-right{
        filter: invert(1);
    }*/
    .m-t-3{
        margin-top:3px;
    }
    .signal-icon{
        width: 13px;
        height: 14px;
        margin-bottom:6px;
    }
    .p-b-80{
        padding-bottom:80px;
    }
    @media #{$alldeviceexceptsmartphone} {
        .no-margin-xs
    {
        margin: 0;
    }
    .font-10-sm {
        font-size: 10px;
    }
    

    .padding-xs {
        padding-left: 15px;
        padding-right: 15px;
    }
    .m-l-20-lg{
        margin-left:20px;
    }
    }
    .bold{
        font-weight: bold;
    }
    .m-l-li{
        margin-left: -16px;
    }
   
}