<div class="TM0-MVP-REVIEW-SELECT-PLAN-PAGE">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-0 Display3 padding-top-large padding-bottom-medium padding-top-xxl-md  padding-top-xxl-lg  padding-top-xxl-xl">Compare Plans</p>
      </div>
      <div class="offset-1 col-10 padding-top-xsmall-sm padding-top-xsmall-xs">
        <div class="col-md-12 px-sm-0 no-padding-xs px-md-4 padding-top-xsmall-xs padding-top-medium-md padding-top-medium-lg padding-top-medium-xl body">Your current plan:</div>
        <div class="col-md-12 px-sm-0 no-padding-xs px-md-4 padding-top-small">
          <span class="eyebrow black text-captalize">{{currentPlanDetails.title}}</span>
        </div>
        <div class="col-md-12 px-sm-0 no-padding-xs px-md-4 padding-top-xsmall">
          <span class="body-bold black">{{currentPlanDetails.subTitle}}</span>
        </div>
        <div class="col-md-12 px-sm-0 no-padding-xs px-md-4 padding-top-xsmall body-link black" *ngIf="!showItems">
          <a (click)="showItems = !showItems">Show More</a>
        </div>
        <div class="col-md-12 px-sm-0 no-padding-xs px-md-4 padding-top-xsmall" *ngIf="showItems">
          <ul class="p-l-16">
            <li *ngFor='let x of currentPlanDetails.data' class="body black">{{x.details}}</li>
          </ul>
        </div>
        <div class="col-md-12 px-sm-0 no-padding-xs px-md-4 body-link black" *ngIf="showItems">
          <a (click)="showItems = !showItems">Show Less</a>
        </div>
      </div>
      <div class="offset-1 col-md-10 padding-top-medium padding-bottom-medium">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 d-inline-flex padding-top-medium">
            <div class="col-1 d-none d-md-block">
              <div class="padding-top-small center-align" (click)="previous()">
                <div class="arrow-left-gray60"></div>
              </div>
            </div>
        <div class="col-12 col-md-10 d-inline-flex swipe-scroll padding-bottom-xxxl-xs padding-bottom-xxxl-sm  ml-2 ml-sm-2 ml-md-0 mr-lg-4 mr-md-3 no-padding"  (scroll)="test()"  >
            <div class="col-11 col-md-5 no-padding slide" *ngFor="let pdetails of planDetails; index as i;" attr.id="div{{i}}"  [ngClass]="{'offset-sm-1 ml-4 ml-sm-4 ml-md-4  ml-lg-5': i>=1}">
                <div class="Rectangle-1" [ngClass]="{'ml-md-2 ml-lg-0 ml-xl-3': i>=1}">
                  <div class="text-center legal-bold brand-magenta padding-top-small"><img src="./assets/img/TmobileOne.png"></div>
                  <div class="eyebrow black text-captalize text-center padding-top-xsmall">{{pdetails.title}}</div>
                  <div class="col-12 padding-top-medium">
                      <div class="inset-divider-1px"></div>
                  </div>
                  <div class="text-center padding-top-small">
                    <span class="H6-heading strike">$180/mo</span>
                    <span class="H6-heading bold">$160/mo</span>
                  </div>
                  <div class="text-center">
                      <span class="legal-bold black">with AutoPay</span>
                  </div>
                  <div class="col-12 padding-top-small">
                      <div class="inset-divider-1px"></div>
                  </div>
                  <div class="padding-top-small offset-xs-1 offset-sm-1 offset-md-0">
                      <ul>
                        <li *ngFor='let x of pdetails.data | slice:0:4 ; index as j;' class="body black">{{x.details}}</li>
                        <li *ngFor='let x of pdetails.data | slice:4:pdetails.length ; index as j;' class="body black" [hidden]="!(hideOrShowListContent[i] === i)">{{x.details}}</li>
                      </ul>
                  </div>
                  <div class="offset-xs-1 offset-sm-1 offset-md-0 col-md-12 px-4 padding-top-xsmall body-link black" [hidden]="hideOrShowListContent[i] === i">
                      <a (click)="show(i)">Show More</a>
                  </div>
                  <div class="offset-xs-1 offset-sm-1 offset-md-0 col-md-12 px-4 padding-top-xsmall body-link black" [hidden]="!(hideOrShowListContent[i] === i)">
                      <a (click)="show(i)">Show Less</a>
                  </div>
                  <div class="col-md-12 pl-6 padding-top-small padding-bottom-medium"> 
                    <button class="BG PrimaryCTA" appButtonripple>Select plan</button> 
                  </div>
                </div>
              </div>
        </div>
        <div class="col-1 d-none d-md-block">
            <div class="padding-top-small center-align" (click)="next()">
              <div class="arrow-right-gray60"></div>
            </div>
          </div>
      </div>
      <div class="offset-1 col-md-10 padding-top-large padding-bottom-large d-none d-md-block">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="bg-gray10 no-margin">
        <div class="col-10 offset-1 px-md-3 pt-5 padding-bottom-xxxl legal">
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur neque dolor, nec mattis ante vestibulum
            in. Curabitur auctor diam enim, vitae feugiat augue venenatis eget. Suspendisse porta feugiat aliquet. Aliquam a
            risus mi. Vestibulum at viverra massa. Ut in nunc quis lorem sollicitudin mollis vitae vitae nunc. Duis tincidunt
            convallis tellus, vel mollis tellus aliquam eget. Quisque ac ipsum quis turpis tristique pharetra. Praesent auctor,
            diam at porttitor vulputate, turpis sapien convallis lectus, non mattis libero elit ac mi. Mauris in sollicitudin
            sem. Phasellus varius blandit arcu, egestas feugiat arcu efficitur sed. Proin quis dapibus lectus. Phasellus fringilla
            sodales massa, sed ullamcorper ante luctus non. Maecenas varius congue augue, eget iaculis erat consequat quis. Nulla
            pellentesque luctus nunc, nec porta lacus pulvinar id. Proin interdum suscipit cursus.</div>
        </div>
      </div>
    </div>
  </div>
</div>