@import "src/assets/scss/global-variables.scss";
.TM0-MVP-REVIEW-SELECT-PLAN-PAGE { 
    .bg-gray10{
        background-color: $gray10;
    }
    .text-captalize{
        text-transform: capitalize;
    }
    .Rectangle-1 {
        width: 100%;
        background-color: white;
        border: 1px solid #efefef;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    .BG {
        width:100% !important;
        height: 45px !important;
        max-width: 100% !important;
     }
    .pl-6{
        padding-left: 6%;
    }
    .bold{
        font-weight: bold;
    }
    .center-align {
        position: absolute;
        top : 210px;
        cursor: pointer;
    }

    .swipe-scroll::-webkit-scrollbar {
        display: none !important;
        } 
    .swipe-scroll  {
        -ms-overflow-style:none;
    }   
    @media (max-width: 767px) {
        .swipe-scroll {
            overflow-x: scroll;
        }
       
    }
    @media (min-width: 768px) {
        .swipe-scroll {
            overflow-x: hidden;
        }
        .slide:first-child
        {
            margin-left:5px;
        }
    }
    ::-webkit-scrollbar {
        display: none;
        }
        .ms-no-scroll {
            -ms-overflow-style: none;
        }
}
