<div class="TM0-MVP-REVIEW-ADDONS-PAGE">
  <div class="container">
    <div class="position-content">
      <div class="row">
        <div class="col-12 text-center">
          <p class="mb-0 Display3 padding-top-large padding-bottom-medium padding-top-xxl-md  padding-top-xxl-lg  padding-top-xxl-xl">Add-On Details</p>
        </div>
        <div class="col-10 offset-1 col-md-10 offset-md-1 body padding-bottom-xsmall-sm padding-bottom-xsmall-xs text-center">
          Here's how the cost breaks down for your add-ons
        </div>
      </div>
      <app-plan-comparision-reviews [reviewDetails]="planDetails"> </app-plan-comparision-reviews>
      </div>
      <div class="row" *ngFor="let total of total">
        <div class="col-12 col-md-10 offset-md-1 padding-top-small" *ngIf="total.title!=''">
          <span class="Display5 float-left">{{total.title.name}}</span>
          <span class="body black float-right" [ngClass]="{'strike':!total.title.applicable}">{{total.title.price}}</span>
        </div>
        <div class="col-12  col-md-10 offset-md-1 padding-top-medium p-l-0-xs p-l-0-sm p-r-0-xs p-r-0-sm">
          <div class="full-bleed-divider"></div>
        </div>
      </div>
      <div class="row" *ngFor="let val of applicableArray">
        <div class="col-12 col-md-10 offset-md-1 padding-top-medium padding-bottom-medium" *ngIf="val.title!=''">
          <span class="H6-heading float-left">{{val.title}}</span>
        </div>
        <div class="col-12 col-md-10 offset-md-1" *ngFor="let data of val['data']">
          <span class="body float-left" [ngClass]="{'strike':!data.applicable}">{{data.name}}</span>
          <span class="body float-right" [ngClass]="{'strike':!data.applicable}">{{data.price}}</span>
        </div>
      </div>
      <div class="row">
      <div class="col-12 col-md-10 offset-md-1  text-center padding-top-xxl padding-bottom-xxxl">
        <div class="col-12 col-md-12 no-padding">
          <button class="SecondaryCTA blackCTA full-btn-width btn-wd" appButtonripple>Go back to review summary</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-gray10 no-margin">
    <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 no-padding px-md-3 pt-5 padding-bottom-xxxl legal">
      <div class="mx-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur neque dolor, nec mattis ante vestibulum
        in. Curabitur auctor diam enim, vitae feugiat augue venenatis eget. Suspendisse porta feugiat aliquet. Aliquam a
        risus mi. Vestibulum at viverra massa. Ut in nunc quis lorem sollicitudin mollis vitae vitae nunc. Duis tincidunt
        convallis tellus, vel mollis tellus aliquam eget. Quisque ac ipsum quis turpis tristique pharetra. Praesent auctor,
        diam at porttitor vulputate, turpis sapien convallis lectus, non mattis libero elit ac mi. Mauris in sollicitudin
        sem. Phasellus varius blandit arcu, egestas feugiat arcu efficitur sed. Proin quis dapibus lectus. Phasellus fringilla
        sodales massa, sed ullamcorper ante luctus non. Maecenas varius congue augue, eget iaculis erat consequat quis. Nulla
        pellentesque luctus nunc, nec porta lacus pulvinar id. Proin interdum suscipit cursus.</div>
    </div>
  </div>
</div>