@import "src/assets/scss/global-variables.scss";
.TM0-MVP-REVIEW-ADDONS-PAGE { 
    .bg-gray10{
        background-color: $gray10;
    }
    .pb-88{
        padding-bottom: 88px;
    }
    @media #{$alldeviceexceptsmartphone}{
        .btn-wd{
            width:288px;
        }
    }
}