@import "src/assets/scss/global-variables.scss";
.TMO-STYLEGUIDE-SLIDER{
    .slidecontainer
    {
        width: 100%;
        display: inline-block;
        position:relative;
        outline: none;
    }
     .slider {
        z-index:0;
      
    }
    .slidecontainer .slider:disabled::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
    }
    .slidecontainer .slider:disabled::-moz-range-thumb{
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        box-shadow: none !important;
    }
    .slidecontainer .slider:disabled::-ms-thumb{
        -webkit-appearance: none;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        box-shadow: none !important;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 50px;
    
        border: none;
        border-radius: 3px;
    }
    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
       height: 3px;
        border-radius: 10px;
        background: transparent;
       outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, $brand-magenta),
            color-stop(0, #C5C5C5)
        );
    }
  /* Chrome Style Starts */
  input[type=range]:disabled::-webkit-slider-thumb  {
  
        &:hover {
     width: 20px !important;
      height:20px !important;
      box-shadow:none;
      
        }
        &:focus{
           box-shadow: none;
           width: 20px !important;
           height: 20px !important;
          }
          &:active{
            box-shadow: none;
            width: 20px !important;
            height: 20px !important;
          }
        
     }
    
 
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top:13px;
        background: $brand-magenta;
        cursor: pointer;
        position: relative;
        z-index: 99999;
        padding-left: 15px;
        &:hover {
            width:23px;
            height:23px;
            border-radius: 50%;
            z-index: 999999;
            box-shadow: 0px 0px 5px 10px #CCC;
        }
        &:focus{
            width:23px;
            height:23px;
            border-radius: 50%;
            box-shadow: 0px 0px 5px 10px #CCC;
        }
        &:active{
            width:23px;
           height:23px;
           border-radius: 50%;
           box-shadow: 0px 0px 5px 10px #CCC;
        }
        &:disabled{
            width:15px;
            height:15px;
            border-radius: 50%;
            cursor: not-allowed;
            background: #c5c5c5 !important;
        }
    }
/* Chrome Style Ends */

/* Firefox Style Starts */
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 170px;
      cursor: pointer;
      animation: 0.2s;
      background: transparent;
      border-color: transparent;
      border-width: 39px 0;
      color: transparent;
      outline: 10px solid transparent;
     
  }
  input[type=range]:disabled::-moz-range-thumb {
    width: 13px;
    height: 13px;
           &:hover {
        width: 13px;
    height: 13px;
      box-shadow: none;
    }
    &:focus{
        width: 13px;
        height: 13px;
        box-shadow: none;
       }
       &:active{
        width: 13px;
    height: 13px;
         box-shadow: none;
       }
     
 }
  input[type=range]::-moz-range-thumb {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $brand-magenta;
      cursor: pointer;
      border: none;
      position: relative;
      outline:none;
       
          &:hover {
          width:23px;
          height:23px;
          border-radius: 50%;
          box-shadow: 0px 0px 5px 10px #CCC;
      }
      &:focus{
          width:23px;
          height:23px;
          border-radius: 50%;
           box-shadow: 0px 0px 5px 10px #CCC;
      }
      &:active{
          width:23px;
          height:23px;
          border-radius: 50%;
          box-shadow: 0px 0px 5px 10px #CCC;
      }
      
  }      
/* Firefox Style Ends */ 

/* IE Style Starts */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  input[type=range] {
    height: 131px;
    top : 25px;
    background-image: none;
    }
    input[type=range]::-ms-track {
     cursor: pointer;
    animation: 0.2s;
    background: none;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
   padding-left: 1%;
   padding-right: 1%;
    width:98%;
    }
    
    input[type=range]::-ms-tooltip {
    display: none;
    }
  
    output {
    bottom:78% !important;
    }
    input[type=range]:disabled::-ms-thumb {
        width: 13px;
        height: 13px;
        &:hover {
     width: 13px !important;
      height: 13px !important;
      box-shadow:none;
      
        }
        &:focus{
           box-shadow: none;
           width: 13px !important;
           height: 13px !important;
          }
          &:active{
            box-shadow: none;
            width: 13px !important;
            height: 13px !important;
          }
        
     }
    input[type=range]::-ms-thumb {
      border: none;
      width: 16px;
      height: 16px;
      border-radius: 50% !important;
      z-index: 999999999;
      margin-left:5px;
      margin-right:5px;
      background: $brand-magenta;
      position: relative;
      &:hover {
        width: 19px !important;
        height: 19px !important;
      border-radius: 50%;
      box-shadow: 0px 0px 5px 5px #CCC;
      }
      &:focus{
        width: 19px !important;
        height: 19px !important;
      border-radius: 50%;
      box-shadow: 0px 0px 5px 5px #CCC;
      }
      &:active{
        width: 19px !important;
        height: 19px !important;
      border-radius: 50%;
      box-shadow: 0px 0px 5px 5px #CCC;
      }
    }
  }
  input[type=range]::-ms-fill-lower {
  background: $brand-magenta;
  border-radius: 10px !important;
  }
  input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px !important;
  }
  /* IE Style Ends */

/* Edge Style Starts */
  @supports (-ms-ime-align:auto){

    input[type=range] {
    height: 83px;
    top : 25px;
    background-image: none;
    }
    input[type=range]::-ms-track {
    cursor: pointer;
    animation: 0.2s;
    background: none;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
    padding-left: 1%;
   padding-right: 1%;
    width:98%;
    }
    
    input[type=range]::-ms-tooltip {
    display: none;
    }
  
    output {
    bottom:97% !important;
    }
  
    input[type=range]:disabled::-ms-thumb {
        width: 0px !important;
        height: 15px !important;
        &:hover {
            width: 0px !important;
        height: 15px !important;
            box-shadow: none;
        }
        &:focus{
           box-shadow: none;
           width: 0px !important;
           height: 15px !important;
          }
          &:active{
            box-shadow: none;
            width: 0px !important;
            height: 15px !important;
          }
        
     }
    input[type=range]::-ms-thumb {
    border: none;
    width: 2px !important;
    height: 16px !important;
    border-radius: 50% !important;
    z-index: 999999999;
    margin-left:5px;
    margin-right:5px;
    background: $brand-magenta;
    position: relative;
    &:hover {
    width:2px  !important;
    height:18px  !important;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #CCC;
    }
    &:focus{
      width:2px  !important;
      height:18px  !important;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #CCC;
    }
    &:active{
      widows: 2px  !important;
    height:18px  !important;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #CCC;
    }
  }
    } 

  /* Edge Style Ends */  
    .disable1{
              input[type=range]::-moz-range-thumb {
            background: $white !important;
            border: 2px solid #d6d6d6 !important;
        }
        input[type=range]::-ms-thumb  {
            background: $white !important;
            border: 2px solid #d6d6d6 !important;
        }
        input[type=range]::-webkit-slider-thumb {
            background: $white !important;
            border: 2px solid #d6d6d6 !important;
        }
        output{ 
            background: linear-gradient(#d6d6d6, #d6d6d6)
        }
        output:after { 
            border-top: 7px solid #d6d6d6 !important;
        }
        }
    .disable2{
        input[type=range]::-webkit-slider-thumb,input[type=range]::-moz-range-thumb, input[type=range]::-ms-thumb  {
        background: $brand-magenta!important;
        }
        output{ 
            background: linear-gradient($brand-magenta, $brand-magenta);
        }
        output:after { 
            border-top: 7px solid $brand-magenta !important;
        }
        }    
        #range1:focus {
            outline: none !important;
        }

 
    input[type=range]::-moz-focus-outer {
        border: 0;
    }
    input[type=range]::-ms-tooltip {
        display: none;
    } 

    input[type=range]:focus {
        outline: none;
    }
   
output { 
    position: absolute;
    //background-image: linear-gradient($brand-magenta, $brand-magenta);
    width: 27px;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 60%;
    display: inline-block;
    bottom: 170%;
    margin-left: -1%;
    padding-top: 5px;
    font-size: 12px;
  }
  output:after { 
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 7px solid $brand-magenta;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 97%;
    left: 43%;
    margin-left: -5px;
    margin-top: -1px;
  }
  input[type=range] + output{
   transform: translateX(-50%);
  }
  input[type=range]:active + output{
    transform: translateX(-50%);
  }


input[type=range]:before{
    box-shadow : none !important;
    background-color:transparent !important;
} 
input[type=range]::-ms-tooltip {
    display: none;
}   

 
 

}