<div class="TMO-STYLEGUIDE-SLIDER">
  
        <div class="row no-margin pt-5" *ngIf="continuous && !disabled">
            <div class="col-12 pb-5 no-padding">
                <div class="slidecontainer " [ngClass]="{'disable1':bgcolor,'disable2':!bgcolor}">
                    <input type="range" min="0" max="100" value="0" class="sliderange myRange" [(ngModel)]="rangeValuePicked" (ngModelChange)="slideChange(this)">
                </div>
            </div>
            <p class="col-12 no-padding">Value:
                <span class="rangeVal">{{rangeValuePicked}}</span>
            </p>
        </div>
        <div class="row no-margin pt-5" *ngIf="!continuous && !disabled">
            <div class="col-12 no-padding">
                    <div class="slidecontainer " [ngClass]="{'disable1':bgcolor,'disable2':!bgcolor}">
                        <input type="range" name="slider1" min="0" max="100" value="0" data-thumbwidth="20" [(ngModel)]="rangeValue" class="sliderange myRange2" id="range1" (ngModelChange)="slideChange1(this)" >
                        <output for="slider1" id="range1output" class="rangeIndicator" [style.left]="left" [style.marginLeft]="marginLeft">{{rangeValue}}</output>
                    </div>
            </div>
        </div>
        <div class="row no-margin pt-5" *ngIf="disabled">
                <div class="col-12 no-padding">
                        <div class="slidecontainer disable1">
                            <input type="range" name="slider1" min="0" max="100" value="0" class="sliderange myRange2" id="range" [disabled]="sliderDisabled" disabled>
                        </div>
                </div>
        </div>
    </div>

