@import "src/assets/scss/global-variables.scss";
.TMO-COVERAGE-DEVICE-VERIFY-ADDRESS-MODAL{
    .content-width{
    @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
        width: 300px;
    }
    @media #{$smartphones-xs},#{$smartphones-sm}{
        width: 100%;
    }
   }
   @media only screen and (max-height: 414px) and (orientation: landscape){
    .modal_landscapeht {
        max-height: 270px !important;
        overflow-x: hidden;
         overflow-y: auto;
         }

      }
}