<div class="TMO-HOME-NEW">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 no-padding">
        <p class="pb-2 pt-3 text-center">
          <a class="body-link brand-magenta bold" routerLink="/home" routerLinkActive="active">Home (Old Version)</a>
        </p>
        <div class="col-12 col-md-6 offset-md-3">
          <p class="body-bold black pb-1">Select Page</p>
          <div tabindex=0 class="d-inline-block dropdown" id="id0" appDropdown dropdownid="id0" style="width: 100%;">
            <div id="model" class="dropdown-toggle">
              <span href="" class="body black pull-left" ng-model="selectedVal">{{selectedVal}}</span>
              <span class="arrow-down pull-right d-inline-block mr-1 mt-1"></span>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="model">
              <li role="menuitem" class="dropdown-option  mx-1 mt-1" *ngFor="let name of  pageNames" [ngClass]="{'active':name.name === selectedVal}"
                (click)="select(name.name)">
                <a> {{name.name | uppercase}} </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-12 offset-md-0 pt-5 no-padding pb-5 d-flex-md justify-content-center">
        <div *ngIf="showStyleGuide">
          <ul>
            <li>
              <a class="home-link" routerLink="/Button" routerLinkActive="active">Buttons</a>
            </li>
            <li>
              <a class="home-link" routerLink="/colors" routerLinkActive="active">Colors</a>
            </li>
            <li>
              <a class="home-link" routerLink="/datepicker" routerLinkActive="active">Date pickers</a>
            </li>
            <li>
              <a class="home-link" routerLink="/datepickerNewModal" routerLinkActive="active">Date picker new modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/datepickerFullScreen" routerLinkActive="active">Date picker full screen</a>
            </li>
            <li>
              <a class="home-link" routerLink="/modal" routerLinkActive="active">Dialog Boxes - Modals</a>
            </li>
            <li>
              <a class="home-link" routerLink="/tooltip" routerLinkActive="active">Dialog Boxes - Tooltips</a>
            </li>
            <li>
              <a class="home-link" routerLink="/Divider" routerLinkActive="active">Dividers</a>
            </li>
            <li>
              <a class="home-link" routerLink="/fliters" routerLinkActive="active">Filters</a>
            </li>
            <li>
              <a class="home-link" routerLink="/dropdown" routerLinkActive="active">Forms - Dropdowns</a>
            </li>
            <li>
              <a class="home-link" routerLink="/Inputfields" routerLinkActive="active">Forms - Text Fields</a>
            </li>
            <li>
              <a class="home-link" routerLink="/Iconography" routerLinkActive="active">Iconography</a>
            </li>
            <li>
              <a class="home-link" routerLink="/listDynamic" routerLinkActive="active">List - Expanding</a>
            </li>
            <li>
              <a class="home-link" routerLink="/listStatic" routerLinkActive="active">List - Static</a>
            </li>
            <li>
              <a class="home-link" routerLink="/pagination" routerLinkActive="active">Pagination</a>
            </li> 
            <li>
              <a class="home-link" routerLink="/progressBar" routerLinkActive="active">Progress Bar</a>
            </li>
            <li>
              <a class="home-link" routerLink="/Search" routerLinkActive="active">Search</a>
            </li>
            <li>
              <a class="home-link" routerLink="/selectionControl" routerLinkActive="active">Selection Control - Switches</a>
            </li>
            <li>
              <a class="home-link" routerLink="/slider" routerLinkActive="active">Slider</a>
            </li>
            <li>
              <a class="home-link" routerLink="/Spacer" routerLinkActive="active">Spacers</a>
            </li>
            <li>
              <a class="home-link" routerLink="/spinner" routerLinkActive="active">spinner</a>
            </li>
            <li>
              <a class="home-link" routerLink="/tabs" routerLinkActive="active">Tabs</a>
            </li>
            <li>
              <a class="home-link" routerLink="/tables" routerLinkActive="active">Tables</a>
            </li>
            <li>
              <a class="home-link" routerLink="/Typography" routerLinkActive="active">Typography</a>
            </li>
           
            <!--<li>
              <a class="home-link" routerLink="/Breadcrumb" routerLinkActive="active">Breadcrumb</a>
            </li>-->
          </ul>
        </div>
        <div *ngIf="showStyleGuideAlerts">
          <ul>
            <li>
              <a class="home-link" routerLink="/alertsCriticalNavigation" routerLinkActive="active">Alert Critical: Navigation to Page Anchor </a>
            </li>
            <li>
              <a class="home-link" routerLink="/alertsCriticalClose" routerLinkActive="active">Alert Critical: Close</a>
            </li>
            <li>
              <a class="home-link" routerLink="/alertsWarningNavigation" routerLinkActive="active">Alert Warning: Navigation to Page</a>
            </li>
            <li>
              <a class="home-link" routerLink="/alertsWarningClose" routerLinkActive="active">Alert Warning: Close</a>
            </li>
            <li>
              <a class="home-link" routerLink="/alertsAndNotification" routerLinkActive="active">Alert Customization: Yellow Caret, More Data, Resolve</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showODF">
          <ul>
            <li>
              <a class="home-link" routerLink="/confirmationPayment" routerLinkActive="active">Confirmation Payment</a>
            </li>
            <li>
              <a class="home-link" routerLink="/ReviewPayment" routerLinkActive="active">Review Payment</a>
            </li>
            <li>
              <a class="home-link" routerLink="/ReviewNoPayment" routerLinkActive="active">Review No Payment</a>
            </li>
            <li>
              <a class="home-link" routerLink="/ConflictModal" routerLinkActive="active">Conflict Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/TaxModal" routerLinkActive="active">Tax Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/upgradeServices" routerLinkActive="active">Upgrade Your Services</a>
            </li>
            <li>
              <a class="home-link" routerLink="/upgradeServicesError" routerLinkActive="active">Upgrade Your Services: Error</a>
            </li>
            <li>
              <a class="home-link" routerLink="/termsAndCondition" routerLinkActive="active">Terms and Conditions</a>
            </li>
            <li>
              <a class="home-link" routerLink="/ServiceAgreement" routerLinkActive="active">Service Agreement</a>
            </li>
            <li>
              <a class="home-link" routerLink="/ElectronicSignatureTerms" routerLinkActive="active">Electronic Signature Terms</a>
            </li>
            <li>
              <a class="home-link" routerLink="/errorPage" routerLinkActive="active">Error Page</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showODFAddons">
          <ul>
            <li>
              <a class="home-link" routerLink="/Odflanding" routerLinkActive="active">ODF Landing Page</a>
            </li>
            <li>
              <a class="home-link" routerLink="/OdfReviwPayment" routerLinkActive="active">ODF Review payment</a>
            </li>
            <li>
              <a class="home-link" routerLink="/OdfConfirmation" routerLinkActive="active">ODF Confirmation Page</a>
            </li>
            <li>
              <a class="home-link" routerLink="/HeadlineModal" routerLinkActive="active">Headline Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/MultilineModal" routerLinkActive="active">Multiline Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/EmptyModal" routerLinkActive="active">Empty Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/OdfConfirmationBearmode" routerLinkActive="active">Odf Confirmation Bearmode</a>
            </li>
            <li>
              <a class="home-link" routerLink="/OdflandingNew" routerLinkActive="active">ODF Landing New Page</a>
            </li>
            <li>
              <a class="home-link" routerLink="/OdfReviewPaymentNew" routerLinkActive="active">ODF Review payment New</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showFamilyAllowance">
          <ul>
            <li>
              <a class="home-link" routerLink="/Benefit" routerLinkActive="active">Benefit</a>
            </li>
            <li>
              <a class="home-link" routerLink="/NetflixModal" routerLinkActive="active">Netflix modal</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showOTPpart1">
          <ul>
            <li>
              <a class="home-link" routerLink="/payYourBill" routerLinkActive="active">Pay Your Bill</a>
            </li>
            <li>
              <a class="home-link" routerLink="/payYourBillAddPay" routerLinkActive="active">Pay Your Bill - Add Pay</a>
            </li>
          
            <li>
              <a class="home-link" routerLink="/cvvModal" routerLinkActive="active">CVV Modal all others</a>
            </li>
            <li>
              <a class="home-link" routerLink="/ReplacecardModal" routerLinkActive="active">Replace Card Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/bankModal" routerLinkActive="active">Bank Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/Confirmation" routerLinkActive="active">Confirmation page</a>
            </li>
            <li>
              <a class="home-link" routerLink="/Confirmationpitch" routerLinkActive="active">Confirmation pitch page</a>
            </li>
            <li>
              <a class="home-link" routerLink="/editPaymentMethod" routerLinkActive="active">Edit Payment Method</a>
            </li>
            <li>
              <a class="home-link" routerLink="/editAmount" routerLinkActive="active">Edit Amount</a>
            </li>
            <li>
              <a class="home-link" routerLink="/error1" routerLinkActive="active">Error 1</a>
            </li>
            <li>
              <a class="home-link" routerLink="/blade" routerLinkActive="active">Payment blade_01</a>
            </li>
            <li>
              <a class="home-link" routerLink="/blade02" routerLinkActive="active">Payment blade_02</a>
            </li>
            <li>
              <a class="home-link" routerLink="/creditCardUpdated" routerLinkActive="active">Card Information Updated</a>
            </li>
            <li>
              <a class="home-link" routerLink="/bankInformationUpdated" routerLinkActive="active">Bank Information Updated</a>
            </li>
            <li>
              <a class="home-link" routerLink="/OTPTermsAndConditions" routerLinkActive="active">OTP Terms And Conditions</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showOTPpart2">
          <ul>

            <!-- <li>
              <a class="home-link" routerLink="/OTPModal1" routerLinkActive="active">OTPModal1</a>
            </li> -->
            <li>
              <a class="home-link" routerLink="/cvvModalAmex" routerLinkActive="active">CVV Modal Amex</a>
            </li>
            <li>
              <a class="home-link" routerLink="/DeleteCard" routerLinkActive="active"> Delete Card Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/DeleteBank" routerLinkActive="active"> Delete Bank Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/editPaymentMethodDisable" routerLinkActive="active">Edit Payment Method Disable</a>
            </li>
            <li>
              <a class="home-link" routerLink="/editAmountAlt" routerLinkActive="active">Edit Amount Alternate</a>
            </li>
            <li>
              <a class="home-link" routerLink="/otpbreakdown" routerLinkActive="active">OTP Breakdown Modal</a>
            </li>
           <!--<li>
              <a class="home-link" routerLink="/otpModal" routerLinkActive="active">OTP Modal</a>
            </li> -->
            <li>
              <a class="home-link" routerLink="/creditCardWithAddress" routerLinkActive="active">Credit Card-With Address</a>
            </li>
            <li>
              <a class="home-link" routerLink="/error2" routerLinkActive="active">OTP Error2</a>
            </li>
            <li>
              <a class="home-link" routerLink="/OtpPaEdit" routerLinkActive="active">OTP PA Edit Method</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showSSU">
          <ul>
            <li>
              <a class="home-link" routerLink="/shopPage" routerLinkActive="active">Shop Page</a>
            </li>
            <li>
              <a class="home-link" routerLink="/shopPageUpdated" routerLinkActive="active">Shop Page Updated</a>
            </li>
            <li>
              <a class="home-link" routerLink="/shopPageSwapBannerContent" routerLinkActive="active">Shop Page - Desktop: FG - Left</a>
            </li>
            <li>
              <a class="home-link" routerLink="/ShopPageSwapBannerContentInMobile" routerLinkActive="active">Shop Page - Mobile: FG - Bottom</a>
            </li>
            <li>
              <a class="home-link" routerLink="/shopPageCenterBannerContent" routerLinkActive="active">Shop Page - Banner Content Center</a>
            </li>
            <li>
              <a class="home-link" routerLink="/shopPageFgImage" routerLinkActive="active">Shop Page - FG - Transparent</a>
            </li>
            <li>
              <a class="home-link" routerLink="/shopPageModal" routerLinkActive="active">Shop Page Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/OrderStatus" routerLinkActive="active">Order Status</a>
            </li>
            <li>
              <a class="home-link" routerLink="/DeleteCard" routerLinkActive="active"> Delete Card Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/shopTermsConditions" routerLinkActive="active">Terms & Conditions</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showPDE">
          <ul>
            <li>
              <a class="home-link" routerLink="/myPromotions" routerLinkActive="active">My Promotions</a>
            </li>
            <li>
              <a class="home-link" routerLink="/OfferModel1" routerLinkActive="active">Offer Modal1</a>
            </li>
            <li>
              <a class="home-link" routerLink="/OfferModel" routerLinkActive="active">Offer Modal2</a>
            </li>
            <li>
              <a class="home-link" routerLink="/termsAndCondition" routerLinkActive="active">Terms and Conditions</a>
            </li>
            <li>
              <a class="home-link" routerLink="/PromotionNoPending" routerLinkActive="active">My-Promotions-No-Pending</a>
            </li>
            <li>
              <a class="home-link" routerLink="/PromotionPending" routerLinkActive="active">My-Promotions-Pending</a>
            </li>
            <li>
              <a class="home-link" routerLink="/PastPromotions" routerLinkActive="active">Past Promotions</a>
            </li>
            <li>
              <a class="home-link" routerLink="/PromotionsDetails" routerLinkActive="active">Promotions Details</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showErrorHandling">
          <ul>
            <li>
              <a class="home-link" routerLink="/SystemError" routerLinkActive="active">System Error</a>
            </li>
            <li>
              <a class="home-link" routerLink="/PaymentDeclined" routerLinkActive="active">Payment Declined</a>
            </li>
            <li>
              <a class="home-link" routerLink="/ErrorState" routerLinkActive="active">Error State Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/ServerError" routerLinkActive="active">Server Error</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showAccountHistory">
          <ul>
            <li>
              <a class="home-link" routerLink="/currentActivity" routerLinkActive="active">Current Activity</a>
            </li>
            <li>
              <a class="home-link" routerLink="/conversationHistory" routerLinkActive="active">Conversation History</a>
            </li>
            <li>
              <a class="home-link" routerLink="/BillHistory" routerLinkActive="active">Bill History</a>
            </li>
            <li>
              <a class="home-link" routerLink="/PaymentReceipt" routerLinkActive="active">Payment Receipt</a>
            </li>
            <li>
              <a class="home-link" routerLink="/CancelModal" routerLinkActive="active">Cancel Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/usageOverview" routerLinkActive="active">Usage Overview</a>
            </li>
            <!--<li>
              <a class="home-link" routerLink="/usageDetails1" routerLinkActive="active">Usage Details 1</a>
            </li>-->
            <li>
              <a class="home-link" routerLink="/PaymentHistory" routerLinkActive="active">Payment History</a>
            </li>
            <li>
              <a class="home-link" routerLink="/HistoricalBillsModal" routerLinkActive="active">Historical Bills Modal</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showAccountOverView">
          <ul>
            <li>
              <a class="home-link" routerLink="/landingPage" routerLinkActive="active">Landing Page</a>
            </li>
            <li>
              <a class="home-link" routerLink="/lineDetail" routerLinkActive="active">Line Detail</a>
            </li>
            <li>
              <a class="home-link" routerLink="/lineDetailNew" routerLinkActive="active">Line Detail-New</a>
            </li>
             <li><a class="home-link" routerLink="/planDetails" routerLinkActive="active">Plan Details</a></li>
             <li><a class="home-link" routerLink="/costDetails" routerLinkActive="active">Cost Details</a></li>
             <li><a class="home-link" routerLink="/featureDetails" routerLinkActive="active">Feature Details</a></li>
          </ul>
        </div>
        <div *ngIf="showDeviceUnlock">
            <ul>
                <li>
                  <a class="home-link" routerLink="/UnlockYourDevice" routerLinkActive="active">Unlock Your Device</a>
                </li>
              </ul>
          <ul>
            <li>
              <a class="home-link" routerLink="/StatusUnknown" routerLinkActive="active">Status Unknown</a>
            </li>
          </ul>
          <ul>
            <li>
              <a class="home-link" routerLink="/selectline" routerLinkActive="active">Select a Line</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showProfile" class="d-flex-md">
          <ul>
            <li>
              <a class="home-link" routerLink="/profileHome" routerLinkActive="active">Home Page</a>
            </li>
            <li>
              <a class="home-link" routerLink="/billingAndPayments" routerLinkActive="active">Billing And Payments</a>
            </li>
            <li>
              <a class="home-link" routerLink="/billingAndPaymentsOn" routerLinkActive="active">Billing And Payments On</a>
            </li>
            <li>
              <a class="home-link" routerLink="/billingAndPaymentsPaperlessBilling" routerLinkActive="active">Billing And Payments - Paperless Billing</a>
            </li>
            <li>
              <a class="home-link" routerLink="/tMobileID" routerLinkActive="active">T-Mobile ID</a>
            </li>
            <li>
              <a class="home-link" routerLink="/tMobileIDNickname" routerLinkActive="active">T-Mobile ID - Nickname</a>
            </li>
            <li>
              <a class="home-link" routerLink="/mediaSettings" routerLinkActive="active">Media Settings</a>
            </li>
            <li>
              <a class="home-link" routerLink="/lineSettings" routerLinkActive="active">Line Settings</a>
            </li>
            <li>
              <a class="home-link" routerLink="/lineSettingsNickname" routerLinkActive="active">Line Settings Nickname</a>
            </li>
            <li>
              <a class="home-link" routerLink="/lineSettingsSelectLine" routerLinkActive="active">Line Settings SelectLine</a>
            </li>
            <li>
              <a class="home-link" routerLink="/lineSettingsLineChanged" routerLinkActive="active">Line Settings Permissions</a>
            </li>
            <li>
              <a class="home-link" routerLink="/blocking" routerLinkActive="active">Blocking</a>
            </li>
            <li>
              <a class="home-link" routerLink="/privacyNotification" routerLinkActive="active">Privacy And Notification</a>
            </li>
            <li>
              <a class="home-link" routerLink="/privacyNotificationMarketingCommunications" routerLinkActive="active">Privacy And Notification - Marketing Communications</a>
            </li>
            <li>
              <a class="home-link" routerLink="/privacyNotificationNotifications" routerLinkActive="active">Privacy And Notification - Notifications</a>
            </li>
            <li>
              <a class="home-link" routerLink="/privacyNotificationAdvertising" routerLinkActive="active">Privacy And Notification - Advertising</a>
            </li>
            <li>
              <a class="home-link" routerLink="/privacyNotificationInterestBasedAds" routerLinkActive="active">Privacy And Notification - InterestBased Ads</a>
            </li>
          </ul>
          <ul class="ml-md-4">
            <li>
              <a class="home-link" routerLink="/multipleDevices" routerLinkActive="active">Multiple Devices</a>
            </li>
            <li>
              <a class="home-link" routerLink="/employeeDesignationCurrentLines" routerLinkActive="active">EmployeeDesignation - CurrentLines</a>
            </li>
            <li>
              <a class="home-link" routerLink="/employeeDesignationEdit" routerLinkActive="active">EmployeeDesignation - Edit</a>
            </li>
            <li>
              <a class="home-link" routerLink="/coverageDevice" routerLinkActive="active">Coverage Device</a>
            </li>
            <li>
              <a class="home-link" routerLink="/coverageDeviceDeviceAddress" routerLinkActive="active">Coverage Device - Device Address</a>
            </li>
            <li>
              <a class="home-link" routerLink="/coverageDeviceAssignedNumber" routerLinkActive="active">Coverage Device - Assigned Number</a>
            </li>
            <li>
              <a class="home-link" routerLink="/familyControl" routerLinkActive="active">Family Controls</a>
            </li>
            <li>
              <a class="home-link" routerLink="/familyControlWebGaurd" routerLinkActive="active">Family Controls - Web Guards</a>
            </li>
            <li>
              <a class="home-link" routerLink="/familyControlFamilyAllowances" routerLinkActive="active">Family Controls - Family Allowances</a>
            </li>
            <li>
              <a class="home-link" routerLink="/coverageDeviceVerifyAddress" routerLinkActive="active">Coverage Device - VerifyAddress</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showProfileNew" class="d-flex-md">
          <ul>
            <li>
              <a class="home-link" routerLink="/profileNewHome" routerLinkActive="active">Home Page</a>
            </li>
            <li>
              <a class="home-link" routerLink="/privacyNotificationNew" routerLinkActive="active">Privacy And Notification</a>
            </li>
            <li>
              <a class="home-link" routerLink="/privacyNotificationInterestBasedAdsNew" routerLinkActive="active">Privacy And Notification - InterestBased Ads</a>
            </li>
            <li>
              <a class="home-link" routerLink="/privacyNotificationAdvertisingNew" routerLinkActive="active">Privacy And Notification - Advertising</a>
            </li>
            <li>
              <a class="home-link" routerLink="/privacyNotificationMarketingCommunicationsNew" routerLinkActive="active">Privacy And Notification - Marketing Communications</a>
            </li>
            <li>
              <a class="home-link" routerLink="/privacyNotificationNotificationsNew" routerLinkActive="active">Privacy And Notification - Notifications</a>
            </li>
            <li>
              <a class="home-link" routerLink="/employeeDesignationCurrentLinesNew" routerLinkActive="active">EmployeeDesignation - CurrentLines</a>
            </li>
            <li>
              <a class="home-link" routerLink="/employeeDesignationEditNew" routerLinkActive="active">EmployeeDesignation - Edit</a>
            </li>
            <li>
              <a class="home-link" routerLink="/billingAndPaymentsNew" routerLinkActive="active">Billing And Payments</a>
            </li>
            <li>
              <a class="home-link" routerLink="/billingAndPaymentsOnNew" routerLinkActive="active">Billing And Payments On</a>
            </li>
            <li>
              <a class="home-link" routerLink="/billingAndPaymentsPaperlessBillingNew" routerLinkActive="active">Billing And Payments - Paperless Billing</a>
            </li>
            <li>
              <a class="home-link" routerLink="languageSettings" routerLinkActive="active">Language Settings</a>
            </li>
            <li>
              <a class="home-link" routerLink="/lineSettingsNew" routerLinkActive="active">Line Settings</a>
            </li>
            <li>
              <a class="home-link" routerLink="/lineSettingsNicknameNew" routerLinkActive="active">Line Settings Nickname</a>
            </li>
            <!--<li>
              <a class="home-link" routerLink="/lineSettingsCallerIdNew" routerLinkActive="active">Line Settings CallerId</a>
            </li>-->
            <li>
              <a class="home-link" routerLink="/lineSettingsCallerId" routerLinkActive="active">Line Settings CallerId</a>
            </li>
            <li>
              <a class="home-link" routerLink="/lineSettingsSelectCalleridConfirmation" routerLinkActive="active">Line Settings CallerId Confirmation</a>
            </li>
            <li>
              <a class="home-link" routerLink="/lineSettingsSelectLineNew" routerLinkActive="active">Line Settings SelectLine</a>
            </li>
            <li>
              <a class="home-link" routerLink="/lineSettingsLineChangedNew" routerLinkActive="active">Line Settings Permissions</a>
            </li>
            <li>
              <a class="home-link" routerLink="/blockingNew" routerLinkActive="active">Blocking</a>
            </li>
            <li>
              <a class="home-link" routerLink="/coverageDeviceNew" routerLinkActive="active">Coverage Device</a>
            </li>
            <li>
              <a class="home-link" routerLink="/coverageDeviceDeviceAddressNew" routerLinkActive="active">Coverage Device - Device Address</a>
            </li>
            <li>
              <a class="home-link" routerLink="/coverageDeviceAssignedNumberNew" routerLinkActive="active">Coverage Device - Assigned Number</a>
            </li>
            <li>
              <a class="home-link" routerLink="/coverageDeviceVerifyAddressModalNew" routerLinkActive="active">Coverage Device - Verify Address Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/multipleSettingsNew" routerLinkActive="active">Multiple Settings</a>
            </li>
            <li>
              <a class="home-link" routerLink="/mediaSettingsNew" routerLinkActive="active">Media Settings</a>
            </li>
            <li>
              <a class="home-link" routerLink="/familyControlNew" routerLinkActive="active">Family Controls</a>
            </li>
            <li>
              <a class="home-link" routerLink="/familyControlWebGaurdNew" routerLinkActive="active">Family Controls - Web Guards</a>
            </li>
            <li>
              <a class="home-link" routerLink="/familyControlFamilyAllowancesNew" routerLinkActive="active">Family Controls - Family Allowances</a>
            </li>
            <li>
              <a class="home-link" routerLink="/TmobileIdNew" routerLinkActive="active">T-Mobile-Id</a>
            </li>
            <li>
              <a class="home-link" routerLink="/TmobileIdNicknameNew" routerLinkActive="active">T-Mobile-Id-NickName</a>
            </li>
            <li>
              <a class="home-link" routerLink="/billingAddress" routerLinkActive="active">Billing Address</a>
            </li>
          </ul>
          <ul class="ml-md-4">
            
            <li>
              <a class="home-link" routerLink="/E911Address" routerLinkActive="active">E911 Address</a>
            </li>
            <li>
              <a class="home-link" routerLink="/billingAndPaymentsPaperlessUAT" routerLinkActive="active">Billing And Payments - Paperless Billing UAT</a>
            </li>
            <li>
              <a class="home-link" routerLink="/billingAndPaymentsPaperlessUATUpdated" routerLinkActive="active">Billing And Payments - Paperless Billing UAT Updated</a>
            </li>
            <li>
              <a class="home-link" routerLink="/PaperlessTermsAndCondition" routerLinkActive="active">Paperless Terms And Condition</a>
            </li>
            <li>
              <a class="home-link" routerLink="/billingAndPaymentsConfirmation" routerLinkActive="active">Billing And Payments - Confirmation
              </a>
            </li>
            <li>
              <a class="home-link" routerLink="/registrationVeteran" routerLinkActive="active">Registration Veteran</a>
            </li>
            <li>
              <a class="home-link" routerLink="/registrationVeteranDisabled" routerLinkActive="active">Registration Veteran - Disabled</a>
            </li>
            <li>
              <a class="home-link" routerLink="/confirmInfo" routerLinkActive="active">Registration: Confirm Info</a>
            </li>
            <li>
              <a class="home-link" routerLink="/successVerified" routerLinkActive="active">Success Verified</a>
            </li>
            <li>
              <a class="home-link" routerLink="/successUploadReceived" routerLinkActive="active">Success Upload Received</a>
            </li>
            <!-- <li>
              <a class="home-link" routerLink="/alertMessage" routerLinkActive="active">Alert/Error</a>
            </li> -->
            <li>
                <a class="home-link" routerLink="/uploadDoc" routerLinkActive="active">Upload Doc</a>
            </li>
            <li>
                <a class="home-link" routerLink="/uploadDocDefault" routerLinkActive="active">Upload Doc Default</a>
            </li>
            <li>
                <a class="home-link" routerLink="/fidTermsAndCondition" routerLinkActive="active">Terms and Conditions</a>
            </li>
            <li>
                <a class="home-link" routerLink="/fidPrivacyPolicy" routerLinkActive="active">Privacy Policy</a>
            </li>
            <li>
              <a class="home-link" routerLink="/militaryStatusDetail" routerLinkActive="active">Military Status Detail</a>
            </li>
            <li>
              <a class="home-link" routerLink="/statusUpload/FinishVerification" routerLinkActive="active">Status blade: Finish Verification</a>
            </li>
            <li>
              <a class="home-link" routerLink="/statusUpload/InfoPrevious" routerLinkActive="active">Status blade: Information previously submitted</a>
              </li>
            <li>
              <a class="home-link" routerLink="/statusUpload/DocNotAccepted" routerLinkActive="active">Status blade: Documents Not Accepted</a>
            </li>
            <li>
            <a class="home-link" routerLink="/statusUpload/upload" routerLinkActive="active">Status blade: Upload</a>
            </li>
            <li>
              <a class="home-link" routerLink="/statusUpload/verified" routerLinkActive="active">Status blade: Verified</a>
            </li>
            <li>
              <a class="home-link" routerLink="/statusUpload/TooManyFailed" routerLinkActive="active">Status blade: Too many failed attempts</a>
            </li>
            <li>
              <a class="home-link" routerLink="/alertMessage/DocNotAccepted" routerLinkActive="active">Alert: Documents not accepted</a>
            </li>
            <li>
              <a class="home-link" routerLink="/alertMessage/TooManyFailed" routerLinkActive="active">Alert: Too many failed attempts</a>
            </li>
            <li>
              <a class="home-link" routerLink="/alertMessage/InfoPrevious" routerLinkActive="active">Alert: Information previously submitted</a>
            </li>
            <li>
              <a class="home-link" routerLink="/alertMessage/Generic" routerLinkActive="active">Alert: Generic</a>
            </li>
            <li>
              <a class="home-link" routerLink="/aucPermissions" routerLinkActive="active">AUC: Permissions</a>
            </li>
            <li>
              <a class="home-link" routerLink="/aucTermsAndCondition" routerLinkActive="active">AUC: Change Permissions T & C </a>
            </li>
            <li>
              <a class="home-link" routerLink="/aucMessages" routerLinkActive="active">AUC: Messages</a>
            </li>
            <li>
              <a class="home-link" routerLink="/aucMessagesConfirmation" routerLinkActive="active">AUC: Messages - Confirmation</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showAutoPay">
          <ul>
           
            
            <li>
              <a class="home-link" routerLink="/autoPayOff2" routerLinkActive="active">Auto_Pay_Off-2</a>
            </li>
            <li>
              <a class="home-link" routerLink="/autoPayOff3" routerLinkActive="active">Auto_Pay_Off-3</a>
            </li>
            <li>
              <a class="home-link" routerLink="/autoPayOff2Error" routerLinkActive="active">Auto_Pay_Off-2-Error</a>
            </li>
            <li>
              <a class="home-link" routerLink="/confirmation-3" routerLinkActive="active">Confirmation-3</a>
            </li>
            <li>
              <a class="home-link" routerLink="/AutopayConfirmation" routerLinkActive="active">Autopay Confirmation page</a>
            </li>
            <li>
              <a class="home-link" routerLink="/faq" routerLinkActive="active">FAQ</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showPA">
          <ul>
            <li>
              <a class="home-link" routerLink="/paLanding1" routerLinkActive="active">PA Landing 1</a>
            </li>
            <li>
              <a class="home-link" routerLink="/paLanding2" routerLinkActive="active">PA Landing 2</a>
            </li>
            <li>
              <a class="home-link" routerLink="/paLanding3" routerLinkActive="active">PA Landing 3</a>
            </li>
            <li>
              <a class="home-link" routerLink="/paLanding4" routerLinkActive="active">PA Landing 4</a>
            </li>
            <li>
              <a class="home-link" routerLink="/paLanding5" routerLinkActive="active">PA Landing 5</a>
            </li>
            <li>
              <a class="home-link" routerLink="/paLandingNoPayment" routerLinkActive="active">PA Landing : No Payment</a>
            </li>
            <li>
              <a class="home-link" routerLink="/PAotpModal" routerLinkActive="active">PA OTP Modal</a>
            </li>
            <li>
              <a class="home-link" routerLink="/PAeditV31" routerLinkActive="active">PA Edit V3_1 </a>
            </li>
            <li>
              <a class="home-link" routerLink="/PAeditModal" routerLinkActive="active">PA Edit Modal</a>
            </li>
           
            <li>
              <a class="home-link" routerLink="/PAmodal5" routerLinkActive="active">PA Edit Modal 5</a>
            </li>
          <!--  <li>
              <a class="home-link" routerLink="/PAmodal6" routerLinkActive="active">PA Edit Modal 6</a>
            </li> -->
            <li>
              <a class="home-link" routerLink="/paOtpEditMethod" routerLinkActive="active">PA Otp Edit Method</a>
            </li>
            <li>
              <a class="home-link" routerLink="/paConfirm" routerLinkActive="active">PA Confirm</a>
            </li>
            <li>
              <a class="home-link" routerLink="/paOtpHome" routerLinkActive="active">PA OTP Home</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showPlanComparision">
          <ul>
            <!--<li>
              <a class="home-link" routerLink="/reviewAutoPayAlreadyOn" routerLinkActive="active">Review: AutoPay Already On</a>
            </li>
            <li>
              <a class="home-link" routerLink="/reviewAutoPayUpsell" routerLinkActive="active">Review: AutoPay Upsell</a>
            </li>
            <li>
              <a class="home-link" routerLink="/reviewPlanDetails" routerLinkActive="active">Review: Plan Details</a>
            </li>
            <li>
              <a class="home-link" routerLink="/reviewLineDetails" routerLinkActive="active">Review: Line Details</a>
            </li>
            <li>
              <a class="home-link" routerLink="/Mconfirmation" routerLinkActive="active">Order Confirmation</a>
            </li>-->
            <li>
              <a class="home-link" routerLink="/mvpReviewChanges" routerLinkActive="active">MVP: Review Changes</a>
            </li>
            <li>
              <a class="home-link" routerLink="/mvpReviewPlans" routerLinkActive="active">MVP: Review Plans</a>
            </li>
            <li>
              <a class="home-link" routerLink="/mvpReviewAddOns" routerLinkActive="active">MVP: Review Add Ons</a>
            </li>
            <li>
              <a class="home-link" routerLink="/mvpReviewEquipment" routerLinkActive="active">MVP: Review Equipment</a>
            </li>
            <li>
              <a class="home-link" routerLink="/mvpConfirmDetails" routerLinkActive="active">MVP: Confirmation Details</a>
            </li>
            <li>
              <a class="home-link" routerLink="/mvpSelectPlan" routerLinkActive="active">MVP: Select Plan</a>
            </li>
            <!--<li>
              <a class="home-link" routerLink="/mvpReviewChanges2" routerLinkActive="active">MVP: Review Changes2</a>
            </li>
            <li>
              <a class="home-link" routerLink="/mvpReviewOrderDetails" routerLinkActive="active">MVP: Order Details- By Line</a>
            </li> -->
            <!--<li>
              <a class="home-link" routerLink="/Crazy" routerLinkActive="active">Crazy Legs: Crazy</a>
            </li>
            <li>
              <a class="home-link" routerLink="/Grid" routerLinkActive="active">Crazy Legs: Grid</a>
            </li>
            <li>
              <a class="home-link" routerLink="/PlanDetail" routerLinkActive="active">Crazy Legs: Plan-detail</a>
            </li>-->
          </ul>
        </div>
        <div *ngIf="showContactUs">
          <ul>
            <li>
              <a class="home-link" routerLink="/teamDescription" routerLinkActive="active">Team Description</a>
            </li>
          </ul>
        </div>
        <div *ngIf="showEipJoD">
          <ul>
            <li><a class="home-link" routerLink="/jodEndingSoon" routerLinkActive="active">JOD Ending Soon</a></li>
            <li><a class="home-link" routerLink="/jodEndingSoonOptions" routerLinkActive="active">JOD Ending Soon Options</a></li>
            <li><a class="home-link" routerLink="/jodPoipPayment" routerLinkActive="active">JOD POIP Payment </a></li>
            <li><a class="home-link" routerLink="/docuSignFlow" routerLinkActive="active">Docu Sign Flow </a></li>
            <li><a class="home-link" routerLink="/docuSignThankYou" routerLinkActive="active">Docu Sign Thank You </a></li>
            <li><a class="home-link" routerLink="/eppExistingPaymentMethod" routerLinkActive="active">EIP: Existing Payment Method </a></li>
            <li><a class="home-link" routerLink="/eppSelectInstallmentPlan" routerLinkActive="active">EIP: Select Installment Plan </a></li>
            <li><a class="home-link" routerLink="/eppTermsAndCondition" routerLinkActive="active">EIP: Terms and Condition </a></li>
            <li><a class="home-link" routerLink="/selectPaymentMethod" routerLinkActive="active">EIP/JOD: Select Payment method </a></li>
            <li><a class="home-link" routerLink="/addCard" routerLinkActive="active">EIP: Add Card</a></li>
            <li><a class="home-link" routerLink="/paymentAmount" routerLinkActive="active">EIP: Payment Amount </a></li>
            <li><a class="home-link" routerLink="/eppConfirmation" routerLinkActive="active">EIP: Confirmation </a></li>
            <li><a class="home-link" routerLink="/duplicatePayment" routerLinkActive="active">Payment Failure: Duplicate Payment </a></li>
            <li><a class="home-link" routerLink="/paymentSystemError" routerLinkActive="active">Payment Failure: System Error</a></li>
            <li><a class="home-link" routerLink="/paymentEstimator" routerLinkActive="active">Payment Estimator</a></li>
            <li><a class="home-link" routerLink="/balanceSummaryVariants" routerLinkActive="active">Balance Summary Variants </a></li>
             <li><a class="home-link" routerLink="/jodLeaseVariants" routerLinkActive="active">JOD Lease Variants</a></li>
            <li><a class="home-link" routerLink="/eipVariants" routerLinkActive="active">Equipment Installment Plan Variants </a></li>
            <li><a class="home-link" routerLink="/extraDevicePaymentVariants" routerLinkActive="active">Extra Device Payment Variants </a></li>
          </ul>
        </div>   
        <div *ngIf="showPortIn">
          <ul>
            <li><a class="home-link" routerLink="/problemIdentifier" routerLinkActive="active">Problem Identifier </a></li>
            <li><a class="home-link" routerLink="/problemFix" routerLinkActive="active">Problem Fix </a></li>
            <li><a class="home-link" routerLink="/maximumAttempts" routerLinkActive="active">Maximum Attempts </a></li>
            <li><a class="home-link" routerLink="/successStatus" routerLinkActive="active">Success Status </a></li>
          </ul>
        </div>  
        <div *ngIf="showChangePlan">
          <ul>
            <li><a class="home-link" routerLink="/selectPlan" routerLinkActive="active">Select Plan </a></li>
            <li><a class="home-link" routerLink="/plancomparison" routerLinkActive="active">Plan Comparison </a></li>
            <li><a class="home-link" routerLink="/reviewchange" routerLinkActive="active">Review Change </a></li>
            <li><a class="home-link" routerLink="/detailbreakdown" routerLinkActive="active">Detail Breakdown </a></li>
            <li><a class="home-link" routerLink="/planconfirmation" routerLinkActive="active">Plan Confirmation</a></li>
            <li><a class="home-link" routerLink="/mbbplandetail" routerLinkActive="active">MBB Plan Detail </a></li>
            <li><a class="home-link" routerLink="/reviewOrder" routerLinkActive="active">Review Order </a></li>
            <li><a class="home-link" routerLink="/PlanComparisionDetail" routerLinkActive="active">Plan comparison detail </a></li>
            <li><a class="home-link" routerLink="/planconfirmationupdated" routerLinkActive="active">Plan Confirmation Updated</a></li>
          </ul>
        </div>
        <div *ngIf="showaddOnsPhase2">
          <ul>
            <li><a class="home-link" routerLink="/reviewAndPayOrder" routerLinkActive="active">Review and Pay Order </a></li>
            <li><a class="home-link" routerLink="/taxesAndFees" routerLinkActive="active">Taxes and Fees </a></li>
            <li><a class="home-link" routerLink="/confirmationOrder" routerLinkActive="active">Confirmation order </a></li>
            <li><a class="home-link" routerLink="/onelaststep" routerLinkActive="active">One Last Step </a></li>
            <li><a class="home-link" routerLink="/signupVerification" routerLinkActive="active">Sign-Up Verification </a></li>
            <li><a class="home-link" routerLink="/accountSuspended" routerLinkActive="active">Account Suspended </a></li>
            <li><a class="home-link" routerLink="/lineSelector" routerLinkActive="active">Line Selector </a></li>
            <li><a class="home-link" routerLink="/managedata" routerLinkActive="active">Manage data and add-ons </a></li>
            <li><a class="home-link" routerLink="/valueSelector" routerLinkActive="active">Value added services </a></li>
            <li><a class="home-link" routerLink="/removal" routerLinkActive="active">P360 Removal </a></li>
            <li><a class="home-link" routerLink="/scary" routerLinkActive="active">P360 Scary Modal </a></li>
            <li><a class="home-link" routerLink="/servicesHubStatus" routerLinkActive="active">Services Hub Status</a></li>
            <li><a class="home-link" routerLink="/on-us-chooser" routerLinkActive="active">On us chooser</a></li>
          </ul>
        </div>
        <div *ngIf="showbalanceLatency">
          <ul>
            <li><a class="home-link" routerLink="/paymentProcessing" routerLinkActive="active">Balance Latency Treatment-PA</a></li>
          </ul>
        </div> 
        <div *ngIf="inSession">
            <li>
                <a class="home-link" routerLink="/insession" routerLinkActive="active">In Session</a>
            </li>
        </div> 
        <div *ngIf="inWallet">
            <li>
                <a class="home-link" routerLink="/wallet" routerLinkActive="active">In Wallet</a>
            </li>
        </div>
        <div *ngIf="showstandalone">
          <li>
              <a class="home-link" routerLink="/morepayment" routerLinkActive="active">More Payment Options</a>
          </li>
        </div>
        <div *ngIf="claimFlow">
          <li>
            <a class="home-link" routerLink="/confirmPayment" routerLinkActive="active">Claim Flow</a>
          </li>
        </div>
        <div *ngIf="pciPages">
          <li>
            <a class="home-link" routerLink="/enterCardInfo" routerLinkActive="active">Enter card information</a>
          </li>
          <li>
            <a class="home-link" routerLink="/enterBankInfo" routerLinkActive="active">Enter Bank information</a>
          </li>
        </div>
        <div *ngIf="temporarysuspension">
          <li>
            <a class="home-link" routerLink="/tslineselector" routerLinkActive="active"> Line Selector</a>
          </li>
          <li>
            <a class="home-link" routerLink="/tsconfirmation" routerLinkActive="active">Confirmation</a>
          </li>
          <li>
            <a class="home-link" routerLink="/tsreactiveconfirmation" routerLinkActive="active"> Reactivation Confirmation</a>
          </li>
          <li>
            <a class="home-link" routerLink="/tsreactive" routerLinkActive="active">Reactivate</a>
          </li>
        </div>
        <div *ngIf="suzySheep">
          <li>
            <a class="home-link" routerLink="/pitchPage" routerLinkActive="active"> Pitch Page</a>
          </li>
        </div>
        <div *ngIf="servicePromo">
          <li>
            <a class="home-link" routerLink="/devicepromolist" routerLinkActive="active"> Promo List</a>
          </li>
          <li>
            <a class="home-link" routerLink="/promodetails" routerLinkActive="active">Promo Details</a>
          </li>
            <li>
            <a class="home-link" routerLink="/pastpromos" routerLinkActive="active">Past Promos</a>
          </li>
        </div>
      </div>
    </div>
  </div>
