
@import "src/assets/scss/global-variables.scss";

.TMO-HOME-NEW {
    .dropdown-menu.show{
        max-height: 300px !important;
    }
    @media #{$alldeviceexceptsmartphone} {
    .d-flex-md {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    }
    ul{
    margin-bottom: 0rem!important;
    }
}