@import "src/assets/scss/global-variables.scss";
.TMO-REVIEW-PAYMENT {
    [tooltip-text] {
        &::after {
            font-size: 14px !important;
            min-width: 200px !important;
        }
    }
    .tooltip-icon {
        width: 13px;
        height: 13px;
    }
}