<div class="TMO-REVIEW-PAYMENT">
  <div class=" container">
    <app-header></app-header>
      <div class="row padding-top-large-xs padding-top-large-sm padding-vertical-xl">
        <div class="col-12 text-center">
          <span class="Display3">Review</span>
        </div>
      </div>
      <div class="row">
        <p class="col-12 col-md-10 offset-md-1 mb-0">
          <span class="pull-left H6-heading pull-left">Starts immediately</span>
        </p>
        <p class="col-12 col-md-10 offset-md-1 mb-0 padding-vertical-xsmall-xs padding-vertical-xsmall-sm padding-vertical-small">
          <span class="pull-left body">Due today</span>
        </p>
      </div>
      <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
          <div class="inset-divider-1px"></div>
      </div>
      </div>
      <div class="row  black" *ngFor="let val of paymentValues;let i = index">
        <div class="col-12 col-md-10 offset-md-1 padding-vertical-small" *ngIf="i==0">
          <span class="pull-left Display6">{{val.descTitle}}</span>
          <span class="pull-right H6-heading">${{val.value}}</span>
        </div>
        <div class="col-12 col-md-10 offset-md-1 padding-bottom-large-xs padding-bottom-large-sm padding-bottom-xl" *ngIf="i==1">
          <a href="javascript:void(0)">
            <span class="pt-2 cursor body-link pt-md-3">{{val.descTitle}}</span>
          </a>
          <span class="pull-right H6-heading black">${{val.value}}</span>
        </div>
      </div>
      <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
          <div class="total-divider"></div>
      </div>
      </div>
      <div class="row  black" *ngFor="let val of paymentValues;let i = index">
        <div class="col-12 col-md-10 offset-md-1 no-padding padding-vertical-small" *ngIf="i==2">
          <div class="col-6 pr-0 d-inline-flex align-items-baseline">
            <span class="pull-left Display6">{{val.descTitle}}</span>
            <span tooltip-text="Tooltip text"
              tooltip-position="bottom" class="padding-horizontal-xsmall body">
              <span class="tooltip-icon"></span>
            </span>          
          </div>          
          <div class="col-6 pull-right">
            <span class="pull-right H6-heading ">${{val.value}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <paymentblade [title]="paymentMethod" [card]="cardNumber" [icon]="iconClass" [topDividerClass]="'full-bleed-divider'"></paymentblade> 
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 padding-top-small">
          <span class="legal d-inline-block">
            By clicking Agree and Submit, I gree that (a) my Agreement with T-Mobile includes the Service Agreement, any terms specific
            to my Rate Plan, and T-Mobile's Terms & Conditions; (b) T-Mobile requires Arbitration of Disputes unless I previously
            opted per T-Mobile's Term & Conditions; and (c) I accept T-Mobile's Electronic Signature Terms.
          </span>
        </div>
      </div>
      <div class="row padding-top-medium-xs padding-top-medium-sm padding-vertical-xl padding-bottom-large-xs padding-bottom-large-sm">
        <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-md-0">
            <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple>Agree and submit</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-md-0">
            <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Cancel</button>
          </div>
        </div>
      </div>
  </div>
</div>