
<div class="TMO-OTP-ERROR-2">
  <div class="container">
      <app-header></app-header> 
    <div class="main-content">
    <div class="row padding-vertical-large-xs padding-vertical-large-sm padding-vertical-xl">
      <div class="col-12  text-center Display3">Edit payment method</div>
    </div>
    <div class="row" [ngClass]= "paymentMethodEnable ? '':'disable-div'">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div *ngFor="let card of paymentMethodsReusable;let i=index;">
      <div *ngIf="card.cardStatus!=''" [ngClass]= "paymentMethodEnable ? '':'disable-div'">
        <radiobuttonpaymentblade [cardStatus]="card.cardStatus" [card]="card.cardNumber" [icon]="card.iconClass" [radioButtonId]="i" [radioButtonName]="'radiobutton'" [selected]=1 [note]="card.note" [showErrorIcon]=true [disableState]=true></radiobuttonpaymentblade>
      </div>
      <div class="row" *ngIf="card.cardStatus==''">
        <div class="col-12 col-md-10 offset-md-1">
          <paymentblade [title]="card.add" [titleClass]="'Display6'" [card]="cardNumber" [icon]="iconClass" [topDividerClass]="''" [disableClass]="black"></paymentblade> 
        </div>
      </div>
    </div>
    </div>
    <div class="row no-padding  padding-vertical-xl ">
        <div class="col-12 col-md-8  offset-md-2 text-center">
          <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-0 p-l-0-xs p-l-0-sm">
            <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple [disabled]=!paymentMethodEnable>Continue</button>
          </div>
          <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm  p-r-0-xs">
            <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple>Back</button>
          </div>
        </div>
      </div>
  </div>
</div>