<div class="tmo-styleguide-search-reusable">
  <form *ngIf=!persistent (focusout)="divFocusOutFunction($event)" id="test">
    <div class="row">
      <div class="col-12">
        <div class="search" >
          <i class="fa search-icon-gray cursor" [tabindex]="tabIndex" (click) ="search()" [ngClass]="{'search-100':!showInput && (animationType === 'right'),
            'search-100-right' : (animationType === 'right') && !showInput && initialAnimation,
            'search-icon-right':showInput && (animationType === 'right'),
            'search-icon-center' : (animationType === 'center') && showInput,
            'search-100-center':!showInput && (animationType === 'center')}"></i>
            <input [tabindex]="tabIndex" type="text" id="inputText" minlength="8" maxlength="50" pattern="[a-zA-Z0-9]*" name="inputText" class="input body-copy id{{elementId}}"
              [(ngModel)]="inputtextfield.inputText" required #inputText="ngModel" 
              (keyup)="filter($event)"  autocomplete="off" (focus)="focusFunction()" 
              [ngClass]="{'input-100':showInput, 'search-input-right':showInput && (animationType === 'right'),
              'input-right1':(animationType === 'right') && initialAnimation,
              'input-left-close':(animationType === 'left') && initialAnimation, 
              'input-center':(animationType === 'center') && initialAnimation,
              'input-100-left':animationType === 'left'&&showInput,'input-100-center':animationType === 'center'&&showInput, 'center':animationType==='center' }"
            placeholder="{{placeholder}}" #searchField >
          <i class="clear-icon1 cursor {{crossIcon}}" (click)="clearData()" [ngClass]="{'show-clear-icon1':showInput,'clear-icon1-animation-right':(animationType === 'right'),
            'clear-icon1-animation-left':(animationType === 'left'),'clear-icon1-animation-center':(animationType === 'center')}">
          </i>          
          <div [ngClass]="{'input-animation':showInput}"></div>
        </div>
      </div>
    </div>
    <div class="row col-12" class="search">
      <div class="overlap">
        <div class="suggestions scroll-style search-menu" [ngClass]="{'show-suggestions':((filteredList.length>0 && inputtextfield.inputText !='' && showrecentSearches)|| (filteredList.length>0 && showDiv1 && inputtextfield.inputText != '' && showrecentSearches))}">
          <ul class="ul-style-none">
            <li *ngFor="let item of filteredList;let i=index" class="li-style-suggestions" (click)="select(item,i)" (mousedown)="select(item,i)"
              (mouseup)="mouseaction()" (mouseleave)="temporaryInputFunc()"
               (mouseover)="autoCompleteInput(item,i)" 
              [innerHTML]="item.title" [ngClass]="{'cursor':((filteredList.length>0 && inputtextfield.inputText !='' && showrecentSearches)|| (filteredList.length>0 && showDiv1 && inputtextfield.inputText != '' && showrecentSearches))}">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row col-12" class="search">
      <div class="overlap">
        <div class="recent-search scroll-style" (mouseover)="showRecentSearchesDiv()" (mouseout)="hideRecentSearchesDiv()" [ngClass]="{'show-recent-search':(recentSearches.length > 0 && filteredList.length === 0 && showrecentSearches &&  showInput) || (recentSearches.length > 0 && showRecentSearchesElements   && filteredList.length === 0 && showInput)}">
          <ul class="ul-style-none">
            <li *ngFor="let r of recentSearches;let i=index" class="li-style-search d-flex"  (mousedown)="selectSearch(r)" (mouseup)="mouseactionsearch()" 
             (mouseleave)="temporaryInputFunc()"  
              (mouseover)="autoCompletesearch(r)"  [ngClass]="{'cursor':(recentSearches.length > 0 && inputtextfield.inputText == '' && showrecentSearches) || (recentSearches.length > 0 && showRecentSearchesElements && inputtextfield.inputText == '' && showInput)}">
              <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>{{r}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
  <form *ngIf=persistent  tabindex="-1"   id="test" (focusout)="divFocusOutFunction($event)" >
    <div class="row">
      <div class="col-12">
        <div class="search">
          <i class="fa search-icon-gray" aria-hidden="true"></i>
          <input [tabindex]="tabIndex" type="text" id="inputText" [tabindex]="tabIndex"  minlength="8"  [maxlength]="maxlength" pattern="[a-zA-Z0-9]*" name="inputText" class="persistent-input input body-copy black"
            [(ngModel)]="inputtextfield.inputText" required #inputText="ngModel" 
            (keyup)=filter($event) autocomplete="off" (focus)="focusFunction()"  [placeholder]="dynamicplaceholder">
          <i class="clear-icon-light cursor {{crossIcon}} show-clear-icon1" (click)="clearData()"></i>
          <div class="input-animation"></div>
        </div>
      </div>
    </div>
    <div class="row col-12" class="search">
      <div class="overlap">
        <div class="suggestions scroll-style search-menu" [ngClass]="{'show-suggestions':((filteredList.length>0 && inputtextfield.inputText !='' && showrecentSearches)|| (filteredList.length>0 && showDiv1 && inputtextfield.inputText != '' && showrecentSearches))}">
          <ul class="ul-style-none">
            <li *ngFor="let item of filteredList;let i=index" class="li-style-suggestions" (click)="select(item,i)" (mousedown)="select(item,i)"
              (mouseup)="mouseaction()" (mouseleave)="temporaryInputFunc()"
               (mouseover)="autoCompleteInput(item,i)" 
              [innerHTML]="item.title" [ngClass]="{'cursor':((filteredList.length>0 && inputtextfield.inputText !='' && showrecentSearches)|| (filteredList.length>0 && showDiv1 && inputtextfield.inputText != '' && showrecentSearches))}">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div  class="row col-12" class="search">
      <div class="overlap">
        <div class="recent-search scroll-style" (mouseover)="showRecentSearchesDiv()" (mouseout)="hideRecentSearchesDiv()" [ngClass]="{'show-recent-search':(recentSearches.length > 0 && filteredList.length === 0 && showrecentSearches &&  showInput) || (recentSearches.length > 0 && showRecentSearchesElements   && filteredList.length === 0 && showInput)}">
          <ul class="ul-style-none">
            <li *ngFor="let r of recentSearches;let i=index" class="li-style-search d-flex"  (mousedown)="selectSearch(r)" (mouseup)="mouseactionsearch()" 
             (mouseleave)="temporaryInputFunc()"  
              (mouseover)="autoCompletesearch(r)"  [ngClass]="{'cursor':(recentSearches.length > 0 && inputtextfield.inputText == '' && showrecentSearches) || (recentSearches.length > 0 && showRecentSearchesElements && inputtextfield.inputText == '' && showInput)}">
              <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>{{r}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
