@import "src/assets/scss/global-variables.scss";
.TMO-PAYMENT-ESTIMATOR{
    .full-btn-width{
        width: 100% ;
    }
    @media #{$smartphones-xs}, #{$smartphones-sm}, #{$tablets-md}{
    .p-r-10-xs{
            padding-right: 10px;
        }
    }
    .input{
        font-size: 16px !important;
        padding: 20px 24px 4px 0px;
    }
    .TeritiaryCTA:focus{
        color: lightgrey !important;
    }
    input[type="text"] {
        &:focus~label,
        &:valid~label {
            top: 35%;
            margin-top: -16px;
            color: #e20074;
           
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        &:focus+label {
            top: 35%;
            margin-top: -16px;
            color: #e20074;
            -webkit-text-size-adjust: auto;
           
        }  
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        &:focus+label {
            top: 35%;
            margin-top: -16px;
            color: #e20074;
            -webkit-text-size-adjust: auto;
            
        }  
    }
    .textfield input[type="text"] {
        &:focus+label {
            top: 35%;
            margin-top: -16px;
            color: #e20074;
            -webkit-text-size-adjust: auto;
           
        }   
    }
}