<div class="TMO-PAYMENT-ESTIMATOR">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 padding-bottom-medium padding-top-medium">
        <p class="Display3 text-center">Payment estimator</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 ">
        <div class="col-12 col-lg-6 d-inline-block float-left no-padding padding-top-xsmall">
          <p class="Display6">{{details.name}}</p>
          <div class="col-12 no-padding">
            <div class="col-6 col-lg-12 legal pb-1 padding-top-xsmall no-padding d-inline-block float-left">{{details.phoneNo}}</div>
            <div class="col-6 col-lg-12 body no-padding d-inline-block text-right text-lg-left text-xl-left black">{{details.phone}}</div>
          </div>
        </div>
        <div class="col-12 col-lg-6 d-inline-block float-right float-lg-right float-xl-right no-padding pl-lg-3 pl-xl-3 padding-top-small-lg padding-top-small-xl">
          <div class="col-12 body black d-inline-block no-padding pt-1">
            <span class="pull-left">EIP (Installment Plan) ID:</span>
            <span class="pull-right">{{details.EIPID}}</span>
          </div>
          <div class="col-12 body black d-inline-block no-padding pt-1">
            <span class="pull-left">Device balance:</span>
            <span class="pull-right">${{details.balance}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 no-padding padding-top-xsmall padding-bottom-small pl-lg-3 pr-lg-3 pl-xl-3 pr-lg-3">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 no-padding">
        <form #extraPaymentForm="ngForm" class="col-12 col-lg-6 d-inline-block">
          <div class="col-8 col-lg-7 d-inline-block pl-0 p-r-10-xs pl-lg-3 no-padding float-left">
            <div class="floatingLabel  textfield">
              <input tabindex="1" type="text" minlength="1" maxlength="50" pattern="^\$?([1-9])+([0-9]*)+(.?)+([0-9]{0,2})?"
                class="input body black" name="extraPayment" [(ngModel)]="details.extraPayment" appCurrencyformat appClearButtonInput
                (input)="valChange($event)" required #extraPayment1="ngModel" [ngClass]="{'border-red':  extraPayment1.invalid && !extraPayment1.pristine && !extraPayment1.errors?.required }">
              <label for="extraPayment" class="labelpointer" [ngClass]="[(extraPayment1.invalid && !extraPayment1.pristine && !extraPayment1.errors?.required) ? 'legal color-red redClass' : '',
                  (!extraPayment1.invalid )   ? 'legal' : '',
                  ( extraPayment1.errors?.required ) ? 'body' : '']">Enter extra payment here</label>
              <div class="input-animation"></div>
            </div>
          </div>
          <div class="col-4 col-lg-5 d-inline-block pr-0 pl-0 pl-sm-4 pl-md-4 pl-lg-4 float-right">
            <button class="full-btn-width" appButtonripple [ngClass]="{'PrimaryCTA': btnEnable, 'TeritiaryCTA blackCTA disabled': !btnEnable , 'SecondaryCTA blackCTA': btnEnable1 }"
              (click)="btnClick()">
              Estimate</button>
          </div>
          <span class="legal color-red text-left padding-top-xsmall errormessage mb-0 pl-0 p-r-10-xs pl-lg-3" *ngIf="extraPayment1.errors?.minlength && !extraPayment1.pristine ">
            Enter a valid number
          </span>
          <span class="legal color-red text-left padding-top-xsmall errormessage mb-0 pl-0 p-r-10-xs pl-lg-3" *ngIf="extraPayment1.errors?.pattern && !extraPayment1.errors?.minlength && !extraPayment1.pristine">
            Enter a valid number
          </span>
        </form>
        <div class="col-12 padding-top-small padding-bottom-small no-padding d-lg-none">
          <div class="inset-divider-1px"></div>
        </div>
        <div class="col-12 col-lg-6 d-inline-block pl-lg-3 pl-xl-3 pull-right">
          <div class="col-12  d-inline-block no-padding ">
            <div class="col-6 col-lg-6 no-padding d-inline-block float-left">
              <p class="body-bold black">Results</p>
            </div>
            <div class="col-3 col-lg-2 pr-lg-0 pr-xl-0 d-inline-block text-right">
              <p class="body-bold black ">Current</p>
            </div>
            <div class="col-3 col-lg-4 no-padding d-inline-block float-right">
              <p class="body-bold black text-right">Estimated</p>
            </div>
          </div>
          <div class="col-12 padding-top-small padding-bottom-small no-padding">
            <div class="inset-divider-1px"></div>
          </div>
          <div class="col-12  d-inline-block no-padding">
            <div class="col-6 col-lg-6 no-padding d-inline-block float-left">
              <p class="body">Plan balance</p>
            </div>
            <div class="col-3 col-lg-2 pr-lg-0 pr-xl-0 d-inline-block text-right">
              <p class="body ">${{details.currentBal}}</p>
            </div>
            <div class="col-3 col-lg-4 no-padding d-inline-block float-right">
              <p class="body black text-right" *ngIf="btnEnable1">${{details.estBal}}</p>
              <p class="body text-right" *ngIf="!btnEnable1">$__</p>
            </div>
          </div>
          <div class="col-12 padding-top-small padding-bottom-small no-padding">
            <div class="inset-divider-1px"></div>
          </div>
          <div class="col-12  d-inline-block no-padding">
            <div class="col-6 col-lg-6 no-padding d-inline-block float-left">
              <p class="body">Remaining payments</p>
            </div>
            <div class="col-3 col-lg-2 pr-lg-0 pr-xl-0 d-inline-block text-right">
              <p class="body">{{details.currentPay}}</p>
            </div>
            <div class="col-3 col-lg-4 no-padding d-inline-block float-right">
              <p class="body black text-right" *ngIf="btnEnable1">${{details.estPay}}</p>
              <p class="body text-right" *ngIf="!btnEnable1">__</p>
            </div>
          </div>
          <div class="col-12 padding-top-small  no-padding" [ngClass]="{'padding-bottom-small': !btnEnable1}">
            <div class="inset-divider-1px"></div>
          </div>
          <div class="col-6 col-md-4 col-lg-10  padding-top-small padding-bottom-small float-lg-left float-xl-left float-right pl-lg-0 pl-xl-0 pr-0 pr-xl-3 pr-lg-3"
          *ngIf ="btnEnable1">
            <button class="PrimaryCTA full-btn-width pl-1 pr-1" appButtonripple>Pay this amount</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>