@import "src/assets/scss/global-variables.scss";
.TMO-PROBLEM-FIX {
  .img-height {
    width: 142px;
    height: 120px;
  }
  @media #{$smartphones-xs},#{$smartphones-sm} {
    /*.main-content {
      min-height: calc(100vh - 487px);
    }*/
    .img-height {
      width: 130px;
      height: 109px;
    }
  }
  .cursor:hover {
    color: $brand-magenta;
  }
}
