<div class="TMO-PROBLEM-FIX">
  <div class="container">
    <div class="">
      <div class="row">
        <div class="col-12 padding-top-large no-padding">
          <div class="text-center">
            <img src="./assets/img/port-in/fixed-icon.svg" class="img-height" tabindex="0" >
          </div>
          <p class="Display3 padding-top-medium text-center" tabindex="0" [attr.aria-label]="details.title">{{details.title}}!</p>
          <p tabindex="0" class="col-md-10 offset-md-1 body padding-top-medium padding-top-small-xs padding-top-small-sm text-center text-left-sm text-left-xs" >
            Looks like this issue has been resolved. We’ll let you know when your phone number has been transferred to T-Mobile.
          </p>
        </div>
        <div class="col-md-4 offset-md-4 text-center padding-top-xl padding-vertical-medium-sm padding-vertical-medium-xs padding-bottom-large padding-bottom-small-xs padding-bottom-small-sm">
          <button appButtonripple class="SecondaryCTA blackCTA full-btn-width text-balck w-100" role="button" tabindex="0">All done</button>
        </div>
      </div>
    </div>
  </div>