<div class="TMO-UPLOAD-DOC-DEFAULT">
        <div class="container">
          <!-- Upload doc starts -->
          <div class="main-content-singlerow">
            <div class="row">
              <div class="col-md-10 offset-md-1 Display3 padding-top-medium-xs padding-top-medium-sm padding-top-large padding-bottom-small text-center">
                Military verification
              </div>
            </div>
            <div class="row padding-bottom-xsmall-xs padding-bottom-xsmall-sm padding-bottom-small">
              <div class="col-md-10 offset-md-1 text-center H5-heading">Upload documentation</div>
            </div>
            <div class="row">
              <div class="col-md-8 offset-md-2 text-center body">
                We need documented proof of your current military status to verify eligibility. Confirm the information below is correct
                and then upload a document that confirms your current military status.
              </div>
              <div class="col-md-8 offset-md-2 text-center body  padding-top-large padding-bottom-xsmall">
                If the information is incorrect or doesn’t match what’s on your documentation, please go back and edit your verification
                form or contact Customer Care for assistance.
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <div class="col-6 d-inline text-center brand-magenta body">
                  Edit verification form
                </div>
                <div class="col-6 d-inline text-center vertical-bar-black brand-magenta body">
                  Contact Customer Care
                </div>
              </div>
            </div>
            <div class="row padding-top-large txtcenter">
              <div class="col-md-6 offset-md-3 Display6 ">
                Confirm your information:
              </div>
            </div>
            <div class="row pt-md-2">
              <div class="col-md-6 offset-md-3" *ngFor="let info of confirmInfo">
                <div class="padding-top-small-xs padding-top-small-sm padding-top-medium body-disabled">{{info.title}}</div>
                <div class="border-E8E8E8 pt-1 pb-3 pt-md-2 pb-md-4 body black">{{info.content}}</div>
              </div>
            </div>
            <div class="row padding-top-large txtcenter">
              <div class="col-md-6 offset-md-3 Display6 ">
                Documents must include the following:
              </div>
            </div>
            <div class="row padding-top-xsmall">
              <div class="col-md-6 offset-md-3 body" *ngFor="let docInclude of documentIncludes">
                <div class="d-flex flex-row border-E8E8E8 py-3 pb-md-2 pl-3">
                  <div [ngClass]="docInclude.example != '' ? 'align-self-start' : 'align-self-center'">
                    <img src="assets/img/check-mark.png" width="17.6" height="13.4" class="float-left mr-4">
                  </div>
                  <div class="align-self-center">
                    <div>{{ docInclude.value }}</div>
                    <div class="body-disabled" *ngIf="docInclude.example != ''">
                      {{ docInclude.example }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row padding-top-xsmall padding-bottom-large">
              <div class="col-md-6 offset-md-3 legal padding-bottom-small"> Please omit or black out any sensitive information
                such as Social Security number, Military ID#, etc. </div>
              <div class="col-md-6 offset-md-3 legal">Acceptable file formats: .bmp, .gif, .jpg, .png, and .pdf</div>
              <div class="col-md-6 offset-md-3 legal">Max file size: 10MB</div>
            </div>
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2 padding-bottom-large-xs padding-bottom-large-sm padding-bottom-large" *ngIf="addNewFile">
                <div *ngFor="let file of selectedFiles; let i = index">
                  <p class="col-12 no-padding green legal padding-bottom-xsmall float-left" [ngClass]="{'padding-top-small': i > 0}">{{successMsg}}</p>
                  <img class="checkCircle float-left" src="./assets/img/validation-outline.png">
                  <div class="col-5 no-padding body-bold black pl-2 d-inline-block text-ellipsis float-left">{{file.name}}</div>
                  <span class="body-disabled pl-2 float-left">{{file.size}}
                    <span class="d-md-none">K</span>
                    <span class="d-none d-md-inline-block">KB</span>
                  </span>
                  <span class="body black text-decoration-underline float-right cursor" (click)="remove(file.name,i)">Remove</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-padding padding-bottom-small-xs padding-bottom-small-sm ">
              <div class = "col-12 col-md-8 offset-md-2 text-center">
            <div class="col-12 col-md-6 float-md-left pl-0 p-r-0-sm p-r-0-xs padding-top-small-xs padding-top-small-sm">
              <button appButtonripple class="SecondaryCTA full-btn-width full-btn-width float-md-right float-lg-right float-xl-right" (click)="file.click()" *ngIf="!addNewFile">Choose file
                to upload</button>
              <button appButtonripple class="SecondaryCTA full-btn-width full-btn-width float-md-right float-lg-right float-xl-right" (click)="file.click()" *ngIf="addNewFile">Add another
                file
              </button>
              <input type="file" #file multiple="true" (change)="onFileSelected($event)" class="d-none" />
            </div>
            <!--<div class="col-md-8 offset-md-2 text-center d-none d-md-block" (drop)="drop($event)" (dragover)="allowDrop($event)">
              <div class="dotted-mageta-border padding-vertical-small" [ngClass]="{'border-F41A8A': dragArea}">
                <img src="assets/img/file-upload@3x.png" class="file-upload">
                <div class="col-md-12 padding-top-xsmall">
                  <div>Drag and drop any .bmp, .gif, .jpg, .png, or .pdf here</div>
                  <div>or
                    <span class="text-decoration-underline black cursor" (click)="link.click()">browse your files</span>
                    <input type="file" multiple="true" #link (change)="onFileSelected($event)" class="d-none" />
                  </div>
                </div>
              </div>
            </div>-->
            <div class="col-12 col-md-6 pr-0 p-l-0-xs p-l-0-sm float-md-right padding-top-xsmall-xs padding-top-xsmall-sm text-center">
              <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" disabled *ngIf="selectedFiles.length === 0 && errors.length === 0">Submit
                documentation
              </button>
              <button appButtonripple class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" *ngIf="selectedFiles.length > 0 || errors.length > 0" #container
                (click)="delaySubmit(selectedFiles, errors)">Submit documentation</button>
            </div>
            </div>
            <div class="col-12 padding-top-large padding-bottom-xxl">
              <div class="col-md-6 offset-md-3 text-center padding-bottom-large legal">
                By clicking “Submit documentation” you are agreeing to the <a class="black text-decoration-underline no-wrap" routerLink="/fidTermsAndCondition">Terms
                  & Conditions.</a>
              </div>
              <div class="col-md-6 offset-md-3 text-center padding-bottom-small legal">
                For additional help, visit our <a class="black text-decoration-underline no-wrap" routerLink="#">Frequently Asked
                  Questions.
                </a>
              </div>
            </div>
          </div>
          <!-- Upload doc ends -->
          <!-- Exceeded file size & upload failed modal starts -->
          <div class="dialog-container">
            <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':errorModal}">
              <div class="row no-margin">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center Display3 d-md-none">
                  {{errorModalTitle}}
                </div>
                <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center Display4 d-none d-md-block">
                  {{errorModalTitle}}
                </div>
                <div class="col-10 offset-1 body text-center padding-top-small" [ngClass]="{'no-padding px-md-3':exceededSize}">
                  {{errorModalContent}}
                </div>
                <div class="col-12 padding-top-medium no-padding">
                  <button class="PrimaryCTA-accent pull-right margin-left-xxsmall ml-2" appButtonripple (click)="close()">Try again
                  </button>
                </div>
              </div>
            </div>
            <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':errorModal,'overlay-out':!errorModal}"></div>
          </div>
          <!-- Exceeded file size & upload failed modal starts -->
        </div>
      </div>