@import "src/assets/scss/global-variables.scss";
.TMO-STYLEGUIDE-USAGE-OVERVIEW{

    @media #{$tablets-md},#{$desktops-xl},#{$desktops-lg}{
    .width-md-220{
        width:220px;
      }
    }

    @media #{$smartphones-xs}{
        .no-scroll-xs {
            overflow-x: hidden !important
        }
    }

    
}