<div class="TMO-STYLEGUIDE-USAGE-OVERVIEW">
  <div class="container">
    <div class="row">
      <div class="col-12 Display3 text-center padding-bottom-medium padding-top-xl no-padding">Usage overview</div>
        <div class="col-12 col-md-8 offset-md-2 d-flex no-padding">
          <div class="col-3 col-md-3 text-center cursor" *ngFor="let month of monthArray,let i=index"
            (click)="clickFun(i,'firstTab')">
            <p class="m-0 pb-3" [ngClass]="{'border-magenta':month.monthTabCheck,'border-gray':!month.monthTabCheck}">
              <a>{{month.name}}</a>
            </p>
          </div>
        </div>
      <div class="col-12 text-center padding-vertical-medium">
        <p class="body m-0">{{monDetail}}</p>
      </div>
      <div class="col-12 no-padding-xs no-scroll-xs padding-bottom-medium">
        <main class="d-table d-md-flex justify-content-md-center">
          <div class="d-table-cell d-md-block text-center pl-2 pr-2 pl-md-0 pr-md-0" *ngFor="let data of dataArray,let j = index">
            <input id='tab{{j}}{{j}}' type="radio" name="tabs" class="d-none" (click)="clickFun(j,'secondTab')">
            <label for='tab{{j}}{{j}}' class="width-md-220 mr-4 ml-0 body pb-2 text-center cursor full-width" [ngClass]="{'black border-magenta body-bold':data.dataTabCheck}">{{data.tabTitle}}</label>
          </div>
        </main>
          <div class=" d-md-flex justify-content-md-center" *ngFor="let data of dataArray,let j = index">
            <div class="col-12 no-padding tab-content" *ngIf="j==0 && data.dataTabCheck" id='content{{j}}{{j}}'>
              <div *ngFor="let catagoryArray of  catagoryArray; let k = index">
                <app-usage-details-blade [UsageData]='usageData1' [category]="catagoryArray.category" [measure]="catagoryArray.measure" (movedetailspage)="movedetailspage($event)"
                  [unit]="catagoryArray.unit"></app-usage-details-blade>
              </div>
            </div>
            <div class="col-12 no-padding tab-content" *ngIf="j!=0 && data.dataTabCheck" id='content{{j}}{{j}}'>
              <app-usage-details-by-line-blade [UsageData]='usageData1' (movedetailspage)="movedetailspage($event)"></app-usage-details-by-line-blade>
            </div>
          </div>
      </div>    
    </div>
  
  </div>
</div>