<div id="TMO-STYLEGUIDE-FILTERS-REUSABLE">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between pt-5 pb-3" id="mainDiv">
          <div class="col-md-8 col-lg-8 d-flex pr-0 pl-0 align-items-center justify-content-start" *ngIf="!mobileView">
            <span class="pr-2 black d-flex align-items-center pr-md-1 pr-xl-2 pr-lg-2 text-bold">Filter by</span>
            <div *ngFor="let val of filterKeys;let i = index">
              <div class="d-flex borderClass align-items-center cursor" id="{{val}}TitleDiv" (click)="closeDiv(i)">
                <span class="titleClass" id="{{val}}TitleDiv">{{val}}</span>
                <span class="cursor ml-1" id="{{val}}TitleDiv" [ngClass]="{'arrow-down arrowdown_rotation':!this.showFilterValues[i], 'arrow-up arrowup_rotation':this.showFilterValues[i]}"></span>
              </div>
            </div>
  
            <span class="brand-magenta pl-3 pr-3 cursor text-bold" (click)="resetFunc()" *ngIf="!mobileView">Reset</span>
          </div>
          <div class="col-5 black d-flex align-items-center pr-0 pl-0" *ngIf="mobileView">
            <a (click)="showMobileDivFunc()" class="pr-2 legal-bold">Filter</a>
            <span class="countedValSpan" [ngClass]="{'legal-bold': mobileView}" *ngIf="selectedValArray.length > 0">{{countedVal}} Selected</span>
            <span class="countedValSpan" [ngClass]="{'legal-bold': mobileView}" *ngIf="selectedValArray.length === 0">None</span>
          </div>
          <div class="col-7 col-md-6 col-lg-4 d-flex align-items-center pull-right justify-content-end  pr-0 pl-0">
            <span class="black pr-2 pr-sm-3 pr-md-3 pr-xl-3 pr-lg-3 text-bold" [ngClass]="{'legal-bold': mobileView}">Sort <span *ngIf="!mobileView">by</span></span>
            <div class="col-10 col-md-8 col-lg-7 no-padding">
                <div tabindex=0 class=" dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none" (callBackValue)='handleLine($event)'>
                  <div id="model" class="dropdown-toggle ">
                    <span class="pt-md-1" ng-model="selectedLine" [ngClass]="{'legal-bold': mobileView}">{{selectedLine}}</span>
                    <span class="arrow-down pull-right mt-md-2 mt-1 mt-lg-1 mt-xl-1"></span>
                  </div>
                  <ul class="dropdown-menu " role="menu" aria-labelledby="model">
                    <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let key of sortKeys" [ngClass]="{'active':key === selectedLine}"
                      (click)="select(key)">
                      <a> {{key}} </a>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="dynamicDiv text-left d-flex flex-wrap padding-horizontal-small"></div>
      </div>
      <div class="row col-12" id="filterDiv">
          <div class="divShadow1" id="{{val}}Div" [hidden]="!this.showFilterValues[j] || !showMobileDiv || !mobileView" 
              [ngClass]="{'d-table': this.showFilterValues[j] && !mobileView,'d-none': !this.showFilterValues[j] && mobileView && !showMoreVar}" 
              *ngFor="let val of filterKeys; let j = index">
            <div class="col-12 checkboxDiv no-padding" [hidden]="filterKeys[j] != 'Color'" [ngClass]="{'d-inline-block': filterKeys[j] === 'Manufacture', 'd-flex' : filterKeys[j] != 'Manufacture' }">
              <ul class="p-0 d-contents" [hidden]="filterKeys[j] != 'Manufacture'">
                <div class=" text-left" *ngFor="let name of filterMainData | filterUnique : 'Manufacture'; let i = index">
                  <li class="d-inline-flex" *ngIf="i < 13 || showMoreVar">
                    <div class="checkbox pt-1">
                      <label for="{{name.Manufacture}}">
                        <input type="checkbox" (change)="checkFunc($event,val)" id="{{name.Manufacture}}" class="{{filterKeys[j]}}">
                        <div class="indicator">
                          <span class="check1"></span>
                        </div>
                      </label>
                    </div>
                    <p class="pl-3">{{name.Manufacture}}</p>
                  </li>
                  <li class="d-inline-flex" *ngIf="i == 13 && this.showFilterValues[j]">
                    <a *ngIf="!showMoreVar" (click)="showMoreFunc()">
                      <p class="pt-2 pb-2 no-padding body brand-magenta text-left cursor" id="{{filterKeys[j]}}showMoreDiv">+ Show 25 more</p>
                    </a>
                  </li>
                </div>
              </ul>
              <ul class="p-0 d-contents" *ngIf="filterKeys[j] === 'Condition'">
                <div class=" text-left" *ngFor="let name of filterMainData | filterUnique : 'Condition'">
                  <li class="d-inline-flex">
                    <div class="checkbox pt-1">
                      <label for="{{name.Condition}}">
                        <input type="checkbox" (change)="checkFunc($event,val)" id="{{name.Condition}}" class="{{filterKeys[j]}}">
                        <div class="indicator">
                          <span class="check1"></span>
                        </div>
                      </label>
                    </div>
                    <p class="pl-3">{{name.Condition}}</p>
                  </li>
                </div>
              </ul>
              <ul class="p-0 d-contents" *ngIf="filterKeys[j] === 'Review'">
                <div class=" text-left" *ngFor="let name of filterMainData | filterUnique : 'Review'; let i = index">
                  <li class="d-inline-flex">
                    <div class="checkbox pt-1">
                      <label for="{{name.Review}}">
                        <input type="checkbox" (change)="checkFunc($event,val)" id="{{name.Review}}" class="{{filterKeys[j]}}">
                        <div class="indicator">
                          <span class="check1"></span>
                        </div>
                      </label>
                    </div>
                    <p class="text-left body-bold">
                      <span class="text-center body" *ngFor="let stars of arrayFunc(returnVal)[i]">
                        <span [innerHTML]="stars"></span>
                      </span>
                    </p>
                  </li>
                </div>
              </ul>
            </div>
            <div class="col-12 d-inline-block" *ngIf="filterKeys[j] === 'Color'">
              <div class="col-12 d-inline-flex flex-wrap pb-3 no-padding">
                <div class=" text-left " *ngFor="let name of filterMainData | filterUnique : 'Color'">
                  <p class="{{filterKeys[j]}}" id="{{filterKeys[j]}}Div" (click)="checkFunc($event,val)">
                      <span class="text-center body m-2 colorBox" [style.backgroundColor]="name.Color"></span>
                    </p>
                </div>
              </div>
            </div>
            <div class="col-12 text-right no-padding">
              <button class="SecondaryCTA-accent blackCTA" (click)="clearAllFunc($event)">Clear All</button>
              <button class="PrimaryCTA-accent ml-2" (click)="applyFunc($event)">Apply</button>
            </div>
          </div>
      </div>
      <!--- For Mobile View -->
      <div class="container row divShadow1" [hidden]="!showMobileDiv || !mobileView">
        <div class="d-flex col-12 no-padding pb-3 pt-4 align-items-center">
          <span class="col-1 text-left no-padding cursor">
            <i class="arrow-left-gray60 d-inline-block" (click)="showMobileDivFunc()"></i>
          </span>
          <p class="col-9 Display4 text-center no-padding Display4">Filter</p>
          <p class="col-2 text-right brand-magenta no-padding cursor text-bold">
            <span (click)="resetFunc()">Reset</span>
          </p>
        </div>
  
        <div *ngFor="let val of filterKeys; let i = index">
          <p class="Display5 titleClass text-left pt-4 pb-4" *ngIf="!showFilterValues[i]">{{filterKeys[i]}}</p>
          <div class="col-12 checkboxDiv no-padding" *ngIf="filterKeys[i] != 'Color'" [ngClass]="{'d-inline-block': filterKeys[i] === 'Manufacture', 'd-flex' : filterKeys[i] != 'Manufacture' }">
            <ul class="p-0 d-contents" *ngIf="filterKeys[i] === 'Manufacture'">
              <div class=" text-left" *ngFor="let name of filterMainData | filterUnique : 'Manufacture'; let i = index">
                <li class="d-inline-flex" *ngIf="i < 13 || showMoreVar">
                  <div class="checkbox pt-1">
                    <label for="{{name.Manufacture}}">
                      <input type="checkbox" (change)="checkFunc($event,val)" id="{{name.Manufacture}}" class="{{filterKeys[i]}}">
                      <div class="indicator">
                        <span class="check1"></span>
                      </div>
                    </label>
                  </div>
                  <p class="pl-3">{{name.Manufacture}}</p>
                </li>
                <li class="d-inline-flex" *ngIf="i == 13 && showMobileDiv">
                  <a *ngIf="!showMoreVar" (click)="showMoreFunc()">
                    <p class="pt-2 pb-2 no-padding body brand-magenta text-left cursor" id="{{filterKeys[i]}}showMoreDiv">+ Show 25 more</p>
                  </a>
                </li>
              </div>
            </ul>
            <ul class="p-0 d-contents" *ngIf="filterKeys[i] === 'Condition'">
              <div class=" text-left" *ngFor="let name of filterMainData | filterUnique : 'Condition'">
                <li class="d-inline-flex">
                  <div class="checkbox pt-1">
                    <label for="{{name.Condition}}">
                      <input type="checkbox" (change)="checkFunc($event,val)" id="{{name.Condition}}" class="{{filterKeys[i]}}">
                      <div class="indicator">
                        <span class="check1"></span>
                      </div>
                    </label>
                  </div>
                  <p class="pl-3">{{name.Condition}}</p>
                </li>
              </div>
            </ul>
            <ul class="p-0 d-contents" *ngIf="filterKeys[i] === 'Review'">
              <div class=" text-left" *ngFor="let name of filterMainData | filterUnique : 'Review'; let i = index">
                <li class="d-inline-flex">
                  <div class="checkbox pt-1">
                    <label for="{{name.Review}}">
                      <input type="checkbox" (change)="checkFunc($event,val)" id="{{name.Review}}" class="{{filterKeys[i]}}">
                      <div class="indicator">
                        <span class="check1"></span>
                      </div>
                    </label>
                  </div>
                  <p class="text-left body-bold">
                    <span class="text-center body" *ngFor="let stars of arrayFunc(returnVal)[i]">
                      <span [innerHTML]="stars"></span>
                    </span>
                  </p>
                </li>
              </div>
            </ul>
          </div>
          <div class="col-12 d-inline-block" *ngIf="filterKeys[i] === 'Color'">
            <div class="col-12 d-inline-flex flex-wrap pb-3 no-padding">
              <div class=" text-left " *ngFor="let name of filterMainData | filterUnique : 'Color'">
                <p class="{{filterKeys[i]}}" id="{{filterKeys[i]}}Div" (click)="checkFunc($event,val)">
                  <span class="text-center body m-2 colorBox" [style.backgroundColor]="name.Color"></span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 no-padding" *ngIf="!showFilterValues[i]">
            <hr class="full-bleed-divider m-0">
          </div>
        </div>
        <div class="col-12 pt-4 pb-3">
          <button class="PrimaryCTA width-100" (click)="applyFunc($event)">Apply Filters</button>
        </div>
      </div>
    </div>