@import "src/assets/scss/global-variables.scss";
#TMO-STYLEGUIDE-FILTERS-REUSABLE{
    
    .divShadow1{
        box-shadow: 0 7px 15px 5px rgba(0, 0, 0, 0.18) !important;
        padding: 24px;
        background: white;
        position: absolute;
        z-index: 10;
        display:block;
        top: -15px;
        @media #{$smartphones-xs},#{$smartphones-sm},#{$tablets-md}{
            top: 0px;
            width: 100%;
            box-shadow: none !important;
            &:hover{
                box-shadow: none !important;
            }
        }
    }
    .borderClass{
        border: 1px solid lightgrey;
        padding: 8px;
    }
    .dropdown{
        padding: 8px;
        border: 1px solid lightgrey;
        @media #{$smartphones-xs},#{$smartphones-sm}{
            padding: 4px;
        }
    }
    .dropdown-toggle{
        outline: none;
        border-bottom: none;
        text-align: center;
    }
    .dropdown-toggle .arrow-down {
        width: 16px;
        height: 16px;
    }
    .legal-bold{
        @media #{$tablets-md}{
            font-size: 1rem;
        }
    }
    
    /*.font-14{
        font-size: 16px;
        line-height: 12px;
        font-family: Arial;
        letter-spacing: 0.5px;
        font-weight: bold;
        color: #6A6A6A;
        @media #{$smartphones-xs},#{$smartphones-sm}{ 
            font-size : 12px;
        }
        @media #{$tablets-md}{ 
            font-size : 10px;
        }
    }*/
    
    .countedValSpan{
        border: 1px solid lightgrey;
        padding: 8px;
        @media #{$smartphones-xs},#{$smartphones-sm}{
            padding:3px;
        }
    }

    .overlay1 {
        background: none !important;
        z-index: 1;
    }
    .checkboxDiv{
        columns: 2;
        @media #{$desktops-xl},#{$desktops-lg}{
            columns: 5;
        }
    }
    .width-100{
        width:100%;
    }
    .padding-right-xl{
        padding-right: 32px;
    }
    .colorBox{
        width:30px; 
        height:30px;
        border:1px solid lightgrey;
        display: block;
    }
    .dropdown-menu{
        min-width: 0px !important;
    }
    .text-bold{
        font-weight: bold;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active), #{$smartphones-xxs}, #{$smartphones-xs} {
        .dropdown-menu li.dropdown-option > a{
                padding: 20px 0px;
            }
    }
}
@-moz-document url-prefix() { 
    .dropdown-menu li.dropdown-option > a{
        @media #{$smartphones-xxs},#{$smartphones-xs}{
            padding: 20px 5px;
        }
    }
}
