@import "src/assets/scss/global-variables.scss";
.TMO-ODF-CONFIRMATION {    
    .max-height-600 {
        max-height: 600px;
    }
    .PrimaryCTA{
        min-width:120px;
    }
    @media #{$smartphones-xs},
#{$smartphones-sm} {
    .main-content {
        min-height: calc(100vh - 390px);
    }
}
}
