<div class="TMO-ODF-CONFIRMATION">
    <div class="container">
        <div class = "main-content">
            <app-header></app-header>
            <div class="row padding-top-large padding-top-medium-xs">
                <div class="col-12 Display3 text-center">
                    <p class="mb-0">
                        <span tabindex="0" aria-label="One last step ...">
                            One last step ...
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  offset-md-2 padding-top-large padding-top-medium-xs text-center">
                    <p class="mb-0 H5-heading">
                        <span tabindex="0" aria-label="To finish activating, just log in to your Hulu account or create a new one.">To finish activating, just log in to your Hulu account or create a new one.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0 padding-vertical-medium">
                    <span class="legal" tabindex="0" aria-label="Lorem ipsum">Lorem ipsum</span>
                    <a class="legal-link black cursor" tabindex="0" aria-label="Terms and condition link">Terms and condition</a>
                </p>
            </div>
        </div>
        
        <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm padding-bottom-medium">
            <div class="col-12 col-md-6 padding-bottom-small padding-bottom-small-xs padding-bottom-small-sm  float-md-right pr-md-0">
                <button class="PrimaryCTA full-btn-width float-md-left float-lg-left float-xl-left" appButtonripple tabindex="0" role="button" aria-label="Go to Hulu">Go to Hulu</button>
            </div>
            <div class="col-12 col-md-6  float-md-left pl-md-0 ">
                    <button class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right" appButtonripple tabindex="0"
                      role="button" aria-label="Back to plan details"> Back to plan details</button>
                  </div>
                </div>
        </div>             
    </div>
</div>
