@import "src/assets/scss/global-variables.scss";
.TMO-TAX-AND-FEE {
     @media #{$smartphones-xs},#{$smartphones-sm} {
        .main-content {
          min-height: calc(100vh - 97px);
        }
    }
}