<div class="TMO-TAX-AND-FEE">
  <div class="container">
   
      <app-header></app-header>
      <div class="row padding-top-small">
        <div class="col-12 Display3 text-center">
          <p class="mb-0" tabindex="0" role="title" aria-label="Taxes and fees">Taxes & Fees</p>
        </div>
      </div>

      <div class="col-md-10  offset-md-1 no-padding padding-top-xsmall">
        <div class="row body" *ngFor="let item of taxItems; let i = index;">
          <div class="col-12" *ngIf="i!=0">
            <div class="inset-divider-1px"></div>
          </div>
          <div class="col-12 padding-vertical-small" tabindex="0" [attr.aria-label]="item.descTitle + '$' +item.value">
            <span class="pull-left Display6 ">{{item.descTitle}}</span>
            <span class="pull-right body ">${{item.value}}</span>
          </div>

        </div>
        <div class="row body">
          <div class="col-12">
            <div class="total-divider"></div>
          </div>
          <div class="col-12 padding-top-small Display4" tabindex="0" aria-label="total $ 1.00">
            <span class="pull-left">Total</span>
            <span class="pull-right">$1.00</span>
          </div>
        </div>
      </div>
   
    <div class="row no-margin d-block text-sm-center">
      <div class="col-12 d-inline-block padding-vertical-large padding-bottom-small-xs padding-bottom-small-sm no-padding">
        <button class="SecondaryCTA blackCTA full-btn-width" appButtonripple role="button" tabindex="0" aria-label="back"> Back</button>
      </div>
    </div>
  </div>
</div>