<div class="TMO-AUC-MESSAGES-CONFIRMATION">
  <div class="container padding-bottom-xxl">
    <div class="main-content-singlerow">
      <div class="row padding-top-medium-xs padding-top-medium-sm padding-top-large">
        <div class="col-12 col-md-10 offset-md-1">
          <p class="Display3 text-center">{{headerMessage}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 text-center padding-top-xl-xs padding-top-xl-sm padding-top-xl legal">
          <span class="" [ngClass]="{'exclamation-error-40px zoom-warning': !permConfirm, 'validated-outline-green zoom-validate':permConfirm}"></span>
        </div>
      </div>
      <div class="row padding-top-xl-xs padding-top-xl-sm padding-top-medium">
        <div class="col-12">
          <p class="H5-heading text-center" >{{infotext}}</p>
        
        </div>
      </div>
    </div>
      <div class="row no-padding  padding-top-xl" >
        <div class="col-12 text-center ">
          <div class="col-12 padding-bottom-small-xs padding-bottom-small-sm  pr-0 p-l-0-xs p-l-0-sm">
            <button class="PrimaryCTA full-btn-width" appButtonripple>{{ctatext}}</button>
          </div>
        </div>
      </div>
  </div>
</div>