<div class="TMO-REVIEW-AND-PAY-ORDER">
  <div class="container">
      <div class="main-content">
          <app-header></app-header>
          <div class="row">
            <div class="col-12 Display3 text-center padding-top-medium" role="title" tabindex="0" aria-label="Review & pay">
              Review & pay
            </div>
            <div class="col-12 col-md-10 offset-md-1 padding-top-large" (click)="detailsPayment()">
              <span class="Display6 text-center"  tabindex="0" aria-label="512 MB international data pass">
                512 MB international data pass
              </span>
              <span class="float-right">
                <span class="body padding-r-6" tabindex="0" aria-label="$5.00">$5.00</span>
                <span class="pull-right cursor arrow-down" aria-label="click for more details" (keydown.enter)="detailsPayment()" [tabindex]="showDetails ? 0 : 0" [ngClass]="{'arrow-down arrowdown_rotation':!showDetails, 'arrow-up arrowup_rotation':showDetails}"></span>
              </span>
            </div>
            <div class="col-12 col-md-10 offset-md-1 accordion-content" [ngClass]="{'content-open':showDetails}" aria-live="assertive">
              <div class="body padding-bottom-medium padding-top-small" [attr.aria-hidden]="!showDetails">
                  <span class="body" [tabindex]="showDetails ? 0 : -1" aria-label="½ GB of high-speed data, plus unlimited calling — for most travelers, this is enough for a day’s worth of navigating and staying in touch. You can buy 2 passes/line, every 24 hours; the second starts when the first ends">½ GB of high-speed data, plus unlimited calling — for most travelers, this is enough for a day’s worth of navigating and staying in touch. You can buy 2 passes/line, every 24 hours; the second starts when the first ends.
                  </span>
              </div>
            </div>
            
            <div class="col-12 col-md-10 offset-md-1 padding-top-small">
                <div *ngFor="let val of reviewordervalues1" class="p-t-25" tabindex="0" aria-label="Taxes and fees click here for more details">
              <paymentblade [title]="val.descTitle1" [titleClass]="val.font" [card]="val.value" [cardNumberClass]="val.font1" [bottomDivider]=false></paymentblade>
            </div>
            </div>
            <!--<div class="col-12 col-md-10 offset-md-1 padding-top-small d-flex">
              <div class="col-8 Display6 no-padding" tabindex="0" aria-label="Taxes & fees">
                Taxes & fees
              </div>
              <div class="col-4 no-padding">
                <div class="float-right">
                    <span class="body pr-1" tabindex="0" aria-label="$1.00">$1.00</span>
                    <span class="d-inline-block arrow-right-black-24" role="link" tabindex="0" aria-label="Click here for more info"></span>
                </div>
              </div>
            </div>-->
            <div class="col-12 col-md-10 offset-md-1">
                <div class="total-divider"></div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 padding-vertical-small d-flex">
                <div class="col-8 Display4 no-padding" tabindex="0" aria-label="Total"> 
                  Total
                </div>
                <div class="col-4 no-padding">
                  <div class="float-right">
                      <span class="Display4 pr-4" tabindex="0" aria-label="$6.00">$6.00</span>
                  </div>
                </div>
              </div>
            
                <div class="col-12 col-md-10 offset-md-1">
                  <div *ngFor="let val of reviewordervalues" class="p-t-25" tabindex="0" aria-label="Click to add payment method">
                  <paymentblade [title]="val.descTitle" [titleClass]="val.font" [card]="val.value" [cardNumberClass]="val.font1"></paymentblade>
                </div>
                </div>
              
              <!--<div class="col-12 col-md-10 offset-md-1 padding-top-small d-flex">
                    <div class="col-6 col-md-8 Display6 no-padding" tabindex="0" aria-label="Payment method">
                        Payment method
                     </div>
                    <div class="col-6 col-md-4 no-padding">
                      <div class="float-right">
                          <span class="body pr-1 m-t5" tabindex="0" aria-label="Add payment method">Add payment method</span>
                          <span class="d-inline-block arrow-right-black-24" role="link" tabindex="0" aria-label="Click here for more details"></span>
                      </div>
                    </div>
                  </div>-->
                  <div class="col-12 text-center legal padding-vertical-large padding-vertical-medium-sm padding-vertical-medium-xs">
                      <span aria-label="Customers using >50GB/mo. may have reduced speeds" tabindex="0">Customers using >50GB/mo. may have reduced speeds.</span> <span aria-label="click here to see full terms" routerLink="/" tabindex="0" class="legal-link cursor"> See full terms</span>
                  </div>
          </div>
      </div>
      <div  class="row padding-bottom-small">
          <div class="col-12 col-md-10 offset-md-1 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
            <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pl-md-3">
              <button appbuttonripple role="button" class="PrimaryCTA full-btn-width-xs float-md-left float-lg-left float-xl-left" [disabled]="!enabled" routerlink="" routerlinkactive="active" tabindex="0" role="button" aria-label="Agree & submit">Agree & submit</button>
            </div>
            <div class="col-12 col-md-6 float-md-left pr-md-3">
              <button appbuttonripple role="button" class="SecondaryCTA blackCTA float-md-right full-btn-width-xs float-lg-right float-xl-right" tabindex="0" role="button" aria-label="Cancel">Cancel</button>
            </div>
          </div>
        </div>
  </div>
</div>
