@import "src/assets/scss/global-variables.scss";
.TMO-REVIEW-AND-PAY-ORDER {
    @media #{$smartphones-xs}, #{$smartphones-sm}{
        .full-btn-width-xs {
            width: 100%;
            max-width: 100%;
        }  
        .m-t5{
            margin-top:-5px;
        }  
    }
    .legal-link:hover{
        color: #e20074;
    }
   
.padding-r-6{
    padding-right:6px;
}   
}