@import "src/assets/scss/global-variables.scss";
.TMO-AUTO-PAY-OFF-2-ERROR{
    @media #{$tablets-md},#{$desktops-xl},#{$desktops-lg} {
        .m-t-1{
            margin-top:0.1rem;
          }
        }
}