@import "src/assets/scss/global-variables.scss";
@mixin txt-styles(
    $font-family: $Arial,
    $font-size: 5px, 
    $line-height: 5px, 
    $letter-spacing: 5px, 
    $font-weight:$normal, 
    $color:$black) {
        font-size: $font-size;
        line-height: $line-height;
        font-family: $font-family;
        letter-spacing: $letter-spacing;
        font-weight: $font-weight;
        color: $color;
}

.ts-imgDim {
    width: 45px;
}

.ts-hidden {
    overflow: hidden;
}

.ts-divShadow {
    border: solid 1px #cccccc;
}

.ts-divShadow:hover {
    box-shadow: 0 0 6px 3px #cccccc;
}

.ts-margin-bottom-base{
    margin-bottom:4px;
}

@media #{$smartphones-xs},
#{$smartphones-sm} {
    .ts-main-content {
        min-height: calc(100vh - 205px);
    }
    .ts-Display3 {
        @include txt-styles($Tele-Grotesk-Ultr,
        32px,
        36px,
        -0.22px,
        $normal);
    }
    .ts-Display4 {
        @include txt-styles($Tele-Grotesk-Ultr,
        32px,
        36px,
        -0.22px,
        $normal);
    }
    .ts-Display6 {
        @include txt-styles($Tele-Grotesk-Ultr,
        24px,
        32px,
        -0.2px,
        $normal);
    }
    .ts-body {
        @include txt-styles($SFProText-Regular,
        14px,
        20px,
        0px,
        $normal,
        $gray85);
    }
    .ts-body-copy {
        @include txt-styles($SFProText-Regular,
        16px,
        24px,
        0px,
        $normal,
        $gray85);
    }
    .ts-body-bold {
        @include txt-styles($SFProText-Bold,
        14px,
        20px,
        0px,
        $bold,
        $gray85);
    }
    .ts-body-copy-bold {
        @include txt-styles($SFProText-Bold,
        16px,
        24px,
        0px,
        $bold,
        $gray85);
    }
    .ts-legal {
        @include txt-styles($SFProText-Regular,
        10px,
        12px,
        0.5px,
        $normal,
        $gray85);
    }
    .ts-no-padding-xs {
        padding-right: 0px;
        padding-left: 0px;
    }
    .ts-padding-xs {
        padding-left: 10px;
    }
    .ts-divShadow:hover {
        box-shadow: none;
    }
    
    .ts-imgDim {
        width: 40px;
    }
    .ts-p-t-16-xxs{
        padding-top:16px;
    }
    .ts-full-bleed-divider-top-xs {    
        border-top: 8px solid #f2f2f2;  
    }
    .ts-full-bleed-divider-bottom-xs{    
        border-bottom: 8px solid #f2f2f2;  
    }
    .ts-divBorder{
        border: none;
    }

}

@media #{$smartphones-xxs} {
    .ts-body {
        @include txt-styles($SFProText-Regular,
        12px,
        20px,
        0px,
        $normal,
        $gray85);
    }
    .ts-body-copy {
        @include txt-styles($SFProText-Regular,
        16px,
        24px,
        0px,
        $normal,
        $gray85);
    }
    .ts-body-bold {
        @include txt-styles($SFProText-Bold,
        12px,
        20px,
        0px,
        $bold,
        $gray85);
    }
    .ts-body-copy-bold {
        @include txt-styles($SFProText-Bold,
        16px,
        24px,
        0px,
        $bold,
        $gray85);
    }
    .ts-Display3 {
        @include txt-styles($Tele-Grotesk-Ultr,
        32px,
        30px,
        -0.33px,
        $normal);
    }
    .ts-Display6 {
        @include txt-styles($Tele-Grotesk-Ultr,
        24px,
        32px,
        -0.2px,
        $normal);
    }
    .ts-legal {
        @include txt-styles($SFProText-Regular,
        10px,
        12px,
        0.5px,
        $normal,
        $gray85);
    }
    .ts-p-t-16-xxs{
        padding-top:16px;
    }
    
}

@media #{$alldeviceexceptsmartphone} {
    .ts-body {
        @include txt-styles($SFProText-Regular,
        16px,
        24px,
        0.5px,
        $normal,
        $gray85);
    }
    .ts-body-copy {
        @include txt-styles($SFProText-Regular,
        16px,
        24px,
        0px,
        $normal,
        $gray85);
    }
    .ts-body-bold {
        @include txt-styles($SFProText-Bold,
        16px,
        24px,
        0.5px,
        $bold,
        $gray85);
    }
    .ts-body-copy-bold {
        @include txt-styles($SFProText-Bold,
        16px,
        24px,
        0px,
        $bold,
        $gray85);
    }
    .ts-legal {
        @include txt-styles($SFProText-Regular,
        10px,
        12px,
        0.5px,
        $normal,
        $gray85);
    }
    .ts-main-content {
        min-height: 0px;
    }
    .ts-Display3 {
        @include txt-styles($Tele-Grotesk-Ultr,
        56px,
        56px,
        -1.1px,
        $normal,
        $black);
    }
    .ts-Display4 {
        @include txt-styles($Tele-Grotesk-Ultr,
        40px,
        44px,
        -0.22px,
        $normal);
    }
    .ts-Display6 {
        @include txt-styles($Tele-Grotesk-Ultr,
        32px,
        36px,
        0px,
        $normal,
        $black);
    }
    .ts-return-btn {
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
    }
    .ts-d-lg-flex {
        display: flex;
      }
    
      .ts-flex-wrap {
        flex-wrap: wrap;
      }
    
      .ts-p-t-24-lg {
        padding-top: 24px;
      }
    
      .ts-p-l-0-lg {
        padding-left: 0px;
      }
      
        .ts-p-r-20-lg {
          padding-right: 20px;
        }
        
      .ts-p-r-0-lg { padding-right: 0px; }
}

@media #{$tablets-md} {
    .ts-h-fixed {
      height: 150px !important;
}
.p-r-16-md {
    padding-right: 17px;
}
}

@media #{$desktops-lg},
#{$desktops-xl} {
.ts-h-fixed {
    height: 144px !important;
}

}

.ts-full-btn-width {
    width: 100%;
}

.ts-white {
    color: $white !important;
}

.ts-justify-content-between {
    justify-content: space-between;
}

.ts-align-items-center {
    align-items: center !important;
    display: flex !important;
}

.ts-cursor-pointer {
    cursor: pointer;
}

.ts-color-green{  
    color: #078a14;
}
.ts-height-16{  
    height: 16px;
}
.ts-brand-magenta{
    color: $brand-magenta;
}    
.ts-black{
    color: $black;
} 
.ts-gray85 {
    color: $gray85;
}
.ts-letter-spacing{
    letter-spacing: 0px !important;
}
.ts-bold{
    font-weight: $bold;
}
