@import "src/assets/scss/global-variables.scss";
.TMO-JOD-POIP-PAYMENT {

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @media #{$tablets-md}{
        .Display5{
            font-size: 23px !important;
        }
    }
}
    .phone-image {
        width: 68px;
        height: 114px;
    }
    .p-l-10{
        padding-left:10px;
    }
    @media #{$tablets-md}{
        .H5-heading{
            font-size:24px;
        }
        .Display5{
            font-size: 24px;
        }
    }
    @media #{$smartphones-xs}{
        .Display3{
            font-size: 29px;
        }
    }
    .no-padding-sm{
        @media #{$smartphones-sm}{
           padding-left: 0px;
           padding-right: 0px;
        }}

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            @media #{$tablets-md},#{$desktops-lg}{
             .H5-heading{
                 font-size:20px !important;
             }
             .Display5{
                 font-size: 20px !important;
             }
            }
         }
}