<div class="TMO-JOD-POIP-PAYMENT">
  <div class="container">
    <div class="main-content">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 padding-bottom-medium padding-top-medium padding-top-large-xs padding-top-large-sm">
        <p class="Display4 d-none d-md-block text-center">Purchase option installment plan</p>
        <p class="Display3 text-center d-block d-md-none">Purchase option installment plan</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 no-padding-xs no-padding-sm">
        <div class="full-bleed-divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-md-2 offset-md-1 text-center padding-top-small">
        <img src="./assets/img/phone-image@2x.png" class="phone-image">
      </div>
      <div class="col-8 col-md-3 padding-top-small">
        <p class="Display6">{{details.name}}</p>
        <p class="legal padding-top-xsmall">{{details.phoneNo}}</p>
        <p class="body">{{details.phone}}</p>
      <div class="black padding-top-xsmall d-none d-md-inline-block">
        <div class="d-inline-block body-bold black">
          <sup class="">$</sup>
          <span class="Display5">{{details.dueMonth}}</span>
          <br>
          <span class="legal float-right pt-1 black">Due today</span>
        </div>
        <div class="d-inline-block H5-heading position-absolute">/</div>
        <div class="d-inline-block pl-4 pl-md-0 pl-lg-2  body black">
          <sup class="p-l-10">$</sup>
          <span class="H5-heading"> {{details.due9Months}}</span>
          <br>
          <span class="legal float-right pt-1 black">For 9 months</span>
        </div>
      </div>
      <div class="black padding-top-xsmall d-block d-md-none">
        <div class="d-inline-block pr-3 body-bold black">
          <sup class="">$</sup>
          <span class="Display3">{{details.dueMonth}}</span>
          <br>
          <span class="legal float-right pt-1">Due today</span>
        </div>
        <div class="d-inline-block H3-heading position-absolute pr-3">/</div>
        <div class="d-inline-block pl-4 body black">
          <sup class="">$</sup>
          <span class="H3-heading"> {{details.due9Months}}</span>
          <br>
          <span class="legal float-right pt-1">For 9 months</span>
        </div>
      </div>
    </div>
      <div class="col-12 col-md-5 padding-top-small">
        <p class="body">Your card will be charged {{details.dueMonth}} today and you will be charged {{details.due9Months}} monthly for 9 months. Your first payment will
          be billed on 07/04/2018</p>
        <p class="legal padding-top-small-xs padding-top-small-sm padding-top-xsmall">
          <span class="legal-bold">If you cancel wireless service, the remaining balance on your device becomes due.</span> 0% APR O.A.C. for well-qualified
          customers. Qualifying service required. Installment plan only available for devices active on line of T-Mobile
          service.
        </p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-small-xs padding-vertical-small-sm padding-top-medium padding-bottom-small">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1">
        <span class="body-bold pull-left black">Amount</span>
        <span class="body pull-right black">{{details.dueMonth}}</span>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-small">
        <div class="inset-divider-1px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-space-between cursor" routerLink="/jodPoipPayment" routerLinkActive="active">
        <div class="col-11 col-md-9 offset-md-1 no-padding pull-left">
          <p class="body-bold  black pl-md-1">Payment Method</p>
          <p class="body black padding-top-xsmall col-12 no-padding  d-flex align-items-center justify-content-between justify-content-sm-between justify-content-md-start">
            <span class="d-flex align-items-center"><span class="visa-icon ml-md-1"> </span><span>&nbsp;</span>
            <span class="black"> Visa Credit Card </span><span>&nbsp;</span></span>
            <span class="body"> ****2617</span>
          </p>
        </div>
        <div class="no-padding pr-0 fa-lg float-right col-1 col-md-1">
          <span class="body pull-right arrow-right"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 padding-vertical-small-xs padding-vertical-small-sm padding-top-small padding-bottom-medium">
        <div class="inset-divider-1px"></div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 padding-bottom-large">
        <p class="legal">By Clicking the “Agree and continue”, you authorize T-Mobile to change your credit card for the total amount and
          date shown.</p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-center p-l-0-xs p-r-0-xs p-l-0-sm p-r-0-sm">
        <div class="col-12 col-md-6 padding-bottom-small-xs padding-bottom-small-sm float-md-right pr-md-0">
          <button appButtonripple class="PrimaryCTA  full-btn-width float-md-left float-lg-left float-xl-left btn-wd w-100" routerlink=""
            routerlinkactive="active" tabindex="0">Agree and Continue</button>
        </div>
        <div class="col-12 col-md-6 float-md-left pl-md-0 padding-bottom-small-xs padding-bottom-small-sm padding-bottom-medium">
          <button appButtonripple class="SecondaryCTA blackCTA full-btn-width float-md-right float-lg-right float-xl-right btn-wd w-100">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>