<div class="TMO-STYLEGUIDE-LIST-STATIC-PAGE">
  <div class="container padding-bottom-large">
    <div class="col-12">
      <p class="text-center Display4  padding-vertical-xl">List- Static</p>
    </div>
    <div class="col-12 padding-bottom-small no-padding">
      <p class="H6-heading">Single Line List</p>
      <p class="H6-heading">Single Line (Avatar + Text + Icon)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <p class="body-bold  pl-4 mb-0">One-Line item</p>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <p class="body-bold  pl-4 mb-0">One-Line item</p>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx1Code = !showListEx1Code" class="legal-link"> {{showListEx1Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx1Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
              &lt;ul class="list-group"><br/>
              &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
              &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
              &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/48x48" class="rounded-circle"/><br/>
              &nbsp;&nbsp;&nbsp;&lt;p class="body-bold  pl-4 mb-0">One-Line item&lt;/p><br/>
              &nbsp;&nbsp;&lt;/div><br/>
              &nbsp;&nbsp;&lt;div class="col-1 pr-0"><br/>
              &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/25x25" class="pull-right"/><br/>
              &nbsp;&nbsp;&lt;/div><br/>
              &nbsp;&lt;/li><br/>
              &lt;ul/>
        </code>
      </div>
    </div>

    <div class="col-12 padding-bottom-small no-padding">
      <p class="H6-heading">Single Line (Avatar + Text)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <p class="body-bold  pl-4 mb-0">One-Line item</p>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <p class="body-bold  pl-4 mb-0">One-Line item</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx4Code = !showListEx4Code" class="legal-link"> {{showListEx4Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx4Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                  &lt;ul class="list-group"><br/>
                  &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
                  &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                  &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/48x48" class="rounded-circle"/><br/>
                  &nbsp;&nbsp;&nbsp;&lt;p class="body-bold  pl-4 mb-0">One-Line item&lt;/p><br/>
                  &nbsp;&nbsp;&lt;/div><br/>
                  &nbsp;&lt;/li><br/>
                  &lt;ul/>
            </code>
      </div>
    </div>

    <div class="col-12 padding-bottom-small no-padding">
      <p class="H6-heading">Single Line (Text + Icon)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <p class="body-bold  pl-0 mb-0">One-Line item</p>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <p class="body-bold  pl-0 mb-0">One-Line item</p>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx5Code = !showListEx5Code" class="legal-link"> {{showListEx5Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx5Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                      &lt;ul class="list-group"><br/>
                      &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
                      &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                      &nbsp;&nbsp;&nbsp;&lt;p class="body-bold  pl-0 mb-0">One-Line item&lt;/p><br/>
                      &nbsp;&nbsp;&lt;/div><br/>
                      &nbsp;&nbsp;&lt;div class="col-1 pr-0"><br/>
                      &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/25x25" class="pull-right"/><br/>
                      &nbsp;&nbsp;&lt;/div><br/>
                      &nbsp;&lt;/li><br/>
                      &lt;ul/>
                </code>
      </div>
    </div>

    <div class="col-12 padding-bottom-small no-padding">
      <p class="H6-heading">Single Line (Text Only)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <p class="body-bold pl-0 mb-0">One-Line item</p>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <p class="body-bold  pl-0 mb-0">One-Line item</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx6Code = !showListEx6Code" class="legal-link"> {{showListEx6Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx6Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                        &lt;ul class="list-group"><br/>
                        &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
                        &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                        &nbsp;&nbsp;&nbsp;&lt;p class="body-bold  pl-0 mb-0">One-Line item&lt;/p><br/>
                        &nbsp;&nbsp;&lt;/div><br/>
                        &nbsp;&lt;/li><br/>
                        &lt;ul/>
                  </code>
      </div>
    </div>

    <div class="col-12 padding-bottom-small no-padding">
      <p class="H6-heading">Single Line (Text Only - No Divider)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center border-bottom-0">
          <div class="col-11 no-padding d-flex align-items-center">
            <p class="body-bold pl-0 mb-0">One-Line item</p>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center border-bottom-0">
          <div class="col-11 no-padding d-flex align-items-center">
            <p class="body-bold  pl-0 mb-0">One-Line item</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx7Code = !showListEx7Code" class="legal-link"> {{showListEx7Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx7Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                          &lt;ul class="list-group"><br/>
                          &nbsp;&lt;li class="list-group-item d-flex align-items-center border-bottom-0"><br/>
                          &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                          &nbsp;&nbsp;&nbsp;&lt;p class="body-bold  pl-0 mb-0">One-Line item&lt;/p><br/>
                          &nbsp;&nbsp;&lt;/div><br/>
                          &nbsp;&lt;/li><br/>
                          &lt;ul/>
                    </code>
      </div>
    </div>

    <div class="col-12 padding-top-large padding-bottom-small no-padding">
      <p class="H6-heading">Two Line List</p>
      <p class="H6-heading mb-0">Two Line List (Avatar + Text + Icon)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-4 pl-4">
              <p class="body-bold mb-0">Two-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-4 pl-4">
              <p class="body-bold mb-0">Two-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx2Code = !showListEx2Code" class="legal-link"> {{showListEx2Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx2Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
              &lt;ul class="list-group"><br/>
              &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
              &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
              &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/48x48" class="rounded-circle"/><br/>
              &nbsp;&nbsp;&nbsp;&lt;div class="pr-4 pl-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body-bold mb-0">Two-Line item&lt;/p><br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem ipsum<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dolor sit amet, consectetur&lt;/p><br/>
              &nbsp;&nbsp;&nbsp;&lt;/div><br/>
              &nbsp;&nbsp;&lt;/div><br/>
              &nbsp;&nbsp;&lt;div class="col-1 pr-0"><br/>
              &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/25x25" class="pull-right"/><br/>
              &nbsp;&nbsp;&lt;/div><br/>
              &nbsp;&lt;/li><br/>
              &lt;ul/>
          </code>
      </div>
    </div>

    <div class="col-12 padding-top-large padding-bottom-small no-padding">
      <p class="H6-heading mb-0">Two Line List (Avatar + Text)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-4 pl-4">
              <p class="body-bold mb-0">Two-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-4 pl-4">
              <p class="body-bold mb-0">Two-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx8Code = !showListEx8Code" class="legal-link"> {{showListEx8Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx8Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                &lt;ul class="list-group"><br/>
                &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
                &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/48x48" class="rounded-circle"/><br/>
                &nbsp;&nbsp;&nbsp;&lt;div class="pr-4 pl-4"><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body-bold mb-0">Two-Line item&lt;/p><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem ipsum<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dolor sit amet, consectetur&lt;/p><br/>
                &nbsp;&nbsp;&nbsp;&lt;/div><br/>
                &nbsp;&nbsp;&lt;/div><br/>
                &nbsp;&lt;/li><br/>
                &lt;ul/>
            </code>
      </div>
    </div>

    <div class="col-12 padding-top-large padding-bottom-small no-padding">
      <p class="H6-heading mb-0">Two Line List (Text + Icon)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Two-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Two-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx9Code = !showListEx9Code" class="legal-link"> {{showListEx9Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx9Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                  &lt;ul class="list-group"><br/>
                  &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
                  &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/48x48" class="rounded-circle"/><br/>
                  &nbsp;&nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body-bold mb-0">Two-Line item&lt;/p><br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem ipsum<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dolor sit amet, consectetur&lt;/p><br/>
                  &nbsp;&nbsp;&nbsp;&lt;/div><br/>
                  &nbsp;&nbsp;&lt;/div><br/>
                  &nbsp;&nbsp;&lt;div class="col-1 pr-0"><br/>
                  &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/25x25" class="pull-right"/><br/>
                  &nbsp;&nbsp;&lt;/div><br/>
                  &nbsp;&lt;/li><br/>
                  &lt;ul/>
              </code>
      </div>
    </div>

    <div class="col-12 padding-top-large padding-bottom-small no-padding">
      <p class="H6-heading mb-0">Two Line List (Text Only)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Two-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Two-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx10Code = !showListEx10Code" class="legal-link"> {{showListEx10Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx10Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                    &lt;ul class="list-group"><br/>
                    &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
                    &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                    &nbsp;&nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body-bold mb-0">Two-Line item&lt;/p><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem ipsum<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dolor sit amet, consectetur&lt;/p><br/>
                    &nbsp;&nbsp;&nbsp;&lt;/div><br/>
                    &nbsp;&nbsp;&lt;/div><br/>
                    &nbsp;&lt;/li><br/>
                    &lt;ul/>
                </code>
      </div>
    </div>

    <div class="col-12 padding-top-large padding-bottom-small no-padding">
      <p class="H6-heading mb-0">Two Line List (Text Only - No Divider )</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center border-bottom-0">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Two-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center border-bottom-0">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Two-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx11Code = !showListEx11Code" class="legal-link"> {{showListEx11Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx11Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                      &lt;ul class="list-group"><br/>
                      &nbsp;&lt;li class="list-group-item d-flex align-items-center border-bottom-0"><br/>
                      &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                      &nbsp;&nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body-bold mb-0">Two-Line item&lt;/p><br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem ipsum<br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dolor sit amet, consectetur&lt;/p><br/>
                      &nbsp;&nbsp;&nbsp;&lt;/div><br/>
                      &nbsp;&nbsp;&lt;/div><br/>
                      &nbsp;&lt;/li><br/>
                      &lt;ul/>
        </code>
      </div>
    </div>

    <div class="col-12 padding-top-large padding-bottom-small no-padding">
      <p class="H6-heading">Three Line List</p>
      <p class="H6-heading mb-0">Three Line List (Avatar + Text + Icon)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-4 pl-4">
              <p class="body-bold mb-0">Three-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
            </div>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-4 pl-4">
              <p class="body-bold mb-0">Three-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
            </div>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx3Code = !showListEx3Code" class="legal-link"> {{showListEx3Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx3Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                &lt;ul class="list-group"><br/>
                &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
                &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/48x48" class="rounded-circle"/><br/>
                &nbsp;&nbsp;&nbsp;&lt;div class="pr-4 pl-4">
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body-bold mb-0">Three-Line item&lt;/p><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nullam id<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante.&lt;/p><br/>
                &nbsp;&nbsp;&nbsp;&lt;/div><br/>
                &nbsp;&nbsp;&lt;/div><br/>
                &nbsp;&nbsp;&lt;div class="col-1 pr-0"><br/>
                &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/25x25" class="pull-right"/><br/>
                &nbsp;&nbsp;&lt;/div><br/>
                &nbsp;&lt;/li><br/>
                &lt;ul/>
        </code>
      </div>
    </div>

    <div class="col-12 padding-top-large padding-bottom-small no-padding">
      <p class="H6-heading mb-0">Three Line List (Avatar + Text)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-4 pl-4">
              <p class="body-bold mb-0">Three-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <i class="fa fa-circle circle-style"></i>
            <div class="pr-4 pl-4">
              <p class="body-bold mb-0">Three-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx12Code = !showListEx12Code" class="legal-link"> {{showListEx12Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx12Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                  &lt;ul class="list-group"><br/>
                  &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
                  &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                  &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/48x48" class="rounded-circle"/><br/>
                  &nbsp;&nbsp;&nbsp;&lt;div class="pr-4 pl-4">
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body-bold mb-0">Three-Line item&lt;/p><br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nullam id<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante.&lt;/p><br/>
                  &nbsp;&nbsp;&nbsp;&lt;/div><br/>
                  &nbsp;&nbsp;&lt;/div><br/>
                  &nbsp;&lt;/li><br/>
                  &lt;ul/>
          </code>
      </div>
    </div>

    <div class="col-12 padding-top-large padding-bottom-small no-padding">
      <p class="H6-heading mb-0">Three Line List (Text + Icon)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Three-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
            </div>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Three-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
            </div>
          </div>
          <div class="col-1 pr-0">
            <i class="fa fa-square pull-right box-style"></i>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx13Code = !showListEx13Code" class="legal-link"> {{showListEx13Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx13Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                    &lt;ul class="list-group"><br/>
                    &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
                    &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                    &nbsp;&nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body-bold mb-0">Three-Line item&lt;/p><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nullam id<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante.&lt;/p><br/>
                    &nbsp;&nbsp;&nbsp;&lt;/div><br/>
                    &nbsp;&nbsp;&lt;/div><br/>
                    &nbsp;&nbsp;&lt;div class="col-1 pr-0"><br/>
                    &nbsp;&nbsp;&nbsp;&lt;img src="http://fpoimg.com/25x25" class="pull-right"/><br/>
                    &nbsp;&nbsp;&lt;/div><br/>
                    &nbsp;&lt;/li><br/>
                    &lt;ul/>
            </code>
      </div>
    </div>

    <div class="col-12 padding-top-large padding-bottom-small no-padding">
      <p class="H6-heading mb-0">Three Line List (Text Only)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Three-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Three-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx14Code = !showListEx14Code" class="legal-link"> {{showListEx14Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx14Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                      &lt;ul class="list-group"><br/>
                      &nbsp;&lt;li class="list-group-item d-flex align-items-center"><br/>
                      &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                      &nbsp;&nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body-bold mb-0">Three-Line item&lt;/p><br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem<br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nullam id<br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante.&lt;/p><br/>
                      &nbsp;&nbsp;&nbsp;&lt;/div><br/>
                      &nbsp;&nbsp;&lt;/div><br/>
                      &nbsp;&lt;/li><br/>
                      &lt;ul/>
              </code>
      </div>
    </div>

    <div class="col-12 padding-top-large padding-bottom-small no-padding">
      <p class="H6-heading mb-0">Three Line List (Avatar + Text Only - No Divider)</p>
    </div>
    <div class="col-12 no-padding">
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center border-bottom-0">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Three-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-center border-bottom-0">
          <div class="col-11 no-padding d-flex align-items-center">
            <div class="pr-4 pl-0">
              <p class="body-bold mb-0">Three-Line item</p>
              <p class="mb-0 body">Secondary line of regular text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id
                nibh ultricies vehicula ut id elit. Integer posuere erat a ante.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 no-padding padding-vertical-small">
      <a (click)="showListEx15Code = !showListEx15Code" class="legal-link"> {{showListEx15Code ? '- Hide Code' : '+ Show Code'}}</a>
      <div *ngIf="showListEx15Code" class="padding-top-small">
        <code class=" language-markup brand-magenta d-block border">
                        &lt;ul class="list-group"><br/>
                        &nbsp;&lt;li class="list-group-item d-flex align-items-center border-bottom-0"><br/>
                        &nbsp;&nbsp;&lt;div class="col-11 no-padding d-flex align-items-center"><br/>
                        &nbsp;&nbsp;&nbsp;&lt;div class="pr-4 pl-0"><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="body-bold mb-0">Three-Line item&lt;/p><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="mb-0 body">Secondary line of regular text lorem<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nullam id<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante.&lt;/p><br/>
                        &nbsp;&nbsp;&nbsp;&lt;/div><br/>
                        &nbsp;&nbsp;&lt;/div><br/>
                        &nbsp;&lt;/li><br/>
                        &lt;ul/>
                </code>
      </div>
    </div>

  </div>
</div>