<div class="TMO-PROFILE-BLOCKING-NEW">
  <div class="container">
    <div class="row no-margin padding-top-xl padding-top-large-xs padding-top-large-sm">
      <div class="col-12">
        <p class="Display3 text-center">Blocking</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4  offset-md-3 offset-lg-4  padding-top-large padding-top-medium-xs padding-top-medium-sm padding-bottom-xl padding-bottom-large-xs padding-bottom-large-sm no-padding">
        <p class="legal pb-1">{{subTitle}}</p>
        <div tabindex=0 class="col-12 dropdown no-padding" id="test" appDropdown dropdownid="test" x-ms-format-detection="none">
          <div id="model"  class="dropdown-toggle">
            <span class="body black" ng-model="selectedLine">{{selectedLine}}</span>
            <span class="arrow-down pull-right mt-1"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="model">
            <li role="menuitem" class="dropdown-option body mx-1">
            <li role="menuitem" class="dropdown-option mx-1 mt-1" *ngFor="let state of selectLine" [ngClass]="{'active':state.name === selectedLine}"
              (click)="select(state.name)">
              <a> {{state.name}} </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-md-10 offset-md-1 ">
        <p class="body text-center  padding-bottom-small-xs padding-bottom-small-sm  padding-bottom-medium no-padding-xs no-padding-sm">Prevent this device from receiving specific communications and downloads.</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 no-padding">
        <div class="col-12 no-padding">
          <div class="inset-divider-1px"></div>
        </div>
        <div class="col-12 d-flex py-3 py-md-4 no-padding">
          <div class="col-10 no-padding">
            <p class="Display6">Block international roaming</p>
            <p class="pt-2 pt-md-3">
              <a class="body-link" href="#">Show more</a>
            </p>
          </div>
          <div class="col-2 no-padding fa-lg">
            <span class="d-inline-block float-right">
              <label class="switch mt-1">
                <input type="checkbox">
                <span class="slider round"> </span>
              </label>
            </span>
          </div>
        </div>
        <div class="col-12 no-padding">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div class="col-12 col-md-10 offset-md-1 no-padding">
        <div class="col-12 d-flex no-padding  py-3 py-md-4">
          <div class="col-10 no-padding">
            <p class="Display6">Block charge international roaming</p>
            <p class="pt-2 pt-md-3">
              <a class="body-link" href="#">Show more</a>
            </p>
          </div>
          <div class="col-2 no-padding fa-lg">
            <span class="d-inline-block float-right">
              <label class="switch mt-1">
                <input type="checkbox" checked>
                <span class="slider round"> </span>
              </label>
            </span>
          </div>
        </div>
        <div class="col-12 no-padding">
          <div class="inset-divider-1px pb-3 pb-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>