@import "src/assets/scss/global-variables.scss";
.TMO-STYLEGUIDE-DATE-PICKER-NEW-MODAL-PAGE {
    .dialog {
        padding:0px;
       // width: 343px;
        //max-height: 457px;
        @media #{$alldeviceexceptsmartphone} {
            width: 448px;
            //max-height: 489px;
        }
    }
    .size-12px{
        width:12px;
        height:12px;
    }
    .border-1px{
        border:1px solid;
    }
    .block-width{
        background: none;
        border: 0px;
        padding: 0px;
        outline: none;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        float:left;
        @media #{$smartphones-xs}, #{$smartphones-sm} {
            margin-right: 0px;
            float: inherit;
        }
        @media #{$minismartphones-xs}{
            width: 35px;
            height: 35px;
        }
    }
    .date_focus {
        box-shadow: rgba(0,0,0,0.16) 0px 4px 6px;
        outline: $none;
        color: $white;
        text-decoration: $none;
        transform: translateY(-0.05em);
    }
    .btn-background{
        cursor: pointer;
        &:hover {    
            @extend .date_focus;
            background-color: $magenta-mid;
            border-color: $magenta-mid;            
            transition-duration: 0.2s;
        }
        &:focus, &:active::after {
            @extend .date_focus;
            background-color: $magenta-mid;
            border-color: $magenta-mid;
            transition-duration: 0.4s;
           
        }
        &:active {
            @extend .date_focus;
            background-color: $magenta-dark;
            border-color: $magenta-dark;
            transition-duration: 0.4s;
        }
    }
    .todayBlock{
        border:1px solid $brand-magenta;
        color:$brand-magenta;
        background: $none;
        box-shadow: $none; 
    }
    .dueBlock{
       background-color: $gray30;
       color: $gray60;
    }
    .btn-background.selectedBlock{
        border:1px solid $brand-magenta;
        color:$brand-magenta;
        background: $none;
        box-shadow: $none;
        &:hover {    
            @extend .date_focus;
            color: $brand-magenta;
            border-color: $magenta-mid;            
            transition-duration: 0.2s;
        }
   }
    .disabled{
        font-weight: normal;
        color:$gray60;
        cursor: none;
    }
    .bg-gray30{
        background-color: $gray30;
        border: none;
    }
    .detailsPosition{
        position: absolute;
        bottom:20px;
        }
    .fa-calendar{
        position: absolute;
        top: 30px;
        right: 1px;
    }
    .arrow-left-gray60,.arrow-right-gray60,.arrow-left-gray30,.arrow-right-gray30{
        width:24px;
        height: 24px;
        box-shadow: none;
        border: none;
        outline: none;
        padding: 0px;
    }
    .cursor-pointer{
        cursor: $pointer;
    }
   
    .dateInput{
        font-size: 14px;  
        font-family: Arial;     
        letter-spacing: 0.7px;
        line-height: 20px;
        vertical-align: middle;
        border: 0px;
        width: 100%;
        outline: none;
        border-bottom: 1pt solid #6A6A6A;
        padding: 10px 0px 4px 0px;    
    }

   
    .btm-pdng{
        padding-bottom: 6px;
        @media #{$alldeviceexceptsmartphone} {
            padding-bottom: 3px;
        }
    }
    ::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; } 
    :-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } 
    ::-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } 
    :-ms-input-placeholder { opacity: 1; -ms-transition: opacity .5s; transition: opacity .5s; }
    ::placeholder {   opacity: 1; transition: opacity .5s; }   
    
    input:focus::-webkit-input-placeholder { color:transparent; }  
    input:focus:-moz-placeholder{ color:transparent; } 
    input:focus::-moz-placeholder{ color:transparent; } 
    input:focus:-ms-input-placeholder { color:transparent; }       
/* 
    @media #{$desktops-xl},#{$desktops-lg},#{$tablets-md}{
        font-family: Arial; 
    ::placeholder{ font-size: 16px;         }
         ::-webkit-input-placeholder{ font-size: 16px;      }
         ::-moz-placeholder { font-size: 16px;         }
         :-ms-input-placeholder { font-size: 16px;         }
         :-moz-placeholder{ font-size: 16px;         }
    }
    @media #{$smartphones-sm}
    {
        font-family: Arial; 
        ::placeholder{ font-size: 14px;         }
             ::-webkit-input-placeholder{ font-size: 14px;      }
             ::-moz-placeholder { font-size: 14px;         }
             :-ms-input-placeholder { font-size: 14px;         }
             :-moz-placeholder{ font-size: 14px;         }
    }
    @media #{$smartphones-xs}
    {
        font-family: Arial; 
        ::placeholder{ font-size: 13px;         }
             ::-webkit-input-placeholder{ font-size: 13px;      }
             ::-moz-placeholder { font-size: 13px;         }
             :-ms-input-placeholder { font-size: 13px;         }
             :-moz-placeholder{ font-size: 13px;         }
    }
    @media  #{$smartphones-xxs}
    {
        font-family: Arial; 
        ::placeholder{ font-size: 12px;         }
             ::-webkit-input-placeholder{ font-size: 12px;      }
             ::-moz-placeholder { font-size: 12px;         }
             :-ms-input-placeholder { font-size: 12px;         }
             :-moz-placeholder{ font-size: 12px;         }
    } */
}