<div class="TMO-STYLEGUIDE-DATE-PICKER-NEW-MODAL-PAGE">
    <div class="container">
        <div class="row" *ngIf="column">
            <div class="col-12 no-padding text-center" *ngIf="column1">
                <div class="col-6 col-md-4 pr-0 mt-5 d-inline-block">
                    <!-- <input class="dateInput body black" type="text" name="dateofbirth" id="dateofbirth"  [(ngModel)]="selectedDateFormat" [placeholder]="isPlaceHolderRequired"> -->
                    <div class="floatingLabel textfield">
                            <input tabindex="1" type="text" id="dateofbirth" maxlength="12" 
                              class="input body black text-left mt-2 " name="dateofbirth" [(ngModel)]="selectedDateFormat"
                               required #dateofbirth="ngModel" >
                            <label for="dateofbirth" class="labelpointer body">Select date</label>
                            <div class="input-animation"></div>
                          </div>
                    <i class="fa fa-calendar cursor" aria-hidden="true" (click)="showCalendar()"></i>
                </div>
            </div>
            <div class="col-12 no-padding" *ngIf="column2">
                <!-- <input class="dateInput body black" type="text" name="dateofbirth" id="dateofbirth"   [(ngModel)]="selectedDateFormat" [disabled]="isInputDisabled" [placeholder]="isPlaceHolderRequired"> -->
                <div class="floatingLabel textfield">
                        <input tabindex="1" type="text" id="dateofbirth" maxlength="12" 
                          class="input body black text-left mt-2 " name="dateofbirth" [(ngModel)]="selectedDateFormat"
                           required #dateofbirth="ngModel" >
                        <label for="dateofbirth" class="labelpointer body">Select date</label>
                        <div class="input-animation"></div>
                      </div>
                <i class="fa fa-calendar cursor" aria-hidden="true" (click)="showCalendar()"></i>
            </div>
        </div>
        <div class="dialog-container">
            <div class="dialog animation-out modal_landscapeht" [ngClass]="{'animation-in':visible}">
                <div class="row no-margin">
                    <div class="col-12 Display3 text-center d-md-none padding-top-medium padding-horizontal-medium">{{title}}</div>
                    <div class="col-12 Display5 text-center padding-top-medium d-none d-md-block padding-horizontal-medium">{{title}}</div>
                    <div *ngIf="showSubTitle" class="col-12 body text-center padding-top-xsmall padding-horizontal-medium">
                        <div class="col-10 col-md-12 no-padding d-inline-block">{{subTitle}}</div>
                    </div>
                    <!-- Calendar logic: Begin -->
                    <div class="col-12 no-padding text-center padding-top-small padding-top-medium-md padding-horizontal-medium">
                        <button class="pull-left ml-2" [ngClass]="{'arrow-left-gray30':prevDisabled,'arrow-left-gray60':!prevDisabled,'cursor-pointer':!prevDisabled}"
                            [disabled]="prevDisabled" (click)="getPrevMonth()"></button>
                        <span class="Display4 d-inline-block d-md-none">{{monthTitle}} {{year}}</span>
                        <span class="Display6 d-none d-md-inline-block">{{monthTitle}} {{year}}</span>
                        <button class="pull-right mr-2" [ngClass]="{'arrow-right-gray30':nextDisabled,'arrow-right-gray60':!nextDisabled,'cursor-pointer':!nextDisabled}"
                            [disabled]="nextDisabled" (click)="getNextMonth()"></button>
                    </div>
                    <div class="col-12 pt-3 text-center pl-md-4 pr-md-1">
                        <button *ngFor="let day of weekDay" class="body-bold black block-width">{{day}}</button>
                    </div>
                    <div class="col-12 gray40 text-center pl-md-4 pr-md-1">
                        <div *ngFor="let dates of monthArray">
                            <span *ngIf="dates['val1']">
                                <button class="btn-background body block-width" *ngFor="let prevDate of prevDates" (click)="select(prevDate,monthTitle,year,'first')"
                                    [ngClass]="{'selectedBlock':selectEndWeeks(prevDate,monthTitle,year,'first'),'dueBlock':isDue(prevDate,monthTitle,year,'first'), 'disabled':isDisabled(prevDate,monthTitle,year,'first')}">{{prevDate}}</button>
                            </span>
                            <button class="btn-background body-bold black block-width" *ngFor="let date of dates['week']" (click)="select(date,monthTitle,year,'main')"
                                [ngClass]="{'todayBlock':isToday(date,monthTitle,year),'selectedBlock':isSelected(date,monthTitle,year),'dueBlock':isDue(date,monthTitle,year,'main'),'disabled':isDisabled(date,monthTitle,year,'main')}">{{date}}
                            </button>
                            <span *ngIf="dates['val2']">
                                <button class="btn-background body block-width" *ngFor="let nextDate of nextDates" (click)="select(nextDate,monthTitle,year,'last')"
                                    [ngClass]="{'selectedBlock':selectEndWeeks(nextDate,monthTitle,year,'last'),'dueBlock':isDue(nextDate,monthTitle,year,'last'), 'disabled':isDisabled(nextDate,monthTitle,year,'last')}">{{nextDate}}</button>
                            </span>
                        </div>
                    </div>
                    <!-- Calendar logic: End -->
                    <div class="col-12 padding-top-small padding-bottom-medium padding-horizontal-medium">
                        <div class="col-4 col-md-6 detailsPosition no-padding">
                            <div class="col-12 col-md-5 no-padding d-inline-flex">
                                <span class="brand-magenta size-12px border-1px"></span>
                                <span class="pl-2 mb-0 legal">Selected date</span>
                            </div>
                            <div class="col-12 col-md-5 no-padding d-inline-flex">
                                <span class="bg-gray30 size-12px ml-md-3"></span>
                                <span class="padding-horizontal-xsmall mb-0 legal">Due date</span>
                            </div>
                        </div>
                        <div class="col-7 col-md-6 no-padding float-right">
                            <button class="PrimaryCTA-accent float-right d-block d-md-none" appButtonripple (click)="selectedBtn()" [disabled]="btnDisable">Variable width</button>
                            <button class="PrimaryCTA-accent float-right d-none d-md-block" appButtonripple (click)="selectedBtn()" [disabled]="btnDisable">Variable width CTA</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
        </div>
    </div>
</div>