<div class="TMO-PLAN-REVIEWS-PAGE">
  <div class="row" *ngFor="let planDetails of reviewDetails;let i = index">
    <div class="col-12 col-md-10 offset-md-1 padding-top-small padding-top-medium-md padding-top-medium-lg padding-top-medium-xl">
      <div class="inset-divider-1px"></div>
    </div>
    <div class="col-12 col-md-10 offset-md-1 padding-top-small padding-bottom-small" *ngIf="planDetails.title != undefine">
      <span class="Display5 float-left">{{planDetails.title.name}}</span>
      <span class="H5-Heading float-right" [ngClass]="{'strike':!planDetails.title.applicable}">{{planDetails.title.price}}</span>
    </div>
    <div class="col-12 col-md-10 offset-md-1 padding-bottom-small" *ngIf="planDetails.subTitle != undefined">
      <span class="H5-Heading float-left">{{planDetails.subTitle.name}}</span>
      <span class="H5-Heading float-right" [ngClass]="{'strike':!planDetails.subTitle.applicable}">{{planDetails.subTitle.price}}</span>
    </div>
    <div class="col-12 col-md-10 offset-md-1" *ngFor="let data of planDetails['data'];let k = index">
      <span class="body">{{data.details}}</span>
    </div>
    <div *ngIf="i == (reviewDetails.length-1)" class="col-12  col-md-10 offset-md-1 padding-top-medium">
      <div class="total-divider"></div>
    </div>
  </div>
</div>